{{ form_start(entradaForm) }}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2 text-center form-check">
        <label class="text-primary" for="entrada_encabezado">
            Encabezado?<br/>
            {{ form_row(entradaForm.encabezado) }}
        </label>
    </div>
    <div class="col-sm-2 text-center form-check">
        <label class="text-primary" for="entrada_destacado">
            Destacado?<br/>
            {{ form_row(entradaForm.destacado) }}
        </label>
    </div>
    <div class="col-sm-2 text-center form-check">
        <label class="text-primary" for="entrada_isSinTitulo">
            Sin titulo?<br/>
            {{ form_row(entradaForm.isSinTitulo) }}
        </label>
    </div>
    <div class="col-sm-2 text-center form-check">
        <label class="text-primary" for="entrada_isPermanente">
            Es Permanente?<br/>
            {{ form_row(entradaForm.isPermanente) }}
        </label>
    </div>
    <div class="col-sm-2 text-center form-check">
        <label class="text-primary" for="entrada_publicar" class="required">
            Publicar?<br/>
            {% if entradaForm.vars.data.PublicadoAt | default %}
                {{ form_row(entradaForm.publicar, { 'attr': {'checked': 'checked'} }) }}
            {% else %}
                {{ form_row(entradaForm.publicar) }}
            {% endif %}
        </label>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="col-sm-4">
        {{ form_row(entradaForm.titulo) }}
    </div>
    <div class="col-sm-8">
        {{ form_row(entradaForm.contenido) }}
    </div>
</div>
<hr class="bg-primary"/>
<div class="row pt-3 mx-5  align-items-center">
    <div class="col-sm-3 mx-auto">
        {{ form_label(entradaForm.footer) }}
        {{ form_errors(entradaForm.footer) }}
        {{ form_help(entradaForm.footer) }}
    </div>
    <div class="col-sm-3 mx-auto center-element">
        {{ form_label(entradaForm.linkRoute) }}
        {{ form_errors(entradaForm.linkRoute) }}
        {{ form_help(entradaForm.linkRoute) }}
    </div>
    <div class="col-sm-3 mx-auto">
        {{ form_label(entradaForm.linkPosting) }}
        {{ form_errors(entradaForm.linkPosting) }}
        {{ form_help(entradaForm.linkPosting) }}
    </div>
    <div class="col-sm-2 mx-auto text-center form-check text-dark">
        <label for="entrada_isLinkExterno" class="text-primary">
            ¿Es Externo?<br/>
            {{ form_label(entradaForm.isLinkExterno) }}
            {{ form_errors(entradaForm.isLinkExterno) }}
            {{ form_help(entradaForm.isLinkExterno) }}
        </label>
    </div>
    <div class="col-sm-3 mx-auto">
        {{ form_widget(entradaForm.footer) }}
    </div>
    <div class="col-sm-3 mx-auto center-element">
        {{ form_widget(entradaForm.linkRoute) }}
    </div>
    <div class="col-sm-3 mx-auto">
        {{ form_widget(entradaForm.linkPosting) }}
    </div>
    <div class="col-sm-2 mx-auto text-center form-check text-dark">
        <label for="entrada_isLinkExterno" class="text-primary">
            {{ form_widget(entradaForm.isLinkExterno) }}
        </label>
    </div>
</div>
<hr class="bg-primary"/>
<div class="row pt-3">
    <div class="col-sm-3 mx-auto">
        {{ form_row(entradaForm.eventoAt) }}
    </div>
    <div class="col-sm-3 mx-auto">
        {{ form_row(entradaForm.disponibleAt) }}
    </div>
    <div class="col-sm-3 mx-auto">
        {{ form_row(entradaForm.disponibleHastaAt) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(entradaForm.autor) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(entradaForm.modelTemplate) }}
    </div>
    <div class="col-sm-2 mx-auto">
        {{ form_label(entradaForm.orden) }}
        {{ form_widget(entradaForm.orden) }}
        {{ form_help(entradaForm.orden) }}
        {{ form_errors(entradaForm.orden) }}
    </div>
    <div class="col-sm-2 mx-auto">
        {{ form_label(entradaForm.cssClass) }}
        {{ form_widget(entradaForm.cssClass) }}
        {{ form_help(entradaForm.cssClass) }}
        {{ form_errors(entradaForm.cssClass) }}
    </div>
    <div class="col-sm-2 mx-auto">
        {{ form_label(entradaForm.identificador) }}
        {{ form_widget(entradaForm.identificador) }}
        {{ form_help(entradaForm.identificador) }}
        {{ form_errors(entradaForm.identificador) }}
    </div>
    <div class="col-sm-3 mx-auto">
        {{ form_label(entradaForm.contacto) }}
        {{ form_widget(entradaForm.contacto) }}
        {{ form_help(entradaForm.contacto) }}
        {{ form_errors(entradaForm.contacto) }}
    </div>

    <div class="col-sm-9">
        {{ form_row(entradaForm.imageFile, {
            attr: {
                'placeholder': 'Seleccione una imagen para la entrada'
            }
        }) }}
    </div>
    <div class="col-sm-3">
        {% if entradaForm.vars.data.imageFilename | default %}
            <a href="{{ uploaded_asset(entradaForm.vars.data.imagePath) }}" target="_blank">
                <img src="{{ entradaForm.vars.data.imagePath|imagine_filter('squared_thumbnail_small') }}" height="100"
                     alt="Imagen">
            </a>

        {% endif %}
    </div>

</div>
<button class="btn btn-primary btn--pill">{{ button_label|default('Guardar') }}</button>

{{ form_end(entradaForm) }}
