{{ form_start(entradaForm) }}

{# {{ form_widget(entradaForm) }} #}
<div class="row">
    <div class="col-sm-6">
        {{ form_row(entradaForm.titulo) }}
    </div>
    <div class="col-sm-2 text-center">
        <label for="entrada_encabezado">
            Encabezado?<br/>
            {{ form_row(entradaForm.encabezado) }}
        </label>
    </div>
    <div class="col-sm-2 text-center">
        <label for="entrada_destacado">
            Destacado?<br/>
            {{ form_row(entradaForm.destacado) }}
        </label>

    </div>
    <div class="col-sm-2 text-center checkbox ">
        <label for="entrada_publicar" class="required">
            Publicar?<br/>
            {% if entradaForm.vars.data.PublicadoAt | default %}
                {{ form_row(entradaForm.publicar, { 'attr': {'checked': 'checked'} }) }}
            {% else %}
                {{ form_row(entradaForm.publicar) }}
            {% endif %}
        </label>
    </div>

    <div class="col-sm-12">
        {{ form_row(entradaForm.linkRoute) }}
        {{ form_row(entradaForm.linkPosting) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(entradaForm.autor) }}
        {{ form_row(entradaForm.eventoAt) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(entradaForm.contenido) }}
    </div>
    <div class="col-sm-9">
        {{ form_row(entradaForm.imageFile, {
            attr: {
                'placeholder': 'Seleccione una imagen para la entrada'
            }
        }) }}
    </div>
    <div class="col-sm-3">
        {% if entradaForm.vars.data.imageFilename | default %}
            <a href="{{ uploaded_asset(entradaForm.vars.data.imagePath) }}" target="_blank">
                <img src="{{ entradaForm.vars.data.imagePath|imagine_filter('squared_thumbnail_small') }}" height="100"
                     alt="Imagen">
            </a>

        {% endif %}
    </div>
</div>
<button class="btn btn-primary btn--pill">{{ button_label|default('Guardar') }}</button>

{{ form_end(entradaForm) }}
