{{ form_start(entradaForm) }}

{#    {{ form_widget(entradaForm) }}#}
<div class="row">
    <div class="col-sm-5">
        {{ form_row(entradaForm.titulo) }}
    </div>
    <div class="col-sm-5">
        {{ form_row(entradaForm.linkRoute) }}
    </div>

    <div class="col-sm-2 checkbox ">
        <label for="entrada_publicar" class="required">
            Publicar?<br/>
            {% if entradaForm.vars.data.PublicadoAt | default  %}
                {{form_row(entradaForm.publicar, { 'attr': {'checked': 'checked'} }) }}
            {% else %}
            {{form_row(entradaForm.publicar)}}
            {% endif %}
        </label>
    </div>

    <div class="col-sm-12">
        {{ form_row(entradaForm.contenido) }}
    </div>
    <div class="col-sm-9">
        {{ form_row(entradaForm.imageFile, {
            attr: {
                'placeholder': 'Seleccione una imagen para la entrada'
            }
        }) }}
    </div>
    <div class="col-sm-3">
        {% if entradaForm.vars.data.imageFilename | default  %}
            <img src="{{ uploaded_asset(entradaForm.vars.data.imagePath)|imagine_filter('squared_thumbnail_small') }}" height="100">
        {% endif %}
    </div>
</div>
    <button class="btn btn-primary btn--pill">{{ button_label|default('Guardar') }}</button>

{{ form_end(entradaForm) }}
