{% extends 'contenido_base.html.twig' %}

{% block contenido_body %}
    <a href="{{ path('admin_entrada_new') }}" class="btn btn-sm btn-primary pull-right">
        Agregar Entrada <span class="fa fa-plus-circle"></span>
    </a>
    <a href="{{ path('admin_entrada_publicadas') }}" class="btn btn-sm btn-primary pull-right">
        Ver Publicados <span class="fa fa-eye"></span>
    </a>
    <h4>
        Todas las entradas

    </h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Titulo <br/>
                    Linkroute
                </th>
                <th>Likes</th>
                <th>
                    Autor<br/>
                    email
                </th>
                <th>Creado</th>
                <th>Publicado?</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entrada in entradas %}
                <tr>
                    <td>
                        {{ entrada.titulo }}<br/>
                        {{ entrada.linkRoute }}
                    </td>
                    <td>
                        {{ entrada.likes }}
                    </td>
                    <td>
                        {{ entrada.autor }} --
                        {{ entrada.autor.email }}
                    </td>
                    <td>
                        {% if entrada.createdAt  %}
                            {{ entrada.createdAt ? entrada.createdAt | ago : 'No fue creada' }}
                        {% endif %}
                    </td>
                    <td>
                        <span class="fa fa-{{ entrada.publicadoAt ? 'check' : 'times' }}"></span><br/>
                            {{ entrada.publicadoAt ? entrada.publicadoAt | ago : 'No publicada' }}
                    </td>
                    <td>
                        <img class="article-img"
                             src="{{ entrada.imagePath|imagine_filter('squared_thumbnail_small')}}">
                        <br/>
                        {{ entrada.imageFilename }}
                    </td>
                    <td>
                        <a href="{{ path('entrada_show', {'id': entrada.id}) }}">
                            <i class="fi fi-eye"></i> Ver
                        </a>
                        <br/>
                        <a href="{{ path('admin_entrada_edit', {'id': entrada.id}) }}">
                            <i class="fi fi-page-edit"></i> Editar
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
