{% extends 'contenido_base.html.twig' %}

{% block contenido_body %}
    <a href="{{ path('admin_entrada_new') }}" class="btn btn-sm btn-primary pull-right">
        Agregar Entrada <span class="fa fa-plus-circle"></span>
    </a>
    <h4>Todas las entradas</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Publicado?</th>
                <th>Imagen</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for entrada in entradas %}
                <tr>
                    <td>{{ entrada.titulo }}</td>
                    <td>{{ entrada.autor.email }}</td>
                    <td>
                        <span class="fa fa-{{ entrada.publicadoAt ? 'check' : 'times' }}"></span>
                        {% if entrada.publicadoAt  %}
                            {{ entrada.publicadoAt | date('d-m-Y H:i') }}
                        {% endif %}
                    </td>
                    <td>
                        {{ entrada.imageFilename }}
                    </td>
                    <td>
                        <a href="{{ path('admin_entrada_edit', {'id': entrada.id}) }}">
                            <i class="fi fi-page-edit"></i> Editar
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
