{% extends 'base_admin_board.html.twig' %}
{% block title %}Admin Listado Entradas{% endblock %}
{% block nav %}
    {{ include('admin/_nav.html.twig',  {'marca_label': 'entrada'}) }}
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Entradas</h4>
            <p class="card-category">Listado </p>
        </div>
        <div class="card-body">
            <a href="{{ path('admin_entrada_new') }}" class="btn btn-sm btn-primary btn-round">
                Crear Entrada <span class="fa fa-plus-circle"></span>
            </a>
             <a class="btn btn-sm btn-info btn-round" href="{{ path('admin_entrada_new_step1') }}">
                    <i class="fas fa-hand-sparkles"></i> Asistente Crear Entrada
                </a>
            <a href="{{ path('admin_entrada_publicadas') }}" class="btn btn-sm btn-info btn-round">
                Ver Publicados <span class="fa fa-eye"></span>
            </a>
            <div class="text-center align-items-center">
        {{ knp_pagination_render(entradas) }}
    </div>
            <div class="table-responsive sticky-header  ">
                    <table class="table sticky-header" data-toggle="table">
                    <thead class=" text-primary ">
                <tr>
                    <th>
                        Titulo <br/>
                        Linkroute
                    </th>
                    <th>Sección<br/>
                        Página
                    </th>
                    <th>
                        <i class="fa fa-user-alt"></i>
                        <i class="fa fa-envelope"></i>
                    </th>
                    <th class="text-center"><i class="fa fa-calendar-alt"></i> </th>
                      <th>
                      <i class="fa fa-file-archive"></i>
                        </th>
                    <th>Imagen</th>
                    <th>
                        <i class="fa fa-cogs"> </i>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for entrada in entradas %}
                    <tr>
                        <td>
                           T: {{ entrada.titulo | replace({'<p>':'', '</p>':''}) | raw | u.truncate(20, '...') }}<br/>
                           Lr: {{ entrada.linkRoute | u.truncate(20, '...')}}
                        </td>
                        <td>
                            {% for section in entrada.sections %}
                            <a href="{{ path('admin_section_show', {'id': section.id}) }}">
                                S: {{ section }}
                                </a>
                                 <br/>
                                {% if section.indexAlamedas is defined %}
                                    {% for index in section.indexAlamedas %}
                                    <a href="{{ path('index_alameda_index') }}">
                                        i: {{ index.lema }}
                                        </a><br/>
                                    {% endfor %}
                                {% endif %}

                                {% if section.principal is defined %}
                                    {% for principal in section.principales %}
                                    <a href="{{ path('principal_show', {'id': principal.id}) }}">
                                        P: {{ principal.titulo | replace({'<p>':'', '</p>':''}) | raw | u.truncate(20, '...') }}
                                        </a> <br/>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ entrada.autor }} <br/>
                            {{ entrada.autor.email }}
                        </td>
{#                        <td>#}
{#                            {% if entrada.createdAt %}#}
{#                            <small> Creada:#}
{#                                {{ entrada.createdAt ? entrada.createdAt | ago : 'No fue creada' }}#}
{#                                </small>#}
{#                                <br/>#}
{#                            {% endif %}#}
{#                            <small>#}
{#                            Publicado?: <span class="fa fa-{{ entrada.publicadoAt ? 'check' : 'times' }}"></span><br/>#}
{#                            {{ entrada.publicadoAt ? entrada.publicadoAt | ago : 'No publicada' }}#}
{#                            </small><br/>#}

{#                                {% if entrada.updatedAt %}#}
{#                                <small> Actualizada:#}
{#                                {{ entrada.updatedAt ? entrada.updatedAt | ago : 'Aún no fue actualizada' }}#}
{#                                </small>#}
{#                          {% endif %}#}
{#                        </td>#}
                        <td class="text-center">
                        {{ entrada.isPermanente ? '<i class="fa fa-check"></i> <br/>' }}
                        {{ entrada.disponibleAt ?'Desde:'~ entrada.disponibleAt | ago : '' }}<br/>
                        {{ entrada.disponibleHastaAt ? 'Hasta:' ~ entrada.disponibleHastaAt | ago : '' }}
                        </td>
                        <td>
                            {% if (entrada.entradaReferences | length > 0)  %}
                            <i class="fa fa-check"></i>
                            {% else %}
                            <i class="fa fa-times"></i>
                            {% endif %}
                        </td>
                        <td>
                        {% if (entrada.imageFilename != null) %}
                            <img class="article-img" alt="{{ base.lema }}"
                                 src="{{ entrada.imagePath|imagine_filter('squared_thumbnail_100') }}">
                            <br/>
                            {{ entrada.imageFilename | u.truncate(20, '...') }}
                            {% else %}
                            No tiene imagen
                            {% endif %}
                        </td>
                        <td class="list-inline">
                            <a href="{{ path('entrada_show', {'id': entrada.id}) }}">
                                <i class="fa fa-eye"></i> Ver
                            </a>
                            <br/>
                            <a href="{{ path('admin_entrada_edit', {'id': entrada.id}) }}">
                                <i class="fa fa-edit"></i> Editar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <a href="{{ path('admin_entrada_new') }}" class="btn btn-sm btn-primary btn-round">
                Crear Entrada <span class="fa fa-plus-circle"></span>
            </a>
            <a href="{{ path('admin_entrada_publicadas') }}" class="btn btn-sm btn-info btn-round">
                Ver Publicados <span class="fa fa-eye"></span>
            </a>
            <div class="text-center align-items-center">
        {{ knp_pagination_render(entradas) }}
    </div>
        </div>
            {% endblock %}
{% block jslocal %}
    {{ parent() }}
    <script>
        $('#entrada').addClass('active');
    </script>
{% endblock %}