{% extends 'base_admin_board.html.twig' %}
{% block title %}
    Paso 1 - Entradas
{% endblock %}
{% block stylesheets %}
{#{{ parent() }}#}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('fonts/awesome/web-fonts-with-css/css/all.min.css') }}">
<link rel="stylesheet" href="{{ asset('bt5-softui-dash/css/soft-ui-dashboard.min.css') }}">

{{ encore_entry_link_tags('select2') }}

{% endblock %}

{% block content %}

    <h4>Asistente para crear nueva entrada - Paso 1</h4>


<div class="form-container">
    <div class="form-container">
        {{ form_start(entradaForm) }}
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(entradaForm.titulo) }}
            </div>
            <div class="col-sm-12">
                {{ form_row(entradaForm.contenido) }}
            </div>
            <div class="col-sm-12">
                {{ form_row(entradaForm.section) }}
            </div>
            <div class="col-sm-12">
                {{ form_row(entradaForm.autor) }}
            </div>

        {{ form_widget(entradaForm._token) }}

        {{ form_end(entradaForm, {'render_rest': true}) }}
            <button class="btn btn-primary btn--pill">{{ button_label|default('Guardar') }}</button>

    </div>

</div>
    <a class="btn btn-info" href="{{ path('admin_entrada_index') }}">Cancelar e ir al Listado</a>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('select2') }}
{% endblock %}
