{{ form_start(form, {'action' : path('invitado_completa', { 'id': invitado.id })}) }}
<div class="modal-header panel-info">
    <h5 class="modal-title" id="exampleModalLabel">Completa datos </h5>
</div>
<div id="reserva" class="modal-body">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title "> {{ invitado.celebracion.nombre }} </h4>
            <p class="card-category"> {{ invitado.celebracion.fechaCelebracionAt | format_date(pattern="d 'de' MMMM") }}, </p>
                       {{ form_widget(form.enlace, { 'attr': {'style': 'display: none'} }) }}
                       {{ form_widget(form.celebracion, { 'attr': {'style': 'display: none'} }) }}
        </div>
        <div class="card-body">
            <div class="col-sm-12 p-0">
                <label for="{{ form.nombre.vars.id}}" class="label text-dark">
                    <i class="fa fa-user"> </i> Nombre
                </label>
                {{ form_widget(form.nombre) }}
            </div>
            <div class="col-sm-12 p-0">
                <label for="{{ form.apellido.vars.id}}" class="label text-dark">
                    <i class="fa fa-house-user"> </i> Apellido
                </label>
                {{ form_widget(form.apellido) }}
            </div>
{#            <div class="col-sm-12 p-0">#}
{#                <label for="{{ form.dni.vars.id}}" class="label text-dark">#}
{#                    <i class="fa fa-address-card"> </i> Nro de documento#}
{#                </label>#}
{#                {{ form_widget(form.dni) }}#}
{#            </div>#}
            <div class="col-sm-12 p-0">
                <label for="{{ form.email.vars.id}}" class="label text-dark">
                    <i class="fa fa-at"> </i> Email
                </label>
                {{ form_widget(form.email) }}
            </div>
            <div class="col-sm-12 p-0">
                <label for="{{ form.telefono.vars.id}}" class="label text-dark">
                    <i class="fa fa-whatsapp"> </i> WhatsApp
                </label>
                {{ form_widget(form.telefono) }}
            </div>
            <div class="col-sm-12 p-0 text-center">
                <button class="btn btn-info">{{ button_label|default('Guardar') }}</button>
            </div>
            {{ form_widget(form._token) }}
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
{{ form_end(form, {'render_rest': false}) }}
