{% extends 'base_navidad_material_kit.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block sslocal %}
    <style>

        body, html {
            width: 100%;
            margin: 0;
            font-family: 'ArialNova', "proxima-nova", "Helvetica Neue", sans-serif !important;
        }

        .bg {
            /* The image used */
            background-image: url({{ asset('images/fondo_navidad.jpg') }});

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center center;
            background-repeat: no-repeat;
            /*background-size: cover;*/
            position: relative;
            width: 100%;
        }
    </style>

{% endblock %}

{% block sections %}
    <div class="page-header-30 header-filter mt-5" data-parallax="true"
         style="background-image: url({{ asset('images/texto_navidad.png') }})">
        <div class="container">
            <div class="row text-white">
                <div class="col-md-6">
                    <h2 class="title text-white-75">Auditorio Alameda</h2>
                </div>
            </div>
        </div>
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="col-sm-4 mx-auto text-center">
                <div class="alert alert-{{ label }} alert-dismissible">
                    {{ message }}
                </div>
                <a class="btn btn-alameda" href="{{ path('reserva_index') }}">
                    Puede reservar desde aquí
                </a>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="main main-raised mt-lg-n60 mt-sm-5 ">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-header card-header-primary">

                                <h4 class="card-title "> Consulta reserva </h4>
                                <p class="card-category"></p>
                            </div>
                            <div class="card-body">
                                {{ form_start(form) }}
                                <div class="col-sm-12 p-0">
                                    <label for="{{ form.celebracion.vars.id }}" class="label text-dark">
                                        <i class="fa fa-hands"> </i> Celebracion
                                    </label>
                                    {{ form_widget(form.celebracion) }}
                                </div>
                                <div class="col-sm-12 p-0">
                                    <label for="{{ form.email.vars.id }}" class="label text-dark">
                                        <i class="fa fa-at"> </i> Email
                                    </label>
                                    {{ form_widget(form.email) }}
                                </div>

                                <div class="col-sm-12 p-0 text-center">
                                    <button class="btn btn-info">{{ button_label|default('Buscar') }}</button>
                                </div>

                                {{ form_widget(form._token) }}
                            </div>
                            <div class="card-footer">
                                <div class="cols-sm-12 text-center">
                                    <a class="btn" href="{{ path('reserva_index') }}">
                                        Podés reservar desde aquí
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
    Formulario -Consulta
{% endblock %}
