{% extends 'base_material_kit.twig' %}

{% block title %} Reservas {{ app.request.host }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/igles.min.css') }}">
    {# <link rel="stylesheet" type="text/css" href="{{ asset('material-kit/css/material-kit.min.css') }}"> #}
    {# <link rel="stylesheet" type="text/css" href="{{ asset('vendors/bootstrap/css/bootstrap.min.css') }}"> #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>

    </style>
{% endblock %}
{% block sslocal %}
    {# <link rel="stylesheet" type="text/css" href="{{ asset('css-misc/resume.min.css') }}"> #}
    {# <link href="{{ asset('css/business-casual.css') }}" rel="stylesheet"> #}
    <link rel="stylesheet" type="text/css" href="{{ asset('css-misc/mdb.min.css') }}">

{% endblock %}



{% block sections %}

    <!-- Promo Content -->
    <div class="page-header-30 header-filter mt-5" data-parallax="true"
         style="background-image: url({{ asset('images/institucional/mix_auditorio.jpg') }})">
        <div class="container">
            <div class="row text-white">
                <div class="col-md-6">
                    <h2 class="title text-white-75">Iglesia de la Alameda</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Charlas -->
    <div class="main main-raised mt-lg-n60 mt-sm-5 ">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">

                        <h3>
                            <label class="text-alameda">
                                <u>Reservá tu asiento</u>
                            </label>
                        </h3>



                        {% if (celebraciones|length > 0) %}
                            {% for celebracion in celebraciones %}
                                <div class="col-sm-12">
                                    {% if(
                                        (capacidad_restante(celebracion.id, celebracion.capacidad) > 0) or
                                        (is_granted('ROLE_RESERVA'))
                                        ) %}
                                    <a href="{{ path('crea_reserva', { 'id': celebracion.id }) }}"
                                       class="btn btn-alameda btn-modal">
                                        {{ celebracion.fechaCelebracionAt | date('d \\d\\e M') }},
                                        {{ celebracion.nombre }}
                                    </a><br class="d-md-none" />
                                        <small class="text-dark ">
                                            {{ capacidad_restante(celebracion.id, celebracion.capacidad) }} asientos libres
                                        </small>
                                        {% else %}
                                            {{ celebracion.fechaCelebracionAt | date('d \\d\\e M') }},
                                            {{ celebracion.nombre }}
                                    <small class="text-dark ">
                                        Capacidad permitida alcanzada
                                    </small>
                                    {% endif %}

                                    <hr/>
                                </div>

                            {% endfor %}
                        {% else %}
                            No hay reservas para celebraciones activas <br/>
                            Pronto estaremos contigo.
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modalPlantillaWeb" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('material-kit/js/material-kit.min.js') }}"></script>#}
    <script src="{{ asset('stream-ui-kit/assets/vendors/jquery.parallax.js') }}"></script>
    <script type="application/javascript">
        $(function () {
            $(".btn-modal").click(function (ev) {
                ev.preventDefault();
                const target = $(this).attr("href");
                $("#modalPlantillaWeb .modal-content").load(target, function () {
                    $("#modalPlantillaWeb").modal("show");
                });
            });
        });


    </script>
{% endblock %}
