{% extends 'base_navidad_material_kit.twig' %}

{% block title %} Reservas - Index {{ app.request.host }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}

    {# <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.min.css') }}"> #}
    {# <link rel="stylesheet" type="text/css" href="{{ asset('css/igles.min.css') }}"> #}
    {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" #}
    {# integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> #}
{% endblock %}
{% block sslocal %}
    <style>

        /*body, html {*/
        /*    width: 100%;*/
        /*    margin: 80px 0 0;*/
        /*    font-family: 'ArialNova', "proxima-nova", "Helvetica Neue", sans-serif !important;*/
        /*}*/

        html {
            background: url({{ asset('images/fondo_navidad_reservas.jpg') }}) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: 'ArialNova', "proxima-nova", "Helvetica Neue", sans-serif !important;

        }


        .bg {
            /* The image used */
        {#background-image: url({{ asset('images/fondo_navidad.jpg') }});#}

            /* Full height */
            height: 100%;
            background-color: rgba(255, 255, 255, 0);

            /* Center and scale the image nicely */
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto;
            position: absolute;
            width: 100%;
        }
    </style>

{% endblock %}

{% block sections %}

    <!-- Promo Content -->
    <div class="page-header-30 header-filter mt-3" data-parallax="true"
            {# style="background-image: url({{ asset('images/cabecera_navidad.jpg') }})" #}
    >

        <div class="container">
            <div class="row text-white">
                <div class="col-md-6">
                    <h2 class="title text-white-75">Auditorio Alameda</h2><br/>
                    <h5 class="title text-white-50">Av. San Martín 2020, Mendoza</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Charlas -->
    <div class="main main-raised mt-lg-n60 mt-sm-5 ">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        {% if app.request.cookies.get('celebracion') %}
                            {% set fecha = app.request.cookies.get('celebracion')|split(':')| slice(1,2) %}
                            {% set dia = fecha[0]| replace({'"':''})~':'~fecha[1] %}
                            <div class="row">
                                <div class="col-sm-9"></div>
                                <div class="col-sm-3">
                                    <small class="text-white text-right">
                                        Hay una reserva realizada con el email:
                                        <strong> {{ app.request.cookies.get('email') | replace({'["':'','"]':'' }) }}</strong>
                                        <br/>
                                        para el día <strong> {{ dia | date('d-m-y H:i') }} hs </strong> <br/>
                                        desde este dispositivo
                                    </small>
                                </div>
                            </div>
                        {% endif %}

                        {# <h2> #}
                        {# <label class="text-alameda"> #}
                        {# <i>Las reservas para eventos presenciales estarán disponibles a partir del </i><br/> #}
                        {# <strong>1 de junio</strong> #}
                        {# </label> #}
                        {# </h2> #}

                        <h3>
                            <label class="text-alameda">
                                <u>Reservá tu asiento</u>
                                {{ "now"|date("m/d/Y  H:i") }}
                            </label>
                        </h3>
                        {% set i = 1 %}
                        <div>
                            {% set f = 0 %}
                            {% if grupos is defined %}
                            {% for celebracion in grupos %}
                            {% if celebracion.grupo != i %}
                            {% set i = celebracion.grupo %}
                        </div>
                        <div class="border shadow-blue mb-2 {{ celebracion.baseCss|default('border-alameda') }}" id="{{ i }}">
                        <div class="col-sm-12 shadow-normal">
                            <h3 class="text-14-300">
                                <i class="text-{{ celebracion.btonCss|default('alameda') }}">
                                    {{ celebracion.title }}
                                </i>
                            </h3>
                        </div>
                        {% endif %}
                        {# {% for celebracion in grupo.celebraciones %} #}
                        <div class="col-sm-12">

                            {% if(
                                (capacidad_restante(celebracion.id, celebracion.capacidad) > 0) or
                                (is_granted('ROLE_RESERVA'))
                                ) %}
                                <a href="{{ path('crea_reserva', { 'id': celebracion.id }) }}"
                                   class="btn
                                               {% if (celebracion.btonCss != '') %}
                                                btn-{{ celebracion.btonCss }}
                                                btn-round
                                               {% else %}
                                               btn-alameda
                                               {% endif %}
                                                btn-modal">
                                    {{ celebracion.fechaCelebracionAt | format_date(pattern="d 'de' MMMM") }}
                                    ,
                                    {{ celebracion.nombre }}
                                </a><br class="d-md-none"/>
                                <small class="text-white-75 ">
                                    {{ capacidad_restante(celebracion.id, celebracion.capacidad) }}
                                    asientos
                                    libres
                                </small>
                            {% else %}
                                {{ celebracion.fechaCelebracionAt | format_date(pattern="d 'de' MMMM") }},
                                {{ celebracion.nombre }}
                                <small class="text-dark ">
                                    Capacidad permitida alcanzada
                                </small>
                                {# Hasta que tengamos un server de correo #}
                                {# <a class="btn btn-sm btn-outline-warning btn-modal" #}
                                {# href="{{ path('add_to_waiting_list', {'celebracion':celebracion.id}) }}" #}
                                {# > #}
                                {# <i class="fas fa-bell"> </i> #}
                                {# Avisarme por mail si hay asientos disponibles #}
                                {# </a> #}
                                {# fin de Hasta #}
                            {% endif %}
                            <hr/>
                        </div>

                        {# {% endfor %} #}
                        {% if celebracion.grupo != i %}


                            </div>
                        {% endif %}

                        {% endfor %}
                    {% else %}
                        {% if (celebraciones|length > 0) %}
                        {% for celebracion in celebraciones %}
                        {# {{ celebracion.groupCelebrations[0] }} #}
                        <div class="col-sm-12">
                            {% if(
                                (capacidad_restante(celebracion.id, celebracion.capacidad) > 0) or
                                (is_granted('ROLE_RESERVA'))
                                ) %}
                                <a href="{{ path('crea_reserva', { 'id': celebracion.id }) }}"
                                   class="btn btn-alameda btn-modal " data-bs-toggle="modal"
                                   data-bs-target="#modalPlantillaWeb">
                                    {{ celebracion.fechaCelebracionAt | format_date(pattern="d 'de' MMMM") }}
                                    ,
                                    {{ celebracion.nombre }}
                                </a><br class="d-md-none"/>
                                <small class="text-dark ">
                                    {{ capacidad_restante(celebracion.id, celebracion.capacidad) }} asientos
                                    libres
                                </small>
                            {% else %}
                                {{ celebracion.fechaCelebracionAt | format_date(pattern="d 'de' MMMM") }},
                                {{ celebracion.nombre }}
                                <small class="text-dark ">
                                    Capacidad permitida alcanzada
                                </small>
                                {# <a class="btn btn-sm btn-outline-warning btn-modal" #}
                                {# href="{{ path('add_to_waiting_list', {'celebracion':celebracion.id}) }}" #}
                                {# > #}
                                {# <i class="fas fa-bell"> </i> #}
                                {# Avisarme por mail si hay asientos disponibles #}
                                {# </a> #}
                            {% endif %}

                            {# <hr/> #}
                            {# </div> #}

                            {% endfor %}


                            {% else %}
                                No hay reservas para celebraciones activas <br/>
                                Pronto estaremos contigo.
                            {% endif %}
                            {% endif %}


                        </div>

                        {# Habilitar para consulta de reservas #}
                        <div class="col-sm-12">
                            <a class="btn btn-info" href="{{ path('reserva_consulta') }}">
                                Consultá tu reserva
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="modalPlantillaWeb" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div id="div-cookies" style="display: none;">
        <small>
            Utilizamos cookies sólo en esta sección y es para guardar un recordatorio de la reserva que realices y
            asi asegurar una mejor experiencia al usuario. Si
            continúas utilizando este sitio asumiremos que estás de acuerdo
            <button type="button" class="btn btn-sm btn-primary" onclick="acceptCookies()">
                Acepto el uso de cookies
            </button>
        </small>
    </div>
    <style>
        #div-cookies {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            box-shadow: 0 -5px 15px gray;
            padding: 7px;
            text-align: center;
            z-index: 99;
        }
    </style>


{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('stream-ui-kit/assets/vendors/jquery.parallax.js') }}"></script>
        <script type="application/javascript">
            $(function () {
                $(".btn-modal").click(function (ev) {
                    ev.preventDefault();
                    const target = $(this).attr("href");
                    $("#modalPlantillaWeb .modal-content").load(target, function () {
                        $("#modalPlantillaWeb").modal("show");
                    });
                });
            });
        </script>
        <script>
            function checkAcceptCookies() {
                if (localStorage.acceptCookies == 'true') {
                } else {
                    $('#div-cookies').show();
                }
            }

            function acceptCookies() {
                localStorage.acceptCookies = 'true';
                $('#div-cookies').hide();
            }

            $(document).ready(function () {
                checkAcceptCookies();
            });
        </script>
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
