{% extends 'base_navidad_material_kit.twig' %}
{% block title %}
    Lectura QR Reservas
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    <style>
        #canvas {
            width: 100%;
        }

        #output {
            margin-top: 20px;
            background: #eee;
            padding: 10px;
            padding-bottom: 0;
        }

        #output div {
            padding-bottom: 10px;
            word-wrap: break-word;
        }

        #noQRFound {
            text-align: center;
        }
    </style>

{% endblock %}

{% block sections %}
    <div class="page-header-30 header-filter mt-5" data-parallax="true"
         style="background-image: url({{ asset('images/institucional/mix_auditorio.jpg') }})">
        <div class="container">
            <div class="row text-white">
                <div class="col-md-6">
                    <h2 class="title text-white-75">Iglesia de la Alameda</h2>
                    <h5 class="title text-white-50">Av. San Martín 2020, Mendoza</h5>
                </div>
            </div>
        </div>
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="col-sm-4 mx-auto text-center">
                <div class="alert alert-{{ label }} alert-dismissible">
                    {{ message }}
                </div>
                <a class="btn btn-alameda" href="{{ path('reserva_index') }}">
                    Puede reservar desde aquí
                </a>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="main main-raised mt-lg-n60 mt-sm-5 ">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title "> Lectura reserva </h4>
                                <p class="card-category"></p>
                                <br/>
{#                                <div id="qr-reader" style="width:100%"></div>#}
{#                                <div id="qr-reader-results"></div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loadingMessage">🎥 No se puede acceder a la cámara ( Por favor, asegúrese de tener una cámara web habilitada)</div>

    <canvas id="canvas" hidden></canvas>
    <div id="output" hidden>
        <div id="outputMessage">No se detectó código QR.</div>
        <div hidden><b>Data:</b> <span id="outputData"></span></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{#    <script src="{{ asset('js/html5-qrcode.min.js') }}"></script>#}
    <script src="{{ asset('js/jsQR.js') }}"></script>
{#    <script src="{{ asset('js/scanner.js') }}"></script>#}
{#    <script src="{{ asset('js/scannerQR.js') }}"></script>#}

<script>
    var video = document.createElement("video");
    var canvasElement = document.getElementById("canvas");
    var canvas = canvasElement.getContext("2d");
    var loadingMessage = document.getElementById("loadingMessage");
    var outputContainer = document.getElementById("output");
    var outputMessage = document.getElementById("outputMessage");
    var outputData = document.getElementById("outputData");

    function drawLine(begin, end, color) {
        canvas.beginPath();
        canvas.moveTo(begin.x, begin.y);
        canvas.lineTo(end.x, end.y);
        canvas.lineWidth = 4;
        canvas.strokeStyle = color;
        canvas.stroke();
    }

    // Use facingMode: environment to attemt to get the front camera on phones
    navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
        video.srcObject = stream;
        video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
        video.play();
        requestAnimationFrame(tick);
    });

    function tick() {
        loadingMessage.innerText = "⌛ cargando video..."
        if (video.readyState === video.HAVE_ENOUGH_DATA) {
            loadingMessage.hidden = true;
            canvasElement.hidden = false;
            outputContainer.hidden = false;

            canvasElement.height = video.videoHeight;
            canvasElement.width = video.videoWidth;
            canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
            var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
            var code = jsQR(imageData.data, imageData.width, imageData.height, {
                inversionAttempts: "dontInvert",
            });
            if (code) {
                drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
                drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
                drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
                drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
                outputMessage.hidden = true;
                outputData.parentElement.hidden = false;
                // outputData.innerText = code.data;
                window.location.replace(code.data);
            } else {
                outputMessage.hidden = false;
                outputData.parentElement.hidden = true;
            }
        }
        requestAnimationFrame(tick);
    }
</script>

{% endblock %}

