{% extends 'base_material_kit.twig' %}
{% block title %} Contacto  {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        img.resize {
            width: 10%; /* you can use % */
            height: auto;
        }
    </style>
{% endblock %}
{% block sslocal %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css-misc/mdb.min.css') }}">

{% endblock %}
{% block header %}
    {% include 'inicio/_nav.html.twig' %}
    <header class="masthead masthead-oportunidades">

        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <a class="btn btn-blue btn-round btn-xl js-scroll-trigger "
                       href="https://forms.gle/yMmDuFqn6mXkJ8Sb6"
                       target="_blank">
                        Completar Tarjeta de Conexión
                    </a>
                    <h1 class="text-uppercase text-realce-alameda">
                        <small class="text-black">Bienvenido a la Alameda </small><br/> ¡Nos encataría conocerte!
                    </h1>

                    <div class="d-flex col-sm-12">
                        <hr class="my-auto flex-grow-1 divider col-sm-5">
                        <img src="{{ asset('images/logo-gris-oscuro-2020.jpg') }}"
                             class="col-sm-1 img-fluid rounded-circle " alt="{{ base.siteName }}">
                        <hr class="col-sm-5 my-auto flex-grow-1">
                    </div>




                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-black-75 font-weight-light mb-5">
                        Creemos que Dios tiene un plan maravilloso para tu vida.<br/>
                        Nuestro profundo deseo es ayudarte a
                        comenzar una relación con Dios<br/>
                        y así crecer de tal manera que alcances
                        la verdadera felicidad para vos y tu hogar.<br/>
                        Estamos listos para oir tus sueños y acompañarte
                        a través de las etapas de la vida.<br/>
                        Sabemos que sos importante para Dios.<br/>
                        "Deseamos verte llenar tu vida con próposito"
                    </p>

                </div>
            </div>
        </div>
    </header>


    <hr class="m-0">
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}