<html lang="es">
<head>
    {{ redirection(principal.contenido | replace({'<p>':'', '</p>':''})| lower | raw) }}

    <title>
        {% block title %} {{ principal.titulo | replace({'<p>':'', '</p>':''})| capitalize | raw }}  {% endblock %}
    </title>
    <link href="{{ asset('material-kit/css/material-kit.css') }}?v=2.0.4" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css-misc/mdb.min.css') }}">
    <style>
        .loading {
            animation: rotation 8s  linear;
        }

        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(359deg);
            }
        }
    </style>
</head>
<body>
<header class="masthead masthead-oportunidades">

    <div class="container h-100">
        <div class="row h-50 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
            ¡{{ principal.linkRoute | replace({'-':' '}) | capitalize }}!<br/>
            Gracias por conectarte con nosotros <br/>

            Puedes hacer clic en el enlace si no eres redirigido automáticamente<br/>
            <a href="{{ principal.contenido | replace({'<p>':'', '</p>':''})| lower | raw }}">{{ principal.contenido | replace({'<p>':'', '</p>':''})| lower | raw }}</a>
            <div class="loading col-sm-12 text-center">
                <img src="{{ asset('images/logo.png') }}" class="img-fluid"
                     alt="{{ principal.titulo | replace({'<p>':'', '</p>':''})| capitalize | raw }}"/>
            </div>
        </div>
        </div>
    </div>
</header>
</body>
</html>
