{% extends 'base_material_kit.twig' %}
{% block title %} Grupos Pequeños  {% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block sslocal %}
{#    <link rel="stylesheet" type="text/css" href="{{ asset('css-misc/resume.min.css') }}">#}
{#    <link rel="stylesheet" type="text/css" href="{{ asset('css-misc/styles.min.css') }}">#}
    <link href="{{ asset('css-misc/mdb.min.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
    {% include 'inicio/_nav.html.twig' %}
    <header class="masthead masthead-oportunidades">

        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <a class="btn btn-blue btn-round btn-xl js-scroll-trigger "
                       href="https://docs.google.com/forms/d/e/1FAIpQLSfuKOBEFTWx-t_wiQR7CL8Gf443RxGeAYhP1nNETb7BSNkGuA/viewform"
                       target="_blank">
                        Sumate desde aquí
                    </a>
                    <h1 class="text-uppercase text-black-75 font-weight-bold">Grupos Pequeños <small
                                class="text-realce-alameda">Comunitarios</small></h1>
                    <hr class="divider my-4"/>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-black-75 font-weight-light mb-5">Que cada persona que llegue a la iglesia,
                        se integre, permanezca, se desarrolle y se multiplique en un Grupo Pequeño.</p>

                </div>
            </div>
        </div>
    </header>


    <hr class="m-0">
{% endblock %}
{#{% block footer %}#}
{#    {{ parent() }}#}
{#{% endblock %}#}
{% block javascripts %}
{{ parent() }}
{% endblock %}
{% block jslocal %}
{% endblock %}
