{% extends "base_material_kit.twig" %}
{% block title %}
    Seminario Liderazgo Avanzado Alameda
{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <!-- Favicon-->
    <!--<link rel="shortcut icon" href="img/fav.png">-->

    <meta property="og:title" content="Iglesia Alameda"/>
    <meta property="og:type" content="website"/>

    <meta property="og:url" content="https://www.iglesiaalameda.com/seminario.php"/>

    <meta property="og:image" content="https://www.iglesiaalameda.com/seminario/img/sem/sem_1_logo.jpeg">

    <!-- Meta Keyword -->
    <meta name="keywords" content="Seminario Liderazgo Avanzado">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->

    <!--
    CSS

    ============================================= -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="{{ asset('icons/foundation-icons.css') }}" rel="stylesheet">
    <!-- Css Propios página -->



{#    <link rel="stylesheet" href="{{ asset('css/material.light_blue-teal.min.css') }}">#}
    <!--    <link href="/css/mdb.min.css" rel="stylesheet">-->
    <!--    <link href="css/style2.css?v=--><?php //echo $version ?><!--" rel="stylesheet">-->
    <link href="{{ asset('css/igles.min.css') }}?v={{version}}" rel="stylesheet">
    <link href="{{asset('material-kit/css/material-kit.min.css')}}?v={{version}}" rel="stylesheet">
    <style>
        strong {
            font-weight: 400 !important
        }

        /*section {*/
        /*    font-family: "Poppins", sans-serif;*/
        /*}*/

        /*b, i, sup, sub, u, del {*/
        /*    color: #3f7888 !important;*/
        /*}*/
    </style>

{% endblock %}
{% block sections %}
    <section class="page-header bg-white " data-parallax="false">
        <div class="container-fluid ">
            <div class="row fullscreen align-items-center justify-content-center">
                <img class="img-fluid img-center" src="{{ asset('images/logo_3_sem.png') }}" alt="SDL">
            </div>
        </div>
    </section>

    <section id="titulo" class=" text-center wow fadeInUp bg-white pt-5 bg-white ">


        <div class="col-sm-8 section-title text-center align-self-center mx-auto">

            <h1 class="text-300  text-realce-sca">Nuestra generación necesita </h1>
            <p class="separator text-black-75 h3">de manera urgente, nuevas iglesias con la
                capacidad intacta para conectarse con la cultura, atraer multitudes,
                transformar vidas y desatar un movimiento de influencia en nuestra sociedad. <br/>
                Para esta misión el recurso mas valioso de Dios son hombres y mujeres capacitados para un liderazgo
                estratégico innovador y valiente.<br/>
                Para colaborar con Dios y servir a la próxima generación, presentamos el Seminario de Liderazgo Alameda,
                un
                espacio de entrenamiento para jóvenes líderes, pastores y plantadores de iglesias. Nuestro enfoque es en
                tres áreas específicas:</p>
        </div>


    </section>
    <section class="section bg-white p-5 mt-2" id="contenido">
        <!-- Card deck -->
        <div class="card-deck">

            <!-- Card -->
            <div class="card mb-4">

                <div class="card card-image ">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-seminario py-5 px-4">
                        <div>
                            <h2 class="card-title pt-2 ">
                                <!--                                                        <div class="feature-block">-->
                                <i class="fa fa-database fa-3x text-white" aria-hidden="true"></i>
                                <br/>
                                <span class="h2 text-white"> Conocimiento</span>
                                <br/>
                                <span class="h4 text-white">Una formación bíblico teológica de excelencia, de modo que puedan conectar la Verdad
                                    de Dios de una manera relevante con los desafíos de la cultura.</span>
                                <!--            <a href="#">read more</a>-->
                                <!--                                                        </div>-->
                            </h2>

                        </div>
                    </div>

                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">


                <div class="card card-image">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-seminario py-5 px-4">
                        <div>

                            <h2 class="card-title pt-2 ">
                                <!--                        <div class="feature-block">-->

                                <i class="fas fa-gem fa-3x text-white" aria-hidden="true"></i>
                                <br/>
                                <span class="text-white h2">Carácter</span>
                                <br/>
                                <span class="text-white h4">
                                Una especial atención al corazón,
                                <br/> proveyendo experiencias y espacios de mentoreo
                                para la formación del carácter de Cristo.


                            </span>
                                <!--            <a href="#">read more</a>-->

                                <!--                        </div>-->
                            </h2>

                        </div>
                    </div>

                </div>


            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">


                <div class="card card-image">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-seminario py-5 px-4">
                        <div>

                            <h2 class="card-title pt-2 ">
                                <!--                        <div class="feature-block">-->

                                <i class="fa fa-map fa-3x text-white" aria-hidden="true"></i>
                                <br/>
                                <span class="text-white h2">Competencia</span>
                                <br/>
                                <span class="text-white h4">Estŗategias de liderazgo innovadoras, para formar plantadores de iglesias <br/>
                                y líderes que guíen en un proceso de crecimiento <br/>
                                dinámico y saludable.

                            </span>
                                <!--            <a href="#">read more</a>-->

                                <!--                        </div>-->
                            </h2>

                        </div>
                    </div>

                </div>
            </div>
            <!-- Card -->
        </div>

    </section>
    <!-- Card deck -->


    <section id="pie" class=" text-center wow fadeInUp bg-white p-5">

        <div class="container">
            <div class="section-title text-center">


                <p class="separator text-black-75">
                    La modalidad de estudio será semipresencial. <br/>
                    Clases intensivas con pastores, líderes y profesionales de excelencia, <br/>
                    acompañadas de un proceso tutorial desde un Aula Virtual específicamente diseñada para dicho propósito.
                    <br/>
                    Si te interesa formar parte de esta iniciativa conectate con nosotros a la siguiente dirección de correo
                    <br/>


                    <a href="mailto:inscripciones@sdlalameda.com.ar">
                        inscripciones@<br class="d-lg-none"/>sdlalameda.com.ar
                    </a>

                    <br/>
                    <!--                    <i>Abel Schwab - Pastor de Discipulado y Formación</i>-->
                </p>

            </div>
        </div>


    </section>


    <section id="equipo" class=" text-center wow fadeInUp bg-white p-5">

        <div class="container">
            <div class="section-title text-center">

                <h2>Invita</h2>


            </div>
        </div>

        <div class="container">
            <div class="row align-self-center align-items-center justify-content-center">

                <div class="col-md-6">
                    <div class="team-block bottom">
                        <img src="{{ asset('images/pastores/abel-schwab.jpeg') }}" class="img-responsive rounded-circle img-fluid"
                             alt="img">
                        <div class="team-content">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="team-block bottom">
                        <!--            <img src="img/team/2.jpg" class="img-responsive" alt="img">-->
                        <div class="team-content">
                            <span>Pastor de Discipulado y Formación</span>
                            <h4><i>Abel Schwab</i></h4>
                            <span>Licenciado en Teología</span>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="mailto:inscripciones@sdlalameda.com.ar">


                                        inscripciones@<br class="d-lg-none"/>sdlalameda.com.ar
                                    </a>
                                    <p>Informes e inscripción </p>
                                </li>
                                <!--                <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                                <!--                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                            </ul>


                        </div>
                    </div>
                </div>

                <!--        <div class="col-md-6 col-md-4 col-lg-3">-->
                <!--          <div class="team-block bottom">-->
                <!--            <img src="img/team/3.jpg" class="img-responsive" alt="img">-->
                <!--            <div class="team-content">-->
                <!--              <ul class="list-unstyled">-->
                <!--                <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                <!--                <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                <!--                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                <!--              </ul>-->
                <!--              <span>manager</span>-->
                <!--              <h4>Kimberly Tran</h4>-->
                <!--            </div>-->
                <!--          </div>-->
                <!--        </div>-->

                <!--        <div class="col-md-6 col-md-4 col-lg-3">-->
                <!--          <div class="team-block bottom">-->
                <!--            <img src="img/team/4.jpg" class="img-responsive" alt="img">-->
                <!--            <div class="team-content">-->
                <!--              <ul class="list-unstyled">-->
                <!--                <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                <!--                <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                <!--                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                <!--              </ul>-->
                <!--              <span>manager</span>-->
                <!--              <h4>Kimberly Tran</h4>-->
                <!--            </div>-->
                <!--          </div>-->
                <!--        </div>-->

            </div>
        </div>
    </section>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}

 {% endblock %}



