{% extends 'base_material_kit.twig' %}

{% block title %}Enlace Corto{% endblock %}


    {% block sections %}

<main role="main" class="bg-white">


    <!-- Contact Form -->
    <section class="a-content-space-medium">
        <div class="container">
    <h1>EnlaceCorto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enlace_corto.id }}</td>
            </tr>
            <tr>
                <th>LinkRoute</th>
                <td>{{ enlace_corto.linkRoute }}</td>
            </tr>
            <tr>
                <th>UrlDestino</th>
                <td>
                    <a href="{{ enlace_corto.urlDestino }}" target="_blank">
                    {{ enlace_corto.urlDestino }}
                    </a></td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ enlace_corto.createdAt ? enlace_corto.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ enlace_corto.updatedAt ? enlace_corto.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enlace_corto_index') }}">back to list</a>

    <a href="{{ path('enlace_corto_edit', {'id': enlace_corto.id}) }}">edit</a>

    {{ include('enlace_corto/_delete_form.html.twig') }}
        </div>
    </section>
</main>
{% endblock %}
