{% extends 'base_material_kit.twig' %}


{% form_theme regristroForm _self %}



{% block title %}Ingreso {{ base.siteName }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('loginStyle') }}
    <link rel="stylesheet" href="{{ asset('css/styles.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block sections %}

    {% if app.user %}
        <div class="mb-3">
            Usted a ingresado como {{ app.user.username }}, <a href="{{ path('app_logout') }}"><i
                        class="fas fa-sign-out-alt"></i> Salir</a>
        </div>
    {% endif %}
    {% if(is_granted("ROLE_ADMIN_RESERVA")) %}

    {{ form_start(regristroForm, {
        'attr':{
            'class': 'form-signin'
        }
    }) }}
    <h1 class="h3 mb-3 font-weight-normal">Registro de Voluntarios de La Alameda </h1>

    {# {{ form_widget(regristroForm) }} #}


    {{ form_row(regristroForm.primerNombre, {
        attr: { placeholder: 'Nombre de usuario ' }
    }) }}

    <button class="btn btn-lg btn-primary" type="submit">
        Resgistrar Voluntario
    </button>




    {{ form_end(regristroForm) }}
    {% endif %}

    {# <form class="form-signin" method="post"> #}


    {# #}

    {# <h1 class="h3 mb-3 font-weight-normal">Por favor, ingrese</h1> #}
    {# <label for="inputEmail">Email</label> #}
    {# <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus> #}
    {# <label for="inputPassword">Contraseña</label> #}
    {# <input type="password" name="password" id="inputPassword" class="form-control" requerido> #}
    {# <label for="inputPrimerNombre">Nombre</label> #}
    {# <input type="text" name="primernombre" id="inputPrimerNombre" class="form-control" requerido> #}

    {# <input type="hidden" name="_csrf_token" #}
    {# value="{{ csrf_token('authenticate') }}" #}
    {# > #}

    {# #}{# #}
    {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
    {# See https://symfony.com/doc/current/security/remember_me.html #}
    {# #}
    {# <div class="checkbox mb-3"> #}
    {# <label> #}
    {# <input type="checkbox" name="_remember_me"> Acepto los términos que seguro leí (Serás parte de la comunidad virtual {{ base.siteName }}) #}
    {# </label> #}
    {# </div> #}
    {# <button class="btn btn-lg btn-primary" type="submit"> #}
    {# Resgistrar #}
    {# </button> #}
    {# </form> #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}