<div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100 bg-white" id="navigation">
    <ul class="navbar-nav navbar-nav-hover ms-auto">
        <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link" href="{{ path('principal_ver', {'linkRoute':'ofrenda'}) }}">
                DAR
            </a>
        </li>
        <li class="nav-item mx-2 mb-2 mb-lg-0">
            <a class="nav-link" href="{{ path('principal_ver', {'linkRoute':'notas'}) }}">
                NOTAS DEL MENSAJE
            </a>
        </li>
        <li class="nav-item mx-2 mb-2 mb-lg-0">
            <a class="nav-link" href="{{ path('principal_ver', {'linkRoute':'mensajes'}) }}">
                SERIES
            </a>
        </li>
        <li class="nav-item mx-2 mb-2 mb-lg-0">
            <a class="nav-link" href="{{ path('oracion') }}">
                ORACIÓN
            </a>
        </li>
        <li class="nav-item mx-2 mb-2 mb-lg-0">
            <a class="nav-link" href="{{ path('contacto') }}">
                TARJETA DE CONEXIÓN
            </a>
        </li>
        <li class="nav-item dropdown mx-2 mb-2 mb-lg-0">
            <a class="nav-link" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false"
               aria-haspopup="true">
                <i class="fas fa-angle-down"></i> MÁS
            </a>
            <div class="dropdown-menu  " aria-labelledby="navbarDropdown">
                <a class="dropdown-item " href="{{ path('avanza') }}">
                    AVANZA
                </a>
                <a class="dropdown-item" href="http://sitiosimple.com/libreria-alameda/">
                    LIBRERÍA
                </a>
            </div>
        </li>
    </ul>
    {% if is_granted('ROLE_USER') %}
        {{ include('inicio/_role_user.html.twig') }}
    {% endif %}
</div>
