<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item ml-auto mb-2 mb-lg-0">
            <a class="nav-link" href="#">
                Nuestras Opciones
            </a>
        </li>
        <li class="nav-item ml-auto mb-2 mb-lg-0">
            <a class="nav-link" href="#">
                ¿Quienes somos?
            </a>
        </li>
        <li class="nav-item mx-2 mb-2 mb-lg-0">
            <a class="nav-link" href="{{ path('principal_ver', {'linkRoute':'mensajes'}) }}">
                ¿Dónde estamos?
            </a>
        </li>

        <li class="nav-item ml-auto mb-2 mb-lg-0">
            <a class="nav-link" href="">
                Contáctanos
            </a>
        </li>
    </ul>


    {% if is_granted('ROLE_USER') %}
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown" style="margin-right: 75px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="{{ app.user.avatarUrl(30) }}"
                         class="nav-profile-img rounded-circle img-fluid img-thumbnail" alt="{{ base.siteName }}">
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive p-3 border-radius-lg mt-0 mt-lg-3"
                    aria-labelledby="navbarDropdownMenuLink">
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
                    <a class="dropdown-item" href="{{ path('app_perfil') }}">Perfil</a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('index_alameda_index') }}">Editar datos index</a>
                        {#                                <a class="dropdown-item" href="{{ path('meta_base_edit', {'id': base.id}) }}">Editar datos metabase</a> #}
                        <a class="dropdown-item" href="{{ path('app_registro') }}">Registrar Usuario</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar Sesión</a>
{#                </div>#}
                </ul>
            </li>
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div class="alert alert-warning">
                    Temporalmente
                    <a href="{{ path('index', {'_switch_user': '_exit'}) }}">Salir modo </a>
                </div>
            {% endif %}
        </ul>
    {% endif %}
</div>
