<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Left -->

    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item ml-auto mb-2 mb-lg-0">
                    <a class="nav-link" href="{{ path('reserva_consulta') }}">
                        <b>Consulta tú reserva</b>
                    </a>
                </li>

{#        <li class="nav-item ml-auto mb-2 mb-lg-0">#}
{#            <a class="nav-link" href="https://online.iglesiaalameda.com">#}

{#                <!--                            <i class="fas fa-globe"></i>-->#}
{#                En vivo!#}

{#            </a>#}
{#        </li>#}
{#        <li class="nav-item ml-auto mb-2 mb-lg-0">#}
{#            <a class="nav-link" href="{{ path('grupospequeños') }}">#}

{#                <!--                            <img class="img-fluid" src="/images/gpc-sin-texto.png" width="16" height="16">-->#}
{#                Grupos Pequeños#}

{#            </a>#}
{#        </li>#}
{#        <li class="nav-item ml-auto mb-2 mb-lg-0">#}
{#            <a class="nav-link" href="{{ path('ofrenda') }}">#}

{#                <!--                            <i class="fas fa-hand-holding"></i>-->#}
{#                Dar#}

{#            </a>#}
{#        </li>#}
{#        <li class="nav-item ml-auto mb-2 mb-lg-0">#}
{#            <a class="nav-link" href="{{ path('notas') }}">#}

{#                <!--                            <i class="fas fa-pencil-alt"></i> -->#}
{#                Notas#}

{#            </a>#}
{#        </li>#}
{#        <li class="nav-item ml-auto mb-2 mb-lg-0">#}
{#            <a class="nav-link" href="{{ path('oracion') }}">#}

{#                <!--                            <i class="fas fa-praying-hands"></i> -->#}
{#                Oración#}

{#            </a>#}
{#        </li>#}
{#        <li class="nav-item ml-auto mb-2 mb-lg-0">#}
{#            <a class="nav-link" href="{{ path('contacto') }}">#}

{#                <!--                            <i class="fas fa-file-contract"></i> -->#}
{#                Tarjeta de Conexión#}

{#            </a>#}
{#        </li>#}
{#        <li class="nav-item dropdown ml-auto mb-2 mb-lg-0">#}
{#            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
{#               aria-haspopup="true" aria-expanded="false">#}
{#                <i class="fas fa-angle-down"></i> Más#}
{#            </a>#}
{#            <div class="dropdown-menu  " aria-labelledby="navbarDropdown">#}
{#                <a class="dropdown-item " href="{{ path('avanza') }}">#}

{#                    <!--                                <i class="fas fa-road"></i> -->#}
{#                    Avanza#}

{#                </a>#}
{#                <a class="dropdown-item" href="http://sitiosimple.com/libreria-alameda/">#}

{#                    <!--                                <i class="fas fa-book-open"></i> -->#}
{#                    Librería#}

{#                </a>#}
{#            </div>#}
{#        </li>#}
    </ul>

    <!--Right -->
{#    <ul class="navbar-nav nav-flex-icons ml-auto">#}

{#        <li class="nav-item">#}
{#            <a class="nav-link" rel="tooltip" title="Seguinos en la fanpage" data-placement="bottom"#}
{#               href="https://www.facebook.com/IglesiaAlameda" target="_blank"#}
{#               data-original-title="Seguinos en la fanpage">#}
{#                <i class="fab fa-facebook-square fa-2x"></i>#}
{#            </a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" rel="tooltip" title="Reviví los mensajes" data-placement="bottom"#}
{#               href="https://youtube.com/user/IglesiaAlameda" target="_blank"#}
{#               data-original-title="Reviví los mensajes">#}
{#                <i class="fab fa-youtube-square fa-2x"></i>#}
{#            </a>#}
{#        </li>#}

{#        <li class="nav-item">#}
{#            <a class="nav-link" rel="tooltip" title="Seguinos en Instagram" data-placement="bottom"#}
{#               href="https://www.instagram.com/iglesialameda" target="_blank"#}
{#               data-original-title="Seguinos en Instagram">#}
{#                <i class="fab fa-instagram fa-2x"></i>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
    {% if is_granted('ROLE_USER') %}
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown" style="margin-right: 75px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ app.user.avatarUrl(30) }}" class="nav-profile-img rounded-circle img-fluid img-thumbnail" alt="{{ base.siteName }}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('app_perfil') }}">Perfil</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('index_alameda_index') }}">Editar datos index</a>
                        {#                                <a class="dropdown-item" href="{{ path('meta_base_edit', {'id': base.id}) }}">Editar datos metabase</a>#}
                        <a class="dropdown-item" href="{{ path('app_registro') }}">Registrar Usuario</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar Sesión</a>
                </div>
            </li>


            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div class="alert alert-warning"  >
                    Temporalemte
                    <a href="{{ path('index', {'_switch_user': '_exit'}) }}">Salir modo </a>
                </div>
            {% endif %}

        </ul>
    {% endif %}

</div>