<style>
    .dropdown-menu{
        margin-left: -100px !important;
    }
    .navbar-toggler-icon{
        color: #6cbb23 !important;
    }
</style>

<nav class="navbar navbar-expand-lg bg-white fixed-top mx-1 mb-sm-2 ArialMedium pt-2">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img class="rounded d-none d-lg-block" src="{{ asset('images/logo-ascendig.png')}}" style="width: 60px;" alt="{{ base.siteName|default('AlamedaCMS') }}">
                <img class="rounded d-lg-none" src="{{ asset('images/logo-ascendig.png')}}" style="width: 30px;" alt="{{ base.siteName|default('AlamedaCMS') }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!--        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">-->
        <!-- Brand -->


        <!-- Collapse -->


        <!-- Links -->
        {% include 'inicio/_menu.html.twig' %}

    </div>
</nav>
