<style>
    .bg-elyon{
            background-color: #3b3b3b10 !important;
    }
    .text-elyon{
        color: #3b3b3b !important;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-transparent px-0 py-1 fixed-top top-0 start-0 w-full bg-lg-transparent bg-elyon">
{#    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">#}

{#    <div class="container-xl max-w-screen-xl">#}
        <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('images/logo-con-nombre.png') }}"
                 class="w-25 d-none d-lg-block" alt="{{ base.siteName|default('AlamedaCMS') }}"/>
            <img class="rounded d-lg-none" src="{{ asset('images/logo-solo.png') }}" style="width: 35px;"
alt="{{ base.siteName|default('AlamedaCMS') }}">
        </a>
        <!-- Navbar toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        {#        <div class="collapse navbar-collapse" id="navbarCollapse"> #}
        {#            <!-- Nav --> #}
        {#            <ul class="navbar-nav mx-lg-auto"> #}
        {#                <li class="nav-item"> #}
        {#                    <a class="nav-link" href="#">Home</a> #}
        {#                </li> #}
        {#                <li class="nav-item"> #}
        {#                    <a class="nav-link" href="#">Product</a> #}
        {#                </li> #}
        {#                <li class="nav-item"> #}
        {#                    <a class="nav-link" href="#">Features</a> #}
        {#                </li> #}
        {#                <li class="nav-item"> #}
        {#                    <a class="nav-link" href="#">Pricing</a> #}
        {#                </li> #}
        {#            </ul> #}
        {#            <!-- Right navigation --> #}
        {#            <div class="navbar-nav ms-lg-4"> #}
        {#                <a class="nav-item nav-link" href="#">Sign in</a> #}
        {#            </div> #}
        {#            <!-- Action --> #}
        {#            <div class="d-flex align-items-lg-center mt-3 mt-lg-0"> #}
        {#                <a href="#" class="btn btn-sm btn-neutral w-full w-lg-auto"> #}
        {#                    Register #}
        {#                </a> #}
        {#            </div> #}
        {#        </div> #}
        {% include 'inicio/_menu.html.twig' %}
    </div>
</nav>