{% extends 'base.html.twig' %}
{% block title %} Avanza {{ base.siteName }} {% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('material-kit/css/material-kit.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendors/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <header>
        <section class="js-parallax u-promo-block u-promo-block--mheight-500 u-overlay u-overlay--dark text-dark" style="background-image: url({{ asset('build/images/contacto.png') }}); background-repeat: repeat-y ;">
            <!-- Promo Content -->
            <div class="container u-overlay__inner u-ver-center u-content-space">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="text-center">

                            <div class="site-heading p-5">
                                <img src="{{ asset('build/images/LOGO_ALAMEDA_CON_TEXTO_B.png') }}" style="max-height: 150px" class="img-fluid ">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Promo Content -->
        </section>
    </header>
    <main role="main" class="bg-white">


        <!-- Contact Form -->
        <section class="a-content-space-medium">
            <div class="container">
                <div class="text-center">
                    <a class="btn btn-primary js-scroll-trigger mx-auto btn--pill"
                       href="https://forms.gle/J2Lz4jyyN8vUa2747" target="_blank">
                        <i class="far fa-list-alt text-white"></i> Más detalles e inscripción
                    </a>
                </div>
                <header class="text-center w-md-50 mx-auto mb-8 mt-1">
                    <div class="show" id="blockquotes-center-1" role="tabpanel" aria-labelledby="blockquotes-center-tab-1">
                        <!-- Centered -->
                        <blockquote class="blockquote-v1 blockquote-v1--left align-text-top">
                            <h3 >
                                En tiempos de PANDEMIA nuestra iglesia nunca dejó de SERVIR <br/>
                                y es tiempo que puedas sumarte a este desafío.<br/>
                                Tendremos nuestro seminario <br/> “Descubriendo tu F.O.R.M.A.”.
                                <br/>
                                Dios te ha dado regalos únicos que solo vos podés abrir, <br/>
                                es por eso que te invitamos a que <br/>
                                descubras cómo te ha formado para el Servicio.


                            </h3>
                            <p class="h5">Inscríbete</p>
                            <footer class="blockquote-footer">
                                Martes 23/6 de 19:00 a 20:30 hs por ZOOM<br/>
                            </footer>
                        </blockquote>
                        <!-- End Centered -->
                    </div>
                </header>
            </div>
        </section>
        <!-- End Contact Form -->
    </main>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('material-kit/js/material-kit.min.js') }}"></script>
{% endblock %}