{% extends 'base_material_kit.twig' %}
{% block title %} {{ principal.titulo}}  {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#    {{ encore_entry_link_tags('app') }}#}

    {#    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">#}
    {#    <link rel="stylesheet" type="text/css" href="{{ asset('css/igles.min.css') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ asset('stream-ui-kit/assets/css/styles.css') }}">
    {#    <link rel="stylesheet" type="text/css" href="{{ asset('material-kit/css/material-kit.min.css') }}">#}
    {#    <link rel="stylesheet" type="text/css" href="{{ asset('vendors/bootstrap/css/bootstrap.min.css') }}">#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>

    </style>
{% endblock %}
{% block sslocal %}
    {#    <link rel="stylesheet" type="text/css" href="{{ asset('css-misc/resume.min.css') }}">#}
    {#    <link href="{{ asset('css/business-casual.css') }}" rel="stylesheet">#}


{% endblock %}
{% block header %}
    <header>
        {% include 'inicio/_nav.html.twig' %}
        <section class="js-parallax u-promo-block u-promo-block--mheight-500 u-overlay bg-gris-medio text-white "
                 style=" background-image: url({{ principal.imagePath|imagine_filter('squared_thumbnail_large_1920if')}})">
            <!-- Promo Content -->
            <div class="container u-overlay__inner u-ver-center u-content-space">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="text-center d-md-none d-lg-none d-xl-none">
                            <h1 class="display-sm-4 display-lg-3 h2"><b class="text-dark aire-2">
                                    {{ principal.titulo }}</b>
                            </h1>
                            <hr style="width: 25%"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Promo Content -->
        </section>
    </header>
{% endblock %}
{% block sections %}
    <main role="main" class="bg-white">
                {% for section in principal.secciones %}

            {%  include 'sections/'~section.template~'.html.twig' with { 'section':section } %}
        {% endfor %}
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#    <script src="{{ asset('material-kit/js/material-kit.min.js') }}"></script>#}
    {#    <script src="{{ asset('stream-ui-kit/assets/vendors/jquery.parallax.js') }}"></script>#}
{% endblock %}
