{% extends 'base_admin.html.twig' %}

{% block title %}Listado de Enlaces{% endblock %}

{% block content %}
    <h1>Listado de Enlaces (reservantes)</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>IsPresente</th>
                <th>Documento</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for reservante in reservantes %}
                <tr>
                    <td>{{ reservante.id }}</td>
                    <td>{{ reservante.email }}</td>
                    <td>{{ reservante.apellido }}</td>
                    <td>{{ reservante.nombre }}</td>
                    <td>{{ reservante.telefono }}</td>
                    <td>{{ reservante.isPresente ? 'Yes' : 'No' }}</td>
                    <td>{{ reservante.documento }}</td>
                    <td>
                        <a href="{{ path('reservante_show', {'id': reservante.id}) }}">show</a>
                        <a href="{{ path('reservante_edit', {'id': reservante.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('reservante_new') }}">Agregar Reservante</a>
    {{ include('admin/_modal.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ include('admin/_llamadaModal.html.twig') }}
{% endblock %}
