{% extends 'base_admin_board.html.twig' %}
{% block title %}
    Paso 2 - Secciones
{% endblock %}
{% block stylesheets %}
{#{{ parent() }}#}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('fonts/awesome/web-fonts-with-css/css/all.min.css') }}">
<link rel="stylesheet" href="{{ asset('bt5-softui-dash/css/soft-ui-dashboard.min.css') }}">

{{ encore_entry_link_tags('select2') }}

{% endblock %}

{% block content %}

    <h4>Asistente para crear nueva sección - Paso 2</h4>


<div class="form-container">
    <div class="form-container">
        {{ form_start(sectionForm) }}
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(sectionForm.title) }}
            </div>
            <div class="col-sm-12">
                {{ form_row(sectionForm.identificador) }}
            </div>
            <div class="col-sm-12">
                {{ form_row(sectionForm.orden) }}
            </div>



        {{ form_widget(sectionForm._token) }}


        {{ form_end(sectionForm, {'render_rest': true}) }}
            <button class="btn btn-primary btn--pill">{{ button_label|default('Guardar') }}</button>

    </div>


</div>
    <a class="btn btn-info" href="{{ path('admin_section_list') }}">Cancelar e ir al Listado</a>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin_section_form.js') }}"></script>
    {{ encore_entry_script_tags('select2') }}
{% endblock %}