{#
# Template section bienvenida-imagen-fondo.html.twig
# No necesita entradas
#}
<section class="u-content-space border-bottom py-5 bg-gris-medio"
         style="background-image: url({{ section.imagePath|imagine_filter('squared_thumbnail_large_1920if') }});
                 background-repeat: no-repeat; background-size:cover;">
    <div class="container {{ section.cssClass|default('text-center')}}" style="{{ section.cssStyle|default('text-center') }}">
        <h2 class="fuente-arial-nova">
            {{ section.title | striptags | raw }}
        </h2>
        <span class="mb-0 text-14-300 ">
                {{ section.contenido | replace({'<p>':'', '</p>':'<br/>'}) | raw }}
            </span>
    </div>
</section>
