{#
# Template section imagenSuperiorHalfCover.html.twig
# No usa entradas
#}
<section class="call-to-action text-center {{ section.cssClass }}" id="{{ section.identificador }}">
    <div class="container position-relative" style="background-image: url({{ section.imagePath|imagine_filter('squared_thumbnail_large') }}); background-repeat: no-repeat; background-size:cover">
        <div class="row justify-content-center">
            <div class="col-xl-6 align-self-center">
                <h2 class="">{{ section.title | replace({'<p>':'', '</p>':''}) | raw }} </h2>
            </div>
            <div class="col-xl-6 align-self-center">
                <h6 class="">{{ section.contenido | replace({'<p>':'', '</p>':'<br/>'}) | raw }} </h6>
            </div>
        </div>
    </div>
</section>