{#
# Template section imagenSuperiorParallaxWhitTitle.html.twig
# Entradas: No
# Imagen: Si
# Titulo: Si
# Contenido: Si
#}
<style>
    .sobreImage{
        margin-top: 0 !important;
    }
    .sinZ-index{
        z-index: 0 !important;
    }
</style>
<div class="d-sm-none d-md-block m-5">

</div>
    <section class="js-parallax u-promo-block u-overlay bg-gris-medio text-white"
             >
        <!-- Promo Content -->
        <div class="container u-overlay__inner u-ver-center u-content-space sinZ-index my-2">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="text-center my-0 u-overlay__inner">
                        <img src="{{section.imagePath|imagine_filter('squared_thumbnail_large_1920if')}}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Promo Content -->
    </section>

<main role="main" class="card {{ section.cssClass | default(' text-dark') }}" id="{{ section.identificador }}">
    <div class="col-sm-12 card-header ml-0">
        <h2 class="">{{ section.title | replace({'<p>':'', '</p>':'<br/>'}) | raw }} </h2>
        <small>{{ section.contenido | replace({'<p>':'', '</p>':'<br/>'}) | raw }} </small>
    </div>
</main>
