{#
# Template section imagenSuperiorParallaxWhitTitle.html.twig
# Entradas: No
# Imagen: Si
# Titulo: Si
# Contenido: Si
#}
<style>
    .sobreImage{
        margin-top: 0 !important;
    }
    .sinZ-index{
        z-index: 0 !important;
    }
    .imagen-responsive{
        max-width: 100%;
        height: auto;
    }
</style>
<div class="mt-sm-5 pt-sm-5 mt-md-1 pt-md-1" style="height: 1em" >

</div>
    <section class="bg-gris-medio text-white mt-5 {{ section.cssClass }}" id="{{ section.identificador }}">

        <!-- Promo Content -->
        <div class="container-fluid sinZ-index px-0">
            <div class="row justify-content-center">
                <div class="col-12 m-0 text-center">
                        <img src="{{section.imagePath|imagine_filter('squared_thumbnail_large_notas')}}" class="imagen-responsive" alt="Responsive image">
                </div>
                <div class="col-md-6 col-sm-12 mx-auto text-center card-title">
                    <h2 class="">{{ section.title | replace({'<p>':'', '</p>':'<br/>'}) | raw }} </h2>
                    <small>{{ section.contenido | replace({'<p>':'', '</p>':'<br/>'}) | raw }} </small>
                </div>
            </div>
        </div>
        <!-- End Promo Content -->

    </section>




