<section class="u-content-space border-bottom pt-0 bg-gris-medio ">
    <div class="container text-center">
        {% if section.entrada is defined %}
            {% set entradas = section.entrada %}
        {% else %}
            {% set entradas = section.entradas %}
        {% endif %}

        {% for entrada in entradas %}
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3">
                        <div class="comment-container d-inline-block p-0 m-0 align-top col-sm-12">
                            {% include('bases/_nota.html.twig') %}
                            <hr class="border-bottom"/>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4">
                    <h4><strong class="ml-5"> {{ entrada.titulo | replace({'<p>':'', '</p>':''}) | raw }} </strong>
                    </h4>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <img class="img-fluid rounded mb-4 mb-lg-0 overflow-auto align-items-center"
                     src="{{ entrada.imagePath|imagine_filter('squared_thumbnail_large') }}"
                     alt="{{ entrada.titulo | replace({'<p>':'', '</p>':''}) | raw }}">
            </div>
            <div class="col-lg-6 align-self-center">
                <h5 class="card-title text-uppercase">
                    {{ entrada.titulo | replace({'<p>':'', '</p>':''}) | raw }}
                </h5>
                <div class="middle-0">
                    <i class="fas fa-quote-left mr-5"></i><br/>
                    {{ entrada.contenido | replace({'<p>':'', '</p>':'<br/>'}) | raw }}
                    <i class="fas fa-quote-right ml-5"></i>
                </div>
                <div class="btn-group bottom-0 justify-content-between border-alameda border-alameda-top border-alameda-bottom pt-1 ">
                    {% for referencia in entrada.entradaReferences %}
                        <a href="/descargas/referencias/{{ referencia.filename }}"
                           target="_blank"
                           download
                           id="descargar"
                           class="descargar card-link text-center ">
                            <i class="far fa-file-pdf ml-5 mr-1"></i>
                            <span class="text-alameda btn-icon ">Notas</span><br/>
                        </a>
                    {% endfor %}
                    <a href="{{ entrada.linkPosting }}" class="card-link text-center"
                       target="_blank">
                        <i class="fab fa-youtube fa-fw mr-1"></i>
                        <span class="text-alameda btn-icon mr-5  ">Video</span><br/>
                    </a>
                </div>
            </div>
            <div class="col-sm-12">
                {% if (is_granted("ROLE_ESCRITOR")) %}
                    Id : {{ entrada.id }}
                {% endif %}
            </div>
            <div class="col-sm-12 text-center">
                <a class="btn btn-link" href="{{ path('principal_ver', { 'linkRoute': 'mensajes'}) }}"><i class="fa fa-home"></i> Ver mensajes de la serie </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
