{# section: #}
{#    imagen: false #}
{#    entradas: true #}
{# entrada:
      imagen: true #}

<style>
    .bg-icons-elyon {
        background-color: #cab897;
    }
</style>

<section class="{{ section.cssClass|default('d-flex align-items-center') }}"
         id="{{ section.identifier|default('six-columns') }}" style="{{ section.cssStyle|default('') }}">
    {% if section.contenido %}
        <div class="container text-center">
            <h4 class="text-alameda">
                <b class="aire-2 fuente-arial-nova">
                    {{ section.contenido | replace({'<p>':'', '</p>':'<br/>'}) | raw }}
                </b>
            </h4>
            <hr/>
        </div>
    {% endif %}
    <div class="container-fluid px-2 g-0 h-25">
        <div class="row py-0">

            {#                {% for entrada in section.entradas %} #}
            {% for entrada in entradas %}
                {% if entrada.publicadoAt %}
                    <div class="text-center d-grid {{ entrada.cssClass }}"
                         id="{{ entrada.identificador }}">
                        <div class="mx-1  d-grid align-self-center justify-content-center ">
                        <div class=" ">

                            {% if (entrada.linkRoute or entrada.linkPosting ) %}
                            <a class="mx-auto"
                                    {% if (entrada.linkPosting) %}
                                        href="{{ entrada.linkPosting }}"
                                        {% if (entrada.isLinkExterno) %}
                                            target="_blank"
                                        {% endif %}
                                    {% else %}
                                        href="{{ path('principal_ver',{'linkRoute':entrada.linkRoute}) }}"
                                    {% endif %}
                            >
                                {% endif %}


                                <img class="text-center mx-auto img-fluid"
                                     src="{{ entrada.imagePath|imagine_filter('squared_normal') }}"
                                     alt="AlamedaCMS"/>


                                {% if (entrada.linkRoute or entrada.linkPosting ) %}
                            </a>

                            {% endif %}

                            <br/>
                            {{ entrada.contenido|raw }}
                        </div>
                        </div>
                    </div>
                {% endif %}
                <!-- end of entrada -->
            {% endfor %}

        </div>
    </div>
</section>