{% extends 'base.html.twig' %}

{% block title %}GroupCelebration index{% endblock %}

{% block body %}
    <h1>GroupCelebration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>IsActivo</th>
                <th>Orden</th>
                <th>css base</th>
                <th>css botón</th>
                <th>ImageBg</th>
                <th>ImageLogo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group_celebration in group_celebrations %}
            <tr>
                <td>{{ group_celebration.title }}</td>
                <td>{{ group_celebration.isActivo ? '<i class="fa fa-check">' : '<i class="fa fa-times">' }}</td>
                <td>{{ group_celebration.orden }}</td>
                <td>{{ group_celebration.baseCss }}</td>
                <td>{{ group_celebration.btonCss }}</td>
                <td>{{ group_celebration.imageBg }}</td>
                <td>{{ group_celebration.imagePath }}</td>
                <td>
                    <a href="{{ path('group_celebration_show', {'id': group_celebration.id}) }}">Ver</a>
                    <a href="{{ path('group_celebration_edit', {'id': group_celebration.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('group_celebration_new') }}">Create new</a>
{% endblock %}
