{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
    <a href="{{ path('principal_index') }}">Volver al listado</a>
{{ form_end(form) }}
