{% extends 'base_admin_board.html.twig' %}
{% block title %}Principal {{ base.siteName }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('select2') }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css"
          integrity="sha256-AgL8yEmNfLtCpH+gYp9xqJwiDITGqcwAbI8tCfnY2lw=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"
            integrity="sha512-ELgdXEUQM5x+vB2mycmnSCsiDZWQYXKwlzh9+p+Hff4f5LA+uf0w2pOp3j7UAuSAajxfEzmYZNOOLQuiotrt9Q=="
            crossorigin="anonymous"></script>
{% endblock %}

{% block nav %}
    {{ include('admin/_nav.html.twig',  {'marca_label': 'Principal'}) }}
{% endblock %}
{% block content %}
    <h5>Editar {{ principal.linkRoute | upper }} id: {{ principal.id }}</h5>
    <h6>
        Autor: <u>{{ principal.autor }}</u>,
        creada el <b>{{ principal.createdAt | date('d-m-y H:i') }}</b>
        y su última actualización fue el <i>{{ principal.updatedAt | date ('d-m-y H:i') }}</i>
    </h6>
    {{ include('principal/_form.html.twig', {'button_label': 'Actualizar'}) }}
    <hr/>
    {{ include('principal/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/admin_section_form.js') }}"></script>
    <script src="{{ asset('vendors/datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="application/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'es',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                }
            });
        })
    </script>
    {# {{ encore_entry_script_tags('app') }} #}
    {{ encore_entry_script_tags('select2') }}
    {# {{ encore_entry_script_tags('app') }} #}

    <script>
        $('#admin').addClass('active');
    </script>
{% endblock %}
