{% extends 'base_admin_board.html.twig' %}

{% block title %}Principal Listado{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">P치ginas Principales</h4>
                <p class="card-category">Listado </p>
            </div>
            <div class="card-body">
                <a href="{{ path('principal_new') }}" class="btn btn-sm btn-primary btn-round">
                    Crear Principal <span class="fa fa-plus-circle"></span>
                </a>
                <a href="{{ path('principal_new_assistant') }}" class="btn btn-sm btn-primary btn-round">
                    Asistente Crear Principal <span class="fas fa-hands-helping"></span>
                </a>
                <div class="text-center align-items-center">
                    {{ knp_pagination_render(principals) }}
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <tr class="text-primary">
                            <td>ID</td>
                            <th>Titulo<br/>
                                LinkRoute
                            </th>
                            <th>Contenido</th>

                            <th>ImageFilename</th>
                            <th>Likes</th>
                            <th>Creada <br/>
                                Actualizada
                            </th>
                            <th><i class="fa fa-cogs"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for principal in principals %}
                            <tr>
                                <td>{{ principal.id }}</td>
                                <td>{{ principal.titulo | replace({'<p>':'', '</p>':''}) | raw }} <br/>
                                    <a href="{{ path('principal_ver', {'linkRoute': principal.linkRoute}) }}"
                                       target="_blank">
                                        <i class="fa fa-external-link-alt"> </i>
                                        {{ principal.linkRoute }}
                                    </a>
                                </td>
                                <td>
                                    {{ principal.contenido | u.truncate(15, '') | raw }}
                                    <span class="text-primary" data-toggle="modal"
                                          data-target=".modal-content-sm"
                                          data-content="{{ principal.contenido }}">... ver</span>

                                </td>

                                <td>
                                    {% if (principal.imageFilename != null) %}
                                        <img class="article-img" alt="{{ base.lema }}"
                                             src="{{ principal.imagePath|imagine_filter('squared_thumbnail_100') }}">
                                        <br/>
                                        {{ principal.imageFilename }}
                                    {% else %}
                                        No tiene imagen
                                    {% endif %}
                                </td>
                                <td>{{ principal.likes }}</td>
                                <td>{{ principal.createdAt ? principal.createdAt|date('Y-m-d H:i:s') : '' }}<br/>
                                    {{ principal.updatedAt ? principal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('principal_ver', {'linkRoute': principal.linkRoute}) }}">
                                        <i class="fas fa-eye"></i>
                                        Ver</a><br/>
                                    <a href="{{ path('principal_edit', {'id': principal.id}) }}">
                                        <i class="fas fa-edit"></i>
                                        Editar</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">No se encontr칩 ninguna p치gina principal</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-center align-items-center">
                    {{ knp_pagination_render(principals) }}
                </div>
                <a href="{{ path('principal_new') }}" class="btn btn--pill btn-primary">
                    <i class="fas fa-plus-circle"></i>
                    Crear nueva p치gina prinpipal</a>
            </div>
        </div>
    </div>
    <div class="modal fade modal-content-sm" tabindex="-1" role="dialog" aria-labelledby="myModalContentSM"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contenido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('.modal-content-sm').on('show.bs.modal', function (e) {
            let myContent = $(e.relatedTarget).attr('data-content');
            $('.modal-body').html(myContent)
        })
    </script>

{% endblock %}