{% extends 'base.html.twig' %}

{% block title %}Principal Listado{% endblock %}

{% block body %}
    <h1>Principal - Listado de p치ginas principaes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>LinkRoute</th>
                <th>ImageFilename</th>
                <th>Likes</th>
                <th>Creada</th>
                <th>Actualizada</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for principal in principals %}
            <tr>
                <td>{{ principal.id }}</td>
                <td>{{ principal.titulo }}</td>
                <td>{{ principal.contenido }}</td>
                <td>{{ principal.linkRoute }}</td>
                <td>{{ principal.imageFilename }}</td>
                <td>{{ principal.likes }}</td>
                <td>{{ principal.createdAt ? principal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ principal.updatedAt ? principal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('principal_show', {'id': principal.id}) }}">
                        <i class="fas fa-eye"></i>
                        Ver</a>
                    <a href="{{ path('principal_edit', {'id': principal.id}) }}">
                        <i class="fas fa-edit"></i>
                        Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No se encontr칩 ninguna p치gina prinpipal</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('principal_new') }}" class="btn btn--pill btn-primary">
        <i class="fas fa-plus-circle"></i>
        Crear nueva p치gina prinpipal</a>
{% endblock %}
