{% extends 'base_admin.html.twig' %}

{% block title %}Invitados - Listado{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                Listado de Invitados
                <small> para
                    <b>{{ celebracion | default('  todas las celebraciones') }}</b>
                </small>
                <i>en total {{ invitados.getTotalItemCount }}</i>
                {% if (celebracion.id is defined) %}
                    <span class="mr-5"> </span>
                    <a href="{{ path('celebracion_show', {'id': celebracion.id}) }}"
                       class="btn-modal text-white"
                    >
                        <i class="fa fa-eye"> </i> Ver datos celebración
                    </a>
                    <span class="mr-5"> </span>
                    <a href="{{ path('admin_export_invitado', {'id': celebracion.id}) }}"
                       class="text-white">
                        <i class="fa fa-file-excel"> </i> Exportar
                    </a>

                {% endif %}
            </div>
            <div class="card-body">
                <div class="text-center align-items-center">
                    {{ knp_pagination_render(invitados) }}
                </div>

                <div class="table-responsive table-hover table-sm">
                    <table class="table table-striped">
                        <thead class="sticky-top position-sticky bg-dark text-white">
                        <tr>
                            <th>
                                Celebración
                            </th>
                            <th>Teléfono</th>
                            <th>DNI</th>
                            <th>Persona</th>
                            <th>Enlace</th>
                            <th>
                                <i class="fa fa-cogs"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invitado in invitados %}
                            <tr>
                                <td>
                                    {{ invitado.celebracion }}
                                </td>
                                <td>{{ invitado.telefono }}</td>
                                <td>{{ invitado.dni }}</td>
                                <td>{{ invitado.nombre }} <br/>
                                    {{ invitado.apellido }}</td>
                                <td>
                                    {% if invitado.isEnlace %}
                                        <i class="fa fa-check-square"></i>
                                    {% else %}
                                        {{ invitado.enlace.nombre }}<br/>
                                        {{ invitado.enlace.apellido }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('invitado_show', {'id': invitado.id}) }}"
                                       class="btn-modal"
                                    >
                                        <i class="fa fa-eye ml-2"> </i> Ver
                                    </a>
                                    <a href="{{ path('invitado_edit', {'id': invitado.id}) }}">
                                        <i class="fa fa-edit ml-2"> </i> Editar
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ path('invitado_new') }}">Agregar Invitado </a>
                <div class="text-center align-items-center">
                    {{ knp_pagination_render(invitados) }}
                </div>
            </div>
        </div>
    </div>

    {# <div class="text-center align-items-center"> #}
    {# {{ knp_pagination_render(comentarios) }} #}
    {# </div> #}

    {{ include('admin/_modal.html.twig') }}

{% endblock %}
            {% block javascripts %}
                {{ parent() }}
                {{ encore_entry_script_tags('app') }}
                {{ include('admin/_llamadaModal.html.twig') }}
            {% endblock %}
