{% extends 'base_admin.html.twig' %}

{% block title %}Invitados - Listado{% endblock %}

{% block content %}
    <h4>Listado de Invitados
        <small> para
            <b>{{ celebracion | default('  todas las celebraciones') }}</b>
        </small>
        <i>en total {{ invitados.getTotalItemCount }}</i>
            {% if (celebracion.id is defined) %}
                <a href="{{ path('admin_export_invitado', {'id': celebracion.id}) }}">
                    <i class="fa fa-file-excel"> </i> Exportar
                </a>
            {% endif %}
        </h4>
    <div class="text-center align-items-center">
        {{ knp_pagination_render(invitados) }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Telefono</th>
                <th>Dni</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invitado in invitados %}
            <tr>
                <td>{{ invitado.id }}</td>
                <td>{{ invitado.telefono }}</td>
                <td>{{ invitado.dni }}</td>
                <td>{{ invitado.nombre }}</td>
                <td>{{ invitado.apellido }}</td>
                <td>
                    <a href="{{ path('invitado_show', {'id': invitado.id}) }}">show</a>
                    <a href="{{ path('invitado_edit', {'id': invitado.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('invitado_new') }}">Agregar Invitado </a>
    <div class="text-center align-items-center">
        {{ knp_pagination_render(invitados) }}
    </div>

{#    <div class="text-center align-items-center">#}
{#        {{ knp_pagination_render(comentarios) }}#}
{#    </div>#}
{% endblock %}
