<ul class="nav">
    {% if (is_granted("ROLE_ADMIN_RESERVA")) %}
    <li id="admin" class="nav-item">
        <a class="nav-link" href="{{ path('admin') }}">
            <i class="material-icons">dashboard</i>
            <p>Inicio</p>
        </a>
    </li>
    <li id="brote" class="nav-item">
        <a class="nav-link" href="{{ path('admin_brote_list') }}">
            <i class="material-icons">dashboard</i>
            <p>Ver Brotes</p>
        </a>
    </li>
    <li id="brote" class="nav-item">
        <a class="nav-link" href="{{ path('index_alameda_index') }}">
            <i class="material-icons">dashboard</i>
            <p>Ver Index</p>
        </a>
    </li>
    <li id="section" class="nav-item">
        <a class="nav-link" href="{{ path('admin_section_list') }}">
            <i class="material-icons">toc</i>
            <p>Ver Secciones</p>
        </a>
    </li>
    <li id="celebracion" class="nav-item">
        <a class="nav-link" href="{{ path('celebracion_index') }}">
            <i class="material-icons">today</i>
            <p>Ver Celebraciones</p>
        </a>
    </li>
    {% endif %}
    <!-- your sidebar here -->
</ul>

