{% extends "adminbase.html.twig" %}
{% block bars %}
    <div class="col-md-2 left_col menu_fixed">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="{{ path('app_admin_main') }}" class="site_title">
                    <img class="rounded d-none d-lg-block" src="{{ asset('images/logo-con-nombre.png') }}"
                         style="width: 65px;" alt="AlamedaCMS">
                    <img class="rounded d-lg-none" src="{{ asset('/images/logo-solo-2020.png') }}" style="width: 35px;"
                         alt="AlamedaCMS">
                    <span class="text-sm">
                        {{ base.siteName }}
                    </span>
                </a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
                <div class="profile_pic">
                    {% if is_granted('ROLE_USER') %}
                        <img src="{{ app.user.avatarUrl() }}" alt="AlamedaCMS"
                             class="img-circle profile_img"
                             style="width: 35px;"
                        >
                    {% endif %}
                </div>
                <div class="profile_info">
                    <span>{{ "backend.global.welcome"|trans }},</span>
                    <h2>{{ app.user.primerNombre }}</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br/>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu ">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li><a href="{{ path('admin') }}"><i class="fa fa-home"></i> {{ "backend.menu.home"|trans }}</a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a><i class="fa fa-user"></i> {{ "backend.menu.user"|trans }} <span
                                            class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('admin_list_user') }}">{{ "backend.menu.manage"|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted("ROLE_ESCRITOR") %}
                            <li><a><i class="fa fa-bookmark"></i>{{ "backend.menu.post"|trans }} <span
                                            class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="{{ path('admin_entrada_index') }}">{{ "backend.menu.post"|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-clipboard"></i> {{ "backend.menu.blog"|trans }} <span
                                            class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="{{ path('admin_section_list') }}">{{ "backend.menu.section"|trans }}</a>
                                    </li>
                                    {% if is_granted("ROLE_EDITOR") %}
                                        <li>
                                            <a href="{{ path('admin_section_list') }}">{{ "backend.menu.history"|trans }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a><i class="fa fa-envelope"></i>{{ "backend.menu.contact"|trans }} <span
                                            class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('principal_index') }}"> {{ "backend.menu.principal"|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}

                            <li><a><i class="fa fa-cog"></i> {{ "backend.menu.settings"|trans }} <span
                                            class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="{{ path('meta_base_index') }}">{{ "backend.menu.metabase"|trans }}</a>
                                    </li>
                                    <li><a href="{{ path('index_alameda_index') }}">{{ "backend.menu.index"|trans }}</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>

                </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu ml-auto">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="nav navbar-nav">
                <ul class="navbar-right">
                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                        <a href="javascript:" class="user-profile dropdown-toggle" aria-haspopup="true"
                           id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                            <img src="{{ app.user.avatarUrl() }}" alt="">{{ app.user.primerNombre }}
                        </a>
                        <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('app_changepassword', {'email': app.user.email}) }}"><i
                                        class="fa fa-key pull-right"></i>{{ "backend.global.change_my_password"|trans }}
                            </a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i
                                        class="fa fa-sign-out pull-right"></i>{{ "backend.global.logout"|trans }}</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        {% for message in app.flashes("error") %}
            <div class="alert alert-danger alert-dismissible " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <strong>{{ "backend.global.error"|trans }}</strong> {{ message|trans }}
            </div>
        {% endfor %}
        {% for message in app.flashes("success") %}
            <div class="alert alert-success alert-dismissible " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <strong>{{ "backend.global.success"|trans }}</strong> {{ message|trans }}
            </div>
        {% endfor %}
        {% block contenpage %}{% endblock %}
    </div>
    <!-- /page content -->
{% endblock %}
