<div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Principal</h6>
                <p class="card-category"> Listado de páginas principales</p>
            </div>
        </div>
        <div class="card-footer">

            <a href="{{ path('principal_new') }}" class="btn btn--pill btn-primary">
                <i class="fas fa-plus-circle"></i>
                Crear nueva página principal</a>
            <a href="{{ path('principal_new_assistant') }}" class="btn btn-sm btn-primary btn-round">
                <span class="fas fa-hands-helping"></span>
                Asistente Nueva Principal
            </a>
        </div>
        <div class="text-center align-items-center">
            {{ knp_pagination_render(principals) }}
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead class="text-primary">
                    <tr>
                        <th class="text-uppercase text-principal text-xxs font-weight-bolder opacity-7">
                            Titulo Page<br/>
                            LinkRoute Page <br/>
                            <small>Principal parent</small>
                        </th>
                        <th>
                            Secciones
                        </th>
                        <th>Imagen</th>
                        <th>Actualizada</th>
                        <th><i class="fa fa-cogs"> </i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for principal in principals %}
                        <tr>
                            <td>
                                <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-xs">{{ principal.titulo | replace({'<p>':'', '</p>':''}) | raw }}</h6>
                                        <p class="text-xs text-secondary mb-0">{{ principal.linkRoute }}</p>
                                        <p class="text-muted">
                                            {% if principal.principal.linkRoute is defined %}
                                                <small>
                                                    <a class="text-info" data-bs-toggle="tooltip"
                                                       title="Ver linkRoute principal"
                                                       href="{{ path('principal_show', {'id': principal.principal.id}) }}">
                                                        {{ include('bases/_ver.html.twig', {'button_label': principal.principal.linkRoute  }) }}
                                                    </a>
                                                </small>
                                                <br/>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            {#                            <td> #}
                            {#                                <div class="d-flex px-2 py-1"> #}
                            {#                                    <div class="d-flex flex-column justify-content-center"> #}
                            {#                                        <h6 class="mb-0 text-xs"> #}
                            {#                                            {{ principal.contenido | replace({'<p>':'', '</p>':''}) | u.truncate(20, '...') }} #}
                            {#                                        </h6> #}
                            {#                                    </div> #}
                            {#                                </div> #}
                            {#                            </td> #}

                            <td>
                                {% for seccion in principal.secciones %}
                                    <a href="{{ path('admin_section_show', {'id': seccion.id}) }}">
                                        {{ seccion.name }}
                                    </a>
                                    <br/>
                                {% endfor %}
                            </td>
                            <td>
                                <div class="d-flex px-2 py-1">
                                    <div>
                                        {% if (principal.imageFilename != null) %}
                                            <img class="avatar avatar-sm me-3 border-radius-lg" alt="{{ base.lema }}"
                                                 src="{{ principal.imagePath|imagine_filter('squared_thumbnail_100') }}">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <p class="text-xs text-secondary mb-0">{{ principal.imageFilename }}</p>
                                    </div>
                                        {% else %}
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <p class="text-xs text-secondary mb-0">No tiene imagen</p>
                                    </div>
                                        {% endif %}
                                </div>
                            </td>
                            <td>
                                {{ principal.updatedAt ? principal.updatedAt|date('Y-m-d ') : '' }}<br/>
                                {{ principal.updatedAt ? principal.updatedAt|date('H:i:s') : '' }}
                            </td>
                            <td>
                                <a class="text-success"
                                   href="{{ path('principal_ver', {'linkRoute': principal.linkRoute}) }}">
                                    <i class="fas fa-eye"></i>
                                    Ir a la Página</a><br/>
                                <a class="text-primary" href="{{ path('principal_edit', {'id': principal.id}) }}">
                                    <i class="fas fa-edit"></i>
                                    Editar Contenido </a><br/>
                                <a class="text-info" href="{{ path('principal_show', {'id': principal.id}) }}">
                                    <i class="fas fa-list"> </i>
                                    Ver datos
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">No se encontró ninguna página principal</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center align-items-center">
            {{ knp_pagination_render(principals) }}
        </div>
        <div class="card-footer">

            <a href="{{ path('principal_new') }}" class="btn btn--pill btn-primary">
                <i class="fas fa-plus-circle"></i>
                Crear nueva página principal</a>
        </div>
    </div>
</div>
