{% for contacto in contactos %}
    <a href="{{ contacto.tipo.referencia }}{{ contacto.linkRoute }}{{ contacto.tipo.textoReferencia }}{{ contacto.textoMensaje }}"
    class="text-white "
    >
        {{ contacto.textoPagina }}
        {{ contacto.tipo.icon | raw }}
    </a>
{% endfor %}

