{{ form_start(sectionForm) }}
<div class="row">
    <div class="col-sm-4 mx-auto">
        {{ form_row(sectionForm.name) }}
    </div>
    <div class="col-sm-2 text-center form-check text-dark mx-auto">
        <label for="section_disponible">
            Disponible?<br/>
            {{ form_row(sectionForm.disponible) }}
        </label>
    </div>
    <div class="col-sm-4 mx-auto">
        {{ form_row(sectionForm.identificador) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-4 mx-auto">
        {{ form_label(sectionForm.title) }}
        {{ form_widget(sectionForm.title) }}
        {{ form_errors(sectionForm.title) }}
    </div>
    <div class="col-sm-4 mx-auto">
        {{ form_label(sectionForm.footer) }}
        {{ form_widget(sectionForm.footer) }}
        {{ form_errors(sectionForm.footer) }}
    </div>
    <div class="col-sm-4 mx-auto">
        {{ form_row(sectionForm.description) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-11 mx-auto">
        {{ form_label(sectionForm.contenido) }}
        {{ form_widget(sectionForm.contenido) }}
        {{ form_errors(sectionForm.contenido) }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-4 mx-auto">
        {{ form_row(sectionForm.linkRoute) }}
    </div>
    <div class="col-sm-4 mx-auto">
        {{ form_row(sectionForm.linkPosting) }}
    </div>
    <div class="col-sm-2 text-center form-check text-dark mx-auto">
        <label for="entrada_isLinkExterno">
            Es Externo?<br/>
            {{ form_row(sectionForm.isLinkExterno) }}
        </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 mx-auto">
        {{ form_row(sectionForm.imageFile, {
            attr: {
                'placeholder': 'Seleccione una imagen para la sección'
            }
        }) }}
    </div>
    <div class="col-sm-3 mx-auto">
        {% if sectionForm.vars.data.imageFilename | default %}
            <a href="{{ uploaded_asset(sectionForm.vars.data.imagePath) }}" target="_blank">
                <img src="{{ sectionForm.vars.data.imagePath|imagine_filter('squared_thumbnail_small') }}" height="100"
                     alt="{{ base.siteName }}">
            </a>
        {% endif %}
    </div>
</div>
<div class="row">
    <fieldset > Solo para múltiple imágenes
    <div class="col-sm-7 mx-auto">
        {{ form_row(sectionForm.imagesFiles, {
            attr: {
                'placeholder': 'Seleccione una imagen para la sección'
            }
        }) }}
    </div>
{#    <div class="col-sm-3 mx-auto">#}
{#        {% if sectionForm.vars.data.imageFilename | default %}#}
{#            <a href="{{ uploaded_asset(sectionForm.vars.data.imagePath) }}" target="_blank">#}
{#                <img src="{{ sectionForm.vars.data.imagePath|imagine_filter('squared_thumbnail_small') }}" height="100"#}
{#                     alt="{{ base.siteName }}">#}
{#            </a>#}
{#        {% endif %}#}
{#    </div>#}
    </fieldset>
</div>

<div class="row mt-3">
    <div class="col-sm-4 mx-auto">
        {{ form_row(sectionForm.cssClass) }}
    </div>
    <div class="col-sm-4 mx-auto">
        {{ form_row(sectionForm.columns) }}
    </div>
    <div class="col-sm-2 mx-auto">
        {{ form_row(sectionForm.orden) }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-3 mx-auto">
        {{ form_row(sectionForm.disponibleAt) }}
    </div>
    <div class="col-sm-3 mx-auto">
        {{ form_row(sectionForm.disponibleHastaAt) }}
    </div>
    <div class="col-sm-4 mx-auto">
        {{ form_row(sectionForm.modelTemplate) }}
    </div>
</div>


{{ form_widget(sectionForm._token) }}

<button class="btn btn-primary btn--pill">{{ button_label|default('Guardar') }}</button>
<a class="btn btn-info btn--pill" href="{{ path('admin_section_list') }}">Cancelar</a>
{{ form_end(sectionForm, {'render_rest': true}) }}
{# {{ form_end(sectionForm) }} #}
