{{ form_start(sectionForm) }}

{#    {{ form_widget(sectionForm) }}#}
    {{ form_row(sectionForm.name) }}
    {{ form_row(sectionForm.typeOrigin,{
        attr: {
            'data-secondaty-url': path('admin_section_typeorigin_select'),
            'class': 'js-section-form-origin'
        }
    }) }}
<div class="js-secondary-target">
     {%  if sectionForm.typeSecondary is defined %}
         {{ form_row(sectionForm.typeSecondary) }}
     {% endif %}
</div>
{{ form_row(sectionForm.contenido) }}
    {{ form_widget(sectionForm._token) }}

<button class="btn btn-primary btn--pill">{{ button_label|default('Guardar') }}</button>
{{ form_end(sectionForm, {'render_rest': true}) }}
{#{{ form_end(sectionForm) }}#}
