{% extends 'base_admin.html.twig' %}
{% block title %}Secciones {{ base.siteName }}{% endblock %}
{% block nav %}
    {{ include('admin/_nav.html.twig',  {'marca_label': 'Secciones'}) }}
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                    <h4 class="card-title ">Secciones</h4>
                    <p class="card-category"> Listado de secciones </p>
            </div>
            <div class="card-body">
                <a class="btn btn-sm btn-info btn-round" href="{{ path('admin_section_new') }}">
                    <i class="fas fa-plus-circle"></i> Crear Secci贸n</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <tr>
                            <th>Nombre</th>
                            <th>Ubicaci贸n</th>
                            <th>Descripci贸n</th>
                            <th>Entradas</th>
                            <th>Disponible</th>
                            <th><i class="fa fa-cogs"> </i> </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for section in sections %}
                            <tr>
                                <td>{{ section.name }}</td>
                                <td>
                                    {% for principal in section.principales %}

                                        {{ principal.linkRoute }} <br/>
                                    {% endfor %}
                                    {% for index in section.indexAlamedas %}
                                        <i class="fa fa-check-square"> </i> Index
                                    {% endfor %}

                                </td>
                                <td>{{ section.description | u.truncate(20, '...') }}</td>
                                <td>
                                    {% for entrada in section.entrada %}
                                        {{ entrada.titulo }} <br/>
                                    {% endfor %}
                                </td>
                                <td>
                                    <span class="fa fa-{{ section.disponible ? 'check text-success' : 'times text-danger' }}"></span>
                                </td>
                                <td>
                                    <a href="{{ path('admin_section_edit', {'id': section.id}) }}"><i class="fas fa-pencil-alt"></i> editar</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">No se encontraron resultados</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="#"></a>
                <a class="btn btn-sm btn-info btn-round" href="{{ path('admin_section_new') }}">
                    <i class="fas fa-plus-circle"></i> Crear Secci贸n</a>


            </div>
        </div>
    </div>
{% endblock %}

{% block jslocal %}
    {{ parent() }}
    <script>
        $('#section').addClass('active');
    </script>
{% endblock %}