{% extends 'base_admin_board.html.twig' %}
{% block title %}Secciones {{ base.siteName }}{% endblock %}
{% block nav %}
    {{ include('admin/_nav.html.twig',  {'marca_label': 'Secciones'}) }}
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Secciones</h4>
                <p class="card-category"> Listado de secciones </p>
            </div>
            <div class="card-body">
                <a class="btn btn-sm btn-info btn-round" href="{{ path('admin_section_new') }}">
                    <i class="fas fa-plus-circle"></i> Crear Secci贸n</a>
                <div class="text-center align-items-center">
                    {{ knp_pagination_render(sections) }}
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <tr>
                            <th>Nombre</th>
                            <th>Ubicaci贸n</th>
                            <th>Descripci贸n /<br/>
                                <small>Template</small>
                            </th>
                            <th>Entradas</th>
                            <th>
                                Disponible
                            </th>
                            <th>Imagen</th>
                            <th><i class="fa fa-cogs"> </i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for section in sections %}
                            <tr>
                                <td>{{ section.name }}
                                    <br/>
                                    <small>{{ section.identificador }}</small>
                                </td>
                                <td>
                                    {% for principal in section.principales %}
                                        <a href="{{ path('principal_show', {'id': principal.id}) }}">
                                            {{ principal.linkRoute }}
                                        </a>
                                        <br/>
                                    {% endfor %}
                                    {% for index in section.indexAlamedas %}
                                        <i class="fa fa-check-square"> </i>
                                        <a href="{{ path('index_alameda_index') }}">
                                            Index
                                        </a>
                                    {% endfor %}

                                </td>
                                <td>
                                    {{ section.description | u.truncate(20, '...') }} / <br/>
                                    <small>
                                        {{ section.modelTemplate | default('Sin template') }}
                                    </small>
                                </td>
                                <td>
                                    {% for entrada in section.entrada %}
                                        <a href="{{ path('entrada_show', {'id': entrada.id}) }}">
                                            {{ entrada.titulo | replace({'<p>':'', '</p>':''}) | raw | u.truncate(20, '...') }}
                                        </a>
                                        <br/>
                                    {% endfor %}
                                </td>
                                <td class="text-center">
                                    <span class="fa fa-{{ section.disponible ? 'check text-success' : 'times text-danger' }}"></span>
                                </td>
                                <td>
                                    {% if (section.imageFilename != null) %}
                                        <img class="article-img" alt="{{ base.lema }}"
                                             src="{{ section.imagePath|imagine_filter('squared_thumbnail_100') }}">
                                        <br/>
                                        {{ section.imageFilename | u.truncate(20, '...') }}
                                    {% else %}
                                        No tiene imagen
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('admin_section_show', {'id': section.id}) }}">
                                        {{ include('bases/_ver.html.twig') }}
                                    </a><br/>
                                    <a href="{{ path('admin_section_edit', {'id': section.id}) }}">
                                        {{ include('bases/_editar.html.twig') }}
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">No se encontraron resultados</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-center align-items-center">
                    {{ knp_pagination_render(sections) }}
                </div>
            </div>
            <div class="card-footer">
                <a href="#"></a>
                <a class="btn btn-sm btn-info btn-round" href="{{ path('admin_section_new') }}">
                    <i class="fas fa-plus-circle"></i> Crear Secci贸n</a>


            </div>
        </div>
    </div>
{% endblock %}

{% block jslocal %}
    {# {{ parent() }} #}
    {# <script> #}
    {# $('#buttonmenu').on('click', function(){ #}
    {# // $(this).parent().addClass('current').siblings().removeClass('current'); #}
    {# console.log('ck') #}
    {# $('.nav .nav-item').each(function() { #}
    {# if(this.id === 'section'){ #}
    {# let itemnav = $('#'+ this.id); #}
    {# itemnav.removeClass() #}
    {# itemnav.attr('class', 'nav-item active') #}
    {# console.log('ss' + itemnav.attr('class')) #}
    {# } #}

    {# console.log(this.id) #}
    {# }); #}
    {# // $('#section').css('color','blue'); #}
    {# // $('#section').addClass('active'); #}
    {# }); #}

    {# </script> #}
{% endblock %}