{% extends 'base_material_kit.twig' %}

{% block title %}{{ entrada.titulo | replace({'<p>':'', '</p>':''}) | raw }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {# {{ encore_entry_link_tags('app') }} #}

    {# <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}"> #}
    {# <link rel="stylesheet" type="text/css" href="{{ asset('css/igles.min.css') }}"> #}
    <link rel="stylesheet" type="text/css" href="{{ asset('stream-ui-kit/assets/css/styles.css') }}">
    {# <link rel="stylesheet" type="text/css" href="{{ asset('material-kit/css/material-kit.min.css') }}"> #}
    {# <link rel="stylesheet" type="text/css" href="{{ asset('vendors/bootstrap/css/bootstrap.min.css') }}"> #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>

    </style>

{% endblock %}

{% block sections %}
    <section class="u-content-space border-bottom py-5 bg-gris-medio ">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <div class="show-article-container p-3 mt-4">
                        {# <div class="col-sm-12"> #}
                        {# <h3><i class="pr-3 fa fa-comment"></i>{{ entrada.comentariosNoDeleted|length }} Comentarios #}
                        {# </h3> #}
                        {% if(entrada.comentariosNoDeleted) %}
                            {# <div class="row"> #}
                            <div class="comment-container d-inline-block p-0 m-0 align-top col-sm-12">
                                {# <span class="commenter-name">{{ comentario.autor }}</span> #}
                                {% include('comentario/nota.html.twig') %}
                                {# <small>realizado {{ comentario.createdAt|ago }}</small> #}
                                {# {% if comentario.isDeleted %} #}
                                {# <span class="fas fa-times-circle text-danger"></span> Borrado #}
                                {# {% endif %} #}
                                {# <br/> #}
                                {# <span class="comment"> {{ comentario.contenido }}</span> #}
                                <hr class="border-bottom"/>
                            </div>

                            {# </div> #}
                            {# </div> #}
                        {% endif %}
                        {# </div> #}
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="show-article-container p-3 mt-4">
                        <h4><strong class="ml-5"> {{ entrada.titulo | replace({'<p>':'', '</p>':''}) | raw }} </strong>
{#                            <small>#}
{#                                Le gustó a:#}
{#                                <span class="js-like-entrada-count">{{ entrada.likes }}</span>#}
{#                                <a href="{{ path('entrada_toggle_like', {id: entrada.id}) }}"#}
{#                                   class="fas fa-heart like-entrada js-like-entrada">#}
{#                                </a>#}
{#                            </small>#}
                        </h4>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <img class="img-fluid rounded mb-4 mb-lg-0 overflow-auto align-items-center"
                         src="{{ entrada.imagePath|imagine_filter('squared_thumbnail_large') }}"
                         alt="<?php echo $lemaSinEspacios ?>">
                </div>
                <div class="col-lg-6 align-self-center">
                    <h5 class="card-title text-uppercase">
                        {{ entrada.titulo | replace({'<p>':'', '</p>':''}) | raw }}
                    </h5>
                    <div class="middle-0">
                        <i class="fas fa-quote-left mr-5"></i><br/>
                        {{ entrada.contenido | replace({'<p>':'', '</p>':''}) | raw }}
                        <i class="fas fa-quote-right ml-5"></i>
                    </div>
                    <div class="btn-group bottom-0 justify-content-between border-alameda border-alameda-top border-alameda-bottom pt-1 ">
                        {% for referencia in entrada.entradaReferences %}
                            <a href="/descargas/referencias/{{ referencia.filename }}"
                               target="_blank"
                               download
                               id="descargar"
                               class="descargar card-link text-center ">
                                <i class="far fa-file-pdf ml-5 mr-1"></i>
                                <span class="text-alameda btn-icon ">Notas</span><br/>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-12">
                    {% if (is_granted("ROLE_ESCRITOR")) %}
                        Id : {{ entrada.id }}
                    {% endif %}
                </div>
                <div class="col-sm-12 text-center">
                    <a class="btn btn-link" href="{{ path('index') }}"><i class="fa fa-home"></i> </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/entrada_show.js') }}"></script>
    <script type="application/javascript">
        $(window).load(function () {
            document.getElementById('descargar').click();
        })
    </script>
    <script type="application/javascript">

        $(function () {
            const pcentral = localStorage.getItem("AutenticosPcentral");
            const puno = localStorage.getItem("AutenticosPuno");
            const pdos = localStorage.getItem("AutenticosPdos");
            const ptres = localStorage.getItem("AutenticosPtres");
            const pcuatro = localStorage.getItem("AutenticosPcuatro");
            if (pcentral != null) {
                $('#pcentral').val(JSON.parse(localStorage.AutenticosPcentral))
                muestra1('#lpcentral', '#sinpcentral')
                aceptado('central');
            } else {
                oculta1('#lpcentral', '#sinpcentral')
            }

            if (puno != null) {
                $('#puno').val(JSON.parse(localStorage.AutenticosPuno))
                muestra1('#lpuno', '#sinpuno')
                aceptado('uno');
            } else {
                oculta1('#lpuno', '#sinpuno')
            }

            if (pdos != null) {
                $('#pdos').val(JSON.parse(localStorage.AutenticosPdos))
                muestra1('#lpdos', '#sinpdos')
                aceptado('dos');
            } else {
                oculta1('#lpdos', '#sinpdos')
            }

            if (ptres != null) {
                $('#ptres').val(JSON.parse(localStorage.AutenticosPtres))
                muestra1('#lptres', '#sinptres')
                aceptado('tres');
            } else {
                oculta1('#lptres', '#sinptres')
            }

            if (pcuatro != null) {
                $('#pcuatro').val(JSON.parse(localStorage.AutenticosPcuatro))
                muestra1('#lpcuatro', '#sinpcuatro')
                aceptado('cuatro');
            } else {
                oculta1('#lpcuatro', '#sinpcuatro')
            }

        });

        $(function () {
            $('#xpcentral').click(function () {
                const pcentral = $('#pcentral').val();
                if (pcentral == null || pcentral == '') {
                    $('#pcentral').attr('placeholder', 'Aquí debés completar la idea');
                    return false;
                }
                procesa('central')
                $('#xpcentral').toggleClass('fa fa-star-o').toggleClass('fa fa-start');
                if (esVisible('#lpcentral')) {
                    console.log('centra visible')
                    muestra1('#sinpcentral', '#lpcentral')
                } else {
                    console.log('centra hidden')
                    aceptado('central')
                    oculta1('#sinpcentral', '#lpcentral')
                }
            });

            $('#xpuno').click(function () {
                const puno = $('#puno').val();
                if (puno == null || puno == '') {
                    $('#puno').attr('placeholder', 'Aquí debés completar la idea');
                    return false;
                }
                procesa('uno')
                $('#xpuno').toggleClass('fa fa-star-o').toggleClass('fa fa-start');
                if (esVisible('#lpuno')) {
                    muestra1('#sinpuno', '#lpuno')
                } else {
                    aceptado('uno')
                    oculta1('#sinpuno', '#lpuno')
                }
            });

            $('#xpdos').click(function () {
                const pdos = $('#pdos').val();
                if (pdos == null || pdos == '') {
                    $('#pdos').attr('placeholder', 'Aquí debés completar la idea');
                    return false;
                }
                procesa('dos')
                $('#xpdos').toggleClass('fa fa-star-o').toggleClass('fa fa-start');
                if (esVisible('#lpdos')) {
                    muestra1('#sinpdos', '#lpdos')
                } else {
                    aceptado('dos')
                    oculta1('#sinpdos', '#lpdos')
                }
            });

            $('#xptres').click(function () {
                const ptres = $('#ptres').val();
                if (ptres == null || ptres == '') {
                    $('#ptres').attr('placeholder', 'Aquí debés completar la idea');
                    return false;
                }
                procesa('tres')
                $('#xptres').toggleClass('fa fa-star-o').toggleClass('fa fa-start');
                if (esVisible('#lptres')) {
                    muestra1('#sinptres', '#lptres')
                } else {
                    aceptado('tres')
                    oculta1('#sinptres', '#lptres')
                }
            });

            $('#xpcuatro').click(function () {
                const pcuatro = $('#pcuatro').val();
                if (pcuatro == null || pcuatro == '') {
                    $('#pcuatro').attr('placeholder', 'Aquí debés completar la idea');
                    return false;
                }
                procesa('cuatro')
                $('#xpcuatro').toggleClass('fa fa-star-o').toggleClass('fa fa-start');
                if (esVisible('#lpcuatro')) {
                    muestra1('#sinpcuatro', '#lpcuatro')
                } else {
                    aceptado('cuatro')
                    oculta1('#sinpcuatro', '#lpcuatro')
                }
            });

        });


        function procesa(p) {
            console.log('p = ' + p)
            if (p === 'central') {
                const pcentral = $('#pcentral').val();
                localStorage.AutenticosPcentral = JSON.stringify(pcentral);
            }

            if (p === 'uno') {
                const puno = $('#puno').val();
                localStorage.AutenticosPuno = JSON.stringify(puno);
            }

            if (p === 'dos') {
                const pdos = $('#pdos').val();
                localStorage.AutenticosPdos = JSON.stringify(pdos);
            }

            if (p === 'tres') {
                const ptres = $('#ptres').val();
                localStorage.AutenticosPtres = JSON.stringify(ptres);
            }

            if (p === 'cuatro') {
                const pcuatro = $('#pcuatro').val();
                localStorage.AutenticosPcuatro = JSON.stringify(pcuatro);
            }

        }

        function aceptado(p) {


            if (p === 'uno') {
                const puno = JSON.parse(localStorage.AutenticosPuno);

                $('#lpuno').addClass('fontTahu fa-2x text-info');
                $('#lpuno').html(puno);
                $('#sinpuno').hide();
            }
            if (p === 'central') {
                console.log('aceptado = ' + p)
                const pcentral = JSON.parse(localStorage.AutenticosPcentral);
                $('#lpcentral').addClass('fontTahu fa-2x text-info');
                $('#lpcentral').html(pcentral);
                $('#lpcentral').show();
                $('#sinpcentral').hide();
            }
            if (p === 'dos') {
                const pdos = JSON.parse(localStorage.AutenticosPdos);

                $('#lpdos').addClass('fontTahu fa-2x text-info');
                $('#lpdos').html(pdos);
                $('#sinpdos').hide();
            }
            if (p === 'tres') {
                const ptres = JSON.parse(localStorage.AutenticosPtres);

                $('#lptres').addClass('fontTahu fa-2x text-info');
                $('#lptres').html(ptres);
                $('#sinptres').hide();
            }
            if (p === 'cuatro') {
                const pcuatro = JSON.parse(localStorage.AutenticosPcuatro);

                $('#lpcuatro').addClass('fontTahu fa-2x text-info');
                $('#lpcuatro').html(pcuatro);
                $('#sinpcuatro').hide();
            }

        }

        /**
         * Comprueba si un elemento es visible o no
         *
         * @param elemento
         */

        function esVisible(elemento) {
            let esVisible = false;
            if ($(elemento).is(':visible') && $(elemento).css("visibility") != "hidden"
                && $(elemento).css("opacity") > 0) {
                esVisible = true;
            }

            return esVisible;
        };

        function muestra1(elemento1, elemento2) {
            $(elemento1).show()
            $(elemento2).hide()
        }

        function oculta1(elemento1, elemento2) {
            $(elemento1).hide()
            $(elemento2).show()
        }


        // Ejecuta la funcion solo si el elemento esta visible

    </script>
{% endblock %}
