{% extends 'base.html.twig' %}

{% block title %}Entrada{% endblock %}

{% block body %}
    <h1>Entrada</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entrada.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entrada.titulo }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ entrada.contenido }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entrada_index') }}">back to list</a>

    <a href="{{ path('entrada_edit', {'id': entrada.id}) }}">edit</a>

    {{ include('entrada/_delete_form.html.twig') }}
{% endblock %}
