{% extends 'base_admin_board.html.twig' %}
{#{% extends 'base_coreui.html.twig' %}#}

{% block title %}Vista {{ entrada.titulo | replace({'<p>':'', '</p>':''}) | raw }}{% endblock %}

{% block nav %}
    {{ include('admin/_nav.html.twig',  {'marca_label': 'entrada'}) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4">
                    <h4>Entrada: <strong class="ml-5"> {{ entrada.titulo }} </strong>
{#                        <small>#}
{#                            Le gustó a:#}
{#                            <span class="js-like-entrada-count">{{ entrada.likes }}</span>#}
{#                            <a href="{{ path('entrada_toggle_like', {id: entrada.id}) }}"#}
{#                               class="fas fa-heart like-entrada js-like-entrada">#}
{#                            </a>#}
{#                        </small>#}
                    </h4>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Imagen</th>
                            <td>
                                <img class="show-article-img"
                                     src="{{ entrada.imagePath|imagine_filter('squared_thumbnail_medium') }}"
                                     alt="{{ base.siteName|default('AlamedaCMS') }}">
                            </td>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <td>{{ entrada.id }}</td>
                            <th>linkRoute</th>
                            <td>{{ entrada.linkRoute }}</td>
                        </tr>
                        <tr>
                            <th>Titulo</th>
                            <td>{{ entrada.titulo }}</td>
                            <th>Autor</th>
                            <td>
                                {{ entrada.autor }} <br/>
                                {{ entrada.autor.email }}
                            </td>
                        </tr>
                        <tr>
                            <th>Contenido</th>
                            <td>{{ entrada.contenido | replace({'<p>':'', '</p>':''}) | raw }}</td>
                        </tr>
                        <tr>
                            <th>Publicado</th>
                            <td>
                                {% if(entrada.publicadoAt | default) %}
                                    {{ entrada.publicadoAt | date('d-m-Y H:i') }}
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            </td>
                        </tr>


                        </tbody>
                    </table>
                    <div class="btn-group bottom-0 justify-content-between border-alameda border-alameda-top border-alameda-bottom pt-1 row ">
                        {% for referencia in entrada.entradaReferences %}
                            <div class="col-sm-12">
                                Link descarga
                                : {{ app.request.host }}{{ path('entrada_download_reference',{'filename': referencia.filename}) }}
                                <br/>
                                <a href="/descargas/referencias/{{ referencia.filename }}"
                                        {# <a href="{{ referencia. }}" #}
                                   target="_blank"
                                   class="card-link text-center">
                                    <i class="far fa-file-pdf ml-5 mr-1"></i>
                                    <span class="text-alameda btn-icon ">Notas</span><br/>
                                </a>
                            </div>
                        {% endfor %}
                        <br/>
                        <div class="col-sm-12">
                            link post: {{ entrada.linkPosting }}
                            <a href="{{ entrada.linkPosting }}" class="card-link text-center"
                               target="_blank">
                                <i class="fab fa-youtube fa-fw mr-1"></i>
                                <span class="text-alameda btn-icon mr-5  ">Video</span><br/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3><i class="pr-3 fa fa-comment"></i>
{#                                {{ entrada.comentariosNoDeleted|length }}#}
                                Nota mensaje (actualmente se agrega como comentario)
                            </h3>
                            {% if(entrada.comentariosNoDeleted) %}
{#                                <div class="row">#}

                                        <div class="comment-container d-inline-block p-0 m-0 align-top col-sm-12">
{#                                            <span class="commenter-name">{{ comentario.autor }}</span>#}

                                            {% include('comentario/nota.html.twig') %}
{#                                            <small>realizado {{ comentario.createdAt|ago }}</small>#}
{#                                            {% if comentario.isDeleted %}#}
{#                                                <span class="fas fa-times-circle text-danger"></span> Borrado#}
{#                                            {% endif %}#}
{#                                            <br/>#}
{#                                            <span class="comment"> {{ comentario.contenido }}</span>#}
                                            <hr class="border-bottom"/>
                                        </div>

{#                                    </div>#}
{#                                </div>#}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-info" href="{{ path('admin_entrada_index') }}">Volver al listado</a>

        <a class="btn btn-outline-warning" href="{{ path('admin_entrada_edit', {'id': entrada.id}) }}">Editar</a>

        {{ include('entrada/_delete_form.html.twig') }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/entrada_show.js') }}"></script>
    <script type="application/javascript">

        $(function () {
            const pcentral= localStorage.getItem("AutenticosPcentral");
            const puno= localStorage.getItem("AutenticosPuno");
            const pdos= localStorage.getItem("AutenticosPdos");
            const ptres= localStorage.getItem("AutenticosPtres");
            const pcuatro= localStorage.getItem("AutenticosPcuatro");
            if (pcentral != null) {
                aceptado('central');
            }if (puno != null) {
                aceptado('uno');
            }if (pdos != null) {
                aceptado('dos');
            }if (ptres != null) {
                aceptado('tres');
            }if (pcuatro != null) {
                aceptado('cuatro');
            }

        });
        $(function () {
            $('#xpcentral').click(function () {
                $('#lpcentral').html('');
                $('#sinpcentral').show();
            });
            $('#xpuno').click(function () {
                $('#lpuno').html('');
                $('#sinpuno').show();
            });
            $('#xpdos').click(function () {
                $('#lpdos').html('');
                $('#sinpdos').show();
            });$('#xptres').click(function () {
                $('#lptres').html('');
                $('#sinptres').show();
            });$('#xpcuatro').click(function () {
                $('#lpcuatro').html('');
                $('#sinpcuatro').show();
            });

        });

        $(function () {
            $('#bcentral').click(function () {
                const pcentral = $('#pcentral').val();
                if (pcentral == null || pcentral == '') {
                    $('#pcentral').attr('placeholder', 'Aquí debés completar la idea');
                    return false;
                }

                localStorage.AutenticosPcentral = JSON.stringify(pcentral);
                let central = 'central';
                aceptado(central)

            });

            $('#buno').click(function () {
                const puno = $('#puno').val();
                if (puno == null || puno == '') {
                    $('#puno').attr('placeholder', 'Aquí debés completar la idea');
                    return false;
                }

                localStorage.AutenticosPuno = JSON.stringify(puno);
                let uno = 'uno';
                aceptado(uno)

            });$('#bdos').click(function () {
                const pdos = $('#pdos').val();
                if (pdos == null || pdos == '') {
                    $('#pdos').attr('placeholder', 'Aquí debés completar la idea');
                    return false;
                }

                localStorage.AutenticosPdos = JSON.stringify(pdos);
                let dos = 'dos';
                aceptado(dos)

            });$('#btres').click(function () {
                const ptres = $('#ptres').val();
                if (ptres == null || ptres == '') {
                    $('#ptres').attr('placeholder', 'Aquí debés completar la idea');
                    return false;
                }

                localStorage.AutenticosPtres = JSON.stringify(ptres);
                let tres = 'tres';
                aceptado(tres)

            });$('#bcuatro').click(function () {
                const pcuatro = $('#pcuatro').val();
                if (pcuatro == null || pcuatro == '') {
                    $('#pcuatro').attr('placeholder', 'Aquí debés completar la idea');
                    return false;
                }

                localStorage.AutenticosPcuatro = JSON.stringify(pcuatro);
                let cuatro = 'cuatro';
                aceptado(cuatro)

            });


        });

        function aceptado(p) {


            if(p === 'uno') {
                const puno = JSON.parse(localStorage.AutenticosPuno);

                $('#lpuno').addClass('fontTahu fa-2x');
                $('#lpuno').html(puno + '         <small id="xpuno">*</small>');
                $('#sinpuno').hide();
            }
            if(p === 'central') {

                const pcentral = JSON.parse(localStorage.AutenticosPcentral);

                $('#lpcentral').addClass('fontTahu fa-2x');
                $('#lpcentral').html(pcentral + '         <small id="xpcentral">*</small>');
                $('#sinpcentral').hide();
            }if(p === 'dos') {
                const pdos = JSON.parse(localStorage.AutenticosPdos);

                $('#lpdos').addClass('fontTahu fa-2x');
                $('#lpdos').html(pdos + '         <small id="xpdos">*</small>');
                $('#sinpdos').hide();
            }if(p === 'tres') {
                const ptres = JSON.parse(localStorage.AutenticosPtres);

                $('#lptres').addClass('fontTahu fa-2x');
                $('#lptres').html(ptres + '         <small id="xptres">*</small>');
                $('#sinptres').hide();
            }if(p === 'cuatro') {
                const pcuatro = JSON.parse(localStorage.AutenticosPcuatro);

                $('#lpcuatro').addClass('fontTahu fa-2x');
                $('#lpcuatro').html(pcuatro + '         <small id="xpcuatro">*</small>');
                $('#sinpcuatro').hide();
            }

        }
    </script>
{% endblock %}