{% extends "admin/bars.html.twig" %}

{% block title %}Edición Simple Entrada {{ entrada.id }} {% endblock %}
{% block contenpage %}
    <h5>Edición parcial Entrada</h5>
    {{ form_start(entradaForm) }}
    <div class="row">
        <div class="col-sm-8 mx-auto">
            {{ form_row(entradaForm.titulo) }}
        </div>

        <div class="col-sm-12">
            {{ form_row(entradaForm.contenido) }}
        </div>
    </div>
    <button class="btn btn-primary btn--pill">{{ button_label|default('Guardar') }}</button>

    {{ form_end(entradaForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('ckeditor5') }}


    <script src="{{ asset('js/admin_entrada_form.js') }}"></script>

{% endblock %}
{% block jslocal %}
    {{ encore_entry_script_tags('summernote') }}
{% endblock %}
