{% extends 'base_coreui.html.twig' %}

{% block title %}Edit Entrada{% endblock %}

{% block body %}

    <h5>Nueva Entrada</h5>

    {{ form_start(entradaForm) }}

    {# {{ form_widget(entradaForm) }} #}
    <div class="row">

        <div class="col-sm-6">
            {{ form_row(entradaForm.titulo) }}
        </div>

        <div class="col-sm-12">
            {{ form_row(entradaForm.contenido) }}
        </div>
    </div>
    <button class="btn btn-primary btn--pill">{{ button_label|default('Guardar') }}</button>

    {{ form_end(entradaForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block jslocal %}
    {{ encore_entry_script_tags('summernote') }}
{% endblock %}