{% extends 'base_coreui.html.twig' %}
{% block title %}Admin Listado Entradas{% endblock %}
{% block nav %}
    {{ include('admin/_nav.html.twig',  {'marca_label': 'entrada'}) }}
{% endblock %}

{% block breadcrumb %}
{{parent()}}
<li class="breadcrumb-item active"><span>Entradas</span></li>
<li class="breadcrumb-item float-end">
<div class="form-group form-inline">
<form action="" method="get">
        <span class="input-group-prepend">
            <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill" type="submit"
            id="btn-search"
            data-id="search-input" >
                    <i class="fa fa-search"></i>
                    </button>

         <input class="form-control border-end-0 border rounded-pill"  type="search"
            value="" id="busq" name="busq" placeholder="Buscar ...">
            </span>
        </label>
        </form>
        </div>
</li>

{%endblock%}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Entradas</h4>
            <p class="card-category">Listado </p>
        </div>
        <div class="card-body">
            <a href="{{ path('admin_entrada_new') }}" class="btn btn-sm btn-primary btn-round">
                Crear Entrada <span class="fa fa-plus-circle"></span>
            </a>
             <a class="btn btn-sm btn-info btn-round" href="{{ path('admin_entrada_new_step1') }}">
                    <i class="fas fa-hand-sparkles"></i> Asistente Crear Entrada
                </a>
            <a href="{{ path('admin_entrada_publicadas') }}" class="btn btn-sm btn-info btn-round">
                Ver Publicados <span class="fa fa-eye"></span>
            </a>
            <div class="text-center align-items-center">
        {{ knp_pagination_render(entradas) }}
    </div>
            <div class="table-responsive sticky-header header-sticky">
                    <table class="table sticky-header" data-toggle="table">
                    <thead class=" text-primary ">
                <tr>
                    <th>
                        Titulo <br/>
                        LinkRoute
                    </th>
                    <th>Sección<br/>
                        Página
                    </th>
                    <th>
                        <i class="fa fa-user-alt"></i>
                        <i class="fa fa-envelope"></i>
                    </th>
                    <th class="text-center"><i class="fa fa-calendar-alt"></i> </th>
                      <th>
                      <i class="fa fa-file-archive"></i>
                        </th>
                    <th>Imagen</th>
                    <th>
                        <i class="fa fa-cogs"> </i>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for entrada in entradas %}
                    <tr>
                        <td>
                           T: {{ entrada.titulo | striptags | raw | u.truncate(20, '...') }}<br/>
                           Lr: <small><i>{{ entrada.linkRoute | u.truncate(20, '...')}}</i></small>
                        </td>
                        <td>
                            {% for section in entrada.sections %}
                            <a href="{{ path('admin_section_show', {'id': section.id}) }}">
                                S: {{ section }}
                                </a>
                                 <br/>
                                {% if section.indexAlamedas is defined %}
                                    {% for index in section.indexAlamedas %}
                                    <a href="{{ path('index_alameda_index') }}">
                                        i: <small><i>{{ index.base }}</i></small>
                                        </a><br/>
                                    {% endfor %}
                                {% endif %}

                                {% if section.principal is defined %}
                                    {% for principal in section.principales %}
                                    <a href="{{ path('principal_show', {'id': principal.id}) }}">
                                      P: <small><i>{{ principal.titulo | replace({'<p>':'', '</p>':''}) | raw | u.truncate(20, '...') }}</i></small>
                                    </a>
                                    <br/>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ entrada.autor }} <br/>
                            {{ entrada.autor.email }}
                        </td>
                        <td class="text-center">
                        {{ entrada.isPermanente ? '<i class="fa fa-check"></i> <br/>' }}
                        {{ entrada.disponibleAt ?'Desde:'~ entrada.disponibleAt | ago : '' }}<br/>
                        {{ entrada.disponibleHastaAt ? 'Hasta:' ~ entrada.disponibleHastaAt | ago : '' }}
                        </td>
                        <td>
                            {% if (entrada.entradaReferences | length > 0)  %}
                            <i class="fa fa-check"></i>
                            {% else %}
                            <i class="fa fa-times"></i>
                            {% endif %}
                        </td>
                        <td>
                        {% if (entrada.imageFilename != null) %}
                            <img class="article-img" alt="{{ base.lema }}"
                                 src="{{ entrada.imagePath|imagine_filter('squared_thumbnail_100') }}">
                            <br/>
                            {{ entrada.imageFilename | u.truncate(20, '...') }}
                            {% else %}
                            No tiene imagen
                            {% endif %}
                        </td>
                        <td class="list-inline">
                            <a href="{{ path('entrada_show', {'id': entrada.id}) }}">
                                <i class="fa fa-eye"></i> Ver
                            </a>
                            <br/>
                            <a href="{{ path('admin_entrada_edit', {'id': entrada.id}) }}">
                                <i class="fa fa-edit"></i> Editar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <a href="{{ path('admin_entrada_new') }}" class="btn btn-sm btn-primary btn-round">
                Crear Entrada <span class="fa fa-plus-circle"></span>
            </a>
            <a href="{{ path('admin_entrada_publicadas') }}" class="btn btn-sm btn-info btn-round">
                Ver Publicados <span class="fa fa-eye"></span>
            </a>
            <div class="text-center align-items-center">
        {{ knp_pagination_render(entradas) }}
    </div>
        </div>
            {% endblock %}
{% block jslocal %}
    {{ parent() }}
    <script>
        $('#entrada').addClass('active');
        // $('#btn-search').click(function(e) {
        //     e.preventDefault();
        //     console.log('s');
        // })
        $( "#btn-search" ).on( "click", function() {
                alert( $( this ).text() );
        });
        $(document).ready(function() {
    $("#btn-search").click(function(e){
        e.preventDefault();
        alert("button");
    });
});
    </script>
{% endblock %}