{% extends 'base_coreui.html.twig' %}
{% block title %} Vista {{ entrada.titulo | striptags | raw }}{% endblock %}

{% block nav %}
    {{ include('admin/_nav.html.twig',  {'marca_label': 'entrada'}) }}
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <span><a href="{{ path('admin') }}">Panel</a></span>
    </li>
    <li class="breadcrumb-item ">
        <span>
            <a href="{{ path('admin_entrada_index') }}">
                Entradas
            </a>
        </span>
    </li>
    <li class="breadcrumb-item active"><span>Detalle</span></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 show-article-container ">
                <h4>Titulo: <strong class="ml-5"> {{ entrada.titulo | striptags }} </strong></h4>
                <small>
                    <a href="{{ path('admin_entrada_edit_complex', {'id': entrada.id}) }}">
                        Editar </a>
                </small>
            </div>
            <hr class="w-100"/>
            <div class="col-sm-3">
                <b>Id</b> <br/>
                {{ entrada.id }}<br/>
                <small><i>{{ entrada.identificador }}</i></small>
            </div>
            <div class="col-sm-3"><b>Autor</b> <br/>
                {{ entrada.autor }} <br/>
                <i>{{ entrada.autor.email }}</i>
            </div>
            <div class="col-sm-3"><b>linkRoute</b> <br/>
                {{ entrada.linkRoute | default('No indicado') }}</div>
            <div class="col-sm-3"><b>linkPosting</b> <br/>
                {{ entrada.linkPosting | default('No indicado') }}<br/>
                <small> ¿Externo? {{ booleano(entrada.isLinkExterno)|raw }} </small>
            </div>
            <hr class="w-100"/>
            <div class="col-sm-3"><b>Publicada</b> <br/>
                {% if(entrada.publicadoAt | default) %}
                    {{ entrada.publicadoAt | date('d-m-Y H:i') }}
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </div>
            <div class="col-sm-3"><b>Creada</b> <br/>
                {% if(entrada.createdAt | default) %}
                    {{ entrada.createdAt | date('d-m-Y H:i') }}
                {% endif %}
            </div>
            <div class="col-sm-3"><b>Actualizada</b> <br/>
                {% if(entrada.updatedAt | default) %}
                    {{ entrada.updatedAt | date('d-m-Y H:i') }}
                {% endif %}
            </div>
            <hr class="w-100"/>
            <div class="col-sm-3"><b>Disponible desde</b> <br/>
                {% if(entrada.disponibleAt | default) %}
                    {{ entrada.disponibleAt | date('d-m-Y H:i') }}
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </div>
            <div class="col-sm-3"><b>Disponible hasta</b> <br/>
                {% if(entrada.disponibleHastaAt | default) %}
                    {{ entrada.disponibleHastaAt | date('d-m-Y H:i') }}
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </div>
            <div class="col-sm-3"><b>Evento</b> <br/>
                {% if(entrada.eventoAt | default) %}
                    {{ entrada.eventoAt | date('d-m-Y H:i') }}
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </div>
            <div class="col-sm-3">
                <b>Permanente</b> <br/>
                <small>{{ booleano(entrada.isPermanente) | raw }}</small>
            </div>

            <hr class="w-100"/>
            <div class="col-sm-3">
                <b>Template</b> <br/>
                {{ entrada.modelTemplate | default('No definido') }}
            </div>
            <div class="col-sm-3">
                <b>CSS</b> <br/>
                {{ entrada.cssClass | default('Sin CSS adicional') }}
            </div>
            <div class="col-sm-3">
                <b>N° Orden</b> <br/>
                {{ entrada.orden | default('Sin orden indicado') }}
            </div>
            <div class="col-sm-3">
                <b>Footer <small>(Texto en botones por ej.)</small></b> <br/>
                {{ entrada.footer | default('No indicado') }}
            </div>
            <hr class="w-100"/>
            <div class="col-sm-4">
                <b>Contactos</b> <br/>
                {% for contato in entrada.contacto %}
                    {{ contacto }}<br/>
                {% else %}
                    No definidos
                {% endfor %}
            </div>
            <div class="col-sm-8">
                <b>Secciones / Principal</b> <br/>
                {% for section in entrada.sections %}

                    <a href="{{ path('admin_section_show', {'id': section.id}) }}"> {{ section }}</a>

                    {% if section.indexAlamedas is defined %}
                        {% for index in section.indexAlamedas %}
                            <a href="{{ path('index_alameda_index') }}">
                                / <small><i>{{ index.base }}</i></small>
                            </a><br/>
                        {% endfor %}
                    {% endif %}

                    {% if section.principal is defined %}
                        {% for principal in section.principales %}
                            <a href="{{ path('principal_show', {'id': principal.id}) }}">
                                / <small><i>{{ principal.titulo |striptags | raw | u.truncate(20, '...') }}</i></small>
                            </a>
                            <br/>
                        {% endfor %}
                    {% endif %}

                {% else %}
                    No incluida
                {% endfor %}
            </div>
            <hr class="w-100"/>
            <div class="col-sm-3">
                <b>Encabezado</b><br/>
                <small>{{ booleano(entrada.encabezado) | raw }}</small>
            </div>
            <div class="col-sm-3">
                <b>Destacado</b><br/>
                <small>{{ booleano(entrada.destacado) | raw }}</small>
            </div>
            <div class="col-sm-3">
                <b>Oculta título</b><br/>
                <small>{{ booleano(entrada.isSinTitulo) | raw }}</small>
            </div>
            <hr class="w-100"/>

            <div class="col-sm-3">
                <b> Imagen</b>
                {% if  entrada.imageFilename %}
                    <img class="show-article-img"
                         src="{{ entrada.imagePath|imagine_filter('squared_thumbnail_small') }}"
                         alt="{{ base.siteName }}">
                {% else %}
                    <h6> Sin imagen </h6>
                {% endif %}
            </div>

            <div class="col-sm-9">
                <b>Contenido</b>
                <small>
                    <a href="{{ path('admin_entrada_edit_complex', {'id': entrada.id}) }}">
                        Editar </a>
                </small><br/>
                <div class="col-sm-10 mx-auto bg-white p-2">
                    {{ entrada.contenido | raw }}
                </div>

            </div>
            <hr class="w-100"/>

        </div>
        <div class="btn-group bottom-0 justify-content-between border-alameda border-alameda-top border-alameda-bottom pt-1 row ">
            {% for referencia in entrada.entradaReferences %}
                <div class="col-sm-12">
                    Link descarga
                    : {{ app.request.host }}{{ path('entrada_download_reference',{'filename': referencia.filename}) }}
                    <br/>
                    <a href="/descargas/referencias/{{ referencia.filename }}"
                            {# <a href="{{ referencia. }}" #}
                       target="_blank"
                       class="card-link text-center">
                        <i class="far fa-file-pdf ml-5 mr-1"></i>
                        <span class="text-alameda btn-icon ">Notas</span><br/>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% if(entrada.comentariosNoDeleted) %}
                    <div class="comment-container d-inline-block p-0 m-0 align-top col-sm-12">
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-info col-sm-4" href="{{ path('admin_entrada_index') }}">Volver al listado</a>
                <a class="btn btn-warning col-sm-4"
                   href="{{ path('admin_entrada_edit', {'id': entrada.id}) }}">Editar</a>
                <div class="col-sm-4">
                    {{ include('admin/entrada/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
        <hr class="w-100"/>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/entrada_show.js') }}"></script>
{% endblock %}