{% if(entrada.publicadoAt is not null) %}
    <div class="col-md-4 mb-2 mx-auto   ">
        <!--                                        <div class="card h-100"> -->
        <div class="card card-a h-100 overflow-hidden">
            <div class="position-relative">
                <img src="{{ entrada.imagePath|imagine_filter('squared_thumbnail_medium') }}"
                     class="card-img-top img-modal"
                     data-bs-toggle="modal" data-bs-target="#modal-02"
                     alt="{{ base.lema }}">
            </div>
            <div class="card-body position-relative mt-n6 mx-2 bg-white text-center rounded border border-light u-box-shadow-lg">
                <h5 class="card-title text-uppercase">
                    {{ entrada.titulo | striptags | raw }}
                </h5>
                <div class="middle-0">
                    <i class="fas fa-quote-left mr-5"></i><br/>
                    {{ entrada.contenido | replace({'<p>':'', '</p>':'<br/>'}) | raw }}
                    <i class="fas fa-quote-right ml-5"></i>
                </div>
                <div class="btn-group bottom-0 justify-content-between border-alameda border-alameda-top border-alameda-bottom pt-1 ">
                    {% for referencia in entrada.entradaReferences %}
                        <a href="/descargas/referencias/{{ referencia.filename }}"
                                {# <a href="{{ referencia. }}" #}
                           target="_blank"
                           class="card-link text-center">
                            <i class="far fa-file-pdf ml-5 mr-1"></i>
                            <span class="text-alameda btn-icon ">Notas</span><br/>
                        </a>
                    {% endfor %}
                    <a href="{{ entrada.linkPosting }}" class="card-link text-center"
                       target="_blank">
                        <i class="far fa-hand-point-right fa-fw mr-1"></i>
                        <span class="text-alameda btn-icon mr-5  ">
                                                 {{ entrada.footer | default('Video') }}
                                                </span><br/>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}