<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-izq text-600">
                TOMÁS EL…
            </h4>
            <p class="text-14-300 font-italic pl-4">
                "Tomás, uno de los doce discípulos (al que apodaban el Gemelo), no estaba con los otros cuando llegó
                Jesús. Ellos le contaron: ¡Hemos visto al Señor! Pero él respondió: No lo creeré a menos que vea las
                heridas de los clavos en sus manos, meta mis dedos en ellas y ponga mi mano dentro de la herida de su
                costado."
                <br/>
                <small class="float-end">
                    Juan 20:24-25 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Mientras hablaba, les mostró las heridas de sus manos y su costado. ¡Ellos se llenaron de alegría
                cuando vieron al Señor!"
                <br/>
                <small class="float-end">
                    Juan 20:20 (NTV).
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Tomás, al que apodaban el Gemelo, les dijo a los otros discípulos: «Vamos nosotros también y moriremos
                con Jesús»."
                <br/>
                <small class="float-end">
                    Juan 11:16 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                COMO JESÚS NOS DEVUELVE LA FE.
            </h4>
            <h5 class="text-izq">
                1. NO TE {{ completa_lugar('uno') | raw }}.
            </h5>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                "Ocho días después, los discípulos estaban juntos de nuevo, y esa vez Tomás se encontraba con ellos."
                <br/>
                <small class="float-end">
                    Juan 20:26 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Donde se reúnen dos o tres en mi nombre, yo estoy allí entre ellos."
                <br/>
                <small class="float-end">
                    Mateo 18:20 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                2. EXPERIMENTA {{ completa_lugar('dos') | raw }} SIN LÍMITES
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Las puertas estaban bien cerradas; pero de pronto, igual que antes, Jesús estaba de pie en medio de
                ellos y dijo: «La paz sea con ustedes». Entonces le dijo a Tomás: Pon tu dedo aquí y mira mis manos;
                mete tu mano en la herida de mi costado. Ya no seas incrédulo. ¡Cree! ¡Mi Señor y mi Dios! —exclamó
                Tomás."
                <br/>
                <small class="float-end">
                    Juan 20:26-28 (NTV)
                </small>
            </p>

            <ul class="text-izq">
                <li>Satisface una necesidad {{ completa_lugar('tres') | raw}}.</li>
                <li>Responde a una necesidad {{ completa_lugar('cuatro') | raw}}.</li>
                <li>Responde a una necesidad {{ completa_lugar('cinco') | raw}}.</li>
            </ul>

            <h5 class="text-izq">
                3. DEJA QUE TUS HERMANOS {{ completa_lugar('seis') | raw}}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Compartan las cargas y los problemas de los demás, porque así estarán obedeciendo el mandato de nuestro Señor.  El que se crea demasiado grande para rebajarse a esto, está engañándose, porque su misma actitud demuestra su bajeza."
                <br/>
                <small class="float-end">
                    Gálatas 6:2-3 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "SEÑOR, tú sabes lo que me sucede. Por favor, ayúdame. .. ¿Por qué, entonces, continúa mi sufrimiento? ¿Por qué es incurable mi herida? .. Esto responde el SEÑOR: Si regresas a mí te restauraré..!"
                <br/>
                <small class="float-end">
                    Jeremías 15:15-19 (NTV)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
