<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        Recupera tu Pasión
        <br/>
        <small>
            Serie: Sé positivo - Parte 5
        </small>
    </h3>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                ¿QUE ES ENTUSIASMO?
            </h4>
            <strong>
                ❖ Entusiasmo {{ completa_lugar('uno') | raw}} .
            </strong>
            <p>
                El verdadero entusiasmo
            </p>
            <strong>
                ❖ {{ completa_lugar('dos') | raw}} ❖ {{ completa_lugar('tres') | raw}} NACE EN
                {{ completa_lugar('cuatro') | raw}}
            </strong>

            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "¡Pero gracias a Dios! Él nos da la victoria sobre el pecado y la muerte por medio de nuestro
                Señor Jesucristo.<br/>
                Por lo tanto, mis queridos hermanos, permanezcan fuertes y constantes. Trabajen siempre para el
                Señor con entusiasmo, porque ustedes saben que nada de lo que hacen para el Señor es inútil.
                "
                <br/>
                <small class="float-right">
                    1° Corintios 15:57-58
                </small>
            </p>
            <p>
                “Lo que hacemos no es significativo, sino para quien lo hacemos.”
            </p>
            <strong>
                TODO LO QUE HAGAMOS, POCO O MUCHO, {{ completa_lugar('cinco') | raw}}.
            </strong>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                David fue un apasionado por Dios
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "David le respondió al filisteo: tú vienes a mí con espada lanza y jabalina, pero yo vengo contra ti
                en el nombre del Señor de los Ejércitos Celestiales, el Dios de los ejércitos de Israel a quien tú
                has desafiado. <br/>
                Hoy el Señor te conquistará y te mataré y te cortaré la cabeza. Y luego daré los cadáveres de tus
                hombres a las aves y a los animales salvajes, ¡todo el mundo sabrá que hay un Dios en Israel!"
                <br/>
                <small class="float-right">
                    1° Samuel 17:45-46
                </small>
            </p>
            <p>
                La declaración de David no viene de la confianza humana o las circunstancias favorables. <br/>
                Es una declaración cruda e incomparable de alguien que conoce a Dios que ha pasado tiempo con Él.
            </p>
            <div>
                De donde saco David esa pasión<br/>
                <ul>
                    <li> Confiaba en Dios {{ completa_lugar('seis') | raw}}</li><br/>
                    <li> Caminaba con {{ completa_lugar('siete') | raw}} </li><br/>
                    <li> Adoraba a Dios {{ completa_lugar('ocho') | raw}}</li>
                </ul>
                <strong>
                    LA CLAVE ES .... <br/>
                    <span class="ml-3 pl-3">{{ completa_lugar('nueve') | raw}}</span>
                </strong>
            </div>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                Pero llego un momento en el que perdió esa pasión
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "En la primavera, cuando los reyes suelen salir a la guerra, David envió a Joab y al ejército
                israelita a pelear contra los amonitas. Destruyeron al ejército amonita y sitiaron la ciudad de Raba.
                Sin embargo, David se quedó en Jerusalén."
                <br/>
                <small class="float-right">
                    2 Samuel 11:1
                </small>
            </p>
            <strong>
                DAVID SE QUEDO EN CASA….
            </strong>
            <br/>
            <p>
                Cuando no estaba donde debía estar, haciendo lo que debía, hizo lo que no tenía que hacer <br/>
                ...conocemos la historia… terraza<br/>
                Todo comenzó cuando dejo de pasar tiempo con Dios.
            </p>
            <strong>
                ¿COMO LA PERDIO?
            </strong>
            <br/>
            <p>
                Quito sus ojos de {{ completa_lugar('diez') | raw}} y los puso en {{ completa_lugar('once') | raw}}
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                Dios nos llama a recuperar la Pasión
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                " Pero tengo una queja en tu contra. ¡No me amas a mí ni se aman entre ustedes como al principio!
                ¡Mira hasta dónde has caído! Vuélvete a mí y haz las obras que hacías al principio.
                Si no te arrepientes, vendré a ti y quitaré tu candelabro de su lugar entre las iglesias."
                <br/>
                <small class="float-right">
                    Apocalipsis 2:4-5
                </small>
            </p>
            <p>
                No les dijo que no lo amaban… {{ completa_lugar('doce') | raw}}.
            </p>
            <strong>
                Volvamos en ese lugar donde perdimos nuestro entusiasmo por Dios.
            </strong>
        </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
