<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Esperanza frustrada enferma el corazón”
                <br/>
                <small class="float-end">
                    Proverbios 13:12 (BJ3)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Mis días van pasando, mis planes se frustran junto con los anhelos de mi corazón.”
                <br/>
                <small class="float-end">
                    Job 17:11
                </small>
            </p>
            <h4 class="text-izq text-600">
                1. DIOS {{ completa_lugar('uno') | raw }} NUESTRA FRUSTRACIÓN.
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “Labán tenía dos hijas. La mayor se llamaba Lea, y la menor se llamaba Raquel. No había brillo en los
                ojos de Lea, pero Raquel tenía una hermosa figura y una cara bonita. ... Jacob estaba enamorado de
                Raquel.”
                <br/>
                <small class="float-end">
                    Génesis 29:16-18 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Cuando el SEÑOR vio que Lea no era amada, le concedió que tuviera hijos, pero Raquel no podía
                concebir.”
                <br/>
                <small class="float-end">
                    Génesis 29:31 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Una vez más Lea quedó embarazada y dio a luz otro hijo, a quien llamó <u>Judá</u>, porque dijo: «¡Ahora
                alabaré al SEÑOR!».”
                <br/>
                <small class="float-end">
                    Génesis 29:35
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Cuando Raquel vio que no podía darle hijos a Jacob, tuvo celos de su hermana. Le rogaba a Jacob: ¡Dame
                hijos o moriré!”
                <br/>
                <small class="float-end">
                    Génesis 30:1-2
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Mantente siempre en el temor del Señor. Lo cierto es que hay un futuro, y tu esperanza no se verá
                frustrada.”
                <br/>
                <small class="float-end">
                    Proverbios 23:17b-18 (RVC)
                </small>
            </p>
            <h4 class="text-izq text-600">
                2. DIOS USA LA FRUSTRACIÓN PARA {{ completa_lugar('dos') | raw }} NUESTRO CORAZÓN.
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “Jesús y sus discípulos llegaron a cierta aldea donde una mujer llamada Marta los recibió en su casa. Su
                hermana María se sentó a los pies del Señor a escuchar sus enseñanzas, pero Marta estaba distraída con
                los preparativos para la gran cena.”
                <br/>
                <small class="float-end">
                    Lucas 10:38-39 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Entonces se acercó a Jesús y le dijo: Maestro, ¿no te parece injusto que mi hermana esté aquí sentada
                mientras yo hago todo el trabajo? Dile que venga a ayudarme.”
                <br/>
                <small class="float-end">
                    Lucas 10:40 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “ –Marta, Marta, estás preocupada y te inquietas por demasiadas cosas, pero <u>solo una cosa es
                    necesaria</u>.
                María ha escogido la mejor parte, y nadie se la va a quitar.”
                <br/>
                <small class="float-end">
                    Lucas 10:41-42 (DHH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Aliméntame con tu palabra, y viviré; ¡no permitas que se frustre mi esperanza!”
                <br/>
                <small class="float-end">
                    Salmos 119:116 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Pero los planes del SEÑOR se mantienen firmes para siempre; <u>sus propósitos nunca serán
                    frustrados</u>.”
                <br/>
                <small class="float-end">
                    Salmos 33:11 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                3. DIOS USA LA FRUSTRACIÓN PARA REVELAR {{ completa_lugar('tres') | raw }}
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “—¡Pero es que yo no sé hablar bien! Siempre que hablo, se me traba la lengua, y por eso nadie me hace
                caso. Este problema lo tengo desde niño.”
                <br/>
                <small class="float-end">
                    Éxodo 4:10 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “En tres ocasiones distintas, le supliqué al Señor que me la quitara. “Cada vez él me dijo: «Mi gracia
                es todo lo que necesitas; mi poder actúa mejor en la debilidad».”
                <br/>
                <small class="float-end">
                    2 Corintios 12:8-9a (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                4. DIOS USA LA FRUSTRACIÓN PARA DARNOS {{ completa_lugar('cuatro') | raw }}.
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “El Señor le dijo a Samuel: <u>¿Cuánto tiempo vas a quedarte llorando</u> por Saúl, si <u>ya lo he
                    rechazado</u> como rey de Israel?
                <br/>
                <small class="float-end">
                    1° Samuel 16:1a (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Mejor llena de aceite tu cuerno, y ponte en camino. Voy a enviarte a <u>Belén</u>, a la casa de Isaí,
                pues he escogido como rey a uno de sus hijos.”
                <br/>
                <small class="float-end">
                    1° Samuel 16:1b (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “El siguiente es un registro de los antepasados de Jesús el Mesías, … Abraham fue el padre de Isaac.
                Isaac fue el padre de Jacob. <u>Jacob fue el padre de Judá y de sus hermanos… Judá</u> fue el padre de
                Fares… José, esposo de María. María dio a luz a Jesús, <u>quien es llamado el Mesías</u>.”
                <br/>
                <small class="float-end">
                    Mateo 1:15-16 (NTV)
                </small>
            </p>
            <br/>
            <p class="text-14-300 font-italic pl-4 text-center">
                “La creación… fue sometida a la frustración….<br/>
                Pero queda la firme esperanza…<br/>
                la gloriosa libertad de los hijos de Dios.”<br/>

                <br/>
                <small class="float-end">
                    Romanos 8:19-21 (NVI)
                </small>
            </p>


        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
