<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                "Así que yo les digo: Pidan, y se les dará; busquen, y encontrarán; llamen, y se les abrirá la puerta.
                Porque todo el que pide, recibe; el que busca, encuentra; y al que llama, se le abre. "¿Quién de ustedes
                que sea padre, si su hijo le pide un pescado, le dará en cambio una serpiente?"
                <br/>
                <small class="float-end">
                    Lucas 11:9-11 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Pues si ustedes… saben dar cosas buenas a sus hijos, ¡cuánto más el Padre celestial dará el Espíritu
                Santo a quienes se lo pidan!"
                <br/>
                <small class="float-end">
                    Lucas 11:13 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                El Espíritu Santo es {{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "En el principio, Dios creó los cielos y la tierra. La tierra no tenía forma y estaba vacía, y la
                oscuridad cubría las aguas profundas; y el Espíritu de Dios se movía en el aire sobre la superficie de
                las aguas. Entonces Dios dijo: «Que haya luz»; y hubo luz."
                <br/>
                <small class="float-end">
                    Génesis 1:1-3 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                "Y yo le pediré al Padre, y él les dará otro Consolador para que los acompañe siempre: el Espíritu de
                verdad, a quien el mundo no puede aceptar porque <u>no lo ve ni lo conoce</u>. Pero ustedes sí lo
                conocen, porque <u>vive con ustedes y estará en ustedes</u>."
                <br/>
                <small class="float-end">
                    Juan 14:16-17 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                El Espíritu Santo es el amigo más íntimo que puedas tener.
            </h5>
            <h4 class="text-centrado text-600">
                ¿Por qué no experimentamos Su Presencia?
            </h4>
            <h5 class="text-izq text-600">
                Nos perdemos su presencia por {{ completa_lugar('dos') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Mientras Apolos estaba en Corinto, Pablo viajó por las regiones del interior hasta que llegó a Éfeso,
                en la costa, donde encontró a varios creyentes. ¿Recibieron el Espíritu Santo cuando creyeron? —les
                preguntó. No —contestaron—, ni siquiera hemos oído que hay un Espíritu Santo.
                <br/>
                <small class="float-end">
                    Hechos 19:1-2 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Nos perdemos su presencia por {{ completa_lugar('tres') | raw }}
            </h5>
            <h6 class="text-izq text-600">
                1. Lo {{ completa_lugar('cuatro') | raw }} cerrando nuestros oídos.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-center">
                "¡Tercos, duros de corazón y torpes de oídos! Ustedes son iguales que sus antepasados: ¡Siempre resisten
                al Espíritu Santo!"
                <br/>
                <small class="float-end">
                    Hechos 7:51 (NVI)
                </small>
            </p>
            <h6 class="text-izq text-600">
                2. Lo {{ completa_lugar('cinco') | raw }} con nuestro estilo de vida.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-center">
                "No entristezcan al Espíritu Santo de Dios con la forma en que viven."
                <br/>
                <small class="float-end">
                    Efesios 4:30 (NTV)
                </small>
            </p>

            <h6 class="text-izq text-600">
                2. Lo {{ completa_lugar('seis') | raw }} por temor.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-center">
                "No apaguen el Espíritu, no desprecien las profecías,"
                <br/>
                <small class="float-end">
                    1 Tesalonicenses 5:19-20 (NVI)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                ¿Quién quiere ser lleno del Espíritu Santo?
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Jesús se puso de pie y gritó a la multitud: «¡Todo el que tenga sed puede venir a mí! ¡Todo el que crea
                en mí puede venir y beber! Pues las Escrituras declaran: “De su corazón, brotarán ríos de agua viva”».
                (Con la expresión «agua viva», se refería al Espíritu, el cual se le daría <u>a todo el que creyera en
                    él</u>…)."
                <br/>
                <small class="float-end">
                    Juan 7:37-39 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Todos fueron llenos del Espíritu Santo y comenzaron a hablar en diferentes lenguas, según el Espíritu les concedía expresarse."
                <br/>
                <small class="float-end">
                    Hechos 2:4 (NVI)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “<b>Estoy firmemente convencido</b> de que aquel que comenzó en ustedes la buena obra <b>la #}
            {#                        completará</b> hasta el Día de Cristo Jesús.” #}
            {#                    <br/> #}
            {#                    Filipenses 1:6 (BPD) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
