<div class="col-sm-12">
    <h3>
        ¡NO SOY UNA VÍCTIMA!
        <br/>
        <small>
            Serie: Oye el Ruido de rotas cadenas – Parte 5
        </small>
    </h3>
    <br/>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Porque han tenido que sufrir el doble de lo que se merecían,… Por eso recibirán doble porción de riquezas y
        para siempre vivirán felices»."
        <br/>
        <small class="float-right">
            Isaías 61:7 (TLA)
        </small>
    </p>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <strong>
            1.  {{ completa_lugar('uno') | raw}} victimizarte pase lo que pase.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El faraón les dijo: –¿Podremos encontrar otro hombre como este, que tenga el espíritu de Dios? y a José
            le dijo:…  Mira, yo te nombro gobernador de todo el país de Egipto."
            <br/>
            <small class="float-right">
                Génesis 41:38-41 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Si lo ha determinado el Señor Todopoderoso, ¿quién podrá impedirlo? Si él ha extendido su mano,
            ¿quién podrá detenerla?"
            <br/>
            <small class="float-right">
                Isaías 14:27 (NVI)
            </small>
        </p>
        <br/>
        <strong>
            2. Decidí una {{ completa_lugar('dos') | raw}} de conquista.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "… ¿No sería mejor que volviéramos a Egipto?"
            <br/>
            <small class="float-right">
                Números 14:3 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Toda mujer israelita pedirá… toda clase de objetos de plata y de oro, y prendas costosas. Con estos
            vestirán a sus hijos e hijas..."
            <br/>
            <small class="float-right">
                Éxodo 3:22 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            3.  Viví como {{ completa_lugar('tres') | raw}}.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Jesús le contestó -No tienes ninguna autoridad sobre mí a menos que te la haya dado Dios.”
            <br/>
            <small class="float-right">
                Juan 19:10-12 (PDT)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Nadie me quita la vida, sino que la doy libremente. Tengo el derecho de darla y de recibirla de nuevo."
            <br/>
            <small class="float-right">
                Juan 10:18 (PDT)
            </small>
        </p>
        <br/>
        <strong>
            4.  {{ completa_lugar('cuatro') | raw}} tu vida al Redentor.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Si el Hijo los hace libres, ustedes serán verdaderamente libres."
            <br/>
            <small class="float-right">
                Juan 8:36 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pues ustedes no han recibido un espíritu de esclavitud…, sino el Espíritu que los hace hijos de Dios.
            Por este Espíritu nos dirigimos a Dios, diciendo: "¡Abbá! ¡Padre!"
            <br/>
            <small class="float-right">
                Romanos 8:15 (DHH)
            </small>
        </p>
        <br/>
        <br/>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
