<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">


            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}

            <h4 class="text-izq text-600">
                A la Familia de fe, la Iglesia se la conoce como: La Comunidad de la fe, la Comunidad de los creyentes,
                la Comunidad del Espíritu, se la conoce como la Familia de Dios; y se la llama el Cuerpo de Cristo.
            </h4>

            <h5 class="text-izq text-600">
                Esto solo sucede cuando nos {{ completa_lugar('uno') | raw }}.
            </h5>


            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Así como nuestro cuerpo tiene muchas partes y cada parte tiene una función específica, el cuerpo de
                Cristo también. Nosotros somos las diversas partes de un solo cuerpo y nos pertenecemos unos a otros.”
                <br/>
                <small class="float-start">
                    Romanos 12:4-5 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Yo soy el camino, y la verdad, y la vida; …”
                <br/>
                <small class="float-start">
                    Juan 14:6 (RV60)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                ¿Cómo Ser Parte De La Familia De Dios?
            </h4>

            <h5 class="text-izq text-600">
                1. El Que Ama, {{ completa_lugar('dos') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Maestro, ¿cuál es el mandamiento más importante en la ley de Moisés?<br/>
                Jesús contestó: “Ama al Señor tu Dios con todo tu corazón, con toda tu alma y con toda tu mente”. Este
                es el primer mandamiento y el más importante.”
                <br/>
                <small class="float-start">
                    Mateo 22:36-37 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Dedico Cada Fin De Semana a {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Y no dejemos de congregarnos, como lo hacen algunos, sino animémonos unos a otros, ….”
                <br/>
                <small class="float-start">
                    Hebreos 10:25 (NTV) (a)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Sumarte a {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Todos los creyentes estaban juntos y tenían todo en común: vendían sus propiedades y posesiones, y
                compartían sus bienes entre sí según la necesidad de cada uno. No dejaban de reunirse unánimes en el
                Templo ni un solo día.<br/>
                <u>De casa en casa</u> partían el pan y compartían la comida con alegría y generosidad, alabando a Dios
                y disfrutando de la estimación general del pueblo. Y cada día el Señor añadía al grupo los que iban
                siendo salvos.”
                <br/>
                <small class="float-start">
                    Hechos 2:44-47 (NVI)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cada uno debe velar no solo por sus propios intereses, sino también por los intereses de <u>los
                    demás</u>.”
                <br/>
                <small class="float-start">
                    Filipenses 2:4 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Sigan amándose unos a otros fraternalmente.”
                <br/>
                <small class="float-start">
                    Hebreos 13:1 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Dar {{ completa_lugar('cinco') | raw }} Juntos.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “… Quiero estar seguro de que todos ustedes viven muy unidos y se ponen de acuerdo en todo, y que <u>luchan
                    unidos por anunciar la buena noticia</u>.”
                <br/>
                <small class="float-start">
                    Filipenses. 1:27 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pues Dios amó tanto al mundo que dio a su único Hijo, para que todo el que crea en él no se pierda,
                sino que tenga vida eterna.”
                <br/>
                <small class="float-start">
                    Juan 3:16 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “Teníamos una deuda porque no cumplimos las leyes de Dios. La cuenta de cobro tenía todos los cargos #}
            {#                    contra nosotros, pero <b>Dios nos perdonó la deuda y clavó la cuenta en la cruz</b>.”<br/> #}
            {#                    Colosenses 2:14 (PDT) #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}

            {#                </div> #}

            {#                <div class="col-12 mx-auto text-left"> #}
            {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
            {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
            {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
            {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
            {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
            {#                    </h6> #}
            {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
            {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
