<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-centrado text-600">
                Nos comprometemos:
            </h4>
            <div class="col-sm-10 row">
                <div class="col-sm-8 ">
                    <ol>
                        <li> Buscaremos a Dios.</li>
                        <li> Pelearemos de manera limpia.</li>
                        <li><b>Nos divertiremos juntos.</b></li>
                        <li> Nos mantendremos puros.</li>
                        <li> Nunca nos rendiremos.</li>
                    </ol>
                </div>
            </div>

            <p class="text-14-300 font-italic pl-4 text-center">
                Goza de la vida con la mujer amada cada día de la fugaz existencia que Dios te ha dado en este mundo.
                <br/>
                <small class="float-end">
                    Eclesiastés 9:9 (NVI)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                TRES NIVELES DE DIVERSIÓN QUE UNA PAREJA NECESITA DISFRUTAR
            </h4>
            <h5 class="text-izq text-600">
                1. L{{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Ven, amado mío; vayamos a los campos, pasemos la noche entre los azahares. Vayamos temprano a los
                viñedos, para ver si han retoñado las vides, si sus pimpollos se han abierto.
                <br/>
                <small class="float-end">
                    Cantares 7:11-12a (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. C{{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Cual manzano entre los árboles del bosque es mi amado entre los hombres. Me encanta sentarme a su
                sombra; dulce a mi paladar es su fruto.
                <br/>
                <small class="float-end">
                    Cantares 2:3 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Paloma mía, que te escondes en las grietas de las rocas, en las hendiduras de las montañas, muéstrame tu
                rostro, déjame oír tu voz; pues tu voz es placentera y hermoso tu semblante.
                <br/>
                <small class="float-end">
                    Cantares 2:14 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. O{{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Vayamos temprano a los viñedos [...] <b>¡Allí te brindaré mis caricias!</b>
                <br/>
                <small class="float-end">
                    Cantares 7:12 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                ¡Ah, princesa mía, cuán bellos son tus pies en las sandalias! Las curvas de tus caderas son como alhajas
                labradas por hábil artesano. Tu ombligo es una copa redonda, rebosante de buen vino. Tu vientre es un
                monte de trigo rodeado de azucenas. Tus pechos parecen dos cervatillos, dos crías mellizas de gacela
                [...] Cuán bella eres, amor mío, ¡cuán encantadora en tus delicias!
                <br/>
                <small class="float-end">
                    Cantares 7:1-3 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                No se nieguen el uno al otro, a no ser de común acuerdo, y sólo por un tiempo, para dedicarse a la
                oración.
                <br/>
                <small class="float-end">
                    1 Corintios 7:5 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                ¡Recuerda de dónde has caído! Arrepiéntete y vuelve a practicar las obras que hacías al principio. Si no
                te arrepientes, iré y quitaré de su lugar tu candelabro.
                <br/>
                <small class="float-end">
                    Apocalipsis 2:5 (NVI)
                </small>
            </p>

            <div class="col-sm-10 row">

                <div class="col-sm-4 ">
                    <img src="{{ asset('images/series/03-DIVERTIRSE-WTITLE') }}" alt="Diviértanse Juntos"
                         class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
