<style>
    .nota-style {
        border: 2px solid #b5f2f2; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        ALEGRÍA INDECLINABLE
        <br/>
        <small>
            Serie: Social Ed. - Parte 2
        </small>
    </h3>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "La clase de fruto que el Espíritu Santo produce en nuestra vida es: amor, alegría…,"
                <br/>
                <small class="float-right">
                    Gálatas 5:22 (NTV)
                </small><br/>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                3 LADRONES DE LA ALEGRÍA EN LAS RELACIONALES.
            </h4>
            <strong>
                1. {{ completa_lugar('uno') | raw }}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "¿De dónde vienen todos los conflictos y peleas que hay entre ustedes? Vienen de ustedes mismos, de sus
                deseos egoístas que siempre están librando una guerra en su interior. … Por eso discuten y pelean."
                <br/>
                <small class="float-right">
                    Santiago 4:1-2 (PDT)
                </small>
            </p>
            <strong>
                2. {{ completa_lugar('dos') | raw }}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Cuídense de que nadie deje de alcanzar la gracia de Dios; de que ninguna raíz de amargura, brotando,
                cause dificultades y por ella muchos sean contaminados."
                <br/>
                <small class="float-right">
                    Heb. 12:15 (NBLH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El tonto que daña a su familia acaba perdiéndolo todo."
                <br/>
                <small class="float-right">
                    Pr. 11:29 (TLA)
                </small>
            </p>
            <strong>
                3. {{ completa_lugar('tres') | raw }}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "...La persona que ama no tiene miedo. Donde hay amor no hay temor. Al contrario, el verdadero amor
                quita el miedo"
                <br/>
                <small class="float-right">
                    1 Juan 4:18 (TLA)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4>
                EL REGALO DE UNA ALEGRÍA TENAZ
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "La clase de fruto que el Espíritu Santo produce en nuestra vida es: amor, alegría…,"
                <br/>
                <small class="float-right">
                    Gálatas 5:22 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Nadie podrá arrebatarles la alegría."
                <br/>
                <small class="float-right">
                    Juan 16:22 (BAD)
                </small>
            </p>
            <br/>
            <h4>
                COMO PROTEGER TU ALEGRÍA.
            </h4>
            <strong>
                1. ENFOCATE EN {{ completa_lugar('cuatro') | raw }} EN LUGAR DE RECIBIR.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Hay más dicha en dar que en recibir."
                <br/>
                <small class="float-right">
                    Hechos 20:35 (NVI)
                </small>
            </p>
            <strong>
                2. ENFOCATE EN {{ completa_lugar('cinco') | raw }} EN LUGAR DE HERIR.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Sean comprensivos con las faltas de los demás y perdonen a todo el que los ofenda. Recuerden que el
                Señor los perdonó a ustedes, así que ustedes deben perdonar a otros."
                <br/>
                <small class="float-right">
                    Colosenses 3:13 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Podemos sentirnos felices aun cuando tenemos sufrimientos porque los sufrimientos nos enseñan a ser
                pacientes."
                <br/>
                <small class="float-right">
                    Rom. 5:3-4 (PDT)
                </small>
            </p>
            <strong>
                3. ENFOCATE EN {{ completa_lugar('seis') | raw }} EN LUGAR DE TUS PROBLEMAS.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Confía en Dios en todo momento; dile lo que hay en tu corazón, porque él es nuestro refugio."
                <br/>
                <small class="float-right">
                    Salmos 62:8 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Pero cuando siento miedo, pongo toda mi confianza en ti."
                <br/>
                <small class="float-right">
                    Salmos 56:3 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Estén siempre llenos de alegría en el Señor. Lo repito, ¡alégrense!"
                <br/>
                <small class="float-right">
                    Filipenses 4:4 (NTV)
                </small>
            </p>
            <br/>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4>
                ¿CÓMO ES POSIBLE ALEGRARSE EN MEDIO DE CIRCUNSTANCIAS DIFÍCILES?
            </h4>
            <strong>
                1. Puedo alegrarme a pesar de mis circunstancias, porque {{ completa_lugar('siete') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Cuando cruces las aguas, yo estaré contigo; cuando cruces los ríos, no te cubrirán sus aguas;
                cuando camines por el fuego, no te quemarás ni te abrasarán las llamas!"
                <br/>
                <small class="float-right">
                    Is. 43:2 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Hay mucha alegría en tu presencia"
                <br/>
                <small class="float-right">
                    Salmos 16:11 (PDT)
                </small>
            </p>
            <strong>
                2. Puedo alegrarme porque {{ completa_lugar('ocho') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                (Dios dice) "¡Llámame cuando tengas problemas! Yo vendré a salvarte, y tú me darás alabanza»."
                <br/>
                <small class="float-right">
                    Salmos 50:15 (TLA)
                </small>
            </p>
            <strong>
                3. Puedo alegrarme porque {{ completa_lugar('nueve') | raw }}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "¿Por qué tengo que estar tan angustiado y sufrir tanto? Confiaré en Dios y le agradeceré por
                haberme salvado."
                <br/>
                <small class="float-right">
                    Salmos 43:5 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Pidan en mi nombre y recibirán y tendrán alegría en abundancia."
                <br/>
                <small class="float-right">
                    Juan 16:24 (NTV)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4>HOY ES EL DÍA!</h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Este es el día en que el Señor ha obrado; ¡Alegrémonos y seamos felices en él!"
                <br/>
                <small class="float-right">
                    Salmos 118:24 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Aunque la higuera no dé fruto ni la viña produzca uvas; aunque la cosecha del olivo se dañe, y los
                campos no produzcan alimento;… así y todo, yo me alegraré en el Señor, el Dios que me salva. El Señor
                Dios me fortalece, afirma mis pies…  para que yo camine en las alturas."
                <br/>
                <small class="float-right">
                    Habacuc 3:17-19 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Debido a la alegría que le esperaba, Jesús soportó la cruz, ... Ahora está sentado en el lugar de
                honor, junto al trono de Dios."
                <br/>
                <small class="float-right">
                    Hebreos 12:2
                </small>
            </p>
            <br/>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
