<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}


            <p class="text-14-300 font-italic pl-4 text-centrado">
                “El que pide prestado se hace esclavo del prestamista.”
                <br/>
                <small class="float-start">
                    Proverbios 22:7 (TLA)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Señales de peligro de caer en la trampa de las deudas
            </h4>


            <h5 class="text-izq text-600">
                1. VIVÍS DEL {{ completa_lugar('uno') | raw }} EN VEZ DE PAGAR EN EFECTIVO.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No niegues el bien a quien se le debe, Cuando esté en tu mano el hacerlo. No digas... mañana te lo
                daré…”
                <br/>
                <small class="float-start">
                    Proverbios 3:27-28 (NBLH)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. POSTERGAS {{ completa_lugar('dos') | raw }} O PAGAS EL MÍNIMO.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No tengan deudas con nadie”
                <br/>
                <small class="float-start">
                    Romanos 13:8 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. SOS INCAPAZ DE {{ completa_lugar('tres') | raw }} O {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “¿Acaso puede el ser humano robar a Dios? ¡Pues ustedes me están robando! Y todavía preguntan: “¿En qué
                le hemos robado?” ¡En los diezmos y en las ofrendas!”
                <br/>
                <small class="float-start">
                    Malaquías 3:8 (PDT)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El sabio <b>guarda</b> las provisiones, pero el bruto las desperdicia.”
                <br/>
                <small class="float-start">
                    Proverbios 21:20 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. SOS INCAPAZ DE PAGAR TUS {{ completa_lugar('cinco') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pues den al César lo que es del César, y a Dios lo que es de Dios.”
                <br/>
                <small class="float-start">
                    Mateo 22:21 (NBLH)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. REALIZAS {{ completa_lugar('seis') | raw }} EXTRAVAGANTES
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “El que se entrega al placer, el vino y los perfumes, terminará en la pobreza.”
                <br/>
                <small class="float-start">
                    Proverbios 21:17 (DHH)
                </small>
            </p>

            <h5 class="text-izq text-600">
                6. ESTÁS BUSCANDO MANERAS {{ completa_lugar('siete') | raw }} DE HACERTE RICO.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Los planes bien pensados y el arduo trabajo llevan a la prosperidad, pero los atajos tomados a la
                carrera conducen a la pobreza.”
                <br/>
                <small class="float-start">
                    Proverbios 21:5 (NTV)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                9 PASOS PARA SALIR DE LAS TRAMPAS DE LAS DEUDAS
            </h4>
            <h5 class="text-izq text-600">
                1. (C) ¡{{ completa_lugar('ocho') | raw }} A SER LIBRE DE DEUDAS AHORA!
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Los malvados piden prestado y no pagan…”
                <br/>
                <small class="float-start">
                    Salmos 37:21 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Quienes ni sus deudas pagan, acaban en la miseria.”
                <br/>
                <small class="float-start">
                    Proverbios 11:24 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. ¡COMIENZA A PAGAR A {{ completa_lugar('nueve') | raw }} Y A {{ completa_lugar('diez') | raw }}
                PRIMERO!
            </h5>
            <h6 class="text-izq">
                PLAN 10/10/80<br/>
                Malaquías 3:8-11, Proverbios 3:9-10, 1° Corintios 16:1-2, Proverbios 21:5,20 – Diezmar y Ahorrar.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Deberán entregarle a Dios la décima parte de todo… Por medio de esa ceremonia todos aprenderán a
                respetar y amar a Dios en todo momento.”
                <br/>
                <small class="float-start">
                    Deuteronomio 14:22 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. HACÉ UNA {{ completa_lugar('once') | raw }} DE TODO LO QUE TENÉS Y TODO LO QUE DEBÉS.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Un buen hogar se construye con <b>sabiduría</b> y se basa en la inteligencia”
                <br/>
                <small class="float-start">
                    Proverbios 24:3 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. REALIZA UNA {{ completa_lugar('doce') | raw }} DE LO QUE NO NECESITES.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Dije que tiraran esos <b>ídolos</b> que tienen frente a sus narices”
                <br/>
                <small class="float-start">
                    Ezequiel 20:7 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. ESTABLECE UN {{ completa_lugar('trece') | raw }} DE DEVOLUCIONES.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Los <b>planes</b> bien pensados y el arduo trabajo llevan a la prosperidad, pero los atajos tomados a
                la carrera conducen a la pobreza.”
                <br/>
                <small class="float-start">
                    Proverbios 21:5 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Afirma tus planes con <b>buenos consejos</b>…”
                <br/>
                <small class="float-start">
                    Proverbios 20:18 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                6. DECIDÍ HACERLO EN LA {{ completa_lugar('catorce') | raw }} DEL TIEMPO.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Lo que es imposible para los hombres es posible para Dios.”
                <br/>
                <small class="float-start">
                    Lucas 18:27
                </small>
            </p>

            <h5 class="text-izq text-600">
                7. NO TOMES MAS {{ completa_lugar('quince') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Estén contentos con lo que tienen”
                <br/>
                <small class="float-start">
                    Hebreos 13:5 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600">
                8. (C) {{ completa_lugar('dieciseis') | raw }} TU PLAN CON TUS ACREEDORES.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Cuando el Señor aprueba la conducta de un hombre, hasta con sus enemigos lo reconcilia.”
                <br/>
                <small class="float-start">
                    Proverbios 16:7 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                9. (A) {{ completa_lugar('diecisiete') | raw }} AL PLAN
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Así que no nos cansemos de hacer el bien. A su debido tiempo, cosecharemos numerosas bendiciones si no
                nos damos por vencidos.”
                <br/>
                <small class="float-start">
                    Gálatas 6:9 (NTV)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    “Teníamos una deuda porque no cumplimos las leyes de Dios. La cuenta de cobro tenía todos los cargos
                    contra nosotros, pero <b>Dios nos perdonó la deuda y clavó la cuenta en la cruz</b>.”<br/>
                    Colosenses 2:14 (PDT)
                </div>

                <div class="col-sm-8 mx-auto text-center">

                </div>

                <div class="col-12 mx-auto text-left">
                    <h5>Aprovecha estás ayudas gratuitas:</h5>
                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a
                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento">
                            “Asesoramiento” al 261 517 8081</a></h6>
                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación
                    </h6>
                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al
                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6>
                    <h6 class="ml-2"><b>Taller de Presupuesto y Desendeudamiento </b>: Jueves 27 de Junio 20 hs.</h6>

                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
