<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}


            <p class="text-14-300 font-italic pl-4 text-centrado">
                <sup>23</sup> Yo recibí del Señor lo mismo que les transmití a ustedes: Que el Señor Jesús, la noche en
                que fue traicionado, tomó pan<br/>
                <sup>24</sup> y, después de dar gracias, lo partió y dijo: «Esto es mi cuerpo, entregado por ustedes;
                hagan esto en memoria de mí».<br/>
                <sup>25</sup> De la misma manera, tomó la copa después de cenar y dijo: «Esta copa es el nuevo pacto en
                mi sangre; hagan esto cada vez que beban de ella en memoria de mí».<br/>
                <sup>26</sup> Porque cada vez que comen este pan y beben de esta copa, proclaman la muerte del Señor
                hasta que él venga.
                <br/>
                <small class="float-start">
                    1 Corintios 13:23-26 (NVI)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                ¿Qué es la Cena del Señor?
            </h4>
            <h5 class="text-izq text-600">
                1. Es un encuentro con el {{ completa_lugar('uno') | raw }}:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “hagan esto en <b>memoria de mí</b>”
                <br/>
                <small class="float-start">
                    (v24)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Nadie tiene amor más grande que el <b>que da la vida</b> por sus amigos.”
                <br/>
                <small class="float-start">
                    Juan 15:13 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Es una invitación a la {{ completa_lugar('dos') | raw }}:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Después de <b>dar gracias</b>, lo partió y dijo: «Esto es mi cuerpo, <b>entregado</b> por ustedes;
                hagan esto en memoria de mí”
                <br/>
                <small class="float-start">
                    (v24)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Vengan a mí <b>todos ustedes</b> que están cansados y agobiados; yo les daré descanso. Carguen con mi
                yugo y aprendan de mí, pues yo soy apacible y humilde de corazón, y encontrarán <b>descanso</b> para sus
                almas. Porque mi yugo es suave y mi carga es liviana».”
                <br/>
                <small class="float-start">
                    Mateo 11:28-30 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Es el abrazo de una {{ completa_lugar('tres') | raw }}:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Esta copa es el <b>nuevo pacto</b> en mi sangre; hagan esto cada vez que beban de ella en memoria de
                mí”
                <br/>
                <small class="float-start">
                    (v25)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Por lo tanto, ustedes ya no son extraños ni extranjeros, sino conciudadanos del pueblo elegido y
                miembros de la <b>familia</b> de Dios”
                <br/>
                <small class="float-start">
                    Efesios 2:19 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “De este modo todos sabrán que son mis discípulos, si se <b>aman</b> los unos a los otros.”
                <br/>
                <small class="float-start">
                    Juan 13:35 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Es un llamado a la {{ completa_lugar('cuatro') | raw }}:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Porque cada vez que comen este pan y beben de esta copa, proclaman la muerte del Señor <b>hasta que él
                    venga</b>.”
                <br/>
                <small class="float-start">
                    (26)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “La <b>paz</b> les dejo; mi paz les doy. Yo no se la doy a ustedes como la da el mundo. No se angustien
                ni se acobarden.”
                <br/>
                <small class="float-start">
                    Juan 14:27 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Ahora bien, sabemos que Dios dispone todas las cosas para el bien de quienes lo aman, los que han sido
                llamados de acuerdo con su <b>propósito</b>.”
                <br/>
                <small class="float-start">
                    Romanos 8:28 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Yo les doy vida eterna y nunca perecerán, ni nadie podrá arrebatármelas de la mano. Mi Padre, que me
                las ha dado, es más grande que todos; y de la mano del Padre <b>nadie las puede arrebatar</b>.”
                <br/>
                <small class="float-start">
                    Juan 10:28-29 (NVI)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                                        Como construir una vida de amor #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        “Permanezcan fuertes y constantes. Trabajen siempre para el Señor con entusiasmo, porque ustedes #}
            {#                        saben que <u>nada de lo que hacen para el Señor es inútil</u>.“. 1° Corintios 15:58 (NTV) #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        “Dios no es injusto. <u>No olvidará</u> con cuánto esfuerzo han trabajado para él y cómo <u>han #}
            {#                            demostrado su amor por él sirviendo a otros creyentes</u> como todavía lo hacen.“. Hebreos #}
            {#                        6:10 (NTV) #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        3. {{ completa_lugar('trece') | raw }} lo que Dios dice acerca del amor. #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        4. {{ completa_lugar('catorce') | raw }} actua en maneras amorosas y desinteresadas. #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        5. {{ completa_lugar('quince') | raw }} de otra gente amorosa. #}
            {#                    </p> #}
            {#                <h6 class="text-centrado text-600"> #}

            {#                    “Así manifestó Dios su amor entre nosotros: en que <b>envió</b> a<br/> #}
            {#                    su Hijo único al mundo para que vivamos por medio de él”<br/> #}
            {#                    1 Juan 4:9 (NVI) #}
            {#                </h6> #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
