<div class="col-sm-12">
    <h3>
        REGRESA A LA BATALLA
        <br/>
        <small>
            Serie: Oye el Ruido de rotas cadenas – Parte 4
        </small>
    </h3>
    <br/>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Pelea la buena batalla de la fe."
        <br/>
        <small class="float-right">
            1 Timoteo 6:12 (NVI)
        </small>
    </p>
    <br/>

</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <strong>
            David: {{ completa_lugar('uno') | raw}} por la batalla.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¿Quién es este filisteo pagano, al que se le permite desafiar a los ejércitos del Dios viviente?"
            <br/>
            <small class="float-right">
                1 Samuel 17:26 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¿Qué recibirá el hombre que mate al filisteo y ponga fin a su desafío contra Israel?”
            <br/>
            <small class="float-right">
                1 Samuel 17:26 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¡Yo iré a pelear contra él!"
            <br/>
            <small class="float-right">
                1 Samuel 17:32 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            Nehemías: Peleando {{ completa_lugar('dos') | raw}}.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Si al rey le agrada, y si está contento conmigo, su servidor, envíeme a Judá para reconstruir la ciudad
            donde están enterrados mis antepasados…. Después de decirle cuánto tiempo estaría ausente, el rey accedió
            a mi petición."
            <br/>
            <small class="float-right">
                Nehemías 2:5-6 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Además le dije al rey: Si al rey le agrada, permítame llevar cartas dirigidas a los gobernadores…,
            indicándoles que me permitan viajar sin peligro por sus territorios..."
            <br/>
            <small class="float-right">
                Nehemías 2:7 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Además, le ruego que me dé una carta… con instrucciones de suministrarme madera… para hacer vigas para
            las puertas… las murallas de la ciudad y para mi propia casa. Entonces el rey me concedió estas peticiones
            porque la bondadosa mano de Dios estaba sobre mí."
            <br/>
            <small class="float-right">
                Nehemías 2:8 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "«¡No le tengan miedo al enemigo! ¡Recuerden al Señor, quien es grande y glorioso, y luchen por sus
            hermanos, sus hijos, sus hijas, sus esposas y sus casas!»."
            <br/>
            <small class="float-right">
                Nehemías 4:14 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            Caleb: Que los años no {{ completa_lugar('tres') | raw}} tu batalla
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "… Ahora tengo ochenta y cinco años. Estoy tan fuerte hoy… y aún puedo andar y pelear tan bien como lo
            hacía entonces.”
            <br/>
            <small class="float-right">
                Josué 14:10-11 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Así que dame la zona montañosa que el SEÑOR me prometió.”
            <br/>
            <small class="float-right">
                Josué 14:12 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Tú recordarás que, mientras explorábamos, encontramos allí a los descendientes de Anac, que vivían en
            grandes ciudades amuralladas. Pero si el SEÑOR está conmigo, yo los expulsaré de la tierra, tal como el
            SEÑOR dijo».
            <br/>
            <small class="float-right">
                Josué 14:12 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Entonces Josué bendijo a Caleb, hijo de Jefone, y le dio Hebrón como su asignación de tierra."
            <br/>
            <small class="float-right">
                Josué 14:13 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            Vos y yo: Seguir a {{ completa_lugar('cuatro') | raw}} es abrazar la batalla.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Si tratas de aferrarte a la vida, la perderás; pero si entregas tu vida por mi causa y por causa de la
            Buena Noticia, la salvarás."
            <br/>
            <small class="float-right">
                Marcos 8:35 (NTV)
            </small>
        </p>
        <br/>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
