<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-centrado text-600">
                ¿Por qué peleamos?
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿De dónde surgen las guerras y los conflictos entre ustedes? ¿No es precisamente de las pasiones que
                luchan dentro de ustedes mismos?
                <br/>
                <small class="float-end">
                    Santiago 4:1 (NVI)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                ¿Cómo pelear limpio?
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                Mis queridos hermanos, tengan presente esto: Todos deben estar listos para escuchar, y ser lentos para
                hablar y para enojarse; pues la ira humana no produce la vida justa que Dios quiere.
                <br/>
                <small class="float-end">
                    Santiago 4:1 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Las parejas saludables pelean buscando una {{ completa_lugar('uno') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                Las no saludables pelean para lograr una {{ completa_lugar('dos') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('tres') | raw }} MÁS.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Aun el necio, cuando calla, es tenido por sabio; el que cierra sus labios es inteligente”
                <br/>
                <small class="float-end">
                    Proverbios 17:28 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                <b>Enfoca tu atención en la persona más importante de tu vida.</b>
            </h5>
            <h5 class="text-izq text-600">
                2. {{ completa_lugar('cuatro') | raw }} MENOS.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Las palabras que decimos con nuestra lengua son como el fuego. Nuestra lengua tiene mucho poder para
                hacer el mal. Puede echar a perder toda nuestra vida, y hacer que nos quememos en el infierno.”
                <br/>
                <small class="float-end">
                    Santiago 3:6 (TLA)
                </small>
            </p>
            <h5 class="text-izq text-600">
                <ul>
                    Detente:
                    <li> ¿Digo lo que estoy pensando?</li>
                    <li>¿De qué manera lo digo?</li>
                    <li>¿Es bueno que lo diga ahora?</li>
                </ul>
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Panal de miel son las palabras amables: endulzan la vida y dan salud al cuerpo.”
                <br/>
                <small class="float-end">
                    Proverbios 16:24(NVI)
                </small>
            </p>
            <div class="col-sm-10 row">
                <div class="col-sm-8 ">
                    <ul>
                        Reglas para pelear limpio:
                        <li> No descalifiques.</li>
                        <li> No compares.</li>
                        <li> No generalices.</li>
                        <li> No grites.</li>
                        <li> No te pongas histórico.</li>
                        <li> No amenaces con el divorcio.</li>
                    </ul>
                </div>
                <div class="col-sm-4 ">
                    <img src="{{ asset('images/series/02-pelea-limpi-wtitle.png') }}" alt="Pelea limpio"
                         class="img-fluid col-sm-2">
                </div>
            </div>
            <h5 class="text-izq text-600">
                3. CONTROLÁ TU {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Si se enojan, no pequen. No dejen que el sol se ponga estando aún enojados, ni den cabida al diablo”
                <br/>
                <small class="float-end">
                    Efesios 4.26–27 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                <sup>12</sup> Porque no luchamos contra gente como nosotros, sino contra
                espíritus malvados que actúan en el cielo. Ellos imponen su autoridad y su poder en el mundo actual.
                <sup>13</sup> Por lo tanto, ¡protéjanse con la armadura completa! Así, cuando llegue el día malo, podrán
                resistir los ataques del enemigo y se mantendrán firmes hasta el fin.
                <br/>
                <small class="float-end">
                    Efesios 6:12-13 (TLA)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Entrega total:
            </h5>

            <p class="text-14-300 font-italic pl-4">
                Esposos, amen a sus esposas, así como Cristo amó a la iglesia y se entregó por ella.
                <br/>
                <small class="float-end">
                    Efesios 5:25 (NVI)
                </small>
            </p>

        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
