<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }
</style>
<div class="col-sm-12">
    <h3>
        LA COMUNIDAD DEL REY.
        <br/>
        <small>
            Serie: Original - parte 4
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Voy a construir mi iglesia (comunidad); y ni siquiera el poder de la muerte podrá vencerla."
        <br/>
        <small class="float-right">
            Mateo 16:18 (DHH)
        </small>
    </p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Somos muchos, pero todos formamos un solo cuerpo en nuestra relación con Cristo.
                Como parte de ese cuerpo, cada uno pertenece a los demás."
                <br/>
                <small class="float-right">
                    Romanos 12:5 (PDT)
                </small>
            </p>
            <strong>
                Hay una diferencia significativa entre {{ completa_lugar('uno') | raw }} a un servicio de la iglesia
                y ser {{ completa_lugar('dos') | raw }} de una familia de la iglesia.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Ustedes... son miembros de la familia de Dios."
                <br/>
                <small class="float-right">
                    Efesios 2:19 (DHH)
                </small>
            </p>
            <strong>
                Hay una idea romántica que, para que este sentido de familia suceda, {{ completa_lugar('tres') | raw}}
            </strong>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <strong>
                Examinemos como es el modelo original y descubramos que dice la Biblia.
            </strong>
            <br/>
            <h4 class="nota-style">
                ¿QUÉ TAN GRANDE LLEGÓ A SER ESTA FAMILIA?
            </h4>
            <br/>
            <strong>
                ¡La primera iglesia en Jerusalén creció a más de {{ completa_lugar('cuatro') | raw}} personas en
                asistencia en sus primeros 25 años!
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Por aquellos días Pedro se dirigió a los hermanos reunidos, que eran como ciento veinte personas,
                y les dijo:"
                <br/>
                <small class="float-right">
                    Hechos 1:15 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Así pues, los que hicieron caso de su mensaje fueron bautizados; y aquel día se
                agregaron a los creyentes unas tres mil personas."
                <br/>
                <small class="float-right">
                    Hechos 2:41 (DHH)
                </small>
            </p>
            <strong>
                ¿Cuántos creyentes se agregaron a la iglesia?
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Cada día el Señor hacía crecer la comunidad con el número de los que él iba llamando
                a la salvación."
                <br/>
                <small class="float-right">
                    Hechos 2:47 (DHH)
                </small>
            </p>
            <strong>
                ¿Cuál es la obra que estaba haciendo Dios?
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Muchos de los que habían escuchado el mensaje, creyeron; y el número de creyentes,
                contando solamente los hombres, llegó a cerca de cinco mil."

                <br/>
                <small class="float-right">
                    Hechos 4:4 (DHH)
                </small>
            </p>
            <strong>
                ¿Cómo había crecido la iglesia según Hechos 4:4?
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Aumentó el número de personas, tanto hombres como mujeres, que creyeron en el
                Señor."
                <br/>
                <small class="float-right">
                    Hechos 5:14 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "¿Acaso no les dijimos que no enseñaran nunca más en nombre de ese hombre? —les
                reclamó. En lugar de eso, ustedes han llenado a toda Jerusalén con la enseñanza
                acerca de él, ¡y quieren hacernos responsables de su muerte!"

                <br/>
                <small class="float-right">
                    Hechos 5:28 (NTV)
                </small>
            </p>
            <strong>
                ¿Qué preocupación tenía el sumo sacerdote con la iglesia en Hechos 5:28?
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "En aquel tiempo, como el número de los creyentes iba aumentando, los de habla
                griega comenzaron a quejarse de los de habla hebrea, diciendo que las viudas griegas no
                eran bien atendidas en la distribución diaria de ayuda."

                <br/>
                <small class="float-right">
                    Hechos 6:1 (DHH)
                </small>
            </p>
            <strong>
                Según Hechos 6:1, ¿cómo estaba creciendo la iglesia que estaba causando
                preocupación?
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "El mensaje de Dios iba extendiéndose, y el número de los creyentes aumentaba
                mucho en Jerusalén. Incluso muchos sacerdotes judíos aceptaban la fe."

                <br/>
                <small class="float-right">
                    Hechos 6:7 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Después de oírlo, alabaron a Dios. Luego dijeron: «Tú sabes, querido hermano, cuántos
                miles de judíos también han creído...;"

                <br/>
                <small class="float-right">
                    Hechos 21:20 (NTV)
                </small>
            </p>
            <strong>
                Como vemos, el plan original de Jesús fue una comunidad {{ completa_lugar('cinco') | raw}}
                y {{ completa_lugar('seis') | raw}} a la vez.
            </strong>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <strong>
                Vamos a una segunda pregunta:
            </strong>
            <h4 class="nota-style">
                ¿DONDE SE CONOCIERON?
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Diariamente en el área del templo y en todas las casas, los apóstoles continuaban
                enseñando y anunciando las buenas noticias de que Jesús es el Cristo."

                <br/>
                <small class="float-right">
                    Hechos 5:42 (PDT)
                </small>
            </p>
<strong>
    Según este relato, tenemos la {{ completa_lugar('siete') | raw}} Original dada por Dios, para poder seguir
    creciendo en {{ completa_lugar('ocho') | raw}}, pero también en {{ completa_lugar('nueve') | raw}}.
</strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Se reunían diariamente en el área del templo"
                <br/>
                <small class="float-right">
                    Hechos 2:46 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Se reunían en pequeños grupos para celebrar la comunión en diferentes hogares"

                <br/>
                <small class="float-right">
                    Hechos 2:46 (BAD)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Gayo, quien me aloja y permite que la iglesia se reúna en su casa, los saluda."

                <br/>
                <small class="float-right">
                    Romanos 16:23 (PDT)
                </small>
            </p>
<div>
    Podemos ver algunas de las VENTAJAS del compañerismo en las casas: <br/>
    Los grupos son:<br/>
    <ul>
        <li> {{ completa_lugar('diez') | raw}}</li><br/>
        <li> {{ completa_lugar('once') | raw}}</li><br/>
        <li> {{ completa_lugar('doce') | raw}}</li><br/>
        <li> {{ completa_lugar('trece') | raw}}</li>
    </ul>
    <br/>

</div>

        </div>
        <div class="card mt-0 mb-1 py-2 px-3">
            <h4 class="nota-style">
            SIETE MARCAS DE UN GRUPO SALUDABLE.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Todos los creyentes se dedicaban a las enseñanzas de los apóstoles, a la comunión
                fraternal, a participar juntos en las comidas (entre ellas la Cena del Señor), y a la
                oración.43 Un profundo temor reverente vino sobre todos ellos, y los apóstoles realizaban
                muchas señales milagrosas y maravillas.44 Todos los creyentes se reunían en un mismo
                lugar y compartían todo lo que tenían.45 Vendían sus propiedades y posesiones y
                compartían el dinero con aquellos en necesidad.46 Adoraban juntos en el templo cada
                día, se reunían en casas para la Cena del Señor y compartían sus comidas con gran gozo
                y generosidad,47 todo el tiempo alabando a Dios y disfrutando de la buena voluntad de
                toda la gente. Y cada día el Señor agregaba a esa comunidad cristiana los que iban
                siendo salvos."
                <br/>
                <small class="float-right">
                    Hechos 2:42-47 (NTV
                </small>
            </p>
            <strong>1. ESTUDIAMOS Y {{ completa_lugar('catorce') | raw}} JUNTOS.</strong>
            <br>
            <i>“Todos los creyentes se dedicaban a las enseñanzas de los apóstoles, ...”</i>
            <br/>
            <strong>
                2. DISFRUTAMOS DE LA {{ completa_lugar('quince') | raw}} JUNTOS.
            </strong>
            <br/>
            <i>
                “Se dedicaban… a la comunión fraternal”<br/>
                “Compartían sus comidas con gran gozo y generosidad”
            </i>
            <br/>
<strong>
            3. COMPARTIMOS LA {{ completa_lugar('dieciseis') | raw}} JUNTOS.
</strong><br/>
            <i>“Se reunían en casas para la Cena del Señor”</i><br>
            <strong>             4. {{ completa_lugar('diecisiete') | raw}} LOS UNOS POR LOS OTROS.</strong><br/>
            <i>“Se dedicaban... a la oración”</i><br/>
            <strong>5. NOS {{ completa_lugar('dieciocho') | raw}} PRÁCTICAS.</strong><br/>
            <i>“Compartían con aquellos en necesidad...”</i><br/>
            <strong>6. {{ completa_lugar('diecinueve') | raw}} JUNTOS.</strong><br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Alabando a Dios..."
                <br/>
                <small class="float-right">
                    Hechos 2:47 (BXT)
                </small>
            </p>
            <strong> 7. {{ completa_lugar('veinte') | raw}} A LA IGLESIA.</strong><br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Mientras alababan a Dios y brindaban ayuda a todo el pueblo. Y cada día el Señor añadía
                a la iglesia a los que habían de ser salvos."
                <br/>
                <small class="float-right">
                    Hechos 2:47 (RVC)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
