<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <h4 class="text-izq text-600">
                El problema del orgullo
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “El <b>orgullo</b> termina en humillación, mientras que la humildad trae honra.”
                <br/>
                <small class="float-end">
                    Proverbios 29:23 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Así que humíllense ante el gran poder de Dios y, a su debido tiempo, <b>él los levantará con honor</b>.”
                <br/>
                <small class="float-end">
                    1 Pedro 5:6 (NTV)
                </small>
            </p>

            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            <h4 class="text-izq text-600">
                La bondad de Dios para un hombre autosuficiente
            </h4>
            {#            <h5 class="text-izq text-600"> #}
            {#                1) Pensá dentro de la caja #}
            {#            </h5> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-end">
                    2 Reyes 5:1 -15 (NTV)
                </small>
                “El rey de Aram sentía una gran <b>admiración</b> por Naamán, el
                comandante del ejército, porque <b>el SEÑOR le había dado
                    importantes victorias</b> a Aram por medio de él; pero a pesar de
                ser <b>un poderoso guerrero, Naamán padecía de lepra</b>.” v.1
                <br/>
                “En ese tiempo, los saqueadores arameos habían invadido
                la tierra de Israel, y entre sus cautivos se encontraba <b>una
                    muchacha</b> a quien habían entregado a la esposa de Naamán
                como criada.” v. 2
                <br/>
                “Cierto día, la muchacha le dijo a su señora: “Ojalá que mi amo
                fuera a ver al profeta de Samaria; <b>él lo sanaría</b> de su lepra” v.3
                <br/>
                “Entonces Naamán <b>le contó al rey</b> lo que había dicho la joven
                israelita. <sup>5</sup> “Ve a visitar al profeta —le dijo el rey de Aram. Te daré
                una carta de presentación para que se la lleves <b>al rey de Israel</b>”.
                <br/>
                Entonces Naamán emprendió viaje y llevaba de regalo
                trescientos cuarenta kilos de plata, sesenta y <b>ocho kilos de oro</b>,
                y diez mudas de ropa. 6 La carta para el rey de Israel decía: “...
                <b>Quiero que lo sanes de su lepra</b>”.” v.5-6
                <br/>
                “Cuando el rey de Israel leyó la carta, horrorizado, rasgó sus
                vestiduras y dijo: “¡Este hombre me manda a un leproso para que
                lo sane! ¿<b>Acaso soy Dios</b> para dar vida y quitarla? Creo que sólo
                busca pelear conmigo”. “Eliseo… le envió este mensaje: “¿Por qué
                estás tan disgustado? Envíame a Naamán, <b>así él sabrá que hay
                    un verdadero profeta en Israel</b>”.” v. 7 y 8
                <br/>
                “Entonces Naamán fue con sus caballos y carros de guerra y
                <b>esperó frente a la puerta</b> de la casa de Eliseo;” v. 9
                <br/>
                “pero Eliseo le mandó a decir <b>mediante un mensajero</b>: “Ve y
                <b>lávate siete veces en el río Jordán</b>. Entonces tu piel quedará
                restaurada, y te sanarás de la lepra”.” v.10
                <br/>
                “Naamán <b>se enojó mucho y se fue muy ofendido</b>. “¡Yo <b>creí</b> que
                el profeta iba a salir a recibirme! -dijo. <b>Esperaba</b> que él moviera
                su mano sobre la lepra e invocara el nombre del SEÑOR su Dios
                ¡y me sanara!” v.11
                <br/>
            </p>
            <h5 class="text-centrado text-600">
                Naamán tenía que ser {{ completa_lugar('uno') | raw }} antes de que pudiera ser sanado.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Acaso los ríos de Damasco -el Abaná y el Farfar- no son
                mejores que cualquier río de Israel? <b>¿Por qué no puedo lavarme
                    en uno de ellos y sanarme?</b>”. Así que Namaán dio media vuelta
                y salió enfurecido.” v. 12
                <br/>
                “Sus oficiales trataron de hacerle <b>entrar en razón</b> y le dijeron:
                “Señor, si el profeta le hubiera pedido que hiciera <b>algo muy
                    difícil</b>, ¿usted no lo habría hecho? Así que en verdad <b>debería
                    obedecerlo</b> cuando sencillamente le dice: “¡Ve, lávate y te
                curarás!” v. 13
                <br/>
                “Entonces Naamán bajó al río Jordán y <b>se sumergió siete
                    veces</b>, tal como el hombre de Dios le había indicado. ¡Y su piel
                quedó <b>tan sana como la de un niño</b>, y se curó!” v. 14
            </p>


            <h5 class="text-centrado text-600">
                Naamán perdió el {{ completa_lugar('dos') | raw }}; entonces perdió su orgullo; y entonces
                perdió {{ completa_lugar('cuatro') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Naamán y todo su grupo regresaron a buscar al hombre de
                Dios. Se pararon ante él, y Naamán le dijo: <b>Ahora sé que no hay
                    Dios en todo el mundo, excepto en Israel</b>….” v. 15
                <br/>
            </p>

            <h5 class="text-centrado text-600">
                Dios a veces nos pedirá hacer cosas que no entendemos. La única manera de entender todo es {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Jesús: “Había <b>muchos leprosos en Israel</b> en el tiempo del
                profeta Eliseo, pero el <b>único sanado</b> fue Naamán, un sirio”.”

                <br/>
                <small class="float-end">
                    Lucas 4:27 (NTV)
                </small>

            </p>

{#            <h5 class="text-izq text-600">#}
{#                <strong>Tenés todo lo que necesitas, nunca te conformes con menos de aquello para lo cual Dios te creo#}
{#                    para vivir</strong>#}
{#            </h5>#}

{#            <div class="col-sm-10 mx-auto">#}
{#                <div class="col-12 mx-auto text-center">#}
{#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/>#}
{#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i>#}
{#                </div>#}
{#            </div>#}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
