<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">


            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <div class="col-sm-10 mx-auto mb-3">

                <p class="text-14-300 font-italic pl-4 text-centrado">
                    Jesús: “Todo se hará tal como creíste.”
                    <br/>
                    <small class="float-start">
                        Mateo 8:13 (NVI)
                    </small>
                </p>
                <h5 class="text-izq text-600">
                    La fe aplicada en las relaciones se llama: {{ completa_lugar('uno') | raw }}.<br/>
                    Confianza es esperar lo {{ completa_lugar('dos') | raw }} de tus relaciones
                </h5>
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    J“Acéptense unos a otros así como Cristo los ha aceptado. Acéptense para honrar a Dios.”
                    <br/>
                    <small class="float-start">
                        Romanos 15:7 (PDT)
                    </small>
                </p>
            </div>

            <h4 class="text-izq text-600">
                Como lograr confianza en tus relaciones
            </h4>

            <h5 class="text-izq text-600">
                1. Superá los {{ completa_lugar('tres') | raw }} de la confianza
            </h5>
            <h6 class="text-izq text-600">
                a. (R) {{ completa_lugar('cuatro') | raw }}
            </h6>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cuídense de que nadie deje de alcanzar la gracia de Dios; de que ninguna raíz de amargura,
                brotando, cause dificultades y por ella muchos sean contaminados.”
                <br/>
                <small class="float-start">
                    Heb. 12:15 (NBLH)
                </small>
            </p>
            <h6 class="text-izq text-600">
                b. (M) {{ completa_lugar('cinco') | raw }}
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Amor y temor, en efecto, son incompatibles. El auténtico amor elimina el temor… el que teme es que aún
                no ha logrado amar perfectamente.”
                <br/>
                <small class="float-start">
                    1° Juan 4:18 (AF)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                2. Decidí ser una persona confiable
            </h4>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Son muchos los que proclaman su lealtad, ¿Pero quién puede hallar a alguien digno de confianza?”
                <br/>
                <small class="float-start">
                    Proverbios 20:6 (NVI)
                </small>
            </p>

            <h6 class="text-izq text-600">
                a. Ser {{ completa_lugar('seis') | raw }}
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El que ha sido digno de confianza en cosas sin importancia, será digno de confianza también en las
                importantes”
                <br/>
                <small class="float-start">
                    Lucas 16:10 (BLA)
                </small>
            </p>

            <h6 class="text-izq text-600">
                b. Ser {{ completa_lugar('siete') | raw }}
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El chismoso todo lo cuenta; la persona digna de confianza guarda el secreto.”
                <br/>
                <small class="float-start">
                    Proverbios 11:13 (DHH)
                </small>
            </p>
            <h6 class="text-izq text-600">
                c. Estar {{ completa_lugar('ocho') | raw }}
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Un verdadero amigo estará siempre allí para amarte”
                <br/>
                <small class="float-start">
                    Proverbios 17:17 (VBL)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Enfócate en lo {{ completa_lugar('nueve') | raw }} de tus relaciones
            </h5>

            <h6 class="text-izq text-600">
                a. Enfócate en {{ completa_lugar('diez') | raw }} más que en recibir
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Jesús: “Hay más dicha en dar que en recibir.”
                <br/>
                <small class="float-start">
                    Hechos 20:35 (DHH)
                </small>
            </p>
            <h6 class="text-izq text-600">
                b. Enfócate en {{ completa_lugar('once') | raw }} más que en herir
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Sean comprensivos con las faltas de los demás y perdonen a todo el que los ofenda. Recuerden que el
                Señor los perdonó a ustedes, así que ustedes deben perdonar a otros.”
                <br/>
                <small class="float-start">
                    Colosenses 3:13 (NTV)
                </small>
            </p>
            <h6 class="text-izq text-600">
                c. Enfócate en el {{ completa_lugar('doce') | raw }} de Dios más que en tus problemas
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Confíen siempre en Dios, cuéntenle sus problemas, Dios es nuestro refugio.”
                <br/>
                <small class="float-start">
                    Salmo 62:8 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Alégrense siempre en el Señor. Insisto: ¡Alégrense!
                <br/>
                <small class="float-start">
                    Filipenses 4:4
                </small>
            </p>
            <h6 class="text-izq text-600">
                d. Confía en los demás como {{ completa_lugar('trece') | raw }} confía en vos
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ustedes no me eligieron a mí, yo los elegí a ustedes. Les encargué que vayan y produzcan frutos
                duraderos, así el Padre les dará todo lo que pidan en mi nombre.”
                <br/>
                <small class="float-start">
                    Juan 15:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “En esto consiste el amor verdadero: no en que nosotros hayamos amado a Dios, sino en que él nos amó a
                nosotros y envió a su Hijo como sacrificio para quitar nuestros pecados.”
                <br/>
                <small class="float-start">
                    1° Juan 4:10 (NTV)
                </small>
            </p>


                        <div class="col-sm-10 mx-auto">
                            <div class="col-12 mx-auto text-center">
                                Somos “familia de <u>fe</u>.” (Gálatas 6:10)<br/>
                                un lugar donde los que <u>creemos</u> en Dios,<br/>
                                hemos aprendido a <u>creer</u> el uno en el otro,<br/>
                                como Dios <u>cree</u> en nosotros.
                            </div>

            {#                <div class="col-sm-8 mx-auto text-center"> #}

            {#                </div> #}

            {#                <div class="col-12 mx-auto text-left"> #}
            {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
            {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
            {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
            {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
            {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
            {#                    </h6> #}
            {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
            {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
            {#                </div> #}
                        </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
