<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <h4 class="text-izq text-600">
                Las buenas prioridades...
            </h4>
            <h5 class="text-izq text-600">
                a. Facilitan las {{ completa_lugar('uno') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                b. Ordenan nuestro {{ completa_lugar('dos') | raw }} y {{ completa_lugar('tres') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                c. Nos vuelven más {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                d. Son la clave para administrar lo más valioso: {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Así que cuidado cómo viven ustedes. Sean sabios, no ignorantes; aprovechen bien el tiempo, porque los
                días son malos.”
                <br/>
                <small class="float-end">
                    Efesios 5:15 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                e. Definen nuestro {{ completa_lugar('seis') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No actúen sin pensar, más bien procuren entender lo que el Señor quiere que hagan.”
                <br/>
                <small class="float-end">
                    Efesios 5:17 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                El estado de insatisfacción
            </h4>
            <h5 class="text-izq text-600">
                Pocos {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Sin embargo, yo me dije: “He trabajado inútilmente; me he quedado sin fuerzas y <b>no he logrado
                    nada</b>”
                <br/>
                <small class="float-end">
                    Isaías 49:4 (TLA)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Pocos {{ completa_lugar('ocho') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No tengo paz ni tranquilidad; <b>no tengo descanso</b>; sólo me vienen dificultades”.
                <br/>
                <small class="float-end">
                    Job 3:26 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Poca {{ completa_lugar('nueve') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                ”Ya no tenemos alegría en el corazón”
                <br/>
                <small class="float-end">
                    Lamentaciones 5:15 (DHH)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Poca {{ completa_lugar('diez') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No tiene ningún sentido que tanto trabaje el tonto, <b>si no sabe ni en dónde está</b>.”
                <br/>
                <small class="float-end">
                    Eclesiastés 10:15 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Poco {{ completa_lugar('once') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "<b>el amor de mucha gente se enfriará</b>.”
                <br/>
                <small class="float-end">
                    Mateo 24:12 (BTI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Poco {{ completa_lugar('doce') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pierden el tiempo ustedes, que se levantan temprano y se acuestan tarde para comer un pan conseguido
                con sufrimiento porque <b>Dios da a quien ama, aún mientras duerme</b>.”
                <br/>
                <small class="float-end">
                    Salmos 127:2 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Poca {{ completa_lugar('trece') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Es mejor estar satisfecho con lo poco que se tiene que <b>estar siempre luchando por conseguir más</b>.”
                <br/>
                <small class="float-end">
                    Eclesiastés 4:6 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Sentimos que nada es {{ completa_lugar('catorce') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando llegamos al mundo, no traíamos nada y cuando morimos no nos podemos llevar nada. Por eso, si
                tenemos alimentos y ropa, <b>podemos darnos por satisfechos</b>.”
                <br/>
                <small class="float-end">
                    1 Timoteo 6:7-8 (PDT)
                </small>
            </p>

            <h4 class="text-izq text-600">
                La clave para una vida satisfecha
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Más bien,<br/>
                busquen primeramente<br/>
                el reino de Dios y su justicia,<br/>
                y todas estas cosas les serán añadidas.”
                <br/>
                <small class="float-end">
                    Mateo 6:33 (NVI)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center border border-1">
                El secreto de Jesús para una vida satisfecha es vivir según las {{ completa_lugar('quince') | raw }} del
                Reino de Dios
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Ordena mis pasos con tu palabra</b>, Para que el pecado no me domine.”
                <br/>
                <small class="float-end">
                    Salmos 119:133 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “En ti, oh YHVH, yo he puesto mi confianza. He dicho: Tú eres mi Dios. <b>En tu mano están mis
                    tiempos...</b>”
                <br/>
                <small class="float-end">
                    Salmos 31:14-15 (BXT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Luego dijo Jesús: “<b>Vengan a mí todos los que están cansados</b> y llevan cargas pesadas, y <b>yo les
                    daré descanso</b>. <sup>29</sup> Pónganse mi yugo. Déjenme enseñarles, porque yo soy humilde y
                tierno de corazón, y encontrarán descanso para el alma. <sup>30</sup> Pues mi yugo es fácil de llevar y
                la carga que les doy es liviana”.”
                <br/>
                <small class="float-end">
                    Mateo 11:28-30 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
