<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Elías fue un ser humano como cualquiera de nosotros”
                <br/>
                <small class="float-end">
                    Santiago 5:17 (PDT)
                </small>
            </p>
            {#            <h4 class="text-izq text-600"> #}
            {#                1. NUNCA TE {{ completa_lugar('uno') | raw }} CON LOS DEMÁS #}
            {#            </h4> #}
            <p class="text-14-300 font-italic pl-4 text-center">
                “Elías… <b>dejó allí a su sirviente</b>. Luego siguió solo todo el día hasta llegar <b>al desierto</b>.
                Se sentó bajo un solitario árbol de retama y <b>pidió morirse: «Basta ya, SEÑOR; quítame la vida, porque
                    no soy mejor que mis antepasados que ya murieron»</b>. Entonces se acostó y durmió debajo del árbol.
                Mientras dormía, un ángel lo tocó y le dijo: «¡Levántate…!
                <br/>
                <small class="float-end">
                    1° Reyes 19:3-5(NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                LA SANIDAD DE DIOS PARA LA DEPRESIÓN.
            </h4>
            <h5 class="text-izq text-600">
                1. P {{ completa_lugar('uno') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                <b>“«¡Levántate y come!»</b>. Elías miró a su alrededor, y cerca de su cabeza había un poco de pan
                horneado sobre piedras calientes y un jarro de agua. Así que comió y bebió, y <b>volvió a acostarse</b>.
                Entonces el ángel del SEÑOR regresó, lo tocó y le dijo: «Levántate y come un poco más, de lo contrario,
                <b>el viaje que tienes por delante</b> será demasiado para ti».”

                <br/>
                <small class="float-end">
                    1 Reyes 19:5-7 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. P {{ completa_lugar('dos') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “La comida le dio fuerza suficiente para viajar durante cuarenta días y cuarenta noches hasta... <b>la
                    montaña de Dios</b>. Allí llegó <b>a una cueva</b>, donde pasó la noche. Entonces el SEÑOR le dijo a
                Elías: <b>¿Qué haces aquí, Elías?</b> He servido con gran celo al SEÑOR Dios Todopoderoso —respondió
                Elías—; pero <b>el pueblo</b> de Israel ha roto su pacto contigo, derribó tus altares y mató a cada uno
                de tus profetas. <b>Yo soy el único</b> que queda con vida, y ahora <b>me buscan para matarme</b> a mí
                también.”
                <br/>
                <small class="float-end">
                    1° Reyes 19:8-10
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Sal y ponte de pie delante de mí, en la montaña. ... y un viento fuerte e impetuoso azotó la montaña…
                pero el SEÑOR no estaba en el viento. ... un terremoto, pero el SEÑOR no estaba en el terremoto. ...
                hubo un incendio, pero el SEÑOR no estaba en el incendio. Y después del incendio hubo <b>un suave
                    susurro</b>.”
                <br/>
                <small class="float-end">
                    1° Reyes 19:11-12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Cuando Elías lo oyó, se cubrió la cara con su capa, <b>salió y se paró a la entrada de la cueva</b>.
                Entonces una voz le dijo: <b>¿Qué haces aquí, Elías?”</b> “Él volvió a responder...”
                <br/>
                <small class="float-end">
                    1° Reyes 19:13-14 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. P {{ completa_lugar('tres') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Entonces el SEÑOR le dijo: Regresa por el mismo camino que viniste y sigue hasta el desierto de
                Damasco. Cuando llegues allí, unge a Hazael para que sea rey de Aram. Después unge a Jehú, nieto de
                Nimsi, para que sea rey de Israel;”
                <br/>
                <small class="float-end">
                    1° Reyes 19:15-16 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. P {{ completa_lugar('cuatro') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Unge a <b>Eliseo</b>… para que tome tu lugar”
                <br/>
                <small class="float-end">
                    1° Reyes 19:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Preservaré a otros <b>siete mil en Israel</b>, ¡quienes nunca se han inclinado ante Baal ni lo han
                besado!”
                <br/>
                <small class="float-end">
                    1° Reyes 19:18 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Las palabras amables son como la miel: dulces al alma y <b>saludables</b> para el cuerpo.”
                <br/>
                <small class="float-end">
                    Proverbios 16:24 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “No es bueno que el hombre esté solo”
                <br/>
                <small class="float-end">
                    Génesis 2:18
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Alguien que está solo, puede ser atacado y vencido, pero si son dos, se ponen de espalda con espalda y
                vencen; <b>mejor todavía si son tres</b>, porque una cuerda triple no se corta fácilmente.”
                <br/>
                <small class="float-end">
                    Eclesiastés 4:12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “<b>Sean como una familia grande</b>, feliz, compasiva, donde reine el amor fraternal. Sean cariñosos y humildes.”
                <br/>
                <small class="float-end">
                    1° Pedro 3:8 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Dios hace habitar <b>en familia</b> los desamparados.”
                <br/>
                <small class="float-end">
                    Salmos 68:6 (RV95)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “<b>El Señor está cerca</b>, para salvar a los que tienen el corazón hecho pedazos y han perdido la esperanza.”
                <br/>
                <small class="float-end">
                    Salmos 34:18 (DHH)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
