<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h5 class="text-izq text-600">
                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/>
                (una determinada situación)
            </h5>
            <h5 class="text-izq text-600">
                Yo ya determinado de antemano {{ completa_lugar('dos') | raw }} <br/>
                (tomar esta acción)
            </h5>
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    <img src="{{ asset('images/seis_decisiones.png') }}"
                         class="img-fluid col-sm-3" alt="AlamedaCMS">
                </div>
            </div>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Manténganse alerta; permanezcan firmes en la fe; sean valientes y fuertes.”
                <br/>
                <small class="float-start">
                    1° Corintios 16:13 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Busquen el reino de Dios por encima de todo lo demás y lleven una vida justa, y el les dará todo lo que
                necesiten”.
                <br/>
                <small class="float-start">
                    Mateo 6:33(NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                ¿Qué significa ser consagrado?
            </h4>
            <h5 class="text-centrado text-600">
                Estar {{ completa_lugar('tres') | raw }} a la búsqueda de Jesus.<br/>
                Los discípulos tenían una búsqueda {{ completa_lugar('cuatro') | raw }}
                y {{ completa_lugar('cinco') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Todos los creyentes se dedicaban a las enseñanzas de los apóstoles, a la comunión fraternal, a
                participar juntos en las comidas y a la oración”.
                <br/>
                <small class="float-start">
                    Hechos 2:42(NTV).
                </small>
            </p>
            <h6 class="text-izq text-600">
                COMO VIVIR ESTO
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Permanezcan en mí, y yo permaneceré en ustedes. Pues una rama no puede producir fruto si la cortan de
                la vid, y ustedes tampoco pueden ser fructífero a menos que permanezcan mi”.
                <br/>
                <small class="float-start">
                    Juan 15:4 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                {{ completa_lugar('seis') | raw }} ES LA CLAVE
            </h5>
            <h4 class="text-centrado text-600">
                EL PLAN DE JUEGO
            </h4>
            <h5 class="text-izq text-600">
                1) Predetermino un {{ completa_lugar('siete') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                2) Predetermino un {{ completa_lugar('ocho') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                3) Predetermino un {{ completa_lugar('nueve') | raw }}.
            </h5>

            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    DIOS NO SE QUEDA CON LO QUE SOBRA EN TU VIDA PORQUE EL {{ completa_lugar('diez') | raw }} TU VIDA.<br/>
                    ÉL NO ES PARTE DEL PLAN ÉL ES EL PLAN<br/>
                    BUSCARÉ PRIMERO LO PRIMERO PORQUE SOY CONSAGRADO.
                </div>
            </div>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
