<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small {
        color: #1b1e24;
        text-align: left !important;
    }
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 pl-4">
                <strong>
                    A. La {{ completa_lugar('uno') | raw }} de la resurrección
                </strong>
            </p>
            <hr/>
            <p class="text-14-300 font-italic pl-4">
                "Muchos de sus discípulos decían: «Esto es muy difícil de entender. ¿Cómo puede alguien aceptarlo?»."
                <br/>
                <small class="float-right">
                    Juan 6:60 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "A partir de ese momento, muchos de sus discípulos se apartaron de él y lo abandonaron."
                <br/>
                <small class="float-right">
                    Juan 6:66 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Entonces Jesús, mirando a los Doce, les preguntó: ¿Ustedes también van a marcharse?"
                <br/>
                <small class="float-right">
                    Juan 6:67 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Simón Pedro le contestó: Señor, ¿a quién iríamos? Tú tienes las palabras que dan vida eterna. Nosotros
                creemos y sabemos que tú eres el Santo de Dios."
                <br/>
                <small class="float-right">
                    Juan 6:68-69 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Muchas personas han intentado escribir un relato de los hechos que se han cumplido entre nosotros. Se
                valieron de los informes que circulan entre nosotros dados por testigos oculares, los primeros
                discípulos. Después de investigar todo con esmero desde el principio, yo también decidí escribir un
                relato cuidadoso para ti… para que puedas estar seguro de la veracidad de todo lo que te han enseñado."
                <br/>
                <small class="float-right">
                    Lucas 1:1-4 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Yo fui testigo presencial de estos hechos, y se los he narrado con exactitud para que ustedes también
                crean."
                <br/>
                <small class="float-right">
                    Juan 19:35 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "El domingo por la mañana temprano, mientras aún estaba oscuro, María Magdalena llegó a la tumba y vio
                que habían rodado la piedra de la entrada. Corrió y se encontró con Simón Pedro y con el otro discípulo,
                a quien Jesús amaba. Les dijo: «¡Sacaron de la tumba el cuerpo del Señor, y no sabemos dónde lo
                pusieron!».
                <br/>
                <small class="float-right">
                    Juan 20:1-9 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Pedro y el otro discípulo se dirigieron a la tumba. Ambos iban corriendo, pero el otro discípulo corrió
                más aprisa que Pedro y llegó primero a la tumba. Se agachó a mirar adentro y vio <strong>los lienzos de
                    lino apoyados ahí</strong>, pero no entró.”
                <br/>
                <small class="float-right">
                    Juan 20:1-9 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Luego llegó Simón Pedro y entró en la tumba. Él también notó los lienzos de lino allí, <strong>pero el
                    lienzo que había cubierto la cabeza de Jesús estaba doblado y colocado aparte de las otras
                    tiras</strong>.”
                <br/>
                <small class="float-right">
                    Juan 20:1-9 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Entonces el discípulo que había llegado primero a la tumba también <strong>entró y vio y creyó</strong>."
                <br/>
                <small class="float-right">
                    Juan 20:1-9 (NTV)
                </small>
            </p>
            <h5>
                B. El {{ completa_lugar('dos') | raw }} de la resurrección.
            </h5>
            <br/>
            <p class="text-14-300 pl-4 ">
                <strong>
                    1. La {{ completa_lugar('tres') | raw }} ha sido vencida
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "La muerte ha sido devorada por la victoria". "Muerte, ¿dónde está tu victoria? Muerte, ¿dónde está tu
                poder para matar?"
                <br/>
                <small class="float-right">
                    1 Corintios 15:54-55 (PDT)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    2. Dios tiene la {{ completa_lugar('cuatro') | raw }}.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Ahora Cristo ha ido al cielo. Él está sentado en el lugar de honor, al lado de Dios, y todos los
                ángeles, las autoridades y los poderes aceptan su autoridad."
                <br/>
                <small class="float-right">
                    1 Pedro 3:22 (NTV)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    3. Somos {{ completa_lugar('cinco') | raw }}.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Precisamente para esto ha venido el hijo de Dios: para deshacer lo hecho por el diablo."
                <br/>
                <small class="float-right">
                    1 Juan 3:8 (DHH)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    4. Somos {{ completa_lugar('seis') | raw }} para una vida mejor.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "El Espíritu de Dios, quien levantó a Jesús de los muertos, vive en ustedes; y así como Dios levantó a
                Cristo Jesús de los muertos, él dará vida a sus cuerpos mortales mediante el mismo Espíritu, quien vive
                en ustedes."
                <br/>
                <small class="float-right">
                    Romanos 8:11 (NTV)
                </small>
            </p>
            <h5>
                C. La {{ completa_lugar('siete') | raw }} a creer
            </h5>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                "No lo creeré a menos que vea las heridas de los clavos en sus manos, meta mis dedos en ellas y ponga mi
                mano dentro de la herida de su costado."
                <br/>
                <small class="float-right">
                    Juan 20:25 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Ocho días después, los discípulos estaban juntos de nuevo, y esa vez Tomás se encontraba con ellos. Las
                puertas estaban bien cerradas; pero de pronto, igual que antes, Jesús estaba de pie en medio de ellos y
                dijo: «La paz sea con ustedes»."
                <br/>
                <small class="float-right">
                    Juan 20:26 (NTV)
                </small>
            </p>

            {#            <figure> #}
            {#                <blockquote class="text-14-300 text-dark"> #}
            {#                    “Si cada cristiano simplemente recibiera a un extraño en su hogar, terminaríamos con la falta de #}
            {#                    vivienda de la noche a la mañana”. #}
            {#                </blockquote> #}
            {#                <figcaption class="blockquote-footer"> #}
            {#                    Dorothy Day #}
            {#                </figcaption> #}
            {#            </figure> #}

            <p class="text-14-300 font-italic pl-4">
                "Entonces le dijo a Tomás: Pon tu dedo aquí y mira mis manos; mete tu mano en la herida de mi costado.
                Ya no seas incrédulo. ¡Cree!"
                <br/>
                <small class="float-right">
                    Juan 20:27 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                " ¡Mi Señor y mi Dios! —exclamó Tomás."
                <br/>
                <small class="float-right">
                    Juan 20:28 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Entonces Jesús le dijo: Tú crees porque me has visto, benditos los que creen sin verme."
                <br/>
                <small class="float-right">
                    Juan 20:29 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Jesús también hizo muchos otros milagros en presencia de sus seguidores, pero no están escritos en este
                libro.
                <br/>
                <small class="float-right">
                    Juan 20:31 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Sin embargo, estos se escribieron para que ustedes crean que Jesús es el Cristo, el Hijo de Dios, y
                para que creyendo, tengan vida por medio de él."
                <br/>
                <small class="float-right">
                    Juan 20:30-31 (PDT)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
