<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h4 class="text-izq text-600"> #}
            {#                Las buenas prioridades... #}
            {#            </h4> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                “Amado, ruego a Dios que en todo te vaya bien y que tu cuerpo sea tan
                saludable como lo es tu alma.”
                <br/>
                <small class="float-end">
                    3 Juan 1:2 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                <b>El alma es mi más profundo {{ completa_lugar('uno') | raw }}, pero no es una parte de quien soy, es
                    lo que {{ completa_lugar('dos') | raw }} todo lo que soy</b>.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Sobre todas las cosas</b> cuida tu corazón, porque éste determina el rumbo de tu vida.”
                <br/>
                <small class="float-end">
                    Proverbios 4:23 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                ¿Qué necesita mi alma?
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Oh Dios, tú eres mi Dios; de todo corazón te busco. <b>Mi alma tiene sed de ti</b>; todo mi cuerpo te
                anhela en esta tierra reseca y agotada donde no hay agua.”
                <br/>
                <small class="float-end">
                    Salmos 63:1 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Ciertamente, yo soy la vid; ustedes son las ramas. Los que permanecen en mí y yo en ellos producirán
                mucho fruto porque, separados de mí, no pueden hacer nada.”
                <br/>
                <small class="float-end">
                    Juan 15:5 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                PRIORIDAD 1
            </h5>
            <h5 class="text-izq text-600">
                Cuido mi alma dedicando un {{ completa_lugar('tres') | raw }} con Dios.
            </h5>
            <h4 class="text-izq text-600">
                ¿Qué es mi tiempo diario con Dios?
            </h4>
            <h5 class="text-izq text-600">
                Un tiempo para dejar que Dios {{ completa_lugar('cuatro') | raw }} mi alma.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Por la mañana hazme saber de tu gran amor, porque en ti he puesto mi confianza. Señálame el camino que
                debo seguir, porque a ti elevo mi alma.”
                <br/>
                <small class="float-end">
                    Salmos 143:8 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Es la invitación de Dios a entrar en su {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando te pongas a orar, entra en tu cuarto, cierra la puerta y ora a tu Padre, que está en lo secreto.
                Así tu Padre, que ve lo que se hace en secreto, te recompensará.”
                <br/>
                <small class="float-end">
                    Mateo 6:6 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Es asegurarme que Jesús siga {{ completa_lugar('seis') | raw }} de mi vida.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Lo más importante es que reconozcan a Dios como único rey, y que hagan lo que él les pide. Dios les
                dará a su tiempo todo lo que necesiten.”
                <br/>
                <small class="float-end">
                    Mateo 6:33 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Es mi secreto de una vida {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Clama a mí y te responderé, y te daré a conocer cosas grandes y ocultas que tú no sabes.”
                <br/>
                <small class="float-end">
                    Jeremías 33:3 (NVI)
                </small>
            </p>

            <h4 class="text-izq text-600">
                La práctica de este hábito espiritual.
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Al día siguiente Jesús se levantó muy temprano, cuando todavía estaba oscuro, y fue a un lugar
                solitario para orar.”
                <br/>
                <small class="float-end">
                    Marcos 1:35 (PDT)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Me levanto temprano, antes de que salga el sol; clamo en busca de ayuda y pongo mi esperanza en tus
                palabras...”
                <br/>
                <small class="float-end">
                    Salmos 119:147-148 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">

                <br/>
                <small class="float-end">
                    Mas tips en <a href="https://blog.alameda.ar" target="_blank"> blog.alameda.ar</a>
                </small>
            </p>

            <h4 class="text-izq text-600">
                El plan para mi tiempo con Dios
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Por la mañana <b>hazme saber</b> de tu gran amor,<br/>
                porque en ti he puesto mi confianza.<br/>
                <b>Señálame el camino</b> que debo seguir,<br/>
                porque <b>a ti elevo mi alma</b>.”
                <br/>
                <small class="float-end">
                    Salmos 143:8 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                1. L{{ completa_lugar('ocho') | raw }} la Palabra.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Hay dos cosas imposibles: que Dios mienta y que no cumpla lo que promete. ... Tenemos esa esperanza tan
                fuerte y segura como un ancla que sostiene el alma...”
                <br/>
                <small class="float-end">
                    Hebreos 6:18-19 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. M{{ completa_lugar('nueve') | raw }} en Su Palabra y en mi vida.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Que las palabras de mi boca y la meditación de mi corazón sean de tu agrado, oh SEÑOR, mi roca y mi
                redentor.”
                <br/>
                <small class="float-end">
                    Salmos 19:14 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. O {{ completa_lugar('diez') | raw }} a Dios y presentó mi alma.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “SEÑOR, escucha mi voz por la mañana; cada mañana llevo a ti mis peticiones y quedo a la espera.”
                <br/>
                <small class="float-end">
                    Salmos 5:3 (NTV)
                </small>
            </p>

            <h4 class="text-izq text-600">
                La recompensa es {{ completa_lugar('once') | raw }}
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El Señor es mi pastor, nada me falta. <b>Me lleva a descansar</b> a prados verdes, y me conduce a
                manantiales de agua fresca. <b>Él renueva mi alma</b>.”
                <br/>
                <small class="float-end">
                    Salmos 23:1-3 (PDT)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
