<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    <p class="text-14-300 font-italic pl-4 text-centrado">
                        “Cierto día, mientras Jesús predicaba en la orilla del mar de Galilea, grandes multitudes se
                        abalanzaban sobre él para escuchar la palabra de Dios. Jesús notó dos barcas vacías en la orilla
                        porque los pescadores las habían dejado mientras lavaban sus redes. Al subir a una de las
                        barcas, Jesús le pidió a Simón, el dueño de la barca, que la empujara al agua. Luego se sentó en
                        la barca y desde allí enseñaba a las multitudes. Cuando terminó de hablar, le dijo a Simón:
                        Ahora ve a las aguas más profundas y echa tus redes para pescar. Maestro —respondió Simón—,
                        hemos trabajado mucho durante toda la noche y no hemos pescado nada...”
                        <br/>
                        <small class="float-start">
                            Lucas 5:1-5 (NTV)
                        </small>
                    </p>


                </div>
            </div>
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}

            <h4 class="text-centrado text-600">
                QUÉ HACER ANTE UNA<br/>
                SITUACIÓN DESALENTADORA
            </h4>
            <h5 class="text-izq text-600">
                1. Le doy a Jesús {{ completa_lugar('uno') | raw }} a mi vida.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Jesús subió a una de las barcas, que era de Simón, y le pidió que la alejara un poco de la orilla.
                Luego se sentó en la barca, y desde allí comenzó a enseñar a la gente.”
                <br/>
                <small class="float-start">
                    Lucas 5:3 (DHH)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Admito que {{ completa_lugar('dos') | raw }} no están funcionando.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cuando terminó de hablar, le dijo a Simón: Ahora ve a las aguas más profundas y echa tus redes para
                pescar. Maestro —respondió Simón—, hemos trabajado mucho durante toda la noche y no hemos pescado
                nada...”
                <br/>
                <small class="float-start">
                    Lucas 5:4-5 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. {{ completa_lugar('tres') | raw }} todo lo que Jesús me dice que haga.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Maestro —respondió Simón—, hemos trabajado mucho durante toda la noche y no hemos pescado nada; pero SI
                TÚ LO DICES, echaré las redes nuevamente.”
                <br/>
                <small class="float-start">
                    Lucas 5:5 (NTV)
                </small>
            </p>

            <h6 class="text-14-300 font-italic pl-4 text-centrado">
                CUANDO: “Ahora ve”<br/>
                DÓNDE: “a las aguas más profundas”<br/>
                QUE: “echa tus redes para pescar”
            </h6>

            <h5 class="text-izq text-600">
                4. Espero que Jesús {{ completa_lugar('cuatro') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El que los llama es fiel, y así lo hará.”
                <br/>
                <small class="float-start">
                    1° Tesalonicenses 5:24 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Y esta vez las redes <u>se llenaron de tantos peces</u>, ¡que comenzaron a romperse! Un grito de
                auxilio atrajo a los <u>compañeros de la otra barca</u>, y pronto <u>las dos barcas estaban llenas de
                    peces</u> y a punto de hundirse.”
                <br/>
                <small class="float-start">
                    Lucas 5:6-7 (NTV)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                LA REACCIÓN DE PEDRO
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Cuando Simón Pedro se dio cuenta de lo que había sucedido, cayó de rodillas delante de Jesús y le dijo:
                Señor, por favor, aléjate de mí, <u>soy demasiado pecador</u> para estar cerca de ti. Pues estaba muy
                <u>asombrado</u> por la cantidad de peces que habían sacado, al igual que los otros que estaban con él.
                Sus compañeros, Santiago y Juan, hijos de Zebedeo...”
                <br/>
                <small class="float-start">
                    Lucas 5:8-10 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                LA VERDADERA LECCIÓN
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Jesús respondió a Simón: «¡No tengas miedo!<br/>
                <u>¡De ahora en adelante, pescarás personas!».</u><br/>
                Y, en cuanto llegaron a tierra firme, <u>los dejaron todo y siguieron a Jesús</u>.”
                <br/>
                <small class="float-start">
                    Lucas 5:8-10 (NTV)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                {#                <div class="col-12 mx-auto text-center"> #}
                {#                    Cuanto más honestos seamos con Dios<br/> #}
                {#                    más profunda será nuestra amistad #}
                {#                </div> #}

                <div class="col-sm-8 mx-auto text-center">
                    Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia en tu
                    iglesia en <a
                            href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                            target="_blank"> Youversión</a>.
                    <br/>
                    La aplicación más descargada en todo el mundo.<br/>
                    Sigue el <a
                            href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                            target="_blank"> enlace</a> y descubre cómo.
                </div>

                {#                <div class="col-12 mx-auto text-left"> #}
                {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    </h6> #}
                {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                </div> #}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
