<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Y habiendo amado a los suyos que estaban en el mundo, los amó hasta el fin.”
                <br/>
                <small class="float-end">
                    Juan 13: 1 NVI
                </small>
            </p>
            <h4 class="text-centrado text-600">
                ¿Cuáles son las claves de un Amor interminable?
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Sabía Jesús que el Padre había puesto todas las cosas bajo su dominio, y que había salido de Dios y a
                él volvía; así que se levantó de la mesa, se quitó el manto y se ató una toalla a la cintura. Luego echó
                agua en un recipiente y comenzó a lavarles los pies a sus discípulos y a secárselos con la toalla que
                llevaba a la cintura.”
                <br/>
                <small class="float-end">
                    Juan 13: 3- 5 NVI
                </small>
            </p>
            <h5 class="text-izq text-600">
                1 – Un amor {{ completa_lugar('uno') | raw }}
            </h5>
            <h6 class="text-izq text-600">
                La iniciativa nace de {{ completa_lugar('uno') | raw }}
            </h6>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Porque si Dios, cuando todavía éramos sus enemigos, nos reconcilió consigo mismo mediante la muerte de
                su Hijo, con mayor razón seremos salvados por su vida, ahora que ya estamos reconciliados con él.”
                <br/>
                <small class="float-end">
                    Rom. 5: 10 DHH
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Nosotros amamos porque él nos amó primero.”
                <br/>
                <small class="float-end">
                    1 Juan 4: 19 NVI
                </small>
            </p>

            <h5 class="text-izq text-600">
                2 – Una actitud {{ completa_lugar('tres') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando llegó a Simón Pedro, este le dijo: —¿Y tú, Señor, me vas a lavar los pies a mí? Ahora no
                entiendes lo que estoy haciendo —le respondió Jesús—, pero lo entenderás más tarde. —¡No! —protestó
                Pedro—. ¡Jamás me lavarás los pies! —Si no te los lavo, no tendrás parte conmigo.”
                <br/>
                <small class="float-end">
                    Juan 13: 6- 8 NVI
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Tengan la misma actitud que tuvo Cristo Jesús. Aunque era Dios, no consideró que el ser igual a Dios
                fuera algo a lo cual aferrarse. En cambio, renunció a sus privilegios divinos; adoptó la humilde
                posición de un esclavo y nació como un ser humano.”
                <br/>
                <small class="float-end">
                    Fil. 2: 5- 7 NTV
                </small>
            </p>

            <h5 class="text-izq text-600">
                3 – Una entrega {{ completa_lugar('cuatro') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Les he puesto el ejemplo, para que hagan lo mismo que yo he hecho con ustedes.”
                <br/>
                <small class="float-end">
                    Juan 13: 15 NV
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Ustedes no me eligieron a mí, yo los elegí a ustedes. Les encargué que vayan y produzcan frutos
                duraderos, así el Padre les dará todo lo que pidan en mi nombre.”
                <br/>
                <small class="float-end">
                    Juan 15: 16 NTV
                </small>
            </p>
            <h4 class="text-centrado text-600">
                ¿Cómo recuperar mi corazón?
            </h4>

            <h5 class="text-izq text-600">
                1. Evalúo {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pues Dios trabaja en ustedes y les da el deseo y el poder para que hagan lo que a él le agrada.”
                <br/>
                <small class="float-end">
                    Fil. 2: 13 NTV
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Enfoco mi corazón {{ completa_lugar('seis') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Por lo tanto, mis amados hermanos, permanezcan fuertes y constantes. Trabajen siempre para el Señor con entusiasmo, porque ustedes saben que nada de lo que hacen para el Señor es inútil.”
                <br/>
                <small class="float-end">
                    1 Cor. 15:58 NVI
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Invierto mi vida {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El que edifique sobre este fundamento podrá usar una variedad de materiales: oro, plata, joyas, madera, heno o paja; pero el día del juicio, el fuego revelará la clase de obra Que cada constructor ha hecho. El fuego mostrará si la obra de alguien tiene algún valor.”
                <br/>
                <small class="float-end">
                    1 Cor. 3:12-13 NTV
                </small>
            </p>
                        <div class="col-sm-10 mx-auto">

                            <div class="col-sm-4 mx-auto text-center">
                                “Si tratas de aferrarte a la vida, la perderás, pero si entregas tu vida por mi causa, la salvarás.”
                                <br/>
                                Mateo 16: 25 NTV
                            </div>
                        </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
