<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “No nos <b>cansemos</b> de hacer el bien. A su debido tiempo, <b>cosecharemos</b> numerosas bendiciones
                si no nos damos por <b>vencidos</b>.”
                <br/>
                <small class="float-start">
                    Gálatas 6:9 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Como vencer el cansancio interior
            </h4>
            <h5 class="text-centrado text-600">
                1. Busca fuerzas en la {{ completa_lugar('uno') | raw }} de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Qué alegría para los que <b>reciben su fuerza</b> del SEÑOR…”
                <br/>
                <small class="float-start">
                    Salmos 84:5 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “David encontró <b>fuerzas en el SEÑOR</b> su Dios.”
                <br/>
                <small class="float-start">
                    1 Samuel 30:6 (NTV)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                2. Seguí esperando la {{ completa_lugar('dos') | raw }} de Dios.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Los que <b>esperan</b> en el SEÑOR <b>Renovarán sus fuerzas</b>. Se remontarán con alas como las
                águilas, Correrán y no se cansarán, Caminarán y no se fatigarán.”
                <br/>
                <small class="float-start">
                    Isaías 40:31 (NBLH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Hubiera yo <b>desmayado</b>, si no creyera que <b>he de verla bondad del Señor</b> en la tierra de los
                vivientes. <b>Espera al SEÑOR</b>; Esfuérzate y <b>aliéntese tu corazón</b>. Sí, espera al SEÑOR”
                <br/>
                <small class="float-start">
                    Salmos 27:13 (NBLH)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                3. Aferrate a la {{ completa_lugar('tres') | raw }} de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No temas, Pablo, porque de todas maneras vas a comparecer ante el César. Y es más, Dios ha escuchado
                tus ruegos y te concederá las vidas de los que navegan contigo”.”
                <br/>
                <small class="float-start">
                    Hechos 27:24 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Así que, ¡anímense! Pues yo le creo a Dios. Sucederá <b>tal como él lo dijo</b>, pero seremos náufragos
                en una isla»”
                <br/>
                <small class="float-start">
                    Hechos 27:25 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El Señor siempre <b>cumple su palabra</b>;”
                <br/>
                <small class="float-start">
                    Salmos 146:6 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Hemos trabajado mucho durante toda la noche y no hemos pescado nada; pero <b>si tú lo dices</b>, echaré
                las redes nuevamente. Y esta vez las redes se llenaron …!”
                <br/>
                <small class="float-start">
                    Lucas 5:5-6 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                4. Descansa en la {{ completa_lugar('cuatro') | raw }} de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Chocaron contra un banco de arena y el barco … <b>comenzó a hacerse pedazos</b>.”
                <br/>
                <small class="float-start">
                    Hechos 27:41 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El oficial al mando … les ordenó a todos los que sabían nadar que saltaran por la borda primero y se
                dirigieran a tierra firme. Los demás se sujetaron a tablas o a restos del barco destruido. Así que <b>todos
                    escaparon a salvo hasta la costa</b>.”
                <br/>
                <small class="float-start">
                    Hechos 27:43-44 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Sabemos que si amamos a Dios y nos adaptamos a sus planes, todo cuanto nos sucede ha de ser <b>para el bien nuestro</b>.”
                <br/>
                <small class="float-start">
                    Romanos 8:28 (BAD)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “Podremos <b>mantener la frente en alto</b><br/> #}
            {#                    en cualquier circunstancia,<br/> #}
            {#                    sabiendo que <b>todo irá bien</b>,<br/> #}
            {#                    pues conocemos <b>la ternura del amor de Dios</b> hacia nosotros,...<br/> #}
            {#                    Cuando, <b>impotentes</b>, no teníamos medio de escape,<br/> #}
            {#                    Cristo llegó <b>en el momento oportuno</b> #}
            {#                    y murió por nosotros.” #}

            {#                    Romanos 5:5-6 (BAD) #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
