<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        FUERZA INTERIOR
        <br/>
        <small>
            Serie: Social Ed. - Parte 9
        </small>
    </h3>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "A Como ciudad sin muralla y expuesta al peligro, así es quien no sabe dominar sus impulsos."
        <br/>
        <small class="float-right">
            Proverbios 25:28 (DHH)
        </small>
    </p>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <strong>
                La más grande destructora: Una {{ completa_lugar('uno') | raw}}
            </strong>

            <p class="text-info text-14-300 text-left font-italic mb-5">
                "La lengua es un miembro diminuto, <u>¡pero cuánto daño puede hacer!</u> Basta una chispa para
                hacer arder un inmenso bosque… puede avivar esta llama y convertir nuestras vidas en llamarada
                destructiva y desastrosa."
                <br/>
                <small class="float-right">
                    Santiago 3:5-6 (BAD)
                </small>
            </p>

            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Quien controla su boca protege su vida."
                <br/>
                <small class="float-right">
                    Proverbios 13:3 (BTI)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                COMO MANEJAR SU BOCA
            </h4>
            <strong class="text-center">
                1.  {{ completa_lugar('dos') | raw}} ANTES DE HABLAR.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Un hombre sabio siempre piensa antes de hablar; dice lo correcto y vale la pena escucharlo."
                <br/>
                <small class="float-right">
                    Proverbios 16:23 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Cada uno comerá hasta el cansancio del fruto de sus palabras."
                <br/>
                <small class="float-right">
                    Proverbios 18:20 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Es peligroso decir a la ligera: «Esto prometo» y después reconsiderar lo prometido.”
                <br/>
                <small class="float-right">
                    Proverbios 20:25 (BLPH)
                </small>
            </p>
            <strong>
                2.HABLO SIEMPRE {{ completa_lugar('tres') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El que guiña el ojo causa problemas; el que habla sinceramente trae la paz"
                <br/>
                <small class="float-right">
                    Proverbios 10:10 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Hablar con honestidad es un signo de verdadera amistad"
                <br/>
                <small class="float-right">
                    Proverbios 24:26 (TPT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El tiempo te demostrará que vale más una crítica sincera que un elogio."
                <br/>
                <small class="float-right">
                    Proverbios 28:23 (TLA)
                </small>
            </p>
            <strong>
                3.  HABLO LA VERDAD {{ completa_lugar('cuatro') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El que habla sin pensar hiere como un cuchillo, pero el que habla sabiamente sabe sanar la herida."
                <br/>
                <small class="float-right">
                    Proverbios 12:18 (TLA)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Las palabras que brindan consuelo son la mejor medicina."
                <br/>
                <small class="float-right">
                    Proverbios 15:4 (TLA)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Una palabra de aliento que da vida puede hacer maravillas para devolver la alegría al corazón"
                <br/>
                <small class="float-right">
                    Proverbios 12:25 (TPT)
                </small>
            </p>
            <strong>
                4. PIDO LA {{ completa_lugar('cinco') | raw}} CADA DÍA.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Señor,  ponme en la boca un centinela; un guardia a la puerta de mis labios.."
                <br/>
                <small class="float-right">
                    Salmo. 141:3 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Ayúdame, Señor, a mantener cerrada mi boca”
                <br/>
                <small class="float-right">
                    Salmo 41:3 (NBV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Jesús: "Las palabras que ustedes dicen provienen del corazón; eso es lo que los contamina."
                <br/>
                <small class="float-right">
                    Mateo 15:18 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Deja atrás tu rebelión y procura encontrar un corazón nuevo y un espíritu nuevo."
                <br/>
                <small class="float-right">
                    Ezequiel 18:31 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Si afirmas ser religioso pero no controlas tu lengua, te engañas a ti mismo y tu religión no vale
                nada."
                <br/>
                <small class="float-right">
                    Santiago 1:26 (NTV)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
