<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Esto responde el SEÑOR: <b>Si regresas a mí te restauraré...</b>”
                <br/>
                <small class="float-end">
                    Jeremías 15:19-20 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Yo anuncio desde el principio <b>lo que va a pasar al final</b>, y <b>doy a conocer el futuro</b> desde
                mucho tiempo antes. Les aseguro que todos mis planes se cumplirán tal como yo quiero.”
                <br/>
                <small class="float-end">
                    Isaías 46:10 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Yo sé los planes que tengo para ustedes —dice el SEÑOR. Son planes para lo bueno y no para lo malo,
                para <b>darles un futuro</b> y una esperanza.”
                <br/>
                <small class="float-end">
                    Jeremías 29:11 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Cinco convicciones para no rendirte
            </h4>
            <h5 class="text-izq text-600">
                1. Mi historia es parte de {{ completa_lugar('uno') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces enviaron a José un mensaje que decía: «Antes de morir, tu padre nos mandó que te dijéramos:
                “Por favor, perdona a tus hermanos por el gran mal que te hicieron, por el pecado de haberte tratado con
                tanta crueldad”. Por eso nosotros, los siervos del Dios de tu padre, te suplicamos que perdones nuestro
                pecado». Cuando José recibió el mensaje, perdió el control y <b>se echó a llorar</b>.”
                <br/>
                <small class="float-end">
                    Génesis 50:16-17 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces sus hermanos llegaron, y se arrojaron al suelo delante de José y dijeron: Mira, <b>¡somos tus
                    esclavos!</b> Pero José les respondió: <b>No me tengan miedo</b>. ¿Acaso soy Dios para castigarlos?”
                <br/>
                <small class="float-end">
                    Génesis 50:18-19 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Ustedes se propusieron hacerme mal, pero Dios dispuso todo para bien. <b>Él me puso en este cargo</b>
                para que yo pudiera salvar la vida de muchas personas.”
                <br/>
                <small class="float-end">
                    Génesis 50:20 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Dios {{ completa_lugar('dos') | raw }} en todo el camino
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>El SEÑOR estaba con José</b>, por eso tenía éxito en todo mientras servía en la casa de su amo
                egipcio.”
                <br/>
                <small class="float-end">
                    Génesis 39:2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “«Nunca te fallaré. Jamás te abandonaré».”
                <br/>
                <small class="float-end">
                    Hebreos 13:5 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Daré {{ completa_lugar('tres') | raw }} para el maestro
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Trabajen <b>con entusiasmo</b>, como si lo hicieran para el Señor y no para la gente.”
                <br/>
                <small class="float-end">
                    Efesios 6:7 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. El regreso no será {{ completa_lugar('cuatro') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Queridos amigos, nunca tomen venganza. Dejen que se encargue la justa ira de Dios.... En cambio, «Si
                tus enemigos tienen hambre, dales de comer. Si tienen sed, dales de beber... <b>No dejen que el mal los
                    venza, más bien venzan el mal haciendo el bien</b>.”
                <br/>
                <small class="float-end">
                    Romanos 12:19-21 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. Esta lucha será una historia de {{ completa_lugar('cinco') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Por favor no se aflijan más ni se reprochen el haberme vendido, pues en realidad fue <b>Dios quien me
                    mandó delante de ustedes para salvar vidas.</b>”
                <br/>
                <small class="float-end">
                    Génesis 45:5 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Desde hace dos años la región está sufriendo de hambre, y todavía faltan cinco años más en que no habrá
                siembras ni cosechas. Por eso <b>Dios me envió delante de ustedes: para salvarles la vida de manera
                    extraordinaria</b> y de ese modo asegurarles descendencia sobre la tierra.”
                <br/>
                <small class="float-end">
                    Génesis 45:6-7 (NVI)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                Dios prepara tu regreso:
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Haré que el número de tus días sea completado.”
                <br/>
                <small class="float-end">
                    Éxodo 23:26 (BXT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Lo que yo hago, nadie puede desbaratarlo.”
                <br/>
                <small class="float-end">
                    Isaías 43:13 (NVI)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
