<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-centrado text-600">
                Ya no pidas que Dios te saque de tus batallas, mas bien…
            </h4>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('uno') | raw }} a Dios a tus batallas.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Cuando pases</b> por aguas profundas, yo estaré contigo. Cuando pases por ríos de dificultad, no te
                ahogarás. Cuando pases por el fuego de la opresión, no te quemarás; las llamas no te consumirán.”
                <br/>
                <small class="float-start">
                    Isaías 43:2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Aun cuando yo pase por el valle más oscuro, <b>no temeré</b>, porque <b>tú estás a mi lado</b>.”
                <br/>
                <small class="float-start">
                    Salmos 23:4 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                2. {{ completa_lugar('dos') | raw }} tus batallas como parte de tu camino.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No necesitamos defendernos delante de usted. Si nos arrojan al horno ardiente, <b>el Dios a quien
                    servimos es capaz</b> de salvarnos…”
                <br/>
                <small class="float-start">
                    Daniel 3:16-17 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Dios… <b>nos rescatará</b> de su poder, su Majestad”
                <br/>
                <small class="float-start">
                    Daniel 3:17
                </small>
            </p>

            <h5 class="text-centrado text-600">
                3. {{ completa_lugar('tres') | raw }} a Dios incondicionalmente.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “… pero <b>aunque no lo hiciera</b>, deseamos dejar en claro ante usted que <b>jamás serviremos a sus
                    dioses</b> ni rendiremos culto a la estatua de oro que usted ha levantado.”
                <br/>
                <small class="float-start">
                    Daniel 3:18 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Dios es nuestro… <b>pronto auxilio</b> en todos los problemas.”
                <br/>
                <small class="float-start">
                    Salmos 46:1 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Yo mismo <b>iré contigo</b>, Moisés, y te daré descanso; todo te saldrá bien.”
                <br/>
                <small class="float-start">
                    Éxodo 33:14 (NTV)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                4. Deja que {{ completa_lugar('cuatro') | raw }} pelee tus batallas.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “¿No eran tres los hombres que <b>atamos</b> y arrojamos dentro del horno? Sí, su Majestad, así es —le
                contestaron.”
                <br/>
                <small class="float-start">
                    Daniel 3:24 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “¡Miren! —gritó Nabucodonosor. ¡Yo veo a cuatro hombres <b>desatados</b> que caminan en medio del fuego
                sin sufrir daño! ¡Y <b>el cuarto hombre</b> se parece a un dios!”
                <br/>
                <small class="float-start">
                    Daniel 3:25 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El Señor siempre <b>cumple su palabra</b>;”
                <br/>
                <small class="float-start">
                    Salmos 146:6 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Entonces… los rodearon y vieron que <b>el fuego no los había tocado</b>. No se les había chamuscado ni
                un cabello, ni se les había estropeado la ropa. ¡Ni siquiera olían a humo!”
                <br/>
                <small class="float-start">
                    Daniel 3:27 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<b>El SEÑOR estaba con José</b>, por eso tenía éxito en todo.”
                <br/>
                <small class="float-start">
                    Génesis 39:2 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Potifar lo notó y se dio cuenta de que <b>el SEÑOR estaba con José</b>, y le daba éxito en todo lo que
                hacía.”
                <br/>
                <small class="float-start">
                    Génesis 39:3 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cuando Jesús se despertó, <b>reprendió al viento y dijo a las olas: «¡Silencio! ¡Cálmense!»</b>. De
                repente, el viento se detuvo y hubo una gran calma. Luego él les preguntó: «<b>¿Por qué tienen
                    miedo?</b> ¿Todavía no tienen fe?».”
                <br/>
                <small class="float-start">
                    Marcos 4:39-40 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “Podremos <b>mantener la frente en alto</b><br/> #}
            {#                    en cualquier circunstancia,<br/> #}
            {#                    sabiendo que <b>todo irá bien</b>,<br/> #}
            {#                    pues conocemos <b>la ternura del amor de Dios</b> hacia nosotros,...<br/> #}
            {#                    Cuando, <b>impotentes</b>, no teníamos medio de escape,<br/> #}
            {#                    Cristo llegó <b>en el momento oportuno</b> #}
            {#                    y murió por nosotros.” #}

            {#                    Romanos 5:5-6 (BAD) #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
