<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entrégale a Dios tu amor, y él te dará lo que más deseas. Pon tu vida en sus manos, confía plenamente
                en él, y él actuará en tu favor.”
                <br/>
                <small class="float-end">
                    Salmos 37: 4 y 5 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No tengas otros dioses además de mí. No te hagas ningún ídolo, ni nada que guarde semejanza con lo que
                hay arriba en el cielo, ni con lo que hay abajo en la tierra, ni con lo que hay en las aguas debajo de
                la tierra.”
                <br/>
                <small class="float-end">
                    Éxodo 20: 3 y 4 (NVI)
                </small>
            </p>
            {#            <h4 class="text-centrado text-600"> #}
            {#                NO SOMOS UN CUERPO CON {{ completa_lugar('uno') | raw }}.<br/> #}
            {#                SOMOS {{ completa_lugar('dos') | raw }} CON UN CUERPO. #}
            {#            </h4> #}
            <h5 class="text-izq text-600">
                ¿Cómo identificar mis ídolos?
            </h5>
            <h5 class="text-izq text-600">
                ¿{{ completa_lugar('uno') | raw }}?<br/>
                ¿{{ completa_lugar('dos') | raw }}?<br/>
                ¿{{ completa_lugar('tres') | raw }}?<br/>
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando Jesús estaba ya para irse, un hombre llegó corriendo y se postró delante de él. —Maestro bueno
                —le preguntó—, ¿qué debo hacer para heredar la vida eterna? —¿Por qué me llamas bueno? —respondió
                Jesús—. Nadie es bueno sino solo Dios........”<br/>
                “Luego ven y sígueme. Al oír esto, el hombre se desanimó y se fue triste, porque tenía muchas riquezas.”
                <br/>
                <small class="float-end">
                    Marcos 10:17-30 (NVI)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                ¿Cómo destronar los ídolos de mi vida?
            </h4>
            {#            <h5 class="text-centrado text-600"> #}
            {#                ¿Qué es el pecado según la Biblia? #}
            {#            </h5> #}
            <h5 class="text-izq text-600">
                1- {{ completa_lugar('cuatro') | raw }}.<br/>
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Quién puede subir al monte del Señor? ¿Quién puede estar en su lugar santo? Solo los de manos limpias
                y corazón puro, que no rinden culto a ídolos y nunca dicen mentiras..”
                <br/>
                <small class="float-end">
                    Salmos 24:3-4 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2- {{ completa_lugar('cinco') | raw }}.<br/>
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Derriba el altar que tu padre ha dedicado a Baal, y el poste con la imagen de la diosa Asera que está
                junto a él.”
                <br/>
                <small class="float-end">
                    Jueces 6:25 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3- {{ completa_lugar('seis') | raw }}.<br/>
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Anhelo y hasta desfallezco de deseo por entrar en los atrios delSeñor. Con todo mi ser, mi cuerpo y mi
                alma, gritaré con alegría alDios viviente.”
                <br/>
                <small class="float-end">
                    Salmos 84:2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Como el ciervo anhela las corrientes de las aguas, así te anhelo ati, oh Dios. Tengo sed de Dios, del
                Dios viviente.”
                <br/>
                <small class="float-end">
                    Salmos 42:1 y 2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Porque Él ha saciado al alma sedienta y ha llenado de bienes al alma hambrienta.”
                <br/>
                <small class="float-end">
                    Salmos 107:9 (LBLA)
                </small>
            </p>

            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
