<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">


            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <div class="col-sm-10 mx-auto">
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    Pues aunque vivimos en el mundo, no libramos batallas como lo hace el mundo. Las armas con que
                    luchamos no son del mundo, sino que tienen el poder divino para derribar fortalezas. Destruimos
                    argumentos y toda altivez que se levanta contra el conocimiento de Dios, y llevamos cautivo todo
                    pensamiento para que obedezca a Cristo.
                    <br/>
                    <small class="float-start">
                        2° Corintios 10:3-5 (NVI)
                    </small>
                </p>
            </div>

            <h4 class="text-centrado text-600">
                ¿Cómo Satanás se apodera de mi mente?
            </h4>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “El diablo… es el padre de la mentira”
                <br/>
                <small class="float-start">
                    Juan 8:44 (NVI)
                </small>
            </p>


            <h5 class="text-izq text-600">
                1. COLOCA LOS PRIMEROS LADRILLOS: {{ completa_lugar('uno') | raw }}.
            </h5>
            <h6 class="text-izq">
                … Destruimos <u>argumentos</u>
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “La serpiente … preguntó a la mujer: - ¿Conque Dios les dijo que no comieran de ningún árbol del
                jardín?”
                <br/>
                <small class="float-start">
                    Génesis 3:1 (NVI)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                La mayor habilidad de Satanás es hacerte aceptar sus mentiras como pensamientos <u>lógicos y
                    racionales</u>.
            </h5>
            <h5 class="text-centrado text-600">
                2. LEVANTA LOS MUROS: {{ completa_lugar('dos') | raw }}.
            </h5>
            <h6 class="text-izq">
                … y toda <u>altivez</u>
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pero la serpiente dijo a la mujer: —¡No es cierto, no van a morir! Dios sabe muy bien que cuando coman
                de ese árbol se les abrirán los ojos y llegarán a ser como Dios, conocedores del bien y del mal.”
                <br/>
                <small class="float-start">
                    Génesis 3:4-5 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                3. COMPLETA LA FORTALEZA: {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “La mujer vio que el fruto del árbol era bueno para comer, y que era atractivo a la vista y era deseable
                para adquirir sabiduría; así que tomó de su fruto y comió. Luego dio a su esposo, que estaba con ella, y
                él también comió. En ese momento los ojos de ambos fueron abiertos y tomaron conciencia de su desnudez.
                Por eso, para cubrirse entretejieron hojas de higuera”
                <br/>
                <small class="float-start">
                    Génesis 3:6-7 (NVI)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                ¿Cómo ganar la batalla?
            </h4>

            <h5 class="text-centrado text-600">
                1. IDENTIFICÁ CADA {{ completa_lugar('cuatro') | raw }}:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                No se amolden al mundo actual, sino sean transformados mediante la renovación de su mente. Así podrán
                comprobar cómo es la voluntad de Dios: buena, agradable y perfecta.
                <br/>
                <small class="float-start">
                    Romanos 12:2 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                2. DERRIBALA A LA LUZ DE LA {{ completa_lugar('cinco') | raw }}:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “y llevamos cautivo todo pensamiento para que obedezca a Cristo.”
                <br/>
                <small class="float-start">
                    2 Corintios 10:5 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                3. {{ completa_lugar('seis') | raw }} EN LA VERDAD:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Estoy afligido y ando errante… Recuerdo esto bien y por eso me deprimo. Pero algo más me viene a la
                memoria, lo cual me llena de esperanza”
                <br/>
                <small class="float-start">
                    Lamentaciones 3:19-21 (NVI)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Dispónganse para actuar con inteligencia; tengan dominio propio; pongan su esperanza completamente en
                la gracia que se les dará cuando se revele Jesucristo. Como hijos obedientes, no se amolden a los malos
                deseos que tenían antes, cuando vivían en la ignorancia.”
                <br/>
                <small class="float-start">
                    1° Pedro 1:13,14 (NVI)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
{#                <div class="col-12 mx-auto text-center">#}
{#                    Cuanto más honestos seamos con Dios<br/>#}
{#                    más profunda será nuestra amistad#}
{#                </div>#}

                {#                <div class="col-sm-8 mx-auto text-center"> #}

                {#                </div> #}

                {#                <div class="col-12 mx-auto text-left"> #}
                {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    </h6> #}
                {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                </div> #}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
