<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                "A todos <b>los que creyeron en él y lo recibieron</b>, les dio <b>el derecho de llegar a ser hijos de
                    Dios.</b> Ellos nacen de nuevo, no mediante un nacimiento físico como resultado de la pasión o de
                la iniciativa humana, sino por medio de <b>un nacimiento que proviene de Dios</b>."
                <br/>
                <small class="float-end">
                    Juan 1:12-13 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Jesús le respondió: —Te aseguro que si uno no nace <b>del agua y del Espíritu</b>, no puede
                <b>entrar</b> en el reino de Dios. Todos nacen de padres humanos; pero <b>los hijos de Dios sólo nacen
                    del Espíritu</b>."
                <br/>
                <small class="float-end">
                    Juan 3:5-6 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Nacer de nuevo/de lo alto es lo que sucede cuando el {{ completa_lugar('uno') | raw }} desciende en tu
                vida y te convierte en hijo de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Juan anunciaba: … <b>Yo los bautizo con agua, ¡pero él [Jesús] los bautizará con el Espíritu Santo!</b>»."
                <br/>
                <small class="float-end">
                    Marcos 1:7-8 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Tan pronto como <b>Jesús fue bautizado</b>, subió del agua. En ese momento se abrió el cielo, y él vio
                al <b>Espíritu de Dios</b> bajar como una paloma y posarse sobre él. Y una voz del cielo decía: "<b>Éste
                    es mi Hijo amado</b>; estoy muy complacido con él."
                <br/>
                <small class="float-end">
                    Mateo 3:16-17 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Jesús: "En unos cuantos días ustedes serán bautizados con el Espíritu Santo»."
                <br/>
                <small class="float-end">
                    Hechos 1:5 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "--<b>Arrepiéntanse y bautícese</b> cada uno de ustedes en el nombre de Jesucristo para perdón de sus
                pecados --les contestó Pedro--, y recibirán el <b>don del Espíritu Santo</b>."
                <br/>
                <small class="float-end">
                    Hechos 2:38 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "... Recuerden que no es cristiano quien en su interior no tenga el Espíritu de Cristo."
                <br/>
                <small class="float-end">
                    Romanos 8:9 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                La presencia del Espíritu en tu interior es tu {{ completa_lugar('dos') | raw }} espiritual.
            </h5>
            <h4 class="text-centrado text-600">
                ¿QUÉ COSAS SUCEDEN CUANDO NACES DEL ESPÍRITU?
            </h4>
            <h5 class="text-izq text-600">
                1. Una clara conciencia de {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Si afirmamos que no tenemos pecado, lo único que hacemos es engañarnos a nosotros mismos y no vivimos
                en la verdad; pero <b>si confesamos nuestros pecados a Dios</b>, él es fiel y justo para perdonarnos
                nuestros pecados y limpiarnos de toda maldad."
                <br/>
                <small class="float-end">
                    1 Juan 1:8-9 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Una definitiva visión de {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "El mensaje de la cruz parece una tontería para aquellos que están perdidos; pero para los que somos
                salvos, ese mensaje es el poder de Dios."
                <br/>
                <small class="float-end">
                    1 Corintios 1:18 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Mientras moría en la cruz, sobre su propio cuerpo llevaba nuestros pecados;... ¡Sus heridas sanaron las
                nuestras!"
                <br/>
                <small class="float-end">
                    1 Pedro 2:24 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Una cambio de {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "<b>Cuando el Espíritu Santo rige nuestras vidas</b>, produce en nosotros amor, gozo, paz, paciencia,
                benignidad, bondad, fidelidad, mansedumbre, templanza… Los que pertenecen a Cristo <b>han clavado en la
                    cruz los impulsos de su naturaleza pecadora</b>."
                <br/>
                <small class="float-end">
                    Gálatas 5:22-24 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Una nueva {{ completa_lugar('seis') | raw }} con el Padre.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Si ustedes me aman... yo le pediré al Padre, y <b>él les dará otro Consolador para que los acompañe
                    siempre: el Espíritu de verdad… No los voy a dejar huérfanos</b>."
                <br/>
                <small class="float-end">
                    Juan 14:15-18 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Los hijos de Dios <b>se dejan guiar</b> por el Espíritu de Dios. El Espíritu que ustedes han recibido
                ahora <b>no los convierte en esclavos llenos de temor</b>.”
                <br/>
                <small class="float-end">
                    Romanos 8:14-15a (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "<b>El Espíritu nos convierte en hijos de Dios y nos permite llamar a Dios: «¡Papá!» </b> <sup>16</sup>
                El Espíritu de Dios se une a nuestro espíritu, y <b>nos asegura que somos hijos de Dios</b>."
                <br/>
                <small class="float-end">
                    Romanos 8:15b-16 (TLA)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “<b>Estoy firmemente convencido</b> de que aquel que comenzó en ustedes la buena obra <b>la #}
            {#                        completará</b> hasta el Día de Cristo Jesús.” #}
            {#                    <br/> #}
            {#                    Filipenses 1:6 (BPD) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
