<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}

            <p class="text-14-300 font-italic pl-4 text-centrado">
                “[El amor] todo lo disculpa...“

                <br/>
                <small class="float-start">
                    1° Corintios 13:7 (NVI)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Cinco pasos para la disculpa
            </h4>

            <h5 class="text-izq text-600">
                1. (L) {{ completa_lugar('uno') | raw }} el dolor producido.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Ustedes están muy orgullosos de sí mismos, en cambio deberían estar <u>llorando</u> de dolor y
                vergüenza…”
                <br/>
                <small class="float-start">
                    1° Corintios 5:2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “¡Fíjense! Esta tristeza que provino de Dios, ¡produjo en ustedes preocupación, <u>el deseo de
                    disculparse</u>, indignación! …”
                <br/>
                <small class="float-start">
                    2° Corintios 7:11 (RVC)
                </small>
            </p>
            <h6 class="text-centrado text-600">
                Las palabras mágicas: “{{ completa_lugar('dos') | raw }}”.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Me retracto de lo que he dicho y te pido perdón en polvo y ceniza»”
                <br/>
                <small class="float-start">
                    Job 42:6 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Acepto la {{ completa_lugar('tres') | raw }} de lo sucedido.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “A ti, y sólo a ti te he ofendido; <u>he hecho lo malo</u>, en tu propia cara. Tienes toda la razón al
                declararme culpable; no puedo alegar que soy inocente. “
                <br/>
                <small class="float-start">
                    Salmos 51:4 (TLA)
                </small>
            </p>
            <h6 class="text-centrado text-600">
                Las palabras necesarias: “{{ completa_lugar('cuatro') | raw }}”.
            </h6>

            <h5 class="text-izq text-600">
                3. (R) {{ completa_lugar('cinco') | raw }} el daño provocado.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “«Si alguien del pueblo hace el mal ... Deberá confesar su pecado, <u>restituir completamente el
                    daño</u> hecho más un veinte por ciento adicional y darlo a la persona que perjudicó. “
                <br/>
                <small class="float-start">
                    Números 5:6-7 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Señor, la mitad de mis bienes daré a los pobres, y si en algo he defraudado a alguien, se lo <u>restituiré
                    cuadruplicado</u>.”
                <br/>
                <small class="float-start">
                    Lucas 19:8 (NBLH)
                </small>
            </p>
            <h6 class="text-centrado text-600">
                La pregunta: “¿{{ completa_lugar('seis') | raw }}?”.
            </h6>

            <h5 class="text-izq text-600">
                4. Muestro {{ completa_lugar('siete') | raw }} de arrepentimiento.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Vivan de tal manera que <u>demuestre</u> que realmente han cambiado.”
                <br/>
                <small class="float-start">
                    Lucas 3:8 (PDT)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Produzcan <u>frutos</u> que demuestren arrepentimiento...“
                <br/>
                <small class="float-start">
                    Lucas 3:8 (NVI)
                </small>
            </p>
            <h6 class="text-centrado text-600">
                Decir sin palabras: “{{ completa_lugar('ocho') | raw }}”:
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Quien encubre su pecado jamás prospera; quien lo confiesa <b><u>y lo deja</u></b>, halla perdón.“
                <br/>
                <small class="float-start">
                    Proverbios 28:13 (NBD)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. (P) {{ completa_lugar('nueve') | raw }} perdón.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Si... te acuerdas de pronto de que algún amigo tiene algo contra ti, ... vé a pedirle perdón y a
                reconciliarte con él. “
                <br/>
                <small class="float-start">
                    Mateo 5:23-24 (BAD)
                </small>
            </p>
            <h6 class="text-centrado text-600">
                Esperar la respuesta:: “{{ completa_lugar('diez') | raw }}”.
            </h6>

            <h4 class="text-izq text-600">
                El perdón que mas necesitamos.
            </h4>


            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    {#                    Como construir una vida de amor #}
                </div>

                <div class="col-sm-8 mx-auto text-center">
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “«Dos hombres fueron al templo a orar. Uno de ellos era fariseo y el otro era cobrador de
                        impuestos. »Puesto de pie, el fariseo oraba así: “Dios, te doy gracias porque no soy como los
                        demás hombres. Ellos son ladrones y malvados, y engañan a sus esposas con otras mujeres.
                        ¡Tampoco soy como ese cobrador de impuestos! Yo ayuno dos veces por semana y te doy la décima
                        parte de todo lo que gano.”<br/>
                        »El cobrador de impuestos, en cambio, se quedó un poco más atrás. Ni siquiera se atrevía a
                        levantar la mirada hacia el cielo, sino que se daba golpes en el pecho y decía: “¡Dios, ten
                        compasión de mí, y perdóname por todo lo malo que he hecho!”»<br/>
                        Cuando terminó de contar esto, Jesús les dijo a aquellos hombres: «Les aseguro que, cuando el
                        cobrador de impuestos regresó a su casa, <u>Dios ya lo había perdonado</u>; pero al fariseo no.
                        Porque los que se creen más importantes que los demás, son los menos valiosos para Dios. En
                        cambio, los más importantes para Dios son los <u>humildes</u>.»“. Lucas 18:10-14 (TLA)
                    </p>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Si confesamos nuestros pecados, Dios, que es fiel y justo, nos los perdonará y nos limpiará de
                        toda maldad.“. 1° Juan 1:9 (NVI)
                    </p>
                    {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                    {#                        3. {{ completa_lugar('trece') | raw }} lo que Dios dice acerca del amor. #}
                    {#                    </p> #}
                    {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                    {#                        4. {{ completa_lugar('catorce') | raw }} actua en maneras amorosas y desinteresadas. #}
                    {#                    </p> #}
                    {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                    {#                        5. {{ completa_lugar('quince') | raw }} de otra gente amorosa. #}
                    {#                    </p> #}
                    {#                <h6 class="text-centrado text-600"> #}

                    {#                    “Así manifestó Dios su amor entre nosotros: en que <b>envió</b> a<br/> #}
                    {#                    su Hijo único al mundo para que vivamos por medio de él”<br/> #}
                    {#                    1 Juan 4:9 (NVI) #}
                    {#                </h6> #}
                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
