<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Cuando sus hijos pregunten a sus padres el día de mañana:<br/>
                <b>‘¿Qué significan estas piedras?’</b><br/>
                ustedes se lo explicarán a sus hijos y les dirán:<br/>
                ‘Israel cruzó este Jordán en tierra seca.’ “
                <br/>
                <small class="float-start">
                    Josué 4:20-22 (NBLH)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                Claves para la aventura que viene
            </h4>
            <h5 class="text-izq text-600">
                1. Será junto con una {{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ninguno de ustedes entrará en el país que prometí darles, excepto Caleb, hijo de Jefone, y Josué, hijo
                de Nun. Sin embargo, me llevaré a sus hijos, los que dijeron que serían llevados como botín, al país que
                ustedes rechazaron, y ellos sí lo apreciarán.“
                <br/>
                <small class="float-start">
                    Números 14:30-31 (VBL)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Será una {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “En cuanto vean ustedes que el arca del Señor pasa, …, salgan de donde estén y síganla. Así sabrán por
                dónde tienen que ir, porque ninguno de ustedes ha pasado antes por ese camino…”
                <br/>
                <small class="float-start">
                    Josué 3:3-4 (DHH)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Será una gran {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El reino de los cielos será también como un hombre que, al emprender un viaje, llamó a sus siervos y
                les encargó sus bienes. A uno le dio <b>cinco mil</b> monedas de oro, a otro <b>dos mil</b> y a otro
                sólo <b>mil</b>, a cada uno según su capacidad. Luego se fue de viaje.”
                <br/>
                <small class="float-start">
                    Mateo 25:14-15 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Después de mucho tiempo volvió el señor de aquellos siervos y <b>arregló cuentas</b> con ellos.“
                <br/>
                <small class="float-start">
                    Mateo 25:19 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “El que había recibido las cinco mil monedas llegó con las otras cinco mil. ‘Señor --dijo--, usted me
                encargó cinco mil monedas. Mire, <b>he ganado otras cinco mil</b>.’ Su señor le respondió: ‘¡Hiciste
                bien, <b>siervo bueno y fiel!</b> En lo poco has sido fiel; te pondré a cargo de mucho más. ¡Ven a
                compartir la felicidad de tu señor!’“
                <br/>
                <small class="float-start">
                    Mateo 25:20-21 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Vayan y hagan <b>discípulos</b>…, bautizándolos... Enseñen a los nuevos discípulos a obedecer todos los
                mandatos que les he dado. Y tengan por seguro esto: que <b>estoy con ustedes siempre, hasta el fin de
                    los tiempos»</b>. “
                <br/>
                <small class="float-start">
                    Mateo 28:19-20 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Será el mismo {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Entonces Josué dijo al pueblo: “<b>Conságrense</b>, porque mañana el SEÑOR hará maravillas entre
                ustedes.” “
                <br/>
                <small class="float-start">
                    Josué 3:5 (NBLH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Nadie podrá ser discípulo mío si no se sienta a contar las bendiciones que disfruta y luego <b>renuncia
                    a ellas por mí.</b>“
                <br/>
                <small class="float-start">
                    Lucas 14:33 (BAD)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. Será la {{ completa_lugar('cinco') | raw }} de tu vida..
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Jesús: “Voy a construir <b>mi iglesia</b>; y ni siquiera el poder de la muerte podrá vencerla.“
                <br/>
                <small class="float-start">
                    Mateo 16:18 (DHH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El que quiera salvar su vida, la perderá; pero <b>el que la pierda por mi causa, la encontrará</b>”
                <br/>
                <small class="float-start">
                    Mateo 16:25 (PDT)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Dios amó tanto al mundo que dio a su Hijo único para que #}
            {#                    todo el que crea en él no se pierda, sino que tenga vida #}
            {#                    eterna. <br/> #}
            {#                    Juan 3:16 (PDT) #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
