<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4">
                “Busqué al Señor, y él me respondió; me libró de todos mis temores.”
                <br/>
                <small class="float-end">
                    Salmo 34:4 ((NVI))
                </small>
            </p>
            <h4 class="text-izq text-600">
                ¿Qué es el temor?
            </h4>
            <h5 class="text-izq text-600">
                El temor es una reacción emocional frente a la amenaza:
            </h5>
            <ul class="text-14-300">
                <li>A perder mi {{ completa_lugar('uno') | raw }}</li>
                <li>A perder mi {{ completa_lugar('dos') | raw }}</li>
                <li>A perder mis {{ completa_lugar('tres') | raw }}</li>

            </ul>
            <h5 class="text-izq text-600">
                ¿Qué lo alimenta?
            </h5>
            <ul class="text-14-300">
                <li>Experiencias {{ completa_lugar('cuatro') | raw }}.</li>
                <li>Carga {{ completa_lugar('cinco') | raw }} excesiva</li>
                <li>Evitar una {{ completa_lugar('seis') | raw }}.</li>
                <li>Mentalidad/relaciones {{ completa_lugar('siete') | raw }}.</li>

            </ul>
            <h4 class="text-izq text-600">
                EL ANTÍDOTO CONTRA EL TEMOR:
            </h4>
            <h5 class="text-izq text-600">
                LA {{ completa_lugar('ocho') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                <sup>22</sup> Un día subió Jesús con sus discípulos a una barca. —Crucemos al otro lado del lago —les
                dijo. Así que partieron, <sup>23</sup> y mientras navegaban, él se durmió. Entonces se desató una
                tormenta sobre el lago, de modo que la barca comenzó a inundarse y corrían gran peligro. <sup>24</sup>
                Los discípulos fueron a despertarlo. —¡Maestro, Maestro, nos vamos a ahogar! —gritaron.
                <br/>
                <small class="float-end">
                    Lucas 8:22-24 (NVI)
                </small>
            </p>
            <h5 class="text-izq">
                1. Experimenta Su {{ completa_lugar('nueve') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “. —¡Maestro, Maestro, nos vamos a ahogar! —gritaron. Él se levantó y reprendió al viento y a las olas”
                <br/>
                <small class="float-end">
                    Lucas 8:24
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Si tenemos miedo es por temor al castigo, y esto muestra que no hemos experimentado plenamente el
                perfecto amor de Dios.”
                <br/>
                <small class="float-end">
                    1 Juan. 4:18 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Dios demuestra su amor por nosotros en esto: en que cuando todavía éramos pecadores, Cristo murió por
                nosotros.”
                <br/>
                <small class="float-end">
                    Romanos 5:8 (NVI)
                </small>
            </p>
            <h5 class="text-izq">
                2. Descansa en Su {{ completa_lugar('diez') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “—Crucemos al otro lado del lago —les dijo.”
                <br/>
                <small class="float-end">
                    Lucas 8:22b
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “<sup>28</sup>Dios dispone todas las cosas para el bien de quienes lo aman, los que han sido llamados de
                acuerdo con su propósito. <sup>29</sup>Porque a los que Dios conoció de antemano, también los predestinó
                a ser transformados según la imagen de su Hijo”
                <br/>
                <small class="float-end">
                    Romanos 8:28-29 (NVI)
                </small>
            </p>
            <h5 class="text-izq">
                Confía en Su {{ completa_lugar('once') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4">
                « Él se levantó y reprendió al viento y a las olas; la tormenta se apaciguó y todo quedó tranquilo.
                <sup>25</sup>—¿Dónde está la fe de ustedes? —les dijo a sus discípulos. Con temor y asombro ellos se
                decían unos a otros: «¿Quién es éste, que manda aun a los vientos y al agua, y le obedecen?»
                <br/>
                <small class="float-end">
                    Lucas 8:24-25 (NVI)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4">
                <sup>1</sup><b>No tengas miedo</b>, porque he pagado tu rescate; te he llamado por tu nombre; eres mío.
                <sup>2</sup>Cuando pases por aguas profundas, yo estaré contigo. Cuando pases por ríos de dificultad, no
                te ahogarás. Cuando pases por el fuego de la opresión, no te quemarás; las llamas no te consumirán.
                <sup>3</sup>Pues yo soy el SEÑOR, tu Dios, el Santo de Israel, tu Salvador.
                <br/>
                <small class="float-end">
                    Isaías 43:1-3 ((NTV))
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
