<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “El Señor salva a los justos, les da fuerza en los momentos difíciles.”
                <br/>
                <small class="float-start">
                    Salmos 37:39 (PDT)
                </small>
            </p>

            <h4 class="text-izq text-600">
                COMO SEGUIR ESPERANDO TU MILAGRO
            </h4>

            <h5 class="text-izq text-600">
                1. Recordá que Dios está {{ completa_lugar('uno') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Una gran multitud… un lugar remoto… ¡Y nada para comer!
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Mucho antes de que enfrentes un problema,<br/>
                Dios {{ completa_lugar('dos') | raw }}
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Enseguida se formó una turba contra Pablo y Silas, y los funcionarios de la ciudad ordenaron que les
                quitaran la ropa y los golpearan con varas de madera. Los golpearon severamente y después los
                metieron en la cárcel. Le ordenaron al carcelero que se asegurara de que no escaparan. Así que el
                carcelero los puso en el calabozo de más adentro y les sujetó los pies en el cepo.”
                <br/>
                <small class="float-start">
                    Hechos 16:22-24 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. No renuncies a tu {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Sólo ve los milagros de Dios, aquel que
                nunca deja de {{ completa_lugar('cuatro') | raw }}
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Alrededor de la <b>medianoche</b>, Pablo y Silas estaban orando y <b>cantando himnos</b> a Dios, y los
                demás prisioneros escuchaban.”
                <br/>
                <small class="float-start">
                    Hechos 16:25 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “De repente, hubo un gran terremoto y la cárcel se sacudió hasta sus cimientos. Al instante, todas las
                puertas se abrieron de golpe, ¡y a todos los prisioneros se les cayeron las cadenas!”
                <br/>
                <small class="float-start">
                    Hechos 16:26 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El carcelero pidió una luz y corrió al calabozo y cayó temblando ante Pablo y Silas. Después los sacó y
                les preguntó: Señores, ¿qué debo hacer para ser salvo? Ellos le contestaron: Cree en el Señor Jesús y
                <b>serás salvo, junto con todos los de tu casa</b>. Y le presentaron la palabra del Señor tanto a él
                como a todos los que vivían en su casa.”
                <br/>
                <small class="float-start">
                    Hechos 16:27-32 (NTV)
                </small>
            </p>


            <h5 class="text-izq text-600">
                3. Confía en el {{ completa_lugar('cinco') | raw }} de Dios
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Dios tiene un {{ completa_lugar('seis') | raw }} incluso en los problemas.
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Me deleito en mis debilidades, y en los insultos, en privaciones, persecuciones y dificultades que
                sufro por Cristo. Pues, cuando soy débil, entonces soy fuerte.”
                <br/>
                <small class="float-start">
                    2 Corintios 12:10 (NTV).
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Acaso hay algo que pueda separarnos del amor de Cristo? ¿Será que él ya no nos ama si tenemos
                problemas o aflicciones…?… Claro que no, a pesar de todas estas cosas, nuestra victoria es absoluta por
                medio de Cristo, quien nos amó.”
                <br/>
                <small class="float-start">
                    Romanos 8:35-37 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Abraza el milagro {{ completa_lugar('siete') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Ustedes quieren estar conmigo <b>porque les di de comer</b>, no porque hayan <b>entendido las señales
                    milagrosas</b>. No se preocupen tanto por las cosas que se echan a perder, tal como la comida. <b>Pongan
                    su energía en buscar la vida eterna</b> que puede darles el Hijo del Hombre…”
                <br/>
                <small class="float-start">
                    Juan 6:26-27 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús hizo <b>muchas otras señales milagrosas</b> en presencia de sus discípulos, las cuales no están
                registradas en este libro. Pero éstas se han escrito <b>para que ustedes crean que Jesús es el
                    Cristo</b>, el Hijo de Dios, y para que al creer en su nombre <b>tengan vida</b>.”
                <br/>
                <small class="float-start">
                    Juan 20:30-31 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                El mayor milagro no es lo que puedas obtener de Dios<br/>
                El mayor milagro es una vida {{ completa_lugar('ocho') | raw }}
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
