<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        ESCAPE DEL METAVERSO
        <br/>
        <small>
            Serie: Rompe tus muros - Parte 2
        </small>
    </h3>
    <br/>

    <blockquote class="blockquote blockquote-alameda-primary text-right text-14-300">
        El metaverso. <br/>
        Los metaversos son entornos en un ciberespacio donde los humanos interactúan social y económicamente
        como avatares, sin las limitaciones impuestas por el mundo real.
    </blockquote>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                COMO EL MUNDO VIRTUAL TE SECUESTRA.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Sabemos que somos hijos de Dios y que el mundo que nos rodea está controlado por el maligno."
                <br/>
                <small class="float-right">
                    1 Juan 5:19 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "No te hagas ninguna clase de ídolo ni imagen de ninguna cosa que está en los cielos, en la tierra,
                o en el mar. No te inclines ante ellos"
                <br/>
                <small class="float-right">
                    Éxodo 20:4-5a (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Esta gente se apacienta de ceniza, la ilusión de su mente los hace delirar; son incapaces de
                salvarse reconociendo que es pura mentira lo que tienen en su mano."
                <br/>
                <small class="float-right">
                    Isaías 44:20 (BTI)
                </small>
            </p>
            <strong>
                ¿Con qué frecuencia crees que tocas tu teléfono en un día?
            </strong>
            <br/>
            <strong>
                El precio más alto del mundo virtual es tu tiempo y tu atención.
            </strong>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                COMO ROMPER EL MURO DEL METAVERSO.
            </h4>
            <i>Establecer {{ completa_lugar('uno') | raw }} y ofrecer resistencia.</i>
            <br/>
            <blockquote class="blockquote blockquote-alameda-primary text-right text-14-300">
                “Los fieles combatientes de la resistencia son personas: … que, cuando «extienden la mano y
                tocan a alguien» esperan que la otra persona esté en la misma habitación”<br/>
                <b>- Tecnopolis, Neil Portman</b>
            </blockquote>
            <br/>
            <i>Vivir en la {{ completa_lugar('dos') | raw }} realidad.</i>
            <br/>
            <ul>
                <b>Tres niveles de realidad.</b>
                <li><i>Realidad espiritual – Cristo.</i></li>
                <br/>
                <li><i>Realidad física - Creación.</i></li>
                <br/>
                <li><i>Realidad artificial – Mundo.</i></li>
                <br/>
            </ul>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "La verdadera realidad es el Mesías."
                <br/>
                <small class="float-right">
                    Colosenses 2:17
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "<b>No amen a este mundo</b> ni las cosas que les ofrece porque cuando aman al mundo, no tienen el amor
                del Padre en ustedes. Pues el mundo sólo ofrece <b>un intenso deseo por el placer físico, un deseo
                    insaciable por todo lo que vemos y el orgullo de nuestros logros y posesiones</b>”.
                <br/>
                <small class="float-right">
                    1 Juan 2:15-17 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Nada de eso proviene del Padre, sino que viene del mundo;  y este mundo se acaba junto con todo
                lo que la gente tanto desea; pero <b>el que hace lo que a Dios le agrada vivirá para siempre</b>."
                <br/>
                <small class="float-right">
                    1 Juan 2:15-17 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Él nos levantó de la muerte junto con Cristo y nos sentó junto a él en el cielo."
                <br/>
                <small class="float-right">
                    Efesios 2:6 (PDT)
                </small>
            </p>
            <strong><i>Vivir para {{ completa_lugar('tres') | raw}}.</i></strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "No te pido que los quites del mundo, sino que los protejas del maligno. …  Como tú me enviaste
                al mundo, yo los envío también al mundo."
                <br/>
                <small class="float-right">
                    Juan 17:15-18 (NVI)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                EL REQUISITO PARA LA BATALLA.
            </h4>
            <strong>
                <i>
                    Una {{ completa_lugar('cuatro') | raw}} despierta.
                </i>
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “No tomen como modelo a este mundo. Por el contrario, transfórmense interiormente renovando
                su mentalidad"
                <br/>
                <small class="float-right">
                    Romanos 12:2 (BPD)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "La religión pura y verdadera a los ojos de Dios Padre consiste en… no dejar que el mundo te corrompa."
                <br/>
                <small class="float-right">
                    Santiago 1:27 (NTV)
                </small>
            </p>
            <strong>
                <i>
                    Una {{ completa_lugar('cinco') | raw}} completa.
                </i>
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "El espíritu de Dios el Señor está sobre mí. Sí, el Señor me ha ungido; me ha enviado a
                proclamar buenas noticias a los afligidos, a vendar a los quebrantados de corazón, a anunciar
                libertad a los cautivos, y liberación a los prisioneros;"
                <br/>
                <small class="float-right">
                    Isaías 61:1 (RVC)
                </small>
            </p>

        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
