<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}


            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Mío es el oro y <b>mía es la plata</b>, dice el Señor Todopoderoso”
                <br/>
                <small class="float-start">
                    Hageo 2:8 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Mi <b>Dios les proveerá de todo</b> lo que necesiten, conforme a las gloriosas <b>riquezas</b> que
                tiene en Cristo Jesús”
                <br/>
                <small class="float-start">
                    Filipenses 4:19 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “<b>Enséñales</b> a los ricos de este mundo que... <b>usen su dinero para hacer el bien</b>.“
                <br/>
                <small class="float-start">
                    1 Timoteo 6:17-18 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Cuando un pueblo se vuelve esclavo.<br/>
                <small>Génesis 47:11-22, Éxodo 1:9-14 y Éxodo 5:3-23</small>
            </h4>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Todos y cada uno... vendieron sus campos, ... La tierra terminó siendo propiedad del Faraón, y <b>todo
                    el pueblo se convirtió en esclavos</b> suyos, de un extremo a otro de Egipto.“
                <br/>
                <small class="float-start">
                    Génesis 47:20-21 (VBL)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Como ser libre de una mentalidad de esclavo.
            </h4>


            <h5 class="text-izq text-600">
                1. Abrazá tu {{ completa_lugar('uno') | raw }} como hijo del Dueño.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “La tierra es del SEÑOR y <b>todo</b> lo que hay en ella; el mundo y <b>todos</b> sus habitantes le
                pertenecen.“
                <br/>
                <small class="float-start">
                    Salmos 24:1 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Todo... es tuyo... <b>La riqueza</b> y el honor sólo vienen de ti, ... y <b>según tu criterio la gente
                    llega a ser poderosa</b> y recibe fuerzas”
                <br/>
                <small class="float-start">
                    1 Crónicas 29:11-12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Todo... es tuyo... <b>La riqueza</b> y el honor sólo vienen de ti, ... y <b>según tu criterio la gente
                    llega a ser poderosa</b> y recibe fuerzas”
                <br/>
                <small class="float-start">
                    1 Crónicas 29:11-12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ya no somos <b>esclavos</b>, sino <b>hijos</b> de Dios. Y como somos sus hijos <b>todo lo que tiene nos
                    pertenece</b>. “
                <br/>
                <small class="float-start">
                    Gálatas 4:7 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El SEÑOR es mi pastor, <b>Nada me faltará</b>.“
                <br/>
                <small class="float-start">
                    Salmos 23:1 (NBLH)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Acepta la {{ completa_lugar('dos') | raw }} y la responsabilidad de tu destino.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Dios los bendijo con las siguientes palabras: «<b>Sean fructíferos</b> y multiplíquense. Llenen la
                tierra y <b>gobiernen</b> sobre ella”
                <br/>
                <small class="float-start">
                    Génesis 1:28 (NTV)
                </small>
            </p>
            <h6 class="text-centrado">
                DIOS ES {{ completa_lugar('tres') | raw }} DE TODO, NOSOTROS SOMOS {{ completa_lugar('cuatro') | raw }}
            </h6>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cada uno de ustedes recibió un don espiritual que debe ser utilizado para <b>servir a los demás</b>.
                Así serán buenos <b>administradores</b>.”
                <br/>
                <small class="float-start">
                    1 Pedro 4:10 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El que <b>trabaja</b> duro se convertirá en <b>líder</b>, pero el <b>perezoso</b> siempre estará <b>esclavizado</b>.“
                <br/>
                <small class="float-start">
                    Proverbios 12:24 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Si no se les pueden <b>confiar</b> las riquezas mundanas, entonces tampoco se les podrán confiar las
                riquezas verdaderas.“
                <br/>
                <small class="float-start">
                    Lucas 16:11 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Cree que el Dios de la {{ completa_lugar('cinco') | raw }} siempre es el Dios de
                la {{ completa_lugar('seis') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “<b>Dios proveerá</b> con generosidad <b>todo</b> lo que necesiten. Entonces <b>siempre</b> tendrán <b>todo</b>
                lo necesario y habrá bastante <b>de sobra</b> que compartir con otros.”
                <br/>
                <small class="float-start">
                    2 Corintios 9:8 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Dios quien provee la <b>semilla</b> al agricultor... De la misma manera, él proveerá y <b>aumentará los
                    recursos</b> de ustedes y luego producirá una gran cosecha de generosidad en ustedes.“
                <br/>
                <small class="float-start">
                    2 Corintios 9:10 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Serví al {{ completa_lugar('siete') | raw }} de Dios por medio de tu dinero
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No acumulen riquezas aquí en la tierra .. ustedes deben <b>acumular sus riquezas en el cielo</b>,...”
                <br/>
                <small class="float-start">
                    Mateo 6:19-21 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Te bendeciré y te haré famoso, y <b>serás una bendición</b> para otros... Todas las familias de la
                tierra serán bendecidas <b>por medio de ti</b>”
                <br/>
                <small class="float-start">
                    Génesis 12:2-3 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<b>No me hagas pobre ni rico</b>; ... Porque si llego a ser rico tal vez <b>me olvide de ti</b> y hasta
                me atreva a decir que no te conozco. Y si vivo en la pobreza, puedo... <b>ponerte en vergüenza</b>.“
                <br/>
                <small class="float-start">
                    Proverbios 30:8-9 (TLA)
                </small>
            </p>
            <h6 class="text-izq">
                Dos conceptos erróneos principales sobre el dinero:
            </h6>
            <h6 class="text-izq">
                Primer error: {{ completa_lugar('ocho') | raw }}
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                ¡El <b>amor</b> al dinero es la raíz de todos los males!”
                <br/>
                <small class="float-start">
                    1 Timoteo 6:10a (BAD)
                </small>
            </p>
            <h6 class="text-izq">
                Segundo error: {{ completa_lugar('nueve') | raw }}
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Los que aman el dinero <b>nunca tendrán suficiente</b>. ¡Qué absurdo es pensar que las riquezas traen
                verdadera felicidad! Cuanto más tengas, más se te acercará la gente para ayudarte a gastarlo… “
                <br/>
                <small class="float-start">
                    Eclesiastés 5:10-11a (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. Aprendé a ser {{ completa_lugar('diez') | raw }} con lo que tengas.
            </h5>
            <h6 class="text-izq">
                Ver: Lucas 12:15 - Hebreos 13:5
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “He aprendido a estar <b>contento</b> con lo que tengo.”
                <br/>
                <small class="float-start">
                    Filipenses 4:11 (NTV)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    “<b>Cristo nos libertó</b> para que vivamos en libertad. Por lo tanto, manténganse firmes y <b>no se
                        sometan</b> nuevamente al yugo de <b>esclavitud</b>.”<br/>
                    Gálatas 5:1 (NVI)
                </div>

                {#                <div class="col-sm-8 mx-auto text-center"> #}
                {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                {#                        “Permanezcan fuertes y constantes. Trabajen siempre para el Señor con entusiasmo, porque ustedes #}
                {#                        saben que <u>nada de lo que hacen para el Señor es inútil</u>.“. 1° Corintios 15:58 (NTV) #}
                {#                    </p> #}
                {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                {#                        “Dios no es injusto. <u>No olvidará</u> con cuánto esfuerzo han trabajado para él y cómo <u>han #}
                {#                            demostrado su amor por él sirviendo a otros creyentes</u> como todavía lo hacen.“. Hebreos #}
                {#                        6:10 (NTV) #}
                {#                    </p> #}
                {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                {#                        3. {{ completa_lugar('trece') | raw }} lo que Dios dice acerca del amor. #}
                {#                    </p> #}
                {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                {#                        4. {{ completa_lugar('catorce') | raw }} actua en maneras amorosas y desinteresadas. #}
                {#                    </p> #}
                {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                {#                        5. {{ completa_lugar('quince') | raw }} de otra gente amorosa. #}
                {#                    </p> #}
                {#                <h6 class="text-centrado text-600"> #}

                {#                    “Así manifestó Dios su amor entre nosotros: en que <b>envió</b> a<br/> #}
                {#                    su Hijo único al mundo para que vivamos por medio de él”<br/> #}
                {#                    1 Juan 4:9 (NVI) #}
                {#                </h6> #}
                {#                </div> #}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
