<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            {#            <h4 class="text-izq text-600"> #}
            {#                EN LA TORMENTA #}
            {#            </h4> #}
            <p class="text-14-300 font-italic pl-4">
                "En seguida Jesús hizo que los discípulos subieran a la barca y se le adelantaran al otro lado mientras
                él despedía a la multitud. Después de despedir a la gente, subió a la montaña para orar a solas. Al
                anochecer, estaba allí él solo, y la barca ya estaba bastante lejos de la tierra, zarandeada por las
                olas, porque el viento le era contrario. En la madrugada, Jesús se acercó a ellos caminando sobre el
                lago."
                <br/>
                <small class="float-end">
                    Mateo 14:22-25 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                COMO CREER EN MEDIO DE LA TORMENTA
            </h4>
            <br/>
            <h5 class="text-izq">
                1. Encuentra {{ completa_lugar('uno') | raw }} en la tormenta.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Cuando los discípulos lo vieron caminando sobre el agua, quedaron aterrados. --¡Es un fantasma!
                --gritaron de miedo. Pero Jesús les dijo en seguida: -- ¡Cálmense! Soy yo. No tengan miedo."
                <br/>
                <small class="float-end">
                    Mateo 14:26-27 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "--Señor, si eres tú --respondió Pedro--, mándame que vaya a ti sobre el agua."
                <br/>
                <small class="float-end">
                    Mateo 14:28 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Sí, ven —dijo Jesús. Entonces Pedro se bajó por el costado de la barca y caminó sobre el agua hacia
                Jesús,"
                <br/>
                <small class="float-end">
                    Mateo 14:29 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                2. Fija tu mirada {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "En el principio ya existía el Verbo, y el Verbo estaba con Dios, y el Verbo era Dios. <sup>2</sup> Él
                estaba con Dios en el principio. Por medio de él todas las cosas fueron creadas; sin él, nada de lo
                creado llegó a existir."
                <br/>
                <small class="float-end">
                    Juan 1:1-3 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “«¡Maestro! ¿No te importa que nos ahoguemos?», gritaron."
                <br/>
                <small class="float-end">
                    Marcos 4:38 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Los discípulos estaban completamente aterrados. «¿Quién es este hombre? —se preguntaban unos a otros.
                ¡Hasta el viento y las olas lo obedecen!»."
                <br/>
                <small class="float-end">
                    Marcos 4:41 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Ustedes no han recibido un espíritu que los esclavice al miedo. En cambio, recibieron el Espíritu de
                Dios cuando él los adoptó como sus propios hijos. Ahora lo llamamos «Abba, Padre». 16 …. 17 Así que como
                somos sus hijos, también somos sus herederos. De hecho, somos herederos junto con Cristo de la gloria de
                Dios…"
                <br/>
                <small class="float-end">
                    Romanos 8:15-17 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                3. Encontrá la verdadera {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Pedro bajó de la barca y caminó sobre el agua en dirección a Jesús."
                <br/>
                <small class="float-end">
                    Mateo 14:29 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Pero viendo la fuerza del viento tuvo miedo, y empezando a hundirse gritó: "¡Señor, sálvame!" Al
                instante Jesús, extendiendo la mano, lo sostuvo y le dijo: "Hombre de poca fe, ¿por qué dudaste?""
                <br/>
                <small class="float-end">
                    Mateo 14:30-31 (NBLH)
                </small>
            </p>
            <h5 class="text-izq">
                4. Descubrí {{ completa_lugar('cuatro') | raw }} de la tormenta.
            </h5>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                "Y sabemos que Dios hace que todas las cosas cooperen para el bien de los que lo aman y son llamados
                según el propósito que él tiene para ellos."
                <br/>
                <small class="float-end">
                    Romanos 8:28 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "«La paz sea con ustedes. Como el Padre me envió a mí, así yo los envío a ustedes»."
                <br/>
                <small class="float-end">
                    Juan 20:21 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                5. Confía en {{ completa_lugar('cinco') | raw }} perfecto de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Cuando subieron de nuevo a la barca, el viento se detuvo. Entonces los discípulos lo adoraron. «¡De
                verdad eres el Hijo de Dios!», exclamaron."
                <br/>
                <small class="float-end">
                    Mateo 14:32-33 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Cuando el Hijo del Hombre regrese, ¿a cuántas personas con fe encontrará en la tierra?»."
                <br/>
                <small class="float-end">
                    Lucas 18:8 (NTV)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
