<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4">
                “¡Oh, qué alegría para aquellos a quienes se les perdona la desobediencia, a quienes se les cubre su
                pecado! Sí, ¡qué alegría para aquellos a quienes el SEÑOR les borró la culpa de su cuenta, los que
                llevan una vida de total transparencia!”
                <br/>
                <small class="float-end">
                    Salmos 32:1-2 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                1. ¿QUÉ ES LA CULPA?
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “Mi culpa ... una carga demasiado pesada para llevar”.
                <br/>
                <small class="float-end">
                    Salmos 38:4
                </small>
            </p>
            <h5 class="text-izq text-600">
                Dos tipos: Culpa {{ completa_lugar('uno') | raw }} y Culpa {{ completa_lugar('dos') | raw }}
            </h5>
            <h4 class="text-izq text-600">
                2. COMO MANEJAMOS LA CULPA
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “…sintieron vergüenza por su desnudez. … se escondieron del SEÑOR Dios… La mujer que tú me diste fue
                quien me dio del fruto, y yo lo comí.”
                <br/>
                <small class="float-end">
                    Génesis 3:7-12 (NTV)
                </small>
            </p>
            {{ completa_lugar('tres') | raw }}
            {{ completa_lugar('cuatro') | raw }}
            {{ completa_lugar('cinco') | raw }}
            {{ completa_lugar('seis') | raw }}

            <p class="text-14-300 font-italic pl-4">
                “Mientras me negué a confesar mi pecado, mi cuerpo se consumió, y gemía todo el día. Día y noche tu mano
                de disciplina pesaba sobre mí; mi fuerza se evaporó como agua al calor del verano.”
                <br/>
                <small class="float-end">
                    Salmos 32:3-4 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                3. EL ESCAPE DE LA CULPA: {{ completa_lugar('siete') | raw }}
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “Si confesamos nuestros pecados a Dios, él es fiel y justo para perdonarnos nuestros pecados y
                limpiarnos de toda maldad.”
                <br/>
                <small class="float-end">
                    1 Juan 1:9 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('dieciseis') | raw }} mis pecados.
            </h5>

            <p class="text-14-300 font-italic pl-4">
                “Oh Dios...de ti no puedo ocultar mis pecados.”
                <br/>
                <small class="float-end">
                    Salmos 69:5 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. {{ completa_lugar('ocho') | raw }} en el carácter de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Entremos directamente a la presencia de Dios ... con plena confianza en él. Pues nuestra conciencia
                culpable ha sido rociada con la sangre de Cristo a fin de purificarnos…”
                <br/>
                <small class="float-end">
                    Hebreos 10:22 (NTV).
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. {{ completa_lugar('nueve') | raw }} el perdón de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Ya no hay condenación para los que pertenecen a Cristo Jesús; porque el poder vivificador del Espíritu,
                ... los libera del círculo vicioso del pecado y de la muerte.”
                <br/>
                <small class="float-end">
                    Romanos 8:1-2 (BAD)
                </small>
            </p>
            <h4 class="text-izq text-600">
                4. CUANDO VIVÍS BAJO LA GRACIA.
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “Finalmente te confesé todos mis pecados y ya no intenté ocultar mi culpa. Me dije: «Le confesaré mis
                rebeliones al SEÑOR», ¡y tú me perdonaste! Toda mi culpa desapareció.”
                <br/>
                <small class="float-end">
                    Salmos 32:5 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Dejo de {{ completa_lugar('once') | raw }} a mí mismo
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Que todos los justos oren a ti, mientras aún haya tiempo, para que no se ahoguen en las desbordantes
                aguas del juicio.”
                <br/>
                <small class="float-end">
                    Salmos 32:6
                </small>
            </p>
            <h5 class="text-izq">
                La culpa ya no me {{ completa_lugar('doce') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Pues tú eres mi escondite; me proteges de las dificultades y me rodeas con canciones de victoria.”
                <br/>
                <small class="float-end">
                    Salmos 32:7 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                Su {{ completa_lugar('trece') | raw }} me define.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “El SEÑOR dice: «Te guiaré por el mejor sendero para tu vida; te aconsejaré y velaré por ti.
                <br/>
                <small class="float-end">
                    Salmos 32:8 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                No necesito condenar {{ completa_lugar('catorce') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “No seas como el mulo o el caballo, que no tienen entendimiento, que necesitan un freno y una brida para
                mantenerse controlados».
                <br/>
                <small class="float-end">
                    Salmos 32:9
                </small>
            </p>
            <h5 class="text-izq">
                Soy libre de {{ completa_lugar('quince') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4">
                “¡el amor inagotable rodea a los que confían en el SEÑOR.”
                <br/>
                <small class="float-end">
                    v 10
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                ¡Así que alégrense mucho en el SEÑOR y estén contentos, ustedes los que le obedecen! ¡Griten de alegría,
                ustedes de corazón puro!”
                <br/>
                <small class="float-end">
                    Salmos 32:6-11 (NTV)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
