<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Luego Jesús entró en la barca y comenzó a cruzar el lago con sus discípulos.<br/>
                <sup>24</sup> <b>De repente</b>, se desató sobre el lago <b>una fuerte tormenta</b>, con olas que
                entraban en el barco; pero Jesús dormía.<br/>
                <sup>25</sup> Los discípulos fueron a despertarlo: Señor, ¡sálvanos! <b>¡Nos vamos a ahogar!</b>
                —gritaron.<br/>
                <sup>26</sup> <b>¿Por qué tienen miedo?</b> —preguntó Jesús. ¡Tienen tan poca fe! Entonces se levantó y
                reprendió al viento y a las olas y, de repente, hubo una gran calma.<br/>
                <sup>27</sup> Los discípulos quedaron asombrados y preguntaron: «¿Quién es este hombre? ¡Hasta el viento
                y las olas lo obedecen!».”
                <br/>
                <small class="float-start">
                    Mateo 8:23-27 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                I. DIFERENTES TIPOS DE TORMENTAS
            </h4>
            <p>
                Circunstanciales: Proverbios 1:27<br/>
                Relacionales: Salmos 102:7-8<br/>
                Emocionales: Job 30:22
            </p>
            <h4 class="text-izq text-600">
                II. REALIDADES ACERCA DE LAS TORMENTAS
            </h4>
            <h5 class="text-izq text-600">
                Las tormentas son {{ completa_lugar('uno') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando pasen por toda clase de dificultades…”
                <br/>
                <small class="float-start">
                    Santiago 1:2 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Las tormentas son {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “De repente, se desató sobre el lago una violenta tormenta…”
                <br/>
                <small class="float-start">
                    Mateo 8:24 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Las tormentas son {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Dios “hace… que llueva sobre justos e injustos.”
                <br/>
                <small class="float-start">
                    Mateo 5:45 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                III. DOS POSIBLES REACCIONES
            </h4>
            <h5 class="text-izq text-600">
                1. Puedo llenarme de {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Los discípulos fueron a despertarlo: «Señor, ¡sálvanos! ¡Nos vamos a ahogar!»—gritaron.”
                <br/>
                <small class="float-start">
                    Mateo 8:25 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Puedo llenarme de {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pero Jesús dormía.”
                <br/>
                <small class="float-start">
                    vs. 24b
                </small>
            </p>
            <h4 class="text-izq text-600">
                IV. COMO SUPERAR UNA TORMENTA
            </h4>
            <h5 class="text-izq text-600">
                1. Recordá que Dios {{ completa_lugar('seis') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús <b>entró en la barca</b> y comenzó a cruzar el lago con sus discípulos.”
                <br/>
                <small class="float-start">
                    Mateo 8:23 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No tengas miedo, porque yo te he liberado. Te he llamado por tu nombre y me perteneces. Cuando
                atravieses las aguas, YO ESTARÉ CONTIGO. Cuando cruces los ríos no te ahogarás. Cuando tengas que
                atravesar por fuego, no te quemarás; las llamas no arderán en ti.”
                <br/>
                <small class="float-start">
                    Isaías 43:1-3 (PDT)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                2. Descansa en el {{ completa_lugar('siete') | raw }} de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¡Maestro, no <b>te importa</b> que nos ahoguemos!»—gritaron.”
                <br/>
                <small class="float-start">
                    Marcos 4:38 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pongan todas sus preocupaciones y ansiedades en las manos de Dios, porque <b>él cuida</b> de ustedes.”
                <br/>
                <small class="float-start">
                    1 Pedro 5:7 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                3. Confía en el {{ completa_lugar('ocho') | raw }} de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando Jesús se despertó, reprendió al viento y dijo a las olas: «¡Silencio! ¡Cálmense!». <b>De
                    repente, el viento se detuvo</b> y hubo una gran calma.”
                <br/>
                <small class="float-start">
                    Marcos 4:39 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¡Señor mi Dios! Tú, con tu gran fuerza y tu brazo poderoso, has hecho los cielos y la tierra. <b>Para
                    ti no hay nada imposible.</b>”
                <br/>
                <small class="float-start">
                    Jeremías 32:17 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Por qué tienen miedo? —preguntó Jesús. ¡Tienen tan poca fe!”
                <br/>
                <small class="float-start">
                    v.26
                </small>
            </p>
            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    La raíz de tu problema es {{ completa_lugar('nueve') | raw }}.<br/>
                    La solución es {{ completa_lugar('diez') | raw }}.
                </div>
            </div>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Los discípulos quedaron asombrados y preguntaron:<br/>
                <b>«¿Quién es este hombre?</b><br/>
                ¡Hasta el viento y las olas lo obedecen!»”

                <br/>
                <small class="float-start">
                    Mateo 8:27 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
