<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        ¡ADIÓS EXCUSAS!
        <br/>
        <small>
            Serie: Rompe tus muros - Parte 1
        </small>
    </h3>
    <br/>
    <strong>
        La raíz de una excusa es culpar de algo {{ completa_lugar('uno') | raw }} a
        algo {{ completa_lugar('dos') | raw }}.
    </strong>
    <br/>
    <blockquote class="blockquote blockquote-alameda-primary text-right text-14-300">
        Una excusa puede convertirse en tu {{ completa_lugar('tres') | raw }}.
    </blockquote>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                Como romper el muro de las escusas.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Quitémonos todo <b>peso</b> que nos impida correr, especialmente el <b>pecado</b> que tan fácilmente
                nos hace tropezar. Y corramos con perseverancia <b>la carrera que Dios nos ha puesto por delante</b>.
                Esto <b>lo hacemos al fijar la mirada en Jesús</b>, el campeón que inicia y perfecciona nuestra fe"
                <br/>
                <small class="float-right">
                    Hebreos 12:1-2 (NTV)
                </small>
            </p>
            <strong>
                Dimensionar las consecuencias de seguir {{ completa_lugar('cuatro') | raw}}.
            </strong><br/>
            <strong>
                Visualizar mi {{ completa_lugar('cinco') | raw}}.
            </strong><br/>
            <strong>
                Elegir seguir {{ completa_lugar('seis') | raw}}.
            </strong><br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Ven, sígueme. El hombre aceptó, pero le dijo: Señor, deja que primero regrese a casa y entierre a
                mi padre.”
                <br/>
                <small class="float-right">
                    Lucas 9:59 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Jesús le dijo: ¡Deja que los muertos espirituales entierren a sus propios muertos! Tu deber es ir y
                predicar acerca del reino de Dios."
                <br/>
                <small class="float-right">
                    Lucas 9:60 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Otro dijo: Sí, Señor, te seguiré, pero primero deja que me despida de mi familia.”
                <br/>
                <small class="float-right">
                    Lucas 9:61 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Jesús le dijo: El que pone la mano en el arado y luego mira atrás no es apto para el reino de Dios."
                <br/>
                <small class="float-right">
                    Lucas 9:62 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Amo, yo sabía que usted era un hombre severo, que cosecha lo que no sembró y recoge las cosechas que
                no cultivó.”
                <br/>
                <small class="float-right">
                    Mateo 25:24-25 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Tenía miedo de perder su dinero, así que lo escondí en la tierra. Mire, aquí está su dinero de vuelta”."
                <br/>
                <small class="float-right">
                    Mateo 25:24-25 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Pero el amo le respondió: “¡Siervo perverso y perezoso! Si sabías que cosechaba lo que no sembré y
                recogía lo que no cultivé,"
                <br/>
                <small class="float-right">
                    Mateo 25:26 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "¿Por qué no depositaste mi dinero en el banco? Al menos hubiera podido obtener algún interés"
                <br/>
                <small class="float-right">
                    Mateo 25:27 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "«Yo soy la luz del mundo. Si ustedes me siguen, no tendrán que andar en la oscuridad porque tendrán
                la luz que lleva a la vida»."
                <br/>
                <small class="float-right">
                    Juan 8:12 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Jesús les dijo a los que creyeron en él: Ustedes son verdaderamente mis discípulos si se
                mantienen fieles a mis enseñanzas; y conocerán la verdad, y la verdad los hará libres."
                <br/>
                <small class="float-right">
                    Juan 8:31-32 (NTV)
                </small>
            </p>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
