<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        EL MILAGRO DE VENDIMIA
        <br/>
        <small>
            Vendimia en la Alameda
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Al día siguiente, se celebró una <b>boda</b> en la aldea de Caná de Galilea. La <b>madre</b> de Jesús
        estaba presente, y también <b>fueron invitados</b> a la <b>fiesta</b> Jesús y sus discípulos."
        <br/>
        <small class="float-right">
            Juan 2:1-2 (NTV)
        </small>
    </p>

    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Durante la celebración, <b>se acabó el vino</b>, entonces la madre de Jesús le dijo: <b>Se quedaron sin vino</b>."
        <br/>
        <small class="float-right">
            Juan 2:3 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Jesús le respondió: — <b>¡Mujer! ¿Qué tiene que ver eso con nosotros?</b> Mi hora no ha llegado todavía."
        <br/>
        <small class="float-right">
            Juan 2:4 (BTI)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Sin embargo, su madre <b>les dijo a los sirvientes: «Hagan lo que él les diga</b>»."
        <br/>
        <small class="float-right">
            Juan 2:5 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "<b>Cerca de allí</b> había seis tinajas de piedra, que se usaban para el lavado ceremonial de los judíos.
        Cada tinaja tenía una capacidad de entre <b>setenta y cinco a ciento trece litros</b>."
        <br/>
        <small class="float-right">
            Juan 2:6 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Jesús le dijo a los <b>sirvientes</b>: «Llenen las tinajas con agua».
        <br/>
        <small class="float-right">
            Juan 2:7 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        “Una vez que las tinajas estuvieron llenas, les dijo: «Ahora saquen un poco y llévenselo al maestro de
        ceremonias». Así <b>que los sirvientes siguieron sus indicaciones</b>."
        <br/>
        <small class="float-right">
            Juan 2:7-8 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Cuando el maestro de ceremonias <b>probó el agua que ahora era vino, sin saber</b> de dónde provenía (aunque,
        por supuesto, <b>los sirvientes sí lo sabían</b>), mandó a llamar al novio."
        <br/>
        <small class="float-right">
            Juan 2:9 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "«Un anfitrión siempre sirve el mejor vino primero —le dijo—, y una vez que todos han bebido bastante,
        comienza a ofrecer el vino más barato. ¡Pero tú <b>has guardado el mejor vino hasta ahora!</b>»."
        <br/>
        <small class="float-right">
            Juan 2:10 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Esta <b>señal</b> milagrosa en Caná de Galilea marcó la primera vez que Jesús reveló su gloria. Y
        <b>sus discípulos creyeron</b> en él."
        <br/>
        <small class="float-right">
            Juan 2:11 (NTV)
        </small>
    </p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                ¿QUÉ ES VIVIR UNA VIDA DE MILAGROS?
            </h4>
            <br/>
            <strong>
                1. ESTAR EXPECTANTE DE UNA {{ completa_lugar('uno') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “El maestro de ceremonias probó el agua que ahora era vino, sin saber de dónde provenía."
                <br/>
                <small class="float-right">
                    Juan 2:9 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Cerca de allí había seis tinajas de piedra..."
                <br/>
                <small class="float-right">
                    Juan 2:6 (NTV)
                </small>
            </p>
            <strong>
                2. CONTAR CON SU {{ completa_lugar('dos') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Durante la celebración, <b>se acabó el vino</b>"
                <br/>
                <small class="float-right">
                    Juan 2:3 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Jesús dijo: -Lo que es imposible para los hombres es posible para Dios."
                <br/>
                <small class="float-right">
                    Lucas 18:27 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Dios tiene poder para hacer mucho más de lo que le pedimos. ¡Ni siquiera podemos imaginar
                lo que Dios puede hacer para ayudarnos con su poder!"
                <br/>
                <small class="float-right">
                    Efesios 3:20 (TLA)
                </small>
            </p>
            <strong>
                3. NUNCA RENUNCIAR A {{ completa_lugar('tres') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "¡Pero tú has guardado el mejor vino hasta ahora!»."
                <br/>
                <small class="float-right">
                    Juan 2:10 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Jesús dijo: "Yo vine para que la gente tenga vida y la tenga en abundancia."
                <br/>
                <small class="float-right">
                    Juan 10:10 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Había seis tinajas de piedra… Cada tinaja tenía una capacidad de
                entre <b>setenta y cinco a ciento trece litros</b>."
                <br/>
                <small class="float-right">
                    Juan 2:6 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Jesús le dijo a los <b>sirvientes</b>: «Llenen las tinajas con agua».
                <br/>
                <small class="float-right">
                    Juan 2:7 (NTV)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                ¿CÓMO EXPERIMENTARLA PLENAMENTE?
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "El maestro de ceremonias probó el agua que ahora era vino, sin saber de dónde provenía
                (aunque, por supuesto, los sirvientes sí lo sabían)."
                <br/>
                <small class="float-right">
                    Juan 2:9 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Su madre <b>les dijo a los sirvientes: «Hagan lo que él les diga»</b>."
                <br/>
                <small class="float-right">
                    Juan 2:5 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Esta <b>señal</b> milagrosa… marcó la primera vez que Jesús reveló su gloria. Y <b>sus discípulos
                    creyeron en él</b>."
                <br/>
                <small class="float-right">
                    Juan 2:11 (NTV)
                </small>
            </p>
            <blockquote class="blockquote blockquote-alameda-primary">
                Están los que miran como suceden las cosas y los que hacen que las cosas sucedan.
                Los segundos son los que {{ completa_lugar('cuatro') | raw}}.
            </blockquote>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "<b>Fueron invitados</b> a la fiesta Jesús y sus discípulos."
                <br/>
                <small class="float-right">
                    Juan 2:1 (NTV)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
