<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">


            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <div class="col-sm-10 mx-auto">
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    Los discípulos se acercaron a Jesús y preguntaron: —¿Quién es el más importante en el reino de los
                    cielos? Él llamó a un niño y lo puso en medio de ellos. Entonces dijo: —Les aseguro que a menos que
                    ustedes cambien y se vuelvan como niños, no entrarán en el reino de los cielos. Por tanto, el que se
                    humilla como este niño será el más grande en el reino de los cielos.
                    <br/>
                    <small class="float-start">
                        Mateo 18: 1-4
                    </small>
                </p>
            </div>

            <h4 class="text-centrado text-600">
                ¿Cómo es la mente de un niño?
            </h4>


            <h5 class="text-centrado text-600">
                Vive {{ completa_lugar('uno') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                Les aseguro que si tienen fe y no dudan —respondió Jesús—, no solo harán lo que he hecho con la higuera,
                sino que podrán decir a este monte: “Quítate de ahí y tírate al mar”, y así se hará. Si ustedes creen,
                recibirán todo lo que pidan en oración.
                <br/>
                <small class="float-start">
                    Mateo 21: 21, 22 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Al oír esto, Jesús se asombró y dijo a quienes lo seguían: Les aseguro que no he encontrado en Israel a
                nadie que tenga tanta fe.
                <br/>
                <small class="float-start">
                    Mateo 8: 10 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                Descansa {{ completa_lugar('dos') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                Así que no se preocupen por lo que han de comer o beber; dejen de atormentarse. El mundo pagano anda
                tras todas estas cosas, pero su Padre sabe que ustedes las necesitan. Por el contrario, busquen el reino
                de Dios y estas cosas les serán añadidas.» No tengan miedo, mi rebaño pequeño, porque es la buena
                voluntad del Padre darles el reino.
                <br/>
                <small class="float-start">
                    Lucas 12: 29-32 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                Expresa {{ completa_lugar('tres') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                No hay mejor medicina que tener pensamientos alegres. Cuando se pierde el ánimo, todo el cuerpo se
                enferma.
                <br/>
                <small class="float-start">
                    Proverbios 17: 22 (TLA)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                Piensa {{ completa_lugar('cuatro') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                El que ama la pureza del corazón y habla con gracia tendrá al rey como amigo.
                <br/>
                <small class="float-start">
                    Proverbios 22:11 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                e aseguro que quien no nazca de nuevo no puede ver el reino de Dios —dijo Jesús.
                <br/>
                <small class="float-start">
                    Juan 3:3 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                Preserva {{ completa_lugar('cinco') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                A eso se refieren las Escrituras cuando dicen: «Ningún ojo ha visto, ningún oído ha escuchado, ninguna
                mente ha imaginado lo que Dios tiene preparado para quienes lo aman».
                <br/>
                <small class="float-start">
                    1° Corintios 2:9 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Amados hermanos, no sean infantiles en su comprensión de estas cosas. Sean inocentes como bebés en
                cuanto a la maldad, pero maduros en la comprensión de asuntos como estos.
                <br/>
                <small class="float-start">
                    1° Corintios 14:20 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Una mente que brilla.
            </h4>
            <h5 class="text-centrado text-600">
                {{ completa_lugar('seis') | raw }} 1° Corintios 10:24
            </h5>
            <h5 class="text-centrado text-600">
                {{ completa_lugar('siete') | raw }} Proverbios 14:29
            </h5>
            <h5 class="text-centrado text-600">
                {{ completa_lugar('ocho') | raw }} 1° Tesalonicenses 5:18
            </h5>
            <h5 class="text-centrado text-600">
                {{ completa_lugar('nueve') | raw }} Efesios 5:16-17
            </h5>
            <h5 class="text-centrado text-600">
                {{ completa_lugar('diez') | raw }} Efesios 4:14
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Les aseguro que el que no reciba el reino de Dios como un niño, de ninguna manera entrará en él».
                <br/>
                <small class="float-start">
                    Lucas 18:17 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                En aquel tiempo Jesús dijo: «Te alabo, Padre, Señor del cielo y de la tierra, porque habiendo escondido
                estas cosas de los sabios e instruidos, se las has revelado a los niños. Sí, Padre, porque esa fue tu
                buena voluntad.
                <br/>
                <small class="float-start">
                    Mateo 11: 25-26 (NVI)
                </small>
            </p>

            {#            <div class="col-sm-10 mx-auto"> #}
            {#                                <div class="col-12 mx-auto text-center"> #}
            {#                                    Cuanto más honestos seamos con Dios<br/> #}
            {#                                    más profunda será nuestra amistad #}
            {#                                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}

            {#                </div> #}

            {#                <div class="col-12 mx-auto text-left"> #}
            {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
            {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
            {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
            {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
            {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
            {#                    </h6> #}
            {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
            {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
            {#                </div> #}
            {#        </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
