<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <h5 class="text-izq text-600">
                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/>
                {#                (una determinada situación) #}
            </h5>
            <h5 class="text-izq text-600">
                Yo ya determinado de antemano {{ completa_lugar('dos') | raw }} <br/>
                {#                (tomar esta acción) #}
            </h5>
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    <img src="{{ asset('images/seis_decisiones.png') }}"
                         class="img-fluid col-sm-3" alt="AlamedaCMS">
                </div>
            </div>
            <h6 class="text-centrado">
                Coraje “La fuerza de carácter que se niega a darse por vencido”.
            </h6>
            <h5 class="text-izq text-600">
                CUANDO ME COMPROMETO, NO RENUNCIO.<br/>
                SOY UN {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “No tengas miedo de sufrir por el Señor. Ocúpate en decirles a otros la Buena Noticia y lleva a cabo
                todo el ministerio que Dios te dio.<br/>
                <sup>6</sup> En cuanto a mí, mi vida ya fue derramada como una ofrenda a Dios. Se acerca el tiempo de mi
                muerte.<br/>
                <sup>7</sup> He peleado la buena batalla, <b>he terminado la carrera</b> y he permanecido fiel.”
                <br/>
                <small class="float-start">
                    2 Timoteo 4:5-7 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Sé lo que has logrado, y que tienes la apariencia de estar vivo, pero en realidad estás muerto.<br/>
                <sup>2</sup> Despierta, y trata de revivir lo que queda y está a punto de morir. Pues yo he descubierto
                que desde la perspectiva de mi Dios, <b>no has terminado lo que empezaste</b>.”
                <br/>
                <small class="float-start">
                    Apocalipsis 3:1-2 (VBL)
                </small>
            </p>

            {#            <h4 class="text-centrado text-600"> #}
            {#                Dos cualidades de la gente generosa #}
            {#            </h4> #}
            <h5 class="text-izq text-600">
                ¿CUÁL ES TU ASUNTO PENDIENTE?
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Éste es mi consejo: <b>sería bueno que completaran lo que comenzaron hace un año</b>. El año pasado,
                ustedes fueron los primeros en querer dar y fueron los primeros en comenzar a hacerlo.<br/>
                <sup>11</sup> Ahora <b>deberían terminar lo que comenzaron</b>.”
                <br/>
                <small class="float-start">
                    2° Corintios 8:10-11 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Mi vida no vale nada para mí a menos que la use para terminar la tarea que me asignó el Señor Jesús, la
                tarea de contarles a otros la Buena Noticia acerca de la maravillosa gracia de Dios.”
                <br/>
                <small class="float-start">
                    Hechos 20:24 (NTV)
                </small>
            </p>
            <h6 class="text-centrado">
                “Considero que {{ completa_lugar('cuatro') | raw }} carece de valor para mí mismo”
            </h6>
            <h6 class="text-centrado">
                Simplemente, da el próximo paso.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Y estoy seguro que Dios, que comenzó en ustedes la buena obra, les seguirá ayudando a crecer en su
                gracia <b>hasta que la obra que realiza en ustedes quede completa</b> en el día en que Jesucristo
                regrese.”
                <br/>
                <small class="float-start">
                    Filipenses 1:6 (BAD)
                </small>
            </p>
            <h5 class="text-centrado">
                SEGUÍ LA CONVERSACIÓN
            </h5>
            <h6 class="text-centrado">
                Lee 2 Corintios 8:10-11.<br/>
                ¿Qué has empezado que aún te falta terminar?<br/>
                ¿Cuáles son algunas diferencias entre entusiasmo y resistencia?<br/>
                ¿Cómo podrías concentrarte más en la resistencia esta semana?<br/>
                ¿Qué cosas específicas te ha llamado Dios a hacer?<br/>
                ¿Muestran tus acciones que estás luchando para vos mismo o que estás luchando para Dios?<br/>
                ¿De qué manera podrías luchar aún más para Dios?
            </h6>



            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    DIOS NO SE QUEDA CON LO QUE SOBRA EN TU VIDA PORQUE EL {{ completa_lugar('diez') | raw }} TU #}
            {#                    VIDA.<br/> #}
            {#                    ÉL NO ES PARTE DEL PLAN ÉL ES EL PLAN<br/> #}
            {#                    BUSCARÉ PRIMERO LO PRIMERO PORQUE SOY CONSAGRADO. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
