<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }
</style>
<div class="col-sm-12">
    <h3>
        JESÚS ES TU AMIGO.
        <br/>
        <small>
            Serie: Original - parte 2
        </small>
    </h3>
    <strong>
        ¿Ranking de peores personas?
    </strong>
    <div class="row ">
        <div class="col-sm-12 col-md-6 mx-auto ">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark text-left">
                Jefe Narco.
            </li>
            <li class="list-group-item list-group-item-dark">Político/Juez corrupto.</li>
            <li class="list-group-item list-group-item-dark">
                Transespecie que recluta adolescentes.
            </li>
            <li class="list-group-item list-group-item-dark">
                Violador abusador.
            </li>
            <li class="list-group-item list-group-item-dark">
                Prostituta.
            </li>
            <li class="list-group-item list-group-item-dark">
                Líder secta animista.
            </li>
            <li class="list-group-item list-group-item-dark">
                Dictador asesino.
            </li>
            <li class="list-group-item list-group-item-dark">
                Multimillonario especulador.
            </li>
            <li class="list-group-item list-group-item-dark">
                Predicador corrupto.
            </li>
        </ul>
        </div>
    </div>

    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
            <div class="card mt-0 mb-1 py-2 px-3 ">
                <h4 class="nota-style">
                    Cruces inesperados.
                </h4>
                <br/>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    "Había allí un hombre llamado Zaqueo. Era jefe de los cobradores de impuestos de la región y se
                    había hecho muy rico.”
                    <br/>
                    <small class="float-right">
                        Lucas 19:2 (NTV)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    “Zaqueo trató de mirar a Jesús pero era de poca estatura y no podía ver por encima de la multitud.”
                    <br/>
                    <small class="float-right">
                        Lucas 19:3 (NTV)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    “Así que se adelantó corriendo y se subió a una higuera sicómoro que estaba junto al camino,
                    porque Jesús iba a pasar por allí."
                    <br/>
                    <small class="float-right">
                        Lucas 19:4 (NTV)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    "Llegando al lugar, Jesús miró hacia arriba y le dijo: --Zaqueo”
                    <br/>
                    <small class="float-right">
                        Lucas 19:5 (NVI)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    " --Zaqueo, baja en seguida. Tengo que quedarme hoy en tu casa."
                    <br/>
                    <small class="float-right">
                        Lucas 19:5 (NVI)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    "Pero Zaqueo dijo resueltamente: --Mira, Señor: Ahora mismo voy a dar a los pobres la mitad de
                    mis bienes, y si en algo he defraudado a alguien, le devolveré cuatro veces la cantidad que sea."
                    <br/>
                    <small class="float-right">
                        Lucas 19:8 (NVI)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    "-Hoy ha llegado la salvación a esta casa -le dijo Jesús-, ya que éste también es hijo de
                    Abraham."
                    <br/>
                    <small class="float-right">
                        Lucas 19:9 (NVI)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    "Pues el Hijo del Hombre vino a buscar y a salvar a los que están perdidos."
                    <br/>
                    <small class="float-right">
                        Lucas 19:10 (NTV)
                    </small>
                </p>
            </div>
            <div class="card mt-0 mb-1 py-2 px-3 ">
                <h4 class="nota-style">
                    Dos tipos de personas.
                </h4>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    "Mientras caminaba, Jesús vio a un hombre llamado Mateo sentado en su cabina de cobrador de
                    impuestos. «Sígueme y sé mi discípulo», le dijo Jesús. Entonces Mateo se levantó y lo siguió.”
                    <br/>
                    <small class="float-right">
                        Mateo 9:9 (NTV)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    “Más tarde, Mateo invitó a Jesús y a sus discípulos a una cena en su casa, junto con muchos
                    cobradores de impuestos y otros pecadores de mala fama.”
                    <br/>
                    <small class="float-right">
                        Mateo 9:10 (NTV)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    “Cuando los fariseos vieron esto, preguntaron a los discípulos:
                    «¿Por qué su maestro come con semejante escoria?».”
                    <br/>
                    <small class="float-right">
                        Mateo 9:11 (NTV)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    “Cuando Jesús los oyó, les dijo: «La gente sana no necesita médico, los enfermos sí».”
                    <br/>
                    <small class="float-right">
                        Mateo 9:12 (NTV)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    “Luego añadió: «Ahora vayan y aprendan el significado de la siguiente Escritura: “Quiero que
                    tengan compasión, no que ofrezcan sacrificios”.
                    <br/>
                    <small class="float-right">
                        Mateo 9:13 (NTV)
                    </small>
                </p>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    “Pues no he venido a llamar a los que se creen justos, sino a los que saben que son pecadores»."
                    <br/>
                    <small class="float-right">
                        Mateo 9:13 (NTV)
                    </small>
                </p>
                <blockquote class="blockquote-alameda-primary fst-italic fw-light ">
                <strong>
                    Dos tipos de personas: Los que {{ completa_lugar('uno') | raw}} buenos <br/> y
                    los que {{ completa_lugar('dos') | raw}} sus problemas.
                </strong>
                <br/>
                <strong>
                    Ahora en Jesús hay un cambio dramático, el pecado provoca Su {{ completa_lugar('tres') | raw}}:
                    <br/>él corre a nosotros.
                </strong>
                <br/>
                    <br/>
                <strong>
                    Si Jesús pudiera decirte una sola cosa en este preciso instante, ¿cuál sería?
                </strong>
                <br/>
                <strong>
                    Jesús es el {{ completa_lugar('cuatro') | raw}} de las personas malas que están dispuestas <br/>
                    a admitir que tienen problemas.
                </strong>
                </blockquote>
                <br/>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    "Entonces Jesús se incorporó de nuevo y le dijo a la mujer: ¿Dónde están los que te acusaban?
                    ¿Ni uno de ellos te condenó?<br/>
                    Ni uno, Señor —dijo ella.<br/>
                    Yo tampoco —le dijo Jesús. Vete y no peques más."

                    <br/>
                    <small class="float-right">
                        Juan 8:10-11 (NTV)
                    </small>
                </p>
                <br/>
            </div>
            <div class="card mt-0 mb-1 py-2 px-3 ">
                <h4 class="nota-style">
                    La buena noticia:
                </h4>
                <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                    "Pues Dios amó tanto al mundo que dio a su único Hijo, para que todo el que crea en él no se
                    pierda, sino que tenga vida eterna."
                    <br/>
                    <small class="float-right">
                        Juan 3:16 (NTV)
                    </small>
                </p>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
