<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        Tres verdades para sostener tu confianza
        <br/>
        <small>
            Serie: Sé positivo - Parte 3
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Mi corazón confía en ti, oh Dios; mi corazón está confiado. ¡Con razón puedo cantar tus alabanzas!"
        <br/>
        <small class="float-right">
            Sal 57:7 (NTV)
        </small>
    </p>
    <strong>
        LA CLAVE DEL ÉXITO ES: CONFIAR {{ completa_lugar('uno') | raw}} EN DIOS Y {{ completa_lugar('dos') | raw}} EN MIS RECURSOS.
    </strong>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                1. DIOS ESTÁ SIEMPRE {{ completa_lugar('tres') | raw}}:
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Justificados por la fe tenemos paz con Dios por medio de nuestro Señor Jesucristo, por quien tenemos también, por la fe, acceso a esta gracia en la cual estamos firmes, y nos regocijamos en la esperanza de la gloria de Dios”
                <br/>
                <small class="float-right">
                    Romanos 5:1-2 (RV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Si Dios está de nuestra parte, ¿quién puede estar en contra nuestra? El que no escatimó ni a su propio Hijo, sino que lo entregó por todos nosotros, ¿cómo no habrá de darnos generosamente, junto con él, todas las cosas?”
                <br/>
                <small class="float-right">
                    Romanos 8:31-34 (NVI)
                </small>
            </p>
            <strong>
                ¡NO VIVAS {{ completa_lugar('cuatro') | raw}} LA APROBACIÓN DE DIOS, SINO
                {{ completa_lugar('cinco') | raw}} LA APROBACIÓN DE DIOS!
            </strong>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                2. DIOS ESTÁ SIEMPRE {{ completa_lugar('seis') | raw}}:
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Manténganse libres del amor al dinero, y conténtense con lo que tienen, porque Dios ha dicho:
                «Nunca te dejaré; jamás te abandonaré». Así que podemos decir con toda confianza: «El Señor es quien
                me ayuda; no temeré. ¿Qué me puede hacer un simple mortal?»”
                <br/>
                <small class="float-right">
                    Hebreos 13:5-6 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Dios es nuestro amparo y nuestra fortaleza, nuestra ayuda segura en momentos de angustia.”
                <br/>
                <small class="float-right">
                    Salmo 46:1 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Les aseguro que estaré con ustedes siempre, hasta el fin del mundo [Jesús].”
                <br/>
                <small class="float-right">
                    Mateo 28:20 (NVI)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                3. DIOS ESTÁ TRABAJANDO SIEMPRE {{ completa_lugar('siete') | raw}}:
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Estoy convencido de esto: el que comenzó tan buena obra en ustedes la irá perfeccionando hasta el día
                de Cristo Jesús.”
                <br/>
                <small class="float-right">
                    Filipenses 1:6 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Mas la senda de los justos es como la luz de la aurora, que va en aumento hasta que el día
                es perfecto.”
                <br/>
                <small class="float-right">
                    Proverbios 4:18 (RVR)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Confía en el Señor de todo corazón, y no en tu propia inteligencia. Reconócelo en todos
                tus caminos, y él allanará tus sendas.”
                <br/>
                <small class="float-right">
                    Proverbios 3:5-6 (NVI)
                </small>
            </p>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
            <h4 class="nota-style">
                MIRA HACIA ARRIBA
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Cuando… se levantó temprano y salió, había tropas, caballos y carros de guerra por todos lados.
                —¡Oh señor! ¿Qué vamos a hacer ahora? —gritó el joven a Eliseo. —¡No tengas miedo! —le dijo Eliseo—.
                ¡Hay más de nuestro lado que del lado de ellos! Entonces Eliseo oró: «Oh Señor, ¡abre los ojos de
                este joven para que vea!». Así que el Señor abrió los ojos del joven, y cuando <b>levantó la vista</b>
                vio que la montaña alrededor de Eliseo estaba llena de caballos y carros de fuego.
                <br/>
                <small class="float-right">
                    2 Reyes 6:15-17 (NTV)
                </small>
            </p>
            <strong>
                No necesitas más confianza en vos mismo, necesitas más confianza en Dios.<br/>
                Dios está siempre con vos, siempre por vos y seguirá trabajando en vos
            </strong>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
