<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Poco después, Jesús fue con sus discípulos a la aldea de Naín, y <u>una multitud</u> numerosa
                        lo siguió.<br/>
                        <sup>12</sup> Cuando Jesús llegó a la entrada de la aldea, salía una procesión fúnebre. El joven
                        que había muerto era el <u>único hijo</u> de una viuda, y <u>una gran multitud</u> de la aldea
                        la acompañaba.”
                        <small class="float-end" style="font-size: 0.8em">
                            Lucas 7:11-12 (NTV)
                        </small>
                    </p>

                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}

                <h4 class="text-centrado text-600">
                    QUE DICE JESÚS A LAS MADRES
                </h4>
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    “Cuando el Señor la vio, su corazón rebosó de compasión. «No llores», le dijo.”
                    <small class="float-end" style="font-size: 0.8em">
                        Lucas 7:13 (NTV)
                    </small>
                </p>
                <h5 class="text-centrado text-600">
                    1. {{ completa_lugar('uno') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Cuando el Señor la vio...”
                    <br/>
                    <small class="float-end">
                        Lucas 7:13 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Yo sé todo lo que haces; he visto tu amor, tu fe, tu servicio y tu paciencia con perseverancia...”
                    <br/>
                    <small class="float-end">
                        Apocalipsis 2:19 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Me gozaré y me alegraré en tu amor inagotable, porque has visto mis dificultades y te preocupas por
                    la angustia de mi alma.”
                    <br/>
                    <small class="float-end">
                        Salmos 31:7 (NTV)
                    </small>
                </p><br/>

                <h5 class="text-centrado text-600">
                    2. Conozco tus sueños y {{ completa_lugar('dos') | raw }}:
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Se llenó de compasión por ella”
                    <br/>
                    <small class="float-end">
                        Lucas 7:13 (VBL)
                    </small>
                </p><br/>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Tú llevas la cuenta de todas mis angustias y has juntado todas mis lágrimas en tu frasco; has
                    registrado cada una de ellas en tu libro.”
                    <br/>
                    <small class="float-end">
                        Salmos 56:8 (NTV)
                    </small>
                </p><br/>


                <h5 class="text-centrado text-600">
                    3. {{ completa_lugar('tres') | raw }}, voy a intervenir.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “«No llores», le dijo.”
                    <br/>
                    <small class="float-end">
                        Lucas 7:13 (NTV)
                    </small>
                </p><br/>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Convertiré su duelo en alegría. Los consolaré y cambiaré su aflicción en regocijo.”
                    <br/>
                    <small class="float-end">
                        Jeremías 31:13 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Benditos son los que lloran, porque ellos serán consolados.”
                    <br/>
                    <small class="float-end">
                        Mateo 5:4 (VBL)
                    </small>
                </p><br/>


                <h5 class="text-centrado text-600">
                    4. Yo {{ completa_lugar('cuatro') | raw }} tu alegría
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Y Jesús lo regresó a su madre.”
                    <br/>
                    <small class="float-end">
                        Lucas 7:15 (NTV)
                    </small>
                </p><br/>

                <h4 class="text-centrado text-600">
                    ¿QUIÉN ES ESTE HOMBRE?
                </h4>
                <h5 class="text-centrado text-600">
                    1. El {{ completa_lugar('cinco') | raw }} del universo.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Cuando el Señor la vio...”
                    <small class="float-end" style="font-size: 0.8em">
                        Lucas 7:13 (NTV)
                    </small>
                </p>
                <h5 class="text-centrado text-600">
                    2. El que {{ completa_lugar('seis') | raw }} ante mi miseria.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Luego se acercó al ataúd y lo tocó y los que cargaban el ataúd se detuvieron”
                    <small class="float-end" style="font-size: 0.8em">
                        Lucas 7:14 (NTV)
                    </small>
                </p><br/>
                <h5 class="text-centrado text-600">
                    3. El que habla a {{ completa_lugar('siete') | raw }} y rompe cadenas.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “«Joven —dijo Jesús—, te digo, levántate».”
                    <small class="float-end" style="font-size: 0.8em">
                        Lucas 7:14 (NTV)
                    </small>
                </p><br/>
                <h5 class="text-centrado text-600">
                    4. El que {{ completa_lugar('ocho') | raw }} a una nueva vida.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¡Entonces el joven muerto se incorporó y comenzó a hablar!”
                    <small class="float-end" style="font-size: 0.8em">
                        Lucas 7:15 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Un gran temor se apoderó de la multitud, y alababan a Dios diciendo:<br/>
                    «Un profeta poderoso se ha levantado entre nosotros» y<br/>
                    «Dios ha visitado hoy a su pueblo».”
                    <small class="float-end" style="font-size: 0.8em">
                        Lucas 7:16 (NTV)
                    </small>
                </p><br/>


                <div class="col-12 mx-auto text-left">

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Antes ustedes estaban <b>muertos</b> a causa de su desobediencia y sus muchos pecados.<br/>
                        <sup>2</sup> Vivían en pecado, igual que el resto de la gente...<br/>
                        <sup>4</sup> Pero Dios es tan rico en misericordia y <u>nos amó tanto</u><br/>
                        <sup>5</sup> que, ... <u>nos dio vida</u> cuando levantó a Cristo de los muertos. (¡Es sólo por
                        la gracia de Dios que ustedes han sido salvados!)<br/>
                        <sup>6</sup> Pues <u>nos levantó de los muertos</u> junto con Cristo...<br/>
                        <sup>8</sup> ... Ustedes <u>no tienen ningún mérito</u> en eso; es un regalo de Dios.<br/>
                        <sup>9</sup> La <u>salvación</u> no es un premio por las cosas buenas que hayamos hecho, así que
                        ninguno de nosotros puede jactarse de ser salvo.
                        <br/>
                        <small class="float-end">
                            Efesios 2:1-9 (NVI)
                        </small>
                    </p>
                    <br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Dios amó tanto al mundo que dio a <u>su único Hijo</u>, para que todo el que crea en él no se
                        pierda, sino que tenga vida eterna.”
                        <br/>
                        <small class="float-end">
                            Juan 3:16 (NTV)
                        </small>
                    </p>
                    <br/>


                </div>

                <hr>


                {#            Pie de las notas      #}


                <div class="col-sm-10 mx-auto my-2">
                    <div class="col-sm-8 mx-auto text-center">
                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia
                        en tu
                        iglesia en <a class="btn btn-link"
                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                      target="_blank"> Youversion</a>.
                        <br/>
                        La aplicación más descargada en todo el mundo.<br/>
                        Sigue el <a class="btn btn-link"
                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                    target="_blank"> enlace</a> y descubre cómo.
                    </div>

                    {#                <div class="col-12 mx-auto text-left"> #}
                    {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                    {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                    {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                    {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                    {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                    {#                    </h6> #}
                    {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                    {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                    {#                </div> #}
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
