<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">


            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <div class="col-sm-10 mx-auto">
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    Si el Hijo los libera, ustedes serán <b>realmente libres</b>.
                    <br/>
                    <small class="float-start">
                        Juan 8:36 (PDT)
                    </small>
                </p>
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    Mas a cuantos lo recibieron, a los que creen en su nombre, les dio el derecho de ser hechos <b>hijos
                        de Dios</b>. Estos no nacen de la sangre, ni por deseos naturales, ni por voluntad humana, sino
                    que nacen de Dios.
                    <br/>
                    <small class="float-start">
                        Juan 1:12-13 (NVI)
                    </small>
                </p>
            </div>

            <h4 class="text-centrado text-600">
                SOY: ¡{{ completa_lugar('uno') | raw }}!
            </h4>


            <h5 class="text-izq text-600">
                1. {{ completa_lugar('dos') | raw }}:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “¡Fíjense qué <b>gran amor</b> nos ha dado el Padre, que se nos llame hijos de Dios! ¡Y lo somos!”
                <br/>
                <small class="float-start">
                    1° Juan 3:1 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                2. {{ completa_lugar('tres') | raw }}:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Para alabanza de la gloria de su gracia, con la cual nos hizo aceptos en el Amado.”
                <br/>
                <small class="float-start">
                    Efesios 1:6 (RVC)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                3. {{ completa_lugar('cuatro') | raw }}:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Dios decidió adoptarnos como hijos suyos a través de Jesucristo. Eso era lo que él tenía planeado y <b>le
                    dio gusto hacerlo</b>.”
                <br/>
                <small class="float-start">
                    Efesios 1:5 (PDT)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                4. {{ completa_lugar('cinco') | raw }}:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pues ustedes no han recibido un espíritu que los esclavice nuevamente al miedo, sino que han recibido
                el <b>espíritu de adopción</b>, por el cual clamamos: ¡Abba, Padre! El Espíritu mismo da testimonio a
                nuestro espíritu, de que somos hijos de Dios. Y si somos hijos, somos también herederos; herederos de
                Dios y coherederos con Cristo, si es que padecemos juntamente con él, para que juntamente con él seamos
                glorificados”
                <br/>
                <small class="float-start">
                    Romanos 8:14-17 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                5. {{ completa_lugar('seis') | raw }}:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pero ahora, así dice el Señor, el que te creó, Jacob, el que te formó, Israel: «No temas, que yo te he
                redimido; <b>te he llamado por tu nombre; tú eres mío</b>. Cuando cruces las aguas, yo estaré contigo;
                cuando cruces los ríos, no te cubrirán sus aguas; cuando camines por el fuego, no te quemarás ni te
                abrasarán las llamas. Yo soy el Señor tu Dios, el Santo de Israel, tu Salvador”
                <br/>
                <small class="float-start">
                    Isaías 43:1-3 (NVI)
                </small>
            </p>
            <div class="col-sm-10 mx-auto">
                {#                <div class="col-12 mx-auto text-center"> #}
                {#                    Cuanto más honestos seamos con Dios<br/> #}
                {#                    más profunda será nuestra amistad #}
                {#                </div> #}

                {#                <div class="col-sm-8 mx-auto text-center"> #}

                {#                </div> #}

                {#                <div class="col-12 mx-auto text-left"> #}
                {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    </h6> #}
                {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                </div> #}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
