<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        EL LLAMADO ORIGINAL
        <br/>
        <small>
            Serie: Original - parte 1
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        “Mientras caminaba, Jesús vio a un hombre llamado Mateo sentado en su cabina de cobrador de impuestos.
        <b>«Sígueme y sé mi discípulo»</b>, le dijo Jesús. Entonces Mateo se levantó y lo siguió."
        <br/>
        <small class="float-right">
            Mateo 9:9 (NTV)
        </small>
    </p>
    <strong>
        ¿{{ completa_lugar('uno') | raw}} O BUEN RELIGIOSO?<br/>
    </strong>

</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                LAS MARCAS DE UN AUTÉNTICO LLAMADO
            </h4>
            <br/>
            <strong>
                1. DISFRUTO {{ completa_lugar('dos') | raw}} CON JESÚS.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Todo el que quiera ser mi discípulo debe seguirme, porque <i>mis siervos tienen que estar donde
                    yo estoy</i>. El Padre honrará a todo el que me sirva."
                <br/>
                <small class="float-right">
                    Juan 12:26 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Dios, Dios mío eres tú; De madrugada te buscaré […] Para ver tu poder y tu gloria”
                <br/>
                <small class="float-right">
                    Salmos 63:1-2 (RVR)
                </small>
            </p>
            <strong>
                2. {{ completa_lugar('tres') | raw}} A JESÚS SUPREMAMENTE.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "—El que quiera seguirme tiene que amarme más que a su padre, madre, esposa, hijos,
                hermanos o hermanas, y más que a su <b>propia vida</b>. De lo contrario, no podrá ser discípulo mío."
                <br/>
                <small class="float-right">
                    Lucas 14:26 (BAD)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “No se puede servir al mismo tiempo a <b>Dios</b> y al <b>dinero</b>.”
                <br/>
                <small class="float-right">
                    LUCAS 16:13 (TLA)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Jesús contestó: El mandamiento más importante es: “¡Escucha, oh Israel! El SEÑOR nuestro Dios es el
                único SEÑOR. Amarás al SEÑOR tu Dios con todo tu <b>corazón</b>, con toda tu alma, con toda tu mente y con
                todas tus fuerzas”."
                <br/>
                <small class="float-right">
                    Marcos 12:29-30 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Jesús les dijo a los judíos que habían creído en él: –Si ustedes se mantienen fieles a mi palabra,
                serán de veras mis discípulos; conocerán la verdad, y la verdad los hará <b>libres</b>."
                <br/>
                <small class="float-right">
                    Juan 8:31-32 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Si ustedes permanecen en mí y mis palabras permanecen en ustedes, pueden pedir lo que quieran,
                <b>¡y les será concedido!</b> Cuando producen mucho fruto, demuestran que son mis verdaderos discípulos.
                Eso le da mucha gloria a mi Padre."
                <br/>
                <small class="float-right">
                    Juan 15:7-8 (NTV)
                </small>
            </p>

            <strong>
                3. AMO A {{ completa_lugar('cuatro') | raw}}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "El <b>amor</b> que tengan unos por otros será la prueba ante el mundo de que son mis discípulos»."
                <br/>
                <small class="float-right">
                    Juan 13:35 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Si alguien dice: «Amo a Dios» pero odia a un <b>hermano en Cristo</b>, esa persona es mentirosa pues,
                si no amamos a quienes podemos ver, ¿cómo vamos a amar a Dios, a quien no podemos ver?"
                <br/>
                <small class="float-right">
                    1 Juan 4:20 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Jesús se sentó y llamó a los doce discípulos y dijo: «Quien quiera ser el primero, debe tomar el
                último lugar y ser el <b>sirviente</b> de todos los demás»."
                <br/>
                <small class="float-right">
                    Marcos 9:35 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Yo [Jesús] no vine a este mundo para que me sirvan, sino para servir a los demás. Vine para dar mi
                vida por la salvación de muchos.»”
                <br/>
                <small class="float-right">
                    Mateo 20:28 (TLA)
                </small>
            </p>
            <strong>
                4. COMPARTO {{ completa_lugar('cinco') | raw}}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Vengan, síganme -les dijo Jesús-, y los haré <b>pescadores de hombres</b>."
                <br/>
                <small class="float-right">
                    Mateo 4:19 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Vayan y hagan discípulos <b>de todas las naciones</b>, bautizándolos en el nombre del Padre
                y del Hijo y del Espíritu Santo,"

                <br/>
                <small class="float-right">
                    Mateo 28:19 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Porque el que quiera salvar <b>su vida</b>, la perderá; pero el que pierda su vida por mi causa y por
                el evangelio, la salvará. ¿De qué sirve ganar el mundo entero si se pierde la vida?"
                <br/>
                <small class="float-right">
                    Marcos 8:35-36 (NVI)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
