<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }
</style>
<div class="col-sm-12">
    <h3>
        ALEGRA POR NATURALEZA.
        <br/>
        <small>
            Serie: Original - parte 3
        </small>
    </h3>
    <strong>
        Desde el principio Dios creó todo {{ completa_lugar('uno') | raw }}
    </strong>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        Dios miró todo lo que había hecho, y consideró que era muy bueno. Y vino la noche, y llegó la mañana: ese fue
        el sexto día.
        <br/>
        <small class="float-right">
            Génesis 1:31 NVI
        </small>
    </p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                ¿Cuáles son las evidencias de la alegría de Jesús?
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Pero el ángel les dijo: «No tengan miedo. Miren que les traigo buenas noticias que serán motivo de
                mucha alegría para todo el pueblo. Hoy les ha nacido en la Ciudad de David un Salvador, que es Cristo
                el Señor.  Esto les servirá de señal: Encontrarán a un niño envuelto en pañales y acostado en un pesebre.
                <br/>
                <small class="float-right">
                    Lucas 2: 10-12 NVI
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Dichosos los pobres en espíritu, porque el reino de los cielos les pertenece.<br/>
                Dichosos los que lloran, porque serán consolados.<br/>
                Dichosos los humildes, porque recibirán la tierra como herencia.<br/>
                Dichosos los que tienen hambre y sed de justicia, porque serán saciados.<br/>
                Dichosos los compasivos, porque serán tratados con compasión.<br/>
                Dichosos los de corazón limpio, porque ellos verán a Dios.<br/>
                Dichosos los que trabajan por la paz, porque serán llamados hijos de Dios. <br />
                Dichosos los perseguidos por causa de la justicia, porque el reino de los cielos les pertenece.
                <br/>
                <small class="float-right">
                    Mateo 5: 3 - 10 NVI
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Nehemías continuó diciendo: «Vayan y festejen con un banquete de deliciosos alimentos y bebidas
                dulces, y regalen porciones de comida a los que no tienen nada preparado. Este es un día sagrado
                delante de nuestro Señor. ¡No se desalienten ni entristezcan, porque el gozo del Señor es su fuerza!».
                <br/>
                <small class="float-right">
                    Nehemías 8: 10 NTV
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Llevaron unos niños a Jesús para que les impusiera las manos y orara por ellos, pero los discípulos
                reprendían a quienes los llevaban.  Jesús dijo: «Dejen que los niños vengan a mí, y no se lo impidan,
                porque el reino de los cielos es de quienes son como ellos». Después de poner las manos sobre ellos,
                se fue de allí.
                <br/>
                <small class="float-right">
                    Mateo 19: 13- 15 NVI
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Jesús tomó los cinco panes y los dos pescados y, mirando al cielo, los bendijo. Luego partió los
                panes y se los dio a los discípulos para que se los repartieran a la gente. También repartió los dos
                pescados entre todos. Comieron todos hasta quedar satisfechos, y los discípulos recogieron doce
                canastas llenas de pedazos de pan y de pescado. Los que comieron fueron cinco mil.
                <br/>
                <small class="float-right">
                    Marcos 6: 41- 44 NVI
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Al tercer día se celebró una boda en Caná de Galilea, y la madre de Jesús se encontraba allí.
                También habían sido invitados a la boda Jesús y sus discípulos.
                <br/>
                <small class="float-right">
                    Juan 2: 1- 2 NVI
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                LA ÚNICA FUENTE {{ completa_lugar('dos') | raw}}
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                De aquel que cree en mí, como dice la Escritura, brotarán ríos de agua viva. Con esto se refería
                al Espíritu que habrían de recibir más tarde los que creyeran en él. Hasta ese momento el Espíritu
                no había sido dado, porque Jesús no había sido glorificado todavía.
                <br/>
                <small class="float-right">
                    Juan 7:38-39 NVI
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                En cambio, el fruto del Espíritu es amor, alegría, paz, paciencia, amabilidad, bondad, fidelidad,
                humildad y dominio propio. No hay ley que condene estas cosas.
                <br/>
                <small class="float-right">
                    Gálatas 5: 22- 23 NVI
                </small>
            </p>
            <strong>
                Somos {{ completa_lugar('tres') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Él entonces les contó esta parábola: «Supongamos que uno de ustedes tiene cien ovejas y pierde una
                de ellas. ¿No deja las noventa y nueve en el campo, y va en busca de la oveja perdida
                hasta encontrarla? Y, cuando la encuentra, <b>lleno de alegría</b> la carga en los hombros y vuelve
                a la casa. Al llegar, reúne a sus amigos y vecinos, y les dice: “<b>Alégrense conmigo</b>; ya encontré
                la oveja que se me había perdido” Les digo que así es también en el cielo: <b>habrá más alegría</b> por
                un solo pecador que se arrepienta que por noventa y nueve justos que no necesitan arrepentirse.
                <br/>
                <small class="float-right">
                    Lucas 15: 3-7 NVI
                </small>
            </p>
            <strong>
                Somos {{ completa_lugar('cuatro') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                O supongamos que una mujer tiene diez monedas de plata y pierde una. ¿No enciende una lámpara, barre
                la casa y busca con cuidado hasta encontrarla? Y, cuando la encuentra, reúne a sus amigas y vecinas,
                y les dice: “<b>Alégrense conmigo</b>; ya encontré la moneda que se me había perdido”. Les digo que
                así mismo <b>se alegra Dios</b> con sus ángeles por un pecador que se arrepiente.
                <br/>
                <small class="float-right">
                    Lucas 15: 8- 10 NVI
                </small>
            </p>
            <strong>
                Somos {{ completa_lugar('cinco') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                El joven le dijo: “Papá, he pecado contra el cielo y contra ti. Ya no merezco que se me llame
                tu hijo”. Pero el padre ordenó a sus siervos: “¡Pronto! Traigan la mejor ropa para vestirlo.
                Pónganle también un anillo en el dedo y sandalias en los pies. Traigan el ternero más gordo
                y mátenlo para <b>celebrar un banquete</b>. Porque este hijo mío estaba muerto, pero ahora ha
                vuelto a la vida; se había perdido, pero ya lo hemos encontrado”.
                <b>Así que empezaron a hacer fiesta</b>.
                <br/>
                <small class="float-right">
                    Lucas 15: 21- 24 NVI
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Fijemos la mirada en Jesús, el iniciador y perfeccionador de nuestra fe, quien, por el gozo que
                le esperaba, soportó la cruz, menospreciando la vergüenza que ella significaba, y ahora está sentado
                a la derecha del trono de Dios.
                <br/>
                <small class="float-right">
                    Hebreos 12:2 NVI
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
