<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        LA FUERZA DE LA BONDAD
        <br/>
        <small>
            Serie: Social Ed. - Parte 5
        </small>
    </h3>
    <p class="text-primary text-14-300 text-left font-italic mb-5">
        "El fruto del Espíritu es… bondad"
        <br/>
        <small class="float-right">
            Gálatas 5:22 (NVI)
        </small>
    </p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                EL ARTE DE LA BONDAD
            </h4>
            <strong>
                Dar {{ completa_lugar('uno') | raw}}.
            </strong><br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Jesús: "La bondad de Dios"
                <br/>
                <small class="float-right">
                    Tito 3:4 (LBLA)
                </small>
            </p>
            <strong>
                Dar {{ completa_lugar('dos') | raw}}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Una respuesta sincera es tan dulce como un beso."
                <br/>
                <small class="float-right">
                    Proverbios 24:26 (TLA)
                </small>
            </p>
            <strong>
                Dar {{ completa_lugar('tres') | raw}}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Sean bondadosos entre ustedes, compasivos, perdonándose las faltas que unos contra otros puedan
                cometer…”
                <br/>
                <small class="float-right">
                    Efesios 4:32 (BAD)
                </small>
            </p>
            <strong>
                Dar {{ completa_lugar('cuatro') | raw}}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Tu bondad me ha hecho prosperar."
                <br/>
                <small class="float-right">
                    2 Samuel 22:36 (DHH)
                </small>
            </p>
        </div>

        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                COMO SER BONDADOSO EN TUS RELACIONES
            </h4>
            <strong>
                1. ELEGÍ MIRAR CON LOS {{ completa_lugar('cinco') | raw}} DE LA BONDAD
            </strong><br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Los ojos son el reflejo de tu carácter. Así que, tu bondad o tu maldad se refleja en tu mirada."
                <br/>
                <small class="float-right">
                    Mateo 6:22 (TLA)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "El amor… disculpa sin límites, confía sin límites, espera sin límites."
                <br/>
                <small class="float-right">
                    1 Corintios 13:7 (BTI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Si algún cristiano cae en pecado,… tierna y humildemente deben ayudarle a volver al buen camino,
                recordando que quizá la próxima vez será uno de ustedes el que cometa alguna falta."
                <br/>
                <small class="float-right">
                    Gálatas 6:1 (BAD)
                </small>
            </p>
            <strong>
                2. ABRAZÁ EL {{ completa_lugar('seis') | raw}} DE LA BONDAD
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "El que es bondadoso se beneficia a sí mismo."
                <br/>
                <small class="float-right">
                    Proverbios 11:17 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Te bendeciré… y serás una bendición para otros."
                <br/>
                <small class="float-right">
                    Génesis 12:2 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Siempre que tengamos la oportunidad, hagamos el bien a todos"
                <br/>
                <small class="float-right">
                    Gálatas 6:10 (NTV)
                </small>
            </p>
            <strong>
                3. ACEPTA EL {{ completa_lugar('siete') | raw}} DE LA BONDAD
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Jesús anduvo haciendo el bien y sanando a todos los que eran oprimidos"
                <br/>
                <small class="float-right">
                    Hechos 10:38 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Les he dado un ejemplo, para que ustedes hagan lo mismo que yo les he hecho."
                <br/>
                <small class="float-right">
                    Juan 13:15 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Así como sobresalen en todo… procuren también sobresalir en esta gracia de dar."
                <br/>
                <small class="float-right">
                    2 Corintios 8:7 (NVI)
                </small>
            </p>
            <strong>
                4. EXPERIMENTA LA {{ completa_lugar('ocho') | raw}} DE LA BONDAD: DIOS
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Pero cuando la bondad y el amor de Dios nuestro Salvador se manifestó, obtuvimos la salvación; pero
                no porque fuéramos tan buenos que la mereciéramos, sino porque en su bondad y en su misericordia Dios
                nos lavó los pecados y nos dio una nueva vida por medio del Espíritu Santo"
                <br/>
                <small class="float-right">
                    Tito 3:4-5 (BAD)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Dios es tan rico en gracia y bondad que compró nuestra libertad con la sangre de su Hijo y perdonó
                nuestros pecados."
                <br/>
                <small class="float-right">
                    Efesios 1:7 (NTV)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
