<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Esto responde el SEÑOR: <b>Si regresas a mí te restauraré…</b>. Pelearán contra ti como un ejército en
                ataque, pero yo te haré tan seguro como una pared de bronce fortificada. Ellos no te conquistarán,
                porque estoy contigo para protegerte y rescatarte. ¡Yo, el SEÑOR, he hablado!”
                <br/>
                <small class="float-end">
                    Jeremías 15:19-20 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                El camino de vuelta
            </h4>
            <h5 class="text-izq text-600">
                1.{{ completa_lugar('uno') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando el Señor la vio, su corazón rebosó de compasión. «No llores», le dijo. Luego se acercó al ataúd
                y lo tocó y los que cargaban el ataúd se detuvieron. «Joven —dijo Jesús—, te digo, <b>levántate</b>».”
                <br/>
                <small class="float-end">
                    Lucas 7:13-14 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Mirate como {{ completa_lugar('dos') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Tú vales mucho para mí</b>, te estimo mucho, te amo. He dado gente para poder tenerte, y naciones
                para rescatarte con vida.”
                <br/>
                <small class="float-end">
                    Isaías 43:4 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Tú vales mucho para mí</b>, te estimo mucho, te amo. He dado gente para poder tenerte, y naciones
                para rescatarte con vida.”
                <br/>
                <small class="float-end">
                    Isaías 43:4 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando, impotentes, no teníamos medio de escape, Cristo llegó en el momento oportuno y murió por
                nosotros, <b>a pesar de</b> nuestra impiedad... <b>Dios nos demostró la inmensidad de su amor</b>
                enviando a Cristo a morir por nosotros, <b>aun cuando</b> éramos pecadores.”
                <br/>
                <small class="float-end">
                    Romanos 5:6-8 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Regresa a {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Pelea la buena batalla</b> de la fe; haz tuya la vida eterna, a la que fuiste llamado”
                <br/>
                <small class="float-end">
                    1° Timoteo 6:12 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Imita al deportista, que se esfuerza por ganar la competencia: haz todo lo posible por ser un buen
                discípulo de Jesucristo, y recibirás el premio de la vida eterna. Dios te llamó y te prometió esa vida
                cuando, delante de mucha gente, anunciaste que habías confiado en Dios.”
                <br/>
                <small class="float-end">
                    1° Timoteo 6:12 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pónganse <b>toda la armadura</b> de Dios para poder mantenerse firmes contra todas las estrategias del
                diablo.”
                <br/>
                <small class="float-end">
                    Efesios 6:11 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando Goliat se acercó para atacarlo, <b>David fue corriendo</b> para enfrentarse con él.”
                <br/>
                <small class="float-end">
                    1° Samuel 17:48 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. {{ completa_lugar('cuatro') | raw }} la lucha.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Las dos hermanas le enviaron un mensaje a Jesús que decía: «Señor, tu querido amigo está muy enfermo»…
                Aunque <b>Jesús amaba a Marta, a María y a Lázaro</b>, se quedó dónde estaba dos días más.”
                <br/>
                <small class="float-end">
                    Juan 11:3,5-6 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pasado ese tiempo, les dijo a sus discípulos: Volvamos a Judea... Nuestro amigo Lázaro se ha dormido
                —agregó después—, pero ahora iré a despertarlo... <b>Lázaro está muerto</b>. Y, por el bien de ustedes,
                <b>me alegro de no haber estado allí</b>, porque ahora ustedes van a creer de verdad. Vamos a verlo.”
                <br/>
                <small class="float-end">
                    Juan 11:7-15 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús les dijo a todos: -Si alguien quiere ser mi seguidor, tiene que <b>renunciar a sí mismo</b>,
                aceptar la cruz que se le da cada día y seguirme.”
                <br/>
                <small class="float-end">
                    Lucas 9:23 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús gritó: «¡Lázaro, <b>sal de ahí!</b>».”
                <br/>
                <small class="float-end">
                    Juan 11:43 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
