<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Si regresas a mí te restauraré...</b>”
                <br/>
                <small class="float-end">
                    Jeremías 15:19-20 (NTV)
                </small>
            </p>

            <h4 class="text-izq text-600">
                Como enfrentar los desafíos de la vida
            </h4>
            <h5 class="text-izq text-600">
                1. Elije una actitud de {{ completa_lugar('uno') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Todo lo puedo hacer</b> por medio de Cristo, quien me da las fuerzas.”
                <br/>
                <small class="float-end">
                    Filipenses 4:13 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todo el que escucha mi enseñanza y la sigue es sabio, como la persona que construye su casa sobre una
                roca sólida. <sup>25</sup> Aunque llueva a cántaros y suban las aguas de la inundación y <b>los vientos
                    golpeen</b> contra esa casa, <b>no se vendrá abajo porque está construida sobre un lecho de roca</b>.”
                <br/>
                <small class="float-end">
                    Mateo 7:24-25 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. {{ completa_lugar('dos') | raw }} conforme a tu fe
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “¡Despierta, oh Sión, despierta! Vístete de fuerza “
                <br/>
                <small class="float-end">
                    Isaías 52:1 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Que el débil diga: “¡Yo soy fuerte!”
                <br/>
                <small class="float-end">
                    Joel 3:10 (DHH)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Deja que la prueba te {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Porque la fe de ustedes… debe ser <b>probada por medio del fuego</b>”
                <br/>
                <small class="float-end">
                    1 Pedro 1:7 (DHH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Con su glorioso poder, los hará fuertes; así podrán ustedes soportarlo todo con mucha fortaleza y
                paciencia, y con alegría”
                <br/>
                <small class="float-end">
                    Colosenses 1:11 (DHH)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Enfocate en {{ completa_lugar('cuatro') | raw }} no en tu problema
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “No se dejen <b>intimidar</b> por sus enemigos de ninguna manera.”

                <br/>
                <small class="float-end">
                    Filipenses 1:28 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Fue por la fe que Moisés salió de la tierra de Egipto <b>sin temer el enojo del rey</b>. Siguió firme
                en su camino porque <b>tenía los ojos puestos en el Invisible</b>.”
                <br/>
                <small class="float-end">
                    Hebreos 11:27 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. Experimenta la {{ completa_lugar('cinco') | raw }} de Dios en tu interior
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Porque el Espíritu que Dios nos ha dado no nos hace cobardes, sino que él es para nosotros <b>fuente de
                    poder</b>, amor y buen juicio.”
                <br/>
                <small class="float-end">
                    2° Timoteo 1:7 (PDT)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
