<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}


            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Diles… que <b>empleen</b> el dinero en hacer el bien, que se enriquezcan en buenas obras y que
                compartan lo que Dios les ha dado con los que están en necesidad. De esta forma estarán <b>acumulando en
                    el cielo</b> un verdadero tesoro para sí mismos. ¡Es <b>la única inversión eternamente segura</b>! A
                la vez, estarán llevando en este mundo una vida cristiana fructífera.”
                <br/>
                <small class="float-start">
                    1° Timoteo 6:17-19 (BAD)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Los Cinco Fondos De Inversion Eternos De Dios
            </h4>


            <h5 class="text-izq text-600">
                1. DIOS QUIERE QUE INVIERTAS EN SU FONDO {{ completa_lugar('uno') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “No guarden <b>tesoros</b> para ustedes aquí en la tierra, donde la polilla y el moho los dañarán. … Más
                bien, guarden tesoros para ustedes <b>en el cielo…</b>.”
                <br/>
                <small class="float-start">
                    Mateo 6:19-20 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Si renuncias a tu codicia del dinero… el Todopoderoso será tu <b>tesoro</b>”
                <br/>
                <small class="float-start">
                    Job 22:24-25 (NTV)
                </small>
            </p>
            <h6 class="text-centrado">
                <b>¿CÓMO?</b> - Usando parte de mi dinero para: {{ completa_lugar('dos') | raw }}.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<b>Honra</b> a Dios con todo lo que tienes; dale lo <b>primero</b> y lo mejor”
                <br/>
                <small class="float-start">
                    Proverbios 3:9 (MSG)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pues donde esté tu <b>tesoro</b>, allí estará tu <b>corazón</b>”
                <br/>
                <small class="float-start">
                    Mateo 6:21 (PDT)
                </small>
            </p>
            <h6 class="text-centrado">
                ¿QUÉ TIPO DE DAR ES “DAR EN ADORACIÓN”?
            </h6>
            <ul>
                <li>
                    Es {{ completa_lugar('tres') | raw }}.
                </li>
            </ul>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Nada de lo que un hombre consagra irrevocablemente a Dios de lo que le pertenece, puede… recuperarse.”
                <br/>
                <small class="float-start">
                    Levítico 27:28 (MSG)
                </small>
            </p>
            <ul>
                <li>
                    Es dar {{ completa_lugar('cuatro') | raw }} adoro.
                </li>
            </ul>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Los <b>domingos</b> cada uno de ustedes <b>aparte</b> algo de lo que <b>ganó</b> durante la semana, y
                dedíquelo a esta ofrenda”
                <br/>
                <small class="float-start">
                    1° Corintios 16:2 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Esta práctica te enseñará a temer siempre al SEÑOR tu Dios”
                <br/>
                <small class="float-start">
                    Deuteronomio 14:23 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. DIOS QUIERE QUE INVIERTAS EN SU FONDO {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ámense los unos a los otros con amor fraternal, respetándose y honrándose <b>mutuamente</b>.”
                <br/>
                <small class="float-start">
                    Romanos 12:10 (NBD)
                </small>
            </p>
            <h6 class="text-centrado">
                ¿CÓMO? - Usando parte de mi dinero para {{ completa_lugar('seis') | raw }}.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Estén listos para ayudar a los hijos de Dios cuando pasen necesidad. Estén siempre dispuestos a brindar
                hospitalidad.”
                <br/>
                <small class="float-start">
                    Romanos 12:13 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pensemos en maneras de motivarnos unos a otros a realizar actos de amor y buenas acciones.”
                <br/>
                <small class="float-start">
                    Hebreos 10:24 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Querido amigo, cuando ofreces hospitalidad a los hermanos y hermanas cristianos, incluso cuando son
                extraños, <b>haces visible la fe</b>.”
                <br/>
                <small class="float-start">
                    3° Juan 1:5 (Mes)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. DIOS QUIERE QUE INVIERTA EN SU FONDO {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Crezcan en fortaleza espiritual y en el conocimiento de nuestro Señor y Salvador Jesucristo”
                <br/>
                <small class="float-start">
                    2° Pedro 3:18 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El sabio <b>guarda</b> las provisiones, pero el bruto las desperdicia.”
                <br/>
                <small class="float-start">
                    Proverbios 21:20 (PDT)
                </small>
            </p>
            <h6 class="text-centrado">
                ¿CÓMO? -Usando parte de mi dinero para: {{ completa_lugar('ocho') | raw }}.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Vale la pena <b>invertir</b> para obtener la verdad, la sabiduría, el aprendizaje y el entendimiento;
                <b>invierte</b> en ellos y no los vendas.”
                <br/>
                <small class="float-start">
                    Proverbios 23:23 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Más vale <b>adquirir</b> sabiduría que oro; más vale adquirir inteligencia que plata.”
                <br/>
                <small class="float-start">
                    Proverbios 16:16 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. DIOS QUIERE QUE INVIERTA EN SU FONDO {{ completa_lugar('nueve') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Dieron todo lo que pudieron y, de hecho, más que eso. Por decisión propia siguieron rogando con
                nosotros para tener parte en este privilegio de participar en el <b>ministerio</b> al pueblo de Dios.”
                <br/>
                <small class="float-start">
                    2° Corintios 8:3-4 (VBL)
                </small>
            </p>

            <h6 class="text-centrado">
                ¿CÓMO? - Usando parte de mi dinero para: {{ completa_lugar('diez') | raw }}.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Que esta abundancia que poseen también llegue a este <b>ministerio</b> de dadivosidad.”
                <br/>
                <small class="float-start">
                    2° Corintios 8:7 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Trabajen para ayudar a los débiles, recordando las palabras del Señor Jesús: ‘Más bendición hay en dar
                que en recibir’”.”
                <br/>
                <small class="float-start">
                    Hechos 20:35 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El mundo de los generosos se hace cada vez más grande; el mundo de los tacaños se hace cada vez más
                pequeño.”
                <br/>
                <small class="float-start">
                    Proverbios 11:24 (Mes)
                </small>
            </p>


            <h5 class="text-izq text-600">
                5. DIOS QUIERE QUE INVIERTA EN SU FONDO DE {{ completa_lugar('once') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “El Señor dice: … te haré ser luz de las naciones, y así será posible que mi salvación llegue a los
                lugares más remotos de la tierra».”
                <br/>
                <small class="float-start">
                    Isaías 49:6 (PDT)
                </small>
            </p>

            <h6 class="text-centrado">
                ¿CÓMO? -Usando parte de mi dinero para: {{ completa_lugar('doce') | raw }}.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<b>Usen sus recursos mundanos</b> para beneficiar a otros y para hacer amigos. Entonces, cuando esas
                posesiones terrenales se acaben, ellos les darán la bienvenida a <b>un hogar eterno</b>.”
                <br/>
                <small class="float-start">
                    Lucas 16:9 (NTV)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                {#                <div class="col-12 mx-auto text-center"> #}
                {#                    “Teníamos una deuda porque no cumplimos las leyes de Dios. La cuenta de cobro tenía todos los cargos #}
                {#                    contra nosotros, pero <b>Dios nos perdonó la deuda y clavó la cuenta en la cruz</b>.”<br/> #}
                {#                    Colosenses 2:14 (PDT) #}
                {#                </div> #}

                <div class="col-sm-8 mx-auto text-center">

                </div>

                <div class="col-12 mx-auto text-left">
                    <h5>Aprovecha estás ayudas gratuitas:</h5>
                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a
                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento">
                            “Asesoramiento” al 261 517 8081</a></h6>
                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación
                    </h6>
                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al
                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
