<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h3 class="text-centrado text-600">
                María
            </h3>

            <p class="text-14-300 font-italic pl-4 text-center">
                “María respondió: Oh, cuánto alaba mi alma al Señor. <sup>47</sup> ¡Cuánto mi espíritu se alegra en Dios
                mi Salvador! <sup>48</sup> Pues se fijó en su humilde sierva, y de ahora en adelante todas las
                generaciones me llamarán bendita. <sup>49</sup> Pues el Todopoderoso es santo y ha hecho grandes cosas
                por mí. <sup>50</sup> Él muestra misericordia de generación en generación a todos los que le temen.
                <sup>51</sup> ¡Su brazo poderoso ha hecho cosas tremendas! Dispersó a los orgullosos y a los altaneros.
                <sup>52</sup> A príncipes derrocó de sus tronos y <u>exaltó a los humildes</u>. <sup>53</sup> Al
                hambriento llenó de cosas buenas y a los ricos despidió con las manos vacías.”
                <br/>
                <small class="float-end">
                    Lucas 1:46-53 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Dios eligió lo que el mundo considera ridículo para avergonzar a los que se creen sabios. Y escogió
                cosas que no tienen poder para avergonzar a los poderosos. <sup>28</sup> <u>Dios escogió lo despreciado
                    por el mundo</u> —lo que se considera como nada— y lo usó para convertir en nada lo que el mundo
                considera importante.”
                <br/>
                <small class="float-end">
                    1 Corintios 1:27-28 (NTV)
                </small>
            </p>
            <h3 class="text-centrado text-600">
                David
            </h3>

            {#            <h4 class="text-centrado text-600"> #}
            {#                NUNCA PERMITAS QUE LA PRESENCIA DE UNA {{ completa_lugar('uno') | raw }} TE HAGA DUDAR DE LA PRESENCIA #}
            {#                DE {{ completa_lugar('dos') | raw }}. #}
            {#            </h4> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                1. Doy lo {{ completa_lugar('uno') | raw }} y lo {{ completa_lugar('dos') | raw }}. #}
            {#            </h5> #}
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pero el SEÑOR le dijo a Samuel: No juzgues por su apariencia o por su estatura, porque yo lo he
                rechazado. <u>El SEÑOR no ve las cosas de la manera en que tú las ves</u>. La gente juzga por las
                apariencias, pero <u>el SEÑOR mira el corazón</u>.”
                <br/>
                <small class="float-end">
                    1 Samuel 16:7 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Qué estás haciendo aquí? —le reclamó. ¿Qué pasó con esas pocas <u>ovejas</u> que se supone que
                deberías estar cuidando? “
                <br/>
                <small class="float-end">
                    1 Samuel 17:28 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¡No seas ridículo! —respondió Saúl. ¡No hay forma de que tú puedas pelear contra ese filisteo y
                ganarle! <u>Eres tan sólo un muchacho</u>, y él ha sido un hombre de guerra desde su juventud.”
                <br/>
                <small class="float-end">
                    1 Samuel 17:33 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Mirando con desdén al muchacho de mejillas sonrosadas. <sup>43</sup> ¿Soy acaso un perro —le rugió a
                David— para que vengas contra mí con un palo?”
                <br/>
                <small class="float-end">
                    1 Samuel 17:41-43 (NTV)
                </small>
            </p>
            <h3 class="text-centrado text-600">
                Jesús
            </h3>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Acaso puede salir algo bueno de Nazaret?.”
                <br/>
                <small class="float-end">
                    Juan 1:46 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Se burlaban: «No es más que el hijo del carpintero.”
                <br/>
                <small class="float-end">
                    Mateo 13:55 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesucristo de Nazaret, el hombre a quien ustedes crucificaron pero a quien Dios levantó de los muertos.
                <sup>11</sup> Pues es Jesús a quien se refieren las Escrituras cuando dicen: “<u>La piedra que ustedes,
                    los constructores, rechazaron ahora se ha convertido en la piedra principal</u>”. <sup>12</sup> »
                ¡En ningún otro hay salvación! Dios no ha dado ningún otro nombre bajo el cielo, mediante el cual
                podamos ser salvos».”
                <br/>
                <small class="float-end">
                    Hechos 4:10-12 (NTV)
                </small>
            </p>

            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
