<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-izq text-600">
                ¿Por qué tanta oposición?
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando Eliab, el hermano mayor de David, lo oyó hablar con los hombres, se enojó. <b>¿Qué estás
                    haciendo aquí?</b> —le reclamó. ¿Qué pasó con esas pocas ovejas que se supone que deberías estar
                cuidando? Conozco tu orgullo y tu engaño. ¡Sólo quieres ver la batalla!”
                <br/>
                <small class="float-start">
                    1° Samuel 17:28 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¡No seas ridículo! —respondió Saúl. <b>¡No hay forma de que tú puedas pelear</b> contra ese filisteo y
                ganarle! Eres tan sólo un muchacho…”
                <br/>
                <small class="float-start">
                    1° Samuel 17:33 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                1. CUANTO MÁS GRANDE SEA TU {{ completa_lugar('uno') | raw }} MÁS GRANDE SERÁ LA OPOSICIÓN.
            </h5>
            <h4 class="text-izq text-600">
                Lleno de destino, lleno de oposición
            </h4>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Marcos 5.17 - Lucas 8.27
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Mientras Jesús bajaba de <b>la barca</b>, un <b>hombre que estaba poseído por demonios</b> salió a su
                encuentro. Por mucho tiempo, había estado desnudo y sin hogar, y vivía en un cementerio, en las afueras
                de la ciudad. … Aun cuando el hombre estaba bajo custodia, con cadenas y grilletes, simplemente los
                rompía y se escapaba al desierto, totalmente controlado por el demonio.”
                <br/>
                <small class="float-start">
                    Lucas 8:27-29 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Jesús les dijo a sus discípulos: «Crucemos al otro lado del lago». Así que subieron a una barca y
                salieron.<br/>
                <sup>23</sup> Mientras navegaban, Jesús se recostó para dormir una siesta. Pronto <b>se desató una
                    tormenta feroz sobre el lago</b>. La barca se llenaba de agua y estaban realmente en peligro.”
                <br/>
                <small class="float-start">
                    Lucas 8:22-23 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pero los que tienen <b>su esperanza</b> puesta en el Señor <b>renovarán sus fuerzas</b>. Les crecerán
                alas como a las águilas; correrán sin fatigarse, caminarán sin cansarse.”
                <br/>
                <small class="float-start">
                    Isaías 40:31 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cuando Jesús se despertó, <b>reprendió al viento y a las tempestuosas olas</b>. De repente la tormenta
                se detuvo, y todo quedó en calma.”
                <br/>
                <small class="float-start">
                    Lucas 8:24 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Jesús está atravesando ahora mismo tormentas para {{ completa_lugar('dos') | raw }} por tu futuro.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todos vieron al hombre <b>liberado</b> de los demonios. Estaba sentado a los pies de Jesús,
                completamente vestido y en su sano juicio”
                <br/>
                <small class="float-start">
                    Lucas 8:35 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Así que el hombre <b>salió a visitar las Diez Ciudades</b> de esa región y comenzó a proclamar las
                grandes cosas que Jesús había hecho por él; y <b>todos quedaban asombrados</b> de lo que les decía.”
                <br/>
                <small class="float-start">
                    Marcos 5:20 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Te exaltaré, SEÑOR, porque me rescataste; no permitiste que mis enemigos triunfaran sobre mí.”
                <br/>
                <small class="float-start">
                    Salmos 30:1 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Dos realidades opuestas y combinadas
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Tengo a la vista una magnífica ocasión de trabajar con <b>éxito</b>, y hay muchos empeñados en poner
                <b>dificultades</b>.”
                <br/>
                <small class="float-start">
                    1° Corintios 16:9 (AF)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                LA ADVERSIDAD NO SIGNIFICA QUE DIOS TE ABANDONÓ, SIGNIFICA QUE DIOS TE
                ESTÁ {{ completa_lugar('tres') | raw }} A COSAS MÁS GRANDES.
            </h5>
            <h4 class="text-izq text-600">
                Nacidos en la adversidad
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>En esos días</b>, un hombre y una mujer de la tribu de Leví se casaron.<br/>
                <sup>2</sup> La mujer quedó embarazada y dio a luz un hijo. Al ver que era un niño excepcional, lo
                escondió durante tres meses.”
                <br/>
                <small class="float-start">
                    Éxodo 2:1-2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pero Moisés les dijo: No tengan miedo. Sólo quédense quietos y observen cómo <b>el SEÑOR los rescatará
                    hoy</b>. Esos egipcios que ahora ven, jamás volverán a verlos.”
                <br/>
                <small class="float-start">
                    Éxodo 14:13 (NTV)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                SEA LO QUE SEA QUE SE LEVANTE CONTRA TU DESTINO NECESITAS CONFIAR
                QUE {{ completa_lugar('cuatro') | raw }} PELEA POR TU FUTURO
            </h5>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “Podremos <b>mantener la frente en alto</b><br/> #}
            {#                    en cualquier circunstancia,<br/> #}
            {#                    sabiendo que <b>todo irá bien</b>,<br/> #}
            {#                    pues conocemos <b>la ternura del amor de Dios</b> hacia nosotros,...<br/> #}
            {#                    Cuando, <b>impotentes</b>, no teníamos medio de escape,<br/> #}
            {#                    Cristo llegó <b>en el momento oportuno</b> #}
            {#                    y murió por nosotros.” #}

            {#                    Romanos 5:5-6 (BAD) #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
