<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small {
        color: #1b1e24;
        text-align: left !important;
    }
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 pl-4">
                <strong>¿Es el cristianismo una religión para familias de clase media?</strong>
            </p>
            <br/>
            <p class="text-14-300 pl-4 ">
                <strong>La gran declaración de una nueva familia.</strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Luego llegaron la madre y los hermanos de Jesús, se quedaron afuera y mandaron a alguien para que lo
                llamara.”
                <br/>
                <small class="float-right">
                    Marcos 3:31 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “La multitud estaba sentada a su alrededor y le dijeron: -¡Oye! Tu mamá, tus hermanos y tus hermanas te
                están buscando afuera.”
                <br/>
                <small class="float-right">
                    Marcos 3:32 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Y Jesús respondió: -¿Quiénes son mi mamá y <strong>mis hermanos</strong>? Y mirando a todos los que
                estaban sentados a su
                alrededor dijo: —¡Aquí están mi mamá y <strong>mis hermanos</strong>! Pues el que haga lo que Dios
                quiere, ese es mi hermano, mi
                hermana y mi mamá."
                <br/>
                <small class="float-right">
                    Marcos 3:33-35 (PDT)
                </small>
            </p>
            <h5>
                EL LADO MALO DE LA FAMILIA.
            </h5>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                "Si alguno viene junto a mí y no <strong>odia a su padre, a su madre, a su mujer, a sus hijos, a sus
                    hermanos, a sus hermanas</strong> y hasta su propia vida, no puede ser discípulo mío."
                <br/>
                <small class="float-right">
                    Lucas 14:26 (BJ)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    ¿Cuándo la familia adquiere su lado malo?
                </strong>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    1. Cuando exige una {{ completa_lugar('uno') | raw }} suprema.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Si alguien viene a mí pero <strong>pone en primer lugar</strong> a su papá, a su mamá, a su esposa, a
                sus hijos, a sus
                hermanos y hermanas, no puede ser mi seguidor."
                <br/>
                <small class="float-right">
                    Lucas 14:26 (PDT)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    2. Cuando la familia se {{ completa_lugar('dos') | raw }} al Reino.
                </strong>
            </p>

            <p class="text-14-300 font-italic pl-4">
                "Un hermano traicionará a muerte a su hermano, un padre traicionará a su propio hijo, los hijos se
                rebelarán contra sus padres y harán que los maten."
                <br/>
                <small class="float-right">
                    Mateo 10:21 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "No le tengan miedo a la gente… Si alguien está dispuesto a decir ante la gente que cree en mí, yo
                también lo reconoceré ante mi Padre que está en el cielo."
                <br/>
                <small class="float-right">
                    Mateo 10:28-32 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "No crean que he venido para traer paz a la tierra. <strong>He venido para traer desacuerdo y para
                    causar divisiones en la familia</strong>: ‘El hijo estará en contra de su papá. La hija estará en
                contra de su mamá. La nuera estará en contra de su suegra’. Los enemigos de uno serán sus propios
                parientes'."
                <br/>
                <small class="float-right">
                    Mateo 10:34-36 (PDT)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    3. Cuando se convierte en un patriotismo de {{ completa_lugar('tres') | raw }}.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Pues todos ustedes son hijos de Dios por la fe en Cristo Jesús. … Ya no hay judío ni gentil, esclavo
                ni libre, hombre ni mujer, porque todos ustedes son uno en Cristo Jesús."
                <br/>
                <small class="float-right">
                    Gálatas 3:26 y 28 (NTV)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    4. Cuando divide las personas en falsas {{ completa_lugar('cuatro') | raw }}.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "En esta vida nueva, no importa si uno es judío o gentil, si está o no circuncidado, si es inculto,
                incivilizado, esclavo o libre. Cristo es lo único que importa, y él vive en todos nosotros."
                <br/>
                <small class="float-right">
                    Colosenses 3:11 (NTV)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    5. Cuando se transforma en un {{ completa_lugar('cinco') | raw }} para el amor.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Han oído la ley que dice: “Ama a tu prójimo” y odia a tu enemigo. Pero yo digo: ¡ama a tus enemigos!
                ¡Ora por los que te persiguen! 45 De esa manera, estarás actuando como verdadero hijo de tu Padre que
                está en el cielo."
                <br/>
                <small class="float-right">
                    Mateo 5:43-45 (NTV)
                </small>
            </p>
            <h5>
                LA NUEVA FAMILIA DE JESÚS.
            </h5>
            <blockquote class="text-14-300 text-dark">
                Como cristianos, tenemos una nueva familia que trasciende los lazos biológicos y culturales, a la cual
                acceden todos: Somos adoptados al nacer de nuevo.
            </blockquote>
            <p class="text-14-300 font-italic pl-4">
                "—Con toda sinceridad te lo digo —interrumpió Jesús—, que si no naces de nuevo no podrás entrar al reino
                de Dios."
                <br/>
                <small class="float-right">
                    Juan 3:3 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Como verdaderos hijos de Dios, como <strong>miembros adoptivos de su familia</strong> que pueden
                llamarlo: “Padre, Padre”."
                <br/>
                <small class="float-right">
                    Romanos 8:15 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Su inmutable plan fue siempre <strong>adoptarnos en su familia</strong>, enviando a Cristo para que
                muriera por nosotros..."
                <br/>
                <small class="float-right">
                    Efesios 1:5 (BAD)
                </small>
            </p>
            <h5>
                VIVIENDO LA FAMILIA EXTENDIDA.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Pues <strong>tuve hambre</strong>, y me alimentaron. Tuve sed, y me dieron de beber. Fui <strong>extranjero</strong>,
                y me invitaron a su hogar. Estuve <strong>desnudo</strong>, y me dieron ropa. Estuve
                <strong>enfermo</strong>, y me cuidaron. Estuve en <strong>prisión</strong>, y me visitaron”.
                <br/>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Y el Rey dirá: “Les digo la verdad, cuando hicieron alguna de estas cosas <strong>al más insignificante
                    de éstos, mis hermanos, ¡me lo hicieron a mí!</strong>”."
                <br/>
                <small class="float-right">
                    Mateo 25:34-40 (NTV)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    1. Practico comunidad {{ completa_lugar('seis') | raw }}.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Por lo tanto, siempre que tengamos la oportunidad, hagamos el bien a todos, <strong>en especial a los
                    de la familia de la fe</strong>."
                <br/>
                <small class="float-right">
                    Gálatas 6:10 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Entre los profetas y maestros de la iglesia de Antioquía de Siria se encontraban Bernabé, Simeón
                (llamado «el Negro»), Lucio (de Cirene), Manaén (compañero de infancia del rey Herodes Antipas) y
                Saulo."
                <br/>
                <small class="float-right">
                    Hechos 13:1 (NTV)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    2. Practico la {{ completa_lugar('siete') | raw }}.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Cuiden a los necesitados que hay en el pueblo de Dios. Busquen y reciban en su casa a los que necesitan
                ayuda."
                <br/>
                <small class="float-right">
                    Romanos 12:13 (PDT)
                </small>
            </p>

            <figure>
                <blockquote class="text-14-300 text-dark">
                    “Si cada cristiano simplemente recibiera a un extraño en su hogar, terminaríamos con la falta de
                    vivienda de la noche a la mañana”.
                </blockquote>
                <figcaption class="blockquote-footer">
                    Dorothy Day
                </figcaption>
            </figure>

            <p class="text-14-300 pl-4 ">
                <strong>
                    3. Abrazo a {{ completa_lugar('ocho') | raw }} y {{ completa_lugar('nueve') | raw }}.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “-Aquí está tu mamá. Desde ese momento ese seguidor se la llevó a vivir a su casa."
                <br/>
                <small class="float-right">
                    Juan 19:27 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Según Dios el Padre, ser cristiano puro y sin mancha es ocuparse de los <strong>huérfanos y de las
                    viudas..."</strong>
                <br/>
                <small class="float-right">
                    Santiago 1:27 (BAD)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    4. Me relaciono como {{ completa_lugar('diez') | raw }}.
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Él ya no es como un esclavo para ti. Es más que un esclavo, <strong>es un hermano amado</strong>,
                especialmente para mí. Ahora será de más valor para ti, como persona y como hermano en el Señor."
                <br/>
                <small class="float-right">
                    Filemón 1:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 pl-4 ">
                <strong>
                    5. Me comprometo con la {{ completa_lugar('once') | raw }} por los perdidos. — Lucas 14:23
                </strong>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "'Ve a los caminos y veredas, y haz venir a toda la gente para que se llene mi casa."
                <br/>
                <small class="float-right">
                    Lucas 14:23 (PDT)
                </small>
            </p>
            <h5>
                EL ÚNICO REQUISITO: {{ completa_lugar('doce') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Pero a quienes lo recibieron y creyeron en él, les concedió el privilegio de llegar a ser hijos de
                Dios."
                <br/>
                <small class="float-right">
                    Juan 1:12 (DHH)
                </small>
            </p>

        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
