<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        SIEMBRA DE PAZ
        <br/>
        <small>
            Serie: Social Ed. - Parte 3
        </small>
    </h3>
    <p class="text-primary text-14-300 text-left font-italic mb-5">
        “el fruto del Espíritu es amor, alegría, paz…”
        <br/>
        <small class="float-right">
            Gálatas 5:22 (NVI)
        </small>
    </p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                MITOS ACERCA DE LA PAZ
            </h4>
            <strong>
                • Buscar la paz solo es {{ completa_lugar('uno') | raw }}.
            </strong><br/>
            <strong>
                • Buscar la paz es para los {{ completa_lugar('dos') | raw }} de carácter.
            </strong>
        </div>

        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                SEMBRAR PAZ EN LAS RELACIONES ES COSA DE VALIENTES:
            </h4>
            <p class="text-primary text-14-300 text-left font-italic mb-5">
                Cuando éramos enemigos de Dios, fuimos reconciliados con él mediante la muerte de su Hijo.
                <br/>
                <small class="float-right">
                    Romanos 5:10 (NVI)
                </small><br/>
            </p>
            <p class="text-primary text-14-300 text-left font-italic mb-5">
                “El Reino es justicia, paz y gozo en el Espíritu Santo”
                <br/>
                <small class="float-right">
                    Romanos 14:17 (PAR).
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                COMO SEMBRAR PAZ EN TUS RELACIONES (P.A.C.E.S.)
            </h4>
            <strong>
                1. (P) {{ completa_lugar('tres') | raw}} UN ENCUENTRO DE RECONCILIACIÓN:
            </strong>
            <p class="text-primary text-14-300 text-left font-italic mb-5">
                Si “te acuerdas de que alguien está enojado contigo … ve de inmediato a reconciliarte con esa persona.”
                <br/>
                <small class="float-right">
                    Mateo 5:23-24 (TLA)
                </small>
            </p>
            <strong>
                2. (A) {{ completa_lugar('cuatro') | raw}} LA CHARLA CON EMPATÍA:
            </strong>
            <p class="text-primary text-14-300 text-left font-italic mb-5">
                “vivan ustedes en armonía unos con otros. Compartan sus penas y alegrías, ámense como hermanos,
                tengan compasión y sean humildes.”
                <br/>
                <small class="float-right">
                    1 Pedro 3:8 (NBV)
                </small>
            </p>
            <strong>
                3. (C) {{ completa_lugar('cinco') | raw}} AL PROBLEMA, NO A LA PERSONA:
            </strong>
            <p class="text-primary text-14-300 text-left font-italic mb-5">
                “hablaremos la verdad con amor y así creceremos en todo sentido hasta parecernos más y más a Cristo”
                <br/>
                <small class="float-right">
                    Efesios 4:15 (NTV)
                </small>
            </p>
            <strong>
                4. (E) {{ completa_lugar('seis') | raw}} EN SER FLEXIBLE:
            </strong>
            <p class="text-primary text-14-300 text-left font-italic mb-5">
                “No hagan nada por egoísmo o vanidad; más bien, con humildad consideren a los demás como superiores a
                ustedes mismos. Cada uno debe velar no solo por sus propios intereses, sino también por los intereses
                de los demás.”
                <br/>
                <small class="float-right">
                    Filipenses 2:3-4 (NVI)
                </small>
            </p>
            <strong>
                5. (S) {{ completa_lugar('siete') | raw}} LA RECONCILIACIÓN, NO LA RESOLUCIÓN:
            </strong>
            <p class="text-primary text-14-300 text-left font-italic mb-5">
                “Dios estaba en Cristo reconciliando al mundo consigo mismo, no tomando más en cuenta el pecado de la
                gente. Y nos dio a nosotros este maravilloso mensaje de reconciliación.”
                <br/>
                <small class="float-right">
                    2 Corintios 5:19 (NTV)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                TU RELACIÓN MÁS IMPORTANTE:
            </h4>
            <p class="text-primary text-14-300 text-left font-italic mb-5">
                “justificados mediante la fe, tenemos  paz con Dios por medio de nuestro Señor Jesucristo. también por
                medio de él, y mediante la fe, tenemos acceso a esta gracia en la cual nos mantenemos firmes”
                <br/>
                <small class="float-right">
                    Romanos 5:1-2 (NVI)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
