<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                Queridos amigos, ya que son «extranjeros y residentes temporales», les advierto que se alejen de los
                deseos mundanos, que luchan contra el alma.
                <br/>
                <small class="float-end">
                    1 Pedro 2:11 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                NO SOMOS UN CUERPO CON {{ completa_lugar('uno') | raw }}.<br/>
                SOMOS {{ completa_lugar('dos') | raw }} CON UN CUERPO.
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                Despojémonos del lastre que nos estorba, en especial del pecado que nos asedia, y corramos con
                perseverancia la carrera que tenemos por delante.
                <br/>
                <small class="float-end">
                    Hebreos 12:1 (PDT)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                ¿Qué es el pecado según la Biblia?
            </h5>
            <h5 class="text-izq text-600">
                E{{ completa_lugar('tres') | raw }}.<br/>
                E{{ completa_lugar('cuatro') | raw }}.<br/>
                A{{ completa_lugar('cinco') | raw }}.<br/>
                R{{ completa_lugar('seis') | raw }}.
            </h5>

            <h5 class="text-centrado text-600">
                ¿Cómo nos atormenta el pecado?
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                ... [El diablo] No se mantiene en la verdad, porque no hay verdad en él. Cuando habla mentira, habla de
                lo que le es propio; porque es mentiroso y padre de la mentira. <sup>45</sup> Pero a mí, que digo la
                verdad, no me creen.
                <br/>
                <small class="float-end">
                    Juan 8:44-45 (RVC)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                4 mentiras que nos hunden:
            </h5>
            <h5 class="text-izq text-600">
                O{{ completa_lugar('siete') | raw }}.<br/>
                R{{ completa_lugar('ocho') | raw }}.<br/>
                C{{ completa_lugar('nueve') | raw }}.<br/>
                C{{ completa_lugar('diez') | raw }}.
            </h5>
            <h4 class="text-centrado text-600">
                COMO LIBERAR EL ALMA ATORMENTADA
            </h4>
            <h5 class="text-izq text-600">
                1) C{{ completa_lugar('once') | raw }} TUS PECADOS:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                El que encubre sus pecados no prospera; el que los confiesa y se aparta de ellos alcanza la misericordia
                divina.
                <br/>
                <small class="float-end">
                    Proverbios 28:13
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Si confesamos nuestros pecados, [Dios] es fiel y justo y nos perdonará nuestros pecados y nos purificará
                de toda maldad.
                <br/>
                <small class="float-end">
                    1° Juan 1:9
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Por lo tanto, confiesen sus pecados unos a otros y oren unos por otros para que puedan ser sanados.
                <br/>
                <small class="float-end">
                    Santiago 5:16
                </small>
            </p>
            <h5 class="text-izq text-600">
                2) CAMINÁ EN LA {{ completa_lugar('doce') | raw }} DE CRISTO:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                Ustedes no han sufrido ninguna tentación que no sea común al género humano. Pero Dios es fiel, y no
                permitirá que ustedes sean tentados más allá de lo que puedan aguantar. Más bien, cuando llegue la
                tentación, él les dará también una salida a fin de que puedan resistir.
                <br/>
                <small class="float-end">
                    1° Corintios 10:13 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Él mismo, en su cuerpo, llevó al madero nuestros pecados, para que muramos al pecado y vivamos para la
                justicia. Por sus heridas ustedes han sido sanados. <sup>25</sup> Antes eran ustedes como ovejas
                descarriadas, pero ahora han vuelto al Pastor que cuida de sus vidas.
                <br/>
                <small class="float-end">
                    1° Pedro 2:24-25 (NVI)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
