<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Recibirán poder cuando el Espíritu Santo descienda sobre ustedes; y serán <u>mis testigos</u>, y le
                hablarán a la gente acerca de mí en todas partes: en Jerusalén, por toda Judea, en Samaria y hasta los
                lugares más lejanos de la tierra.”
                <br/>
                <small class="float-end">
                    Hechos 1:8 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Testigo: Compartir lo que Dios está haciendo en {{ completa_lugar('uno') | raw }}
            </h5>
            <h4 class="text-centrado text-600">
                LA TAREA DE SUS TESTIGOS.
            </h4>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('dos') | raw }} la buena noticia
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús les dijo: “Vayan por todo el mundo y <u>anuncien las buenas noticias</u> a toda la gente.”
                <br/>
                <small class="float-end">
                    Marcos 16:15 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. {{ completa_lugar('tres') | raw }} a las personas con Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Dios nos ha dado <u>la tarea de reconciliar a la gente con él</u>. Pues Dios estaba en Cristo
                reconciliando al mundo consigo mismo... Y nos dio a nosotros este maravilloso mensaje de reconciliación”
                <br/>
                <small class="float-end">
                    2 Cor 5:17-19
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. {{ completa_lugar('cuatro') | raw }} nuevos seguidores de Jesús.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Por lo tanto, vayan y hagan discípulos de todas las naciones... Enseñen a los nuevos discípulos a
                obedecer todos los mandatos que les he dado.”
                <br/>
                <small class="float-end">
                    Mateo 28:18-19 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                EL MUNDO DE SUS TESTIGOS
            </h4>
            <h5 class="text-izq text-600">
                1. LAS PERSONAS MÁS {{ completa_lugar('cinco') | raw }} - “en Jerusalén”
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Ve a tu casa y a tu familia y diles todo lo que el Señor ha hecho por ti y lo misericordioso que ha
                sido contigo».”
                <br/>
                <small class="float-end">
                    Marcos 5:19 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. MI {{ completa_lugar('seis') | raw }} - “por toda Judea “
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Vivan sabiamente entre los que no creen en Cristo y <u>aprovechen al máximo cada oportunidad</u>. Que
                sus conversaciones sean cordiales… tengan la respuesta adecuada para cada persona.”
                <br/>
                <small class="float-end">
                    Col 4:5-6 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. PERSONAS DE OTRAS {{ completa_lugar('siete') | raw }} - “… en Samaria…”
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No me avergüenzo de la Buena Noticia acerca de Cristo, porque es poder de Dios en acción para salvar a
                todos los que creen, a los judíos primero y <u>también a los gentiles</u>.”
                <br/>
                <small class="float-end">
                    Romanos 1:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Con todos trato de encontrar <u>algo que tengamos en común</u>, y hago todo lo posible para salvar a
                algunos. Hago lo que sea para difundir la Buena Noticia”
                <br/>
                <small class="float-end">
                    1 Cor 9:22-23 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. AL {{ completa_lugar('ocho') | raw }} RINCÓN DE LA TIERRA - “los lugares más lejanos.”
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Cómo pueden creer en él si nunca han oído de él? ¿Y cómo pueden oír de él a menos que alguien se lo
                diga? <u>¿Y cómo irá alguien a contarles sin ser enviado?</u> ... «¡Qué hermosos son los pies de los
                mensajeros que traen buenas noticias!».”
                <br/>
                <small class="float-end">
                    Romanos 10:13-15 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Qué señal marcará tu regreso y el fin del mundo?… “Se predicará la Buena Noticia acerca del reino por
                todo el mundo, de manera que <u>todas las naciones la oirán; y entonces vendrá el fin</u>.”
                <br/>
                <small class="float-end">
                    Matea 24:3 y 14
                </small>
            </p>
            <h4 class="text-centrado text-600">
                EL PODER DE SUS TESTIGOS.
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<u>El Espíritu que Dios nos ha dado no nos hace cobardes</u>, sino que él es para nosotros fuente de
                poder, amor y buen juicio. De manera que <u>no te avergüences de hablar</u> a otros de nuestro Señor
                Jesús.”
                <br/>
                <small class="float-end">
                    2 Timoteo 1:7-8 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El amor de Cristo nos obliga”
                <br/>
                <small class="float-end">
                    2 Corintios 5:14-15 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Una vez más les dijo: «La paz sea con ustedes. Como el Padre me envió a mí, así <u>yo los envío a
                    ustedes</u>». Entonces sopló sobre ellos y les dijo: «<u>Reciban al Espíritu Santo</u>.”
                <br/>
                <small class="float-end">
                    Juan 20:21-22 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “<b>Estoy firmemente convencido</b> de que aquel que comenzó en ustedes la buena obra <b>la #}
            {#                        completará</b> hasta el Día de Cristo Jesús.” #}
            {#                    <br/> #}
            {#                    Filipenses 1:6 (BPD) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
