<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    <p class="text-14-300 font-italic pl-4 text-centrado">
                        Jesús: “He venido a BUSCAR y a SALVAR<br/>
                        a las almas PERDIDAS.”
                        <br/>
                        <small class="float-start">
                            Lucas 19:10 (BAD)
                        </small>
                    </p>


                </div>
            </div>
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}

            <h4 class="text-centrado text-600">
                ¿QUÉ ES LO QUE PIERDO CUANDO ESTOY PERDIDO?
                <small style="font-size: 0.75em"><br/>
                    Lucas 15.1-31
                </small>
            </h4>
            <h6 class="text-centrado text-600">
                Como una oveja...
            </h6>
            <h5 class="text-izq text-600">
                1. Pierdo {{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Todos nosotros nos hemos extraviado como ovejas; hemos dejado los caminos de Dios para seguir los
                nuestros.”
                <br/>
                <small class="float-start">
                    Isaías 53:6 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Pierdo {{ completa_lugar('dos') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Mi pueblo vaga como ovejas perdidas; y las atacan porque no tienen pastor.”
                <br/>
                <small class="float-start">
                    Zacarías 10:2 (NTV).
                </small>
            </p>
            <h6 class="text-centrado text-600">
                Como la moneda...
            </h6>

            <h5 class="text-izq text-600">
                3. Pierdo {{ completa_lugar('tres') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ningún simple mortal ha visto, oído ni imaginado las maravillas que Dios tiene preparadas para los que
                aman al Señor.”
                <br/>
                <small class="float-start">
                    1° Corintios 2:9 (BAD).
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Dios tiene poder para hacer mucho más de lo que le pedimos. ¡Ni siquiera podemos imaginar lo que Dios
                puede hacer para ayudarnos con su poder!”
                <br/>
                <small class="float-start">
                    Efesios 3:20 (TLA)
                </small>
            </p>


            <h6 class="text-14-300 font-italic pl-4 text-centrado">
                Como el hijo...
            </h6>

            <h5 class="text-izq text-600">
                4. Pierdo {{ completa_lugar('cuatro') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cuando ya lo había malgastado todo, sobrevino una gran hambruna en aquella provincia, y comenzó a pasar
                necesidad.”
                <br/>
                <small class="float-start">
                    Lucas 15:14 (RVC)
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. Pierdo {{ completa_lugar('cinco') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “¿De qué les sirve ganarse el mundo entero y perder la vida eterna? ¿Habrá algún valor terrenal que
                compense la pérdida del alma?”
                <br/>
                <small class="float-start">
                    Mateo 16:26 (BAD)
                </small>
            </p>

            <h6 class="text-centrado text-600">
                <b>Nuestra naturaleza errante nos separa de Dios</b><br/>
                <b>Nuestras circunstancias pueden separarnos de DiosNuestras circunstancias pueden separarnos de
                    Dios</b><br/>
                <b>Nuestras decisiones nos separan de DiosNuestras decisiones nos separan de Dios</b>
            </h6>

            <h5 class="text-izq text-600">
                Pero, lo que no pierdo es {{ completa_lugar('seis') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                "Pues Dios amó tanto al mundo que dio a su único Hijo, para que todo el que crea en él no se pierda,
                sino que tenga vida eterna."
                <br/>
                <small class="float-start">
                    Juan 3:16 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                ¿Qué significa ser salvo?
            </h4>
            <h6 class="text-14-300 font-italic pl-4 text-centrado">
                Como el pastor que va tras su oveja perdida…
            </h6>
            <h5 class="text-izq text-600">
                1. Jesús vino a {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Hay un solo Dios y un solo mediador entre Dios y los hombres: Jesús el hombre, el Mesías,”
                <br/>
                <small class="float-start">
                    1° Timoteo 2:5 (BXT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Llámame cuando tengas problemas, y yo te rescataré, y tú me darás la gloria».”
                <br/>
                <small class="float-start">
                    Salmos 50:15 (NTV)
                </small>
            </p>

            <h6 class="text-14-300 font-italic pl-4 text-centrado">
                Como la mujer que busca su moneda perdida…
            </h6>
            <h5 class="text-izq text-600">
                1. Jesús vino a {{ completa_lugar('ocho') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Cuando éramos totalmente incapaces de salvarnos, Cristo vino en el momento preciso y murió por
                nosotros, pecadores.”
                <br/>
                <small class="float-start">
                    1 Timoteo 2:5 (BXT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Te devolveré lo que perdiste todos estos años a causa de las langostas acaparadoras, devastadoras,
                destructoras y saltamontes”
                <br/>
                <small class="float-start">
                    Joel 2:25 (VBL).
                </small>
            </p>

            <h6 class="text-14-300 font-italic pl-4 text-centrado">
                Como el Padre que corre a abrazar a su hijo perdido…
            </h6>
            <h5 class="text-izq text-600">
                1. Jesús vino a {{ completa_lugar('nueve') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “El que está unido a Cristo es una nueva persona. Las cosas viejas pasaron; se convirtieron en algo
                nuevo.”
                <br/>
                <small class="float-start">
                    2° Corintios 5:17 (DHH)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    <p class="text-14-300 font-italic pl-4 text-centrado">
                        “¡Ahora es el momento apropiado! ¡Ahora es el día de salvación!”
                        <br/>
                        <small class="float-start">
                            2 Corintios 6:2 (VBL)
                        </small>
                    </p>
                </div>

                <div class="col-sm-8 mx-auto text-center">
                    Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia en tu
                    iglesia en <a
                            href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                            target="_blank"> Youversión</a>.
                    <br/>
                    La aplicación más descargada en todo el mundo.<br/>
                    Sigue el <a
                            href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                            target="_blank"> enlace</a> y descubre cómo.
                </div>

                {#                <div class="col-12 mx-auto text-left"> #}
                {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    </h6> #}
                {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                </div> #}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
