<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        TERMINA CON LA MENTALIDAD DE ESCASEZ
        <br/>
        <small>
            Serie: Sé positivo - Parte 6
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Han sembrado mucho pero cosechado poco; comen pero no quedan satisfechos; beben pero aún tienen sed; se
        abrigan pero todavía tienen frío. Sus salarios desaparecen, ¡como si los echaran en bolsillos llenos de
        agujeros!»."
        <br/>
        <small class="float-right">
            Hageo 1:6 (NTV)
        </small>
    </p>
    <br/>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <strong>
                Abundancia: La creencia de que {{ completa_lugar('uno') | raw}}.
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Y a Aquel que es poderoso para hacer todas las cosas mucho más abundantemente de lo que pedimos
                o entendemos, según el poder que actúa en nosotros,"
                <br/>
                <small class="float-right">
                    Efesios 3:20 (RV95)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "El ladrón solamente viene para robar, matar y destruir. Yo vine para que la gente tenga vida y la
                tenga en abundancia."
                <br/>
                <small class="float-right">
                    Juan 10:10 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Cierto día, la viuda de un miembro del grupo de profetas fue a ver a Eliseo y clamó:"
                <br/>
                <small class="float-right">
                    2 Reyes 4:1 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Mi esposo, quien te servía, ha muerto, y tú sabes cuánto él temía al SEÑOR; pero ahora ha venido
                un acreedor y me amenaza con llevarse a mis dos hijos como esclavos."
                <br/>
                <small class="float-right">
                    2 Reyes 4:1 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “¿Cómo puedo ayudarte? Dime, ¿qué tienes en tu casa?”
                <br/>
                <small class="float-right">
                    2 Reyes 4:2 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “No tengo nada, sólo un frasco de aceite de oliva —contestó ella."
                <br/>
                <small class="float-right">
                    2 Reyes 4:2 (NTV)
                </small>
            </p>
            <br/>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                CUATRO PRINCIPIOS DE LA PROVISIÓN DE DIOS
            </h4>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                1. NO {{ completa_lugar('dos') | raw}} LO QUE TENÉS
            </h4>

            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “No tengo nada, sólo un frasco de aceite de oliva —contestó ella."
                <br/>
                <small class="float-right">
                    2 Reyes 4:2 (NTV)
                </small>
            </p>
            <blockquote class="blockquote blockquote-alameda-primary text-right text-14-300">
                La mentalidad de escasez se fija en {{ completa_lugar('tres') | raw}}.
            </blockquote>
            <blockquote class="blockquote blockquote-alameda-primary text-right text-14-300">
                La mentalidad de abundancia pregunta: "{{ completa_lugar('cuatro') | raw}}"
            </blockquote>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                2. DIOS A MENUDO HACE LO EXTRAVAGANTE A TRAVÉS DE LO QUE PARECE {{ completa_lugar('cinco') | raw}}
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Entonces Eliseo le dijo: Pídeles a tus amigos y vecinos que te presten todas las jarras vacías
                que puedan."
                <br/>
                <small class="float-right">
                    2 Reyes 4:3 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Luego ve a tu casa con tus hijos y cierra la puerta. Vierte en las jarras el aceite de oliva que
                tienes en tu frasco y cuando se llenen ponlas a un lado."
                <br/>
                <small class="float-right">
                    2 Reyes 4:4 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Entonces ella hizo lo que se le indicó. Sus hijos le traían las jarras y ella las llenaba una tras
                otra."
                <br/>
                <small class="float-right">
                    2 Reyes 4:5 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Traigan íntegro el diezmo para los fondos del templo, y así habrá alimento en mi casa. Pruébenme en
                esto dice el Señor Todopoderoso, y vean si no abro las compuertas del cielo y derramo sobre ustedes
                bendición hasta que sobreabunde."
                <br/>
                <small class="float-right">
                    Malaquías 3:10 (NVI)
                </small>
            </p>

        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                3. LA ABUNDANCIA DE DIOS A MENUDO VIENE DESPUÉS DE {{ completa_lugar('seis') | raw}}
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "¡Pronto todas las jarras estaban llenas hasta el borde! Tráeme otra jarra —le dijo a uno de sus hijos.
                ¡Ya no hay más! —le respondió. Al instante, el aceite de oliva dejó de fluir."
                <br/>
                <small class="float-right">
                    2 Reyes 4:6 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Cuando ella le contó al hombre de Dios lo que había sucedido, él le dijo: «Ahora vende el aceite de
                oliva y paga tus deudas; tú y tus hijos pueden vivir de lo que sobre»."
                <br/>
                <small class="float-right">
                    2 Reyes 4:7 (NTV)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                4. LA ABUNDANCIA LLEGA A QUIEN ESTA DISPUESTO A {{ completa_lugar('siete') | raw}}.
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Dios ama a la persona que da con alegría»."
                <br/>
                <small class="float-right">
                    2 Corintios 9:7 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Y Dios proveerá con generosidad todo lo que necesiten. Entonces siempre tendrán todo lo necesario
                y habrá bastante de sobra que compartir con otros."
                <br/>
                <small class="float-right">
                    2 Corintios 9:8 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Ustedes serán enriquecidos en todo sentido para que en toda ocasión puedan ser generosos, y para que
                por medio de nosotros la generosidad de ustedes resulte en acciones de gracias a Dios."
                <br/>
                <small class="float-right">
                    2 Corintios 9:11 (NVI)
                </small>
            </p>
        </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
