<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        Basta de malas noticias
        <br/>
        <small>
            Serie: Sé positivo - Parte 1
        </small>
    </h3>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <strong>
                El optimismo no es una {{ completa_lugar('uno') | raw }} de la realidad.
            </strong>
            <strong>
                Optimismo es la inquebrantable expectativa que nuestro {{ completa_lugar('dos') | raw }} está
                trabajando en cada futura situación.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Ahora bien, sabemos que Dios dispone todas las cosas para el bien de quienes lo aman, los que han
                sido llamados de acuerdo con su propósito."
                <br/>
                <small class="float-right">
                    Romanos 8:28 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Pues como piensa dentro de sí, así es él.”
                <br/>
                <small class="float-right">
                    Proverbios 23:7 (NBLH)
                </small>
            </p>
            <strong>
                Tu vida generalmente se mueve en la dirección de tus {{ completa_lugar('tres') | raw }} más fuertes.
            </strong>
            <br/>
            <strong>
                Los pesimistas tienden a ver los eventos negativos como {{ completa_lugar('cuatro') | raw }} y
                {{ completa_lugar('cinco') | raw }}.
            </strong>
            <br/>
            <strong>
                Ser optimista, no es un estado de {{ completa_lugar('seis') | raw }}. Es un estado del
                {{ completa_lugar('siete') | raw }}.
            </strong>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                COMO CONQUISTAR UNA ACTITUD POSITIVA
            </h4>
            <strong>
                1- (A) {{ completa_lugar('ocho') | raw }} tu fe y mata de hambre tus miedos.
            </strong>
            <br/>
            <strong>
                2. (E) {{ completa_lugar('nueve') | raw }} la fe y no el miedo.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Lo que más temía, me sobrevino; lo que más me asustaba, me sucedió."
                <br/>
                <small class="float-right">
                    Job 3:25 (NVI)
                </small>
            </p>
            <strong>
                3- (P) {{ completa_lugar('diez') | raw }} con la fe, no con el miedo.
            </strong>
            <br/>
            <strong>
                4- (D) {{ completa_lugar('once') | raw }} tus pensamientos.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Pues Dios no nos ha dado un espíritu de temor, sino un espíritu de poder, de amor y de buen juicio."
                <br/>
                <small class="float-right">
                    2 Timoteo 1:7 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "¡Su favor perdura toda una vida!"
                <br/>
                <small class="float-right">
                    Salmos 30:5 (NTV)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <strong>
                Ser positivo es activar la {{ completa_lugar('doce') | raw}} inquebrantable del favor de Dios.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Estoy convencido de que los sufrimientos por los que ahora pasamos no son nada, comparado con la
                magnitud de la gloria que está a punto de ser revelada en nosotros."
                <br/>
                <small class="float-right">
                    Romanos 8:18 (TPT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El SEÑOR es mi luz y mi salvación, entonces ¿por qué habría de temer? El SEÑOR es mi fortaleza y
                me protege del peligro, entonces ¿por qué habría de temblar?"
                <br/>
                <small class="float-right">
                    Salmos 27:1 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Pues estoy convencido de que nada podrá separarnos del amor de Dios: ni la muerte ni la vida, ni los
                ángeles ni los poderes diabólicos, ni lo que existe, ni lo que vendrá en el futuro, ni poderes
                espirituales, ni tampoco lo alto o lo profundo, ni ninguna criatura que existe. Nada podrá separarnos
                del amor de Dios que se encuentra en nuestro Señor Jesucristo."
                <br/>
                <small class="float-right">
                    Romanos 8:38 (PDT)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
