<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-izq text-600">
                1. COMO CONTROLAR EL ENOJO.
            </h4>
            <h5 class="text-izq">
                a. Comprende el {{ completa_lugar('uno') | raw }} del enojo.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “La persona enojada comienza pleitos; el que pierde los estribos con facilidad comete todo tipo de
                pecados.”
                <br/>
                <small class="float-end">
                    Proverbios 29:22 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “El que pronto se enoja pronto hace tonterías”
                <br/>
                <small class="float-end">
                    Proverbios 14:17 (BLS)
                </small>
            </p>
            <h5 class="text-izq">
                b. {{ completa_lugar('dos') | raw }} antes de reaccionar.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “No permitan que el sol se ponga mientras siguen enojados”
                <br/>
                <small class="float-end">
                    Efesios 4:26 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “El insensato da libre curso a su mal humor, pero el sabio lo refrena y apacigua.”
                <br/>
                <small class="float-end">
                    Proverbios. 29:11 (BPD)
                </small>
            </p>
            <h5 class="text-izq">
                c. {{ completa_lugar('tres') | raw }} tu enojo apropiadamente.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Si se enojan, no permitan que eso los haga pecar.”
                <br/>
                <small class="float-end">
                    Efesios 4:26 (BLS)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “El necio da rienda suelta a su ira, pero el sabio sabe dominarla.”
                <br/>
                <small class="float-end">
                    Proverbios 29:11 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                2. CUÁL ES LA FUENTE DE TU ENOJO.
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “¿Qué es lo que causa las disputas y las peleas entre ustedes?
                <br/>
                <small class="float-end">
                    Santiago 4:1 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                ¿Acaso no surgen de los malos deseos que combaten en su interior?
                <br/>
                <small class="float-end">
                    Santiago 4:1b (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Desean lo que no tienen”
                <br/>
                <small class="float-end">
                    Santiago 4:2 a (NTV)
                </small>
            </p>
            <p class="text-14-300 centrado">
                Hay algo que queremos<br/>
                y que {{ completa_lugar('cuatro') | raw }} estamos obteniendo.
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Entonces traman y hasta matan para conseguirlo”
                <br/>
                <small class="float-end">
                    Santiago 4:1-2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Envidian lo que otros tienen, pero no pueden obtenerlo, por eso luchan y les hacen la guerra para
                quitárselo.”
                <br/>
                <small class="float-end">
                    Santiago 4:1-2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Sin embargo, no tienen lo que desean porque no se lo piden a Dios.”
                <br/>
                <small class="float-end">
                    Santiago 4:1-2 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                3. {{ completa_lugar('cinco') | raw }} POR UNA FUENTE NUEVA.
            </h4>
            <h5 class="text-izq">
                ¿Cómo responder al enojo?
            </h5>
            <ul class="text-izq">
                <li>No lo reprimas.</li>
                <li>No lo niegues.</li>
                <li>No lo evacues.</li>
                <li>Confesalo.</li>
                <li>Permití que Dios lo Reemplace por {{ completa_lugar('seis') | raw }}.</li>
            </ul>

            <p class="text-14-300 font-italic pl-4">
                “Sean agradecidos en toda circunstancia, pues esta es la voluntad de Dios para ustedes, los que
                pertenecen a Cristo Jesús.”
                <br/>
                <small class="float-end">
                    1 Tesalonicenses 5:18 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                Y que la paz que viene de Cristo gobierne en sus corazones…<br/>
                Y sean siempre agradecidos.
                <br/>
                <small class="float-end">
                    Colosenses 3:15 (NTV)
                </small>
            </p>

        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
