<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}


            <p class="text-14-300 font-italic pl-4 text-centrado">
                Les estoy dando <u>un mandamiento nuevo</u>: que se amen los unos a los otros. Ámense tal <u>como yo los
                    amé</u>. <u>Todo el mundo se va a dar cuenta</u> de que ustedes son mis seguidores si se aman los
                unos a los otros”. “
                <br/>
                <small class="float-start">
                    Juan 13:34-35 (PDT)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Como es el amor que cambia el mundo
            </h4>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Pues <u>Dios amó tanto</u> al mundo que dio a su único Hijo, para que todo el que crea en él no se
                pierda, sino que tenga vida eterna. “
                <br/>
                <small class="float-start">
                    Juan 3:16 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                1. El más grande {{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Pues Dios <u>amó tanto</u>….“
                <br/>
                <small class="float-start">
                    Juan 3:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Incluso antes de haber hecho el mundo, <u>Dios nos amó</u> y nos eligió en Cristo”
                <br/>
                <small class="float-start">
                    Efesios 1:4 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Pues estoy convencido de que <u>…</u> ni la muerte ni la vida, ni los ángeles ni los poderes
                diabólicos, ni lo que existe, ni lo que vendrá en el futuro, … <u>Nada podrá separarnos del amor de
                    Dios</u> que se encuentra en… Jesucristo. “
                <br/>
                <small class="float-start">
                    Romanos 8:39 (PDT)
                </small>
            </p>
            <h6 class="text-centrado"> #}
                * La revolución de una {{ completa_lugar('dos') | raw }} indetenible
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “A los que están dispuestos a escuchar, les digo: <u>¡amen a sus enemigos!</u> <u>Hagan bien</u> a
                quienes los odian. <u>Bendigan</u> a quienes los maldicen. <u>Oren</u> por aquellos que los lastiman. Si
                alguien te da una bofetada en una mejilla, ofrécele también la otra mejilla. Si alguien te exige el
                abrigo, ofrécele también la camisa”
                <br/>
                <small class="float-start">
                    Lucas 6:27-29 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. El más grande {{ completa_lugar('tres') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-centrado">
                “… <u>dio</u> a su único Hijo”
                <br/>
                <small class="float-start">
                    Juan 3:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “<u>Jesús es Dios</u> en forma visible y supremo Señor de toda la creación”
                <br/>
                <small class="float-start">
                    Colosenses 1:15 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Dios demuestra <u>su amor</u> por nosotros en esto: en que cuando todavía éramos pecadores, Cristo <u>murió
                    por nosotros</u>.“
                <br/>
                <small class="float-start">
                    Romanos 5:8 (NBD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Porque Dios tomó a Cristo, que no tenía pecado, y <u>arrojó sobre Él nuestros pecados</u>. ¡Y luego,
                para colmo de maravilla, nos declaró justos…! “
                <br/>
                <small class="float-start">
                    2° Corintios 5:21 (BAD)
                </small>
            </p>
            <h6 class="text-centrado"> #}
                * La revolución de una {{ completa_lugar('cuatro') | raw }} radical.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Vivan una vida llena de amor, <u>siguiendo el ejemplo de Cristo</u>. Él nos amó y se ofreció a sí mismo
                como sacrificio por nosotros. “
                <br/>
                <small class="float-start">
                    Efesios 5:2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Si alguien te exige el abrigo, <u>ofrécele</u> también la camisa. <u>Dale</u> a cualquiera que te pida;
                y cuando te quiten las cosas, no trates de recuperarlas. Traten a los demás como les gustaría que <u>ellos
                    los trataran a ustedes</u>”
                <br/>
                <small class="float-start">
                    Lucas 6:29-31 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. El más grande {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “… para que <u>todo el que crea en él</u> no se pierda…”
                <br/>
                <small class="float-start">
                    Juan 3:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Dios ha mostrado su bondad, al ofrecer la salvación <u>a toda la humanidad</u>”
                <br/>
                <small class="float-start">
                    Tito 2:11 (DHH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Para Dios no existen favoritismos. <u>Toda persona, sea de la nación que sea</u>, si es fiel a Dios y
                se porta rectamente, goza de su estima. “
                <br/>
                <small class="float-start">
                    Hechos 10:34-35 (BTI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Serás salvo <u>si reconoces abiertamente</u> que Jesús es el Señor y <u>si crees de todo corazón</u>
                que Dios lo levantó de la muerte. “
                <br/>
                <small class="float-start">
                    Romanos 10:9 (PDT)
                </small>
            </p>
            <h6 class="text-centrado"> #}
                * La revolución de una {{ completa_lugar('seis') | raw }} ilimitada.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Si sólo aman a quienes los aman a ustedes, ¿qué mérito tienen? ¡Hasta los pecadores aman a quienes los
                aman a ellos!… ¡<u>Amen a sus enemigos</u>! Háganles bien. Presten sin esperar nada a cambio… Deben
                ser compasivos… No juzguen a los demás… No condenen a otros… Perdonen… Den, y recibirán”
                <br/>
                <small class="float-start">
                    Lucas 6:32, 35-38 (NTV))
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. El más grande {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                … sino que tenga <u>vida eterna</u>.“
                <br/>
                <small class="float-start">
                    Juan 3:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Por su gran misericordia, nos ha hecho <u>nacer de nuevo</u> mediante la resurrección de Jesucristo,
                para que <u>tengamos una esperanza viva</u> y recibamos una herencia indestructible… reservada en el
                cielo para ustedes,“
                <br/>
                <small class="float-start">
                    1° Pedro 1:3-4 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Antes de la creación del mundo, Dios decidió <u>adoptarnos como hijos suyos</u> a través de Jesucristo…“
                <br/>
                <small class="float-start">
                    Efesios 1:5 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Dios dice: «En el momento preciso, te oí. En el día de salvación te ayudé». Efectivamente, el «momento
                preciso» es ahora. <u>Hoy es el día de salvación</u>.“
                <br/>
                <small class="float-start">
                    2° Corintios 6:2 (NTV)
                </small>
            </p>
            <h6 class="text-centrado"> #}
                * La revolución de una {{ completa_lugar('ocho') | raw }} indestructible.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “La nacionalidad, la raza, la educación y la posición social carecen de importancia en esta vida. Lo que
                importa es <u>si la persona tiene o no tiene a Cristo</u>…”
                <br/>
                <small class="float-start">
                    Colosenses 3:11 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “No devuelvan mal por mal ni insulto por insulto. Al contrario, devuelvan bendición… si por actuar con
                rectitud han de sufrir, ¡dichosos ustedes! <u>No tengan miedo a nadie</u>, ni se asusten, sino <u>honren
                    a Cristo como Señor</u> en sus corazones. Estén <u>siempre preparados a responder a todo el que les
                    pida razón de la esperanza</u> que ustedes tienen,“
                <br/>
                <small class="float-start">
                    1° Pedro 3:9-15 (DHH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Que el amor sea el árbitro de sus vidas… “
                <br/>
                <small class="float-start">
                    Colosenses 3:13-14 (BAD)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                                        Como construir una vida de amor #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        “Permanezcan fuertes y constantes. Trabajen siempre para el Señor con entusiasmo, porque ustedes #}
            {#                        saben que <u>nada de lo que hacen para el Señor es inútil</u>.“. 1° Corintios 15:58 (NTV) #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        “Dios no es injusto. <u>No olvidará</u> con cuánto esfuerzo han trabajado para él y cómo <u>han #}
            {#                            demostrado su amor por él sirviendo a otros creyentes</u> como todavía lo hacen.“. Hebreos #}
            {#                        6:10 (NTV) #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        3. {{ completa_lugar('trece') | raw }} lo que Dios dice acerca del amor. #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        4. {{ completa_lugar('catorce') | raw }} actua en maneras amorosas y desinteresadas. #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        5. {{ completa_lugar('quince') | raw }} de otra gente amorosa. #}
            {#                    </p> #}
            {#                <h6 class="text-centrado text-600"> #}

            {#                    “Así manifestó Dios su amor entre nosotros: en que <b>envió</b> a<br/> #}
            {#                    su Hijo único al mundo para que vivamos por medio de él”<br/> #}
            {#                    1 Juan 4:9 (NVI) #}
            {#                </h6> #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
