<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Aquel que es <u>la luz verdadera</u>, quien da luz a todos, venía al mundo. <sup>10</sup> Vino al mismo
                mundo que él había creado, pero el mundo no lo reconoció... lo rechazaron; <sup>12</sup> pero a todos
                <u>los que creyeron en él y lo recibieron</u>, les dio el derecho de llegar a ser hijos de Dios.
                <sup>13</sup>Ellos nacen de nuevo, no mediante un nacimiento físico como resultado de la pasión o de la
                iniciativa humana, sino por medio de <u>un nacimiento que proviene de Dios</u>.”
                <br/>
                <small class="float-end">
                    Juan 1:9-13 (NTV)
                </small>
            </p>
            {#            <h4 class="text-centrado text-600"> #}
            {#                NUNCA PERMITAS QUE LA PRESENCIA DE UNA {{ completa_lugar('uno') | raw }} TE HAGA DUDAR DE LA PRESENCIA #}
            {#                DE {{ completa_lugar('dos') | raw }}. #}
            {#            </h4> #}
{#            <h5 class="text-izq text-600">#}
{#                1. Doy lo {{ completa_lugar('uno') | raw }} y lo {{ completa_lugar('dos') | raw }}.#}
{#            </h5>#}
            <p class="text-14-300 font-italic pl-4 text-center">
                “Lo más grave de todo, es que la Luz del cielo bajó al mundo y ellos <u>amaron más las tinieblas que la
                    Luz</u>, porque sus obras eran malas. <sup>20</sup> Aborrecieron la Luz del cielo porque <u>querían
                    pecar en la oscuridad</u>. Se mantuvieron alejados de la Luz por temor a que sus pecados quedaran
                expuestos y se les castigara.”
                <br/>
                <small class="float-end">
                    Juan 3:19-20 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El que afirma que está en la luz, pero <u>odia a su hermano</u>, todavía está en la oscuridad.”
                <br/>
                <small class="float-end">
                    1 Juan 2:9 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes <u>me siguen</u>, no
                tendrán que andar en la oscuridad porque <u>tendrán la luz que lleva a la vida</u>».”
                <br/>
                <small class="float-end">
                    Juan 8:12 (NTV)
                </small>
            </p>

            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
