<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Sucedió que al acercarse Jesús a Jericó, estaba un ciego sentado junto al camino pidiendo
                        limosna. Cuando oyó a la multitud que pasaba, preguntó qué acontecía. - Jesús de Nazaret está
                        pasando por aquí - respondieron.
                        <small class="float-end" style="font-size: 0.8em">
                            Lucas 18:35-37 (NVI)
                        </small>
                    </p>


                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}

                <h5 class="text-centrado text-600">
                    1. ENFOCATE EN {{ completa_lugar('uno') | raw }}:
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “- ¡Jesús, Hijo de David, ten compasión de mí! - gritó el ciego.”
                    <br/>
                    <small class="float-end">
                        Lucas 18:38 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Que el Dios que da esperanza los llene de alegría y paz, para que tengan mucha confianza en él y,
                    así, siempre estén llenos de esperanza por el poder del Espíritu Santo.”
                    <br/>
                    <small class="float-end">
                        Romanos 5:13 (TLA)
                    </small>
                </p><br/>

                <h5 class="text-centrado text-600">
                    2. IGNORÁ A LO {{ completa_lugar('dos') | raw }}:
                </h5>


                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Los que iban delante lo reprendían para que se callara, pero él se puso a gritar aún más fuerte:
                    —¡Hijo de David, ten compasión de mí!”
                    <br/>
                    <small class="float-end">
                        Lucas 18:39 (NVI)
                    </small>
                </p><br/>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Dichoso el que no escucha los consejos de los malvados, ni sigue el ejemplo de los pecadores, ni se
                    junta con los burladores; sino que se alegra al escuchar la palabra del Señor y la medita día y
                    noche.”
                    <br/>
                    <small class="float-end">
                        Salmos 1:1-2 (TLA)
                    </small>
                </p><br/>


                <h5 class="text-centrado text-600">
                    3. ESCUCHÁ SU {{ completa_lugar('tres') | raw }}:
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Entonces, Jesús se detuvo y dijo: -Llamen al hombre. Lo llamaron y le dijeron: -Alégrate y
                    levántate, Jesús te está llamando.”
                    <br/>
                    <small class="float-end">
                        Marcos 10:49 (PDT)
                    </small>
                </p><br/>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Pero los planes del Señor quedan firmes para siempre; los designios de su mente son eternos.”
                    <br/>
                    <small class="float-end">
                        Salmos 33:11 (NVI)
                    </small>
                </p><br/>


                <h5 class="text-centrado text-600">
                    4. EXPRESÁ TU {{ completa_lugar('cuatro') | raw }}:
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    Jesús se detuvo y mandó que se lo trajeran. Cuando el ciego se acercó, preguntó Jesús: —¿Qué quieres
                    que haga por ti? Y él dijo: —Señor, quiero ver.
                    <br/>
                    <small class="float-end">
                        Lucas 18:40-41 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Esta es la confianza que tenemos al acercarnos a Dios: que si pedimos algo conforme a su voluntad,
                    él nos oye. Y si sabemos que él nos oye en cualquier cosa que pidamos, sabemos que tenemos lo que le
                    hemos pedido.”
                    <br/>
                    <small class="float-end">
                        1° Juan 5:14-15 (NVI)
                    </small>
                </p><br/>


                <div class="col-12 mx-auto text-left">
                    <h4 class="text-centrado text-600">
                        RECIBÍ EL MILAGRO:
                    </h4>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        —¡Recibe la vista! —le dijo Jesús—, tu fe te ha sanado. Al instante recobró la vista. Entonces,
                        glorificando a Dios, comenzó a seguir a Jesús y todos los que lo vieron daban alabanza a Dios.
                        <br/>
                        <small class="float-end">
                            Lucas 18:42-43 (NVI)
                        </small>
                    </p>
                    <br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        El Señor los guiará continuamente;<br/>
                        les dará agua cuando tengan sed<br/>
                        y restaurará sus fuerzas.<br/>
                        Serán como un huerto bien regado,<br/>
                        como un manantial que nunca se seca.<br/>
                        Isaias 58:11 (NTV)

                    </p>
                    <br/>

                </div>

                <hr>


                {#            Pie de las notas      #}


                <div class="col-sm-10 mx-auto my-2">
                    <div class="col-sm-8 mx-auto text-center">
                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia
                        en tu
                        iglesia en <a class="btn btn-link"
                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                      target="_blank"> Youversion</a>.
                        <br/>
                        La aplicación más descargada en todo el mundo.<br/>
                        Sigue el <a class="btn btn-link"
                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                    target="_blank"> enlace</a> y descubre cómo.
                    </div>

                    {#                <div class="col-12 mx-auto text-left"> #}
                    {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                    {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                    {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                    {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                    {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                    {#                    </h6> #}
                    {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                    {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                    {#                </div> #}
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
