<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <h4 class="text-izq text-600">
                Escapar de lo ordinario exige decisiones drásticas
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces Elías fue y encontró a Eliseo, hijo de Safat, arando un campo. Había doce pares de bueyes en
                el campo, y Eliseo araba con el último par. Elías se acercó a él, le echó su capa sobre los hombros y
                siguió caminando.<br/>
                <sup>20</sup> Eliseo dejó los bueyes donde estaban, salió corriendo detrás de Elías y le dijo: Deje que
                primero me despida de mis padres con un beso y luego iré con usted. Elías respondió: Regresa, pero
                piensa en lo que te hice.<br/>
                <sup>21</sup> Entonces Eliseo regresó a donde estaban sus bueyes y los mató.<b>Con la madera del arado
                    hizo una fogata</b> para asar la carne. Repartió la carne asada entre la gente del pueblo, y todos
                comieron. Después se fue con Elías como su ayudante.”
                <br/>
                <small class="float-end">
                    1 Reyes 19:19-21 (NTV)
                </small>
            </p>

            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    No podemos capturar el {{ completa_lugar('uno') | raw }} si seguimos aferrados
                    al {{ completa_lugar('dos') | raw }}.
                </div>
            </div>

            <p class="text-14-300 font-italic pl-4 text-center">
                “«Deja tu país, tu gente y la familia de tu papá, y ve a <b>una tierra que yo te mostraré</b>.”
                <br/>
                <small class="float-end">
                    Génesis 12:1 (PDT)
                </small>
            </p>

            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    Dios no te dice necesariamente como lo hará solo que lo hará.<br/>
                    Él mostrará el camino si vos comenzás {{ completa_lugar('tres') | raw }}.
                </div>
            </div>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Jesús le dijo: -¡Ven!</b> Pedro salió del bote, caminó sobre el agua y fue hacia donde estaba
                Jesús.”
                <br/>
                <small class="float-end">
                    Mateo 14:29 (PDT)
                </small>
            </p>

            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    ¿Tenés suficiente fe en tu SALVADOR para actuar en una palabra?
                </div>
            </div>

            <h4 class="text-izq text-600">
                ¿Qué significa para vos “quemar los arados”?
            </h4>

            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    <ul>
                        <li>Soltar ciertos hábitos.</li>
                        <li> Soltar el personaje.</li>
                        <li> Soltar tu garantía de estabilidad.</li>
                        <li> Soltar a ciertas personas.</li>
                        <li> Soltar ciertas fantasías de escape.</li>
                        <li> Soltar heridas y decepciones.</li>
                        <li> Soltar {{ completa_lugar('cuatro') | raw }}.</li>
                    </ul>
                </div>
            </div>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Si digo que nunca mencionaré al SEÑOR o que <b>nunca más</b> hablaré en su nombre, <b>su palabra arde
                    en mi corazón como fuego</b>. ¡Es como fuego en mis huesos! ¡Estoy agotado tratando de contenerla!
                ¡No puedo hacerlo!”

                <br/>
                <small class="float-end">
                    Jeremías 20:9 (NTV)
                </small>
            </p>
            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    Hacé una hoguera y toma <b>cada</b> {{ completa_lugar('cinco') | raw }} <b>que te sigue hiriendo</b>,
                    todo el dolor, todo el remordimiento y fracaso, toda la amargura, toda decepción y toda traición,
                    sacalos de tu corazón y echa los al fuego. <b>¡No te lleves tu pasado a tu futuro!</b>
                </div>
            </div>
            <h4 class="text-izq text-600">
                El precio y el premio.
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Les aseguro que <b>todo el que haya dejado</b> casa o hermanos o hermanas o madre o padre o hijos o
                bienes por mi causa y por la Buena Noticia recibirá ahora a cambio <b>cien veces más</b> el número de
                casas, hermanos, hermanas, madres, hijos y bienes, junto con persecución; y en el mundo que vendrá, esa
                persona <b>tendrá la vida eterna</b>.”
                <br/>
                <small class="float-end">
                    Marcos 10:29-30 (NTV)
                </small>
            </p>
            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    El costo de seguir a Jesús es grande. El costo de no seguirlo es {{ completa_lugar('seis') | raw }}.
                </div>
            </div>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Otro dijo: Sí, Señor, te seguiré, pero primero deja que me despida de
                mi familia. <sup>62</sup> Jesús le dijo: <b>El que pone la mano en el arado y luego
                    mira atrás no es apto para el reino de Dios.”</b>
                <br/>
                <small class="float-end">
                    Lucas 9:61-62 (NTV)
                </small>
            </p>
            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    Aceptar la invitación de Jesús a seguirlo, es hacerle tu única {{ completa_lugar('siete') | raw }}.
                    Sin ninguna posibilidad de volver atrás.
                </div>
            </div>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando llegaron al otro lado, Elías le dijo a Eliseo: Dime qué puedo hacer por ti antes de ser llevado.
                Y Eliseo respondió: Te pido que me permitas <b>heredar una doble porción de tu espíritu</b> y que llegue
                a ser tu sucesor.”
                <br/>
                <small class="float-end">
                    2° Reyes 2:9 (NTV)
                </small>
            </p>
            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    Dios busca personas con un {{ completa_lugar('ocho') | raw }} más grande, decididas a
                    una {{ completa_lugar('nueve') | raw }} más grande. para darles
                    una {{ completa_lugar('diez') | raw }}, un propósito, una alegría, una influencia más grande
                </div>
            </div>




            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
