<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}


            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Yo no desobedecí la visión que Dios puso ante mí.”

                <br/>
                <small class="float-start">
                    Hechos 26:19 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Donde no hay visión, el pueblo se extravía”

                <br/>
                <small class="float-start">
                    Proverbios 29:18 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Moisés los envió a explorar la tierra de Canaán, diciéndoles: “Pasen por el Néguev y entren en las
                montañas. <u>Vean</u> cómo es el lugar, y averigüen acerca de la gente que vive allí, ¿son fuertes o
                débiles? ¿Son muchos o pocos? ¿La tierra donde viven es buena o mala? ¿Son sus ciudades como campos
                abiertos, o tienen muros defensivos? ¿Es el suelo productivo o no? ¿Es forestal? <u>Sean valientes</u> y
                traigan algunos de los frutos del país”. (Era el comienzo de la vendimia).“
                <br/>
                <small class="float-start">
                    Números 13:17-20 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Después de explorar la tierra durante cuarenta días, los hombres regresaron a Moisés, a Aarón y a toda
                la comunidad de Israel en Cades, en el desierto de Parán. Informaron a toda la comunidad lo que vieron y
                les mostraron los frutos que tomaron de la tierra.“
                <br/>
                <small class="float-start">
                    Números 13:25-26 (NTV)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                QUE PASA CUANDO MIRAMOS EL FUTURO CON LOS OJOS DEL MIEDO
            </h4>
            <h5 class="text-izq text-600">
                1. SOBREDIMENSIONO {{ completa_lugar('uno') | raw }} EN MI VIDA.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Este es el informe que dieron a Moisés: “Fuimos y <u>exploramos</u> el país al que nos enviaste, y es
                definitivamente muy productivo, como si fluyera leche y miel. ¡Miren algunas de sus frutas! PERO la
                gente que vive allí es fuerte, y sus pueblos son grandes y tienen muros defensivos. También <u>vimos</u>
                algunos descendientes de Anac allí. “
                <br/>
                <small class="float-start">
                    Números 13:27-28 (VBL)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. DESARROLLO UNA MENTALIDAD DE {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<u>Vimos</u> algunos descendientes de Anac allí. Los amalecitas viven en el Néguev. Los hititas,
                jebuseos y amorreos viven en las colinas. Los cananeos viven en la costa del mar y también al lado del
                Jordán”.
                <br/>
                <small class="float-start">
                    Números 13:28-29 (VBL)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. (S) {{ completa_lugar('tres') | raw }} LAS HABILIDADES QUE DIOS ME HA DADO.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pero los hombres que habían ido con él no estaban de acuerdo. “¡<u>No podemos</u> ir a luchar contra
                este pueblo! ¡Son mucho más fuertes que nosotros!” “
                <br/>
                <small class="float-start">
                    Números 13:31 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “… «La tierra que atravesamos y exploramos devorará a todo aquel que vaya a vivir allí. ¡Todos los
                habitantes que vimos son enormes! Hasta había gigantes, los descendientes de Anac. ¡Al lado de ellos <u>nos
                    sentíamos</u> como <u>saltamontes</u> y así nos miraban ellos!». “
                <br/>
                <small class="float-start">
                    Números 13:32-33 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. (I) {{ completa_lugar('cuatro') | raw }} A OTROS CON MI NEGATIVIDAD.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “<u>Difundieron un informe negativo</u> entre los israelitas sobre el país que habían explorado! “
                <br/>
                <small class="float-start">
                    Números 13:32 (VBL)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. ME VUELVO {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                ”Entonces toda la comunidad empezó a <u>llorar</u> a gritos y así continuó toda la noche. Sus voces se
                elevaron en una gran <u>protesta</u> contra Moisés y Aarón: «¡Si tan sólo hubiéramos muerto en Egipto o
                incluso aquí en el desierto! —<u>se quejaban</u>— “
                <br/>
                <small class="float-start">
                    Números 14:1-2 (NTV)
                </small>
            </p>
            <h6 class="text-centrado">
                EL ANTÍDOTO: {{ completa_lugar('seis') | raw }}.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Pero Caleb trató de calmar al pueblo que se encontraba ante Moisés. ¡Vamos enseguida a tomar la tierra!
                —dijo. ¡De seguro podemos conquistarla! “
                <br/>
                <small class="float-start">
                    Números 13:30 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                COMO DESARROLLO OJOS DE FE
            </h4>
            <h5 class="text-izq text-600">
                1. INVITO A JESÚS A {{ completa_lugar('siete') | raw }} DE MI VIDA.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Jesús le respondió: Te digo la verdad, a menos que nazcas de nuevo, <u>no puedes ver</u> el reino de
                Dios. “
                <br/>
                <small class="float-start">
                    Juan 3:3 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. TOMO EL PRIMER {{ completa_lugar('ocho') | raw }} EN MI VIDA
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ustedes fueron sepultados con él en el bautismo, y fueron <u>levantados por medio de su fe</u> en lo
                que Dios hizo al levantarlo de los muertos. “
                <br/>
                <small class="float-start">
                    Colosenses 2:12 (VBL)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. HAGO {{ completa_lugar('nueve') | raw }} LO QUE DIOS ME DICE QUE HAGA.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Josué y Caleb: “El país que viajamos y exploramos tiene muy buena tierra. Si el Señor está contento con
                nosotros, nos llevará allí y nos la dará, una tierra tan productiva que es como si fluyera leche y miel.
                <u>No se rebelen ni luchen contra el Señor</u>. ... ¡No les tengan miedo!” “
                <br/>
                <small class="float-start">
                    Números 14:7-9 (VBL)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                                        Como construir una vida de amor #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        “Permanezcan fuertes y constantes. Trabajen siempre para el Señor con entusiasmo, porque ustedes #}
            {#                        saben que <u>nada de lo que hacen para el Señor es inútil</u>.“. 1° Corintios 15:58 (NTV) #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        “Dios no es injusto. <u>No olvidará</u> con cuánto esfuerzo han trabajado para él y cómo <u>han #}
            {#                            demostrado su amor por él sirviendo a otros creyentes</u> como todavía lo hacen.“. Hebreos #}
            {#                        6:10 (NTV) #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        3. {{ completa_lugar('trece') | raw }} lo que Dios dice acerca del amor. #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        4. {{ completa_lugar('catorce') | raw }} actua en maneras amorosas y desinteresadas. #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        5. {{ completa_lugar('quince') | raw }} de otra gente amorosa. #}
            {#                    </p> #}
            {#                <h6 class="text-centrado text-600"> #}

            {#                    “Así manifestó Dios su amor entre nosotros: en que <b>envió</b> a<br/> #}
            {#                    su Hijo único al mundo para que vivamos por medio de él”<br/> #}
            {#                    1 Juan 4:9 (NVI) #}
            {#                </h6> #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
