<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}

            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Siempre que tengamos la oportunidad, hagamos el bien a todos, en especial a los <u>de la familia de la
                    fe</u>.“
                <br/>
                <small class="float-start">
                    Gálatas 6:10 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Jesús: “<u>El amor</u> que tengan unos por otros será <u>la prueba ante el mundo</u> de que son mis
                discípulos». “
                <br/>
                <small class="float-start">
                    Juan 13:34-35 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Que es la iglesia visible de Jesús
            </h4>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Edificaré <u>mi iglesia</u>, y las puertas del reino de la muerte no prevalecerán contra ella.“
                <br/>
                <small class="float-start">
                    Mateo 16:16-18 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Que no es:
            </h5>
            <ul class="text-izq text-600">
                <li> No es un edificio, ni una institución humana.</li>
                <li> No es un predicador o un influencer y su audiencia.</li>
                <li> No son tres amigos cristianos que se juntan para leer la Biblia.</li>
                <li> No es un culto familiar, ni una ONG de ayuda social</li>
                <li> No es simplemente el plural de “cristiano”</li>
            </ul>
            <h5 class="text-izq text-600">
                Que es:
            </h5>
            <ul class="text-izq text-600">
                <li> El sueño de Jesús. Ella es su novia.</li>
                <li> Es el cuerpo de Cristo. Él es la cabeza.</li>
                <li> Es el templo de Dios. Jesús es su cimiento.</li>
                <li> Una comunidad de personas renacidas por la fe.</li>
                <li> Embajada del Reino de Dios, la esperanza del mundo.</li>
                <li> Somos cada uno y todos nosotros.</li>
                <li> Una familia con liderazgo espiritual que me cuida y me corrige.</li>
                <li> Una familia de amor diversa e inclusiva, ¡eterna!</li>
            </ul>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “<u>Cristo amó a la iglesia</u> y entregó su vida por ella... para presentársela a sí mismo como <u>una
                    novia</u>, llena de esplendor y belleza. Cristo murió para que la iglesia fuera pura, sin mancha, ni
                arruga”
                <br/>
                <small class="float-start">
                    Efesios 5:25-27 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Si alguien dice: “Amo a Dios”, y sin embargo <u>desprecia a otro creyente</u>. Eso lo convierte en <u>un
                    farsante</u>, porque si no amas a un hermano o hermana, a quien puedes ver, ¿cómo puedes amar
                verdaderamente a Dios, a quien no puedes ver?
                <br/>
                <small class="float-start">
                    1° Juan 2:20 (TPT)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Como amar a mi iglesia
            </h4>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “<u>Si amamos a nuestros hermanos en Cristo</u>, eso demuestra que hemos pasado de muerte a vida; pero
                el que no tiene amor sigue muerto. “
                <br/>
                <small class="float-start">
                    1° Juan 3:14 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                1. Experimentando el {{ completa_lugar('uno') | raw }} de mi iglesia.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Nadie jamás ha visto a Dios; pero <u>si nos amamos unos a otros, Dios vive en nosotros</u> y su amor
                llega a la máxima expresión en nosotros. “
                <br/>
                <small class="float-start">
                    1° Juan 4:12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “<u>No deberíamos desistir en cuanto a reunirnos</u>, como algunos lo han hecho. De hecho, deberíamos
                animarnos unos a otros. “
                <br/>
                <small class="float-start">
                    Hebreos 10:25 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Enséñense y <u>aconséjense unos a otros</u> con toda la sabiduría.”
                <br/>
                <small class="float-start">
                    Colosenses 3:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Amados hermanos, honren a <u>sus líderes</u> en la obra del Señor. Ellos trabajan arduamente entre
                ustedes y les dan orientación espiritual. “
                <br/>
                <small class="float-start">
                    1° Tesalonicenses 5:12 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. (S) {{ completa_lugar('dos') | raw }} con mis dones a mi familia de fe.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cada uno de ustedes recibió un <u>don espiritual</u> que debe ser utilizado para <u>servir a los
                    demás</u>. Así serán buenos administradores del generoso amor que Dios les ha dado”
                <br/>
                <small class="float-start">
                    1° Pedro 4:10 (PDT)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Nadie puede servir a dos patrones al mismo tiempo. Desatenderá a uno y amará al otro, o <u>se dedicará
                    a uno y despreciará al otro</u>. No pueden servir a Dios y a las riquezas al mismo tiempo”. “
                <br/>
                <small class="float-start">
                    Lucas 16:13 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. (A) {{ completa_lugar('tres') | raw }} fielmente la tarea de mi iglesia.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Donde esté <u>tu tesoro</u>, allí estarán también los deseos de <u>tu corazón</u>.“
                <br/>
                <small class="float-start">
                    Mateo 6:21 (NTV
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “<u>Los domingos</u> cada uno de ustedes aparte algo de lo que ganó durante la semana, y dedíquelo a
                esta <u>ofrenda</u>...“
                <br/>
                <small class="float-start">
                    1 Corintios 16:2 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. (A) {{ completa_lugar('cuatro') | raw }} juntos a Jesús.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Que todos puedan <u>ser uno... a fin de que el mundo crea</u> que tú me enviaste”
                <br/>
                <small class="float-start">
                    Juan 17:21 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Entonces el amo le dijo al siervo: ‘ Sal a los caminos y senderos del campo, y haz que vengan las
                personas, <u>quiero que se llene mi casa</u>. “
                <br/>
                <small class="float-start">
                    Lucas 14:23 (VBL)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    {#                    Como construir una vida de amor #}
                </div>

                <div class="col-sm-8 mx-auto text-center">
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Permanezcan fuertes y constantes. Trabajen siempre para el Señor con entusiasmo, porque ustedes
                        saben que <u>nada de lo que hacen para el Señor es inútil</u>.“. 1° Corintios 15:58 (NTV)
                    </p>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Dios no es injusto. <u>No olvidará</u> con cuánto esfuerzo han trabajado para él y cómo <u>han
                            demostrado su amor por él sirviendo a otros creyentes</u> como todavía lo hacen.“. Hebreos
                        6:10 (NTV)
                    </p>
                    {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                    {#                        3. {{ completa_lugar('trece') | raw }} lo que Dios dice acerca del amor. #}
                    {#                    </p> #}
                    {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                    {#                        4. {{ completa_lugar('catorce') | raw }} actua en maneras amorosas y desinteresadas. #}
                    {#                    </p> #}
                    {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                    {#                        5. {{ completa_lugar('quince') | raw }} de otra gente amorosa. #}
                    {#                    </p> #}
                    {#                <h6 class="text-centrado text-600"> #}

                    {#                    “Así manifestó Dios su amor entre nosotros: en que <b>envió</b> a<br/> #}
                    {#                    su Hijo único al mundo para que vivamos por medio de él”<br/> #}
                    {#                    1 Juan 4:9 (NVI) #}
                    {#                </h6> #}
                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
