<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-centrado text-600">
                TENGO FUTURO
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                "Tengo para ustedes afirma el Señor, planes de bienestar… a fin de darles un futuro y una esperanza."
                <br/>
                <small class="float-end">
                    Jeremías 29:11 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Fíjense, voy a hacer algo nuevo. Eso es lo que está pasando ahora, ¿no se dan cuenta?"
                <br/>
                <small class="float-end">
                    Isaías 43:19 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Olviden las cosas de antaño; ya no vivan en el pasado. ¡Voy a hacer algo nuevo!"
                <br/>
                <small class="float-end">
                    Isaías 43:18-19 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "A todos los que se lamentan en Israel les dará <b>una corona de belleza en lugar de cenizas</b>, una gozosa bendición en lugar de luto, una festiva alabanza en lugar de desesperación…"
                <br/>
                <small class="float-end">
                    Isaías 61:3 (NTV)
                </small>
            </p>

            <h4 class="text-izq text-600">
                ¿Cómo sueltas el peso del pasado?
            </h4>
            <h5 class="text-izq text-600">
                1. Cambia de {{ completa_lugar('uno') | raw}}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Donde está el Espíritu del Señor, allí hay libertad."
                <br/>
                <small class="float-end">
                    2 Corintios 3:17 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Mejor es el final que el comienzo,"
                <br/>
                <small class="float-end">
                    Eclesiastés 7:8 (NBLH-BTI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Enfocate en {{ completa_lugar('dos') | raw}}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                "Me concentro sólo en esto: olvido el pasado y fijo la mirada en lo que tengo por delante"
                <br/>
                <small class="float-end">
                    Filipenses 3:13 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "No, hermanos, todavía no soy el que debo ser, pero eso sí, olvidando el pasado y con la mirada fija en lo que está por delante,"
                <br/>
                <small class="float-end">
                    Filipenses 3:13 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Confía en el {{ completa_lugar('tres') | raw}} y la {{ completa_lugar('cuatro') | raw}} de Dios
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                "Ahora vemos todo de manera imperfecta, como reflejos desconcertantes, pero luego veremos todo con perfecta claridad."
                <br/>
                <small class="float-end">
                    1 Corintios 13:12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Dios tiene el derecho de ocultar algunas cosas"
                <br/>
                <small class="float-end">
                    Proverbios 25:2 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Mis padres podrán abandonarme, pero tú me adoptarás como hijo."
                <br/>
                <small class="float-end">
                    Salmos 27:10 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600 ml-2">
                4. {{ completa_lugar('cinco') | raw}}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                "Si se acuerdan de que tienen algo contra alguien, perdónenlo. Háganlo para que su Padre en el cielo también les perdone sus pecados a ustedes."
                <br/>
                <small class="float-end">
                    Marcos 11:25 (PDT)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                "A los que aman la paz les espera un futuro maravilloso."
                <br/>
                <small class="float-end">
                    Salmos 37:37 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. Preparate para {{ completa_lugar('seis') | raw}}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "«Nada he traído a este mundo, y nada me voy a llevar. ¡Bendigo a Dios cuando da! ¡Bendigo a Dios cuando quita!»"
                <br/>
                <small class="float-end">
                    Job 1:21 (TLA)
                </small>
            </p>


            <p class="text-14-300 font-italic pl-4 text-center">
                "Después de que Job oró por sus amigos, Dios hizo que Job volviera a prosperar, y le devolvió el doble de lo que antes tenía."
                <br/>
                <small class="float-end">
                    Job 42:10 (TLA)
                </small>
            </p>

{#            <div class="col-sm-10 mx-auto">#}

{#                <div class="col-sm-4 mx-auto text-center">#}
{#                    “<b>Estoy firmemente convencido</b> de que aquel que comenzó en ustedes la buena obra <b>la#}
{#                        completará</b> hasta el Día de Cristo Jesús.”#}
{#                    <br/>#}
{#                    Filipenses 1:6 (BPD)#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
