<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        MANSEDUMBRE DE CORAZÓN
        <br/>
        <small>
            Serie: Social Ed. - Parte 8
        </small>
    </h3>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        Pero el fruto que produce el Espíritu Santo dentro de ti es ... dulzura de corazón, y fuerza de espíritu.
        <br/>
        <small class="float-right">
            Gal. 5: 22 y 23. TPT
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        Si se enojan, no pequen. No permitan que el enojo les dure hasta la puesta del sol.
        <br/>
        <small class="float-right">
            Efesios 4:26 NVI
        </small>
    </p>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                ¿Que produce la mansedumbre en nuestras relaciones?
            </h4>
            <strong>
                Apacigua el {{ completa_lugar('uno') | raw}}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                La respuesta apacible desvía el enojo, pero las palabras ásperas encienden los ánimos.
                <br/>
                <small class="float-right">
                    Proverbios 15:1 NTV
                </small>
            </p>
            <strong>
                Desarma a los {{ completa_lugar('dos') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Respondemos con gentileza cuando dicen cosas malas de nosotros".
                <br/>
                <small class="float-right">
                    1 Corintios 4:13 NTV
                </small>
            </p>
            <strong>
                Abre la puerta la {{ completa_lugar('tres') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Dialogar pacientemente con los gobernantes los hace cambiar su manera de pensar; un diálogo amistoso
                tiene mucho poder.
                <br/>
                <small class="float-right">
                    Proverbios 25.15 PDT
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Los sabios son conocidos por su entendimiento, y las palabras agradables son persuasivas".
                <br/>
                <small class="float-right">
                    Proverbios 16:21 NTV
                </small>
            </p>
            <strong>
                Nos vuelve personas {{ completa_lugar('cuatro') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Procuren más bien la belleza pura, la que viene de lo íntimo del corazón y que consiste en un
                espíritu afectuoso y tranquilo. Esta es la que tiene valor delante de Dios.
                <br/>
                <small class="float-right">
                    1 Pedro 3:4 NBV
                </small>
            </p>
            <strong>
                Comunica el {{ completa_lugar('cinco') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Ámense los unos a los otros con amor fraternal, respetándose y honrándose mutuamente.
                <br/>
                <small class="float-right">
                    Romanos 12:10 NVI
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Pues toda la ley se puede resumir en una sola frase: «Ama a tus semejantes como a ti mismo».
                <br/>
                <small class="float-right">
                    Gálatas 5:14 PDT
                </small>
            </p>
            <strong>
            Es el camino al {{ completa_lugar('seis') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Moisés era un hombre muy manso, más que todos los hombres que había sobre la tierra.
                <br/>
                <small class="float-right">
                    Números 12: 3 RVR
                </small>
            </p>
            <strong>
                Da testimonio a quienes {{ completa_lugar('siete') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Al contrario, honren en su corazón a Cristo, como Señor, y manténganse siempre listos para
                defenderse, con mansedumbre y respeto, ante aquellos que les pidan explicarles la esperanza que hay
                en ustedes.
                <br/>
                <small class="float-right">
                    1 Pedro 3:15 RVC
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                ¿Cómo ser una persona mansa?
            </h4>
            <strong class="text-center">
                1- Entiende {{ completa_lugar('ocho') | raw}} para tu vida.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Pero los mansos heredarán la tierra, Y se recrearán con abundancia de paz.
                <br/>
                <small class="float-right">
                    Salmo 37:11 RVA
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Obedezcan mis mandamientos y aprendan de mí, pues yo soy paciente y humilde de verdad. Conmigo
                podrán descansar.
                <br/>
                <small class="float-right">
                    Mateo 11:29 TLA
                </small>
            </p>
            <br/>
            <strong>
                2- Elige la mansedumbre {{ completa_lugar('nueve') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Siempre humildes y amables, pacientes, tolerantes unos con otros en amor.
                <br/>
                <small class="float-right">
                    Efesios 4:2 NVI
                </small>
            </p>

            <h4 class="nota-style">
                ¿Con qué personas seré manso?
            </h4>
            <strong>
                - Con aquellos que hacen algo por mí.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                No se ocupen solo de sus propios intereses, sino también procuren interesarse en los demás.
                <br/>
                <small class="float-right">
                    Filipenses 2: 4 NTV
                </small>
            </p>
            <strong>
                - Con aquellos que están en desacuerdo conmigo.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                No hagan nada por rivalidad ni orgullo. Sean humildes y cada uno considere a los demás como más
                importantes que sí mismo.
                <br/>
                <small class="float-right">
                    Filipenses 2:3 PDT
                </small>
            </p>
            <strong>
                - Con aquellos que me han decepcionado.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Hermanos, si alguien es sorprendido en pecado, ustedes que son espirituales deben restaurarlo con
                una actitud humilde. Pero cuídese cada uno, porque también puede ser tentado.
                <br/>
                <small class="float-right">
                    Gálatas 6:1 NVI
                </small>
            </p>
            <strong>
                - Con aquellos que me han lastimado.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Más bien, sean bondadosos y compasivos unos con otros, y perdónense mutuamente, así como Dios los
                perdonó a ustedes en Cristo.
                <br/>
                <small class="float-right">
                    Efesios 4: 32 NVI
                </small>
            </p>
            <strong>
                - Con aquellos que me corrigen.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Para aprender, hay que amar la disciplina; es tonto despreciar la corrección.
                <br/>
                <small class="float-right">
                    Proverbios 12:1 NTV
                </small>
            </p>
            <strong>
                3- Rinde tu vida al {{ completa_lugar('diez') | raw}}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Para esto fueron llamados, porque Cristo sufrió por ustedes, dándoles ejemplo para que sigan sus
                pasos. «Él no cometió ningún pecado, ni hubo engaño en su boca». Cuando proferían insultos contra
                él, no replicaba con insultos; cuando padecía, no amenazaba, sino que se entregaba a aquel que
                juzga con justicia. Él mismo, en su cuerpo, llevó al madero nuestros pecados, para que muramos al
                pecado y vivamos para la justicia. Por sus heridas ustedes han sido sanados.
                <br/>
                <small class="float-right">
                    1° Pedro 2: 21- 24 NVI
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                Por eso les digo: dejen que el Espíritu Santo los guíe en la vida. Entonces no se dejarán llevar
                por los impulsos de la naturaleza pecaminosa.
                <br/>
                <small class="float-right">
                    Gálatas 5: 16 NTV
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
