<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}


            <p class="text-14-300 font-italic pl-4 text-centrado">
                “No se preocupen ... <b>su Padre</b> celestial ya conoce todas sus necesidades. Busquen el reino de Dios
                por encima de todo lo demás y lleven una vida justa, y él les dará todo lo que necesiten.“
                <br/>
                <small class="float-start">
                    Mateo 6:31-33 (NTV)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                El Modelo De Dios Para Tus Finanzas
            </h4>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No vivan según el <b>modelo</b> de este mundo. Mejor dejen que Dios cambie su vida con una nueva manera
                de pensar”
                <br/>
                <small class="float-start">
                    Romanos 12:2 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                1. (D) {{ completa_lugar('uno') | raw }} todo con confianza y para Su honra.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Todo <b>proviene</b> de él, todo existe por medio de él, y todo es <b>para él</b>. ¡Gloria a Dios para
                siempre, amén!“
                <br/>
                <small class="float-start">
                    Romanos 11:36 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No se te ocurra pensar: “Esta riqueza es fruto de mi poder y de la fuerza de mis manos.”<b>Recuerda al
                    SEÑOR tu Dios</b>, porque es él quien te da el poder para producir esa riqueza...”
                <br/>
                <small class="float-start">
                    Deuteronomio 8:17-18 (NBD)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. (P) {{ completa_lugar('dos') | raw }} bien qué harás.
            </h5>
            <h6 class="text-izq">
                (R) {{ completa_lugar('tres') | raw }}
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Mantente al tanto del <b>estado de tus rebaños</b>... porque las riquezas no duran para siempre”
                <br/>
                <small class="float-start">
                    Proverbios 27:23-24 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Vale la pena invertir para <b>obtener la verdad</b>”
                <br/>
                <small class="float-start">
                    Proverbios 23:23 (PDT)
                </small>
            </p>
            <h6 class="text-centrado">
                (P) {{ completa_lugar('cuatro') | raw }}
            </h6>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Los <b>planes</b> bien pensados y el arduo trabajo llevan a la <b>prosperidad</b>, pero los atajos
                tomados a la carrera conducen a la pobreza.“
                <br/>
                <small class="float-start">
                    Proverbios 21:5 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Los tontos gastan todo lo que tienen.”
                <br/>
                <small class="float-start">
                    Proverbios 21:20 (VBL)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. (D) {{ completa_lugar('cinco') | raw }} primero a Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Honra al Señor con tu riqueza y con los <b>primeros</b> frutos de tus cosechas. “
                <br/>
                <small class="float-start">
                    Proverbios 3:9 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Traigan <b>todo el diezmo</b> a la tesorería para que haya alimento en mi Templo. <b>Pruébenme</b> en
                esto, dice el Señor Todopoderoso, y yo abriré las ventanas de los cielos y <b>haré que sobreabunden las
                    bendiciones</b> tanto que no tendrán lugar para ellas.“
                <br/>
                <small class="float-start">
                    Malaquías 3:10 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Los <b>domingos</b> cada uno de ustedes aparte algo de lo que ganó durante la semana, y dedíquelo a
                esta ofrenda”
                <br/>
                <small class="float-start">
                    1° Corintios 16:2 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Lleva ese diezmo <b>al lugar de adoración</b> designado … Esta práctica te enseñará a temer siempre al
                SEÑOR tu Dios.“
                <br/>
                <small class="float-start">
                    Deuteronomio 14:23 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Honra al SEÑOR con tus riquezas y con <b>lo mejor de todo</b> lo que produces. Entonces él llenará tus
                graneros, y tus tinajas se desbordarán de buen vino.“
                <br/>
                <small class="float-start">
                    Proverbios 3:9-10 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. (A) {{ completa_lugar('seis') | raw }} para el futuro
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El sabio <b>guarda</b> las provisiones, pero el bruto las desperdicia.“
                <br/>
                <small class="float-start">
                    Proverbios 21:20 (PDT)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El dinero mal habido pronto se acaba; quien <b>ahorra</b>, poco a poco se enriquece."
                <br/>
                <small class="float-start">
                    Proverbios 13:11 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Aprende una lección de las <b>hormigas</b>. ¡Aprende de lo que hacen y hazte sabio! A pesar de que no
                tienen... gobernador... que las haga trabajar, se esfuerzan todo el verano, <b>juntando alimento para el
                    invierno</b>”
                <br/>
                <small class="float-start">
                    Proverbios 6:6-8 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. (P) {{ completa_lugar('siete') | raw }} tus deudas
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “No le niegues un bien a quien se le <b>debe</b>, cuando tengas poder para hacerlo”
                <br/>
                <small class="float-start">
                    Proverbios 3:27 (RVR16)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “No tengan <b>deudas</b> pendientes con nadie”
                <br/>
                <small class="float-start">
                    Romanos 13:8 (NBD)
                </small>
            </p>

            <h5 class="text-izq text-600">
                6. (D) {{ completa_lugar('ocho') | raw }} lo que tenés
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “<b>Disfruta de lo que tienes</b> en lugar de desear lo que no tienes; soñar con tener cada vez más no
                tiene sentido, es como perseguir el viento.“
                <br/>
                <small class="float-start">
                    Eclesiastés 6:9 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Estén <b>contentos</b> con lo que tienen”
                <br/>
                <small class="float-start">
                    Hebreos 13:5 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “¿He puesto mi confianza en el dinero o me he sentido seguro a causa de mi oro?… Si así fuera
                significaría que he negado al Dios del cielo”
                <br/>
                <small class="float-start">
                    Job 31:24-28 (NTV)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                {#                <div class="col-12 mx-auto text-center"> #}
                {#                    “<b>Cristo nos libertó</b> para que vivamos en libertad. Por lo tanto, manténganse firmes y <b>no se #}
                {#                        sometan</b> nuevamente al yugo de <b>esclavitud</b>.”<br/> #}
                {#                    Gálatas 5:1 (NVI) #}
                {#                </div> #}

                <div class="col-sm-8 mx-auto text-center">
                    <div class="col-sm-6"> Modelo Cultural</div>
                    <div class="col-sm-6">Modelo Bíblico</div>
                    <div class="col-sm-6">Gastar</div>
                    <div class="col-sm-6">Dedicar</div>
                    <div class="col-sm-6">Disfrutar</div>
                    <div class="col-sm-6">{{ completa_lugar('nueve') | raw }}</div>
                    <div class="col-sm-6">Pagar</div>
                    <div class="col-sm-6">{{ completa_lugar('diez') | raw }}</div>
                    <div class="col-sm-6">Ahorrar</div>
                    <div class="col-sm-6">{{ completa_lugar('once') | raw }}</div>
                    <div class="col-sm-6">Dar</div>
                    <div class="col-sm-6">{{ completa_lugar('doce') | raw }}</div>
                    <div class="col-sm-6">Planear</div>
                    <div class="col-sm-6">{{ completa_lugar('trece') | raw }}</div>
                </div>
                <div class="col-12 mx-auto text-center">
                    <h5>Aprovecha estás ayudas gratuitas:</h5>
                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra
                        <a href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"
                           class="text-white "> “Asesoramiento” al 261 517 8081</a></h6>
                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación
                    </h6>
                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al
                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6>
                    <h6 class="ml-2"><b>Taller de Presupuesto y Desendeudamiento </b>:Jueves 27 de Junio 20 hs.</h6>

                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
