<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando terminó de hablar, le dijo a Simón: Ahora ve a las aguas más profundas y <b>echa tus redes para
                    pescar</b>.<br/>
                <sup>5</sup> Maestro —respondió Simón—, hemos trabajado mucho durante toda la noche y no hemos pescado
                nada; <b>pero</b> si <b>tú lo dices</b>, echaré las redes nuevamente.<br/>
                <sup>6</sup> Y esta vez <b>las redes se llenaron</b> de tantos peces, ¡que comenzaron a romperse!<br/>
                <sup>7</sup> Un grito de auxilio atrajo a los <b>compañeros</b> de la otra barca, y pronto las dos
                barcas estaban llenas de peces y a punto de hundirse.<br/>
                <sup>8</sup> Cuando Simón Pedro se dio cuenta de lo que había sucedido, cayó de rodillas delante de
                Jesús y le dijo: Señor, por favor, aléjate de mí, <b>soy demasiado pecador para estar cerca de
                    ti</b>.<br/>
                <sup>9</sup> Pues estaba muy asombrado por la cantidad de peces que habían sacado, al igual que los
                otros que estaban con él.<br/>
                <sup>10</sup> Sus compañeros, Santiago y Juan, hijos de Zebedeo, también estaban asombrados. Jesús
                respondió a Simón: <b>«¡No tengas miedo! ¡De ahora en adelante, pescarás personas!»</b>.<br/>
                <sup>11</sup> Y, en cuanto llegaron a tierra firme, <b>dejaron todo y siguieron a Jesús</b>.”
                <br/>
                <small class="float-start">
                    Lucas 5:4-11 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Como vencer el desaliento y continuar
            </h4>
            <h5 class="text-izq text-600">
                1. No te detengas en {{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “David le respondió al filisteo: Tú vienes contra mí con espada, lanza y jabalina, <b>pero</b> yo vengo
                contra ti en nombre del SEÑOR de los Ejércitos Celestiales, el Dios de los ejércitos de Israel, a quien
                tú has desafiado.”
                <br/>
                <small class="float-start">
                    1° Samuel 17:45 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No se preocupó del hecho de que, a la edad de cien años, era demasiado viejo para ser padre, ni de que
                su esposa Sara tuviera noventa años y por lo tanto fuera demasiado vieja para tener hijos. “<b>Pero</b>
                Abraham no dudó jamás. Con la más profunda fe y confianza, creyó a Dios, y le dio las gracias por
                aquella bendición antes de que se produjera.<br/>
                <sup>21</sup> ¡Estaba completamente seguro de que Dios podría cumplir cualquier promesa!”
                <br/>
                <small class="float-start">
                    Romanos 4:19-21 (BAD)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                2. Deshazte de la mentalidad: "{{ completa_lugar('dos') | raw }}".
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “¡<b>No podemos</b> ir contra ellos! ¡Son más fuertes que nosotros!”
                <br/>
                <small class="float-start">
                    Números 13:31 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “En verdad, <b>no pudieron entrar</b> a Canaán y descansar, porque <b>no confiaron</b> en Dios.”
                <br/>
                <small class="float-start">
                    Hebreos 3:19 (TLA)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                3. No permitas que las circunstancias te alejen de {{ completa_lugar('tres') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ama al Señor con ternura, y <b>él cumplirá tus deseos</b> más profundos.”
                <br/>
                <small class="float-start">
                    Salmos 37:4 (DHH)
                </small>
            </p>


            <h5 class="text-centrado text-600">
                4. Regresa e {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Oh SEÑOR, tengo tantos enemigos; son muchos los que están en mi contra.<br/>
                <sup>2</sup> Son tantos los que dicen: «¡Dios no lo rescatará!».<br/>
                <sup>3</sup> <b>Pero</b> tú, oh SEÑOR, eres un escudo que me rodea; eres mi gloria, el que sostiene mi
                cabeza en alto.”
                <br/>
                <small class="float-start">
                    Salmos 3:1-3 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “Podremos <b>mantener la frente en alto</b><br/> #}
            {#                    en cualquier circunstancia,<br/> #}
            {#                    sabiendo que <b>todo irá bien</b>,<br/> #}
            {#                    pues conocemos <b>la ternura del amor de Dios</b> hacia nosotros,...<br/> #}
            {#                    Cuando, <b>impotentes</b>, no teníamos medio de escape,<br/> #}
            {#                    Cristo llegó <b>en el momento oportuno</b> #}
            {#                    y murió por nosotros.” #}

            {#                    Romanos 5:5-6 (BAD) #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
