<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Durante cuarenta días y cuarenta noches ayunó y después tuvo mucha hambre..., <b>y llegaron ángeles a
                    cuidar a Jesús</b>.”
                <br/>
                <small class="float-start">
                    Mateo 4:2 y 11 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando más débil me siento es cuando <b>más fuerte soy</b>.”

                <br/>
                <small class="float-start">
                    2 Corintios 12:10 (DHH)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Como recibir fuerzas para seguir adelante
            </h4>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('uno') | raw }} , más allá de lo natural.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Entonces el SEÑOR le dio <b>una fuerza extraordinaria</b> a Elías, quien se sujetó la capa con el
                cinturón y corrió delante del carro de Acab todo el camino, hasta la entrada de Jezreel.”
                <br/>
                <small class="float-start">
                    1 Reyes 18:46 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Él da <b>fuerzas al cansado</b> y poder al indefenso.”
                <br/>
                <small class="float-start">
                    Isaías 40:29 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pero los que tienen <b>su esperanza</b> puesta en el Señor <b>renovarán sus fuerzas</b>. Les crecerán
                alas como a las águilas; correrán sin fatigarse, caminarán sin cansarse.”
                <br/>
                <small class="float-start">
                    Isaías 40:31 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Rodeate de la fuerza de {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Se le cansaron tanto los brazos que <b>ya no podía sostenerlos</b> en alto. Así que Aarón y Hur… se
                pararon a cada lado de Moisés y <b>le sostuvieron las manos en alto</b>. Así sus manos se mantuvieron
                firmes hasta la puesta del sol.”
                <br/>
                <small class="float-start">
                    Éxodo 17:12 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “No dejemos de congregarnos, como lo hacen algunos, sino <b>animémonos unos a otros</b>, sobre todo
                ahora que el día de su regreso se acerca.”
                <br/>
                <small class="float-start">
                    Hebreos 10:25 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Recibí la fuerza de los que {{ completa_lugar('tres') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “De repente aparecieron dos hombres, Moisés y Elías, y comenzaron a hablar con Jesús. Se veían llenos de
                gloria. Y <b>hablaban sobre la partida de Jesús</b> de este mundo, lo cual estaba a punto de cumplirse
                en Jerusalén.”
                <br/>
                <small class="float-start">
                    Lucas 9:30-31 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Acuérdense de los líderes que les enseñaron la palabra de Dios. Piensen en todo lo bueno que haya
                resultado de su vida y <b>sigan el ejemplo de su fe</b>.”
                <br/>
                <small class="float-start">
                    Hebreos 13:7 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Confía en la {{ completa_lugar('cuatro') | raw }} de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “«Mi alma está destrozada de tanta tristeza”
                <br/>
                <small class="float-start">
                    Marcos 14:34 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Se le apareció un ángel del cielo, para darle fuerzas.”
                <br/>
                <small class="float-start">
                    Lucas 22:43 (DHH)
                </small>
            </p>



                        <div class="col-sm-10 mx-auto">
                            <div class="col-12 mx-auto text-center">
                                “Podremos <b>mantener la frente en alto</b><br/>
                                en cualquier circunstancia,<br/>
                                sabiendo que <b>todo irá bien</b>,<br/>
                                pues conocemos <b>la ternura del amor de Dios</b> hacia nosotros,...<br/>
                                Cuando, <b>impotentes</b>, no teníamos medio de escape,<br/>
                                Cristo llegó <b>en el momento oportuno</b>
                                y murió por nosotros.”

                                Romanos 5:5-6 (BAD)
                            </div>
                        </div>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
