<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h4 class="text-izq text-600"> #}
            {#                Las buenas prioridades… #}
            {#            </h4> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                <sup>1</sup> Acab le contó a Jezabel todo lo que Elías había hecho, y cómo había matado a todos los
                profetas a filo de espada. <sup>2</sup> Entonces Jezabel envió un mensajero a que le dijera a Elías:
                «¡Que los dioses me castiguen sin piedad si mañana a esta hora no te he quitado la vida como tú se la
                quitaste a ellos!» <sup>3</sup> Elías se asustó y huyó para ponerse a salvo. Cuando llegó a Berseba de
                Judá, dejó allí a su criado <sup>4</sup> y caminó todo un día por el desierto. Llegó adonde había un
                arbusto, y se sentó a su sombra con ganas de morirse. «¡Estoy harto, SEÑOR! —protestó—. Quítame la vida,
                pues no soy mejor que mis antepasados.»
                <br/>
                <small class="float-end">
                    1 Reyes 19:1-4 (NVI)
                </small>
            </p>

            <h4 class="text-izq text-600">
                ERRORES QUE COMETEMOS:
            </h4>

            <h5 class="text-centrado text-600">
                * {{ completa_lugar('uno') | raw }} (v3a).
            </h5>
            <h5 class="text-centrado text-600">
                * {{ completa_lugar('dos') | raw }} (v3b).
            </h5>
            <h5 class="text-centrado text-600">
                * {{ completa_lugar('tres') | raw }} (v4).
            </h5>

            <h4 class="text-izq text-600">
                COMO RECUPERAR TU ENERGÍA:
            </h4>

            <h5 class="text-izq text-600">
                1. {{ completa_lugar('cuatro') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                Luego se acostó debajo del arbusto y se quedó dormido. De repente, un ángel lo tocó y le dijo:
                «Levántate y come.» Elías miró a su alrededor, y vio a su cabecera un panecillo cocido sobre carbones
                calientes, y un jarro de agua. Comió y bebió, y volvió a acostarse.
                <br/>
                <small class="float-end">
                    1 Reyes 19:5-6 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                A VECES LO MÁS {{ completa_lugar('cinco') | raw }} QUE PODÉS HACER
                ES {{ completa_lugar('seis') | raw }} .
            </h5>

            <h5 class="text-izq text-600">
                2. {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                «Levántate y come, porque te espera un largo viaje.» Elías se levantó, y comió y bebió. Una vez
                fortalecido por aquella comida, viajó cuarenta días y cuarenta noches hasta que llegó a Horeb, <b>el
                    monte de Dios</b>.
                <br/>
                <small class="float-end">
                    1 Reyes 19:7-8 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                El Señor es mi pastor, nada me falta; en verdes pastos me hace <b>descansar</b>. Junto a tranquilas
                aguas me conduce; me <b>infunde nuevas fuerzas</b>. Me guía por sendas de justicia, por amor a su
                nombre.
                <br/>
                <small class="float-end">
                    Salmos 23:1-3 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                LA PRESENCIA DE DIOS TE DA AUTÉNTICA {{ completa_lugar('ocho') | raw }}.
            </h5>

            <h5 class="text-izq text-600">
                3. {{ completa_lugar('nueve') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                —Regresa por el mismo camino… unge a Jazael como rey de Siria, y a Jehú hijo de Nimsi como rey de
                Israel; unge también a <b>Eliseo…</b> para que te suceda como profeta… yo preservaré a <b>siete mil
                    israelitas</b> que no se han arrodillado ante Baal ni lo han besado.
                <br/>
                <small class="float-end">
                    1 Reyes 19:15-18 (NVI)
                </small>
            </p>


            <h5 class="text-izq text-600">
                4. {{ completa_lugar('diez') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                ¿Qué haces aquí, Elías? […] —Sal y preséntate ante mí en la montaña, porque estoy a punto de pasar por
                allí. Como heraldo del SEÑOR vino un viento recio, tan violento que partió las montañas e hizo añicos
                las rocas; pero el SEÑOR no estaba en el viento. Al viento lo siguió un terremoto, pero el SEÑOR tampoco
                estaba en el terremoto. Tras el terremoto vino un fuego, pero el SEÑOR tampoco estaba en el fuego. Y
                después del fuego vino un <b>suave murmullo</b>. Cuando Elías lo oyó, se cubrió el rostro con el manto.
                <br/>
                <small class="float-end">
                    1 Reyes 19:9,11-13 (NVI)
                </small>
            </p>


            <p class="text-14-300 font-italic pl-4 text-center">
                “No será por la fuerza ni por ningún poder, sino por mi Espíritu —dice el Señor Todopoderoso—.
                <br/>
                <small class="float-end">
                    Zacarías 4:6 (NVI)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <i>Todo lo puedo en Cristo que me fortalece.<br/> #}
            {#                        Filipenses 4:13 (NVI)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
