<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                "Sucederá que en los últimos días, dice Dios, derramaré mi Espíritu sobre todo el género humano.
                Profetizarán <b>sus hijos y sus hijas… mis siervos y mis siervas</b>, y profetizarán."
                <br/>
                <small class="float-end">
                    Hechos 2:17-18 (NVI)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                LECCIONES INESPERADAS DE UNA MUJER EMBARAZADA DE PROMESAS.
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El ángel se acercó a ella y le dijo: --¡Te saludo, <b>tú que has recibido el favor de Dios</b>! El
                Señor está contigo. Ante estas palabras, María se perturbó, y se preguntaba <b>qué podría significar
                    este saludo</b>.”
                <br/>
                <small class="float-end">
                    Lucas 1: 28-29
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “--No tengas miedo, María; Dios te ha concedido su favor --le dijo el ángel--. Quedarás encinta y <b>darás
                    a luz un hijo</b>, y le pondrás por nombre Jesús. Él será un gran hombre, y lo llamarán Hijo del
                Altísimo. Dios el Señor le dará el trono de su padre David, y reinará sobre el pueblo de Jacob para
                siempre. Su reinado no tendrá fin.”
                <br/>
                <small class="float-end">
                    Lucas 1: 28-29
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “--<b>¿Cómo podrá suceder esto</b> --le preguntó María al ángel--, puesto que soy virgen?”
                <br/>
                <small class="float-end">
                    Lucas 1:34
                </small>
            </p>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('uno') | raw}} LA PROMESA.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “--<b>El Espíritu Santo <u>vendrá</u> sobre ti</b>, y el <b>poder del Altísimo</b> te cubrirá con su
                sombra. Así que al santo niño que va a nacer lo llamarán Hijo de Dios.”
                <br/>
                <small class="float-end">
                    Lucas 1:35
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “También tu parienta Elisabet va a tener un hijo en su vejez; de hecho, la que decían que era estéril
                <b>ya está</b> en el <b style="color: red">sexto mes</b> de embarazo. <b>Porque para Dios no hay nada
                    imposible</b>.”
                <br/>
                <small class="float-end">
                    Lucas 1:36-37
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “--Aquí tienes a la sierva del Señor --contestó María--. Que él haga conmigo como me has dicho. Con
                esto, <b>el ángel la dejó</b>.”
                <br/>
                <small class="float-end">
                    Lucas 1: 38
                </small>
            </p>
            <h4 class="text-centrado text-600">
                2. {{ completa_lugar('dos') | raw}} A DONDE EL ESPÍRITU SE MUEVE.
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “A los pocos días <b>María emprendió el viaje</b> y se fue <b>de prisa</b> a un pueblo en la región
                montañosa de Judea. Al llegar, entró en casa de Zacarías y saludó a Elisabet.”
                <br/>
                <small class="float-end">
                    Lucas 1:39-40
                </small>
            </p>
            <p>
            <blockquote class="blockquote blockquote-alameda-primary">
                Ya tienes la promesa pero necesitas moverte donde el Espíritu se mueve para recibirla. Tu
                {{ completa_lugar('tres') | raw}} revela tu deseo, y <strong>tu deseo es la condición para recibir</strong>.
            </blockquote>
            </p>
            <h4 class="text-centrado text-600">
                3. RECIBE PALABRA DE ALGUIEN {{ completa_lugar('cuatro') | raw}}.
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Tan pronto como <b>Elisabet oyó el saludo de María</b>, la criatura saltó en su vientre. Entonces
                Elisabet, <b>llena del Espíritu Santo, exclamó: --¡Bendita tú entre las mujeres</b>, y bendito <b>el
                    hijo</b> que darás a luz!”
                <br/>
                <small class="float-end">
                    Lucas 1:41-42
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pero, ¿cómo es esto, que <b>la madre de mi Señor</b> venga a verme? Te digo que tan pronto como llegó a
                mis oídos la voz de tu saludo, <b>saltó de alegría la criatura que llevo en el vientre</b>. ¡Dichosa tú
                que has creído, porque <b>lo que el Señor te ha dicho se cumplirá</b>!
                <br/>
                <small class="float-end">
                    Lucas 1:42-45
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces dijo María: --<b>Mi alma</b> glorifica al Señor, y <b>mi espíritu se regocija en Dios mi
                    Salvador</b>, porque se ha dignado fijarse en su humilde sierva. <b>Desde ahora</b> me llamarán
                dichosa todas las generaciones, porque el Poderoso <b>ha hecho grandes cosas por mí</b>.”
                <br/>
                <small class="float-end">
                    Lucas 1:46-49
                </small>
            </p>
            <p>
            <blockquote class="blockquote blockquote-alameda-primary">
                <strong>Dios usa {{ completa_lugar('cinco') | raw}} llenas del Espíritu Santo para embarazar a otras personas de la misma
                    fe</strong>, del mismo deseo, de la misma promesa.
            </blockquote>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “María se quedó <b>con Elisabet unos <span style="color: red">tres meses</span></b> y luego regresó a su casa."
                <br/>
                <small class="float-end">
                    Lucas 1:24-56 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "El nacimiento de Jesús, el Cristo, fue así: Su madre, María, estaba comprometida para casarse con José, pero antes de unirse a él, resultó que <b>estaba encinta</b> por obra del Espíritu Santo."
                <br/>
                <small class="float-end">
                    Mateo 1:18 (NVI)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “<b>Estoy firmemente convencido</b> de que aquel que comenzó en ustedes la buena obra <b>la #}
            {#                        completará</b> hasta el Día de Cristo Jesús.” #}
            {#                    <br/> #}
            {#                    Filipenses 1:6 (BPD) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
