<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h4 class="text-izq text-600"> #}
            {#                Las buenas prioridades… #}
            {#            </h4> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                “Así que ahora les doy un <b>nuevo mandamiento:</b> ámense unos a otros. Tal <b>como yo los he amado</b>,
                ustedes deben amarse unos a otros. El amor que tengan unos por otros será <b>la prueba</b> ante el mundo
                de que son mis discípulos».”
                <br/>
                <small class="float-end">
                    Juan 13:34-35 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                * Es una {{ completa_lugar('uno') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                * Es para {{ completa_lugar('dos') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                * Es un {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Éste es mi mandamiento: Ámense unos a otros de la misma manera en que yo los he amado. No hay un amor
                más grande que el <b>dar la vida por los amigos</b>“
                <br/>
                <small class="float-end">
                    Juan 15:12-13 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todos los creyentes… compartían todo lo que tenían… Adoraban juntos… se reunían en casas… y compartían
                sus comidas con gran gozo y generosidad… Y cada día el Señor agregaba a esa comunidad cristiana los que
                iban siendo salvos.”
                <br/>
                <small class="float-end">
                    Hechos 2:44-47 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                ¿Como experimentar este compañerismo audaz?
            </h4>
            <h6 class="text-izq text-600 text-muted">
                Cuatro niveles de compañerismo.
            </h6>
            <h5 class="text-izq text-600">
                1.(P) {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “A todos los que <b>creyeron</b> en él y lo recibieron, les dio el derecho de llegar a ser <b>hijos de
                    Dios</b>.”
                <br/>
                <small class="float-end">
                    Juan 1:12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Los que creyeron… fueron <b>bautizados</b> y sumados a la iglesia en ese mismo día.”
                <br/>
                <small class="float-end">
                    Hechos 2:41 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “… ya no son unos desconocidos ni extranjeros… Son <b>miembros</b> de la familia de Dios.”
                <br/>
                <small class="float-end">
                    Efesios 2:18-19 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. (A) {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todos los creyentes se dedicaban… a la <b>comunión</b> fraternal”
                <br/>
                <small class="float-end">
                    Hechos 2:42 (NTV)
                    <em>Koinonia: ¡Compartir todo! - Compartían:</em>
                </small>
            </p>
            <h5 class="text-izq text-600 ms-1">
                Las {{ completa_lugar('seis') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Reciban en su casa a los demás.”
                <br/>
                <small class="float-end">
                    1° Pedro 4:9 (TLA)
                </small>
            </p>
            <h5 class="text-izq text-600 ms-1">
                La {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Si se mantienen fieles a <b>mis enseñanzas</b>, serán realmente mis discípulos; y conocerán la verdad,
                y la verdad los hará libres.”
                <br/>
                <small class="float-end">
                    Juan 8:31-32
                </small>
            </p>
            <h5 class="text-izq text-600 ms-1">
                Los {{ completa_lugar('ocho') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Compartan las cargas y los <b>problemas</b> de los demás, porque así estarán obedeciendo el mandato de
                nuestro Señor.”
                <br/>
                <small class="float-end">
                    Gálatas 6:2 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600 ms-1">
                El {{ completa_lugar('nueve') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Compartan las cargas y los <b>problemas</b> de los demás, porque así estarán obedeciendo el mandato de
                nuestro Señor.”
                <br/>
                <small class="float-end">
                    Gálatas 6:2 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3.(M) {{ completa_lugar('diez') | raw }}.
            </h5>


            {#            <h4 class="text-izq text-600"> #}
            {#                ¿Qué es mi tiempo diario con Dios? #}
            {#            </h4> #}
            <p class="text-14-300 font-italic pl-4 text-center">
                “Somos compañeros de trabajo al servicio de Dios.”
                <br/>
                <small class="float-end">
                    1° Corintios 3:9 (DHH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todos los demás sólo <b>se ocupan de sí mismos</b> y no de <b>lo que es importante para Jesucristo</b>,
                pero… Timoteo… ha servido a mi lado en la predicación de la Buena Noticia.”
                <br/>
                <small class="float-end">
                    Filipenses 2:21-22 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Epafrodito… De veras, él y yo hemos sido verdaderos hermanos, y hemos trabajado y <b>batallado hombro
                    con hombro</b>.”
                <br/>
                <small class="float-end">
                    Filipenses 2:25 (BAD
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Como <b>un buen soldado de Jesucristo</b>, comparte conmigo el sufrimiento. Ningún soldado pierde su
                tiempo pensando en asuntos de la vida civil, porque lo único que le preocupa es agradar a su capitán.”

                <br/>
                <small class="float-end">
                    2° Timoteo 2:3-4 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. (H) {{ completa_lugar('once') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pues todo el que hace la voluntad de mi Padre que está en el cielo es mi hermano y mi hermana y mi
                madre».”
                <br/>
                <small class="float-end">
                    Mateo 12:47-50 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Por lo tanto, siempre que tengamos la oportunidad, hagamos el bien a todos, <b>en especial a los de la
                    familia de la fe</b>.”
                <br/>
                <small class="float-end">
                    Gálatas 6:10 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Conocemos lo que es el amor verdadero, porque Jesús entregó su vida por nosotros. De manera que <b>nosotros
                    también tenemos que dar la vida por nuestros hermanos</b>.”
                <br/>
                <small class="float-end">
                    1° Juan 3:16 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                <i>* Es la {{ completa_lugar('doce') | raw }} final que le pertenecemos.</i>
            </h5>



            <p class="text-14-300 font-italic pl-4 text-center">
                “El amor que tengan unos por otros será la prueba ante el mundo de que
                son mis discípulos».”
                <br/>
                <small class="float-end">
                    Juan 13:35 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
