<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Del interior del que cree en mí saldrán ríos de agua viva.”
                <br/>
                <small class="float-end">
                    Juan 7:38
                </small>
            </p>
            <h4 class="text-centrado text-600">
                La imposición de manos
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                Avancemos hacia la madurez. No volvamos a poner los fundamentos, tales como el arrepentimiento de las
                obras que conducen a la muerte, la fe en Dios, <sup>2</sup> la instrucción sobre bautismos, <u>la
                    imposición de manos</u>, la resurrección de los muertos y el juicio eterno.”
                <br/>
                <small class="float-end">
                    Hebreos 6:1-2 (NVI)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Mujer, has quedado libre de tu enfermedad.” Y <u>puso las manos sobre ella</u>, y al instante se
                enderezó y glorificaba a Dios.”
                <br/>
                <small class="float-end">
                    Lc 13:12-13 (NBLH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Danos a nosotros... mucho valor al predicar tu palabra. <sup>30</sup> <u>Extiende tu mano con poder
                    sanador</u>; que se hagan señales milagrosas y maravillas por medio del nombre de tu santo siervo
                Jesús».”
                <br/>
                <small class="float-end">
                    Hechos 4:29-30 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<u>Por mano de los apóstoles</u> se realizaban muchas señales (muchos milagros) y prodigios entre el
                pueblo...”
                <br/>
                <small class="float-end">
                    Hechos 5:12 (NBLH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “ Ananías fue y entró en la casa, y <u>después de poner las manos sobre él</u>, dijo: “Hermano Saulo, el
                Señor Jesús, ... me ha enviado para que recobres la vista y seas lleno del Espíritu Santo.”
                <br/>
                <small class="float-end">
                    Hechos 9:17 (NBLH)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                Cuando el Espíritu obra a través de tus manos
                <small>Hechos 3:1-10 (NTV)</small>
            </h4>
            <h5 class="text-izq text-600">
                1. Doy lo {{ completa_lugar('uno') | raw }} y lo {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pedro le dijo: «¡Míranos!»... te daré lo que tengo.”
                <br/>
                <small class="float-end">
                    Hechos 3.4-5
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Dios, en su gracia, nos ha dado dones diferentes para hacer bien determinadas cosas.”
                <br/>
                <small class="float-end">
                    Romanos 12:6
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “A cada uno de nosotros se nos da un don espiritual para que nos ayudemos mutuamente… Es el mismo y
                único Espíritu quien distribuye todos esos dones. Sólo él decide qué don cada uno debe tener.”
                <br/>
                <small class="float-end">
                    1° Corintios 12:7 y 11 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “... deseen ardientemente los dones espirituales, sobre todo que profeticen.”
                <br/>
                <small class="float-end">
                    1° Corintios 14:1 (NBLH)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Sé a Quien {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “En el nombre de Jesucristo de Nazaret, ¡levántate y camina!»”
                <br/>
                <small class="float-end">
                    Hechos 3:6
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “ Jesús: «Se me ha dado toda autoridad en el cielo y en la tierra. Por lo tanto, vayan”
                <br/>
                <small class="float-end">
                    Mateo 28:18-19a (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Vivo para {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces Pedro tomó al hombre lisiado de la mano derecha y <u>lo ayudó a levantarse</u>.”
                <br/>
                <small class="float-end">
                    Hechos 3.7 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Veo la {{ completa_lugar('cinco') | raw }} en cada situación.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Fe es la confianza de que en verdad <u>sucederá lo que esperamos</u>; es lo que nos da la certeza de
                las <u>cosas que no podemos ver</u>”
                <br/>
                <small class="float-end">
                    Heb 11:1 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<u>Por la fe en el nombre de Jesús</u>, este hombre fue sanado, y ustedes saben que él antes era un
                inválido. <u>La fe en el nombre de Jesús lo ha sanado</u> delante de sus propios ojos.”
                <br/>
                <small class="float-end">
                    Hechos 3:16 (NTV)
                </small>
            </p>
            >
            <p class="text-14-300 font-italic pl-4 text-center">
                “El que reanima a otros será reanimado. “
                <br/>
                <small class="float-end">
                    Proverbios 11:25 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “El que riega también recibirá riego.”
                <br/>
                <small class="float-end">
                    Proverbios 11:25 (SM)
                </small>
            </p>

            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “<b>Estoy firmemente convencido</b> de que aquel que comenzó en ustedes la buena obra <b>la #}
            {#                        completará</b> hasta el Día de Cristo Jesús.” #}
            {#                    <br/> #}
            {#                    Filipenses 1:6 (BPD) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
