<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}

            <h4 class="text-centrado text-600">
                DESENMASCARANDO FALSOS AMORES.
            </h4>

            <h5 class="text-izq text-600">
                1. {{ completa_lugar('uno') | raw }} <br/>
                2. {{ completa_lugar('dos') | raw }} <br/>
                3. {{ completa_lugar('tres') | raw }} <br/>
                4. {{ completa_lugar('cuatro') | raw }} <br/>
                5. {{ completa_lugar('cinco') | raw }}
            </h5>

            <h4 class="text-centrado text-600">
                LOS LENGUAJES DEL AMOR VERDADERO.
            </h4>
            <h5 class="text-izq text-600">
                1. Amar es: {{ completa_lugar('seis') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Yo soy de mi amado, y su pasión lo obliga a buscarme. Ven conmigo, amado mío, acompáñame a los campos.
                Pasaremos la noche entre flores de azahar.”
                <br/>
                <small class="float-start">
                    Cantares 7:10-11 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                "Jesús le contestó: —Marta, Marta, ¿por qué te preocupas por tantas cosas? Hay algo más importante.
                María lo ha elegido, y nadie se lo va a quitar."
                <br/>
                <small class="float-start">
                    Lucas 10:41-42 (NVI)
                </small>
            </p>
            <h6 class="text-centrado text-600">
                Tu tiempo es el recurso más valioso, dedicarlo exige<br/>
                {{ completa_lugar('siete') | raw }} y {{ completa_lugar('ocho') | raw }}.
            </h6>
            <h5 class="text-izq text-600">
                2. Amar es: {{ completa_lugar('nueve') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                "Las palabras amables son como la miel: endulzan la vida y sanan el cuerpo."
                <br/>
                <small class="float-start">
                    Proverbios 16:24 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                "Son tus labios un panal, amada mía”
                <br/>
                <small class="float-start">
                    Cantares 4:11 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Amar es: {{ completa_lugar('diez') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                "¿Quién es esa mujer que sube del desierto apoyada en su amado?"
                <br/>
                <small class="float-start">
                    Cantares 8:5 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Sírvanse los unos a los otros por amor.”
                <br/>
                <small class="float-start">
                    Gálatas 5:13 (RVC)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Amar es: {{ completa_lugar('once') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “¡Date prisa, amado mío! ¡Corre como venado! ¡Corre como un cervatillo! Ya están cubiertas las colinas
                con hierbas aromáticas.”
                <br/>
                <small class="float-start">
                    Cantares 8:14 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Jesús tomó en sus brazos a los niños y, poniendo sus manos sobre ellos, los bendijo.”
                <br/>
                <small class="float-start">
                    Marcos 19:16 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Jesús extendió la mano y tocó al hombre […] Y al instante quedó sano de la enfermedad en la piel.”
                <br/>
                <small class="float-start">
                    Mateo 8:3 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. Amar es: {{ completa_lugar('doce') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                Me levanté para abrirle a mi amado. Por mis manos y mis dedos corrían las gotas de mirra.”
                <br/>
                <small class="float-start">
                    Cantares 5:5 (RVC)
                </small>
            </p>

            <h4 class="text-izq text-600">
                Como es un regalo de amor:
            </h4>
            <h5 class="text-izq text-600">
                • A{{ completa_lugar('trece') | raw }}: refleja que conocés a esa persona.<br/>
                • M{{ completa_lugar('catorce') | raw }}: dale espacio a la sorpresa.<br/>
                • O{{ completa_lugar('quince') | raw }}: para él/ella y no “para la casa” o “el trabajo”.<br/>
                • R{{ completa_lugar('dieciseis') | raw }}: hace que refleje tu amor, entrega y gratitud
            </h5>

            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    {#                    Como construir una vida de amor #}
                </div>

                {#                <div class="col-sm-8 mx-auto text-center"> #}
                {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                {#                        1. {{ completa_lugar('once') | raw }} como el amor maduro actúa y responde. #}
                {#                    </p> #}
                {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                {#                        2. {{ completa_lugar('doce') | raw }} tu día recordando a diario ser amoroso. #}
                {#                    </p> #}
                {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                {#                        3. {{ completa_lugar('trece') | raw }} lo que Dios dice acerca del amor. #}
                {#                    </p> #}
                {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                {#                        4. {{ completa_lugar('catorce') | raw }} actua en maneras amorosas y desinteresadas. #}
                {#                    </p> #}
                {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                {#                        5. {{ completa_lugar('quince') | raw }} de otra gente amorosa. #}
                {#                    </p> #}
                <h6 class="text-centrado text-600">

                    “Así manifestó Dios su amor entre nosotros: en que <b>envió</b> a<br/>
                    su Hijo único al mundo para que vivamos por medio de él”<br/>
                    1 Juan 4:9 (NVI)
                </h6>
                {#                </div> #}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
