<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “El ojo es la luz del cuerpo. <b>Si tus ojos ven bien, todo tu cuerpo estará lleno de luz</b>.<br/>
                <sup>23</sup> Pero si tus ojos ven mal, entonces todo tu cuerpo estará lleno de oscuridad. Si la única
                luz que tienes es la oscuridad, ¡qué horrible oscuridad tendrás!”
                <br/>
                <small class="float-start">
                    Mateo 6:22-23 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús <b>supo lo que hablaban</b>, así que les dijo: ¿Por qué discuten por no tener pan? ¿Todavía no
                saben ni <b>entienden</b>? ¿Tienen el <b>corazón demasiado endurecido</b> para comprenderlo?<br/>
                <sup>18</sup> “<b>Tienen ojos, ¿y no pueden ver?</b> Tienen oídos, ¿y no pueden oír?” ¿<b>No
                    recuerdan</b> nada en absoluto?<br/>
                <sup>19</sup> Cuando alimenté a los cinco mil con cinco panes, ¿cuántas canastas con sobras recogieron
                después? Doce —contestaron ellos…<br>
                <sup>21</sup> ¿Todavía no entienden?”
                <br/>
                <small class="float-start">
                    Marcos 8:17-21 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Tres para barreras no ver con claridad
            </h4>
            <h5 class="text-izq text-600">
                1. Pensamiento {{ completa_lugar('uno') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                2. Corazón {{ completa_lugar('dos') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                3. Memoria de {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pido también que les sean iluminados los ojos del corazón para que sepan a qué <b>esperanza</b> él los
                ha llamado, cuál es la riqueza de su gloriosa <b>herencia</b> entre los santos,<br/>
                <sup>19</sup> y cuán incomparable es la <b>grandeza</b> de su poder a favor de los que creemos”
                <br/>
                <small class="float-start">
                    Efesios 1:18-19 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Cuando Jesús abre los ojos de los ciegos
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Algunas personas le llevaron</b> a un hombre ciego ante Jesús y le suplicaron que lo tocara y lo
                sanara.<br/>
                <sup>23</sup> Jesús <b>tomó al ciego de la mano</b> y <b>lo llevó fuera de la aldea</b>. Luego escupió
                en los ojos del hombre, puso sus manos sobre él y le preguntó: ¿Puedes ver algo ahora?<br/>
                <sup>24</sup> El hombre miró a su alrededor y dijo: <b>Sí, veo a algunas personas, pero no puedo verlas
                    con claridad</b>; parecen árboles que caminan.<br/>
                <sup>25</sup> Entonces Jesús puso nuevamente sus manos sobre los ojos del hombre y fueron abiertos. Su
                vista fue totalmente restaurada y podía ver todo con claridad.”
                <br/>
                <small class="float-start">
                    Marcos 8:22-26 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Es un acto de {{ completa_lugar('cuatro') | raw }} Es {{ completa_lugar('cinco') | raw }}
                Es {{ completa_lugar('seis') | raw }} Es {{ completa_lugar('siete') | raw }} .
            </h5>
            <h4 class="text-izq text-600">
                Como recuperar tu visión
            </h4>
            <h5 class="text-izq text-600">
                1. Decido ser {{ completa_lugar('ocho') | raw }} a su bondad.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús <b>tomó al ciego de la mano</b>”
                <br/>
                <small class="float-start">
                    Marcos 8:23a (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Me separo de ambientes {{ completa_lugar('nueve') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “y <b>lo llevó fuera de la aldea…</b>”
                <br/>
                <small class="float-start">
                    Marcos 8:23b (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Acepto los {{ completa_lugar('diez') | raw }} de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Luego <b>escupió en los ojos del hombre</b>, puso sus manos sobre él”
                <br/>
                <small class="float-start">
                    Marcos 8:23c (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Soy {{ completa_lugar('once') | raw }} en el proceso.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Puedes ver algo ahora?<br/>
                <sup>24</sup> El hombre miró a su alrededor y dijo: <b>Sí, veo a algunas personas, pero no puedo verlas
                    con claridad…</b>
                <br/>
                <small class="float-start">
                    Marcos 8:23c-24
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces <b>Jesús puso nuevamente sus manos</b> sobre los ojos del hombre y fueron abiertos. Su vista
                fue totalmente restaurada y podía ver todo con claridad.”
                <br/>
                <small class="float-start">
                    Marcos 8:25 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                La gran visión
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús y sus discípulos salieron … Mientras caminaban, él les preguntó: <b>¿Quién dice la gente que
                    soy?</b><br/>
                <sup>28</sup> Bueno —contestaron—, algunos dicen Juan el Bautista, otros dicen Elías, y otros dicen que
                eres uno de los otros profetas.<br/>
                <sup>29</sup> Entonces les preguntó: Y ustedes, <b>¿quién dicen que soy?</b> Pedro contestó: <b>Tú eres
                    el Mesías</b>.”
                <br/>
                <small class="float-start">
                    Marcos 8:27-29 (NTV)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
