<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “El Señor ... sana a los que tienen roto el corazón y venda sus heridas.”
                <br/>
                <small class="float-start">
                    Salmos 147:2-3 (PDT
                </small>
            </p>

            {#            <h4 class="text-centrado text-600"> #}
            {#                SI NO VIVO UNA VIDA DE AMOR… #}
            {#            </h4> #}
            <h5 class="text-izq text-600">
                1) Avanza a la {{ completa_lugar('uno') | raw }} y ser libre.
            </h5>

            {#            <h6 class="text-centrado text-600"> #}
            {#                EL ES EL PASTOR NOSOTROS SOMOS {{ completa_lugar('uno') | raw }}. #}
            {#            </h6> #}

            <p class="text-14-300 font-italic pl-4 text-izq">
                “<u>Cambien su manera de pensar</u> para que así <u>cambie su manera de vivir</u> y lleguen a conocer
                ... lo que es bueno, lo que le es grato, lo que es perfecto.”
                <br/>
                <small class="float-start">
                    Romanos 12:2 (DHH)
                </small>
            </p>


            <h5 class="text-izq text-600">
                2) Experimenta Su {{ completa_lugar('dos') | raw }} y deshazte de la vergüenza
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “… Me dije: “.. en mi boca pondré una mordaza … Guardé un completo silencio, quedé totalmente callado,
                pero <u>mi dolor crecía, ardía mi corazón</u> dentro de mí; de tanta angustia me iba inflamando hasta
                que mi lengua rompió a hablar”
                <br/>
                <small class="float-start">
                    Salmos 39:1-3 (BTI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Así que acerquémonos con toda confianza al <u>trono de la gracia</u> de nuestro Dios. Allí recibiremos
                su misericordia y encontraremos la gracia que nos ayudará cuando más la necesitemos. “
                <br/>
                <small class="float-start">
                    Hebreos 4:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cuídense unos a otros, para que <u>ninguno de ustedes deje de recibir la gracia de Dios</u>. Tengan
                cuidado de que no brote ninguna raíz venenosa de amargura, la cual los trastorne a ustedes y envenene a
                muchos.“
                <br/>
                <small class="float-start">
                    Hebreos 12:15 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3) Entrega el {{ completa_lugar('tres') | raw }} y libérate del pasado.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Eres tú quien se hace daño con tu enojo. “
                <br/>
                <small class="float-start">
                    Job 18:4 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No paguen a nadie mal por mal… No tomen venganza, hermanos míos, sino <u>dejen el castigo en las manos
                    de Dios</u>, porque está escrito: “Mía es la venganza; yo pagaré”, dice el Señor”
                <br/>
                <small class="float-start">
                    Romanos 12:17-19 (NBD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Jesús: “Cuando proferían insultos contra él, no replicaba con insultos; cuando padecía, no amenazaba,
                sino que <u>se entregaba a aquel que juzga con justicia</u>.“
                <br/>
                <small class="float-start">
                    1° Pedro 2:23 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4) Rendite a {{ completa_lugar('cuatro') | raw }} y encontrá la fuerza.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Nosotros <b>sabemos cuánto nos ama Dios</b> y hemos puesto nuestra confianza en su amor. Dios es amor,
                y todos los que viven en amor viven en Dios y Dios vive en ellos; y al vivir en Dios, <u>nuestro amor
                    crece hasta hacerse perfecto</u>. ...<br/>
                En esa clase de amor <u>no hay temor</u>, porque el amor perfecto expulsa todo temor. <u>Si tenemos
                    miedo</u>... esto muestra que no hemos experimentado plenamente el perfecto amor de Dios.<br/>
                <u>Nos amamos unos a otros</u>, porque <u>él nos amó primero</u>.“
                <br/>
                <small class="float-start">
                    1° Juan 4:16-19 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<u>Dios nos consuela</u> en todos nuestros sufrimientos para que también, <u>nosotros podamos
                    consolar</u> a quienes sufren, dándoles el mismo consuelo que recibimos de él.“
                <br/>
                <small class="float-start">
                    2° Corintios 1:4 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                5) Decidí {{ completa_lugar('cinco') | raw }} y abrazá el futuro.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pero <u>si le entregas tu corazón</u> y hacia él extiendes las manos, ... entonces podrás llevar la
                frente en alto y mantenerte firme y libre de temor. Ciertamente <u>olvidarás tus pesares</u>, o los
                recordarás como el agua que pasó.“
                <br/>
                <small class="float-start">
                    Job 11:13-16 (NBD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Mira siempre <u>hacia adelante</u>, fija tu mirada en lo que está frente a ti.“
                <br/>
                <small class="float-start">
                    Proverbios 4:25 (PDT)
                </small>
            </p>



            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
{#                    Como construir una vida de amor#}
                </div>

{#                <div class="col-sm-8 mx-auto text-center">#}
{#                    <p class="text-14-300 font-italic pl-4 text-izq">#}
{#                        1. {{ completa_lugar('once') | raw }} como el amor maduro actúa y responde.#}
{#                    </p>#}
{#                    <p class="text-14-300 font-italic pl-4 text-izq">#}
{#                        2. {{ completa_lugar('doce') | raw }} tu día recordando a diario ser amoroso.#}
{#                    </p>#}
{#                    <p class="text-14-300 font-italic pl-4 text-izq">#}
{#                        3. {{ completa_lugar('trece') | raw }} lo que Dios dice acerca del amor.#}
{#                    </p>#}
{#                    <p class="text-14-300 font-italic pl-4 text-izq">#}
{#                        4. {{ completa_lugar('catorce') | raw }} actua en maneras amorosas y desinteresadas.#}
{#                    </p>#}
{#                    <p class="text-14-300 font-italic pl-4 text-izq">#}
{#                        5. {{ completa_lugar('quince') | raw }} de otra gente amorosa.#}
{#                    </p>#}
                    <h6 class="text-centrado text-600">

                        “El amor nunca falla” 1° Corintios 13:8 (VBL)
                    </h6>
{#                </div>#}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
