<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            {#            <h4 class="text-izq text-600"> #}
            {#                EN LA TORMENTA #}
            {#            </h4> #}
            <p class="text-14-300 font-italic pl-4">
                "Manténganse despiertos y oren… porque el espíritu está dispuesto, pero el cuerpo es débil»."
                <br/>
                <small class="float-end">
                    Mateo 26:41 (DHH-NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "No sean perezosos; más bien, imiten a quienes por su fe y perseverancia heredan las promesas."
                <br/>
                <small class="float-end">
                    Hebreos 6:12
                </small>
            </p>
            <h4 class="text-izq text-600">
                CÓMO VIVIR UNA FE ACTIVA
            </h4>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                "Cuando Jesús regresó a Capernaúm varios días después, enseguida corrió la voz de que había vuelto a
                casa. Pronto la casa donde se hospedaba estaba tan llena de visitas que no había lugar ni siquiera
                frente a la puerta.”
                <br/>
                <small class="float-end">
                    Marcos 2:1-2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Mientras él les predicaba la palabra de Dios, llegaron cuatro hombres cargando a un paralítico en una
                camilla.”
                <br/>
                <small class="float-end">
                    Marcos 2:2-3 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Como no podían llevarlo hasta Jesús debido a la multitud, abrieron un agujero en el techo, encima de
                donde estaba Jesús. Luego bajaron al hombre en la camilla, justo delante de Jesús.” .”
                <br/>
                <small class="float-end">
                    Marcos 2:4 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Al ver la fe de ellos, Jesús le dijo al paralítico: «Hijo mío, tus pecados son perdonados».”
                <br/>
                <small class="float-end">
                    Marcos 2:5 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Algunos de los maestros de la ley religiosa que estaban allí sentados pensaron: «¿Qué es lo que dice?
                ¡Es una blasfemia! ¡Sólo Dios puede perdonar pecados!». En ese mismo instante, Jesús supo lo que
                pensaban, así que les preguntó: «¿Por qué cuestionan eso en su corazón? ¿Qué es más fácil decirle al
                paralítico: “Tus pecados son perdonados” o “Ponte de pie, toma tu camilla y camina”?”
                <br/>
                <small class="float-end">
                    Marcos 2:6-9 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Así que les demostraré que el Hijo del Hombre tiene autoridad en la tierra para perdonar pecados».
                Entonces Jesús miró al paralítico y dijo: «¡Ponte de pie, toma tu camilla y vete a tu casa!».”
                <br/>
                <small class="float-end">
                    Marcos 2:10-11 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Y el hombre se levantó de un salto, tomó su camilla y salió caminando entre los espectadores, que
                habían quedado atónitos. Todos estaban asombrados y alababan a Dios, exclamando: «¡Jamás hemos visto
                algo así!»."
                <br/>
                <small class="float-end">
                    Marcos 2:12 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                1. MIRÁ A LOS QUE {{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Lo que cuenta es la fe, una fe activa por medio del amor."
                <br/>
                <small class="float-end">
                    Gálatas 5:6 (DHH)
                </small>
            </p>
            <h5 class="text-izq">
                2. {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Así como el cuerpo sin aliento está muerto, así también la fe sin buenas acciones está muerta."
                <br/>
                <small class="float-end">
                    Santiago 2:26 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                3. {{ completa_lugar('tres') | raw }} ANTE LOS OBSTÁCULOS.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Corramos con perseverancia la carrera que tenemos por delante."
                <br/>
                <small class="float-end">
                    Hebreos 12:1 (NVI)
                </small>
            </p>
            <h5 class="text-izq">
                4. {{ completa_lugar('cuatro') | raw }} TU CORAZÓN CON EL DE DIOS.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Pues Dios trabaja en ustedes y les da el deseo y el poder para que hagan lo que a él le agrada."
                <br/>
                <small class="float-end">
                    Filipenses 2:13 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                5. RENUNCIA AL {{ completa_lugar('cinco') | raw}}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “… unos hombres" Lucas 5:18 (NVI)
                <br/>
                <small class="float-end">
                    Lucas 5:18 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Trabajen de buena gana en todo lo que hagan, como si fuera para el Señor y no para la gente. Recuerden que el Señor los recompensará con una herencia y que el Amo a quien sirven es Cristo;"
                <br/>
                <small class="float-end">
                    Colosenses 3:23-24 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Dios "sabe recompensar a quienes lo buscan."
                <br/>
                <small class="float-end">
                    Hebreos 11:6 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Fijos los ojos en el pionero y consumador de la fe, Jesús; el cual, por la dicha que le esperaba, sobrellevó la cruz, despreciando la ignominia, está sentado a la derecha del trono de Dios."
                <br/>
                <small class="float-end">
                    Hebreos 12:2 (SM)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
