<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h3 class="text-centrado text-600">
                No somos un cuerpo con alma,<br/> somos un alma con un cuerpo.
            </h3>

            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-end">
                    Génesis 2:7 (NVI) dice:
                </small>
                <br/>
                “Y Dios el Señor formó al hombre del polvo de la tierra, y sopló en su nariz hálito de vida, y el hombre
                se convirtió en un ser viviente.”
            </p>
            <h4 class="text-centrado text-600">
                Muchos de nosotros tenemos un alma inquieta.
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-end">
                    Salomón en Eclesiastés 2:22-23 (NTV)
                </small>
                <br/>
                “Después de tantos trabajos, esfuerzos y preocupaciones, ¿qué nos llevamos de este mundo? ¡Nada! Nuestra
                vida está llena de dolor y sufrimiento; <b>ni de noche logramos descansar</b>. ¡Eso no tiene sentido!”
            </p>
            <h4 class="text-centrado text-600">
                Dios no quiere que vivamos de esta manera.
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Dios eligió lo que el mundo considera ridículo para avergonzar a los que se creen sabios. Y escogió
                cosas que no tienen poder para avergonzar a los poderosos. <sup>28</sup> <u>Dios escogió lo despreciado
                    por el mundo</u> —lo que se considera como nada— y lo usó para convertir en nada lo que el mundo
                considera importante.”
                <br/>
                <small class="float-end">
                    1 Corintios 1:27-28 (NTV)
                </small>
            </p>


            <h4 class="text-centrado text-600">
                ¿Dónde encontramos descanso para nuestras almas?
            </h4>

            <h5 class="text-izq text-600">
                Nuestras almas encuentran descanso {{ completa_lugar('uno') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-end">
                    David lo dijo de esta manera en el Salmo 62:1. (NVI)
                </small>
                <br/>
                “<b>Solo en Dios</b> halla descanso mi alma; de él viene mi salvación.”


            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-end">
                    Jesús lo dijo de esta manera en Mateo 11:28-29 (RVC)
                </small>
                <br/>
                “<b>Vengan a mí</b> todos ustedes, los agotados de tanto trabajar, que yo los haré descansar. Lleven mi
                yugo sobre ustedes, y aprendan de mí, que soy manso y humilde de corazón, y hallarán <b>descanso para su
                    alma</b>;”
            </p>
            <h4 class="text-centrado text-600">
                ¿Cómo descanso en Dios?
            </h4>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('dos') | raw }} delante de Dios.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-end">
                    Salmo 46:10 (NVI)
                </small>
                <br/>
                “Quédense quietos, reconozcan que yo soy Dios.”
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-end">
                    Mire lo que dice David en el Salmo 131:2 a (NTV)
                </small>
                <br/>
                “En cambio, me he calmado y aquietado ….”
            </p>

            <h5 class="text-izq text-600">
                2. {{ completa_lugar('tres') | raw }} en Él.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-end">
                    Dice en el Salmo 37:7 (RVC)
                </small>
                <br/>
                “Guarda silencio ante el Señor, y espera en él; …”
            </p>
            <h5 class="text-centrado text-600">
                Quédate quieto, abre la Palabra de Dios y espéralo.
            </h5>
            <h5 class="text-izq text-600">
                Luego viene la parte más difícil,<br/> que es {{ completa_lugar('cuatro') | raw }}, <br/> lo que Dios te
                está diciendo o pidiendo.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-end">
                    La Biblia dice en el Salmo 130:5-6 (LBLA)
                </small>
                <br/>
                “Espero en el Señor; <b>en Él espera mi alma</b>, y en su palabra tengo mi esperanza. Mi alma espera al
                Señor más que los centinelas a la mañana; sí, más que los centinelas a la mañana.”
            </p>
            <h5 class="text-izq text-600">
                3. {{ completa_lugar('cinco') | raw }} un momento y reflexiona {{ completa_lugar('seis') | raw }} de
                Dios.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                <small class="float-end">
                    Dice en el Salmo 116:7-9 (NVI)
                </small>
                <br/>
                “<b>¡Ya puedes, alma mía, estar tranquila</b>, que el Señor ha sido bueno contigo!<br/>
                Tú, Señor, me has librado de la muerte, has enjugado mis lágrimas, no me has dejado tropezar. Por eso
                andaré siempre delante del Señor en esta tierra de los vivientes.”
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
