<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Realmente no me entiendo a mí mismo, porque quiero hacer lo que es correcto pero no lo hago. En cambio,
                <b>hago lo que odio</b>.”
                <br/>
                <small class="float-start">
                    Romanos 7:15 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                CUANDO TE ENFRENTES A UNA SITUACIÓN EN TU PROPIA VIDA EN EL FUTURO,<br/>
                HAS PRE-DETERMINADO DE ANTEMANO, TOMAR UNA ACCIÓN MUY ESPECÍFICA
            </h4>
            <h5 class="text-centrado text-600">
                ¿Por qué es importante la consistencia?
            </h5>
            <h6 class="text-14-300 font-italic pl-4 text-center">
                Porque las personas exitosas, hacen consistentemente lo que otras personas hacen ocasionalmente.
            </h6>
            <h5 class="text-izq text-600">
                ¿Cómo hacemos para aprender a ser consistentes?
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                La historia de Daniel:<br/>

                “Entonces los demás administradores y altos funcionarios comenzaron a buscar alguna falta en la manera
                en que Daniel conducía los asuntos de gobierno, pero no encontraron nada que pudieran criticar o
                condenar. Era fiel, siempre responsable y totalmente digno de confianza.”

                <br/>
                <small class="float-start">
                    Daniel 6:4 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Sin embargo, cuando Daniel oyó que se había firmado la ley, fue a su casa y se arrodilló como de
                costumbre en la habitación de la planta alta, con las ventanas abiertas que se orientaban hacia
                Jerusalén. Oraba tres veces al día, tal como siempre lo había hecho, dando gracias a su Dios.”

                <br/>
                <small class="float-start">
                    Daniel 6:10 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El rey… mandó que sacaran a Daniel del foso. No tenía ningún rasguño, porque había confiado en su
                Dios.”
                <br/>
                <small class="float-start">
                    Daniel 6:23 (NTV)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                Un plan de solo 3 Acciones simples:
            </h4>
            <h5 class="text-izq text-600">
                01. Empezá por el {{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Sin embargo, cuando Daniel oyó que se había firmado la ley, fue a su casa y se arrodilló como de
                costumbre…….
                <br/>
                <small class="float-start">
                    Daniel 6:10 (a)
                </small>
            </p>
            <h5 class="text-izq text-600">
                02. Planea {{ completa_lugar('dos') | raw }}.
            </h5>
            <h6 class="text-izq text-600">
                ¿Por qué muchos de nosotros somos inconsistentes?<br/>
                Es porque tenemos una mentalidad de todo o nada.<br/>
                Si te saltas un día, no te pierdas dos.<br/>
                Hay que mantener simple las cosas
            </h6>
            <h5 class="text-izq text-600">
                03. Enamórate del {{ completa_lugar('tres') | raw }}.
            </h5>
            <h6 class="text-izq text-600">
                No tendrás éxito cuando logres el objetivo en el futuro.
            </h6>
            <h5 class="text-centrado text-600">
                TENÉS ÉXITO CUANDO HONRAS A DIOS {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¡Soy un pobre desgraciado! ¿Quién me libertará de esta vida dominada por el pecado y la muerte?
                ¡Gracias a Dios! La respuesta está en Jesucristo nuestro Señor.”
                <br/>
                <small class="float-start">
                    Romanos 7:24-25 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                ¿Dónde te llama Dios a ser consistente?
            </h4>


            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    {{ completa_lugar('cinco') | raw }}<br/>
                    {{ completa_lugar('seis') | raw }}
                </div>
            </div>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
