<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Puede el etíope cambiar el color de su piel? ¿Puede un leopardo cambiar sus manchas? Así mismo,
                ustedes no pueden hacer el bien estando tan acostumbrados a hacer el mal.”
                <br/>
                <small class="float-end">
                    Jeremías 13:23 (PDT)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                El poder del cambio
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pedro estaba sentado afuera, en el patio, y una criada se le acercó. --Tú también estabas con Jesús de
                Galilea --le dijo. Pero él lo negó delante de todos, diciendo: --No sé de qué estás hablando... --¡A ese
                hombre ni lo conozco!.. Y comenzó a echarse maldiciones, y les juró: -¡A ese hombre ni lo conozco! Y
                saliendo de allí, <u>lloró amargamente</u>”
                <br/>
                <small class="float-end">
                    Mateo 26:69-75
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces Pedro, <u>lleno del Espíritu Santo</u>, les dijo: Gobernantes y ancianos de nuestro pueblo,
                ... Jesucristo de Nazaret, el hombre a quien ustedes crucificaron pero a quien Dios levantó de los
                muertos.” ... «¿Acaso piensan que Dios quiere que los obedezcamos a ustedes en lugar de a él?
                <sup>20</sup> Nosotros no podemos dejar de hablar acerca de todo lo que hemos visto y oído».”
                <br/>
                <small class="float-end">
                    Hechos 4:8-11 y 18-20 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Cuatro maneras de colaborar con el cambio.
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Dejen que Dios los transforme en personas nuevas al cambiarles la manera de pensar”
                <br/>
                <small class="float-end">
                    Romanos 12:2 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                1. Avanzá {{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “La sabiduría es la meta del inteligente, pero el necio no tiene meta fija.”
                <br/>
                <small class="float-end">
                    Proverbios 17:24 (DHH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Danos hoy el pan nuestro de cada día.”
                <br/>
                <small class="float-end">
                    Mateo 6:11 (NBLH)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Enfócate {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Concéntrense en todo lo que es verdadero, todo lo honorable, todo lo justo, todo lo puro, todo lo bello
                y todo lo admirable. Piensen en cosas excelentes y dignas de alabanza.”
                <br/>
                <small class="float-end">
                    Filipenses 4:8 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Por eso les digo: dejen que el Espíritu Santo los guíe en la vida. Entonces no se dejarán llevar por
                los impulsos de la naturaleza pecaminosa.”
                <br/>
                <small class="float-end">
                    Gálatas 5:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Como el hierro se afila con hierro, así un amigo se afila con su amigo.”
                <br/>
                <small class="float-end">
                    Proverbios 27:17 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Confía completamente en {{ completa_lugar('tres') | raw }}, no en tu poder.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todo lo puedo en Cristo que me fortalece.”
                <br/>
                <small class="float-end">
                    Filipenses 4:13 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Descansa en {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Estoy seguro que Dios, que comenzó en ustedes la buena obra, les seguirá ayudando a crecer en su gracia
                hasta que la obra que realiza en ustedes quede completa.”
                <br/>
                <small class="float-end">
                    Filipenses 1:6 (BAD)
                </small>
            </p>

            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “<b>Estoy firmemente convencido</b> de que aquel que comenzó en ustedes la buena obra <b>la #}
            {#                        completará</b> hasta el Día de Cristo Jesús.” #}
            {#                    <br/> #}
            {#                    Filipenses 1:6 (BPD) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
