<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        LA TRAMPA DE LA IMPROVISACIÓN
        <br/>
        <small>
            Serie: Rompe tus muros - Parte 3
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Después llegaron a Jericó y mientras Jesús y sus discípulos salían de la ciudad, una gran multitud los
        siguió. Un mendigo ciego llamado Bartimeo (hijo de Timeo) estaba sentado junto al camino."
        <br/>
        <small class="float-right">
            Marcos 10:46 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        "Cuando Bartimeo oyó que Jesús de Nazaret estaba cerca, comenzó a gritar: «¡Jesús, Hijo de David, ten
        compasión de mí!». «¡Cállate!», muchos le gritaban, pero él gritó aún más fuerte: «¡Hijo de David, ten
        compasión de mí!».
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        “Cuando Jesús lo oyó, se detuvo y dijo: «Díganle que se acerque». Así que llamaron al ciego.
        «Anímate —le dijeron. ¡Vamos, él te llama!». Bartimeo echó a un lado su abrigo, se levantó de un salto y
        se acercó a Jesús.”
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
        “¿Qué quieres que haga por ti? —preguntó Jesús. Mi Rabí —dijo el hombre ciego—, ¡quiero ver! Y Jesús le
        dijo: Puedes irte, pues tu fe te ha sanado. Al instante el hombre pudo ver y siguió a Jesús por el camino."
        <br/>
        <small class="float-right">
            Marcos 10:47-52 (NTV)
        </small>
    </p>
    <strong>
        Dios te pregunta: “¿Qué {{ completa_lugar('uno') | raw}} por vos?”
    </strong>
    <br/>
    <strong>
        ¿POR QUÉ ESTABLECER METAS ES IMPORTANTE LOGRAR MI DESTINO?
    </strong>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                1. ESTABLECER METAS ES UNA {{ completa_lugar('dos') | raw }}
            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Cuando Bartimeo oyó que Jesús de Nazaret estaba cerca, comenzó a gritar: «¡Jesús, Hijo de David,
                ten compasión de mí!»."
                <br/>
                <small class="float-right">
                    Marcos 10:47 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “No quiero decir que ya llegué a la perfección en todo, sino que sigo adelante. Estoy tratando de
                alcanzar esa meta, pues esa es la razón por la cual Jesucristo me alcanzó a mí. Hermanos, no considero
                haber llegado ya a la meta, pero esto sí es lo que hago: me olvido del pasado y me esfuerzo por
                alcanzar lo que está adelante. Sigo hacia la meta para ganar el premio que Dios me ofreció cuando me
                llamó por medio de Jesucristo. Entonces tengamos esa misma actitud todos los que hemos llegado a la
                madurez…”
                <br/>
                <small class="float-right">
                    Filipenses 3:12-15 (PDT)
                </small>
            </p>
            <strong>
                2. LAS METAS ME AYUDAN A SUPERAR LA {{ completa_lugar('tres') | raw }}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "La gente comenzó a reprender al ciego para que se callara, pero él gritaba con más fuerza
                todavía: —Señor, tú que eres el Mesías, ¡ten compasión de mí y ayúdame!"
                <br/>
                <small class="float-right">
                    Marcos 10:48 (TLA)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Si tienes miedo de la gente, tú mismo te tiendes una trampa; pero si confías en Dios estarás fuera
                de peligro."
                <br/>
                <small class="float-right">
                    Proverbios 29:25 (TLA)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Corramos con perseverancia la carrera que tenemos por delante. Fijemos la mirada en Jesús… quien por
                el gozo que le esperaba, soportó la cruz … y ahora está sentado a la derecha del trono de Dios."
                <br/>
                <small class="float-right">
                    Hebreos 12:1-2 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                Job: “¿Me quedan fuerzas para esperar o tengo una meta que me impulsa a seguir?”
                <br/>
                <small class="float-right">
                    Job 6:11 (BLPH)
                </small>
            </p>
            <strong>
                3. LAS METAS SON DECLARACIONES {{ completa_lugar('cuatro') | raw }}
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Jesús le dijo: -¿Qué quieres que haga por ti? El ciego respondió: -Maestro, quiero ver de nuevo."
                <br/>
                <small class="float-right">
                    Marcos 10:51 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Sin fe es imposible agradar a Dios"
                <br/>
                <small class="float-right">
                    Hebreos 11:6 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Todo lo que no se hace con la convicción que da la fe, es pecado."
                <br/>
                <small class="float-right">
                    Romanos 14:23 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Dios tiene poder para hacer mucho más de lo que le pedimos. ¡Ni siquiera podemos imaginar lo que
                Dios puede hacer para ayudarnos con su poder!"
                <br/>
                <small class="float-right">
                    Efesios 3:20 (TLA)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Se hará con ustedes conforme a su fe.”
                <br/>
                <small class="float-right">
                    Mateo 9:29 (NVI)
                </small>
            </p>
            <br/>
            <strong>
                4. LAS METAS {{ completa_lugar('cinco') | raw }} MI ENERGÍA
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Yo no corro sin una meta ni peleo como los boxeadores que sólo dan golpes al aire.”
                <br/>
                <small class="float-right">
                    1 Corintios 9:26 (PDT)
                </small>
            </p>
            <strong>
                5. LAS METAS EDIFICAN {{ completa_lugar('seis') | raw }}
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Puedo decir que sigo adelante, luchando por alcanzar esa meta."
                <br/>
                <small class="float-right">
                    Filipenses 3:12 (TLA)
                </small>
            </p>
            <br/>
            <strong>
                6. LAS BUENAS METAS SERÁN {{ completa_lugar('siete') | raw }}.
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Jesús le dijo: -Puedes irte, tu fe te ha sanado. En seguida el hombre pudo ver y se fue por el camino
                con Jesús."
                <br/>
                <small class="float-right">
                    Marcos 10:52 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “El que hace el bien se gana el respeto de los demás.”
                <br/>
                <small class="float-right">
                    Proverbios 11:27 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Todos los atletas se entrenan con disciplina. Lo hacen para ganar un premio que se desvanecerá, pero
                nosotros lo hacemos por un premio eterno. Por eso yo corro (directo a la meta) cada paso con propósito…”
                <br/>
                <small class="float-right">
                    1 Corintios 9:25-26a (NTV)
                </small>
            </p>
            <strong>
                7. LAS METAS NOS LEVAN A {{ completa_lugar('ocho') | raw }} DIOS
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Sin fe es imposible agradar a Dios"
                <br/>
                <small class="float-right">
                    Hebreos 11:6 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Todo lo que no se hace con la convicción que da la fe, es pecado."
                <br/>
                <small class="float-right">
                    Romanos 14:23 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Uno puede planear su vida, pero el SEÑOR decide lo que a uno le va a suceder.”
                <br/>
                <small class="float-right">
                    Proverbios 16:9 (PDT)
                </small>
            </p>
            <strong>
                NECESITARE EL {{ completa_lugar('nueve') | raw }} DE DIOS PARA LOGRARLO
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “No es por el poder ni por la fuerza, sino por mi Espíritu, dice el Señor.”
                <br/>
                <small class="float-right">
                    Zacarías 4:6 (NTV)
                </small>
            </p>
            <strong>
                NECESITARE LA {{ completa_lugar('diez') | raw }} DE DIOS PARA GUIARME
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Este libro de la ley no se apartará de tu boca, sino que meditarás en él día y noche, para que cuides
                de hacer todo lo que en él está escrito; porque entonces harás prosperar tu camino y tendrás éxito.”
                <br/>
                <small class="float-right">
                    Josué 1:8 (LBLA)
                </small>
            </p>
            <strong>
                NECESITARE AL {{ completa_lugar('once') | raw }} DE DIOS PARA APOYARME
            </strong>
            <br/>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Lo llamaron y le dijeron: -Alégrate y levántate, Jesús te está llamando."
                <br/>
                <small class="float-right">
                    Marcos 10:49 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “Una sola persona puede ser vencida, pero dos ya pueden defenderse; y si tres unen sus fuerzas, ya no
                es fácil derrotarlas.”
                <br/>
                <small class="float-right">
                    Eclesiastés 4:12 (TLA)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
