<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    <p class="text-14-300 font-italic pl-4 text-centrado">
                        “[Dios] Les ordenó a nuestros antepasados que se las enseñaran a sus hijos, para que la
                        siguiente generación las conociera incluso los niños que aún no habían nacido—, y ellos, a su
                        vez, las enseñarán a sus propios hijos. De modo que <u>cada generación volviera a poner su
                            esperanza en Dios</u>”
                        <br/>
                        <small class="float-start">
                            Salmos 78:5-7 (NTV)
                        </small>
                    </p>
                </div>
            </div>
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <div class="col-sm-10 mx-auto">

            </div>
            <h4 class="text-centrado text-600">
                8 RAZONES PARA LA ESPERANZA
            </h4>
            <h5 class="text-izq text-600">
                Porque he confiado en Jesús, no habrá...
            </h5>
            <h5 class="text-izq text-600">
                1. NO HAY CONDENACIÓN: {{ completa_lugar('uno') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ya no hay condenación para los que pertenecen a Cristo Jesús”
                <br/>
                <small class="float-start">
                    Romanos 8:1 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. NO HAY DOMINACIÓN: {{ completa_lugar('dos') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Porque ustedes pertenecen a él, el poder del Espíritu que da vida los ha libertado del poder del
                pecado, que lleva a la muerte.”
                <u>Voy a prepararles un lugar</u>,”
                <br/>
                <small class="float-start">
                    Romanos 8:2 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El conocer los mandamientos de Dios no nos arranca de las garras del pecado, porque no podemos guardar
                la ley ni la guardamos. Pero Dios, para salvarnos, puso en vigor un plan diferente. Envió a su propio
                Hijo... entregarlo en sacrificio por nuestros pecados”
                <br/>
                <small class="float-start">
                    Romanos 8:3 (BAD)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Los que están dominados por la naturaleza pecaminosa piensan en cosas pecaminosas, pero los que son
                controlados por el Espíritu Santo piensan en las cosas que agradan al Espíritu… permitir que el Espíritu
                les controle la mente lleva a la vida y a la paz.”
                <br/>
                <small class="float-start">
                    Romanos 8:5-6 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. NO HAY FINALIZACIÓN: {{ completa_lugar('tres') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El Espíritu de Dios, quien levantó a Jesús de los muertos, vive en ustedes; y así como Dios levantó a
                Cristo Jesús de los muertos, él dará vida a sus cuerpos mortales mediante el mismo Espíritu, quien vive
                en ustedes.”
                <br/>
                <small class="float-start">
                    Romanos 8:11 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Porque en esa esperanza fuimos salvados”
                <br/>
                <small class="float-start">
                    Romanos 8:24 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. NO HAY LIMITACIÓN: {{ completa_lugar('cuatro') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                El Espíritu Santo nos habla a lo más profundo del alma y nos asegura que somos hijos de Dios. Y como
                somos sus hijos, compartimos sus riquezas, pues todo lo que Dios le da a Jesucristo es ahora también
                nuestro.”
                <br/>
                <small class="float-start">
                    Romanos 8:16-17a (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pero si compartimos su gloria, también hemos de compartir sus sufrimientos. Sin embargo, lo que ahora
                sufrimos no tiene comparación con la gloria que nos dará después.”
                <br/>
                <small class="float-start">
                    Romanos 8:17-18 (BAD)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. NO HAY EQUIVOCACIÓN: {{ completa_lugar('cinco') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Sabemos que Dios hace que todas las cosas cooperen para el bien de los que lo aman y son llamados según
                el propósito que él tiene para ellos.”
                <br/>
                <small class="float-start">
                    Romanos 8:28 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Dios conoció a los suyos de antemano y los eligió para que llegaran a ser como su Hijo, a fin de que su
                Hijo fuera el hijo mayor de muchos hermanos.”
                <br/>
                <small class="float-start">
                    Romanos 8:29 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El Espíritu Santo nos ayuda en nuestra debilidad. Por ejemplo, nosotros no sabemos qué quiere Dios que
                le pidamos en oración, pero el Espíritu Santo ora por nosotros.”
                <br/>
                <small class="float-start">
                    Romanos 8:26 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                6. NO HAY INTIMIDACIÓN: {{ completa_lugar('seis') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “¿Qué podemos decir acerca de cosas tan maravillosas como éstas? Si Dios está a favor de nosotros,
                ¿quién podrá ponerse en nuestra contra?”
                <br/>
                <small class="float-start">
                    Romanos 8:31 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “¿Quién podrá acusar al pueblo que Dios ha escogido? Dios es el que nos aprueba.”
                <br/>
                <small class="float-start">
                    Romanos 8:33 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “En todo esto obtenemos una amplia victoria, gracias a aquel que nos amó.”
                <br/>
                <small class="float-start">
                    Romanos 8:37 (BPD)
                </small>
            </p>

            <h5 class="text-izq text-600">
                7. NO HAY PRIVACIÓN: {{ completa_lugar('siete') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Si Dios no se guardó ni a su propio Hijo, sino que lo entregó por todos nosotros, ¿no nos dará también
                todo lo demás?”
                <br/>
                <small class="float-start">
                    Romanos 8:32 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                8. NO HAY SEPARACIÓN: {{ completa_lugar('ocho') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Y estoy convencido de que nada podrá jamás separarnos del amor de Dios. Ni la muerte ni la vida, ni
                ángeles ni demonios, ni nuestros temores de hoy ni nuestras preocupaciones de mañana. Ni siquiera los
                poderes del infierno pueden separarnos del amor de Dios. Ningún poder en las alturas ni en las
                profundidades, de hecho, nada en toda la creación podrá jamás separarnos del amor de Dios, que está
                revelado en Cristo Jesús nuestro Señor.”
                <br/>
                <small class="float-start">
                    Romanos 8:38-39 (NTV)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                {#                <div class="col-12 mx-auto text-center"> #}
                {#                    Cuanto más honestos seamos con Dios<br/> #}
                {#                    más profunda será nuestra amistad #}
                {#                </div> #}

                <div class="col-sm-8 mx-auto text-center">
                    “Vivan y actúen como es digno de los que han sido escogidos como receptores de tan maravillosas
                    bendiciones.” <<br>
                    Efesios 4:1 (BAD)
                </div>

                {#                <div class="col-12 mx-auto text-left"> #}
                {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    </h6> #}
                {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                </div> #}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
