<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h4 class="text-izq text-600"> #}
            {#                Las buenas prioridades… #}
            {#            </h4> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                “Su Padre celestial ya conoce <b>todas sus necesidades</b>. Busquen el reino de Dios por encima de todo
                lo demás y lleven <b>una vida justa</b>, y él les dará todo lo que necesiten.”
                <br/>
                <small class="float-end">
                    Mateo 6:31-33 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                a. ¿Cuál es el concepto del diezmo?
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “La décima parte de los productos de la tierra, … le pertenece al SEÑOR y debe ser apartada, es santa
                para el SEÑOR.”
                <br/>
                <small class="float-end">
                    Levítico 27:30 (NTV)
                </small>
            </p>

            <p class="text-centrado text-600">
                Devolver {{ completa_lugar('uno') | raw }} a Dios la décima parte de todo lo que recibo.
            </p>

            <h5 class="text-izq text-600">
                1. Es un acto de {{ completa_lugar('dos') | raw }} personal a Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Lleva ese diezmo al lugar de adoración designado… para que su nombre sea honrado. Esta práctica te
                enseñará a temer siempre al SEÑOR tu Dios.”
                <br/>
                <small class="float-end">
                    Deuteronomio 14:22-23 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Es un {{ completa_lugar('tres') | raw }} con el testimonio del pueblo de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Dáselo a los levitas —quienes no recibirán ninguna asignación de tierra… Entonces el SEÑOR tu Dios te
                bendecirá en todo.”
                <br/>
                <small class="float-end">
                    Deuteronomio 14:29 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Es un {{ completa_lugar('cuatro') | raw }} de fe en la provisión de Dios.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Honra al Señor con tus riquezas y con los primeros frutos de tus cosechas. Así tus graneros se llenarán
                a reventar y tus bodegas rebosarán de vino nuevo.”
                <br/>
                <small class="float-end">
                    Proverbios 3:9-10 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                b. Jesús y una invitación a dar más!
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Porque les digo a ustedes, que no van a entrar en el reino de los cielos a menos que <b>su justicia
                    supere</b> a la de los maestros de la ley.”
                <br/>
                <small class="float-end">
                    Mateo 5:20
                </small>
            </p>
            <h5 class="text-izq text-600">
                1. ¡Ofrenda! Pero primero asegurate estar {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Anda y reconcíliate con esa persona. Luego ven y presenta tu ofrenda a Dios.”
                <br/>
                <small class="float-end">
                    Mateo 5:23-24 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. ¡Ayuda al necesitado!, pero no para {{ completa_lugar('doce') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando le des a alguien que pasa necesidad,… Entrega tu ayuda en privado, y tu Padre, quien todo lo ve,
                te recompensará.”
                <br/>
                <small class="float-end">
                    Mateo 6:3-4 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. ¡Diezma!, pero primero asegurate lo mas {{ completa_lugar('seis') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Es cierto que deben diezmar, pero sin descuidar las cosas más importantes (la justicia, la misericordia
                y la fe.)”
                <br/>
                <small class="float-end">
                    Mateo 23:23 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600 ms-1">
                4. ¡Recuerda! No hay nada que pueda hacerte más {{ completa_lugar('siete') | raw }} que dar.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Hay más bendición en dar que en recibir”».”
                <br/>
                <small class="float-end">
                    Hechos 20:35 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                El principio de la siembra y la cosecha
                <br/>
                <small>
                    2° Corintios 9:6-11
                </small>
            </h4>

            <h5 class="text-izq text-600 ms-1">
                1. Cuando tenés una necesidad {{ completa_lugar('ocho') | raw }} una semilla.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Recuerden lo siguiente: un agricultor que siembra sólo unas cuantas semillas obtendrá una cosecha
                pequeña. Pero <b>el que siembra abundantemente</b> obtendrá una cosecha abundante.”
                <br/>
                <small class="float-end">
                    2° Corintios 9:6 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600 ms-1">
                2. Sembrá con la {{ completa_lugar('nueve') | raw }} correcta.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cada uno debe <b>decidir en su corazón</b> cuánto dar. Y no den de mala gana ni bajo presión, «porque
                Dios ama a la persona que da con <b>alegría</b>»”
                <br/>
                <small class="float-end">
                    2° Corintios 9:7 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600 ms-1">
                3. Sembrá con {{ completa_lugar('diez') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pues es Dios quien provee la semilla al agricultor y luego el pan para comer. De la misma manera, <b>él
                    proveerá y aumentará los recursos</b> de ustedes y luego producirá una gran cosecha de generosidad
                en ustedes.”
                <br/>
                <small class="float-end">
                    2° Corintios 9:10 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Den, y recibirán. Lo que den a otros les será devuelto por completo: apretado, sacudido para que haya
                lugar para más, desbordante y derramado sobre el regazo. <b>La cantidad que den determinará la cantidad
                    que recibirán a cambio</b>»”
                <br/>
                <small class="float-end">
                    Lucas 6:38 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Espera que Dios cumpla sus {{ completa_lugar('once') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Dios puede hacer que TODA gracia abunde para ustedes, de manera que siempre (en TODO tiempo), en TODA
                circunstancia, tengan TODO lo necesario, y TODA buena obra abunde en ustedes.”
                <br/>
                <small class="float-end">
                    2° Corintios 9:8 (NVI)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Efectivamente, serán enriquecidos en todo sentido para que siempre <b>puedan ser generosos</b>.”
                <br/>
                <small class="float-end">
                    2° Corintios 9:11 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
