<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq {
        color: #1b1e24;
        text-align: left !important;
    }
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="display-15 text-center font-italic">
                Tantas cosas que hoy parecen normales eran una locura hace cinco minutos.
                <br/>
                ¡Tantas cosas que nos parecen locas AHORA podrían ser normales mañana!
            </div>
            <br/>
            <h5 class="text-izq">
                ¿QUÉ ES CREER?
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Ahora bien, la fe es la certeza de lo que se espera,
                la convicción de lo que no se ve.”
                <br/>
                <small class="float-end">
                    Hebreos 11:1 (LBLA)
                </small>
            </p>
            <strong class="text-center">
                {{ completa_lugar('uno') | raw }}
            </strong>
            <h5 class="text-izq">
                ¿DÓNDE ESTÁS PARADO?
            </h5>
            <p class="text-14-300.centrado">
                ¿Sobre qué cimiento de fe estás edificando tu vida?
            </p>
            <p class="text-14-300.centrado">
               ◻ Rascacielos  ◻ Mansión  ◻ Casa Rodante  ◻ Baño Químico  ◻ Cucha
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “La hierba se seca y las flores se marchitan, pero la palabra de nuestro Dios permanece para siempre».”
                <br/>
                <small class="float-end">
                    Isaías 40:8 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                ¿CÓMO ES UNA FE LOCA?
            </h5>
            <div class="text-center font-italic">
            {{ completa_lugar('dos') | raw }} <br/>
                {{ completa_lugar('tres') | raw }} <br/>
            {{ completa_lugar('cuatro') | raw }}<br/>
            {{ completa_lugar('cinco') | raw }}<br/>
            </div>
            <br/>
            <br/>

            <h5 class="text-izq">
                ¡EL LOCO DEL BOTE!
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Dios le dijo a Noé: ... <sup>14</sup> Constrúyete un arca de madera resinosa, hazle compartimentos,
                y cúbrela con brea por dentro y por fuera ...<br/>
                <sup>17</sup> Porque voy a enviar un diluvio sobre la tierra, para destruir a todos los seres vivientes
                bajo el
                cielo ...<br/>
                <sup>18</sup> Pero contigo estableceré mi pacto, y entrarán en el arca tú y tus hijos, tu esposa y tus
                nueras.<br/>
                <sup>19</sup> Haz que entre en el arca una pareja de todos los seres vivientes..., para que sobrevivan
                contigo ...<br/>
                <sup>22</sup> Y Noé hizo todo según lo que Dios le había mandado.”
                <br/>
                <small class="float-end">
                    Génesis 6:12-22 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Por fe Noé, cuando Dios le advirtió lo que iba a ocurrir, a pesar de que no había ni el más leve
                indicio de que iba a haber un diluvio, <u>sin pérdida de tiempo</u> se puso a construir el arca en que él y su
                familia habrían de salvarse.<br/>
                Con aquella fe hizo resaltar el pecado y la incredulidad del resto del mundo y obtuvo la aprobación de
                Dios.”
                <br/>
                <small class="float-end">
                    Hebreos 11:7 (BAD)
                </small>
            </p>
            <h4 class="text-center">
                ¿Qué {{ completa_lugar('seis') | raw}} lo querés?
            </h4>
            <br/>
            <small>
                Profundiza más este tema leyendo<br/>
                el articulo en nuestro blog.<br/>
                <a href="https://blog.alameda.ar/es/blog/posts/cree1" target="_blank">
                    https://blog.alameda.ar/es/blog/posts/cree1
                </a>
            </small>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
