<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Hay más bendición en dar que en recibir”
                <br/>
                <small class="float-start">
                    Hechos 20:35 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/>
                (una determinada situación)
            </h5>
            <h5 class="text-izq text-600">
                Yo ya determinado de antemano {{ completa_lugar('dos') | raw }} <br/>
                (tomar esta acción)
            </h5>
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    <img src="{{ asset('images/seis_decisiones.png') }}"
                         class="img-fluid col-sm-3" alt="AlamedaCMS">
                </div>
            </div>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Pensó: “Ya sé. Tiraré abajo mis graneros y construiré unos más grandes. Así tendré lugar suficiente
                para <b>almacenar</b> todo mi trigo y mis otros bienes. Luego me pondré cómodo y me diré a mí mismo:
                ‘Amigo mío, tienes almacenado para muchos años. ¡Relájate! ¡Come y bebe y diviértete!’”
                <br/>
                <small class="float-start">
                    Lucas 12:18-19 (NTV)
                </small>
            </p>
            <h6 class="text-centrado">
                SI QUERÉS SER GENEROSO CUANDO TENGAS MÁS,<br/>
                APRENDÉ A SER GENEROSO CUANDO TENGAS {{ completa_lugar('tres') | raw }}.
            </h6>
            <h4 class="text-centrado text-600">
                Dos cualidades de la gente generosa
            </h4>
            <h5 class="text-izq text-600">
                1. La gente generosa {{ completa_lugar('cuatro') | raw }} ser generosa
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pero los generosos <b>proponen</b> hacer lo que es generoso y se mantienen <b>firmes</b> en su
                generosidad.“
                <br/>
                <small class="float-start">
                    Isaías 32:8 (NTV)
                </small>
            </p>
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    <img src="{{ asset('images/plan_financiero_general.png') }}"
                         class="img-fluid col-sm-3" alt="AlamedaCMS">
                </div>
            </div>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<b>Traigan todos los diezmos</b> al depósito del templo, para que haya suficiente comida en mi casa”
                <br/>
                <small class="float-start">
                    Malaquías 3:10 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<b>Pónganme a prueba</b> en esto y vean si no abro las ventanas del cielo para derramar sobre ustedes
                una lluvia de bendiciones hasta que les sobre de todo.“
                <br/>
                <small class="float-start">
                    Malaquías 3:10 (PDT)
                </small>
            </p>
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    <img src="{{ asset('images/plan_financiero_cristiano.png') }}"
                         class="img-fluid col-sm-3" alt="AlamedaCMS">
                </div>
            </div>

            <h6 class="text-centrado">
                NOSOTROS LE DAMOS A DIOS LO PRIMERO Y LO MEJOR Y<br/>
                {{ completa_lugar('cinco') | raw }} QUE ÉL BENDECIRÁ EL RESTO
            </h6>
            <h5 class="text-izq text-600">
                2. La gente generosa redondea para {{ completa_lugar('seis') | raw }}_
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Por mucho que desee, el perezoso acabará en la ruina, porque sus manos se niegan a trabajar. Hay
                quienes se la pasan codiciando todo el tiempo, ¡pero <b>a los justos les encanta dar</b>!“
                <br/>
                <small class="float-start">
                    Proverbios 21:25-26 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Al día siguiente, le dio dos monedas de plata al encargado de la posada y le dijo: “Cuida de este
                hombre. Si los gastos superan esta cantidad, te <b>pagaré la diferencia</b> la próxima vez que pase por
                aquí”.“
                <br/>
                <small class="float-start">
                    Lucas 10:35 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Mientras tanto, Zaqueo se puso de pie delante del Señor y dijo: Señor, daré la mitad de mi riqueza a
                los pobres y, si estafé a alguien con sus impuestos, le <b>devolveré cuatro veces más</b>.“
                <br/>
                <small class="float-start">
                    Lucas 19:8 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    DIOS NO SE QUEDA CON LO QUE SOBRA EN TU VIDA PORQUE EL {{ completa_lugar('diez') | raw }} TU #}
            {#                    VIDA.<br/> #}
            {#                    ÉL NO ES PARTE DEL PLAN ÉL ES EL PLAN<br/> #}
            {#                    BUSCARÉ PRIMERO LO PRIMERO PORQUE SOY CONSAGRADO. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
