<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">


            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <div class="col-sm-10 mx-auto">
                <h5 class="text-centrado text-600">
                    Todos tenemos problemas en la cabeza
                </h5>
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    “La mente es más <u>engañosa</u> que cualquier otra cosa: ¡está <u>incurablemente enferma</u>!
                    ¿Quién puede entenderla?”
                    <br/>
                    <small class="float-start">
                        Jeremías 17:9 (VBL)
                    </small>
                </p>
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    “La mente humana y pecaminosa lleva a la muerte... es reacia a Dios porque se niega a obedecer la
                    ley de Dios. Y de hecho, <u>no puede</u> hacerlo.”
                    <br/>
                    <small class="float-start">
                        Romanos 8:6-9 (VBL)
                    </small>
                </p>
                <h5 class="text-centrado text-600">
                    La solución de Dios: {{ completa_lugar('uno') | raw }}
                </h5>
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    “Nosotros tenemos la mente de Cristo.”
                    <br/>
                    <small class="float-start">
                        1° Corintios 2:16 (PDT)
                    </small>
                </p>
            </div>

            <h4 class="text-centrado text-600">
                Lo que pasa cuando Jesús te abre la cabeza
            </h4>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Entonces <u>les abrió la mente</u> para que entendieran las Escrituras”

                <br/>
                <small class="float-start">
                    Lucas 24:45 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                1. {{ completa_lugar('dos') | raw }} de este mundo importa
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                «Y les dijo: Efectivamente, se escribió hace mucho tiempo que el Mesías debería <u>sufrir, morir y
                    resucitar</u> al tercer día.”
                <br/>
                <small class="float-start">
                    Lucas 24:46 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Antes creía que esas cosas eran valiosas, pero ahora considero que no tienen ningún valor… Por amor a
                él, <u>he desechado todo lo demás</u> y lo considero basura …”
                <br/>
                <small class="float-start">
                    Filipenses 3:7-10 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Tengo una {{ completa_lugar('tres') | raw }} diferente de todas las cosas
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “También se escribió que <u>este mensaje</u> se proclamaría con la autoridad de su nombre a <u>todas las
                    naciones</u>...: “Hay perdón de pecados para todos los que se arrepientan”.”
                <br/>
                <small class="float-start">
                    Lucas 24:47 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Que sus <u>mentes</u> sean iluminadas a fin de que puedan entender <u>la esperanza</u> a la cual él los
                ha llamado:”
                <br/>
                <small class="float-start">
                    Efesios 1:18 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Fijen sus <u>mentes</u> en lo que está arriba y no aquí en la tierra”
                <br/>
                <small class="float-start">
                    Colosense 3:2 (VBL)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Sé quien {{ completa_lugar('cuatro') | raw }} y para qué estoy.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ustedes son <u>testigos</u> de todas estas cosas.»
                <br/>
                <small class="float-start">
                    Lucas 24:48 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ahora <u>ya no vivo yo</u>, sino que <u>Cristo vive en mí</u>. Y mientras vivo en este cuerpo, vivo por
                fe en el Hijo de Dios, quien me amó y entregó su vida para salvarme.”
                <br/>
                <small class="float-start">
                    Gálatas 2:20 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Vivo con una exclusiva {{ completa_lugar('cinco') | raw }} por Su gloria.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                Recibirán poder cuando el Espíritu Santo descienda sobre ustedes; y serán mis testigos, y <u>le hablarán
                    a la gente</u> acerca de mí en todas partes: ... hasta los lugares más lejanos de la tierra.”
                <br/>
                <small class="float-start">
                    Hechos 1:8 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Nosotros <u>no podemos</u> dejar de hablar acerca de todo lo que hemos visto y oído».”
                <br/>
                <small class="float-start">
                    Hechos 4:20 (NTV)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                Cómo mantener tu cabeza abierta
            </h4>
            <h5 class="text-izq text-600">
                1. Limpia tu mente de {{ completa_lugar('seis') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El necio se alimenta de <u>basura</u>.”
                <br/>
                <small class="float-start">
                    Proverbios 15:14 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Me negaré a <u>mirar</u> cualquier cosa vil o vulgar.”
                <br/>
                <small class="float-start">
                    Salmos 101:3 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Recupera tu {{ completa_lugar('siete') | raw }} personal con Dios
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No se <u>preocupen</u> por nada; en cambio, oren por todo... Así experimentarán la paz de Dios, ... La
                <u>paz</u> de Dios cuidará su corazón y su <u>mente</u> mientras vivan en Cristo Jesús.”
                <br/>
                <small class="float-start">
                    Filipenses 4:6-7 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Mantendrás en completa paz a los que mantienen su <u>mente</u> centrada en ti...”
                <br/>
                <small class="float-start">
                    Isaías 26:3 (VBL)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Renueva tu mente diariamente con {{ completa_lugar('ocho') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No se amolden al mundo actual, sino sean <u>transformados</u> mediante la <u>renovación</u> de su
                mente...”
                <br/>
                <small class="float-start">
                    Romanos 12:2 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “La <u>palabra</u> de Dios es viva y eficaz, ... penetra… juzgando los pensamientos y las intenciones de
                la <u>mente</u>.”
                <br/>
                <small class="float-start">
                    Hebreos 4:12 (VBL)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Sometete {{ completa_lugar('nueve') | raw }} a Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Todo muro que se interpone contra el conocimiento de Dios es derribado. Todo pensamiento <u>rebelde</u>
                es capturado y conducido a un acuerdo de <u>obediencia</u> a Cristo.”
                <br/>
                <small class="float-start">
                    2° Corintios 10:5 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Después de decir esto, Jesús fue levantado en una nube<br/>
                … dos hombres vestidos con túnicas blancas … dijeron…<br/>
                “un día <u>volverá</u> del cielo de la misma manera en que lo vieron irse!».”

                <br/>
                <small class="float-start">
                    Hechos 1:9-11 (NTV)
                </small>
            </p>

            {#            <div class="col-sm-10 mx-auto"> #}
            {#                                <div class="col-12 mx-auto text-center"> #}
            {#                                    Cuanto más honestos seamos con Dios<br/> #}
            {#                                    más profunda será nuestra amistad #}
            {#                                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}

            {#                </div> #}

            {#                <div class="col-12 mx-auto text-left"> #}
            {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
            {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
            {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
            {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
            {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
            {#                    </h6> #}
            {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
            {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
            {#                </div> #}
            {#        </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
