<style>
    .nota-style {
        border: 2px solid #b5f2f2; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
{# <div class="col-sm-12"> #}
{# <h3> #}
{# ¡CUANDO SEPAS QUIEN SOS! #}
{# <br/> #}
{# <small> #}
{# Serie: Oye el Ruido de rotas cadenas – Parte 7 #}
{# </small> #}
{# </h3> #}
{# <br/> #}
{# <p class="text-info text-14-300 text-left font-italic mb-5"> #}
{# "Pues, si escuchas la palabra…, sería como ver tu cara en un espejo; te ves a ti mismo…" #}
{# <br/> #}
{# <small class="float-right"> #}
{# Santiago 1:23-25 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# </div> #}

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <h4 class="nota-style">

            </h4>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "He tenido un sufrimiento, una especie de espina clavada en el cuerpo"
                <br/>
                <small class="float-right">
                    2 Corintios 12:7 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "En tres ocasiones distintas, le supliqué al Señor que me la quitara."
                <br/>
                <small class="float-right">
                    2 Corintios 12:8 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Cada vez él me dijo: «Mi gracia es todo lo que necesitas; mi poder actúa mejor en la debilidad»."
                <br/>
                <small class="float-right">
                    2 Corintios 12:9a (NTV)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                EL PROPÓSITO DE MI ESPINA.
            </h4>
            <strong>
                1. Esta espina es un {{ completa_lugar('uno') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Jesús le dijo: ¡Ponte de pie, toma tu camilla y anda!"
                <br/>
                <small class="float-right">
                    Juan 5:8 (NTV)
                </small>
            </p>

            <strong>
                2. Esta espina me {{ completa_lugar('dos') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "—¡Pero es que yo no sé hablar bien! Siempre que hablo, se me traba la lengua, y por eso nadie me hace
                caso.
                Este problema lo tengo desde niño."
                <br/>
                <small class="float-right">
                    Éxodo 4:10 (TLA)
                </small>
            </p>
            <strong>
                3. Esta espina es una {{ completa_lugar('tres') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Para impedir que me volviera orgulloso, se me dio una espina en mi carne, un mensajero de Satanás
                para atormentarme e impedir que me volviera orgulloso."
                <br/>
                <small class="float-right">
                    2 Corintios 12:7 (NTV)
                </small>
            </p>
            <strong>
                4. Esta espina es una {{ completa_lugar('cuatro') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Así como la calidad del oro se pone a prueba con el fuego, la confianza que ustedes tienen en Dios
                se pone a prueba con los problemas."
                <br/>
                <small class="float-right">
                    1 Pedro 1:7 (TLA)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                COMO SER LIBRE DE TUS FRUSTRACIONES SECRETAS.
            </h4>
            <strong>
                1. {{ completa_lugar('cinco') | raw }} tu espina.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Entonces Jacob durmió también con Raquel, y la amó mucho más que a Lea. Y se quedó allí y trabajó para
                Labán los siete años adicionales.”
                <br/>
                <small class="float-right">
                    Génesis 29:30-31 (NTV)
                </small>
            </p>

            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Cuando el SEÑOR vio que Lea no era amada, le concedió que tuviera hijos, pero Raquel no podía
                concebir."
                <br/>
                <small class="float-right">
                    Génesis 29:30-31 (NTV)
                </small>
            </p>
            <br/>
            <strong>
                2. {{ completa_lugar('seis') | raw }} en quien llevó la corona de espinas.
            </strong>

            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Por segunda vez y oró: «¡Padre mío! Si no es posible que pase esta copa a menos que yo la beba,
                entonces hágase tu voluntad».
                <br/>
                <small class="float-right">
                    Mateo 26:42-45 (NTV)
                </small>
            </p>

            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Fue a orar por tercera vez, repitió lo mismo. Luego se acercó a sus discípulos y les dijo:
                «¡Adelante, duerman y descansen! Pero miren, ha llegado la hora y el Hijo del Hombre es
                traicionado y entregado en manos de pecadores."
                <br/>
                <small class="float-right">
                    Mateo 26:42-45 (NTV)
                </small>
            </p>
            <br/>
            <strong>
                3. {{ completa_lugar('siete') | raw }} aun en tus frustraciones.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El Dios a quien servimos es capaz de salvarnos. Él nos rescatará de su poder, su Majestad;
                pero aunque no lo hiciera, deseamos dejar en claro ante usted que jamás serviremos a sus dioses
                ni rendiremos culto a la estatua de oro que usted ha levantado."
                <br/>
                <small class="float-right">
                    Daniel 3:17-18 (NTV)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
