<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Si regresas a mí te restauraré...</b>”
                <br/>
                <small class="float-end">
                    Jeremías 15:19-20 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todos los que cobraban impuestos para Roma y otra gente de mala fama <b>se acercaban a Jesús</b>, para
                oírlo. Los fariseos y los maestros de la ley lo criticaban por esto, diciendo: -Este <b>recibe</b> a los
                pecadores y come con ellos.”
                <br/>
                <small class="float-end">
                    Lucas 15:1-2 (DHH)
                </small>
            </p>
            <h4 class="text-izq text-600">
                La historia de todos - <small>Lucas 15:11-32 (NTV)</small>
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Un hombre tenía dos hijos. <sup>12</sup> El hijo menor le dijo al padre: “<b>Quiero la parte de mi
                    herencia ahora, antes de que mueras</b>”. Entonces el padre <b>accedió</b> a dividir sus bienes
                entre sus dos hijos.
                <br/>
                <small class="float-end">
                    {#                    Génesis 50:16-17 (NTV) #}
                </small>
            </p>
            <h5 class="text-izq text-600">
                La gravedad de la rebeldía
            </h5>
            <ul>
                <li>Daña tu {{ completa_lugar('uno') | raw }}</li>

                <li>Daña la {{ completa_lugar('dos') | raw }}</li>

                <li>Daña al {{ completa_lugar('tres') | raw }}</li>
            </ul>

            <p class="text-14-300 font-italic pl-4 text-center">
                <sup>13</sup> “Pocos días después, el hijo menor empacó sus pertenencias y se mudó <b>a una tierra
                    distante</b>, donde <b>derrochó todo</b> su dinero en una vida desenfrenada. <sup>14</sup> Al mismo
                tiempo que se le acabó el dinero, hubo <b>una gran hambruna</b> en todo el país, y él comenzó a <b>morirse</b>
                de hambre. <sup>15</sup> Convenció a un agricultor local de que lo <b>contratara</b>, y el hombre lo
                envió al campo para que diera de comer a sus cerdos. <sup>16</sup> El joven llegó a tener tanta hambre
                que hasta las algarrobas con las que alimentaba a los cerdos le parecían buenas para comer, <b>pero
                    nadie le dio nada</b>.”
                <br/>
                <small class="float-end">
                    {#                    Génesis 50:18-19 (NTV) #}
                </small>
            </p>
            <h5 class="text-izq text-600">
                Tres etapas en su espiral descendente.
            </h5>
            <ul>
                <li>(D) {{ completa_lugar('cuatro') | raw }} (15:14)</li>

                <li>(D) {{ completa_lugar('cinco') | raw }} (15:15)</li>

                <li>(D) {{ completa_lugar('seis') | raw }} (15:16)</li>
            </ul>

            <h4 class="text-izq text-600">
                El largo camino de regreso a casa.
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando finalmente entró en razón, se dijo a sí mismo: “<b>En casa</b>, hasta los jornaleros tienen
                comida de sobra, ¡y aquí estoy yo, muriéndome de hambre! <sup>18</sup> <b>Volveré a la casa de mi
                    padre</b> y le diré: ‘Padre, he pecado contra el cielo y contra ti. <sup>19</sup> Ya no soy digno de
                que me llamen tu hijo. Te ruego que me contrates como jornalero’ <sup>20</sup> “Entonces regresó a la
                casa de su padre...”
                <br/>
                <small class="float-end">
                    {#                    Génesis 50:20 (NTV) #}
                </small>
            </p>
            <ul>
                <li> {{ completa_lugar('siete') | raw }} claramente (v. 17a)</li>
                <li> Hacer las {{ completa_lugar('ocho') | raw }}. (v. 17b)</li>
                <li> {{ completa_lugar('nueve') | raw }} el regreso (v. 18)</li>
                <li>Aceptar las {{ completa_lugar('diez') | raw }}.</li>
                <li>Enfrentar la {{ completa_lugar('once') | raw }}.</li>
                <li>Reencontrarse con {{ completa_lugar('doce') | raw }}.</li>
                <li>Superar el temor al {{ completa_lugar('trece') | raw }}</li>
                <li>{{ completa_lugar('catorce') | raw }} sus pecados. (v. 18)</li>
                <li>Reclamar su {{ completa_lugar('quince') | raw }} (v.18)</li>
                <li>Aceptar su {{ completa_lugar('dieciseis') | raw }}.</li>
                <li>{{ completa_lugar('diecisiete') | raw }}</li>
                <li>Dar {{ completa_lugar('dieciocho') | raw }} concreto (v. 20)</li>
            </ul>
            <h4 class="text-izq text-600">
                La bienvenida
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “y cuando todavía estaba lejos, <b>su padre lo vio llegar</b>. Lleno de amor y de compasión, <b>corrió
                    hacia su hijo, lo abrazó y lo besó</b>. <sup>21</sup> Su hijo le dijo: “Padre, he pecado contra el
                cielo y contra ti, y ya no soy digno de que me llamen tu hijo”. <sup>22</sup> »<b>Sin embargo</b>, su
                padre dijo a los sirvientes: “Rápido, traigan la mejor túnica que haya en la casa y vístanlo. Consigan
                un anillo para su dedo y sandalias para sus pies. <sup>23</sup> Maten el ternero que hemos engordado.
                Tenemos que celebrar con un banquete, <sup>24</sup> porque <b>este hijo mío</b> estaba muerto y ahora ha
                vuelto a la vida; estaba perdido y ahora ha sido encontrado”. <b>Entonces comenzó la fiesta</b>.
                <br/>
                <small class="float-end">
                    {#                    Génesis 39:2 (NTV) #}
                </small>
            </p>
            <ul>
                <li>Él Padre lo espera aun estando lejos.</li>
                <li>El Padre toma la iniciativa.</li>
                <li>El Padre lo recibe desvergonzadamente</li>
                <li>El Padre cancela cualquier {{ completa_lugar('diecinueve') | raw }}.</li>
                <li>El Padre lo {{ completa_lugar('veinte') | raw }} completamente</li>
                <li>Él Padre tiene preparada una {{ completa_lugar('veintiuno') | raw }}</li>
            </ul>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Dios pagó un rescate para salvarlos de la vida vacía que heredaron de sus antepasados. Y el rescate que
                él pagó… fue la preciosa sangre de Cristo, <b>el Cordero de Dios</b>, que no tiene pecado ni mancha.”
                <br/>
                <small class="float-end">
                    1 P 1:18-19
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
