<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq {
        color: #1b1e24;
        text-align: left !important;
    }
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">


            <p class="text-14-300 pl-4 text-left">
                Caminar en fe comienza con dar {{ completa_lugar('uno') | raw }} en fe.
            </p>
            <strong class="text-center">
                Tan pequeño como sólo {{ completa_lugar('dos') | raw }}.
            </strong>
            <br/>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Dios… puede lograr mucho más de lo que pudiéramos pedir o incluso imaginar mediante su gran poder, que
                actúa en nosotros."
                <br/>
                <small class="float-end">
                    Efesios 3:20 (NTV)
                </small>
            </p>
            <strong>
                Tan pequeño como {{ completa_lugar('tres') | raw }}.
            </strong>
            <br/>


            <p class="text-14-300 font-italic pl-4">
                "Y Él les dijo: "Por la <b>poca fe</b> de ustedes; porque en verdad les digo que si tienen fe <b>como un
                    grano de mostaza…</b> nada les será imposible."
                <br/>
                <small class="float-end">
                    Mateo 17:20 (NBLH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Podrían decirle a esta montaña: “Muévete de aquí hasta allá”, y la montaña se movería"
                <br/>
                <small class="float-end">
                    Mateo 17:20 (NTV)
                </small>
            </p>
            <div class="col-md-6 col-sm-12 mx-auto py-2">
                <img src="{{ asset('image_entrada/SEMILLA-DE-MOSTAZA.jpg') | imagine_filter('squared_thumbnail_large_1920if') }}"
                     class="img-fluid" alt=" AlamedaCMS Semilla de mostaza "/>
            </div>
            <p class="text-14-300  pl-4">
                ¡Dios ve tus pequeños pasos, el cielo lo nota, y todo el reino sobrenatural lo siente cuando damos un
                paso adelante!
            </p>
            <br/>
            <strong>
                Tan pequeño como {{ completa_lugar('cuatro') | raw }}.
            </strong>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                "Por ese tiempo, los discípulos se acercaron a Jesús y le preguntaron: ¿Quién es el más importante en el
                reino del cielo?"
                <br/>
                <small class="float-right">
                    Mateo 18:1 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Les aseguro que a menos que ustedes cambien y se vuelvan como niños, no entrarán en el reino de los
                cielos."
                <br/>
                <small class="float-right">
                    Mateo 18:3 (NVI).
                </small>
            </p>
            <strong>
                Los niños {{ completa_lugar('cinco') | raw }} en su padre.
            </strong>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                “Dios está con nosotros”»."
                <br/>
                <small class="float-right">
                    Mateo 1:23 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                COMO DAR PEQUEÑOS GRANDES PASOS.
            </h5>
            <br/>
            <strong>
                1. Vuelve a lo {{ completa_lugar('seis') | raw }}.
            </strong>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                "No menosprecien estos modestos comienzos, pues el SEÑOR se alegrará cuando vea que el trabajo se
                inicia…»."
                <br/>
                <small class="float-right">
                    Zacarías 4:10 (NTV)
                </small>
            </p>
            <strong>
                2. {{ completa_lugar('siete') | raw }} por las pequeñas cosas.
            </strong>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                "Ten presente al Señor en todo lo que hagas, y él te llevará por el camino recto."
                <br/>
                <small class="float-right">
                    Proverbios 3:6 (DHH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Jesús les respondió: "En verdad les digo que si tienen fe y no dudan, no sólo harán lo de la higuera,
                sino que aun si dicen a este monte: 'Quítate y échate al mar,' así sucederá."
                <br/>
                <small class="float-right">
                    Mateo 21:21 (NBLH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Todo lo que pidan en oración, creyendo, lo recibirán."
                <br/>
                <small class="float-right">
                    Mateo 21:22 (NBLH)
                </small>
            </p>
            <strong>
                3. Recupera la {{ completa_lugar('ocho') | raw }}.
            </strong>
            <p class="text-14-300 font-italic pl-4">
                "Jesucristo es el mismo ayer, hoy y siempre."
                <br/>
                <small class="float-right">
                    Hebreos 13:8 (NTV)
                </small>
            </p>
            <strong>
                Mi <em><b><i>esperanza</i></b></em> es que:<br/>
                {{ completa_lugar('nueve') | raw }} <br/>
                Cualquier cosa que {{ completa_lugar('diez') | raw }} <b>es hasta dónde puede expandirse</b>
                tu {{ completa_lugar('once') | raw }}.
            </strong>
            <p class="text-14-300 font-italic pl-4">
                "Le pido a Dios, fuente de <b>esperanza</b>,<br/>
                que los <b>llene</b> completamente de alegría y paz, porque <b>confían</b> en él.<br/>
                Entonces <b>rebosarán</b> de una <b>esperanza</b> segura mediante el poder del Espíritu Santo."
                <br/>
                <small class="float-right">
                    Romanos 15:13 (NTV)
                </small>
            </p>
            <br/>

{#            <small>#}
{#                Profundiza más este tema leyendo<br/>#}
{#                el articulo en nuestro blog.<br/>#}
{#                <a href="https://blog.alameda.ar/es/blog/posts/cree1" target="_blank">#}
{#                    https://blog.alameda.ar/es/blog/posts/cree1#}
{#                </a>#}
{#            </small>#}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
