<div class="col-sm-12">
    <h3>
        ROMPE CADENAS DE DEPENDENCIA
        <br/>
        <small>
            Serie: Oye el Ruido de rotas cadenas – Parte 3
        </small>
    </h3>

</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <h3>
            MODOS DE DEPENDENCIA
        </h3>
        <br/>
        <h4>
            NECESITO RECIBIR:
        </h4>
        <strong>
            * A{{ completa_lugar('uno') | raw }}.
            * A{{ completa_lugar('dos') | raw }}.
            * A{{ completa_lugar('tres') | raw }}.
        </strong>
        <br/>
        <h4>
            ME SIENTO OBLIGADO A:
        </h4>
        <strong>
            * A{{ completa_lugar('cuatro') | raw }}.
            * A{{ completa_lugar('cinco') | raw }}.
            * A{{ completa_lugar('seis') | raw }}.
        </strong>
        <br/>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Así dice el Señor: "¡Maldito el hombre que confía en el hombre! ¡Maldito el que se apoya en su propia
            fuerza y aparta su corazón del Señor!"
            <br/>
            <small class="float-right">
                Jeremías 17:5 (NVI)
            </small>
        </p>
        <br/>
        <b>El problema es que esperando que alguien sea dios, o estás jugando a ser dios.</b>
        <br/>
        <h4>
            ¿CÓMO SER LIBRE DE LAS CADENAS DE DEPENDENCIA?
        </h4>
        <br/>
        <strong>
            Experimenta la {{ completa_lugar('siete') | raw }} y la {{ completa_lugar('ocho') | raw }} que Dios ya te ha
            dado.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Yo te amo; tú vales mucho para mí. Para salvarte la vida y para que fueras mi pueblo, tuve que pagar un
            alto precio."
            <br/>
            <small class="float-right">
                Isaías 43:3 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Yo soy valioso a los ojos del Señor"
            <br/>
            <small class="float-right">
                Isaías 49:5 (BPD)
            </small>
        </p>
        <br/>
        <strong>
            Acepta el {{ completa_lugar('nueve') | raw }} de la gente.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Entonces los discípulos se acercaron a Jesús y le preguntaron: – ¿Sabes que los fariseos se ofendieron al
            oír lo que dijiste?"
            <br/>
            <small class="float-right">
                Mateo 15:12 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “La aprobación de ustedes no significa nada para mí.”
            <br/>
            <small class="float-right">
                Juan 5:41 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Nuestro propósito es agradar a Dios, no a las personas."
            <br/>
            <small class="float-right">
                1 Tesalonicenses. 2:4 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Nadie en la tierra… puede enaltecer a nadie; Dios… decide quién se levantará y quién caerá.”
            <br/>
            <small class="float-right">
                Salmo 75:6-7 (NBV-NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Yo no busco la aprobación de los hombres, sino la aprobación de Dios. No busco quedar bien con los hombres.
            ¡Si yo quisiera quedar bien con los hombres, ya no sería un siervo de Cristo!”
            <br/>
            <small class="float-right">
                Gálatas 1:10 (DHH)
            </small>
        </p>
        <br/>
        <strong>
            Deja de intentar ser el {{ completa_lugar('diez') | raw }}.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Dios nos ha llamado a vivir en paz. Pues ¿cómo sabes tú, esposa, si acaso puedes salvar a tu esposo?
            ¿O cómo sabes tú, esposo, si acaso puedes salvar a tu esposa?"
            <br/>
            <small class="float-right">
                1 Corintios 7:16 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No se engañen: de Dios nadie se burla. Cada uno cosecha lo que siembra. El que siembra para agradar a
            su naturaleza pecaminosa, de esa misma naturaleza cosechará destrucción; el que siembra para agradar al
            Espíritu, del Espíritu cosechará vida eterna."
            <br/>
            <small class="float-right">
                Gálatas 6:7-8 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “No reprendas al arrogante porque terminará odiándote; corrige al sabio y te respetará."
            <br/>
            <small class="float-right">
                Proverbios 9:8 (PDT)
            </small>
        </p>
        <br/>
        <strong>
            Rompe con sistemas de {{ completa_lugar('once') | raw }}.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Temer a la gente es una trampa peligrosa, pero confiar en el Señor significa seguridad."
            <br/>
            <small class="float-right">
                Proverbios 29:25 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Es mejor confiar en el Señor que en la gente."
            <br/>
            <small class="float-right">
                Salmos 118:8 (PDT)
            </small>
        </p>
        <br/>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
