<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                LAS DESVENTURAS DEL FRENTE “IJE” #}
            {#            </h5> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                “La esposa de uno de los del grupo de profetas se acercó a Eliseo gritando: —Mi esposo fue uno de tus
                siervos, y ahora está muerto. Tú sabes cómo honraba al Señor. ¡Pero le debía dinero a un hombre que
                ahora viene a quitarme a mis dos hijos para que sean sus <b>esclavos!</b><br/>
                <sup>2</sup> Eliseo le contestó: —¿Cómo te puedo ayudar? Dime, ¿qué hay en tu casa? La mujer dijo: —<b>No
                    tengo nada</b>, sólo un frasco de aceite de oliva.<br/>
                <sup>3</sup> Entonces Eliseo dijo: —Ve y habla con tus vecinos y pídeles prestados todos los frascos
                vacíos que tengan, <b>todos los que puedas.</b><br/>
                <sup>4</sup> Entra a tu casa y cierra la puerta, que estén sólo tú y tus hijos adentro. Usa el frasco de
                aceite y llena cada frasco vacío, uno tras otro.<br/>
                <sup>5</sup> Ella salió de hablar con Eliseo, entró a su casa y cerró la puerta, con sólo ella y sus dos
                hijos adentro. Sus dos hijos le llevaban los frascos y ella los llenaba.<br/>
                <sup>6</sup> Cuando todos los frascos ya estaban llenos, ella le preguntó a su hijo: —¿No quedan más
                frascos? Él le dijo: —No hay más. <b>Entonces el aceite dejó de fluir.</b><br/>
                <sup>7</sup> Luego le contó al hombre de Dios lo que había pasado, y Eliseo le dijo: — Ve, vende el
                aceite y <b>paga tu deuda. Con lo que queda podrán sostenerse tú y tus hijos.</b>”
                <br/>
                <small class="float-end">
                    2 Reyes 4:1-7 (PDT)
                </small>
            </p>

            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    Todo lo que Dios necesita es TODO lo que tenés<br/>
                    El recipiente, fue la excepción, de un milagro excepcional.
                </div>
            </div>


            <h4 class="text-izq text-600">
                Cómo Dios multiplica lo que tenés
            </h4>
            <h5 class="text-izq text-600">
                1) Pensá dentro de la caja
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Dime, ¿qué tienes en casa?.”
                <br/>
                <small class="float-end">
                    2 Reyes 4:2 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Aceptar tus {{ completa_lugar('uno') | raw }} hace que Dios pueda usarte mucho
                más allá de ellas.
            </h5>
            <h5 class="text-izq text-600">
                Dejá de {{ completa_lugar('dos') | raw }} lo que querés y empezá a trabajar lo
                que tenés
            </h5>

            <h5 class="text-izq text-600">
                2) Abraza tus limitaciones
            </h5>

            <h5 class="text-izq text-600">
                Tu {{ completa_lugar('tres') | raw }} limitación es la mayor oportunidad de Dios
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>¿Qué tienes en la mano?</b> preguntó el Señor. Una vara respondió Moisés.”
                <br/>
                <small class="float-end">
                    Éxodo 4:2 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “ --<b>¿Cuántos panes tienen</b> ustedes? --preguntó--. Vayan a ver. Después de averiguarlo, le dijeron:
                --Cinco, y dos pescados.”
                <br/>
                <small class="float-end">
                    Marcos 6:38 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3) Mové los límites de tu fe
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “....—Ve y habla con tus vecinos y pídeles prestados <b>todos</b> los <b>frascos vacíos</b> que tengan,
                <b>todos los que puedas</b>.”
                <br/>
                <small class="float-end">
                    2 Reyes 4:3 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                No podés {{ completa_lugar('cuatro') | raw}} tus pocos recursos pero podés conseguir muchas vasijas
            </h5>
            <h5 class="text-izq text-600">
                El llenará {{ completa_lugar('cinco') | raw}} vasija vacía que traigamos.
            </h5>
            <h5 class="text-izq text-600">
                <strong>Tenés todo lo que necesitas, nunca te conformes con menos de aquello para lo cual Dios te creo para vivir</strong>
            </h5>
            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/>
                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i>
                </div>
            </div>



            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
