<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq {
        color: #1b1e24;
        text-align: left !important;
    }
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <p class="text-14-300 pl-4 text-left"> #}
            {#                Caminar en fe comienza con dar {{ completa_lugar('uno') | raw }} en fe. #}
            {#            </p> #}
            {#            <strong class="text-center"> #}
            {#                Tan pequeño como sólo {{ completa_lugar('dos') | raw }}. #}
            {#            </strong> #}
            <br/>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Tener fe es estar seguro de lo que se espera."
                <br/>
                <small class="float-end">
                    Hebreos 11:1 (RVC)
                </small>
            </p>
            <strong class="text-center">
                CÓMO CAMINAR CON LA CERTEZA DE LA FE.
            </strong>
            <br/>
            <p class="text-14-300 pl-4 text-left">
                1. Abandona la idea del {{ completa_lugar('uno') | raw }} total
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Fijemos nuestra mirada en Jesús, en quien empieza y termina nuestra fe…"
                <br/>
                <small class="float-end">
                    Hebreos 12:2 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Mis pensamientos no se parecen en nada a sus pensamientos dice el SEÑOR. Y mis caminos están muy por
                encima de lo que pudieran imaginarse. 9 Pues así como los cielos están más altos que la tierra, así mis
                caminos están más altos que sus caminos y mis pensamientos, más altos que sus pensamientos."
                <br/>
                <small class="float-end">
                    Isaías 55:8-9 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Ahora nuestro conocimiento es parcial e incompleto,... Ahora vemos todo de manera imperfecta, como
                reflejos desconcertantes, pero luego veremos todo con perfecta claridad..."
                <br/>
                <small class="float-end">
                    1 Corintios 13:9-12 (NTV)
                </small>
            </p>
            <p class="text-14-300 pl-4 text-left">
                2. Supera el miedo al {{ completa_lugar('dos') | raw }}.
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Pero mi justo vivirá por la fe"
                <br/>
                <small class="float-end">
                    Hebreos 10:38 (NVI).
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "En realidad, sin fe es imposible agradar a Dios…"
                <br/>
                <small class="float-end">
                    Hebreos 11:6 (NVI).
                </small>
            </p>
            <p class="text-14-300 pl-4 text-left">
                3. Escucha {{ completa_lugar('tres') | raw }}.
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Es la fe anticipo de lo que se espera, prueba de realidades que no se ven."
                <br/>
                <small class="float-end">
                    Hebreos 11:1 (SM)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Tener fe es tener la plena seguridad de recibir lo que se espera; es estar convencidos de la realidad
                de cosas que no vemos."
                <br/>
                <small class="float-end">
                    Hebreos 11:1 (DHH)
                </small>
            </p>
            <p class="text-14-300 pl-4 text-left">
                4. Poné tu mirada en las {{ completa_lugar('cuatro') | raw }}.
            </p>
            <p class="text-14-300 font-italic pl-4">
                “El Señor le dijo a Abram: «Deja tu país, tu gente y la familia de tu papá, y ve a una tierra que yo te
                mostraré."
                <br/>
                <small class="float-end">
                    Génesis 12:1 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Con tus descendientes formaré una gran nación.<br/>
                Voy a bendecirte y hacerte famoso,<br/>
                y serás de bendición para otros.<br/>
                Bendeciré a los que te bendigan, y maldeciré a los que te maldigan.<br/>
                ¡Gracias a ti, bendeciré a todas las naciones del mundo!"
                <br/>
                <small class="float-end">
                    Génesis 12:2-3 (TLA)
                </small>
            </p>
            <p class="text-14-300 pl-4 text-left">
                5. {{ completa_lugar('cinco') | raw }} por lo que ya sabes.
            </p>
            <p class="text-14-300 font-italic pl-4">
                “El que cree en mí también va a hacer las obras que yo hago. Y hará obras más grandes"
                <br/>
                <small class="float-end">
                    Juan 14:12 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Yo he venido a brillar como luz en la oscuridad del mundo, para que los depositen su fe en mí dejen de
                andar en oscuridad."
                <br/>
                <small class="float-end">
                    Juan 12:46 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Depositen en él toda ansiedad, porque él cuida de ustedes."
                <br/>
                <small class="float-end">
                    1 Pedro 5:7 (NVI)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
