<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Si regresas a mí te restauraré...</b>”
                <br/>
                <small class="float-end">
                    Jeremías 15:19-20 (NTV)
                </small>
            </p>

            <h4 class="text-izq text-600">
                Verdades acerca de las noches oscuras
            </h4>
            <h5 class="text-izq text-600">
                1. Las noches oscuras forman {{ completa_lugar('uno') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “ Saúl mató a sus miles y David a sus diez miles”. Esto hizo que <b>Saúl se enojara mucho</b>”
                <br/>
                <small class="float-end">
                    1 Samuel 18:7-8 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Uno se casó con una mujer llamada Orfa y el otro con una mujer llamada Rut. Pero unos <b>diez años
                    después murieron...</b>”
                <br/>
                <small class="float-end">
                    Rut 1:4-5 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Las noches oscuras anteceden {{ completa_lugar('dos') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Después de esto, Job vivió ciento cuarenta años y pudo ver a cuatro generaciones de sus hijos y nietos.
                Luego murió siendo muy anciano, después de vivir <b>una vida larga y plena</b>”.
                <br/>
                <small class="float-end">
                    Job 42:16-17 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Las noches oscuras nos {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Ahora bien, Moisés era muy <b>humilde</b>, más que cualquier otra persona en la tierra”
                <br/>
                <small class="float-end">
                    Números 12:3 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Las noches oscuras son incubadoras de {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Que el Señor me libre de hacerle tal cosa a mi señor el rey. No debo atacar al ungido del Señor”.
                <br/>
                <small class="float-end">
                    1 Samuel 24:6
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. En las noches oscuras recibimos {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “La tierra en la que estás acostado te pertenece. <b>Te la entregó a ti y a tu descendencia… yo estoy
                    contigo y te protegeré</b> donde quiera que vayas. Llegará el día en que te traeré de regreso a esta
                tierra. No te dejaré hasta que haya terminado de darte todo lo que te he prometido”.
                <br/>
                <small class="float-end">
                    Génesis 28:13-15(NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                6. En las noches oscuras se {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Alrededor de la medianoche, Pablo y Silas estaban orando y cantando himnos a Dios, y los demás
                prisioneros escuchaban. De repente, hubo un terremoto y la cárcel se sacudió hasta sus cimientos. Al
                instante, todas las puertas se abrieron de golpe, y a todos los prisioneros <b>se les cayeron las cadenas</b>”
                <br/>
                <small class="float-end">
                    Hechos 16:25-26 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Las noches oscuras terminan con un final {{ completa_lugar('siete') | raw }}.
            </h5>


            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
