<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Así que tengan cuidado de cómo viven... Saquen el mayor provecho
                de cada oportunidad en estos días malos...
                No se emborrachen con vino, porque eso les arruinará la vida.
                En cambio, <u>sean llenos del Espíritu Santo</u>”
                <br/>
                <small class="float-end">
                    Efesios 5:15-19 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Ser lleno es lo sucede cuando vivís bajo la {{ completa_lugar('uno') | raw }} del Espíritu Santo en cada
                área de tu vida.
            </h5>
            <h4 class="text-centrado text-600">
                La batalla interior
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<u>Vivan según el Espíritu</u>, y no busquen <u>satisfacer sus propios malos deseos</u>. Porque los
                malos deseos están en contra del Espíritu, y el Espíritu está en contra de los malos deseos. El uno está
                en contra de los otros, y por eso ustedes no pueden hacer lo que quisieran. Pero si el Espíritu los
                guía, entonces y a no estarán sometidos a la ley.”
                <br/>
                <small class="float-end">
                    Gálatas 5:16-18 (DHH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “En cambio, lo que el Espíritu produce es amor, alegría, paz, paciencia, amabilidad, bondad, fidelidad,
                <sup>23</sup> humildad y dominio propio. Contra tales cosas no hay ley.”
                <br/>
                <small class="float-end">
                    Gálatas 5:22-23(DHH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “y los que son de Cristo Jesús, ya <u>han crucificado</u> la naturaleza del hombre pecador junto con sus
                pasiones y malos deseos. <sup>25</sup> Si ahora vivimos por el Espíritu, dejemos también que el Espíritu
                nos guíe.”

                <br/>
                <small class="float-end">
                    Gálatas 5:24-25 (DHH)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Ser lleno del Espíritu Santo es el resultado definitivo de una batalla interior en la que finalmente
                nos {{ completa_lugar('dos') | raw }} totalmente a Su amor.
            </h5>
            <h4 class="text-centrado text-600">
                ¡Tres pasos para estar totalmente vivo!
            </h4>
            <h5 class="text-izq text-600">
                1. Me {{ completa_lugar('tres') | raw }} de los ídolos te mi corazón.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Si confesamos nuestros pecados a Dios, él es fiel y justo para perdonarnos nuestros pecados y <u>limpiarnos</u>
                de toda maldad.”
                <br/>
                <small class="float-end">
                    1 Juan 1:9 (NTV).
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Me {{ completa_lugar('cuatro') | raw }} completamente a Su amor.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Permitir que la naturaleza pecaminosa les <u>controle</u> la mente lleva a la muerte. Pero permitir que
                el Espíritu les <u>controle</u> la mente lleva a la vida y a la paz.”
                <br/>
                <small class="float-end">
                    Romanos 8:6 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "<u>Entréguense completamente</u> a Dios,... usen todo su cuerpo como un instrumento para hacer lo que es justo ante él.“
                <br/>
                <small class="float-end">
                    Rom. 6:13 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Experimento por fe Su {{ completa_lugar('cinco') | raw}}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Jesús le contestó: — El que me ama de verdad se mantendrá fiel a mi mensaje; mi Padre lo amará, y mi Padre y yo vendremos a él y <u>haremos en él nuestra morada</u>.”
                <br/>
                <small class="float-end">
                    Juan 14:23 (BTI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                "¡Todo el que crea en mí puede venir y beber! Pues las Escrituras declaran: “De su corazón, brotarán ríos de agua viva”». (Con la expresión «agua viva», se refería al Espíritu, el cual se le daría a todo el que creyera en él...). “
                <br/>
                <small class="float-end">
                    Juan 7:38-39 (NTV)
                </small>
            </p>
            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “<b>Estoy firmemente convencido</b> de que aquel que comenzó en ustedes la buena obra <b>la #}
            {#                        completará</b> hasta el Día de Cristo Jesús.” #}
            {#                    <br/> #}
            {#                    Filipenses 1:6 (BPD) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
