<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h4 class="text-izq text-600"> #}
            {#                Las buenas prioridades… #}
            {#            </h4> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                Las preocupaciones no dejan a la gente ser feliz, pero las palabras de aliento le traen alegría.
                <br/>
                <small class="float-end">
                    Proverbios 12:25 (PDT)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Tres mentiras que alimentan preocupación:
            </h4>

            <h5 class="text-izq text-600">
                1. No creo que {{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                No se preocupen por su vida, qué comerán o beberán; ni por su cuerpo, cómo se vestirán. ¿No tiene la
                vida más valor que la comida, y el cuerpo más que la ropa?
                <br/>
                <small class="float-end">
                    Mateo 6:25 (NVI)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Tu preocupación revela dónde {{ completa_lugar('dos') | raw }}.
            </h5>

            <h5 class="text-izq text-600">
                2. No creo que {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Fíjense en las aves del cielo: no siembran ni cosechan ni almacenan en graneros; sin embargo, el Padre
                celestial las alimenta. ¿No valen ustedes mucho más que ellas?
                <br/>
                <small class="float-end">
                    Mateo 6:26
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Yo puedo {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                ¿Quién de ustedes, por mucho que se preocupe, puede añadir una sola hora al curso de su vida?
                <br/>
                <small class="float-end">
                    Mateo 6:27 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                ¡Cómo quisiéramos que el Señor nos hubiera quitado la vida en Egipto! —les decían los israelitas—. Allá
                nos sentábamos en torno a las ollas de carne y comíamos pan hasta saciarnos. ¡Ustedes nos han traído a
                este desierto para matar de hambre a toda la comunidad!
                <br/>
                <small class="float-end">
                    Éxodo 16:3 (NVI)
                </small>
            </p>

            <h4 class="text-izq text-600">
                ¿Cómo salir del laberinto de las preocupaciones?
            </h4>

            <h5 class="text-centrado text-600">
                1. Decide en quien {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Vengan a mí los que estén cansados y afligidos y yo los haré descansar.
                <br/>
                <small class="float-end">
                    Mateo 11: 28 (NBV)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                Preocupación Vs Confianza.
            </h5>

            <div class="row mx-auto p-0">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">{{ completa_lugar('seis') | raw }}</div>
                <div class="col-sm-4">{{ completa_lugar('siete') | raw }}</div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row mx-auto p-0">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">{{ completa_lugar('ocho') | raw }}</div>
                <div class="col-sm-4">{{ completa_lugar('nueve') | raw }}</div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row mx-auto p-0">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">{{ completa_lugar('diez') | raw }}</div>
                <div class="col-sm-4">{{ completa_lugar('once') | raw }}</div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row mx-auto p-0">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">{{ completa_lugar('doce') | raw }}</div>
                <div class="col-sm-4">{{ completa_lugar('trece') | raw }}</div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row mx-auto p-0">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">{{ completa_lugar('catorce') | raw }}</div>
                <div class="col-sm-4">{{ completa_lugar('quince') | raw }}</div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row mx-auto p-0">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">{{ completa_lugar('dieciseis') | raw }}</div>
                <div class="col-sm-4">{{ completa_lugar('diecisiete') | raw }}</div>
                <div class="col-sm-2"></div>
            </div>

            <h5 class="text-izq text-600">
                2. Aprende a caminar {{ completa_lugar('dieciocho') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                Por lo tanto, no se angustien por el mañana, el cual tendrá sus propios afanes. Cada día tiene ya sus
                problemas.
                <br/>
                <small class="float-end">
                    Mateo 6:34 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Pelea tus batallas {{ completa_lugar('diecinueve') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Pidan, y se les dará; busquen, y encontrarán; llamen, y se les abrirá. Porque todo el que pide, recibe;
                el que busca, encuentra; y al que llama, se le abre.” ¿Quién de ustedes, si su hijo le pide pan, le da
                una piedra? ¿O si le pide un pescado, le da una serpiente? Pues si ustedes, aun siendo malos, saben dar
                cosas buenas a sus hijos, ¡cuánto más su Padre que está en el cielo dará cosas buenas a los que le
                pidan!
                <br/>
                <small class="float-end">
                    Mateo 7:8-11 (NV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Confía en el {{ completa_lugar('veinte') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                Sabemos que Dios obra en toda situación para el bien de los que lo aman, los que han sido llamados por
                Dios de acuerdo a su propósito.
                <br/>
                <small class="float-end">
                    Romanos 8:28 (PDT)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <i>Todo lo puedo en Cristo que me fortalece.<br/> #}
            {#                        Filipenses 4:13 (NVI)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
