<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-centrado text-600">
                ¿POR QUÉ NUESTRAS ALMAS ESTÁN CARGADAS?
            </h4>
            <h5 class="text-izq text-600">
                1. CARGAMOS {{ completa_lugar('uno') | raw }} DEL PASADO.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                Recordar mi sufrimiento y no tener hogar es tan amargo que no encuentro palabras. Siempre tengo presente
                este terrible tiempo mientras me lamento por mi pérdida.
                <br/>
                <small class="float-end">
                    Lamentaciones 3:19-20 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. CARGAMOS CON LOS {{ completa_lugar('dos') | raw }} DEL PRESENTE.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Algo malo te sucede a ti, te molestas; estás abrumado y te angustias.
                <br/>
                <small class="float-end">
                    Job 4:5 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. CARGAMOS CON {{ completa_lugar('tres') | raw }} SOBRE EL FUTURO
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                La ansiedad en el corazón del hombre lo deprime.
                <br/>
                <small class="float-end">
                    Proverbios 12:25 (LBLA)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                ¿COMO LIBRAR EL ALMA DE LAS CARGAS?
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                «Vengan a mí todos los que están cansados y llevan cargas pesadas, y yo les daré descanso. Pónganse mi
                yugo [...] mi yugo es fácil de llevar y la carga que les doy es liviana».
                <br/>
                <small class="float-end">
                    Mateo 11:28-30 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Por <b><u>gracia</u></b> ustedes han sido salvados mediante la fe; esto no procede de ustedes, sino que
                es el regalo de Dios, no por obras, para que nadie se jacte.
                <br/>
                <small class="float-end">
                    Efesios 2:8-9 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                A. {{ completa_lugar('cuatro') | raw }}: RECUERDA SU GRACIA EN EL PASADO.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Se abate mi alma dentro de mí… no obstante… ¡El fiel amor del SEÑOR nunca se acaba! Sus misericordias
                jamás terminan. Grande es su fidelidad; sus misericordias son nuevas cada mañana.
                <br/>
                <small class="float-end">
                    Lamentaciones 3:20, 22-23 (LBLA-NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                B. {{ completa_lugar('cinco') | raw }}: AFÉRRATE A SU GRACIA EN EL PRESENTE.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Acerquémonos con toda confianza al trono de la gracia de nuestro Dios. Allí recibiremos su misericordia
                y encontraremos la gracia que nos ayudará cuando más la necesitemos.
                <br/>
                <small class="float-end">
                    Hebreos 4:16 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                C. {{ completa_lugar('seis') | raw }}: CONFÍA EN SU GRACIA EN EL FUTURO.
            </h5>


            <p class="text-14-300 font-italic pl-4 text-center">
                «¡Ánimo! ¡Esfuércense y no tengan miedo del rey de Asiria, ni de toda la multitud que viene con él! ¡Con
                nosotros está alguien que es más poderoso! Él cuenta con el apoyo humano, pero nosotros contamos con el
                Señor nuestro Dios, para ayudarnos y dar la pelea por nosotros.»
                <br/>
                <small class="float-end">
                    2 Crónicas 32:7-8 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Tú guardas en completa paz a quien siempre piensa en ti y pone en ti su confianza.
                <br/>
                <small class="float-end">
                    Isaías 26:3 (RVC)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
