<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Había mucha gente que tendía sus mantos sobre el camino; otros cortaban ramas de los árboles y las
                esparcían en el camino. <b>Tanto la gente que iba delante de él como la que iba detrás, gritaba:
                    —¡Hosanna al Hijo de David!</b> —¡Bendito el que viene en el nombre del Señor! —¡Hosanna en las
                alturas!”
                <br/>
                <small class="float-end">
                    Mateo 21:8-9 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Le reclamaron: --¡Maestro, reprende a tus discípulos! Pero él respondió: — Les aseguro que <b>si ellos
                    se callan, gritarán las piedras</b>.”
                <br/>
                <small class="float-end">
                    Lucas 19:29-40
                </small>
            </p>
            <h4 class="text-izq text-600">
                ¿PORQUE CANTAMOS?
            </h4>
            <h5 class="text-izq text-600">
                1. Fuimos {{ completa_lugar('uno') | raw }} para cantar .
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Tú creaste <b>las delicadas partes internas de mi cuerpo</b> y me entretejiste en el vientre de mi
                madre. ¡Gracias por hacerme tan maravillosamente complejo!.”
                <br/>
                <small class="float-end">
                    Salmos 139:13-14 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. La música {{ completa_lugar('dos') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “El SEÑOR tu Dios vive en medio de ti... Con su amor calmará todos tus temores. <b>Se gozará por ti con
                    cantos de alegría</b>».”
                <br/>
                <small class="float-end">
                    Sofonías 3:17 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Canten a Dios con alegría, habitantes de toda la tierra; den rienda suelta a su alegría y cántenle
                himnos... <sup>7</sup> que brame el mar...; <sup>8</sup> que aplaudan los ríos; que se unan las
                montañas.”
                <br/>
                <small class="float-end">
                    Salmos 98:4-9
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>No lo hacemos porque queremos, sino porque el amor de Cristo nos domina…</b> hemos muerto a la vieja
                vida,... <sup>15</sup> ... (vivimos) para agradar al que murió y resucitó...: Jesucristo.”
                <br/>
                <small class="float-end">
                    2° Corintios 5:14-15 (BAD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. El {{ completa_lugar('tres') | raw }} está en la ciudad.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                ¡Hosanna! —¡Bendito el que viene en el nombre del Señor! —¡Bendito el Rey de Israel!
                <br/>
                <small class="float-end">
                    Juan 12:13 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                ¡CANTA!
            </h4>
            <h5 class="text-izq text-600">
                1. Canta en tu {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Yo cantaré de tu poder; <b>cada mañana cantaré con alegría</b> acerca de tu amor inagotable.”
                <br/>
                <small class="float-end">
                    Salmos 59:16 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Canta con tu {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Contaré una historia,... <sup>3</sup> ... padres nos la contaron. <sup>4</sup> <b>No la esconderemos a
                    nuestros descendientes; se la contaremos a las siguientes generaciones</b>. Siempre alabaremos al
                Señor y hablaremos de las grandes maravillas que ha hecho.”
                <br/>
                <small class="float-end">
                    Salmos 78:2-4 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Canta con tu {{ completa_lugar('seis') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Sean llenos del Espíritu Santo <b>cantando salmos e himnos y canciones espirituales entre ustedes</b>,
                y haciendo música al Señor”
                <br/>
                <small class="float-end">
                    Efesios 5:18-20 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Canten al Señor una canción nueva; alábenlo <b>en la comunidad de los fieles</b>.”
                <br/>
                <small class="float-end">
                    Salmos 149:1 (PDT)
                </small>
            </p>
            <h4 class="text-izq text-600">
                ¿PORQUE CANTAR JUNTOS AL REY?
            </h4>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('siete') | raw }} lo que cantamos.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿Por qué estoy desanimado? ¿Por qué está tan triste mi corazón? ¡Pondré mi esperanza en Dios! <b>Nuevamente
                    lo alabaré</b>”
                <br/>
                <small class="float-end">
                    Salmos 42:4-5 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Nuestro canto unido {{ completa_lugar('ocho') | raw }} de la ciudad.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando Jesús entró en Jerusalén, <b>toda la ciudad se conmovió. —¿Quién es éste? --preguntaban</b>.
                —Éste es el profeta Jesús, de Nazaret de Galilea —contestaba la gente.”
                <br/>
                <small class="float-end">
                    Mateo 21:1-11 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Somos un pueblo que {{ completa_lugar('nueve') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Se reunían <b>diariamente en el área del templo y en las casas… alababan a Dios</b> y … Cada día el
                Señor añadía a la iglesia los que iban siendo salvos.”
                <br/>
                <small class="float-end">
                    Hechos 2:46-47 (PDT)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    <b>El Salvador que canta su camino a la cruz:</b>
                </div>

                <div class="col-sm-8 mx-auto text-center">
                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda?
                    <sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no
                    encuentro alivio. <sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b>
                    de Israel. <sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste.<sup>5</sup> Clamaron
                    a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.”
                    <br/>
                    Salmos 22:1-5 (NTV)
                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
