<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Esto responde el SEÑOR: <b>Si regresas a mí te restauraré...</b>”
                <br/>
                <small class="float-end">
                    Jeremías 15:19-20 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                La noche oscura
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Los guardias encendieron una fogata en medio del patio y se sentaron alrededor, y Pedro se sumó al
                grupo. Una sirvienta lo vio a la luz de la fogata y … Por fin dijo: «Este hombre era uno de los
                seguidores de Jesús». Pero Pedro lo negó: «¡Mujer, ni siquiera lo conozco!»... “De repente, las palabras
                del Señor pasaron rápidamente por la mente de Pedro:… negarás tres veces que me conoces». Y Pedro
                salió del patio, llorando amargamente.”
                <br/>
                <small class="float-end">
                    Lucas 22:55-62 (NTV)
                </small>
            </p>

            <h4 class="text-izq text-600">
                Por qué fracasamos
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Si ustedes piensan que están firmes, tengan cuidado de no caer.”
                <br/>
                <small class="float-end">
                    1 Corintios 10:12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Después del orgullo viene la caída; tras la arrogancia, el fracaso.”
                <br/>
                <small class="float-end">
                    Proverbios 16:18 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Le dijo a Pedro: «Simón, ¿estás dormido?… Velen y oren para que no cedan ante la tentación, porque el
                espíritu está dispuesto, pero el cuerpo es débil».”
                <br/>
                <small class="float-end">
                    Marcos 14:37-38 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todos hemos pecado, y por eso estamos lejos de Dios”
                <br/>
                <small class="float-end">
                    Romanos 3:23 (TLA)
                </small>
            </p>

            <h4 class="text-izq text-600">
                ¿Qué hace Jesús con nuestros fracasos?
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Simón, Simón, Satanás ha pedido zarandear a cada uno de ustedes como si fueran trigo; pero yo he rogado
                en oración por ti, Simón, para que tu fe no falle, de modo que cuando te arrepientas y regreses a mí
                fortalezcas a tus hermanos.”
                <br/>
                <small class="float-end">
                    Lucas 22:31-32 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                1. ¡Él no se {{ completa_lugar('uno') | raw }}!
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Dios sabe todo de nosotros; sabe que estamos hechos de polvo.”
                <br/>
                <small class="float-end">
                    Salmo 103:14 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. ¡Él {{ completa_lugar('dos') | raw }} por nosotros!
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús puede salvar para siempre a los que, por medio de él, quieren ser amigos de Dios. Pues vive
                eternamente, y siempre está pidiendo a Dios por ellos.”
                <br/>
                <small class="float-end">
                    Hebreos 7:25 (TLA)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Él {{ completa_lugar('tres') | raw }} en nosotros
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “... de modo que CUANDO te arrepientas y vuelvas a mí.”
                <br/>
                <small class="float-end">
                    Lucas 22:32 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Siete veces podrá caer el justo, pero otras tantas se levantará”
                <br/>
                <small class="float-end">
                    Proverbios 24:16
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El ángel les dijo: ...Jesús de Nazaret, el que fue crucificado. ¡No está aquí! ¡Ha resucitado!... Ahora
                vayan y cuéntenles a sus discípulos, <b>incluido</b> Pedro, que Jesús va delante de ustedes a Galilea.
                Allí lo verán, tal como les dijo antes de morir.”
                <br/>
                <small class="float-end">
                    Marcos 16:6-7 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. ¡Él nos dá {{ completa_lugar('cuatro') | raw }} cuando estamos caídos!
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Al bajar a tierra, encontraron <b>un fuego encendido</b>, con un pescado encima, y pan. Jesús les dijo:
                –Traigan algunos pescados de los que acaban de sacar. ….
                <br/>
                <small class="float-end">
                    Juan 21:9-15 (DHH)
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. ¡Él {{ completa_lugar('cinco') | raw }} nuestros fracasos para construir su iglesia!
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando te hayas vuelto a mí, fortalece a tus hermanos.”
                <br/>
                <small class="float-end">
                    Lucas 22:32
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                <sup>15</sup>“Después del desayuno, Jesús le preguntó a Simón Pedro: —Simón, hijo de Juan, ¿me amas más
                que estos?
                —Sí, Señor —contestó Pedro—, tú sabes que te quiero. —Entonces, ALIMENTA a mis corderos —le dijo
                Jesús.<br/>
                <sup>16</sup>Jesús repitió la pregunta: —Simón, hijo de Juan, ¿me amas? —Sí, Señor —dijo Pedro—, tú
                sabes que te quiero. —Entonces, CUIDA de mis ovejas —dijo Jesús.<br/>
                <sup>17</sup>Le preguntó por tercera
                vez: —Simón, hijo de Juan, ¿me quieres? A Pedro le dolió que Jesús le dijera la tercera vez: «¿Me
                quieres?». Le contestó: —Señor, tú sabes todo. Tú sabes que yo te quiero. Jesús dijo: —Entonces,
                alimenta a mis ovejas.”
                <br/>
                <small class="float-end">
                    Juan 21:15-17 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Jesús: “Ahora te digo que tú eres Pedro y sobre esta roca EDIFICARÉ MI IGLESIA, y el poder de la muerte
                no la conquistará.”
                <br/>
                <small class="float-end">
                    Mateo 16:18 (NTV)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
