<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h5 class="text-centrado text-600">
                El secreto mejor guardado de Eliseo:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<sup>1</sup> Al tercer día se celebró una boda en Caná de Galilea, y la madre de <b>Jesús se encontraba
                    allí</b>.<br/>
                <sup>2</sup> También habían sido invitados a la boda Jesús y sus discípulos.<br/>
                <sup>3</sup> Cuando el vino se acabó, la madre de Jesús le dijo: <b>—Ya no tienen vino.</b><br/>
                <sup>4</sup> —Mujer, ¿eso qué tiene que ver conmigo? —respondió Jesús—. Todavía no ha llegado mi
                hora.<br/>
                <sup>5</sup> Su madre dijo a los sirvientes: <b>—Hagan lo que él les ordene</b>.<br>
                <sup>6</sup> Había allí seis tinajas de piedra, de las que usan los judíos en sus ceremonias de
                purificación. En cada una cabían unos cien litros.<br/>
                <sup>7</sup> Jesús dijo a los sirvientes: —Llenen de agua las tinajas. Y los sirvientes las llenaron
                hasta el borde.<br/>
                <sup>8</sup> —Ahora saquen un poco y llévenlo al encargado del banquete —les dijo Jesús. Así lo
                hicieron.<br/>
                <sup>9</sup> El encargado del banquete probó <b>el agua convertida en vino</b> sin saber de dónde había
                salido, aunque sí lo sabían los sirvientes que habían sacado el agua. Entonces llamó aparte al
                novio<br/>
                <sup>10</sup> y le dijo: —Todos sirven primero el mejor vino, y cuando los invitados ya han bebido
                mucho, entonces sirven el más barato; pero <b>tú has guardado el mejor vino hasta ahora</b>.<br/>
                <sup>11</sup> Ésta, la primera de sus señales, la hizo Jesús en Caná de Galilea. Así reveló su gloria, y
                sus discípulos <b>creyeron en él</b>.”
                <br/>
                <small class="float-start">
                    Juan 2:1-11 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                EL DIOS EN QUIEN PODÉS CONFIAR
            </h4>
            <h5 class="text-izq text-600">
                1. Un Dios se interesa por {{ completa_lugar('uno') | raw }} de tu vida.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Se celebró una boda en Caná de Galilea,… se encontraba allí… Jesús y sus discípulos”
                <br/>
                <small class="float-start">
                    Juan 2:1 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Dios tiene contados hasta los cabellos de su cabeza.”
                <br/>
                <small class="float-start">
                    Mateo 10:30 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Un Dios que quiere que nada apague {{ completa_lugar('dos') | raw }} en tu vida
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “—Ya no tienen vino.”
                <br/>
                <small class="float-start">
                    Juan 2:3 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Los ángeles de Dios hacen fiesta cuando alguien se vuelve a Dios.»”
                <br/>
                <small class="float-start">
                    Lucas 15:10 (TLA)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Un Dios que mueve en este momento {{ completa_lugar('tres') | raw }} a tu favor
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús dijo a los sirvientes: —Llenen de agua las tinajas. Y los sirvientes las llenaron”.
                <br/>
                <small class="float-start">
                    Juan 2:7 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Tú vales mucho para mí, te estimo mucho, te amo. <b>He dado gente para poder tenerte</b>, y… para
                rescatarte con vida.”
                <br/>
                <small class="float-start">
                    Isaías 43:4 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Un Dios que puede {{ completa_lugar('cuatro') | raw }} cualquier problema en tu vida
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El encargado del banquete probó el agua convertida en vino”
                <br/>
                <small class="float-start">
                    Juan 2:9 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¡Para Dios nada es imposible!”
                <br/>
                <small class="float-start">
                    Lucas 1:37 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Si alguien está unido a Cristo, se convierte en un ser nuevo que ha dejado lo viejo atrás ¡y está
                totalmente renovado!”
                <br/>
                <small class="float-start">
                    2 Corintios 5:17 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. Un Dios que quiere sorprenderte con {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “… has guardado el mejor vino hasta ahora.”
                <br/>
                <small class="float-start">
                    Juan 2:9 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Yo vine para que la gente tenga vida y la tenga en abundancia.”
                <br/>
                <small class="float-start">
                    Juan 10:10 (PDT)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                La clave es {{ completa_lugar('seis') | raw }}!
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Jesús: “»¡Mira! Yo estoy a la puerta y llamo. Si oyes mi voz y abres la puerta, yo entraré y cenaremos
                juntos como amigos.”
                <br/>
                <small class="float-start">
                    Apocalipsis 3:20 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
