<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    <p class="text-14-300 font-italic pl-4 text-centrado">
                        “Ustedes vivían en este mundo <u>sin Dios y sin esperanza</u>”
                        <br/>
                        <small class="float-start">
                            Efesios 2:12 (NTV)
                        </small>
                    </p>
                    <p class="text-14-300 font-italic pl-4 text-centrado">
                        “Su nombre será la esperanza de todo el mundo».”
                        <br/>
                        <small class="float-start">
                            Mateo 12:21 (NTV)
                        </small>
                    </p>
                    <p class="text-14-300 font-italic pl-4 text-centrado">
                        “Gracias a la resurrección de Jesucristo, tenemos una <u>esperanza viva</u>”
                        <br/>
                        <small class="float-start">
                            1° Pedro 1:5 (BAD)
                        </small>
                    </p>


                </div>
            </div>
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <div class="col-sm-10 mx-auto">

            </div>
            <h4 class="text-centrado text-600">
                ¡Porque Jesús vive y camina a mi lado!
            </h4>
            <h5 class="text-izq text-600">
                1. SU {{ completa_lugar('uno') | raw }} ME GUARDARÁ CADA DIA DE MI VIDA.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Tengan presente que yo estaré <u>con ustedes todos los días</u> hasta el fin del mundo.”
                <br/>
                <small class="float-start">
                    Mateo 28:20 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No tengas miedo, porque <u>yo estoy contigo</u>; no te desalientes, porque yo soy tu Dios. <u>Te
                    daré fuerzas y te ayudaré; te sostendré</u> con mi mano derecha victoriosa.”
                <br/>
                <small class="float-start">
                    Isaías 41:10 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El Señor dice: «Te enseñaré y <u>te mostraré el camino</u>; te protegeré y <u>seré tu guía</u>».”
                <br/>
                <small class="float-start">
                    Salmos 32:8 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pero algo más me viene a la memoria, lo cual <u>me llena de esperanza</u>: El gran amor del SEÑOR
                nunca se acaba, y su compasión jamás se agota. <u>Cada mañana se renuevan sus bondades</u>; ¡muy
                grande es su fidelidad!»”
                <br/>
                <small class="float-start">
                    Lamentaciones 3:21-24 (NBD)
                </small>
            </p>


            <h5 class="text-izq text-600">
                2. SU {{ completa_lugar('dos') | raw }} ESTA ACTUANDO EN MI VIDA.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                Ahora bien, sabemos que Dios dispone todas las cosas para el bien de quienes lo aman, los que han
                sido llamados de acuerdo con su propósito.”
                <br/>
                <small class="float-start">
                    Romanos 8:28 (NVI)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Porque yo sé muy bien los planes que tengo para ustedes afirma el Señor, planes de bienestar y no de
                calamidad, a fin de <u>darles un futuro y una esperanza</u>.”
                <br/>
                <small class="float-start">
                    Jeremías 29:11 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Y estoy seguro de que Dios, quien comenzó la buena obra en ustedes, la continuará hasta que quede <u>completamente
                    terminada</u> el día que Cristo Jesús vuelva.”
                <br/>
                <small class="float-start">
                    Filipenses 1:6 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. SU {{ completa_lugar('tres') | raw }} EN EL CIELO ESTÁ ESPERANDO POR MI.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “No se angustien. Confíen en Dios y confíen también en mí. Hay muchos lugares en la casa de mi Padre…
                <u>Voy a prepararles un lugar</u>,”
                <br/>
                <small class="float-start">
                    Juan 14:1-2 (PDT)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Gracias a la resurrección de Jesucristo, <u>tenemos una esperanza viva</u>, y un día hemos de recibir
                la herencia pura, inmarcesible, inmutable e incorruptible que <u>Dios nos tiene reservada en el
                    cielo</u>. Como ustedes han depositado en Él su fe, <u>son protegidos por el poder de Dios, para que
                    alcancen la salvación</u>, lista ya para manifestarse cuando llegue el momento final.”
                <br/>
                <small class="float-start">
                    1° Pedro 1:5 (BAD-RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Queremos que sepan lo que en verdad pasa con los que mueren, para que <u>no se pongan tristes</u>, como
                los que <u>no tienen esperanza</u>. Nosotros creemos que Jesucristo murió y resucitó, y que del mismo
                modo <u>Dios resucitará a los que vivieron y murieron confiando en él</u>.”
                <br/>
                <small class="float-start">
                    1° Tesalonicenses 4:13-14 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Dios <u>amó</u> tanto al mundo que <u>dio a su único Hijo</u>, para que <u>todo el que crea en él</u>
                no se pierda, sino que tenga <u>vida eterna</u>.”
                <br/>
                <small class="float-start">
                    Juan 3:16 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Que <u>el Dios de la esperanza</u> los llene de toda <u>alegría y paz</u> a ustedes que creen en él,
                para que rebosen de esperanza por el poder del Espíritu Santo.”
                <br/>
                <small class="float-start">
                    Romanos 15:13 (NBD)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                {#                <div class="col-12 mx-auto text-center"> #}
                {#                    Cuanto más honestos seamos con Dios<br/> #}
                {#                    más profunda será nuestra amistad #}
                {#                </div> #}

                <div class="col-sm-8 mx-auto text-center">
                    Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia en tu
                    iglesia en <a
                            href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                            target="_blank"> Youversión</a>.
                    <br/>
                    La aplicación más descargada en todo el mundo.<br/>
                    Sigue el <a
                            href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                            target="_blank"> enlace</a> y descubre cómo.
                </div>

                {#                <div class="col-12 mx-auto text-left"> #}
                {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    </h6> #}
                {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                </div> #}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
