<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                Dios hace que todas las cosas cooperen para el bien de los que lo aman y son llamados según el propósito
                que él tiene para ellos.
                <br/>
                <small class="float-end">
                    Romanos 8:28 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Dios {{ completa_lugar('uno') | raw }}:
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                Saulo pronunciaba amenazas en cada palabra y estaba ansioso por matar a los seguidores del Señor [...]
                Su intención era llevarlos de regreso a Jerusalén encadenados. Al acercarse a Damasco para cumplir esa
                misión, una luz del cielo de repente brilló alrededor de él. Saulo cayó al suelo y oyó una voz que le
                decía: —¡Saulo, Saulo! ¿Por qué me persigues? —¿Quién eres, señor? —preguntó Saulo. — Yo soy Jesús, ¡a
                quien tú persigues! —contestó la voz.
                <br/>
                <small class="float-end">
                    Hechos 9:1-5 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Ni siquiera soy digno de ser llamado apóstol después de haber perseguido la iglesia de Dios, como lo
                hice. Sin embargo, lo que ahora soy, todo se debe a que Dios derramó su favor especial sobre mí.
                <br/>
                <small class="float-end">
                    1° Corintios 15:9-10 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Pues ustedes han nacido de nuevo, no de simiente perecedera, sino de simiente imperecedera, mediante la
                palabra de Dios que vive y permanece.
                <br/>
                <small class="float-end">
                    1° Pedro 1:23 (NVI)
                </small>
            </p>


            <h4 class="text-izq text-600">
                Dios {{ completa_lugar('dos') | raw }}:
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                Saulo se levantó del suelo pero, cuando abrió los ojos, estaba ciego. Entonces sus acompañantes lo
                llevaron de la mano hasta Damasco. Permaneció allí, ciego, durante tres días sin comer ni beber. Había
                un creyente en Damasco llamado Ananías. El Señor le dijo: —Ve a la calle llamada Derecha... Cuando
                llegues, pregunta por un hombre de Tarso que se llama Saulo [...] <br/> —¡Pero Señor! —exclamó Ananías—,
                ¡he oído a mucha gente hablar de las cosas terribles que ese hombre les ha hecho a los creyentes de
                Jerusalén! [...] Pero el Señor le dijo: —Ve, porque él es mi instrumento elegido para llevar mi mensaje
                a los gentiles y a reyes, como también al pueblo de Israel. <br/> Y le voy a mostrar cuánto debe sufrir
                por mi nombre. Así que Ananías fue y encontró a Saulo, puso sus manos sobre él y dijo: «Hermano Saulo,
                el Señor Jesús, quien se te apareció en el camino, me ha enviado para que recobres la vista y seas lleno
                del
                Espíritu Santo». Al instante, algo como escamas cayó de los ojos de Saulo y recobró la vista. Luego se
                levantó y fue bautizado.
                <br/>
                <small class="float-end">
                    Hechos 9:8-18 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Dios {{ completa_lugar('tres') | raw }}:
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                Para impedir que me volviera orgulloso, se me dio una espina en mi carne, un mensajero de Satanás para
                atormentarme e impedir que me volviera orgulloso. En tres ocasiones distintas, le supliqué al Señor que
                me la quitara. Cada vez él me dijo: «Mi gracia es todo lo que necesitas; mi poder actúa mejor en la
                debilidad». Así que ahora me alegra jactarme de mis debilidades, para que el poder de Cristo pueda
                actuar a través de mí.
                <br/>
                <small class="float-end">
                    2° Corintios 12:8 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Todo lo puedo en Cristo que me fortalece.
                <br/>
                <small class="float-end">
                    Filipenses 4:13 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Dios {{ completa_lugar('cuatro') | raw }} :
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                Además, mis amados hermanos, quiero que sepan que todo lo que me ha sucedido en este lugar ha servido
                para difundir la Buena Noticia. Pues cada persona de aquí —incluida toda la guardia del palacio —sabe
                que estoy encadenado por causa de Cristo. Y, dado que estoy preso, la mayoría de los creyentes de este
                lugar ha aumentado su confianza y anuncia con valentía el mensaje de Dios sin temor.
                <br/>
                <small class="float-end">
                    Flp 1:12-14 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Alégrense por la esperanza segura que tenemos. Tengan paciencia en las dificultades y sigan orando.
                <br/>
                <small class="float-end">
                    Romanos 12:12 (NVI)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Lo {{ completa_lugar('cinco') | raw }} está por {{ completa_lugar('seis') | raw }}:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Confío en que mi vida dará honor a Cristo, sea que yo viva o muera. Pues, para mí, vivir significa vivir
                para Cristo y morir es aún mejor.
                <br/>
                <small class="float-end">
                    Filipenses 1:20-21 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                A través de la fe, Cristo nos ha traído al generoso amor de Dios que ahora disfrutamos, y estamos
                felices con la esperanza de compartir la gloria de Dios.
                <br/>
                <small class="float-end">
                    Romanos 5:2 (PDT)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}

            {#                <div class="col-sm-4 mx-auto text-center"> #}
            {#                    “ Jesús habló una vez más al pueblo y dijo: «Yo soy la luz del mundo. Si ustedes me siguen, no #}
            {#                    tendrán que andar en la oscuridad porque tendrán la luz que lleva a la vida».” #}
            {#                    <br/> #}
            {#                    Juan 8:12 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
