<div class="col-sm-12">
    <h3>
        AMIGOS SIN FINAL
        <br/>
        <small>
            Serie: Reunión – Parte 2
        </small>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Ya no los llamo siervos… los he llamado amigos."
            <br/>
            <small class="float-right">
                Juan 15:15 (NVI)
            </small>
        </p>
        <br/>
    </h3>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <h4>
            COMO CONSEGUIR AMIGOS SIN FINAL
        </h4>
        <strong>
            1. {{ completa_lugar('uno') | raw}}  BIEN TUS AMIGOS
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Eligió a doce de ellos para que lo acompañaran siempre…"
            <br/>
            <small class="float-right">
                Marcos 3:14 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Con ciertos amigos, no hacen falta enemigos, pero hay otros amigos que valen más que un hermano."
            <br/>
            <small class="float-right">
                Proverbios 18:24 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            No te juntes con gente de mal genio ni te hagas amigo de gente violenta, porque puedes volverte como ellos
            y pondrás tu vida en peligro."
            <br/>
            <small class="float-right">
                Proverbios 22:24-25 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Ustedes dicen… que soy amigo de gente de mala fama y de los que cobran impuestos para Roma."
            <br/>
            <small class="float-right">
                Lucas 7:34 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            Soy amigo de los que te adoran y de los que te obedecen."
            <br/>
            <small class="float-right">
                Salmos 119:63 (TLA)
            </small>
        </p>
        <br/>
        <strong>
            2. ABRÍ TU {{ completa_lugar('dos') | raw}} CON TUS AMIGOS
        </strong>
<br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Después Jesús fue con ellos a un lugar llamado Getsemaní y les dijo: -Siéntense aquí mientras voy allí a
            orar… -¡Mi tristeza es tan grande que me siento morir! Quédense aquí, manténganse despiertos conmigo."
            <br/>
            <small class="float-right">
                Mateo 26:36-38 (PDT)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Les digo todo esto para que sean tan felices como yo."
            <br/>
            <small class="float-right">
                Juan 15:11 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Para afilar el hierro, la lima; para ser mejor persona, el amigo. "
            <br/>
            <small class="float-right">
                Proverbios 27:17 (TLA)
            </small>
        </p>
        <br/>
        <strong>
            3. ESPERA LO {{ completa_lugar('tres') | raw}} DE TUS AMIGOS
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Ustedes harán cosas todavía mayores de las que yo he hecho."
            <br/>
            <small class="float-right">
                Juan 14:12 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Cuando se perdona una falta, el amor florece, pero mantenerla presente separa a los amigos íntimos. "
            <br/>
            <small class="float-right">
                Proverbios 17:9 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Después de haber orado Job por sus amigos, el Señor lo hizo prosperar de nuevo y le dio dos veces más de
            lo que antes tenía. "
            <br/>
            <small class="float-right">
                Job 42:10 (NVI)
            </small>
        </p>
        <br/>
        <strong>
            4. SE {{ completa_lugar('cuatro') | raw}}  A TUS AMIGOS
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Aunque uno se aparte del temor al Todopoderoso, el amigo no le niega su lealtad. [2] "
            <br/>
            <small class="float-right">
                Job 6:14 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No abandones a tu amigo ni al amigo de tu padre..."
            <br/>
            <small class="float-right">
                Proverbios 27:10 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Un amigo es siempre leal. "
            <br/>
            <small class="float-right">
                Proverbios 17:17 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “El chisme separa a los mejores amigos. "
            <br/>
            <small class="float-right">
                Proverbios 16:28 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Las heridas de un amigo sincero son mejores que muchos besos de un enemigo. "
            <br/>
            <small class="float-right">
                Proverbios 27:6 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            5. ASEGURATE QUE {{ completa_lugar('cinco') | raw}} SEA EL CENTRO DE TU AMISTAD
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Les exijo que se amen como yo los amo. Y les voy a enseñar cómo medir la intensidad de ese amor: No hay
            amor más grande que el que se demuestra cuando una persona da la vida por los amigos."
            <br/>
            <small class="float-right">
                Juan 15:12-13 (BAD)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Entre ellos, Jesús escogió a doce para que estuvieran con él y luego enviarlos a otros lugares para
            anunciar su mensaje. Los llamó apóstoles."
            <br/>
            <small class="float-right">
                Marcos 3:14 (PDT)
            </small>
        </p>

    </div>
</div>
<hr/>

{{ encore_entry_script_tags('nota_mensaje') }}
