<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <h5 class="text-izq text-600">
                LAS DESVENTURAS DEL FRENTE “IJE”
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Moab</b> se rebeló contra el rey de <b>Israel</b>.<br/>
                <sup>6</sup> Entonces el rey Jorán...<br/>
                <sup>7</sup>... mandó a decir al rey Josafat de <b>Judá</b>: … ¿Me acompañarás a luchar contra Moab?» Y Josafat respondió: «Por supuesto que iré…<br/>
                <sup>8</sup> ¿Qué camino tomaremos?» Y Jorán respondió: «Tomaremos <b>el camino del desierto de Edom</b>.»<br/>
                <sup>9</sup>“El rey de <b>Israel</b> y el rey de <b>Judá</b>, junto con el rey de <b>Edom</b>, tomaron
                <b>el camino del desierto</b>, pero después de siete días les faltó agua para el ejército y para las
                bestias.<br/>
                <sup>10</sup> Entonces el rey de Israel dijo: «¡Vaya! El Señor ha convocado a estos tres reyes para
                entregarlos en manos de los moabitas.»
                <sup>11</sup> Pero Josafat dijo: «<b>¿No hay por aquí algún profeta del Señor?</b> ¡Podríamos
                consultarlo por medio de él!» Uno de los oficiales del rey de Israel respondió: <b>«Por aquí está
                    Eliseo...»</b> <br/>
                <sup>12</sup> Y Josafat dijo: «En él habrá palabra del Señor.» <b>Y los tres reyes fueron a verlo</b>.”
                <br/>
                <small class="float-end">
                    2 Reyes 3:9-12 (RVC)
                </small>
            </p>
            <h5 class="text-izq text-600">
                EL PRERREQUISITO: LLENAR EL VALLE CON {{ completa_lugar('uno') | raw }}.
            </h5>

            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    No podemos capturar el {{ completa_lugar('uno') | raw }} si seguimos aferrados #}
            {#                    al {{ completa_lugar('dos') | raw }}. #}
            {#                </div> #}
            {#            </div> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                “Tráiganme ahora un músico. Y sucedió que <b>mientras el músico tocaba, la mano del SEÑOR vino</b> sobre
                Eliseo”
                <br/>
                <small class="float-end">
                    2 Reyes 3:15 (NBLH)
                </small>
            </p>

            <h5 class="text-izq text-600">
                LA PROMESA
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Así dice el Señor: <b>Abran zanjas por todo este valle</b>, <br/>
                <sup>17</sup> pues aunque no vean viento ni lluvia dice el Señor, <b>este valle se llenará de agua</b>,
                de modo que podrán beber ustedes y todos sus animales. <br/>
                <sup>18</sup> Esto es poca cosa para el Señor, que además entregará a Moab en manos de ustedes.”
                <br/>
                <small class="float-end">
                    2 Reyes 3:15-18 (NVI)
                </small>
            </p>

            <h4 class="text-izq text-600">
                COMO HACER ESPACIO PARA EL MILAGRO
            </h4>

            <h5 class="text-izq text-600">
                1. ABRE EL {{ completa_lugar('dos') | raw }}
            </h5>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <ul> #}
            {#                        <li>Soltar ciertos hábitos.</li> #}
            {#                        <li> Soltar el personaje.</li> #}
            {#                        <li> Soltar tu garantía de estabilidad.</li> #}
            {#                        <li> Soltar a ciertas personas.</li> #}
            {#                        <li> Soltar ciertas fantasías de escape.</li> #}
            {#                        <li> Soltar heridas y decepciones.</li> #}
            {#                        <li> Soltar {{ completa_lugar('cuatro') | raw }}.</li> #}
            {#                    </ul> #}
            {#                </div> #}
            {#            </div> #}
            <p class="text-14-300 font-italic pl-4 text-center">
                “«Así ha dicho el Señor: “Caven <b>en este valle</b> muchos estanques.”
                <br/>
                <small class="float-end">
                    2 Reyes 3:16 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Debido a la incredulidad de ellos, Jesús no pudo hacer ningún milagro allí… estaba asombrado de su
                incredulidad”
                <br/>
                <small class="float-end">
                    Marcos 6:5-6 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. AMPLIA TU {{ completa_lugar('tres') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “... muchos estanques”
                <br/>
                <small class="float-end">
                    2 Reyes 3:16 (RVC)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Esto es poca cosa para el Señor</b>, que además entregará a Moab en manos de ustedes.”
                <br/>
                <small class="float-end">
                    2 Reyes 3:18 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. COMIENZA A {{ completa_lugar('cuatro') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Caven</b> ... este valle se llenará”
                <br/>
                <small class="float-end">
                    2 Reyes 3:16-17 (RVC)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. OBEDECE {{ completa_lugar('cinco') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “... <b>aunque no vean</b> viento ni lluvia dice el Señor, este valle se llenará de agua.”
                <br/>
                <small class="float-end">
                    2 Reyes 3:17 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. BATALLA {{ completa_lugar('seis') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “A la mañana siguiente,... toda el área se inundó con el agua que venía de la región de Edom.”
                <br/>
                <small class="float-end">
                    2 Reyes 3:20 (NVI)
                </small>
            </p>
            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    EL PODER DE LA SANGRE
                </div>
            </div>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Los moabitas... tomaron posiciones en la frontera. <br/>
                <sup>22</sup> Al levantarse ellos por la mañana, el sol se reflejaba sobre el agua, y a los moabitas les
                pareció que estaba teñida en sangre.<br/>
                <sup>23</sup> <b>“¡Es sangre de batalla!</b> Exclamaron. Esos reyes deben de haber peleado, y se han
                matado unos a otros. ¡Vamos, Moab, al saqueo!”<br/>
                <sup>24</sup> Cuando... llegaron al campamento de Israel, <b>los israelitas les hicieron frente y los
                    derrotaron</b>”
                <br/>
                <small class="float-end">
                    2 Reyes 3:21-24 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Pues todos hemos pecado; <b>nadie puede alcanzar la meta gloriosa establecida por Dios</b>.<br/>
                <sup>24</sup> Sin embargo, con <b>una bondad que no merecemos</b>, Dios nos declara justos por medio de Cristo Jesús, ...<br/>
                <sup>25</sup> ... <b>Las personas son declaradas justas a los ojos de Dios</b> cuando creen que Jesús sacrificó su vida <b>al derramar su sangre</b>...”
                <br/>
                <small class="float-end">
                    Romanos 3:23-25 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
