<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h5 class="text-centrado text-600">
                El secreto mejor guardado de Eliseo:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Estoy segura de que este hombre… es un santo hombre <b>de Dios</b>.”
                <br/>
                <small class="float-start">
                    2 Reyes 4:9 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Eliseo hizo más que buenas acciones, actuaba con <b>el poder de Dios</b>.<br/>
                Tenía algo más que una buena agenda, realizaba <b>la agenda de Dios</b>.<br/>
                Era un “{{ completa_lugar('uno') | raw }}”
            </h5>
            <h5 class="text-centrado text-600">
                El Depósito Central
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¡Escucha lo que dice el SEÑOR! <b>Vi al SEÑOR sentado en su trono, rodeado por todos los ejércitos del
                    cielo</b>, a su derecha y a su izquierda.<br/>
                <sup>20</sup> Entonces el SEÑOR dijo: “<b>¿Quién puede …?”</b>. »Hubo muchas sugerencias,<br/>
                <sup>21</sup> hasta que finalmente un espíritu se acercó al SEÑOR y dijo: <b>“¡Yo puedo
                    hacerlo!”</b>.<br/>
                <sup>22</sup> »“¿Cómo lo harás?”, preguntó el SEÑOR. »El espíritu contestó: “Saldré e inspiraré… ”. »…,
                <b>adelante, hazlo</b>”
                <br/>
                <small class="float-start">
                    1 Reyes 22:19-22 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Jesús revela el secreto.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                «Mi Padre <b>siempre trabaja</b>, y yo también»…<br/>
                <sup>19</sup> «Les digo la verdad, el Hijo no puede hacer nada por su propia cuenta, <b>sólo hace lo que
                    ve que el Padre hace</b>… pues el Padre ama al Hijo y <b>le muestra todo lo que hace</b>… … llevo a
                cabo la voluntad del que me envió y no la mía.”
                <br/>
                <small class="float-start">
                    Juan 5:17-30 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Dios busca repartidores.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “De hecho, el SEÑOR Soberano <b>nunca hace nada sin antes revelar sus planes a sus siervos</b>, los
                profetas.”
                <br/>
                <small class="float-start">
                    Amós 3:7 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El Señor <b>recorre con su mirada</b> toda la tierra, y está listo para ayudar a quienes le son <b>fieles</b>.”
                <br/>
                <small class="float-start">
                    2 Crónicas 16:9 (NVI)
                </small>
            </p>

            <h4 class="text-izq text-600">
                Las 4 claves para vivir en Tierra de Milagros.
            </h4>
            <h5 class="text-centrado text-600">
                1. La clave {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Isaías: “<b>Vi al Señor</b> excelso y sublime, sentado en un trono; las orlas de su manto llenaban el
                templo. Por encima de él había serafines, … Y se decían … toda la tierra está llena de su gloria.”…
                Entonces oí la voz del Señor que decía: <b>¿A quién enviaré?</b> ¿Quién irá por nosotros? Y respondí:
                Aquí estoy. ¡Envíame a mí! Él dijo: Ve….”
                <br/>
                <small class="float-start">
                    Isaías 6:1-9 (NVI)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                2. La clave de {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Eliseo:<b>¿Qué puedo hacer por ti?</b>”
                <br/>
                <small class="float-start">
                    2 Reyes 4:13 (NVI)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                3. La clave del {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando venga el Espíritu de verdad, <b>él los guiará a toda la verdad</b>. Él no hablará por su propia
                cuenta, sino que les dirá lo que ha oído y <b>les contará lo que sucederá en el futuro</b>.”
                <br/>
                <small class="float-start">
                    Juan 16:13 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                4. La clave del {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El Señor le habló en una visión, lo llamó: ¡Ananías! ¡Sí, Señor! —respondió.<br/>
                <sup>11</sup> El Señor le dijo: <b>Ve a la calle llamada Derecha</b>, a la casa de Judas. Cuando
                llegues, pregunta por un hombre de Tarso que se llama <b>Saulo. En este momento, él está
                    orando</b>.<br/>
                <sup>12</sup> Le he mostrado en visión a un hombre llamado Ananías que entra y pone las manos sobre él
                para que recobre la vista.<br/>
                <sup>13</sup> <b>¡Pero Señor!</b> —exclamó Ananías—, ¡he oído a mucha gente hablar de las cosas
                terribles que ese hombre les ha hecho a los creyentes de Jerusalén!<br/>
                <sup>14</sup> Además, tiene la autorización de los sacerdotes principales para arrestar a todos los que
                invocan tu nombre.<br/>
                <sup>15</sup> El Señor le dijo: Ve, porque él es mi instrumento elegido <b>para llevar mi mensaje</b> a
                los gentiles y a reyes, como también al pueblo de Israel;”
                <br/>
                <small class="float-start">
                    Hechos 9:10-15 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Oí la voz del Señor que decía: ¿A quién enviaré? ¿Quién irá por nosotros? Y respondí:<br/>
                <b>Aquí estoy. ¡Envíame a mí!</b> Él dijo: Ve….”
                <br/>
                <small class="float-start">
                    Isaías 6:8-9 (NVI)
                </small>
            </p>

            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
