<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-izq text-600">
                Cuatro pasos hacia un milagro de provisión
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                Marcos 6:34-44 -También Juan 6:1-13; Mateo 14:13-21; Lucas 9:10-17
            </p>
            <h5 class="text-izq text-600">
                PASO 1: {{ completa_lugar('uno') | raw }} vs. 34-36
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Una gran multitud… un lugar remoto… ¡Y nada para comer!
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Todo milagro comienza con:
            </p>
            <h5 class="text-izq text-600">
                PASO 2: {{ completa_lugar('dos') | raw }} vs. 35, 37
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Al atardecer, los discípulos se le acercaron…”
                <br/>
                <small class="float-start">
                    Marcos 6:35 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús ya sabía lo que iba a hacer.”
                <br/>
                <small class="float-start">
                    Juan 6:6 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús les dijo: Denles ustedes de comer…”
                <br/>
                <small class="float-start">
                    Marcos 6:37 (NTV)”
                </small>
            </p>
            <h6 class="text-izq text-600">
                Reacción común ante un problema:
            </h6>
            <h5 class="text-izq text-600">
                {{ completa_lugar('tres') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando ya se hizo tarde…”
                <br/>
                <small class="float-start">
                    v.35 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                {{ completa_lugar('cuatro') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Despide a la gente…”
                <br/>
                <small class="float-start">
                    v. 36
                </small>
            </p>
            <h5 class="text-izq text-600">
                {{ completa_lugar('cinco') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “… ¡Tendríamos que trabajar durante meses para ganar suficiente a fin de comprar comida para toda esta
                gente!”
                <br/>
                <small class="float-start">
                    v.:37 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                PASO 3: {{ completa_lugar('seis') | raw }} vs.38
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “’¿Cuánto pan tienen? —preguntó. Vayan y averigüen. Ellos regresaron e informaron: Tenemos cinco panes y
                dos pescados.”
                <br/>
                <small class="float-start">
                    Marcos 6:38 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-left">
                El muchacho dio:
            </p>
            <h5 class="text-centrado text-600">
                {{ completa_lugar('siete') | raw }}
            </h5>
            <h5 class="text-centrado text-600">
                {{ completa_lugar('ocho') | raw }}
            </h5>
            <h5 class="text-centrado text-600">
                {{ completa_lugar('nueve') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Andrés dijo: `... ¿Pero de qué sirven ante esta enorme multitud?».”
                <br/>
                <small class="float-start">
                    Juan 6:9 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todo lo que den es bien recibido si lo dan con entusiasmo. Y den según lo que tienen, no según lo que
                no tienen.”
                <br/>
                <small class="float-start">
                    2 Corintios 8:12 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                PASO 4: {{ completa_lugar('diez') | raw }} vs. 39-41
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “-Se hará con ustedes conforme a su fe.”
                <br/>
                <small class="float-start">
                    Mateo 9:29 (NVI)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
