<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Los pastores contaron a todos lo que había sucedido y lo que el ángel les había dicho acerca del
                niño.<br/>
                <sup>18</sup> Todos los que escucharon el relato de los pastores quedaron asombrados,<br/>
                <sup>19</sup> pero <b>María guardaba todas estas cosas en el corazón y pensaba en ellas con
                    frecuencia</b>.”
                <br/>
                <small class="float-start">
                    Lucas 2:17-19 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                TU HISTORIA CON DIOS ES EL {{ completa_lugar('uno') | raw }} PARA<br/>
                AVANZAR EN LOS TIEMPOS {{ completa_lugar('dos') | raw }} Y DIFÍCILES.
            </h5>
            <h4 class="text-centrado text-600">
                El poder de guardar una historia con Dios
            </h4>
            <h5 class="text-izq text-600">
                1. Me sostiene en la {{ completa_lugar('tres') | raw }} de Su amor
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Por esto <b>sé que me quieres</b>: porque <b>no permitiste</b> que mis enemigos triunfaran sobre mí.”
                <br/>
                <small class="float-start">
                    Salmos 41:11 (BTI-NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Que todo lo que soy alabe al SEÑOR; <b>que nunca olvide todas las cosas buenas que hace por mí</b>”
                <br/>
                <small class="float-start">
                    Salmos 103:2 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                2. Me impulsa en la {{ completa_lugar('cuatro') | raw }} de Su poder
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Abraham: “El SEÑOR, Dios del cielo, <b>quien me sacó de la casa de mi padre y de mi tierra natal</b>,
                prometió solemnemente dar esta tierra a mis descendientes. Él enviará a su ángel delante de ti y <b>se
                    encargará...</b>”
                <br/>
                <small class="float-start">
                    Génesis 24:7 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<b>Se olvidaron</b> de lo que él había hecho, de las grandes maravillas que les había mostrado,<br/>
                <sup>12</sup> de los milagros que hizo para sus antepasados.”
                <br/>
                <small class="float-start">
                    Salmos 78:11-12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<b>No olvides</b> que él te guío por el inmenso y terrible desierto, … ¡Él te dio agua de la roca!<br/>
                <sup>16</sup> En el desierto, te alimentó con maná, …<br/>
                <sup>17</sup> Todo esto lo hizo para que nunca se te ocurriera pensar: “He conseguido toda esta riqueza
                con <b>mis propias fuerzas</b> y energías”.”
                <br/>
                <small class="float-start">
                    Deuteronomio 8:15-17 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                3. Me da {{ completa_lugar('cinco') | raw }} frente a toda intimidación
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                David: “¡<b>El mismo SEÑOR que me rescató</b> de las garras del león y del oso <b>me rescatará</b> de
                este filisteo!”
                <br/>
                <small class="float-start">
                    1° Samuel 17:34-37 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                Pablo: “Estoy sufriendo aquí, en prisión; pero no me avergüenzo de ello, porque <b>yo sé en quién he
                    puesto mi confianza y estoy seguro de que él es capaz</b> de guardar lo que le he confiado.”
                <br/>
                <small class="float-start">
                    2° Timoteo 1:12 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                NO PODES {{ completa_lugar('seis') | raw }} EN AQUELLO PARA LO QUE FUISTE CREADO <br/>
                SIN PASAR POR LAS TORMENTAS OSCURAS DE LAS {{ completa_lugar('siete') | raw }}.
            </h5>
            <h5 class="text-centrado text-600">
                PARA ENFRENTAR ESAS PRUEBAS NECESITAS<br/>
                SABER QUIEN ES {{ completa_lugar('ocho') | raw }}, RECORDAR SUS MARAVILLAS, Y DEFINIRTE EN QUIEN SOS EN
                CRISTO:<br/>
                ¡SOS {{ completa_lugar('nueve') | raw }} DE LO QUE PENSÁS!
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cuando vino <b>la hora sexta</b>, hubo tinieblas sobre toda la tierra hasta <b>la hora novena</b>.<br/>
                <sup>34</sup> Y a la hora novena Jesús clamó a gran voz, diciendo: … “Dios mío, Dios mío, ¿por qué me
                has desamparado?”
                <br/>
                <small class="float-start">
                    Marcos 15:33-35 (RV95)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “Podremos <b>mantener la frente en alto</b><br/> #}
            {#                    en cualquier circunstancia,<br/> #}
            {#                    sabiendo que <b>todo irá bien</b>,<br/> #}
            {#                    pues conocemos <b>la ternura del amor de Dios</b> hacia nosotros,...<br/> #}
            {#                    Cuando, <b>impotentes</b>, no teníamos medio de escape,<br/> #}
            {#                    Cristo llegó <b>en el momento oportuno</b> #}
            {#                    y murió por nosotros.” #}

            {#                    Romanos 5:5-6 (BAD) #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
