<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <p class="text-14-300 font-italic pl-4 text-center">
                “Si se usa un hacha sin filo hay que hacer doble esfuerzo, por lo tanto, afila la hoja”
                <br/>
                <small class="float-end">
                    Eclesiastés 10:10 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cierto día, el grupo de profetas fue a ver a Eliseo para decirle: Como puedes ver, este lugar, donde
                nos reunimos contigo es demasiado pequeño.<br/>
                <sup>2</sup> Bajemos al río Jordán, donde hay bastantes troncos. Allí podemos construir un lugar para
                reunirnos. Me parece bien —les dijo Eliseo—… Una vez que llegaron al Jordán, comenzaron a talar árboles;<br/>
                <sup>5</sup> pero mientras uno de ellos cortaba un árbol, <b>la cabeza de su hacha cayó al río</b>. ¡Ay,
                señor! —gritó—, ¡era un hacha prestada!<br/>
                <sup>6</sup> <b>¿Dónde cayó?</b> —preguntó el hombre de Dios. Cuando le mostró el lugar, Eliseo cortó un
                palo y lo tiró al agua en ese mismo sitio. Entonces <b>la cabeza del hacha salió a flote</b>.<br/>
                <sup>7</sup> Agárrala —le dijo Eliseo. Y el hombre extendió la mano y la tomó.”
                <br/>
                <small class="float-end">
                    2 Reyes 6:1-7 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                ¿CÓMO RECUPERAR TU PASIÓN?
            </h4>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('uno') | raw }} que la perdiste.
            </h5>

            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Mientras uno de ellos cortaba un árbol, <b>la cabeza de su hacha cayó al río</b>. ¡Ay, señor! —gritó—,
                ¡era un hacha prestada!”
                <br/>
                <small class="float-end">
                    2 Reyes 6:5 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Tres síntomas de perdida de pasión:
            </h5>
            <h5 class="text-centrado text-600">
                Ya no estás enfocado en {{ completa_lugar('dos') | raw }} a los demás.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Tengo en tu contra que has abandonado tu primer amor.”
                <br/>
                <small class="float-end">
                    Apocalipsis 2:4 (NVI)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                Dejas de dar {{ completa_lugar('tres') | raw }}.
            </h5>
            <h5 class="text-centrado text-600">
                Tu {{ completa_lugar('cuatro') | raw }} se achica.
            </h5>
            <h5 class="text-izq text-600">
                2. Reconoce {{ completa_lugar('cinco') | raw }} la perdiste.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “¿Dónde cayó? —preguntó el hombre de Dios. ”
                <br/>
                <small class="float-end">
                    2 Reyes 6:6 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Espera que {{ completa_lugar('seis') | raw }} restaure tu relación con él.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                Cuando le mostró el lugar, Eliseo cortó un palo y lo tiró al agua <b>en ese mismo sitio</b>. Entonces la
                cabeza del hacha <b>salió a flote</b>.”
                <br/>
                <small class="float-end">
                    2 Reyes 6:6 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Jesús los miró y les dijo: Humanamente hablando es imposible, pero <b>para Dios todo es posible</b>.”
                <br/>
                <small class="float-end">
                    Mateo 19:26 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Esto responde el SEÑOR: Si regresas a mí <b>te restauraré</b> para que puedas continuar sirviéndome….”
                <br/>
                <small class="float-end">
                    Jeremías 15:19 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. A {{ completa_lugar('siete') | raw }} y {{ completa_lugar('ocho') | raw }} la ayuda de Dios.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Agárrala —le dijo Eliseo. Y el hombre extendió la mano y <b>la tomó</b>.”
                <br/>
                <small class="float-end">
                    2 Reyes 6:7 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “¡<b>Recuerda</b> de dónde has caído! <b>Arrepiéntete</b> y vuelve a <b>practicar</b> las obras que hacías al principio.”
                <br/>
                <small class="float-end">
                    Apocalipsis 2:5 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Restáuranos una vez más, Dios y salvador nuestro.”
                <br/>
                <small class="float-end">
                    Salmos 85:4 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Aunque él [justo] caiga siete veces, <b>siete veces se levantará</b>”
                <br/>
                <small class="float-end">
                    Proverbios 24:16 (PDT)
                </small>
            </p>



            {#            <h5 class="text-izq text-600"> #}
            {#                <strong>Tenés todo lo que necesitas, nunca te conformes con menos de aquello para lo cual Dios te creo #}
            {#                    para vivir</strong> #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
