<style>
    .nota-style {
        border: 2px solid #b5f2f2; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        NUEVAS FUERZAS PARA AMAR
        <br/>
        <small>
            Serie: Social Ed. - Parte 1
        </small>
    </h3>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                ¿Por qué reaccionamos en vez de relacionarnos?
            </h4>
            <strong>
                Soy controlado por: {{ completa_lugar('uno') | raw}}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Los <u>deseos demandantes</u> de la vida egocéntrica son obvios: inmoralidad sexual, pensamientos lujuriosos,
                pornografía, perseguir cosas en lugar de Dios, manipular a otros, odio a los que se interponen en tu
                camino, discusiones sin sentido, resentimiento cuando se favorece a otros, rabietas, peleas airadas,
                solo pensar en ti mismo, estar enamorado de tus propias opiniones, envidiar las bendiciones de los
                demás, asesinatos, adicciones incontroladas,  fiestas salvajes y cualquier otro comportamiento similar.
                <br/>
                <small class="float-right">
                    Gálatas 5:19-21 (TPT)
                </small><br/>
                <span>
                <strong>Epitimo:</strong> <em>Epi: Sobre – Timo: Deseo intenso.</em>
            </span>
            </p>
            <br/>
            <strong>
                La liberación: {{ completa_lugar('dos') | raw}}.
            </strong><br/>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Al rendirte libre y plenamente a la vida dinámica y al poder del Espíritu Santo, abandonarás los
                anhelos de tu vida egocéntrica.”
                <br/>
                <small class="float-right">
                    Gálatas 5:17 (TPT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Pero el fruto  producido por el Espíritu Santo dentro de ti es <br/>
                El <b>amor divino</b> en todas sus variadas expresiones:<br/>
                <b>Alegría</b> que se desborda,<br/>
                <b>Paz</b> que sobrepasa,<br/>
                <b>Paciencia</b> que perdura,<br/>
                <b>Bondad</b> en acción,<br/>
                Una vida llena de <b>virtud</b>,<br/>
                <b>Fe</b> que prevalece,<br/>
                <b>Gentileza</b> de corazón, y<br/>
                <b>Fuerza</b> de espíritu.<br/>
                ¡Nunca pongas la ley por encima de estas cualidades, porque están destinadas a ser ilimitadas!”
                <br/>
                <small class="float-right">
                    Gálatas 5:22-23 (TPT)
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                LA FUERZA MÁS PODEROSA: EL AMOR
            </h4>
            <strong>
                Ideas equivocadas populares:
            </strong>
            <ol>
                <li>El Amor es solo {{ completa_lugar('tres') | raw}}.</li><br/>
                <li>El amor es {{ completa_lugar('cuatro') | raw}}. </li><br/>
            </ol><br/>
            <h4>
                ¿Qué dice Dios acerca del amor?
            </h4>
            <strong>
                1. Dios dice que el Amor es una {{ completa_lugar('cinco') | raw}}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Por encima de todo, vístanse de amor, que es el vínculo perfecto."
                <br/>
                <small class="float-right">
                    Colosenses 3:14 (NVI)
                </small>
            </p>
            <strong>
                2.  El amor es una cuestión de {{ completa_lugar('seis') | raw}}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Que nuestro amor no quede sólo en palabras; mostremos la verdad por medio de nuestras acciones."
                <br/>
                <small class="float-right">
                    1 Juan 3:18 (NTV)
                </small>
            </p>
            <strong>
                ¿En qué consiste amar?
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El amor es paciente, es bondadoso. El amor no es envidioso ni jactancioso ni orgulloso.  No se
                comporta con rudeza, no es egoísta, no se enoja fácilmente, no guarda rencor. El amor no se deleita en
                la maldad sino que se regocija con la verdad.  Todo lo disculpa, todo lo cree, todo lo espera, todo
                lo soporta. El amor jamás se extingue."
                <br/>
                <small class="float-right">
                    1 Corintios 13:4-8 (NVI)
                </small>
            </p>
            <strong>
                1. {{ completa_lugar('siete') | raw}} - PARA ABRAZAR AL OTRO
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El amor es paciente"
                <br/>
                <small class="float-right">
                    1 Corintios 13:4 (NVI)
                </small>
                <br/>
                <span>
                    <strong>Makrotimia</strong>: <em>Makro: grande – Timo: deseo intenso.</em>
                </span>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “El amor es grande e increíblemente paciente”
                <br/>
                <small class="float-right">
                    1 Corintios 13:4-7 (TPT)
                </small>
            </p>
            <strong>
                2. {{ completa_lugar('ocho') | raw}} – LO VALIOSO QUE TENGO Y EL OTRO NECESITA
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El amor es bondadoso”
                <br/>
                <small class="float-right">
                    1 Corintios 13:4 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El amor no es envidioso. No es presumido ni orgulloso."
                <br/>
                <small class="float-right">
                    1 Corintios 13:4 (PDT)
                </small>
            </p>
            <strong>
                3. {{ completa_lugar('nueve') | raw}} – Y CELEBRAR JUNTOS LA VERDAD
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "No se comporta con rudeza, no es egoísta, no se enoja fácilmente, no guarda rencor."
                <br/>
                <small class="float-right">
                    1 Corintios 13:5 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "No se alegra de la injusticia, sino que se une a la alegría de la verdad."
                <br/>
                <small class="float-right">
                    1 Corintios 13:6 (RVC)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Hablaremos la verdad con amor y así creceremos en todo sentido"
                <br/>
                <small class="float-right">
                    Efesios 4:15 (NTV)
                </small>
            </p>
            <strong>
                4. {{ completa_lugar('diez') | raw}} – MÁS ALLÁ DE TODA ADVERSIDAD
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “Todo lo disculpa, todo lo cree, todo lo espera, todo lo soporta.”
                <br/>
                <small class="float-right">
                    1 Corintios 13:7 (NVI)
                </small>
            </p>
            <strong>
                5. {{ completa_lugar('once') | raw}} – JUNTOS HASTA EL FINAL
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El amor no tiene fin."
                <br/>
                <small class="float-right">
                    1 Corintios 13:8 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Pues las montañas podrán moverse y las colinas desaparecer, pero aun así mi fiel amor por ti
                permanecerá; mi pacto de bendición nunca será roto dice el SEÑOR"
                <br/>
                <small class="float-right">
                    Isaías 54:10 (NTV)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
