<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “No los voy a dejar huérfanos; volveré a ustedes. Dentro de poco el mundo ya no me verá más, pero <b>ustedes
                    sí me verán</b>... Al que me ama, mi Padre lo amará, y yo también lo amaré y <b>me manifestaré</b> a
                él.”
                <br/>
                <small class="float-start">
                    Juan 14:18-19, 21 (NBD)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                Cuando Jesús se revela a personas sencillas
            </h4>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Aquel mismo día, <b>dos de los discípulos</b> se dirigían a un pueblo llamado Emaús, a unos <b>once
                    kilómetros</b> de Jerusalén.<br/>
                <sup>14</sup> Iban hablando de todo lo que había pasado.<br/>
                <sup>15</sup> Mientras <b>conversaban y discutían</b>, Jesús mismo <b>se acercó</b> y comenzó a caminar
                con ellos.<br/>
                <sup>16</sup> Pero aunque lo veían, <b>algo les impedía</b> darse cuenta de quién era.
                <br/>
                <small class="float-start">
                    Lucas 24:13-16 (DHH)
                </small>
            </p>
            <h5 class="text-izq text-600">
                {{ completa_lugar('uno') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “<sup>17</sup> Él les <b>preguntó</b>: ¿De qué vienen discutiendo tan profundamente por el camino? Se
                detuvieron de golpe, con sus rostros cargados de <b>tristeza</b>.<br/>
                <sup>18</sup> Entonces uno de ellos, llamado <b>Cleofas</b>, contestó: Tú debes de ser la única persona
                en Jerusalén que no oyó acerca de las cosas que han sucedido allí en los últimos días.<br/>
                <sup>19</sup> ¿Qué cosas? —preguntó Jesús. Las cosas que le sucedieron a Jesús, el hombre de Nazaret —le
                dijeron. Era un <b>profeta</b> que hizo milagros poderosos, y también era un gran <b>maestro</b> a los
                ojos de Dios y de todo el pueblo.<br/>
                <sup>20</sup> Sin embargo, los principales sacerdotes y otros líderes religiosos lo entregaron para que
                fuera <b>condenado</b> a muerte, y lo crucificaron.
                <br/>
                <small class="float-start">
                    {#                    Josué 3:3-4 (DHH) #}
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<sup>21</sup> Nosotros teníamos la esperanza de que fuera el <b>Mesías</b> que había venido para
                rescatar a Israel. Todo esto sucedió <b>hace tres días</b>.<br/>
                <sup>22</sup> »No obstante algunas mujeres de nuestro grupo de seguidores fueron a su tumba esta mañana
                temprano y regresaron con <b>noticias increíbles</b>.<br/>
                <sup>23</sup> Dijeron que el cuerpo había desaparecido y que habían visto a ángeles, quienes les
                dijeron, ¡que <b>Jesús está vivo</b>!<br/>
                <sup>24</sup> Algunos de nuestros hombres corrieron para averiguarlo, y efectivamente <b>el cuerpo no
                    estaba</b>, tal como las mujeres habían dicho.
                <br/>
                <small class="float-start">
                    Lucas 24:17-24
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Entonces Jesús les dijo: ¡Qué necios son! Les cuesta tanto creer todo lo que los profetas escribieron
                en las Escrituras. ¿Acaso no profetizaron claramente que <b>el Mesías tendría que sufrir</b> todas esas
                cosas <b>antes de entrar en su gloria</b>? Entonces Jesús <b>los guió por los escritos</b> de Moisés y
                de todos los profetas, explicándoles lo que las Escrituras decían acerca de él mismo.
                <br/>
                <small class="float-start">
                    {#                    Lucas 24:17-24 #}
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Para entonces ya estaban cerca de Emaús y del final del viaje. Jesús hizo como que iba a seguir
                adelante, pero ellos le suplicaron: «Quédate con nosotros esta noche, ya que se está haciendo tarde».
                Entonces los acompañó a la casa. Al sentarse a comer, <b>tomó el pan y lo bendijo</b>. Luego lo partió y
                se lo dio a ellos. De pronto, <b>se les abrieron los ojos</b>y lo reconocieron. Y, en ese instante,
                Jesús desapareció.”
                <br/>
                <small class="float-start">
                    Lucas 24:25-31
                </small>
            </p>


            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Entonces se dijeron el uno al otro:<br/>
                «¿No ardía nuestro corazón cuando nos hablaba en el camino<br/>
                y nos explicaba las Escrituras?».
                <br/>
                <small class="float-start">
                    {#                    Mateo 25:14-15 (NVI) #}
                </small>
            </p>
            <h5 class="text-izq text-600">
                {{ completa_lugar('dos') | raw }}
            </h5>
            <h5 class="text-izq text-600">
                {{ completa_lugar('tres') | raw }}
            </h5>
            <h5 class="text-izq text-600">
                {{ completa_lugar('cuatro') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<b>En menos de una hora</b>, estaban de regreso a Jerusalén. Allí encontraron a los once discípulos y
                los otros que se habían reunido con ellos, quienes decían: «¡El Señor ha resucitado de verdad! ...».
                <br/>
                <small class="float-start">
                    {#                    Mateo 25:19 (NVI) #}
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Luego los dos de Emaús les contaron cómo Jesús se les había aparecido... Entonces, justo mientras
                contaban la historia, de pronto <b>Jesús mismo apareció</b> de pie en medio de ellos. «La paz sea con
                ustedes», les dijo.“
                <br/>
                <small class="float-start">
                    Lucas 24:32-36 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Mira que <b>estoy a la puerta</b> y llamo. Si alguno <b>oye mi voz</b> y abre la puerta, entraré, y
                cenaré con él, y él conmigo. “
                <br/>
                <small class="float-start">
                    Apocalipsis 3:20 (NBD)
                </small>
            </p>




            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Dios amó tanto al mundo que dio a su Hijo único para que #}
            {#                    todo el que crea en él no se pierda, sino que tenga vida #}
            {#                    eterna. <br/> #}
            {#                    Juan 3:16 (PDT) #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
