<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h5 class="text-centrado text-600">
                NUESTRO DIOS SANA.<br/>
                PERO ÉL NO SANA A {{ completa_lugar('uno') | raw }} TODO EL TIEMPO.
            </h5>
            <h4 class="text-izq text-600">
                Tres claves para recibir un milagro
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús fue con él, y toda la gente lo siguió, <b>apretujada a su alrededor</b>.<br/>
                <sup>25</sup> Una mujer de la multitud hacía doce años que sufría una hemorragia continua.<br/>
                <sup>26</sup> Había sufrido mucho con varios médicos y, a lo largo de los años, <b>había gastado
                    todo</b> lo que tenía para poder pagarles, pero nunca mejoró. De hecho, se puso peor.<br/>
                <sup>27</sup> “Ella había <b>oído</b> de Jesús, así que se le acercó por detrás entre la multitud y tocó
                su túnica.<br/>
                <sup>28</sup> Pues <b>pensó</b>: «Si tan sólo tocara su túnica, quedaré sana».
                <br/>
                <small class="float-start">
                    Marcos 5:24-28 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando la mujer vio a Jesús, <b>se abrió paso entre la gente</b>, se le acercó por detrás y le tocó la
                ropa.”
                <br/>
                <small class="float-start">
                    Marcos 5:27 (TLA)
                </small>
            </p>
            <h5 class="text-izq text-600">
                1. Su milagro requiere tu {{ completa_lugar('dos') | raw }}.
            </h5>
            <ul>
                <li>1. Presiona y abrite paso para superar el {{ completa_lugar('tres') | raw }}.</li>
                <li>2. Presiona y abrite paso más allá de la {{ completa_lugar('cuatro') | raw }}.</li>
                <li>3. Presioná y abrite paso más allá de la {{ completa_lugar('cinco') | raw }}.</li>
                <li>2. Presioná y abrite paso más allá de las {{ completa_lugar('seis') | raw }}.</li>
            </ul>
            <p class="text-14-300 font-italic pl-4 text-center">
                <sup>29</sup> “Al instante, la hemorragia se detuvo, y <b>ella pudo sentir en su cuerpo que había sido
                    sanada</b> de su terrible condición.<br/>
                <sup>30</sup> “Jesús se dio cuenta de inmediato de que había salido <b>poder sanador</b> de él, así que
                se dio vuelta y preguntó a la multitud: «<b>¿Quién tocó mi túnica?</b>».<br/>
                <sup>31</sup> “Sus discípulos le dijeron: «Mira a la multitud que te apretuja por todos lados. ¿Cómo
                puedes preguntar: “¿Quién me tocó?”?».<br/>
                <sup>32</sup> “Sin embargo, él siguió mirando a su alrededor para ver quién lo había hecho.<br/>
                <sup>33</sup> Entonces la mujer, <b>asustada y temblando</b> al darse cuenta de lo que le había pasado,
                se le acercó y se arrodilló delante de él y le confesó lo que había hecho.”
                <br/>
                <small class="float-start">
                    Marcos 5:29-33 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Su milagro requiere tu {{ completa_lugar('siete') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                <sup>34</sup> “Y él le dijo: «Hija, <b>tu fe te ha sanado</b>. Ve en paz. Se acabó tu sufrimiento».”
                <br/>
                <small class="float-start">
                    Marcos 5:34 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Por lo tanto, hizo sólo unos <b>pocos milagros</b> allí debido a la incredulidad de ellos.”
                <br/>
                <small class="float-start">
                    Mateo 13:58 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Al leproso: “Jesús le dijo al hombre: «Levántate y sigue tu camino. <b>Tu fe te ha sanado</b>».”
                <br/>
                <small class="float-start">
                    Lucas 17:19 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Al ciego: “Jesús le dijo: Puedes irte, pues <b>tu fe te ha sanado…</b>”
                <br/>
                <small class="float-start">
                    Marcos 10:52 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                La fe que atrae milagros es mas que la confianza en lo que Dios {{ completa_lugar('ocho') | raw }}.
            </h5>
            <h5 class="text-centrado text-600">
                La fe que atrae milagros es nuestra confianza indeclinable en {{ completa_lugar('nueve') | raw }} es
                Dios.
            </h5>
            <h5 class="text-izq text-600">
                3. Su mayor milagro es tu {{ completa_lugar('diez') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                <sup>10</sup> “Así que les demostraré que el Hijo del Hombre tiene autoridad en la tierra para perdonar
                pecados». Entonces Jesús miró al paralítico y dijo:<br/>
                <sup>11</sup> «¡Ponte de pie, toma tu camilla y vete a tu casa!».<br/>
                <sup>12</sup> Y el hombre <b>se levantó de un salto, tomó su camilla y salió caminando</b> entre los
                espectadores, que habían quedado atónitos. Todos estaban asombrados y alababan a Dios, exclamando:
                «¡Jamás hemos visto algo así!».”
                <br/>
                <small class="float-start">
                    Marcos 2:10-12 (NTV)
                </small>
            </p>


            <p class="text-14-300 font-italic pl-4 text-center">
                “»Pues Dios amó tanto al mundo que dio a su único Hijo, para que todo el que <b>crea en él</b> no se
                pierda, sino que tenga <b>vida eterna</b>.”
                <br/>
                <small class="float-start">
                    Juan 3:16 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
