<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <p class="text-14-300 font-italic pl-4 text-centrado">
                "El se entregó a la muerte (castigo que por nuestros pecados merecíamos) para poder rescatarnos de
                nuestras iniquidades y convertirnos en un pueblo que fuera suyo, en un pueblo de corazón limpio que
                ansia sobre todas las cosas hacer el bien. "
                <br/>
                <small class="float-start">
                    Tito 2:14 (BAD)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                TODO LO QUE SUCEDIÓ EN LA CRUZ
            </h4>
            <h5 class="text-izq text-600">
                MEREZCO LA MUERTE, PERO EL ME {{ completa_lugar('uno') | raw }}
            </h5>

            {#            <h6 class="text-centrado text-600"> #}
            {#                EL ES EL PASTOR NOSOTROS SOMOS {{ completa_lugar('uno') | raw }}. #}
            {#            </h6> #}

            <p class="text-14-300 font-italic pl-4 text-izq">
                "Porque el que cumple con toda la ley pero falla en un solo punto ya es culpable de haberla quebrantado
                toda. "
                <br/>
                <small class="float-start">
                    Santiago 2:10 (NBD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                "Porque la paga del pecado es muerte... "
                <br/>
                <small class="float-start">
                    Romanos 6:23 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                "Llevaron a otros dos, ambos criminales, para ser ejecutados con Jesús. Cuando llegaron a un lugar
                llamado «La Calavera», lo clavaron en la cruz y a los criminales también, uno a su derecha y otro a su
                izquierda. "
                <br/>
                <small class="float-start">
                    Lucas 23:32-33 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                "Pero el otro criminal protestó: «¿Ni siquiera temes a Dios ahora que estás condenado a muerte? <b>Nosotros
                    merecemos morir</b> por nuestros crímenes, pero este hombre no ha hecho nada malo». Luego dijo:
                Jesús, acuérdate de mí cuando vengas en tu reino. Jesús respondió: <b>Te aseguro que hoy estarás conmigo
                    en el paraíso</b>. "
                <br/>
                <small class="float-start">
                    Lucas 23:39-43 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                "… pero el regalo que Dios da es la vida eterna por medio de Cristo Jesús nuestro Señor."
                <br/>
                <small class="float-start">
                    Romanos 6:23 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                MEREZCO CONDENACIÓN, PERO ÉL ME DIO {{ completa_lugar('dos') | raw }}!
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                "Mientras hablaba, los maestros de la ley religiosa y los fariseos le llevaron a una mujer que había
                sido sorprendida en el acto de adulterio; la pusieron en medio de la multitud."
                <br/>
                <small class="float-start">
                    Juan 8:3 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                "Entonces Jesús se incorporó de nuevo y le dijo a la mujer: ¿Dónde están los que te acusaban? ¿Ni uno de
                ellos te condenó? Ni uno, Señor —dijo ella. Yo tampoco —le dijo Jesús. Vete y no peques más"
                <br/>
                <small class="float-start">
                    Juan 8:10-12 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                MEREZCO RECHAZO, PERO EL ME DIO {{ completa_lugar('tres') | raw }}!
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                "Jesús entró en Jericó y comenzó a pasar por la ciudad. Había allí un hombre llamado Zaqueo. Era jefe de
                los cobradores de impuestos de la región y se había hecho muy rico."
                <br/>
                <small class="float-start">
                    Lucas 19:1-2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                "Cuando Jesús pasó, miró a Zaqueo y lo llamó por su nombre: «¡Zaqueo! —le dijo—, ¡baja enseguida! Debo
                hospedarme hoy en tu casa». Zaqueo bajó rápidamente y, lleno de entusiasmo y alegría, llevó a Jesús a su
                casa… »."
                <br/>
                <small class="float-start">
                    Lucas 19:5-7 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                "Mientras tanto, Zaqueo se puso de pie delante del Señor y dijo: Señor, daré la mitad de mi riqueza a
                los pobres y, si estafé a alguien con sus impuestos, le devolveré cuatro veces más. Jesús respondió: La
                salvación ha venido hoy a esta casa… Pues el Hijo del Hombre vino a buscar y a salvar a los que están
                perdidos."
                <br/>
                <small class="float-start">
                    Lucas 19:8-10 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                MEREZCO SER DESCARTADO, PERO EL ME DIO {{ completa_lugar('cuatro') | raw }}!
            </h5>


            <p class="text-14-300 font-italic pl-4 text-izq">
                "Pero Pedro dijo: «¡Hombre, no sé de qué hablas!». Inmediatamente, mientras aún hablaba, el gallo cantó.
                En ese momento, el Señor se volvió y miró a Pedro. De repente, las palabras del Señor pasaron
                rápidamente por la mente de Pedro: «Mañana por la mañana, antes de que cante el gallo, negarás tres
                veces que me conoces». Y Pedro salió del patio, llorando amargamente."
                <br/>
                <small class="float-start">
                    Lucas 22:60-62 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                "En cambio, no es nada vergonzoso sufrir por ser cristianos. ¡Alaben a Dios por el privilegio de que los
                llamen por el nombre de Cristo!"
                <br/>
                <small class="float-start">
                    1° Pedro 4:16 (NTV)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
