<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            <h4 class="text-izq text-600">
                COMO ATRAVESAR TIEMPOS DE INCERTIDUMBRE <br/>
                <small>Lucas 22.39-46 y Marcos 14.32-41</small>

            </h4>
            <h5 class="text-izq text-600">
                1. En el lugar de {{ completa_lugar('uno') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Luego, acompañado por sus discípulos, Jesús salió del cuarto en el piso de arriba y, <b>como de
                    costumbre, fue al monte de los Olivos</b>.”
                <br/>
                <small class="float-end">
                    Lucas 22:39 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Fueron al huerto de olivos llamado <b>Getsemaní</b>, y Jesús dijo: «Siéntense aquí mientras yo voy a
                orar».”
                <br/>
                <small class="float-end">
                    Marcos 14:32b
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. En avisada {{ completa_lugar('dos') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Allí les dijo: «Oren <b>para que no cedan a la tentación</b>».
                <br/>
                <small class="float-end">
                    Lucas 22:39-46
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Luego volvió y encontró a los discípulos dormidos. Le dijo a Pedro: «Simón, ¿estás dormido? ¿No pudiste
                velar conmigo ni siquiera una hora? <b>Velen y oren para que no cedan ante la tentación</b>, porque el
                espíritu está dispuesto, pero el cuerpo es débil».”
                <br/>
                <small class="float-end">
                    Marcos 14:37-38
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. En la {{ completa_lugar('tres') | raw }} de mis hermanos.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Se llevó a <b>Pedro, a Santiago y a Juan</b> y comenzó a afligirse y angustiarse profundamente. Les
                dijo: «<b>Mi alma está destrozada de tanta tristeza</b>, hasta el punto de la muerte. <b>Quédense aquí y
                    velen conmigo</b>».”
                <br/>
                <small class="float-end">
                    Marcos 14:33-34 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. En completa {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Se alejó a una distancia como de un tiro de piedra, <b>se arrodilló y oró</b>:”
                <br/>
                <small class="float-end">
                    Lucas 22:41 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Se adelantó un poco más y <b>cayó en tierra</b>. Pidió en oración que, si fuera posible, pasara de él
                <b>la horrible hora que le esperaba</b>.”
                <br/>
                <small class="float-end">
                    Marcos 14:35 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                «Padre, si quieres, te pido que quites <b>esta copa de sufrimiento de mí</b>. Sin embargo, <b>quiero que
                    se haga tu voluntad, no la mía</b>».
                <br/>
                <small class="float-end">
                    Lucas 22:42 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                «Abba, Padre —clamó—, <b>todo es posible para ti</b>.”
                <br/>
                <small class="float-end">
                    Marcos 14:36
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces Jesús los dejó otra vez e hizo <b>la misma oración</b> que antes.”
                <br/>
                <small class="float-end">
                    Marcos 14:39 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando volvió a ellos <b>por tercera vez</b>, ...”
                <br/>
                <small class="float-end">
                    Marcos 14:41 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. En renovada {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces apareció <b>un ángel del cielo y lo fortaleció</b>.”
                <br/>
                <small class="float-end">
                    Lucas 22:43
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Oró con <b>más fervor</b>, y estaba en <b>tal agonía</b> de espíritu que su sudor caía a tierra como
                grandes gotas de sangre.
                <br/>
                <small class="float-end">
                    Lucas 22:44
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Finalmente se puso de pie</b> y regresó adonde estaban sus discípulos, pero los encontró dormidos,
                <b>exhaustos por la tristeza</b>. «¿Por qué duermen? —les preguntó. <b>Levántense</b> y oren para que no
                cedan ante la tentación».”
                <br/>
                <small class="float-end">
                    Lucas 22:45-46 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
