<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h4 class="text-izq text-600"> #}
            {#                Las buenas prioridades… #}
            {#            </h4> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                “Con el tiempo, <b>el hombre pobre</b> murió, y los ángeles lo llevaron a estar <b>con Abraham. El
                    hombre rico</b> también murió y <b>fue enterrado</b>, <sup>23</sup> y su alma fue <b>al lugar de los
                    muertos</b>. Allí, <b>en medio del tormento</b>, vio a Abraham a lo lejos con Lázaro junto a él.
                <sup>24</sup> »El hombre rico gritó: “¡Padre Abraham, ten piedad! Envíame a Lázaro para que moje la
                punta de su dedo en agua y refresque mi lengua. Estoy en angustia en estas llamas”. <b>25</b> »Abraham
                le dijo: “Hijo, <b>recuerda</b> que tuviste todo lo que quisiste durante tu vida, y Lázaro no tuvo nada.
                Ahora él está aquí recibiendo consuelo y tú estás en angustia. <sup>26</sup> Además, hay un gran abismo
                que nos separa. <b>Ninguno de nosotros puede cruzar</b> hasta allí, y ninguno de ustedes puede cruzar
                hasta aquí”. »Entonces el hombre rico dijo: “Por favor, padre Abraham, al menos envíalo a la casa de mi
                padre. <b>Tengo cinco hermanos y quiero advertirles que no terminen en este lugar de tormento</b>”.
                »Abraham le dijo: “Moisés y los profetas ya les advirtieron. Tus hermanos pueden leer lo que ellos
                escribieron”.

                <br/>
                <small class="float-end">

                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¿De qué le sirve a un hombre ganarse el mundo entero <b>si pierde su alma</b>?”
                <br/>
                <small class="float-end">
                    Marcos 8:36 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Este lago de fuego es <b>la muerte segunda</b>… allí fueron arrojados los que no tenían su nombre
                escrito en el libro de la vida”
                <br/>
                <small class="float-end">
                    Apocalipsis 20:13-15 (DHH)
                </small>
            </p>


            <p class="text-14-300 font-italic pl-4 text-center">
                “Si nuestra esperanza en Cristo es <b>sólo para esta vida</b>, somos los más dignos de lástima de todo
                el mundo.”
                <br/>
                <small class="float-end">
                    1 Corintios 15:19 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. Todos vamos a {{ completa_lugar('dos') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “El que cree en el Hijo, tiene vida eterna; pero el que no quiere creer en el Hijo, <b>no tendrá esa
                    vida…</b>”
                <br/>
                <small class="float-end">
                    Juan 3:36 (DHH)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. No habrá {{ completa_lugar('tres') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Los que se niegan a obedecer la Buena Noticia de nuestro Señor Jesús. <sup>9</sup> <b>Serán castigados
                    con destrucción eterna…</b>”
                <br/>
                <small class="float-end">
                    2° Tesalonicenses 1:7-9 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Nadie puede saber a ciencia cierta {{ completa_lugar('cuatro') | raw }} irá al cielo.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “En esto <b>se reconocen</b> los hijos de Dios y los hijos del diablo: todo aquél que <b>no practica la
                    justicia</b>, no es de Dios; tampoco aquél que <b>no ama a su hermano</b>.”
                <br/>
                <small class="float-end">
                    1 Juan 3:10 (NBLH)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. Voy a ir al cielo por mi buena {{ completa_lugar('cinco') | raw }} o
                mi {{ completa_lugar('seis') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “La salvación no es un premio por las cosas buenas que hayamos hecho”
                <br/>
                <small class="float-end">
                    Efesios 2:9 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “¡En ningún otro hay salvación! Dios no ha dado <b>ningún otro nombre</b> bajo el cielo, mediante el
                cual podamos ser salvos”
                <br/>
                <small class="float-end">
                    Hechos 4:12 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                6. Soy salvo porque una vez hice {{ completa_lugar('siete') | raw }} de fe.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No todo el que me llama: “¡Señor, Señor!” entrará en el reino del cielo. Sólo [los que] hacen la
                voluntad de mi Padre…”
                <br/>
                <small class="float-end">
                    Mateo 7:21 (NTV)
                </small>
            </p>

            <h4 class="text-izq text-600">
                La prioridad de un seguidor de Jesús
            </h4>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Mi vida no vale nada para mí a menos que la use para terminar la tarea que me asignó el Señor Jesús,
                <b>la tarea de contarles a otros la Buena Noticia</b> acerca de la maravillosa gracia de Dios.”
                <br/>
                <small class="float-end">
                    Hechos 20:24 (NTV)
                </small>
            </p>

            <p class="text-centrado text-600">
                La quinta prioridad del Reino es ganar a {{ completa_lugar('ocho') | raw }} para Cristo.
            </p>

            <h5 class="text-izq text-600">
                1. Camino {{ completa_lugar('nueve') | raw }} y en paz.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Vivan sabiamente entre los que no creen en Cristo y aprovechen al máximo cada oportunidad. Que sus
                conversaciones sean cordiales y agradables… ”
                <br/>
                <small class="float-end">
                    Colosenses 4:5-6 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Estoy {{ completa_lugar('diez') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Estén siempre listos a responder a todo el que les pregunte cuál es la razón de su esperanza.”
                <br/>
                <small class="float-end">
                    1° Pedro 3:15 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Asumo y ejerzo mi {{ completa_lugar('once') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “… Les dijo:«Reciban al Espíritu Santo. Si ustedes perdonan los pecados de alguien, esos pecados son
                perdonados”
                <br/>
                <small class="float-end">
                    Juan 20:22-23 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Vivo con {{ completa_lugar('doce') | raw }} por las almas.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Me he hecho todo para todos para que, de todos modos, pueda ayudar a salvar a algunos…”
                <br/>
                <small class="float-end">
                    1° Corintios 9:22-23 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. Consagro mi vida a Su {{ completa_lugar('catorce') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Les suplico que lleven <b>una vida digna del llamado</b> que han recibido de Dios”
                <br/>
                <small class="float-end">
                    Efesios 4:1 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Sobre todo, deben vivir como ciudadanos del cielo, comportándose de <b>un modo digno de la Buena
                    Noticia</b> acerca de Cristo…, luchando juntos por la fe, es decir la Buena Noticia.”
                <br/>
                <small class="float-end">
                    Filipenses 1:27 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “El Señor… no quiere que nadie se pierda y <b>está alargando el plazo</b> para que los pecadores se
                arrepientan.”
                <br/>
                <small class="float-end">
                    2 Pedro 3:8 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Trato de… hablarles de Cristo, para que Cristo pueda salvarlas…. y también para alcanzar yo mismo <b>la
                    bendición que uno alcanza cuando guía un alma al Señor</b>.”
                <br/>
                <small class="float-end">
                    1° Corintios 9:22-23 (BAD)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Les digo la verdad, todos los que escuchan mi mensaje y creen en Dios, quien me envió, <b>tienen vida
                    eterna</b>. Nunca serán condenados por sus pecados, pues <b>ya han pasado de la muerte a la vida</b>.”
                <br/>
                <small class="float-end">
                    Juan 5:24 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
