<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300{
        font-weight: 300 !important;
    }

    .text-14{
        font-size: 14px !important;
    }
    .text-centrado{
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                CÓMO DESHACERTE DE LA ENVIDIA
                <br/>
                <small class="float-end">
                    La historia de Jesús de los trabajadores de la viña (Mat. 20)
                </small>
            </p>
            <h4 class="text-izq text-600">
                1. NUNCA TE {{ completa_lugar('uno') | raw }} CON LOS DEMÁS
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                Cuando recibieron su paga los que habían sido contratados a las cinco de la tarde, cada uno recibió el
                salario por una jornada completa. Cuando los que habían sido contratados primero llegaron a recibir su
                paga, supusieron que recibirían más...”
                <br/>
                <small class="float-end">
                    Mateo 20:9-10a (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Presta mucha atención a tu propio trabajo, porque entonces obtendrás la satisfacción de haber hecho
                bien tu labor y no tendrás que compararte con nadie.”
                <br/>
                <small class="float-end">
                    Gálatas 6:4 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No nos atreveríamos a decir que somos tan maravillosos como esos hombres, que les dicen qué importantes
                son ellos pero sólo se comparan el uno con el otro, empleándose a sí mismos como estándar de medición.
                ¡Qué ignorantes!”
                <br/>
                <small class="float-end">
                    2 Corintios 10:12 (NTV)
                </small>
            </p>
            <h5 class="text-centrado">
                Comparar es la {{ completa_lugar('dos') | raw }} de la envidia.
            </h5>
            <h4 class="text-izq text-600">
                2. SE {{ completa_lugar('tres') | raw }} POR LO QUE SOS Y TENES
            </h4>
            <p class="text-14-300 font-italic pl-4">
                ¿No es todo lo que tienes y todo lo que eres puro regalo de Dios? Entonces, ¿cuál es el punto de toda
                esta comparación y competencia? Ya tienes todo lo que necesitas.”
                <br/>
                <small class="float-end">
                    1 Corintios 4:7b-8a (Mes)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Es mejor ser feliz con lo que se tiene que querer siempre tener más y más.”
                <br/>
                <small class="float-end">
                    Eclesiastés 6:9 (PDT)
                </small>
            </p>
            <h5 class="text-centrado">
                Ya {{ completa_lugar('cuatro') | raw }} más de lo que merezco
            </h5>
            <h4 class="text-izq text-600">
                3. {{ completa_lugar('cinco') | raw }} LA BONDAD DE DIOS HACIA LOS DEMÁS
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “Cuando los que habían sido contratados primero llegaron a recibir su paga, supusieron que recibirían
                más; pero a ellos también se les pagó el salario de un día. Cuando recibieron la paga, protestaron
                contra el propietario... ... ¿Te da envidia de que yo sea generoso?”
                <br/>
                <small class="float-end">
                    Mateo 20:15 (NTV-NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “El amor no es envidioso”
                <br/>
                <small class="float-end">
                    1 Corintios 13:4 (PDT)
                </small>
            </p>
            <h4 class="text-izq text-600">
                4. {{ completa_lugar('seis') | raw }} EN DIOS CUANDO LA VIDA PARECE INJUSTA
            </h4>
            <p class="text-14-300 font-italic pl-4">
                “Aquellos trabajaron sólo una hora, sin embargo, se les ha pagado lo mismo que a nosotros, que
                trabajamos todo el día bajo el intenso calor”
                <br/>
                <small class="float-end">
                    Mateo 20:12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                El Dueño: ― “Amigo, ¡no he sido injusto! ¿Acaso tú no acordaste conmigo que trabajarías todo el día por
                el salario acostumbrado? Toma tu dinero y vete. Quise pagarle a este último trabajador lo mismo que a
                ti. ¿Acaso es contra la ley que yo haga lo que quiero con mi dinero.”
                <br/>
                <small class="float-right">
                    Mateo 20:13-15 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “Corramos con perseverancia la carrera que Dios nos ha puesto por delante.”
                <br/>
                <small class="float-right">
                    Hebreos 12:1b (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                UN DÍA: {{ completa_lugar('siete') | raw }}
            </h4>
            <p class="text-300 text-centrado font-italic text-14 pl-4">
                “Los que ahora son últimos, ese día serán los primeros,y los primeros serán los últimos.”
                <br/>
                <small class="float-end">
                    Mateo 20:16 (NTV)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
