<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Jesús le dijo: <b>Yo soy la resurrección y la vida</b>. El que cree en mí vivirá aun después de haber
                muerto.”
                <br/>
                <small class="float-start">
                    Juan 11:25 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Un hombre llamado Lázaro estaba enfermo. Vivía en Betania con sus hermanas María y Marta... Las
                hermanas mandaron a decir a Jesús: «Señor, <b>el que amas está enfermo</b>.»”
                <br/>
                <small class="float-start">
                    Juan 11:3 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Cuando Jesús oyó la noticia, dijo: «La enfermedad de Lázaro no acabará en muerte. Al contrario, <b>sucedió
                    para la gloria de Dios</b>, a fin de que el Hijo de Dios reciba gloria como resultado».”
                <br/>
                <small class="float-start">
                    Juan 11:4 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                PUNTOS MUERTOS DE LA VIDA
            </h4>
            <h5 class="text-izq text-600">
                MUERTO DE {{ completa_lugar('uno') | raw }}
            </h5>

            {#            <h6 class="text-centrado text-600"> #}
            {#                EL ES EL PASTOR NOSOTROS SOMOS {{ completa_lugar('uno') | raw }}. #}
            {#            </h6> #}

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Tomás, al que apodaban el Gemelo, les dijo a los otros discípulos: «Vamos nosotros también y <b>moriremos
                    con Jesús</b>».“
                <br/>
                <small class="float-start">
                    Juan 11:16 (NTV)
                </small>
            </p>


            <h5 class="text-izq text-600">
                MUERTO DE {{ completa_lugar('dos') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cuando Marta se enteró de que Jesús estaba por llegar, salió a su encuentro, pero <b>María se quedó en
                    la casa</b>. “
                <br/>
                <small class="float-start">
                    Juan 11:20 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                MUERTO DE {{ completa_lugar('tres') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Cuando Jesús llegó a Betania, le dijeron que Lázaro ya llevaba cuatro días en la tumba... Marta le dijo
                a Jesús: Señor, <b>si tan sólo hubieras estado aquí</b>, mi hermano <b>no habría muerto</b>”
                <br/>
                <small class="float-start">
                    Juan 11:17 Y 21 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pero <b>a pesar de todo lo que ha pasado</b>, Dios hará lo que tú le pidas. De eso estoy segura. “
                <br/>
                <small class="float-start">
                    Juan 11:22 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Jesús le dijo: Tu hermano resucitará. Es cierto —respondió Marta—, resucitará cuando resuciten todos,
                en el día final. Jesús le dijo: <b>Yo soy la resurrección y la vida</b>. El que cree en mí vivirá aun
                después de haber muerto. Todo el que vive en mí y cree en mí jamás morirá. ¿<b>Lo crees</b>, Marta? “
                <br/>
                <small class="float-start">
                    Juan 11:23-26 (NTV)
                </small>
            </p>

            <h6 class="text-izq text-600">
                LA RESURRECCIÓN NO ES UN EVENTO,<br/>
                ES UNA {{ completa_lugar('cuatro') | raw }}.
            </h6>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Entonces Jesús gritó: «¡Lázaro, <b>sal de ahí</b>!». Y el muerto salió de la tumba con las manos y los
                pies envueltos con vendas de entierro y la cabeza enrollada en un lienzo. Jesús les dijo: «¡Quítenle las
                vendas y déjenlo ir!».”
                <br/>
                <small class="float-start">
                    Juan 11:43-44 (NTV)
                </small>
            </p>


                        <div class="col-sm-10 mx-auto">
                            <div class="col-12 mx-auto text-center">
                                <h4>¿CREES ESTO?</h4>
                                “Jesús le dijo: <b>Yo soy la resurrección y la vida</b>.<br/>
                                El que cree en mí <b>vivirá aun después de haber muerto</b>. “<br/>
                                Juan 11:25 (NTV)
                            </div>
                        </div>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
