<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        UN CORAZÓN MÁS GRANDE
        <br/>
        <small>
            Serie: Social Ed. - Parte 4
        </small>
    </h3>
    <p class="text-primary text-14-300 text-left font-italic mb-5">
        "La clase de fruto que el Espíritu Santo produce en nuestra vida es: amor, alegría, paz, paciencia…"
        <br/>
        <small class="float-right">
            Gálatas 5:22 (NTV)
        </small>
    </p>
    <p class="text-primary text-14-300 text-left font-italic mb-5">
        "Ser paciente es muestra de mucha inteligencia; ser impaciente es muestra de gran estupidez."
        <br/>
        <small class="float-right">
            Prov. 14:29 (DHH)
        </small>
    </p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                SIETE CLAVES DE CÓMO MANEJAR SU ENOJO.
            </h4>
            <strong>
                1. (C) {{ completa_lugar('uno') | raw }} A CONTROLARLO
            </strong><br/>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Más vale ser paciente que valiente; más vale vencerse uno mismo que conquistar ciudades."
                <br/>
                <small class="float-right">
                    Proverbios 16:32 (DHH)
                </small>
            </p>
            <strong>
                2.  (C) {{ completa_lugar('dos') | raw }} EL COSTO DEL ENOJO DESCONTROLADO
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "La persona enojada comienza pleitos; el que pierde los estribos con facilidad comete todo tipo
                de pecados."
                <br/>
                <small class="float-right">
                    Proverbios 29:22 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El que se enoja fácilmente arma líos; el que es paciente los calma."
                <br/>
                <small class="float-right">
                    Proverbios 15:18 (PDT)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Los que tienen entendimiento no pierden los estribos; los que se enojan fácilmente demuestran gran
                necedad."
                <br/>
                <small class="float-right">
                    Proverbios 14:29 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El que pronto se enoja pronto hace <u>tonterías</u>”
                <br/>
                <small class="float-right">
                    Pr. 14:17 (BLS)
                </small>
            </p>
            <strong>
                3.  (C) {{ completa_lugar('tres') | raw }} ANTES DE REACCIONAR.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “No permitan que el sol se ponga mientras siguen enojados,"
                <br/>
                <small class="float-right">
                    Efesios 4:26 (NTV)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "El insensato da libre curso a su mal humor, pero el sabio lo refrena y apacigua."
                <br/>
                <small class="float-right">
                    Pr. 29:11 (BPD)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                “¡Puedes reconocer a los tontos por la forma en que dan rienda suelta a su rabia y dejan volar sus
                palabras! Pero los sabios se muerden la lengua y contienen todo lo que pueden decir.”
                <br/>
                <small class="float-right">
                    Pr. 29:11 (TPT)
                </small>
            </p>
            <strong>
                4. (C) {{ completa_lugar('cuatro') | raw }} TU ENOJO APROPIADAMENTE.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Si se enojan, no permitan que eso los haga pecar."
                <br/>
                <small class="float-right">
                    Efe. 4:26 (BLS)
                </small>
            </p>
            <strong>
                5.  (C) {{ completa_lugar('cinco') | raw }} TU MANERA DE PENSAR
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Sean transformados mediante la renovación de su mente"
                <br/>
                <small class="float-right">
                    Romanos 12:2 (NVI)
                </small>
            </p>
            <strong>
                6.  (C) {{ completa_lugar('seis') | raw }} TU TIEMPO CON PERSONAS PACIENTES.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "No te juntes con gente enojona ni te hagas amigo de gente violenta, porque puedes volverte como
                ellos..."
                <br/>
                <small class="float-right">
                    Proverbios 22:24-25 (TLA)
                </small>
            </p>
            <strong>
                7.  (C) {{ completa_lugar('siete') | raw }}  EN LA AYUDA DE CRISTO.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "En realidad, es Dios quien nos da paciencia y nos anima… a llevarse bien con todos, siguiendo el
                ejemplo de Jesucristo."
                <br/>
                <small class="float-right">
                    Romanos 15:5 (TLA)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
