<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “«Un hombre rico tenía un campo fértil que producía buenas cosechas. <u>Se dijo a sí mismo</u>: “¿Qué
                debo hacer? No tengo lugar para almacenar todas <u>mis</u> cosechas”. Entonces pensó: “Ya sé. Tiraré
                abajo <u>mis</u> graneros y construiré unos más grandes. Así tendré lugar suficiente para almacenar todo
                <u>mi</u> trigo y mis otros bienes. Luego me pondré cómodo y me diré <u>a mí mismo: ‘Amigo mío</u>,
                tienes almacenado para muchos años. ¡Relájate! ¡Come y bebe y diviértete!’”. »Pero Dios le dijo:
                “¡Necio! Vas a morir esta misma noche. ¿Y quién se quedará con todo aquello por lo que has trabajado?”.
                »Así es, el que almacena riquezas terrenales pero <u>no es rico en su relación</u> con Dios, es un
                necio»“
                <br/>
                <small class="float-start">
                    Lucas 12:16-21 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Una vez que depositamos nuestra fe en Cristo Jesús, ... Lo importante es <u>la fe que se expresa por
                    medio del amor</u>.“
                <br/>
                <small class="float-start">
                    Gálatas 5:6 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                SI NO VIVO UNA VIDA DE AMOR…
            </h4>
            <h5 class="text-izq text-600">
                1. Nada de lo que {{ completa_lugar('uno') | raw }} importará.
            </h5>

            {#            <h6 class="text-centrado text-600"> #}
            {#                EL ES EL PASTOR NOSOTROS SOMOS {{ completa_lugar('uno') | raw }}. #}
            {#            </h6> #}

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Si yo pudiera <u>hablar</u> todos los idiomas del mundo y de los ángeles pero no amara a los demás, yo
                sólo sería un metal <u>ruidoso</u> o un címbalo que resuena.“
                <br/>
                <small class="float-start">
                    1° Corintios 13:1 (NTV)
                </small>
            </p>


            <h5 class="text-izq text-600">
                2. Nada de lo que {{ completa_lugar('dos') | raw }} importará.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Si tuviera el don de profecía y <u>entendiera</u> todos los planes secretos de Dios y contara con todo
                el <u>conocimiento</u>…, pero no amara a otros, yo no sería <u>nada</u>.“
                <br/>
                <small class="float-start">
                    1° Corintios 13:2 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Nada de lo que {{ completa_lugar('tres') | raw }} importará.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “... y si tuviera una <u>fe</u> que me hiciera capaz de mover montañas, pero no amara a otros, yo no
                sería <u>nada</u>. “
                <br/>
                <small class="float-start">
                    1° Corintios 13:2 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Nada de lo que {{ completa_lugar('cuatro') | raw }} importará.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Si <u>diera</u> todo lo que tengo a los pobres..., podría jactarme de eso; pero si no amara a los
                demás, no habría logrado <u>nada</u>.“
                <br/>
                <small class="float-start">
                    1° Corintios 13:3 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. Nada de lo que {{ completa_lugar('cinco') | raw }} importará.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                Si no amara a los demás, no habría <u>logrado</u> nada.“
                <br/>
                <small class="float-start">
                    1° Corintios 13:3 (NTV)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                ¿QUÉ ES EL AMOR?
            </h4>
            <h5 class="text-izq text-600">
                1. Es {{ completa_lugar('seis') | raw }}, extenderse y abrazar a otros
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El amor… no es egoísta”
                <br/>
                <small class="float-start">
                    1° Corintios 13:5 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No hay un amor más grande que el <u>dar</u> la vida por los amigos”
                <br/>
                <small class="float-start">
                    Juan 15:13 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Es la {{ completa_lugar('siete') | raw }} y la razón para crecer, para vivir.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Al vivir la verdad con amor, <u>creceremos</u> hasta en todo.“
                <br/>
                <small class="float-start">
                    Efesios 4:15 (NBD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El que ama es <u>capaz</u> de aguantarlo todo, de creerlo todo, de esperarlo todo, de soportarlo todo.
                “
                <br/>
                <small class="float-start">
                    1° Corintios 13:7 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Es {{ completa_lugar('ocho') | raw }} y esfuerzo.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                El amor “Disculpa ..., confía ..., espera ..., soporta ... “
                <br/>
                <small class="float-start">
                    1° Corintios 13:7 (BTI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Nuestro amor no debe ser sólo de <u>palabras</u>, pues el verdadero amor se demuestra con <u>hechos</u>.
                “
                <br/>
                <small class="float-start">
                    1° Juan 3:18 (PDT)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Es un {{ completa_lugar('nueve') | raw }} y una {{ completa_lugar('diez') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Les doy un nuevo <u>mandamiento</u>: ámense unos a otros”
                <br/>
                <small class="float-start">
                    Juan 13:34 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “<u>Empéñense</u> en seguir el amor.“
                <br/>
                <small class="float-start">
                    1° Corintios 14:1 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El amor <u>nunca</u> se rinde”
                <br/>
                <small class="float-start">
                    1° Corintios 13:7 (VBL)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    Como construir una vida de amor
                </div>

                <div class="col-sm-8 mx-auto text-center">
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        1. {{ completa_lugar('once') | raw }} como el amor maduro actúa y responde.
                    </p>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        2. {{ completa_lugar('doce') | raw }} tu día recordando a diario ser amoroso.
                    </p>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        3. {{ completa_lugar('trece') | raw }} lo que Dios dice acerca del amor.
                    </p>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        4. {{ completa_lugar('catorce') | raw }} actua en maneras amorosas y desinteresadas.
                    </p>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        5. {{ completa_lugar('quince') | raw }} de otra gente amorosa.
                    </p>
                    <h6 class="text-centrado text-600">
                        Tres cosas <u>durarán para siempre</u>: la fe, la esperanza y el amor; y <u>la mayor de las tres
                            es el amor</u>.“<br/>
                        1° Corintios 13:13 (NTV)
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
