<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Todos sus días sufre tormento… <b>voces espantosas suenan en su oído</b>… sabe que no volverá de las
                tinieblas.”
                <br/>
                <small class="float-start">
                    Job 15:20-22 (BXT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Al anochecer, la gente le trajo a Jesús muchos <b>atormentados por demonios</b> y él ordenó a los
                espíritus que salieran.”
                <br/>
                <small class="float-start">
                    Mateo 8:16 (PDT)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Un padre y un hijo en problemas
            </h4>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Maestro, traje a mi hijo para que lo sanaras. Está <b>poseído por un espíritu maligno que no le permite
                    hablar</b>”.<br/>
                <sup>21</sup> “¿Hace cuánto tiempo que le pasa esto? —preguntó Jesús al padre del muchacho. Desde que
                era muy pequeño —contestó él.<br/>
                <sup>22</sup> A menudo el espíritu lo arroja al fuego o al agua para <b>matarlo</b>. “Ten misericordia
                de <b>nosotros</b> y ayúdanos <b>si puedes</b>.<br/>
                <sup>23</sup> ¿Cómo que “si puedo”? —preguntó Jesús. Todo es posible si uno cree.<br/>
                <sup>24</sup> Al instante el padre clamó: ¡Sí, creo, pero <b>ayúdame a superar mi
                    incredulidad!</b>”<br/>
                <sup>25</sup> “… Jesús … reprendió al espíritu maligno. “… <b>¡Te ordeno que salgas de este muchacho</b>
                y nunca más entres en él!”.<br/>
                <sup>26</sup> Entonces el espíritu gritó.. y salió de él” “El muchacho quedó como muerto. Un murmullo
                recorrió la multitud: “Está muerto”, decía la gente.<br/>
                <sup>27</sup> Pero Jesús lo tomó de la mano, lo levantó, y el muchacho se puso de pie.”
                <br/>
                <small class="float-start">
                    Marcos 9:17-27 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                ¿Cómo liberarle de esas voces extrañas?
            </h4>
            <h5 class="text-centrado text-600">
                1. Identifica los {{ completa_lugar('uno') | raw }} que te perturban y su origen.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “No luchamos contra enemigos de carne y hueso, sino contra … autoridades del mundo invisible, contra
                fuerzas poderosas de este mundo tenebroso y contra <b>espíritus malignos</b> de los lugares
                celestiales.”
                <br/>
                <small class="float-start">
                    Efesios 6:12 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces entrarán en razón y <b>escaparán de la trampa del diablo</b>. Pues él los ha tenido <b>cautivos</b>,
                para que hagan lo que él quiere.”
                <br/>
                <small class="float-start">
                    2 Timoteo 2:25-26 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Satanás se levantó contra Israel y provocó que David hiciera un censo del pueblo de Israel.<br/>
                <sup>2</sup> De modo que David les dijo… a los comandantes del ejército: Hagan un censo…”
                <br/>
                <small class="float-start">
                    1 Crónicas 21:1-2 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                EL PRINCIPAL DAÑO DE LOS DEMONIOS CONSISTE EN SEMBRARTE UN {{ completa_lugar('dos') | raw }} QUE LLEGAS
                A CREER QUE ES {{ completa_lugar('tres') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                2. Ejerce la autoridad que activa el {{ completa_lugar('cuatro') | raw }}
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús reunió a sus doce discípulos y les dio <b>autoridad</b> para expulsar espíritus malignos y para
                sanar toda clase de enfermedades y dolencias.”
                <br/>
                <small class="float-start">
                    Mateo 10:1 (NTV)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                TENÉS MILAGROSA {{ completa_lugar('cinco') | raw }} SOBRE LA OSCURIDAD EN EL NOMBRE DE JESÚS.
            </h5>
            <h5 class="text-izq text-600">
                3. Declara la {{ completa_lugar('seis') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Invariablemente bastaba <b>una sola palabra</b> para que los demonios huyeran o los enfermos sanaran.”
                <br/>
                <small class="float-start">
                    Mateo 8:16 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Llevamos <b>cautivo todo pensamiento</b> para que se someta a Cristo.”
                <br/>
                <small class="float-start">
                    2 Corintios 10:3-5 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                4. Obedece al Espíritu en el {{ completa_lugar('siete') | raw }}.
            </h5>


            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando un espíritu maligno sale de una persona, va al desierto en busca de descanso, pero no lo
                encuentra.<br/>
                <sup>44</sup> Entonces dice: “<b>Volveré</b> a la persona de la cual salí”. De modo que regresa y
                encuentra su antigua casa <b>vacía</b>, barrida y en orden.<br/>
                <sup>45</sup> Entonces el espíritu busca a otros siete espíritus más malignos que él, y todos entran en
                la persona y viven allí. Y entonces esa persona queda <b>peor que antes</b>. …”
                <br/>
                <small class="float-start">
                    Mateo 12:43-45 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “ »¡Mira! Yo estoy a la puerta y llamo. Si oyes mi voz y abres la puerta, yo entraré y cenaremos juntos
                como amigos.”

                <br/>
                <small class="float-start">
                    Apocalipsis 3:20 (NTV)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
