<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h4 class="text-izq text-600"> #}
            {#                Las buenas prioridades… #}
            {#            </h4> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                “Busquen <b>primeramente</b> el reino de Dios y su justicia, y todas estas cosas les serán añadidas.”
                <br/>
                <small class="float-end">
                    Mateo 6:33 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “»Todo el que escucha mi enseñanza <b>y la sigue</b> es <b>sabio</b>, como la persona que <b>construye
                    su casa</b> sobre una <b>roca sólida</b>. <sup>25</sup> Aunque llueva a cántaros y suban las aguas
                de la inundación y los vientos golpeen contra esa casa, <b>no se vendrá abajo</b> porque está construida
                sobre un lecho de roca.<br/>
                <sup>26</sup> Sin embargo, el que oye mi enseñanza y <b>no la obedece</b>
                es un <b>necio</b>, como la persona que <b>construye su casa</b> sobre la <b>arena</b>. <sup>27</sup>
                Cuando vengan las lluvias y lleguen las inundaciones y los vientos golpeen contra esa casa, <b>se
                    derrumbará con un gran estruendo</b>».
                <br/>
                <small class="float-end">
                    Mateo 7:24-27 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                1. ¿QUÉ CAMBIA CUANDO DIGO “¡SÍ!” A DIOS?
            </h4>

            <h5 class="text-izq text-600">
                a. MIS DÍAS SE CONVIERTEN EN {{ completa_lugar('uno') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Dios siempre cumple su palabra, y Él <b>los llamó a participar de la gloriosa amistad de su Hijo</b>,
                Jesucristo nuestro Señor.”
                <br/>
                <small class="float-end">
                    1° Corintios 1:9 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Fue <b>por la fe</b> que Abraham <b>obedeció</b> cuando Dios lo llamó para que dejara su tierra y fuera
                a otra que él le daría por herencia. Se fue sin saber adónde iba.”
                <br/>
                <small class="float-end">
                    Hebreos 11:8 (NTV)
                </small>
            </p>


            <h5 class="text-izq text-600">
                b. MI VIDA SE CONVIERTE {{ completa_lugar('dos') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Dios... puede lograr <b>mucho más</b> de lo que pudiéramos pedir o incluso imaginar mediante su gran
                poder, que actúa en nosotros”
                <br/>
                <small class="float-end">
                    Efesios 3:20 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Jesús ... les preguntó: <b>¿Creen que puedo</b> darles la vista? Sí, Señor —le dijeron—, lo creemos.
                <sup>29</sup> Entonces él les tocó los ojos y dijo: Debido a su fe, así se hará.”
                <br/>
                <small class="float-end">
                    Mateo 9:28-29 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                c. MI CORAZÓN TIENE {{ completa_lugar('tres') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Les he dicho todo lo anterior para que <b>en mí tengan paz</b>. Aquí en el mundo tendrán muchas pruebas
                y tristezas; pero anímense, porque yo he vencido al mundo.”
                <br/>
                <small class="float-end">
                    Juan 16:33 (NTV)
                </small>
            </p>
            <h4 class="text-izq text-600">
                2. ¿QUÉ ME IMPIDE DECIR “¡SÍ!” A DIOS?
            </h4>

            <h5 class="text-izq text-600">
                a. MIS {{ completa_lugar('cuatro') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “El Señor es <b>bueno</b> para con todos, y con ternura cuida sus obras.”
                <br/>
                <small class="float-end">
                    Salmos 145:9 (DHH)
                </small>
            </p>

            <h5 class="text-izq text-600">
                b. LOS {{ completa_lugar('cinco') | raw }} DE MI CORAZÓN.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “–Señor, quiero seguirte, pero <b>primero déjame ir</b> a despedirme de los de mi casa. Jesús le
                contestó: —El que pone la mano en el arado y sigue mirando atrás, <b>no sirve</b> para el reino de
                Dios.”
                <br/>
                <small class="float-end">
                    Lucas 9:61-62 (DHH)
                </small>
            </p>

            <h4 class="text-izq text-600">
                3. ¿DÓNDE NACEN LAS FUERZAS PARA DECIRLE “¡SÍ!” A DIOS?
            </h4>

            <h5 class="text-izq text-600">
                a. DE MI {{ completa_lugar('seis') | raw }} POR JESÚS.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Si ustedes <b>me aman, obedecerán</b> mis mandamientos.”
                <br/>
                <small class="float-end">
                    Juan 14:15-21 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                b. DE SU {{ completa_lugar('siete') | raw }} EN MI.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Y yo le pediré al Padre, y él les dará otro Consolador para que los acompañe siempre: 17 el Espíritu de
                verdad, a quien el mundo no puede aceptar porque no lo ve ni lo conoce. Pero ustedes sí lo conocen,
                porque <b>vive con ustedes y estará en ustedes</b>.”
                <br/>
                <small class="float-end">
                    Juan 14:16-17 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                4. ¿CÓMO DIGO “¡SÍ!” A DIOS?
            </h4>
            <h5 class="text-centrado text-600">
                (E) {{ completa_lugar('ocho') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “No dejen que <b>ninguna parte</b> de su cuerpo se convierta en un instrumento del mal para servir al
                pecado. En cambio, <b>entréguense completamente a Dios</b>, porque antes estaban muertos pero ahora
                tienen una vida nueva. Así que usen todo su cuerpo como un instrumento para hacer lo que es correcto
                para la gloria de Dios.”
                <br/>
                <small class="float-end">
                    Romanos 6:13 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Ustedes son testigos de su propia decisión —les dijo Josué. Hoy han elegido servir al SEÑOR. Claro que
                sí —respondieron—, somos testigos de lo que dijimos. <sup>23</sup> Muy bien —dijo Josué—, entonces <b>destruyan
                    los ídolos que tienen</b> entre ustedes y <b>entréguenle el corazón al SEÑOR</b>, Dios de Israel.
                <sup>24</sup> Entonces los israelitas le dijeron a Josué: <b>Serviremos al SEÑOR nuestro Dios. Lo
                    obedeceremos sólo a él</b>.”
                <br/>
                <small class="float-end">
                    Josué 24:22-24 (NTV)
                </small>
            </p>


            <p class="text-14-300 font-italic pl-4 text-center">
                “<b>Prueben y vean</b> que el SEÑOR es bueno; ¡qué alegría para los que se refugian en él!”
                <br/>
                <small class="float-end">
                    Salmos 34:8 (NTV)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
