<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Olviden las cosas de antaño; <b>ya no vivan en el pasado. ¡Voy a hacer algo nuevo! Ya está
                    sucediendo</b>, ¿no se dan cuenta? Estoy abriendo un camino en el desierto, y ríos en lugares
                desolados.”
                <br/>
                <small class="float-start">
                    Isaías 43:18-19 (NVI)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                LA CALIDAD DE TUS {{ completa_lugar('uno') | raw }} <br/>
                DETERMINA LA CALIDAD DE TU VIDA.
            </h5>
            <h4 class="text-centrado text-600">
                ¿POR QUÉ NOS CUESTA TOMAR BUENAS DECISIONES?
            </h4>
            <ol>
                <li>
                    <b>Estamos abrumados con {{ completa_lugar('dos') | raw }} opciones.</b>
                </li>
                <li>
                    <b>Tenemos {{ completa_lugar('tres') | raw }} de tomar decisiones equivocadas</b>
                </li>
                <li>
                    <b>Dejamos que las {{ completa_lugar('cuatro') | raw }} anulen la razón.</b>
                </li>
            </ol>
            <h5 class="text-izq text-600">
                NO HAGAS DECISIONES PERMANENTES BASADO EN EMOCIONES {{ completa_lugar('cinco') | raw }}
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Pon tus actos en las manos del Señor y <b>tus planes se realizarán</b>.”
                <br/>
                <small class="float-start">
                    Proverbios 16:3 (DHH)
                </small>
            </p>
            <h6 class="text-izq text-600">
                Siempre que me enfrento con {{ completa_lugar('seis') | raw }}<br/>
                (una determinada situación)
            </h6>
            <h6 class="text-izq text-600">
                Yo ya determinado de antemano {{ completa_lugar('siete') | raw }}<br/>
                (tomar esta acción)
            </h6>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Daniel <b>estaba decidido</b> a no contaminarse con los manjares del rey y con el vino que él bebía, y
                rogó al jefe de los eunucos que no lo obligara a contaminarse.”
                <br/>
                <small class="float-start">
                    Daniel 1:8 (BPD)
                </small>
            </p>
            <h5 class="text-izq text-600">
                Cuáles son tus valores?<br/>
                Cuando tus valores son claros tus decisiones son mas {{ completa_lugar('ocho') | raw }}.
            </h5>
            <h5 class="text-centrado text-600">
                SI TU VIDA AVANZA EN LA DIRECCIÓN DE TUS DECISIONES, ¿TE GUSTA LA DIRECCIÓN QUE TE LLEVAN TUS DECISIONES?
            </h5>
            <h4 class="text-centrado text-600">
                6 DECISIONES
            </h4>



                        <div class="col-sm-10 mx-auto">
                            <div class="col-12 mx-auto text-center">
                                <h6>Seré Consistente</h6>
                                <h6>Seré Prevenido</h6>
                                <h6>Seré Consagrado</h6>
                                <h6>Seré Generoso</h6>
                                <h6>Seré Fiel</h6>
                                <h6>Seré Cumplidor</h6>
                            </div>
                        </div>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
