<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">


            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <div class="col-sm-10 mx-auto">
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    “Acérquense a Dios, y Dios se acercará a ustedes.”
                    <br/>
                    <small class="float-start">
                        Santiago 4:8 (NTV)
                    </small>
                </p>
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    “Ya no los llamo siervos, … los he llamado amigos.”
                    <br/>
                    <small class="float-start">
                        Juan 15:15 (NVI)
                    </small>
                </p>
            </div>

            <h4 class="text-izq text-600">
                Como Construir Una Amistad Con Dios
            </h4>

            <h5 class="text-centrado text-600">
                1. Conocer a Dios sea mi {{ completa_lugar('uno') | raw }} principal.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Todo lo demás no vale nada cuando se le compara con el infinito valor de <u>conocer a Cristo</u> Jesús,
                mi Señor. Por amor a él, he desechado todo lo demás y lo considero basura..”
                <br/>
                <small class="float-start">
                    Filipenses 3:8 (NTV)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                2. Dale tu mejor {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “«¡Quédense <u>quietos</u> y sepan que yo soy Dios! ...”
                <br/>
                <small class="float-start">
                    Salmos 46:10 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El Señor reserva su amistad personal para los que le tienen un temor reverente. Es a ellos a los que
                les enseña el significado de su pacto.”
                <br/>
                <small class="float-start">
                    Salmos 25:14 (PDT)
                </small>
            </p>


            <h5 class="text-centrado text-600">
                3. Decide qué amistad quieres {{ completa_lugar('tres') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “¿No se dan cuenta de que<u>la amistad con el mundo</u> los convierte en enemigos de Dios? Lo repito: si
                alguien quiere ser amigo del mundo, se hace enemigo de Dios.”
                <br/>
                <small class="float-start">
                    Santiago 4:4 (NTV)
                </small>
            </p>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ustedes son mis amigos si hacen lo que yo <u>les mando</u>.”
                <br/>
                <small class="float-start">
                    Juan 15:14 (NTV)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                4. Mantené una conversación {{ completa_lugar('cuatro') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                Oren en <u>todo</u> momento.”
                <br/>
                <small class="float-start">
                    1° Tesalonicenses 5:17 (DHH)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                5. Confía en Dios cuando estés en el {{ completa_lugar('cinco') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El SEÑOR dice: «Rescataré a los que me aman; protegeré a los que confían en mi nombre.”
                <br/>
                <small class="float-start">
                    Salmos 91:14 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Entrégale tus cargas al SEÑOR, y él cuidará de ti; no permitirá que los justos tropiecen y caigan.”

                <br/>
                <small class="float-start">
                    Salmos 55:22 (NTV)
                </small>
            </p>


            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    Cuanto más honestos seamos con Dios<br/>
                    más profunda será nuestra amistad
                </div>

                {#                <div class="col-sm-8 mx-auto text-center"> #}

                {#                </div> #}

                {#                <div class="col-12 mx-auto text-left"> #}
                {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    </h6> #}
                {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                </div> #}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
