<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Yo soy el buen pastor. El buen pastor da su vida por las ovejas”

                <br/>
                <small class="float-start">
                    Juan 10:11 (PDT)
                </small>
            </p>

            <h6 class="text-centrado text-600">
                EL ES EL PASTOR NOSOTROS SOMOS {{ completa_lugar('uno') | raw }}.
            </h6>

            <h5 class="text-izq text-600">
                Cuatro desafíos que enfrentamos como ovejas.
            </h5>
            <h5 class="text-izq text-600">
                1. Las ovejas se {{ completa_lugar('dos') | raw }} fácilmente.
            </h5>
            <h5 class="text-izq text-600">
                2. Las ovejas son {{ completa_lugar('tres') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                3. Las ovejas son muy {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                4. Las ovejas son {{ completa_lugar('cinco') | raw }}.
            </h5>
            <h5 class="text-centrado text-600">
                LA CONCLUSIÓN ES: LAS OVEJAS NECESITAN {{ completa_lugar('seis') | raw }}.
                JESÚS ES EL MEJOR DE TODOS.
            </h5>

            <h4 class="text-centrado text-600">
                CUATRO CUALIDADES INCREIBLES DE NUESTRO BUEN PASTOR.
            </h4>
            <h5 class="text-centrado text-600">
                1. ¡EL ME {{ completa_lugar('siete') | raw }}!
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                El Señor “Me guía por sendas correctas, y así da honra a su nombre.“
                <br/>
                <small class="float-start">
                    Salmos 23:3 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El portero le abre la puerta, y las ovejas reconocen la voz del pastor y se le acercan. Él llama a cada
                una de sus ovejas por su nombre y las lleva fuera del redil. Una vez reunido su propio rebaño, camina
                delante de las ovejas, y ellas lo siguen porque conocen su voz.”
                <br/>
                <small class="float-start">
                    Jn 10:3-4 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. ¡EL ME {{ completa_lugar('ocho') | raw }}!
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “El SEÑOR es mi pastor; tengo todo lo que necesito. En verdes prados me deja descansar; me conduce junto
                a arroyos tranquilos.“
                <br/>
                <small class="float-start">
                    Salmos 23:1-2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “… me conduce junto a arroyos tranquilos.”
                <br/>
                <small class="float-start">
                    Salmos 23:1-2 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. ¡EL ME {{ completa_lugar('nueve') | raw }}!
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “»Ciertamente qué afortunado es aquel a quien Dios corrige, así que no rechaces la disciplina del
                Todopoderoso. Porque él hiere y venda la herida; él da el golpe, pero con su mano sana.“
                <br/>
                <small class="float-start">
                    Job 5:17-18 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “¡Dichoso aquel a quien Dios corrige! No rechaces la lección del Todopoderoso, porque hiere, pero pone
                la venda, golpea, pero él mismo cura.“
                <br/>
                <small class="float-start">
                    Job 5:17-18 (BTI
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. ¡EL ME {{ completa_lugar('diez') | raw }}!
            </h5>


            <p class="text-14-300 font-italic pl-4 text-izq">
                “Aunque pase por caminos oscuros y tenebrosos, no tendré miedo. Porque tú, Señor, estás a mi lado; Tu
                vara y tu bastón me reconfortan”.
                <br/>
                <small class="float-start">
                    Salmos 23:4
                </small>
            </p>
            <h5 class="text-izq text-600">
                ¡HOY ES EL DÍA DE TU EXPERIENCIA CON JESÚS!
            </h5>



                        <div class="col-sm-10 mx-auto">
                            <div class="col-12 mx-auto text-center">
                                SIMPLEMENTE RESPONDE AL BUEN PASTOR Y DECILE:<br/>
                                “{{ completa_lugar('once') | raw }} ESA OVEJA QUE TE NECESITA!”
                            </div>
                        </div>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
