<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    <h6 class="text-14-300 font-italic pl-4 text-centrado">
                        “Dios provee una familia para los abandonados”
                        <br/>
                        <small class="float-start">
                            Salmos 68:6 (VBL)
                        </small>
                    </h6>
                    <br/>
                    <h5 class="text-centrado text-600">
                        COMO SALIR DEL POZO DEL ABANDONO<br/>
                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small>
                    </h5>
                    <h6 class="text-14-300 font-italic pl-4 text-centrado">
                        “Un hombre que tenía lepra se le acercó, y de rodillas le suplicó:<br/>
                        --Si quieres, puedes limpiarme”
                        <br/>
                        <small class="float-end">
                            Marcos 1:40 (NVI)
                        </small>
                    </h6>


                </div>
            </div>
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}

            {#            <h4 class="text-centrado text-600"> #}
            {#                ¿QUÉ ES LO QUE PIERDO CUANDO ESTOY PERDIDO? #}
            {#                <small style="font-size: 0.75em"><br/> #}
            {#                    Lucas 15.1-31 #}
            {#                </small> #}
            {#            </h4> #}

            <h5 class="text-izq text-600">
                1. ME {{ completa_lugar('uno') | raw }} DE DONDE ESTOY.DE DONDE ESTOY.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Un hombre con lepra se acercó.”
                <br/>
                <small class="float-start">
                    Marcos 1:40 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Vengan a mí todos ustedes que luchan y están cargados. Yo les daré descanso.”
                <br/>
                <small class="float-start">
                    Mateo 11:28 (VBL)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. PERMITO QUE {{ completa_lugar('dos') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                ... se arrodilló, adorándolo, y le dijo: “Señor.”
                <br/>
                <small class="float-start">
                    Mateo 8:2 (VBL)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Afortunados los que reconocen su necesidad espiritual, porque el reino de Dios les pertenece.”
                <br/>
                <small class="float-start">
                    Mateo 5:3 (PDT)
                </small>
            </p>


            <h5 class="text-izq text-600">
                3. DECIDO {{ completa_lugar('tres') | raw }} EN SU BONDAD Y SU PODER.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                Si tú <u>quieres</u>, puedes sanarme y dejarme limpio —dijo.”
                <br/>
                <small class="float-start">
                    Marcos 1:40 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “… Nuestro Salvador…. anhela que <u>todos</u> se salven y entiendan que Dios está en un lado y la gente
                en el otro, y que <u>Jesucristo, hombre también, está entre los dos para unirlos</u>“
                <br/>
                <small class="float-start">
                    1° Timoteo 2:3-5 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Esto es lo que dice el Señor ahora, el que te creó y te formó: «No tengas miedo, porque yo te he
                liberado. Te he llamado por tu nombre y me perteneces. … <u>Tú vales mucho para mí</u>, te estimo mucho,
                te amo. … No tengas miedo, yo estoy contigo. Del oriente traeré a tus descendientes y del occidente te
                reuniré.“
                <br/>
                <small class="float-start">
                    Isaías 43:1-5 (PDT)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                LA RESPUESTA DE JESÚS
                <small style="font-size: 0.75em"><br/>
                    “Movido a compasión…” Marcos 1:41 (NVI)
                </small>
            </h4>

            <h5 class="text-izq text-600">
                1. JESÚS {{ completa_lugar('cuatro') | raw }} TODA SEPARACIÓN.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Movido a compasión, Jesús extendió la mano y lo tocó.”
                <br/>
                <small class="float-start">
                    Marcos 1:41 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. JESÚS {{ completa_lugar('cinco') | raw }} TU VERGÜENZA.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “Sí quiero —dijo. ¡Queda sano! Al instante, la lepra desapareció y el hombre quedó sano.”
                <br/>
                <small class="float-start">
                    Marcos 1:41-42 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. JESUS TE {{ completa_lugar('seis') | raw }} CON LA GENTE.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Entonces Jesús lo despidió con una firme advertencia: No se lo cuentes a nadie. En cambio, preséntate
                ante el sacerdote y <u>deja que te examine</u>. Lleva contigo la ofrenda que exige la ley de Moisés a
                los que son sanados de lepra. Esto será <u>un testimonio público</u> de que has quedado limpio.”
                <br/>
                <small class="float-start">
                    Marcos 1:43-44 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. JESÚS {{ completa_lugar('siete') | raw }} TU ENFERMEDAD.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Pero el hombre hizo correr la voz proclamando a todos lo que había sucedido. Como resultado, grandes
                multitudes pronto rodearon a Jesús, de modo que ya no pudo entrar abiertamente en ninguna ciudad. <u>enía
                    que quedarse en lugares apartados</u>, ...”
                <br/>
                <small class="float-start">
                    Marcos 1:45 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Ciertamente <u>Él llevó nuestras enfermedades</u>, Y cargó con nuestros dolores. … Pero Él fue herido
                (traspasado) por nuestras transgresiones, Molido por nuestras iniquidades. El castigo, por nuestra paz,
                <u>cayó sobre Él</u>, Y por Sus heridas (llagas) hemos sido sanados. “
                <br/>
                <small class="float-start">
                    Isaías 53:4-5 (NBLH)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Por tu amor, oh Dios, ten compasión de mí; por tu gran ternura, borra mis culpas. ¡Lávame de mi maldad!
                ¡Límpiame de mi pecado! .. Purifícame con hisopo, y quedaré limpio; lávame, y quedaré más blanco que la
                nieve. Lléname de gozo y alegría; alégrame de nuevo,… Oh Dios, ¡pon en mí un corazón limpio!,… Hazme
                sentir de nuevo el gozo de tu salvación”
                <br/>
                <small class="float-start">
                    Salmos 51:1-12 (DHH
                </small>
            </p>

            {#            Pie de las notas      #}


            <div class="col-sm-10 mx-auto my-2">
                <div class="col-sm-8 mx-auto text-center">
                    Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia en tu
                    iglesia en <a class="btn btn-link"
                                  href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                  target="_blank"> Youversión</a>.
                    <br/>
                    La aplicación más descargada en todo el mundo.<br/>
                    Sigue el <a class="btn btn-link"
                                href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                target="_blank"> enlace</a> y descubre cómo.
                </div>

                {#                <div class="col-12 mx-auto text-left"> #}
                {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    </h6> #}
                {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                </div> #}
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
