<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
    }
</style>
<div class="col-sm-12">
    <h3>
        EL VALOR DE LA INTEGRIDAD
        <br/>
        <small>
            Serie: Social Ed. - Parte 6
        </small>
    </h3>
    <strong>
        INTEGRIDAD: Es {{ completa_lugar('uno') | raw }} integrar los valores de mi corazón con mis acciones diarias.
    </strong>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Mejor es el pobre que camina en su integridad que el de caminos tortuosos, por más que sea rico."
        <br/>
        <small class="float-right">
            Proverbios 28:6 (BJ)
        </small>
    </p>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <strong>
                La integridad es una de las cosas que hacen {{ completa_lugar('dos') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                <small class="float-right">
                    En Romanos 7:18-20 (TLA)
                </small>
                <br/>
                “Yo sé que mis deseos egoístas no me permiten hacer lo bueno, pues aunque quiero hacerlo, no puedo
                hacerlo. En vez de lo bueno que quiero hacer, hago lo malo que no quiero hacer.”
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                “No entiendo lo que me pasa”
                <br/>
                <small class="float-right">
                    Romanos 7:15
                </small>
            </p>
            <h4>
                Tres beneficios de la integridad para construir confianza en las relaciones:
            </h4>
            <strong>
                (P) {{ completa_lugar('tres') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "la integridad y la rectitud me protegen, porque yo espero en ti, Señor."
                <br/>
                <small class="float-right">
                    Salmos 25:21
                </small>
            </p>
            <strong>
                (S) {{ completa_lugar('cuatro') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Quien se conduce con integridad, anda seguro. "
                <br/>
                <small class="float-right">
                    Proverbios 10:9
                </small>
            </p>
            <strong>
                (D) {{ completa_lugar('cinco') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "La integridad guía a los hombres rectos."
                <br/>
                <small class="float-right">
                    Proverbios 11:3
                </small>
            </p>
        </div>
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="nota-style">
                ¿Cómo hacer esto?
            </h4>
            <strong class="text-center">
                ¿Cuáles son algunas cosas que podemos hacer, para practicar la integridad?
            </strong>
            <strong>
                1. HABLE {{ completa_lugar('seis') | raw }}.
            </strong>
            <blockquote class="blockquote">
                <footer class="blockquote-footer"> <cite title="Martin Luther King">Martin Luther King</cite> dijo:</footer>
                <p class="mb-0">
                    “Un vaso medio vacío, es también uno medio lleno, pero una mentira a medias de ningún modo es
                    una media verdad.”</p>

            </blockquote>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "al hablar la verdad en amor, creceremos "
                <br/>
                <small class="float-right">
                    Efesios 4:15 (NBLH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "¡Felices los hijos que deja quien ha vivido con rectitud y honradez!"
                <br/>
                <small class="float-right">
                    Proverbios 20:7 (DHH)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "El que cava un hoyo, se puede caer en él; el que derriba un muro, puede ser que lo muerda la
                serpiente;”
                <br/>
                <small class="float-right">
                    Eclesiastés 10:8 (BLA)
                </small>
            </p>
            <strong>
                2. (C){{ completa_lugar('siete') | raw }} REGULARMENTE.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "confiésense unos a otros sus pecados, y oren unos por otros, para que sean sanados."
                <br/>
                <small class="float-right">
                    Juan 5:16 (NVI)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                "Si confesamos nuestros pecados, Dios, que es fiel y justo, nos los perdonará y nos limpiará de toda
                maldad."
                <br/>
                <small class="float-right">
                    1° Juan 1:9 (NVI)
                </small>
            </p>
            <strong>
                EL MEJOR LUGAR: “{{ completa_lugar('ocho') | raw }}”+
            </strong>
            <br/>
            <strong>
                3. VIVA {{ completa_lugar('nueve') | raw }}.
            </strong>
            <strong>
                La consistencia es vital en tres áreas:
            </strong>
            <strong>
                1. La Imagen {{ completa_lugar('diez') | raw }} frente a la imagen {{ completa_lugar('once') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                <small class="float-right">
                    Jesús dijo en Mateo 6:1
                </small>
                <br/>
                "Cuídate, no hagas tus buenas obras públicamente para ser admirado".
            </p>
            <strong>
                2. (D) {{ completa_lugar('doce') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                <small class="float-right">
                    Efesios 6:4 (NVI)
                </small>
                <br/>
                Y ustedes, padres, no hagan enojar a sus hijos, sino críenlos según la disciplina e instrucción del
                Señor.
            </p>
            <strong>
                3. Coherencia entre mis {{ completa_lugar('trece') | raw }} y mis {{ completa_lugar('catorce') | raw }}.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5 pl-4">
                <small class="float-right">
                    1° Samuel 16:7
                </small>
                <br/>
                "El hombre mira la apariencia externa, pero el Señor mira el corazón".
            </p>
            <strong>
                4. (C) {{ completa_lugar('quince') | raw }} ABIERTAMENTE.
            </strong>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "Yo no hablo en secreto ni en lugares oscuros de la tierra… Yo, el Señor, hablo la verdad, digo lo que
                es justo."
                <br/>
                <small class="float-right">
                    Isaías 45:19 (LB)
                </small>
            </p>
            <p class="text-info text-14-300 text-left font-italic mb-5">
                "…si confiesas con tu boca que Jesús es el Señor y crees en tu corazón que Dios lo levantó de entre los
                muertos, serás salvo.”
                <br/>
                <small class="float-right">
                    Romanos 10:9 (NVI)
                </small>
            </p>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
