<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h4 class="text-izq text-600"> #}
            {#                Las buenas prioridades… #}
            {#            </h4> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                <i>Yo soy aquel que ha sufrido la aflicción bajo la vara de su ira. Me ha hecho andar en las tinieblas;
                    me ha apartado de la luz. Una y otra vez, y a todas horas, su mano se ha vuelto contra mí.</i>
                <br/>
                <small class="float-end">
                    Lamentaciones 3:1-2 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Causas de la depresión:
            </h4>

            <h5 class="text-izq text-600">
                {{ completa_lugar('uno') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                {{ completa_lugar('dos') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                {{ completa_lugar('tres') | raw }}.
            </h5>

            <h5 class="text-izq text-600">
                1. Corazón {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Oscura tumba es mi vida; ¡es como si ya estuviera muerto!
                <br/>
                <small class="float-end">
                    Lamentaciones 3:4 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                Me ha quitado la paz; ya no recuerdo lo que es la dicha.
                <br/>
                <small class="float-end">
                    Lamentaciones 3:17 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                2. Mente {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Soy el hazmerreír de todo mi pueblo; todo el día me cantan parodias [...] y digo: «La vida se me acaba,
                junto con mi esperanza en el SEÑOR.»
                <br/>
                <small class="float-end">
                    Lamentaciones 3:14,18 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Voluntad {{ completa_lugar('seis') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                Me ha marchitado la carne y la piel; me ha quebrantado los huesos. Me ha tendido un cerco de amargura y
                tribulaciones. Me obliga a vivir en las tinieblas, como a los que hace tiempo murieron.
                <br/>
                <small class="float-end">
                    Lamentaciones 3:4-6 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                Esperanza para la depresión:
            </h4>

            <h5 class="text-izq text-600">
                1. Enfocate en la {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Hagamos un examen de conciencia y volvamos al camino del SEÑOR. Elevemos al Dios de los cielos nuestro
                corazón y nuestras manos.
                <br/>
                <small class="float-end">
                    Lamentaciones 3:40-41 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                El Señor nos ha rechazado, pero no será para siempre. Nos hace sufrir, pero también nos compadece,
                porque es muy grande su amor.
                <br/>
                <small class="float-end">
                    Lamentaciones 3:31-32 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                NO PERMITAS QUE TUS {{ completa_lugar('ocho') | raw }} TE DIGAN QUE {{ completa_lugar('nueve') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                Jesús dijo: “conocerán la verdad, y la verdad los hará libres.”
                <br/>
                <small class="float-end">
                    Juan 8:32 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                2. Dale espacio {{ completa_lugar('diez') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                Se inundarán en llanto mis ojos, sin cesar y sin consuelo, hasta que desde el cielo el SEÑOR se digne
                mirarnos.
                <br/>
                <small class="float-end">
                    Lamentaciones 3:49-50 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                SOLO PODES {{ completa_lugar('once') | raw }} LO QUE LOGRAS {{ completa_lugar('doce') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Jesús dijo: “Dichosos los que lloran, porque serán consolados”
                <br/>
                <small class="float-end">
                    Juan 5:4 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                El gran amor del SEÑOR nunca se acaba, y su compasión jamás se agota. Cada mañana se renuevan sus
                bondades; ¡muy grande es su fidelidad!
                <br/>
                <small class="float-end">
                    Lamentaciones 3:22-23 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Confía {{ completa_lugar('trece') | raw }}:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Desde lo más profundo de la fosa invoqué, SEÑOR, tu nombre, y tú escuchas- te mi plegaria; no cerraste
                tus oídos a mi clamor. Te invoqué, y viniste a mí; «No temas», me dijiste.
                <br/>
                <small class="float-end">
                    Lamentaciones 3:55-57 (NVI)
                </small>
            </p>


            <p class="text-14-300 font-italic pl-4 text-center">
                Yo les he dicho estas cosas para que en mí hallen paz. En este mundo afrontarán aflicciones, pero
                ¡anímense! Yo he vencido al mundo.
                <br/>
                <small class="float-end">
                    Juan 16:33 (NVI)
                </small>
            </p>

{#            <div class="col-sm-10 mx-auto">#}
{#                <div class="col-12 mx-auto text-center">#}
{#                    <i>Todo lo puedo en Cristo que me fortalece.<br/>#}
{#                        Filipenses 4:13 (NVI)</i>#}
{#                </div>#}
{#            </div>#}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
