<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-izq text-600">
                LO QUE NO DEBES HACER.
            </h4>
            <h5 class="text-izq">
                1. NO CREAS EN {{ completa_lugar('uno') | raw }}.
            </h5>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                "Cambiaré tu nombre. Ya no será Abram, sino que te llamarás Abraham, porque serás el padre de muchas
                naciones."
                <br/>
                <small class="float-end">
                    Génesis 17:5 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                Jesús dijo “Por eso les digo que cuando pidan algo en sus oraciones, pídanlo convencidos de que ya lo
                han recibido y entonces todo lo que pidan será suyo.”
                <br/>
                <small class="float-end">
                    Marcos 11:24 (PDT)
                </small>
            </p>
            <h5 class="text-izq">
                2. NO TE CONFORMES CON {{ completa_lugar('dos') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Entonces Sarai le dijo a Abram: «El SEÑOR no me ha permitido tener hijos. Ve y acuéstate con mi sierva;
                quizá yo pueda tener hijos por medio de ella». Y Abram aceptó la propuesta de Sarai."
                <br/>
                <small class="float-end">
                    Génesis 16:2 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “… Aunque tienen que soportar muchas pruebas por un tiempo breve. Estas pruebas demostrarán que su fe es
                auténtica. Está siendo probada de la misma manera que el fuego prueba y purifica el oro, aunque la fe de
                ustedes es mucho más preciosa que el mismo oro.”
                <br/>
                <small class="float-end">
                    1 Pedro 1:6-7 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                3. NO TE {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                "Cuando los hombres de Israel vieron que estaban en un apuro (pues el pueblo estaba en gran aprieto), el
                pueblo se escondió en cuevas, en matorrales, en peñascos, en sótanos y en fosos."
                <br/>
                <small class="float-end">
                    1 Samuel 13:6 (LBLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                “«Tráiganme los animales y las ofrendas de paz que vamos a presentarle a Dios». Y Saúl mismo presentó
                las ofrendas."
                <br/>
                <small class="float-end">
                    1 Samuel 13:9 (TLA)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4">
                "Samuel respondió: —¡Eres un tonto! No obedeciste al Señor tu Dios. Si hubieras obedecido su mandato,
                entonces él habría dejado que tu familia gobernara a Israel por siempre. Pero ahora tu reinado no
                continuará. El Señor estaba buscando a un hombre que lo obedeciera y ya lo ha encontrado, y lo nombrará
                a él como el nuevo líder de su pueblo. Como no obedeciste el mandato del Señor, él nombrará un nuevo
                líder."
                <br/>
                <small class="float-end">
                    1 Samuel 13:13-14 (PDT)
                </small>
            </p>
            <h5 class="text-izq">
                4. NO DEJES QUE {{ completa_lugar('cuatro') | raw }} TE CONTROLE.
            </h5>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                “Cuando siento miedo, pongo en ti mi confianza”
                <br/>
                <small class="float-end">
                    Salmos 56:3 (NVI)
                </small>
            </p>
            <h4 class="text-izq text-600">
                COMO ESPERAR EN DIOS.
            </h4>
            <br/>
            <h5 class="text-izq">
                SIGUE {{ completa_lugar('cinco') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                "Sigue pidiendo y RECIBIRÁS lo que pides; sigue buscando y ENCONTRARÁS; sigue llamando, y la puerta se
                te ABRIRÁ.”
                <br/>
                <small class="float-end">
                    Mateo 7:7 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                SIGUE {{ completa_lugar('seis') | raw }}.
            </h5>
            <br/>
            <p class="text-14-300 font-italic pl-4">
                “No sean nunca perezosos, más bien trabajen con esmero y sirvan al Señor con entusiasmo.”
                <br/>
                <small class="float-end">
                    Romanos 12:11 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                SIGUE {{ completa_lugar('siete') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Que nadie deje de asistir a las reuniones de su iglesia,… al contrario, anímense unos a otros.”
                <br/>
                <small class="float-end">
                    Hebreos 10:25(PDT)
                </small>
            </p>
            <h5 class="text-izq">
                SIGUE {{ completa_lugar('ocho') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4">
                “Siembra tu semilla por la mañana, y por la tarde no dejes de trabajar porque no sabes si la ganancia
                vendrá de una actividad o de la otra, o quizás de ambas.”
                <br/>
                <small class="float-end">
                    Eclesiastés 11:6 (NTV)
                </small>
            </p>
            <h5 class="text-izq">
                SIGUE {{ completa_lugar('nueve') | raw}}.
            </h5>

            <p class="text-14-300 font-italic pl-4">
                Dios dice, “Esta visión es para un tiempo futuro. Describe el fin, y este se cumplirá. Aunque parezca que se demora en llegar, espera con paciencia, porque sin lugar a dudas sucederá.”
                <br/>
                <small class="float-end">
                    Habacuc 2:3 (NTV)
                </small>
            </p>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
