<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h4 class="text-centrado text-600">
                Nos comprometemos:
            </h4>
            <div class="col-sm-10 row">
                <div class="col-sm-8 text-left ">
                    <ol>
                        <li> Buscaremos a Dios.</li>
                        <li> Pelearemos de manera limpia.</li>
                        <li> Nos divertiremos juntos.</li>
                        <li> Nos mantendremos puros.</li>
                        <li><b>Nunca nos rendiremos.</b></li>
                    </ol>
                </div>
            </div>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Unos fariseos se acercaron y trataron de tenderle una trampa con la siguiente pregunta: ¿Se permite que
                un hombre se divorcie de su esposa por cualquier motivo? Jesús respondió: ¿No han leído las Escrituras?
                Allí está escrito que, desde el principio, “Dios los hizo hombre y mujer” agregó—: “Esto explica por qué
                el hombre deja a su padre y a su madre, y se une a su esposa, y los dos se convierten en uno solo”. Como
                ya <u>no son dos sino uno, que nadie separe lo que Dios ha unido</u>.”
                <br/>
                <small class="float-end">
                    Mateo 19:3-6 (NTV)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                EL MATRIMONIO ES UN PACTO<br/>
                NO UN CONTRATO
            </h4>
            <h5 class="text-izq text-600">
                * UN CONTRATO SE BASA EN LA {{ completa_lugar('uno') | raw }} MUTUA.

            </h5>
            <h5 class="text-izq text-600 ml-2">
                * UN PACTO SE BASA EN EL {{ completa_lugar('dos') | raw }} MUTUO.
            </h5>
            <br/>

            <h5 class="text-izq text-600 ml-2">
                SIEMBRA Y COSECHA EN EL MATRIMONIO
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “No se engañen ustedes mismos, porque nadie puede hacerle trampa a Dios. <u>Uno cosecha lo que
                    siembra</u>. Quienes siembran únicamente para complacer su naturaleza humana y sus malos deseos sólo
                cosecharán la destrucción eterna. Pero <u>el que siembra para agradar al Espíritu</u>, cosechará la vida
                eterna. No debemos cansarnos de hacer el bien. <u>Si no nos rendimos, tendremos una buena cosecha</u> en
                el momento apropiado.”
                <br/>
                <small class="float-end">
                    Gálatas 6:7-9 (PDT)
                </small>
            </p>
            <h5 class="text-izq text-600">
                1) COSECHAS LO {{ completa_lugar('tres') | raw }} SIEMBRAS.


            </h5>
            <h5 class="text-izq text-600 ml-2">
                2) COSECHAS {{ completa_lugar('cuatro') | raw }} SIEMBRAS.
            </h5>
            <br/>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Así que no nos cansemos de hacer el bien. A su debido tiempo, cosecharemos numerosas bendiciones <u>si
                    no nos damos por vencidos</u>.”
                <br/>
                <small class="float-end">
                    Gálatas 6:9 (NTV)
                </small>
            </p>
            <br/>
            <p class="text-14-300 font-italic pl-4 text-center">
                “El Señor es testigo del <u>pacto matrimonial</u> que cada uno de ustedes hizo <u>con la mujer de su
                    juventud</u>”
                <br/>
                <small class="float-end">
                    Malaquías 2:14 (PDT)
                </small>
            </p>
            <div class="col-sm-10 mx-auto">

                <div class="col-sm-3 mx-auto text-center">
                    <img src="{{ asset('images/series/05-NUNCA-RENDIRSE-WTITLE.png') }}" alt="Nunca te rindas"
                         class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
