<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <h5 class="text-izq text-600">
                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/>
                (una determinada situación)
            </h5>
            <h5 class="text-izq text-600">
                Yo ya determinado de antemano {{ completa_lugar('dos') | raw }} <br/>
                (tomar esta acción)
            </h5>
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center">
                    <img src="{{ asset('images/seis_decisiones.png') }}"
                         class="img-fluid col-sm-3" alt="AlamedaCMS">
                </div>
            </div>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “¡Mira a los orgullosos! Confían en sí mismos y sus vidas están torcidas. Pero el justo vivirá por su
                fidelidad a Dios”.
                <br/>
                <small class="float-start">
                    Habacuc 2:4 (NTV)
                </small>
            </p>
            <h6 class="text-izq text-600 mx-1">
                Pistos: una persona digna de confianza, confiable, auténtica, leal.
            </h6>
            <h4 class="text-centrado text-600">
                COMO LA FIDELIDAD ENRIQUECE TU VIDA:
            </h4>
            <h5 class="text-centrado text-600">
                1. {{ completa_lugar('tres') | raw }} a las personas.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Les doy un mandamiento nuevo: Que se amen los unos a los otros. Así como yo los he amado, también
                ustedes deben amarse los unos a los otros.”
                <br/>
                <small class="float-start">
                    Juan 13:34 (NVI)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                TRATA A LAS PERSONAS CON EL {{ completa_lugar('cuatro') | raw }} DE JESÚS,<br/>
                NO COMO HERRAMIENTAS PARA LOGRAR TUS METAS.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “No empleen un lenguaje grosero ni ofensivo. Que todo lo que digan sea bueno y útil, a fin de que sus
                palabras resulten de estímulo para quienes las oigan.”
                <br/>
                <small class="float-start">
                    Efesios 4:29 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. M {{ completa_lugar('cinco') | raw }} lo que Dios te dió.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Bien hecho, mi buen siervo fiel. Has sido fiel en administrar esta pequeña cantidad, así que ahora te
                daré muchas más responsabilidades.”
                <br/>
                <small class="float-start">
                    Mateo 25:21 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Manténganse libres del amor al dinero, y conténtense con lo que tienen, porque Dios ha dicho: ‘Nunca te
                dejaré; jamás te abandonaré’.”
                <br/>
                <small class="float-start">
                    Hebreos 13:5 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                SI ADMINISTRÁS TUS RECURSOS CON ALEGRÍA,<br/>
                DIOS {{ completa_lugar('seis') | raw }} SU GENEROSIDAD.
            </h5>

            <h5 class="text-izq text-600">
                3. O {{ completa_lugar('siete') | raw }} su voz
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Jesús a orillas del lago de Genesaret … vio dos barcas que los pescadores habían dejado en la playa
                mientras lavaban las redes. Subió a una de las barcas, que pertenecía a Simón, y le pidió que la alejara
                un poco de la playa. Luego se sentó, y enseñaba a la gente desde la barca. Cuando acabó de hablar, dijo
                a Simón: —Lleva la barca hacia aguas más profundas y echen allí las redes para pescar. —Maestro, hemos
                estado trabajando duro toda la noche y no hemos pescado nada —contestó Simón—. Pero, como tú me lo
                mandas, echaré las redes. Así lo hicieron y recogieron una cantidad tan grande de peces que las redes se
                les rompían. Entonces llamaron por señas a sus compañeros de la otra barca para que los ayudaran. Ellos
                se acercaron y llenaron tanto las dos barcas que comenzaron a hundirse.”
                <br/>
                <small class="float-start">
                    Lucas 5:1-7 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                OBEDECÉ A DIOS Y <br/>
                DEJÁ EL {{ completa_lugar('ocho') | raw }} EN SUS MANOS.
            </h5>

{#            <div class="col-sm-10 mx-auto">#}
{#                <div class="col-12 mx-auto text-center">#}
{#                    DIOS NO SE QUEDA CON LO QUE SOBRA EN TU VIDA PORQUE EL {{ completa_lugar('diez') | raw }} TU#}
{#                    VIDA.<br/>#}
{#                    ÉL NO ES PARTE DEL PLAN ÉL ES EL PLAN<br/>#}
{#                    BUSCARÉ PRIMERO LO PRIMERO PORQUE SOY CONSAGRADO.#}
{#                </div>#}
{#            </div>#}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
