<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    <h4 class="text-centrado text-600">
                        CÓMO LA FE EN JESÚS<br/>
                        CONVIERTE LO POCO EN MUCHO
                    </h4>
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    <h6 class="text-14-300 font-italic pl-4 text-centrado">
                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000
                    </h6>
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                    {#                        “Luego Jesús entró en la barca y comenzó a cruzar el lago con sus discípulos.<br/> #}
                    {#                        <sup>24</sup> De repente, se desató sobre el lago <u>una violenta tormenta</u>, con olas que #}
                    {#                        entraban en el barco. Pero Jesús dormía.<br/> #}
                    {#                        <sup>25</sup> Los discípulos fueron a despertarlo: «Señor, ¡sálvanos! ¡Nos vamos a ahogar!» — #}
                    {#                        gritaron. <br/> #}
                    {#                        <sup>26</sup> «¿Por qué tienen miedo?— preguntó Jesús—. ¡Tienen tan poca fe!». Entonces se #}
                    {#                        levantó y reprendió al viento y a las olas y, de repente, hubo una gran calma.<br/> #}
                    {#                        <sup>27</sup> Los discípulos quedaron asombrados y preguntaron: «¿Quién es este hombre? ¡Hasta #}
                    {#                        el viento y las olas lo obedecen!». “ #}
                    {#                        <small class="float-end" style="font-size: 0.8em"> #}
                    {#                            Mateo 8:23-27 (NTV) #}
                    {#                        </small> #}
                    {#                    </p> #}


                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}

                <h4 class="text-centrado text-600">
                    1. {{ completa_lugar('uno') | raw }} QUE TENGO UN PROBLEMA.
                </h4>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Cuando Jesús salió de la barca, vio a la gran multitud y tuvo compasión de ellos… Entonces comenzó
                    a enseñarles muchas cosas. Al atardecer, los discípulos se le acercaron y le dijeron: Este es un
                    lugar alejado y ya se está haciendo <u>tarde. Despide a las multitudes</u> para que puedan ir a las
                    granjas y aldeas cercanas a comprar algo de comer. Jesús les dijo: Denles ustedes de comer. ¿Con
                    qué? —preguntaron. ¡Tendríamos que trabajar durante meses para ganar suficiente a fin de comprar
                    comida para toda esta gente!”
                    <br/>
                    <small class="float-end">
                        Marcos 6:34-37 (NTV)
                    </small>
                </p>

                <h5 class="text-centrado text-600">
                    Cuando tenemos un problema
                </h5>
                <h6 class="text-centrado text-600">
                    {{ completa_lugar('dos') | raw }} las cosas <br/>
                </h6>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Se está haciendo tarde...” v. 35
                </p>
                <h6 class="text-centrado text-600">
                    {{ completa_lugar('tres') | raw }} la responsabilidad <br/>
                </h6>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Despide a la gente...” v. 35
                </p>
                <h6 class="text-centrado text-600">
                    Nos {{ completa_lugar('cuatro') | raw }}<br/>
                </h6>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¡Tendríamos que trabajar durante meses para ganar suficiente a fin de comprar comida para toda esta
                    gente!” v.37
                </p>
                <br/>

                <h4 class="text-centrado text-600">
                    2. LE DOY A DIOS {{ completa_lugar('cinco') | raw }}
                </h4>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¿Cuánto pan tienen? —preguntó. Vayan y <u>averigüen</u>. Ellos regresaron e informaron: Tenemos
                    cinco panes y dos pescados.”
                    <br/>
                    <small class="float-end">
                        Marcos 6:38 (NTV)
                    </small>
                </p>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Jesús le dijo esto para ponerlo a <u>prueba</u>, pues ya sabía lo que iba a hacer.”
                    <br/>
                    <small class="float-end">
                        Juan 6:6 (PDT)
                    </small>
                </p>
                <h6 class="text-centrado text-600">
                    LECCIÓN: DIOS SIEMPRE COMIENZA CON {{ completa_lugar('seis') | raw }}
                </h6>
                <br/>

                <h4 class="text-centrado text-600">
                    3. PONGO TODO EN {{ completa_lugar('siete') | raw }}
                </h4>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Por ahí anda un muchacho —intervino Andrés, hermano de Simón Pedro—, que trae cinco panes de cebada
                    y dos pescados...”
                    <br/>
                    <small class="float-end">
                        Juan 6:8 (BAD)
                    </small>
                </p>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Jesús <u>tomó</u> los cinco panes y los dos pescados, miró hacia el cielo y los bendijo. Luego, a
                    medida que partía los panes en trozos, se los daba a sus discípulos para que los distribuyeran entre
                    la gente…”
                    <br/>
                    <small class="float-end">
                        Marcos 6:41 (NTV)
                    </small>
                </p>

                <h6 class="text-centrado text-600">
                    LECCIÓN: DIOS USARÁ {{ completa_lugar('ocho') | raw }} YO LE DÉ
                </h6>

                <h5 class="text-centrado text-600">
                    El ejemplo de un muchacho
                </h5>
                <ul>
                    <li class="text-14-300 font-italic pl-4 text-izq">
                        1. Dio lo que {{ completa_lugar('nueve') | raw }}
                    </li>
                    <li class="text-14-300 font-italic pl-4 text-izq">
                        2. Dio {{ completa_lugar('diez') | raw }} lo que tenía.
                    </li>
                    <li class="text-14-300 font-italic pl-4 text-izq">
                        3. Dio {{ completa_lugar('once') | raw }}
                    </li>
                </ul>
                <h6 class="text-centrado text-600">
                    El joven dio lo que tenía... voluntariamente, alegremente, y de inmediato.
                </h6>
                <br/>
                <h4 class="text-centrado text-600">
                    4. ESPERO QUE DIOS LO {{ completa_lugar('doce') | raw }}
                </h4>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Comieron todos hasta quedar <u>satisfechos</u>, y los discípulos recogieron doce canastas llenas de
                    pedazos de pan y de pescado.”
                    <br/>
                    <small class="float-end">
                        Marcos 6:42-43 (NVI)
                    </small>
                </p>
                <h6 class="text-centrado text-600">
                    LECCIÓN: SIEMPRE RECIBO {{ completa_lugar('trece') | raw }} DE TODO AQUELLO QUE DOY
                </h6>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Para Dios todo es posible.”
                    <br/>
                    <small class="float-end">
                        Marcos 10:27 (NVI)
                    </small>
                </p>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    Jesús: “Ciertamente les aseguro que si el grano de trigo no cae en tierra y muere, se queda solo.
                    Pero si muere, produce mucho fruto.”
                    <br/>
                    <small class="float-end">
                        Juan 12:24 (NVI)
                    </small>
                </p>

                <hr>


                {#            Pie de las notas      #}


                <div class="col-sm-10 mx-auto my-2">
                    <div class="col-sm-8 mx-auto text-center">
                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia
                        en tu
                        iglesia en <a class="btn btn-link"
                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                      target="_blank"> Youversion</a>.
                        <br/>
                        La aplicación más descargada en todo el mundo.<br/>
                        Sigue el <a class="btn btn-link"
                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                    target="_blank"> enlace</a> y descubre cómo.
                    </div>

                    {#                <div class="col-12 mx-auto text-left"> #}
                    {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                    {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                    {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                    {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                    {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                    {#                    </h6> #}
                    {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                    {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                    {#                </div> #}
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
