<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <p class="text-14-300 font-italic pl-4 text-center">
                “Había un hombre enfermo llamado Lázaro, que era de Betania, el pueblo de María y su hermana Marta
                […]<br/>
                <sup>3</sup> Las dos hermanas mandaron a decirle a Jesús: «Señor, tu amigo querido está enfermo».<br/>
                <sup>4</sup> Cuando Jesús oyó esto, dijo: «Esta enfermedad no terminará en muerte, sino que es para la
                gloria de Dios, para que por ella el Hijo de Dios sea glorificado». <br/>
                <sup>5</sup> Jesús amaba a Marta, a su hermana y a Lázaro.<br/>
                <sup>6</sup> A pesar de eso, cuando oyó que Lázaro estaba enfermo, se quedó dos días más donde se
                encontraba […]<br/>
                <sup>17</sup> A su llegada, Jesús se encontró con que Lázaro llevaba ya cuatro días en el sepulcro.”
                <br/>
                <small class="float-start">
                    Juan. 11:1-6, 17 (NVI)
                </small>
            </p>

            <div class="col-sm-10 mx-auto">
                <div class="col-12 mx-auto text-center">
                    ¿QUÉ SEPULTASTE EN TU VIDA?
                    <ul>
                        <li>Tu {{ completa_lugar('uno') | raw }}</li>
                        <li>Tu {{ completa_lugar('dos') | raw }}</li>
                        <li>Tu {{ completa_lugar('tres') | raw }}</li>
                        <li>Tu {{ completa_lugar('cuatro') | raw }}</li>
                    </ul>
                </div>
            </div>
            <h4 class="text-izq text-600">
                COMO VOLVER A VIVIR:
            </h4>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('cinco') | raw }} LO QUE HOY ESTÁ MUERTO:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces Jesús les dijo abiertamente: —Lázaro ha muerto.”
                <br/>
                <small class="float-start">
                    Juan 11:14 (RVC)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. CONFÍO EN SU {{ completa_lugar('seis') | raw }} SIN LÍMITES:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cuando Jesús llegó, se encontró con que hacía ya cuatro días que Lázaro estaba en el sepulcro… y muchos
                de los judíos se habían acercado a Marta y a María, para consolarlas por su hermano”.
                <br/>
                <small class="float-start">
                    Juan 11:17,19 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Marta le dijo a Jesús: «Señor, si hubieras estado aquí, mi hermano no habría muerto… Jesús le dijo: «Tu
                hermano resucitará.» Marta le dijo: «Yo sé que resucitará en la resurrección, en el día final.»”
                <br/>
                <small class="float-start">
                    Juan 11:21-24 (RVC)
                </small>
            </p>

            <h5 class="text-izq text-600">
                EL PRINCIPAL LÍMITE PARA MI MILAGRO ES {{ completa_lugar('siete') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Le dijo Jesús: Yo soy la resurrección y la vida; el que cree en mí, aunque esté muerto, vivirá.”
                <br/>
                <small class="float-start">
                    Juan 11:25 (RVR)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. DESCANSO EN SU {{ completa_lugar('ocho') | raw }} Y {{ completa_lugar('nueve') | raw }}:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                «¿Dónde lo pusieron?» Le dijeron: «Señor, ven a verlo.» Y Jesús lloró.
                <br/>
                <small class="float-start">
                    Juan 11:34-35 (RVC)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Profundamente conmovido, Jesús fue al sepulcro, que era una cueva y tenía una piedra puesta encima.
                Jesús dijo: «Quiten la piedra.» Marta, la hermana del que había muerto, le dijo: «Señor, ya huele mal,
                pues ha estado allí cuatro días.» Jesús le dijo: «¿No te he dicho que, si crees, verás la gloria de
                Dios?»”
                <br/>
                <small class="float-start">
                    Juan 11:38-40 (RVC)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                PARA UN MILAGRO DE RESURRECCIÓN SE NECESITA DOS
                CLASES DE FE: EN EL {{ completa_lugar('diez') | raw }} DE DIOS Y EN
                SU {{ completa_lugar('once') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Estoy seguro de que ni la muerte, ni la vida, ni ángeles, ni principados, ni potestades, ni lo
                presente, ni lo por venir, ni lo alto, ni lo profundo, ni ninguna otra cosa creada nos podrá separar del
                amor de Dios, que es en Cristo Jesús Señor nuestro.”
                <br/>
                <small class="float-start">
                    Romanos 8:38-39 (RVR)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. {{ completa_lugar('doce') | raw }} CON FE QUE LO MUERTO RESUCITA:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Entonces quitaron la piedra. Y Jesús, levantando los ojos a lo alto, dijo: «Padre, te doy gracias por
                haberme escuchado. Yo sabía que siempre me escuchas; pero lo dije por causa de la multitud que está
                alrededor, para que crean que tú me has enviado.» Y habiendo dicho esto, clamó a gran voz: «¡Lázaro, ven
                fuera!»”
                <br/>
                <small class="float-start">
                    Juan 11:41-43 (RVC)
                </small>
            </p>
            <h5 class="text-centrado text-600">
                LA BATALLA POR MI RESURRECCIÓN ES CON MI ALABANZA.
            </h5>

            <h5 class="text-izq text-600">
                5. ME PREPARO PARA {{ completa_lugar('trece') | raw }} EL MILAGRO:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Y el que había muerto salió, con las manos y los pies envueltos en vendas, y el rostro envuelto en un
                sudario. Entonces Jesús les dijo: «Quítenle las vendas, y déjenlo ir.»”
                <br/>
                <small class="float-start">
                    Juan 11:44 (RVC)
                </small>
            </p>



            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    Todo lo que Dios necesita es TODO lo que tenés<br/> #}
            {#                    El recipiente, fue la excepción, de un milagro excepcional. #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
