<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}


            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Siembren ustedes mismos lo bueno y <u>cosecharán amor incondicional</u>. Rompan la tierra sin arar. Es
                hora de ir al Señor hasta que venga y haga llover bondad sobre ustedes.“
                <br/>
                <small class="float-start">
                    Oseas 10:12 (VBL)
                </small>
            </p>
            <h4 class="text-centrado text-600">
                Secretos de las semillas de amor
            </h4>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Jesús también dijo: «El reino de Dios es como un agricultor que esparce semilla en la tierra. Día y
                noche, sea que él esté dormido o despierto, la semilla brota y crece, pero él no entiende cómo sucede.
                La tierra produce las cosechas por sí sola. Primero aparece una hoja, luego se forma la espiga y
                finalmente el grano madura. Tan pronto como el grano está listo, el agricultor lo corta con la hoz
                porque ha llegado el tiempo de la cosecha».“
                <br/>
                <small class="float-start">
                    Marcos 4:26-29 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “... Es como una semilla de mostaza sembrada en la tierra. Es la más pequeña de todas las semillas, pero
                se convierte en la planta más grande del huerto; sus ramas llegan a ser tan grandes que los pájaros
                hacen nidos bajo su sombra».“
                <br/>
                <small class="float-start">
                    Marcos 4:30-32 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                1. Una pequeña semilla tiene {{ completa_lugar('uno') | raw }} de multiplicación.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Es la más pequeña de todas las semillas, pero se convierte en la planta más grande del huerto”
                <br/>
                <small class="float-start">
                    v. 30
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Después Dios dijo: «Que de la tierra brote vegetación: toda clase de plantas con semillas y árboles que
                den frutos con semillas. Estas semillas producirán, a su vez, las mismas clases de plantas y árboles de
                los que provinieron»; y eso fue lo que sucedió.“
                <br/>
                <small class="float-start">
                    Génesis 1:11 (NTV)
                </small>
            </p>

            {#            <h6 class="text-centrado"> #}
            {#                * La revolución de una {{ completa_lugar('dos') | raw }} indetenible #}
            {#            </h6> #}

            <h5 class="text-izq text-600">
                2. Nunca {{ completa_lugar('dos') | raw }} lo que una semilla puede provocar.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-izq">
                “sus ramas llegan a ser tan grandes que los pájaros hacen nidos bajo su sombra”
                <br/>
                <small class="float-start">
                    v. 32
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Sea que él esté dormido o despierto, la semilla brota y crece“
                <br/>
                <small class="float-start">
                    v. 26
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. Estás cosechando el amor que {{ completa_lugar('tres') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Ustedes conocen el dicho: “Hay cuatro meses entre la siembra y la cosecha”, pero yo les digo:
                despierten y miren a su alrededor, los campos ya están listos para la cosecha. ... Ya saben el dicho:
                “Uno siembra y otro cosecha”, y es cierto. Yo los envié a ustedes a cosechar donde no sembraron; otros
                ya habían hecho el trabajo, y ahora a ustedes les toca levantar la cosecha. “
                <br/>
                <small class="float-start">
                    Juan 4:35-38 (NTV)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Lo que plantes en la vida, es lo que vas a {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “No se engañen ustedes mismos, porque nadie puede hacerle trampa a Dios. <u>Uno cosecha lo que
                    siembra</u>.“
                <br/>
                <small class="float-start">
                    Gálatas 6:7 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Siembren bondad <u>para ustedes mismos</u>; recojan fiel amor”
                <br/>
                <small class="float-start">
                    Oseas 10:12 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Otras semillas cayeron en tierra buena y empezaron a dar fruto... produjeron treinta granos por
                semilla, <u>otras sesenta y otras cien</u>”. “
                <br/>
                <small class="float-start">
                    Marcos 4:8 (PDT)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Recuerden esto: El que siembra escasamente, escasamente cosechará, y el que <u>siembra en
                    abundancia</u>, en abundancia cosechará“
                <br/>
                <small class="float-start">
                    2° Corintios 9:6-7 (NVI).
                </small>
            </p>
            <h5 class="text-izq text-600">
                5. Hay {{ completa_lugar('cinco') | raw }} tiempos de siembra y repentinos momentos de cosecha.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Primero aparece una hoja, luego se forma la espiga y finalmente el grano”
                <br/>
                <small class="float-start">
                    v 26
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Así que no nos cansemos de hacer el bien. A su debido tiempo, <u>cosecharemos</u> numerosas bendiciones
                si no nos damos por vencidos. “
                <br/>
                <small class="float-start">
                    Gálatas 6:9 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Y estoy seguro que Dios, que comenzó en ustedes la buena obra, les seguirá <u>ayudando a crecer</u> en
                su gracia hasta que la obra que realiza en ustedes quede <u>completa</u>...“
                <br/>
                <small class="float-start">
                    Filipenses 1:6 (BAD)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Hay <u>una temporada para todo</u>, un tiempo para cada actividad bajo el cielo. ... Un tiempo para
                sembrar y un tiempo para cosechar. “
                <br/>
                <small class="float-start">
                    Eclesiastés 3:1-2 (NTV)
                </small>
            </p>
            <h5 class="text-izq text-600">
                6. Una semilla no tiene poder hasta que {{ completa_lugar('seis') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Les digo la verdad, el grano de trigo, a menos que sea <u>sembrado en la tierra y muera</u>, queda solo.
                Sin embargo, su muerte producirá muchos granos nuevos, una abundante cosecha de nuevas vidas. Los que
                aman su vida en este mundo la perderán. Los que no le dan importancia a su vida en este mundo la
                conservarán por toda la eternidad.“
                <br/>
                <small class="float-start">
                    Juan 12:24-25 (NTV)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Y ahora, que toda la gloria sea para Dios, quien puede lograr <u>mucho más de lo que pudiéramos pedir o
                    incluso imaginar</u> mediante su gran poder, que actúa en nosotros. ¡Gloria a él <u>en la
                    iglesia</u> y en Cristo Jesús por todas las generaciones desde hoy y para siempre! Amén. “
                <br/>
                <small class="float-start">
                    Efesios 3:20-21 (NTV)
                </small>
            </p>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                                        Como construir una vida de amor #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        “Permanezcan fuertes y constantes. Trabajen siempre para el Señor con entusiasmo, porque ustedes #}
            {#                        saben que <u>nada de lo que hacen para el Señor es inútil</u>.“. 1° Corintios 15:58 (NTV) #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        “Dios no es injusto. <u>No olvidará</u> con cuánto esfuerzo han trabajado para él y cómo <u>han #}
            {#                            demostrado su amor por él sirviendo a otros creyentes</u> como todavía lo hacen.“. Hebreos #}
            {#                        6:10 (NTV) #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        3. {{ completa_lugar('trece') | raw }} lo que Dios dice acerca del amor. #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        4. {{ completa_lugar('catorce') | raw }} actua en maneras amorosas y desinteresadas. #}
            {#                    </p> #}
            {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
            {#                        5. {{ completa_lugar('quince') | raw }} de otra gente amorosa. #}
            {#                    </p> #}
            {#                <h6 class="text-centrado text-600"> #}

            {#                    “Así manifestó Dios su amor entre nosotros: en que <b>envió</b> a<br/> #}
            {#                    su Hijo único al mundo para que vivamos por medio de él”<br/> #}
            {#                    1 Juan 4:9 (NVI) #}
            {#                </h6> #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
