<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h4 class="text-izq text-600"> #}
            {#                Las buenas prioridades… #}
            {#            </h4> #}

            <p class="text-14-300 font-italic pl-4 text-center">
                “Depositen en él toda ansiedad, porque Él cuida de ustedes”
                <br/>
                <small class="float-end">
                    1° Pedro 5:7 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                1. La ansiedad no es un {{ completa_lugar('uno') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                2. La ansiedad no {{ completa_lugar('dos') | raw }}.
            </h5>
            <h5 class="text-izq text-600">
                3. La ansiedad es una {{ completa_lugar('tres') | raw }}.
            </h5>

            <h4 class="text-izq text-600">
                ¿QUÉ ME PONE TAN ANSIOSO?
            </h4>
            <h5 class="text-izq text-600">
                1. Falta de {{ completa_lugar('cuatro') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                La parte que cayó entre espinos son los que oyen, pero, con el correr del tiempo, los ahogan las
                preocupaciones, las riquezas y los placeres de esta vida, y no maduran.
                <br/>
                <small class="float-end">
                    Lucas 8:14 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-center">
                ¿Qué aprovechará al hombre si ganare todo el mundo, y perdiere su alma?
                <br/>
                <small class="float-end">
                    Marcos 8:36 (RVR)
                </small>
            </p>


            <h5 class="text-centrado text-600">
                <i>La ansiedad es una {{ completa_lugar('cinco') | raw }} un llamado de Dios para recuperar
                    tu {{ completa_lugar('seis') | raw }}.</i>
            </h5>

            <h5 class="text-izq text-600">
                2. Controlar lo {{ completa_lugar('siete') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                ¿Quién de ustedes, por mucho que se preocupe, puede añadir una sola hora al curso de su vida?
                <br/>
                <small class="float-end">
                    Mateo 6:27 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Hacer {{ completa_lugar('ocho') | raw }}.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                Pero Jesús le contestó: —Marta, Marta, ¿por qué te preocupas por tantas cosas? Hay algo más importante.
                María lo ha elegido, y nadie se lo va a quitar.
                <br/>
                <small class="float-end">
                    Lucas 10:41-42 (TLA)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. Vivir para {{ completa_lugar('nueve') | raw }}.
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                Yo no ando buscando que la gente apruebe lo que digo. Ni ando buscando quedar bien con nadie. Si así lo
                hiciera, ya no sería yo un servidor de Cristo. ¡Para mí, lo importante es que Dios me apruebe!
                <br/>
                <small class="float-end">
                    Gálatas 1:10 (TLA)
                </small>
            </p>

            <h4 class="text-izq text-600">
                ¿COMO VENCER LA ANSIEDAD
            </h4>

            <h5 class="text-izq text-600">
                1. Descansa en la {{ completa_lugar('diez') | raw }}:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “No se inquieten por nada; más bien, en toda ocasión, con oración y ruego, presenten sus peticiones a
                Dios y denle gracias. Y la paz de Dios, que sobrepasa todo entendimiento, cuidará sus corazones y sus
                pensamientos en Cristo Jesús.”
                <br/>
                <small class="float-end">
                    Filipenses 4: 6-7 (NVI)
                </small>
            </p>

            <h5 class="text-centrado text-600">
                La oración toca el corazón de Dios y sana tu ansiedad
            </h5>
            <h5 class="text-izq text-600">
                2. Desintoxica tu {{ completa_lugar('once') | raw }}:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Consideren bien todo lo verdadero, todo lo respetable, todo lo justo, todo lo puro, todo lo amable,
                todo lo digno de admiración, en fin, todo lo que sea excelente o merezca elogio.”
                <br/>
                <small class="float-end">
                    Filipenses 4:8 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                3. Revisa tus {{ completa_lugar('doce') | raw }}:
            </h5>

            <p class="text-14-300 font-italic pl-4 text-center">
                “Pongan en práctica lo que de mí han aprendido, recibido y oído, y lo que han visto en mí, y el Dios de
                paz estará con ustedes.”
                <br/>
                <small class="float-end">
                    Filipenses 4:9 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                Enfocate en los {{ completa_lugar('trece') | raw }}:
            </h5>
            <p class="text-14-300 font-italic pl-4 text-center">
                “Cada uno debe velar no sólo por sus propios intereses sino también por los intereses de los demás.”
                <br/>
                <small class="float-end">
                    Filipenses 2:4 (NVI)
                </small>
            </p>

                        <div class="col-sm-10 mx-auto">
                            <div class="col-12 mx-auto text-center">
                                <i>Todo lo puedo en Cristo que me fortalece.<br/>
                                    Filipenses 4:13 (NVI)</i>
                            </div>
                        </div>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
