<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">

            {#            <h5 class="text-izq text-600"> #}
            {#                Siempre que me enfrento con {{ completa_lugar('uno') | raw }}<br/> #}
            {#                #}{#                (una determinada situación) #}
            {#            </h5> #}

            {#            <div class="col-sm-10 mx-auto mb-3"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <img src="{{ asset('images/seis_decisiones.png') }}" #}
            {#                         class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
            {#                </div> #}
            {#            </div> #}
            {#            <h6 class="text-centrado"> #}
            {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
            {#            </h6> #}
            {#            <h5 class="text-izq text-600"> #}
            {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
            {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
            {#            </h5> #}
            <p class="text-14-300 font-italic pl-4 text-centrado">
                Mi alimento es hacer la voluntad del que me envió y terminar su obra —dijo Jesús—
                <br/>
                <small class="float-start">
                    Juan 4:34 (NVI)
                </small>
            </p>

            <h4 class="text-centrado text-600">
                CONDICIONES PARA ESCUCHAR SU VOZ:
            </h4>
            <h5 class="text-izq text-600">
                1. {{ completa_lugar('uno') | raw }}, personal con Jesús.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “¿Quién es el que me ama? El que hace suyos mis mandamientos y los obedece. Y al que me ama, mi Padre lo
                amará; y yo también lo amaré y me manifestaré a él”
                <br/>
                <small class="float-start">
                    Juan 14:21 (NVI)
                </small>
            </p>
            <h5 class="text-izq text-600">
                2. {{ completa_lugar('dos') | raw }}, de hacer su voluntad.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “El que esté dispuesto a hacer la voluntad de Dios reconocerá si mi enseñanza proviene de Dios o si yo
                hablo por mi propia cuenta.”
                <br/>
                <small class="float-start">
                    Juan 7:17 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                3. {{ completa_lugar('tres') | raw }}, para esperar el momento.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Esta es la confianza que tenemos al acercarnos a Dios: que, si pedimos cualquier cosa conforme a su
                voluntad, él nos oye. Y si sabemos que Dios oye todas nuestras oraciones, podemos estar seguros de que
                ya tenemos lo que le hemos pedido”
                <br/>
                <small class="float-start">
                    1° Juan 5:14-15 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “Jesús les dijo: —Para ustedes cualquier tiempo es bueno, pero el tiempo mío aún no ha llegado. “
                <br/>
                <small class="float-start">
                    Juan 7:6 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                4. {{ completa_lugar('cuatro') | raw }}, para caminar lo desconocido.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Ahora bien, la fe es tener confianza en lo que esperamos, es tener certeza de lo que no vemos”
                <br/>
                <small class="float-start">
                    Hebreos 11:1, 6 (NVI)
                </small>
            </p>
            <p class="text-14-300 font-italic pl-4 text-centrado">
                “El Señor dijo a Abram: deja tu tierra, tus parientes, la casa de tu padre y ve a la tierra que te
                mostraré”
                <br/>
                <small class="float-start">
                    Génesis 12:1 (NVI)
                </small>
            </p>

            <h5 class="text-izq text-600">
                5. {{ completa_lugar('cinco') | raw }}, estar dispuesto pagar el precio.
            </h5>
            <p class="text-14-300 font-italic pl-4 text-izq">
                “Y ahora tengan en cuenta que voy a Jerusalén obligado por el Espíritu, sin saber lo que allí me espera.
                Lo único que sé es que en todas las ciudades el Espíritu Santo me asegura que me esperan prisiones y
                sufrimientos. Sin embargo, considero que mi vida carece de valor para mí mismo, con tal de que termine
                mi carrera y lleve a cabo el servicio que me ha encomendado el Señor Jesús, que es el de dar testimonio
                del evangelio de la gracia de Dios.”
                <br/>
                <small class="float-start">
                    Hechos 20:22-24 (NVI)
                </small>
            </p>


                        <div class="col-sm-10 mx-auto">
                            <div class="col-12 mx-auto text-center">
                                NO SE TRATA DE {{ completa_lugar('seis') | raw }},<br/>
                                SINO DE {{ completa_lugar('siete') | raw }}
                            </div>
                        </div>


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    “<b>Sólo pídelo, y te daré</b> como herencia las naciones,<br/> #}
            {#                    toda la tierra como posesión tuya.” <i>Salmos 2:8 (NTV)</i> #}
            {#                </div> #}
            {#            </div> #}


            {#            <div class="col-sm-10 mx-auto"> #}
            {#                <div class="col-12 mx-auto text-center"> #}
            {#                    <b>El Salvador que canta su camino a la cruz:</b> #}
            {#                </div> #}

            {#                <div class="col-sm-8 mx-auto text-center"> #}
            {#                    “Dios mío, Dios mío, ¿por qué me has abandonado? ¿Por qué estás tan lejos cuando gimo por ayuda? #}
            {#                    <br/><sup>2</sup> Cada día clamo a ti, mi Dios, pero no respondes; cada noche oyes mi voz, pero no #}
            {#                    encuentro alivio. #}
            {#                    <br/><sup>3</sup> <b>Sin embargo, tú eres santo, estás entronizado en las alabanzas</b> #}
            {#                    de Israel. #}
            {#                    <br/><sup>4</sup> Nuestros antepasados confiaron en ti, y los rescataste. #}
            {#                    <br/><sup>5</sup> Clamaron a ti, y los salvaste; <b>confiaron en ti y nunca fueron avergonzados</b>.” #}
            {#                    <br/> #}
            {#                    Salmos 22:1-5 (NTV) #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('nota_mensaje') }}
