<div class="col-sm-12">
    <h3>
        OYE EL RUIDO!
        <br/>
        <small>
            Serie: Oye el ruido de rotas cadenas – Parte 1
        </small>
    </h3>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "No se preocupen por todo eso diciendo: “¿Qué comeremos?, ¿qué beberemos?, ¿qué ropa nos pondremos?”.
        Esas cosas dominan el pensamiento de los incrédulos, pero su Padre celestial ya conoce todas sus necesidades.”
        <br/>
        <small class="float-right">
            Mateo 6:31-32 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
    “Busquen el reino de Dios por encima de todo lo demás y lleven una vida justa, y él les dará todo lo que necesiten."
        <br/>
        <small class="float-right">
            Mateo 6:33 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
    "Jesús les dijo a los que creyeron en él: Ustedes son verdaderamente mis discípulos si se mantienen fieles a mis
    enseñanzas; y conocerán la verdad, y la verdad los hará libres. "
        <br/>
        <small class="float-right">
    Juan 8:31-32 (NTV)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
    "Sin embargo, a esta mujer, que es hija de Abraham, y a quien Satanás tenía atada durante dieciocho largos años,
    ¿no se le debía quitar esta cadena en sábado?"
        <br/>
        <small class="float-right">
     Lucas 13:16 (NVI)
        </small>
    </p>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
    <h4>
        COMO RECIBIR LIBERTAD DEFINITIVA
    </h4>
        <strong>
            1. DESCUBRÍ SU {{ completa_lugar('uno') | raw}}
        </strong><br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Cierto día de descanso, mientras Jesús enseñaba en la sinagoga, <b>vio a una mujer</b>”
            <br/>
            <small class="float-right">
                Lucas 13:10-11 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “… que estaba lisiada a causa de <b>un espíritu maligno</b>.
            Había estado <b>encorvada</b> durante dieciocho años y <b>no podía</b> ponerse derecha."
            <br/>
            <small class="float-right">
                Lucas 13:10-11 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Cuando Jesús la vio"
            <br/>
            <small class="float-right">
                Lucas 13:12 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Esta apreciada mujer, una hija de Abraham."
            <br/>
            <small class="float-right">
                Lucas 13:16 (NTV)
            </small>
        </p>
        <br/>

        <strong>
            2. CONFÍA EN SU {{ completa_lugar('dos') | raw}}
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Cuando Jesús la vio, <b>la llamó</b>."
            <br/>
            <small class="float-right">
                Lucas 13:12 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            3. ABRAZA SU {{ completa_lugar('tres') | raw}}
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Cuando Jesús la vio, la llamó <b>y le dijo: «Apreciada mujer, ¡estás sanada de tu enfermedad!</b>"
            <br/>
            <small class="float-right">
                Lucas 13:12 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pero él fue herido por nuestras rebeliones, fue golpeado por nuestras maldades; él sufrió en nuestro
            lugar, y gracias a sus heridas recibimos la paz y <u>fuimos sanados</u>. "
            <br/>
            <small class="float-right">
                Isaías 53:5 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Apreciada mujer, ¡estás sanada de tu enfermedad!"
            <br/>
            <small class="float-right">
                Lucas 13:12 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            4. EXPERIMENTA SU {{ completa_lugar('cuatro') | raw}}
        </strong>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Luego la tocó y, al <b>instante</b>, ella pudo enderezarse…!"
            <br/>
            <small class="float-right">
                Lucas 13:13 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Mientras profetizaba, <b>se escuchó un ruido</b> que sacudió la tierra, y los huesos comenzaron a unirse entre sí."
            <br/>
            <small class="float-right">
                Ezequiel 37:7 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "De repente, <b>vino del cielo un ruido</b> como el de una violenta ráfaga de viento y llenó toda la casa donde estaban reunidos."
            <br/>
            <small class="float-right">
                Hechos 2:2 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El viento sopla por donde quiere, y <b>aunque oyes su ruido</b>, no sabes de dónde viene ni a dónde va.
            Así son también todos los que nacen del Espíritu."
            <br/>
            <small class="float-right">
                Juan 3:8 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Luego la tocó y, al <b>instante</b>, ella pudo enderezarse. ¡Cómo alabó ella al Señor!"
            <br/>
            <small class="float-right">
                Lucas 13:13 (NTV)
            </small>
        </p>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Dios es tan rico en gracia y bondad que <b>compró nuestra libertad con la sangre de su Hijo</b> y perdonó nuestros pecados. "
            <br/>
            <small class="float-right">
                Efesios 1:7 (NTV)
            </small>
        </p>
        <br/>


    </div>
</div>

{{ encore_entry_script_tags('nota_mensaje') }}
