<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block lema -%} ">
    <meta name="keywords" content="{% block keywords_content -%} Escape a la libertad,{% endblock%} ">
    <meta name="author" content="Alameda CMS">
    <meta property="og:title" content="Alameda CMS"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://iglesiaalameda.com/index.php"/>
    <meta property="og:image" content="{{ base.metaUrl }}{{ asset('images/og-base.png') }}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>{% block title %} Bienvenido! {% endblock %} - {{ base.siteName|default('Alameda CMS') }}</title>
    {% include 'bases/_favicon.html.twig' %}
    {% block stylesheets %}
    {% include 'bases/_css.html.twig' %}
    {% endblock %}
    {% block sslocal %}
{#        <link href="{{ asset('css/business-casual.css') }}" rel="stylesheet">#}
    {% endblock %}
    {% include 'bases/_icons.html.twig' %}
    {% include 'bases/_fonts.html.twig' %}
    {% import 'bases/_links.html.twig' as links  %}


    <style>
        .linkYoutube{
            width: 100%;
            height: 315px !important;
        }
        .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
{% block header %}
<header>
    {% include 'inicio/_nav.html.twig' %}
    <hr class="mt-5"/>
    <div class="col-12 bg-faded">
        <div class="text-center">
            <h1 class="display-sm-4 display-lg-3 ">
                <a href="https://online.iglesiaalameda.com">
                    <i class="fas fa-globe  "></i>
                </a>
                <span class="js-display-typing"></span>
            </h1>
        </div>
    </div>
    <!--Seccion cover-->
    <section class="js-parallax u-promo-block u-promo-block--mheight-600 u-overlay u-overlay--dark text-white"
             style="background-image: url({{ asset('images/series/escape-a-la-libertad/escape-a-la-libertad-encabezado.jpg') }}); background-position: 50% 0px !important;">
        <!-- Vacío para texto Content -->
        <div class="container u-overlay__inner u-ver-center u-content-space ">
            <div class="row justify-content-center">

            </div>
        </div>
        <!-- Fin Vacío para texto Content -->
    </section>
    <!--    FIn Section Cover-->
</header>
{% endblock %}
{% block body %}
<!-- Horarios - Invitación - Video -->
<section class="bg-light page-section ">
    <div class="container">
        <!-- Invitación: Header -->
        <header class="text-center w-md-50 mx-auto  mt-5 mb-8 ">
            <div class="row align-items-lg-center mb-5">
                <div class="display-4 mb-2 text-primary col-sm-12 text-center">
                    <div class="col-lg-3 mx-auto">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="col-lg-7 mx-auto">
                        <h2>
                            <b>Domingos 11 Hs.
                                y 20 Hs.</b></h2>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Invitación: Header -->

        <div class="col-lg-12 col-md-12">
            <!-- Enlave Video -->
            <article class="u-destacado u-box-shadow-sm text-center rounded">
                <!-- Article Header -->
                <header class="u-destacado__header bg-light-blue text-white rounded-top">
                    <strong class="u-destacado__header-price display-4 font-weight-bold mt-1 mb-1">
                        <h3>Experiencia Alameda</h3>
                    </strong>
                    <h3 class="u-destacado__header-title small text-uppercase u-letter-spacing-sm mb-1">
                        <a href="https://online.iglesiaalameda.com" class="text-white">
                            En vivo desde aqui
                        </a>
                    </h3>
                    <svg class="u-destacado__header-decoration" version="1.1" preserveAspectRatio="none"
                         xmlns="http://www.w3.org/2000/svg" width="100%"
                         height="50px" viewBox="0 0 300 55">
                        <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"
                              opacity="0.6" fill="#fff"></path>
                        <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"
                              opacity="0.6" fill="#fff"></path>
                        <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716H42.401L43.415,98.342z"
                              opacity="0.7" fill="#fff"></path>
                        <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"
                              fill="#fff"></path>
                    </svg>
                </header>
                <!-- End Article Header -->

                <!-- Article Content -->
                <div class="u-destacado__content">
                    <iframe {{links.index_link}} class="img-fluid linkYoutube mx-auto" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <!-- End Article Content -->
            </article>
            <!-- Fin Enlace Video -->
        </div>

        <!-- Invitación: Header -->
        <header class="text-center w-md-50 mx-auto  mt-2 mb-8">
            <h2 class="h1 bg-alameda">
                <a href="{{ path('notas') }}" class="text-white">
                    Vení tal como SOS
                </a>
            </h2>
        </header>
        <hr>
        <!-- End Invitación: Header -->
    </div>

</section>
<!-- Fin Horarios - Invitación - Video -->

<!--Section Slider Fotos-->
<section class="page-section fondo-evento" id="fotos-inicio">
    <!--<section class="u-content-space-bottom" id="fotos-inicio">-->
    <div class="container">
        <!-- Carousel -->
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div id="carouselAlamedaIndicators" class="carousel slide bg-light u-box-shadow-lg"
                     data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselAlamedaIndicators" data-bs-slide-to="0" class="rounded active"></li>
                        <li data-bs-target="#carouselAlamedaIndicators" data-bs-slide-to="1" class="rounded"></li>
                        <li data-bs-target="#carouselAlamedaIndicators" data-bs-slide-to="2" class="rounded"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 rounded" src="{{ asset('images/imagen-auditorio.jpg') }}"
                                 alt="alameda-1-slide ">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="h2 font-weight-light mb-0">Igleisa de la Alameda</h5>
                                <p class="lead">Vista del frente del Auditorio Alameda</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100 rounded"
                                 src="{{ asset('images/series/escape-a-la-libertad/escape-a-la-libertad-encabezado.jpg') }}"
                                 alt="alameda-2-slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="h2 font-weight-light mb-0">Serie</h5>
                                <p class="lead">Lema</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100 rounded" src="{{ asset('images/imagen-auditorio-noche.jpg') }}"
                                 alt="alameda-3-slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="h2 font-weight-light mb-0">Auditrio Alameda</h5>
                                <p class="lead">Una hermosa noche!</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselAlamedaIndicators" role="button" data-bs-slide="prev">
                  <span aria-hidden="true">
                    <i class="fas fa-angle-left carousel-control-size"></i>
                  </span>
                        <span class="sr-only">Previa</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselAlamedaIndicators" role="button" data-bs-slide="next">
                  <span aria-hidden="true">
                    <i class="fas fa-angle-right carousel-control-size"></i>
                  </span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Carousel -->
    </div>
</section>
<!--</section>-->
<!--Fin Section Slider Fotos-->

{% if ("now"|date("Y-m-d H:i") < '2020-06-23 18:00' ) %}
<section class="u-destacado section" id="avanza">
    <div class="js-parallax u-content-space u-box-shadow-lg bg-white rounded-md mx-3 mx-lg-5">
        <div class="container">
            <div class="text-center w-md-50 mx-auto py-5">
                <a class="display-4 d-inline-block mb-3 text-dark" target="_blank" href="{{ path('avanza') }}"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Avanza">
                    <i class="fas fa-hand-holding-heart fa-2x mb-1"></i>

                </a>
                <h2 class="lead font-weight-normal mb-5 text-uppercase display-5">
                    En tiempos de PANDEMIA nuestra iglesia
                    <br/>
                    <strong>nunca dejó de SERVIR </strong><br/>
                    y es tiempo que puedas sumarte a este desafío.
                </h2>


                <a class="btn btn-primary btn--pill u-box-shadow-lg py-3 px-4 btn-xl"
                   href="{{ path('avanza') }}">
                    <i class="fas fa-road mr-2 text-white"></i>Sumate desde aquí
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="page-section" id="online">
    <div class="container">

    </div>

</section>
 <!-- Debe desaparecer -->
<section class="page-section bg-light" id="ppasos">
    <div class="container">
        <hr/>

        <div class="row text-center">
            <div class="col-sm-3 pull-left">
                <img src="../images/next.jpg" class="img-fluid rounded"/>
            </div>
            <div class="col-sm-9 pull-right">
                <blockquote class="bg-dark text-tan blockquote rounded">

                    <h3 class="quote ">

                        Dios tiene un plan para tu vida <br/>
                        y queremos ayudarte a descubrirlo.

                    </h3>

                </blockquote>
            </div>
        </div>


        <div class="card bg-teal text-tan container mb-1">
            <div class="row">
                <div class="col-sm-3 pull-left card-header px-2 px-lg-3">
                    <!--        <img class="w-100" src="../images/PuntoDePartida.jpeg" alt="Punto de Partida">-->
                    <img class="w-100" src="images/gpc-sin-texto.png" alt="Grupos Pequeños">
                </div>
                <div class="col-sm-9  pull-right text-left ">

                    <div class="card-body ml-lg-5 5 mt-lg-5">
                        <h1>Grupos Pequeños</h1>
                        <span class="card-text">

                    Para que cada persona que llegue a la iglesia de La Alameda, se integre, permanezca, se desarrolle y se multiplique en un Grupo Pequeño.
                </span>
                        <div class="text-center">
                            <small class="text-tan">Sumate a un grupo pequeño desde </small><br/>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfuKOBEFTWx-t_wiQR7CL8Gf443RxGeAYhP1nNETb7BSNkGuA/viewform"
                               class="btn btn-outline-info text-tan btn-sm" target="_blank">aquí</a>
                        </div>
                        <!--            <span class="card-text ">-->
                        <!--                ¿Tenés preguntas acerca de Dios y te gustaría conversar?<br/>-->
                        <!--                Punto de partida es una experiencia conversacional creada-->
                        <!--                para vos que buscás tener un acercamiento a la fe, explorando preguntas como: <br/>-->
                        <!--            <ul class="punto">-->
                        <!--                <li ><img class="img-fluid" src="../images/PEncuentroSinText.png" width="16" height="16"></img>-->
                        <!--                    ¿Dios existe?-->
                        <!--                </li>-->
                        <!--                <li> <img class="img-fluid" src="../images/PEncuentroSinText.png" width="16" height="16"></img>-->
                        <!--                    ¿Puedo confiar en la Biblia?-->
                        <!--                </li>-->
                        <!---->
                        <!--            </ul>-->
                        <!--            En un ambiente libre de prejuicios.-->
                        <!--            </span>-->
                    </div>

                </div>
            </div>
            <!--        <div class="card-footer text-center">-->
            <!--            <small class="text-tan">Si estas interesado, envíanos un whatsapp al 0261 3070 443 con la frase-->
            <!--                <strong>"info punto de partida"</strong> y nos comunicaremos con vos </small><br/>-->
            <!--            <a href="puntopartida.php" class="btn btn-outline-info text-tan btn-sm">Ver detalles</a>-->
            <!--        </div>-->
        </div>

        <!--<div class="card-deck">
        <div class="col-sm-12 bg-light">
            <div class="col-sm-3 float-left">
                <div class="card-header">
                    <img src="imagenes/PuntoDePartida.jpeg" class="img-fluid"
                    >
                </div>

            </div>
            <div class="col-sm-9 text-center">
                <div class="card-body">
                    <h5 class="card-title text-center">Punto de Partida</h5>
                    <p class="card-text ">
                        ¿Tenés preguntas acerca de Dios y te gustaría conversar?<br/>
                        Punto de partida es una experiencia conversacional creada
                        para vos que buscás tener un acercamiento a la fe, explorando preguntas como: <br/>
                    <ul class="punto">
                        <li ><img class="img-fluid" src="imagenes/PEncuentroSinText.png" width="16" height="16"></img>
                            ¿Dios existe?
                        </li>
                        <li> <img class="img-fluid" src="imagenes/PEncuentroSinText.png" width="16" height="16"></img>
                            ¿Puedo confiar en la Biblia?
                        </li>

                    </ul>
                    En un ambiente libre de prejuicios.
                    </p>

                </div>

            </div>
            <div class="col-sm-12 float-none">
                <div class="card-footer text-center">
                    <small class="text-point-sec">Si estas interesado, envíanos un whatsapp al 0261 3070 443 con la frase
                        <strong>"info punto de partida"</strong> y nos comunicaremos con vos </small>
                </div>
            </div>
        </div>
        </div>-->


        <div class="container-fluid">
            <div class="row">
                <div class="card-deck " id="'bautismo">
                    <div class="card bg-point border-point ">
                        <div class="text-center pt-3 ">
                        <span class="card-title text-center ">
                            <i class="fas fa-seedling fa-9x text-point"></i></span>
                        </div>
                        <div class="card-body ">
                            <h5 class="card-title text-center">Charla de Bautismo</h5>
                            <p class="card-text text-center">
                                Cuando decidís se un seguidor de Jesús, lo primero que descubrís es que sus huellas
                                comienzan en las aguas del bautismo. <br/>
                                ¡El bautismo como Jesús lo propuso, es la marca que separa el camino de los curiosos,
                                del camino de los seguidores!<br/>
                                Vení a la charla preparatoria y enterate porqué.<br/>
                                Te esperamos.
                                <!--                            En el edificio educacional (San Martín 2020).<br/>-->
                                <!--                            Para niños de 4° a 7° grado. Los Esperamos-->


                            </p>

                        </div>
                        <div class="card-footer text-center">
                            <?php if ($ahora < date('2019-10-26 16:00')) { ?>
                            <small class="text-point-sec">
                                Sábado 26 de octubre, 16:00 hs.
                                <br/>
                                <!--                            <a href="masporhacer.php#crecimiento20181110"-->
                                <!--                               data-toggle="tooltip"-->
                                <!--                               title="<h5 class='bg-light-blue'><strong>Mas detallles aquí</strong> "><i class="material-icons btn-sm text-point-sec">local_library</i></a>-->
                                <small>Adelantá tu asistencia enviando un mensaje a nuestro número de Conectar
                                    Alameda
                                    (261 517 8081)
                                    <br/>
                                    con el texto <strong>Bautismo</strong> o por <br/>
                                    <a href="https://api.whatsapp.com/send?phone=5492615178081&text=BAUTISMO"
                                       class="text-realce-verde"> por Whatsapp
                                        <i class="fab fa-whatsapp"></i> haciendo clic aqui </a>
                                </small>
                            </small>

                            <?php } ?>
                        </div>

                    </div>


                    <div class="card bg-point border-point">
                        <div class="text-center pt-3 ">
                        <span class="card-title ">
                            <i class="fas fa-link fa-9x text-point"></i></span>
                        </div>
                        <div class="card-body ">
                            <h5 class="card-title text-center">Enlace de Grupos de Amistad</h5>
                            <p class="card-text">
                                Si todavía no tenes un grupo pequeño con quien experimentar 40 días de Bondad.<br/>
                                Si queres connectarte con nuevos amigos<br/>
                                Si no queres quedarte afuera


                            </p>
                            <!--                        <small>Adelantá tu asistencia enviando un mensaje a nuestro número de Conectar Alameda-->
                            <!--                            (261 517 8081)  con el texto <strong>Enlace</strong></small>-->
                        </div>

                        <div class="card-footer text-center">
                            <?php if ($ahora < date('2019-08-02 21:00')) { ?>
                            <small class="text-point-sec">
                                Viernes 02 de agosto a las 21:00 hs.<br/>
                                Realizaremos un nuevo "Enlace de Grupos Pequeños".
                                Adelantá tu asistencia enviando un mensaje a nuestro número de Conectar Alameda
                                (261 517 8081) con la palabra <strong>Enlace</strong> o por
                                <a href="https://api.whatsapp.com/send?phone=5492615178081&text=ENLACE"> por
                                    Whatsapp
                                    <i class="fab fa-whatsapp"></i> haciendo clic aqui </a>


                            </small>
                            <?php } ?>
                        </div>
                        <?php ?>

                    </div>

                    <div class="card bg-point border-point">
                        <div class="text-center pt-3">
                        <span class="card-title ">
                            <span class="fa-stack list-inline" style="font-size: 4.5em">
                            <i class="fas fa-circle fa-stack-2x text-point"></i>
                            <i class="fi fi-torsos-all fa-stack-1x fa-inverse item-inline"
                               style="font-size: 1em; text-align: left" aria-hidden="true"></i>
                            <i class="fi fi-torsos-all-female fa-stack-1x fa-inverse item-inline"
                               style="font-size: 1em; text-align: right" aria-hidden="true"></i>
                            <i class="fas fa-plus-circle fa-stack-1x fa-inverse item-inline "
                               style="font-size: 0.5em; text-align: center; margin-top:35px " aria-hidden="true"></i>
                        </span>
                            </span>
                        </div>
                        <div class="card-body ">
                            <h5 class="card-title text-center">Charla para nuevos miembros</h5>
                            <p class="card-text">
                                Nos alegra verte cada domingo en La Alameda y saber que esto ha sido bueno para tu
                                corazón<br/>
                                Cientos de voluntarios sirven cada semana para hacer realidad nuestra amada comunidad de
                                fe.<br/>
                                <b> ¿Te atreves a ser parte?</b>
                                Si ya estás bautizado, ahora da el paso adelante y sumate a la familia.
                                !Se miembro de La Alameda!

                            </p>
                        </div>

                        <div class="card-footer text-center">
                            <?php if ($ahora < date('2020-05-23 18:00')) { ?>
                            <small class="text-point-sec">
                                Sábado 23/5, de 19 a 21hs
                                <!--                                        <a href="masporhacer.php#crecimiento20181110"-->
                                <!--                                                                             data-toggle="tooltip"-->
                                <!--                                                                             title="<h5 class='bg-light-blue'><strong>Mas detallles aquí</strong> "><i class="material-icons btn-sm text-point-sec">local_library</i></a>-->

                                <br/>
                                <!--                            <a href="masporhacer.php#crecimiento20181110"-->
                                <!--                               data-toggle="tooltip"-->
                                <!--                               title="<h5 class='bg-light-blue'><strong>Mas detallles aquí</strong> "><i class="material-icons btn-sm text-point-sec">local_library</i></a>-->
                                <!--                                <small>Adelantá tu asistencia enviando un mensaje a nuestro número de Conectar Alameda-->
                                <!--                                    (261 517 8081)-->
                                <!--                                    <br/>-->
                                <!--                                    con el texto <strong>Sumarme</strong> o por <br/>-->
                                <!--                                    <a href="https://api.whatsapp.com/send?phone=5492615178081&text=SUMARME"-->
                                <!--                                       class="text-realce-verde"> por Whatsapp-->
                                <!--                                        <i class="fab fa-whatsapp"></i> haciendo clic aqui </a>-->
                                <!--                                </small>-->
                                Más detalles e inscripción<br/>

                                <a class="btn btn-alameda  js-scroll-trigger mx-auto btn--pill"
                                   href="https://forms.gle/gkJjReojfHy2QG7e8" target="_blank">
                                    <i class="far fa-list-alt text-white"></i> Aquí
                                </a>
                            </small>
                            <?php } ?>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <div class="container-fluid">
            <hr/>
            <div class="col-sm-12">
                <a href="noticias/camino-crecimiento.php" class="text-success">
                    <blockquote class="bg-white text-tan blockquote rounded d-flex align-items-center col-sm-12">


                        <div class="col-sm-4 text-center">
                            <i class="fas fa-road fa-2x text-invitacion"></i>
                        </div>
                        <div class="col-sm-8 text-center">
                            <h3 class="text-dark ">
                                Conocé el Camino de Crecimiento Alameda
                            </h3>
                        </div>


                    </blockquote>

                </a>
                <hr/>
            </div>

        </div>
    </div>

</section>
<!-- Fin Debe desaparecer -->

<section class=" vw-100 text-white">
    <div class="container bg-anuncios">
        <div class="row">
        <div class="col-sm-8 text-center align-self-center ">
            <h2 class="text-center text-white-75">
                Acercate a la Experiencia <br />
                <strong class="text-uppercase font-weight-bolder mb-0  pb-0">Alameda</strong> <br/>
            <small class="mt-0 pt-0" style="font-size: 0.4em;">online</small>
            </h2>
            Visitá nuestra casa virtual para ver y <br/>
            experimentar nuestras celebraciones online
            <br/>
            <a class="btn btn-link text-white" href="https://online.iglesiaalameda.com">
                <h3>
                    online.iglesiaalameda.com
                </h3>
            </a>
        </div>
        <div class="col-sm-4 order-lg-last mb-1 mb-lg-0 align-self-center">
            <h6 class="text-center">
               <small> Escanea el código para <br/>ingresar desde tu móvil
               </small>
            </h6>
            <h6 class="text-center">

            <a target="_blank" href="https://online.iglesiaalameda.com">
            <img class="img-fluid w-50 u-browser-img u-box-shadow-lg" src="{{ asset('images/qr-online.png') }}" alt="Iglesia de la Alameda">
                            </a>
            </h6>
        </div>

        </div>
    </div>
</section>
<section class="page-section fondo-evento" id="versiculoClave">
    <!--    <div class="row text-center">-->
    <div class="container">
        <hr/>
        <div class="row text-center d-flex align-items-center bg-white">

            <div class="col-sm-4 pull-left">
                <img src="{{ asset('images/series/escape-a-la-libertad/escape-a-la-libertad-encabezado.jpg') }}" class="img-fluid rounded"
                alt="Iglesia Alameda"/>
            </div>

            <div class="col-sm-8 pt-5">
                <blockquote class="blockquote-uvcp_dark text-white-75 rounded align-items-center px-5">
                    <div class="center-element btn btn-blue rotar90 mt-sm-0">
                        Génesis 27:38 (NVI)
                    </div>
                    <div>
                        <h2 style="text-indent: 2em; font-family: 'Courgette', cursive; color: #000000"
                            class="pt-sm-0 pt-lg-3 text-right">
                            "
                            Padre mío ¡Bendíceme también a mí!

                            "
                        </h2>
                    </div>


                </blockquote>


            </div>
            <div class="col-sm-12">
                <a href="{{ path('notas') }}" class="text-light-blue"
                   data-bs-toggle="tooltip"
                   title="<h5 class='bg-light-blue'><strong>Mas detallles aquí</strong> "><i
                            class="material-icons btn-sm text-point-sec">local_library</i> Empieza aquí</a>
            </div>


        </div>
        <hr/>

    </div>

</section>

<!-- Inicio Ministerios-->
{% include 'inicio/ministerios.html.twig' %}

<!-- Fin Ministerios-->


<section class="page-section fondo-evento" id="revivir">
    <!--    <div class="row text-center">-->
    <div class="container">
        <div class="row text-center d-flex align-items-center">
            <div class="col-sm-3 pull-left">
                <img src="{{ asset('images/logoYoutubeBrown.png') }}" class="img-fluid rounded" alt="<?php echo $lemaSinEspacios ?>"/>
            </div>
            <div class="col-sm-9 pull-right ">

                <a title="Reviví los mensajes" data-bs-placement="bottom" style="text-decoration-line: none"
                   href="https://youtube.com/user/IglesiaAlameda" target="_blank"
                   data-bs-original-title="Reviví los mensajes"
                >
                    <blockquote class="bg-danger text-tan blockquote rounded d-flex align-items-center">
                        <i class="fab fa-youtube-square fa-4x" style="color: #FFF"></i>
                        <h3 style="color: #FFF; text-indent: 4em">
                            Reviví los mensajes en YouTube
                        </h3>

                    </blockquote>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-light" id="epa">
    <div class="container">
        <div class="row text-center d-flex align-items-center ">
            <div class="col-sm-12">
                <h1 class="text-point-sec text-realce ">
                    ESTAMOS PARA VOS
                </h1>
                <strong>Contamos con un equipo de <br/>
                    consejeros pastorales <br/>
                    listos para brindarte ayudarte.
                    <!--                simplemente solicita una entrevista enviando <br/>un correo eléctronico.-->
                </strong>
            </div>
            <br/>
            <div class="col-md-6 col-lg-3  ">
            <span class="fa-stack list-inline compuesto">
                <i class="fas fa-circle fa-stack-2x text-point"></i>
                <i class="fas fa-circle-notch fa-stack-1x fa-inverse item-inline"
                   style="font-size: 1em; text-align: center; top:-0.3em" aria-hidden="true"></i>
                <i class="fas fa-circle-notch fa-stack-1x fa-inverse fa-rotate-180 item-inline"
                   style="font-size: 1em; text-align: center; bottom:-0.3em" aria-hidden="true"></i>
            </span>
                <br/>
                <h3><a href="nuestraalameda.php#amc" class="text-point-sec"> Ayuda para matrimonios en crisis </a></h3>
            </div>
            <div class="col-md-6 col-lg-3  ">
            <span class="fa-stack list-inline compuesto">
                <i class="fas fa-circle fa-stack-2x text-point"></i>
                <i class="fas fa-award fa-stack-1x fa-inverse item-inline" style="font-size: 1em; text-align: center; "
                   aria-hidden="true"></i>
            </span>
                <h3>
                    <a href="nuestraalameda.php#celebremos" class="text-point-sec">
                        Ayuda para adicciones y hábitos compulsivos
                    </a>
                </h3>
            </div>
            <div class="col-md-6 col-lg-3  ">
            <span class="fa-stack list-inline compuesto">
                <i class="fas fa-circle fa-stack-2x text-point"></i>
                <i class="fas fa-female fa-stack-1x fa-inverse item-inline" style="font-size: 1em; text-align: center; "
                   aria-hidden="true"></i>
            </span>
                <h3>
                    <a href="nuestraalameda.php#mujer" class="text-point-sec">
                        Ayuda para escapar como mujer del maltrato o situaciones de riesgo
                    </a>
                </h3>
            </div>
            <div class="col-md-6 col-lg-3  ">
                <span class="fa-stack list-inline compuesto">
                <i class="fas fa-circle fa-stack-2x text-point"></i>
                <i class="material-icons fa-stack-1x fa-inverse item-inline"
                   style="font-size: 1em; text-align: center; top:0.5em" aria-hidden="true">toys</i>
                </span>
                <h3>
                    <a href="nuestraalameda.php#acasa" class="text-point-sec">
                        Ayuda para enfrentar casos de abusos y maltratro infantil
                    </a>
                </h3>
            </div>
        </div>
    </div>
</section>
<hr />
{% endblock %}
{% block footer %}
{% include 'inicio/_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <!-- Global Vendor -->
    <script src="{{ asset('stream-ui-kit/assets/vendors/jquery.min.js')}}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/jquery.migrate.min.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/popper.min.js') }}"></script>
    <script src="{{ asset('material-kit/js/core/bootstrap-material-design.min.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('material-kit/js/material-kit.min.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/jquery.parallax.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/js/vendors/parallax.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/typedjs/typed.min.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/slick-carousel/slick.min.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/counters/waypoint.min.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/counters/counterup.min.js') }}"></script>

    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->


    <!-- Theme Settings and Calls -->
    <script src="{{ asset('stream-ui-kit/assets/js/global.js') }}"></script>

    <!-- Theme Components and Settings -->

    <script src="{{ asset('stream-ui-kit/assets/js/vendors/carousel.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/js/vendors/counters.js') }}"></script>


{% endblock %}

{% block jslocal %}



<script>
    $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip({html: true, placement: "bottom"});
    });
</script>
<script type="text/javascript">

    // $('.carousel').carousel({
    //     interval: 10000
    // })



</script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
        autoplay: {
            delay: 7500,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>


<!-- Components Vendor  -->

<!-- END JAVASCRIPTS -->
<script>
    $(document).on('ready', function () {
        // initialization of text animation (typing)
        $(".js-display-typing").typed({
            strings: [
                "Viví la experiencia ",
                "Alameda OnLine",
            ],
            typeSpeed: 90,
            loop: true,
            backDelay: 2500
        });
    });
</script>

{% endblock %}


</body>

</html>
