<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Bienvenido{% endblock %}
        </title>
    {% set index = 'base' %}
        {% set base = base_base() %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ base.lema }}{{ base_metaDescripcion() }}">
        <meta name="author" content="{{ base.metaAutor }}">
        <meta name="author" content="{{ base.metaAutor }}">
{#        <meta name="author" content="{{ base['autor'] }}">#}

        <meta property="og:title" content="{{ base.metaTitle }}" />
        <meta property="og:type" content="{{ base.metaType }}" />

        <meta property="og:url" content="{{ base.metaUrl }}" />
        <!--    <meta property="og:image" content="https://www.iglesialameda.com/imagenes/meta/">-->
        <meta property="og:image" content="{{ base.metaUrl }}{{ asset('build/images/og-base.png') }}">
        <title>{{ base.metaTitle }}</title>
        <link rel="icon" href="{{ asset('build/images/index_192.png') }}" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="../imagenes/indexapple.png" />

        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
            <!-- Material Design Bootstrap -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
{#            <link href="css/foundation-icons.css" rel="stylesheet">#}

            <link href="css/business-casual.min.css?v=<?php echo $version ?>" rel="stylesheet">
            <link href="css/igles.css?v=<?php echo $version ?>" rel="stylesheet">

            <link href="css/alameda/fontAlameda.css" rel="stylesheet">
            <link href="css/swiper.min.css" rel="stylesheet">

            <!--    <link href="css/awasome/web-fonts-with-css/css/fontawesome-all.min.css " rel="stylesheet">-->

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet">
            <!--<script src="js/awasome/fontawesome-all.min.js"></script>-->

            <!-- Custom fonts for this template -->
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
{#            <link href="css/fonts/univers/font.css?v=<?php echo $version ?>" rel="stylesheet">#}

        {% endblock %}
    </head>
    <body>

    {% block nav %}
        <style>
            .bg-verde{
                background-color: rgb(168, 228, 112)
            }
        </style>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar justify-content-between  mx-auto">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand flex-column " href="index.php" >
                    <img src="images/logo_n1.png" width="30" height="30" class="d-inline-block align-top .d-none .d-md-block .d-lg-none" alt="Logo Iglesia Alameda">
                    <strong >Iglesia de la Alameda</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <!--                  <li class="nav-item active">-->
                        <!--                      <a class="nav-link" href="#">Inicio-->
                        <!--                          <span class="sr-only">(current)</span>-->
                        <!--                      </a>-->
                        <!--                  </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="oportunidades/grupos-pequeños.php" >
                                <img class="img-fluid" src="images/gpc-sin-texto.png" width="16" height="16">
                                Grupos Pequeños
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ofrenda.php" >
                                <i class="fas fa-hand-holding"></i> Ofrenda
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="notas.php" >
                                <i class="fas fa-pencil-alt"></i> Notas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="oracion.php" >
                                <!--                          <i class="fas fa-praying-hands"></i> Necesitas Oración?-->

                                <img class="img-fluid img-circle bg-verde" src="images/institucional/LOGO-ORACION.png" width="16" height="16">
                                Necesitas Oración?
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="alamedaaldia.php" >
                                <i class="fas fa-location-arrow"></i> Oportunidades
                            </a>
                        </li>
                        <!--                  <li class="nav-item">-->
                        <!--                      <a class="nav-link" href="masporhacer.php" >-->
                        <!--                          <i class="fas fa-random"></i> Lo que se viene-->
                        <!--                      </a>-->
                        <!--                  </li>-->
                        <!--                  <li class="nav-item">-->
                        <!--                      <a class="nav-link" href="nuestraalameda.php" >-->
                        <!--                          <i class="fi-web"></i> Dónde y cuando-->
                        <!--                        </a>-->
                        <!--                  </li>-->
                        <!--                  <li class="nav-item">-->
                        <!--                      <a class="nav-link" href="acciones.php" >-->
                        <!--                          <i class="fi-foot"></i> ¡Haciendo!-->
                        <!--                        </a>-->
                        <!--                  </li>-->
                        <!--                  <li class="nav-item">-->
                        <!--                      <a class="nav-link" href="seminario.php" >-->
                        <!--                          <i class="fas fa-book"></i> Seminario-->
                        <!--                        </a>-->
                        <!--                  </li>-->

                    </ul>

                    <!--RIght -->
                    <ul class="navbar-nav nav-flex-icons">

                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Seguinos en la fanpage" data-placement="bottom"
                               href="https://www.facebook.com/IglesiaAlameda" target="_blank" data-original-title="Seguinos en la fanpage">
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Reviví los mensajes" data-placement="bottom"
                               href="https://youtube.com/user/IglesiaAlameda" target="_blank" data-original-title="Reviví los mensajes">
                                <i class="fab fa-youtube-square fa-2x"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Seguinos en Instagram" data-placement="bottom" href="https://www.instagram.com/iglesiaalameda" target="_blank" data-original-title="Seguinos en Instagram">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </li>
                    </ul>


                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown" style="margin-right: 75px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ app.user.avatarUrl(32) }}" class="nav-profile-img rounded-circle img-fluid img-thumbnail">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_perfil') }}">Perfil</a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('index_alameda_index') }}">Editar datos index</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar Sesión</a>
                        </div>
                    </li>

                    {% endif %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <div class="alert alert-warning"  >
                            Temporalemte
                            <a href="{{ path('index', {'_switch_user': '_exit'}) }}">Salir modo </a>
                        </div>
                    {% endif %}

                </ul>
            </div>
            </div>
        </nav>


    {% endblock %}
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="alert alert-warning" style="position: fixed; bottom: 50px"  >
            Temporalemte
            <a href="{{ path('index', {'_switch_user': '_exit'}) }}">Salir modo </a>
        </div>
    {% endif %}


        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <!-- JQuery -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{#            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>#}
            <!-- Bootstrap tooltips -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script>





            {{ encore_entry_script_tags('app') }}

            <script type="text/javascript" src="js/jquery.countdown.js"></script>
            <script type="text/javascript" src="js/swiper.min.js"></script>

            <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip({html: true, placement: "bottom"});
                });
            </script>

        {% endblock %}
    </body>
</html>

<?php
    $lema = 'Disfruta el Viaje';
    $lemaSinEspacios = 'DisfrutaElViaje';
    $ahora = date('Y-m-d H:i');
    $version = date('YmdHi');
    $domingo = strtotime('today');
    include_once ('gerVendor/gerFunctions.php')
?>
<!DOCTYPE html>

<html lang="en">

<head>



    <!-- Bootstrap core CSS -->




    <!-- Custom styles for this template -->

    <style>
        /*.swiper-container {*/
        /*width: 100vw;*/
        /*height: 100vh;*/
        /*padding: 50px;*/
        /*}*/
        /*.swiper-slide {*/
        /*background-position: center;*/
        /*background-size: cover;*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*}*/
        .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
        }
    </style>


</head>

<body>

<!--<h1 class="site-heading text-center text-white d-sm-block">-->
<!--      <span class="section-heading-upper">-->
<!--        <img src="imagenes/LOGO_ALAMEDA_CON_TEXTO_B.png" style="max-height: 150px" class="img-fluid mt-5">-->
<!--      </span>-->
<!---->
<!---->
<!--</h1>-->

<?php include 'nav.php'; ?>


<?php include ('footer.php'); ?>

<!-- Bootstrap core JavaScript -->



</body>

</html>

