<!DOCTYPE html>
<html lang="es">
<head>
    {% if google_tag_enable == 'true' %}
        {% include('inicio/_etiqueta_global_google.html.twig') %}
    {% endif %}
    {% set base = base_base() %}
    {% set version = 'now' | date('YmdH') %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ base.siteName }} Bienvenido! {% endblock %}</title>
    {% set index = 'base' %}
    <meta name="description" content="{% block meta_description_content%}{{base_metaDescripcion()}}{% endblock %}. {{ base.siteName }}">
    <meta name="keywords" content="{{ base.siteName }}, {% block meta_keywords_content%}{{ base.lema }}, {{ base_metaDescripcion() }} {% endblock%}">
    <meta name="author" content="{{ base.metaAutor }}">
    <meta property="og:title" content="{{ base.metaTitle }}"/>
    <meta property="og:type" content="{{ base.metaTYpe }}"/>
    <meta property="og:url" content="{{ base.metaUrl }}"/>
    <meta property="og:image" content="{{ base.metaUrl }}{{ asset('images/og-base.png') }}">
    <meta property="og:description" content="{% block meta_og_description_content%}{{base_metaDescripcion()}}{% endblock %}. {{ base.siteName }}"/>
    <meta property="og:site_name" content="{{ base.siteName }}"/>
{#    /<link rel="shortcut icon" href="{{ asset('/images/institucional/indice.png') }}" type="image/x-icon">#}
    <title>{{ base.metaTitle }}</title>
     {% include('inicio/_favicon_html.twig') %}
    {% block icons %}
        <link href="{{ asset('icons/foundation-icons/foundation-icons.css') }}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}

    {% block fonts %}
        <link href="{{ asset('fonts/fonts.css') }}?v={{ version }}" rel="stylesheet">
        <link href="{{ asset('fonts/fontAlameda.css') }}?v={{ version }}" rel="stylesheet">
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css"
              href="{{ asset('stream-ui-kit/assets/vendors/slick-carousel/slick.css') }}">
        {# <link rel="stylesheet" type="text/css" href="{{ asset('stream-ui-kit/assets/css/styles.css') }}"> #}
        <link href="{{ asset('css/igles.min.css') }}?v={{ version }}" rel="stylesheet">
        <link href="{{ asset('css/bg.css') }}?v={{ version }}" rel="stylesheet">
        <link href="{{ asset('material-kit/css/material-kit.min.css') }}?v=3.0.1" rel="stylesheet"/>
        <style>
            body {
                font-family: 'Roboto', sans-serif !important;
            }
        </style>
    {% endblock %}
    {% if(facebook_tag_enable == 'true') %}
        {% include('inicio/_facebook_pixel.html.twig') %}
    {% endif %}
</head>

<body class="bg-white">
{% if(google_tag_enable == 'true') %}
    {% include('inicio/_etiqueta_global_google_body.html.twig') %}
{% endif %}
{% block header %}
    <header>
        {% include('inicio/_nav.html.twig') %}
        <div class="mt-lg-1 d-none d-lg-block"></div>
    </header>
{% endblock %}
{% block usuario %}
    {% if is_granted('ROLE_RESERVA') %}
        <div class="d-flex flex-row-reverse text-right">
            <small class="alert alert-info " style="position: fixed; top: 4rem; z-index: 3">
                Has ingresado {{ app.user }}<br/>
                <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out"> </i> Salir </a>
            </small>
        </div>
    {% endif %}
{% endblock %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success mt-5 pt-5 mb-0 pb-0">
        {{ message }}
    </div>
{% endfor %}
{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <div class="alert alert-warning" style="position: fixed; bottom: 50px">
        Temporalmente
        <a href="{{ path('index', {'_switch_user': '_exit'}) }}">Salir modo </a>
    </div>
{% endif %}

{% block sections %}

{% endblock %}


{% block footer %}
    {% include 'inicio/_footer_ar.html.twig' %}
    {% if mautic_enable == 'true' %}
        {% include('inicio/_etiqueta_global_mautic.html.twig') %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/743c9941eb.js" crossorigin="anonymous"></script>
    <script src="{{ asset('material-kit/js/core/popper.min.js') }}"></script>
    <script src="{{ asset('material-kit/js/core/jquery.min.js') }}"></script>
    <script src="{{ asset('material-kit/js/core/bootstrap.min.js') }}"></script>
    <script src="{{ asset('material-kit/js/plugins/parallax.min.js') }}"></script>
{#         <script src="{{ asset('stream-ui-kit/assets/vendors/jquery.min.js') }}"></script>#}
{#    <script src="{{ asset('material-kit/js/core/jquery.min.js') }}"></script>#}
{#    <script src="{{ asset('material-kit/js/core/bootstrap-material-design.min.js') }}"></script>#}
{#     <script src="{{ asset('stream-ui-kit/assets/vendors/jquery.min.js') }}"></script>#}
    <script src="{{ asset('stream-ui-kit/assets/vendors/jquery.migrate.min.js') }}"></script>
    {# <script src="{{ asset('stream-ui-kit/assets/vendors/popper.min.js') }}"></script> #}
    {# <script src="{{ asset('stream-ui-kit/assets/vendors/bootstrap/js/bootstrap.min.js') }}"></script> #}

    {# <script type="text/javascript" src="{{ asset('js/jquery.countdown.js') }}"></script> #}
    {# <script type="text/javascript" src="{{ asset('js/swiper.min.js') }}"></script> #}


    <!-- Components Vendor  -->
    <script src="{{ asset('stream-ui-kit/assets/vendors/jquery.parallax.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/typedjs/typed.min.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/slick-carousel/slick.min.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/counters/waypoint.min.js') }}"></script>
    <script src="{{ asset('stream-ui-kit/assets/vendors/counters/counterup.min.js') }}"></script>

    <!-- Theme Settings and Calls -->
{#    <script src="{{ asset('stream-ui-kit/assets/js/global.js') }}"></script>#}

    <!-- Theme Components and Settings -->

    <script src="{{ asset('material-kit/js/plugins/moment.min.js') }}"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="{{ asset('material-kit/js/plugins/bootstrap-datetimepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('material-kit/js/plugins/nouislider.min.js') }}" type="text/javascript"></script>
    <!--  Google Maps Plugin  -->
    {# <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> #}
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
{#    <script src="{{ asset('material-kit/js/material-kit.js') }}?v=2.0.4" type="text/javascript"></script>#}
    <script src="{{ asset('material-kit/js/material-kit.min.js')}}?v=3.0.1" type="text/javascript"></script>

{% endblock %}

<script>
    $(document).ready(function () {
        // $('[data-toggle="tooltip"]').tooltip({html: true, placement: "bottom"});
    });
</script>


</body>

</html>
