{% extends 'base_coreui.html.twig' %}

{% block title %}Editar BlocsFixes{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item ">
        <span>
            <a href="{{ path('app_blocs_fixes_index') }}">
                Bloques fijos (BlocsFixes)
            </a>
        </span>
    </li>
    <li class="breadcrumb-item active ">
        <span>
            Edición
        </span>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container">


                {{ include('admin/blocs_fixes/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <div class="d-flex gap-1 mb-3">
            <a href="{{ path('app_blocs_fixes_index') }}" class="btn btn-info col-4">Volver al listado</a>
            <div class="col-4">
                {{ include('admin/blocs_fixes/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}


    <script>
        $('.custom-file-input').on('change', function (event) {
            const inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"
            integrity="sha256-v7sFPKIh3GHvV9MMFBXcSBLG/BDUC7h1fpfDC5tp1FM=" crossorigin="anonymous"></script>

    {{ encore_entry_script_tags('app') }}

{% endblock %}
{% block jslocal %}
    {#    {{ encore_entry_script_tags('summernote') }} #}
    {{ encore_entry_script_tags('select2-parent') }}
{% endblock %}
