{% extends 'base_admin.html.twig' %}
{% block title %}Celebraciones {{ base.siteName }}{% endblock %}
{% block nav %}
    {{ include('admin/_nav.html.twig',  {'marca_label': 'Celebraciones'}) }}
{% endblock %}
{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">

            <h4 class="card-title ">Celebraciones</h4>
            <p class="card-category"> Listado de celebraciones </p>
        </div>
        <div class="card-body">
            <a class="btn btn-sm btn-info btn-round" href="{{ path('celebracion_new') }}">
                <i class="fas fa-plus-circle"></i> Agregar Celebración</a>
            <div class="table-responsive">

    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Fecha <br/>Celebración</th>
                <th>Nombre</th>
                <th>Capacidad Max</th>
                <th>Visible desde el </th>
                <th>Actualizada el</th>
                <th>Habilitada</th>
                <th><i class="fas fa-cogs"> </i> Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for celebracion in celebracions %}
            <tr class="text-center">
                <td>{{ celebracion.id }}</td>
                <td>{{ celebracion.fechaCelebracionAt ? celebracion.fechaCelebracionAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ celebracion.nombre }}</td>
                <td>{{ celebracion.capacidad }}</td>
                <td>{{ celebracion.disponibleAt ? celebracion.disponibleAt|date('Y-m-d H:i:s') : '' }}</td>
{#                <td>{{ celebracion.createdAt ? celebracion.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ celebracion.updatedAt ? celebracion.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <span class="fa fa-{{ celebracion.isHabilitada ? 'check' : 'times' }}"></span>

                </td>
                <td>
                    <a href="{{ path('celebracion_show', {'id': celebracion.id}) }}">
                        <i class="fas fa-eye"></i>
                        Ver</a><br/>
                    <a href="{{ path('celebracion_edit', {'id': celebracion.id}) }}">
                        <i class="fas fa-edit"></i>
                        Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se encontraron Celebraciones</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
        </div>
        <div class="card-footer">
            <a href="#"></a>
            <a class="btn btn-sm btn-info btn-round" href="{{ path('celebracion_new') }}">
                <i class="fas fa-plus-circle"></i> Crear Celebreación</a>


        </div>
    </div>
</div>
{% endblock %}

{% block jslocal %}
    {{ parent() }}
    <script>
        $('#celebracion').addClass('active');
    </script>
{% endblock %}
