{% extends 'base_admin.html.twig' %}

{% block title %}Brotes {{ base.siteName }}{% endblock %}

{% block content %}
    <h5>Listado de brotes de páginas principales</h5>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>LinkRoute</th>
                <th>ImageFilename</th>
                <th>Likes</th>
                <th>Publicado</th>
                <th>Activa</th>
                <th>Creado</th>
                <th>Actualizado</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for brote in brotes %}
            <tr class="text-center">
                <td>{{ brote.id }}</td>
                <td>{{ brote.titulo }}</td>
                <td>{{ brote.contenido }}</td>
                <td>{{ brote.linkRoute }}</td>
                <td>{{ brote.imageFilename }}</td>
                <td>{{ brote.likes }}</td>
                <td>{{ brote.publicadoAt ? brote.publicadoAt|date('Y-m-d H:i:s') : '<span class="fa fa-times"></span>' }}</td>
                <td><span class="fa fa-{{ brote.activa ? 'check text-success' : 'times text-danger' }}"></span></td>
                <td>{{ brote.createdAt ? brote.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ brote.updatedAt ? brote.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
{#                    <a href="{{ path('brote_show', {'id': brote.id}) }}">show</a>#}
                    <a href="{{ path('admin_brote_edit', {'linkRoute': brote.linkRoute}) }}"><i class="fas fa-pencil-alt"></i> editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">No se encontraron resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_brote_new') }}">Crear brote</a>
{% endblock %}
