{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <h1>Menu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Identificador</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>CssClass</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.Nombre }}</td>
                <td>{{ menu.identificador }}</td>
                <td>{{ menu.createdAt ? menu.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ menu.updatedAt ? menu.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ menu.cssClass }}</td>
                <td>
                    <a href="{{ path('app_menu_show', {'id': menu.id}) }}">show</a>
                    <a href="{{ path('app_menu_edit', {'id': menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_menu_new') }}">Create new</a>
{% endblock %}
