<div class="col-sm-12">
    <h3>
        LIBERTAD COMPLETA
        <br/>
        <small>
            Serie: Cuando Dios está en tu vida – Parte 6
        </small>
    </h3>
    <hr/>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        “Aunque pase por el valle de sombra de muerte, No temeré mal alguno"
        <br/>
        <small class="float-right  ">
            Salmos 23:4 (NBLH)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Por otra parte, los funcionarios del rey de Siria le aconsejaron: "Los dioses de los israelitas son dioses de
        las montañas. Por eso son demasiado fuertes para nosotros. Pero si peleamos contra ellos en las llanuras, sin
        duda los venceremos."
        <br/>
        <small class="float-right  ">
            1 Reyes 20:23 (NVI)
        </small>
    </p>
    <blockquote class="blockquote-v1--left text-right">
        "En el momento en que conquistas el miedo a la muerte, en ese momento eres libre",<br/>
        <small>
            Martin Luther King
        </small>
    </blockquote>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <h4>
            COMO VIVIR LIBRE DEL TEMOR A LA MUERTE
        </h4>
        <strong>
            1. {{ completa_lugar('uno') | raw }} LA VERDAD
        </strong>
        <br/>
        <small>
            Muerte en la Biblia: {{ completa_lugar('dos') | raw }}
        </small>
        <br/>
        <p class="text-left">
            Tres diferentes muertes.<br/>
            <span class="ml-3">
                <b>La muerte física</b>.  La separación de tu alma de tu {{ completa_lugar('tres') | raw }}.
            </span><br/>
            <span class="ml-3">
                <b>La muerte espiritual</b>.  La separación de tu alma de {{ completa_lugar('cuatro') | raw }}.
            </span><br/>
            <span class="ml-3">
                <b>La segunda muerte: </b>.  La separación de tu alma de Dios por la {{ completa_lugar('cinco') | raw }}.
            </span><br/>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “El mar entregó sus muertos, y la muerte y la tumba también entregaron sus muertos; y todos fueron juzgados
            según lo que habían hecho. Entonces la muerte y la tumba fueron lanzadas al lago de fuego. Este lago de
            fuego es la segunda muerte. Y todo el que no tenía su nombre registrado en el libro de la vida fue lanzado
            al lago de fuego."
            <br/>
            <small class="float-right">
                Apocalipsis 20:13-15 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Benditos y santos son aquéllos que forman parte de la primera resurrección, porque la segunda muerte no
            tiene ningún poder sobre ellos...."
            <br/>
            <small class="float-right">
                Apocalipsis 20:6 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pero los cobardes, los incrédulos, los corruptos, los asesinos, los que cometen inmoralidades sexuales, los
            que practican la brujería, los que rinden culto a ídolos y todos los mentirosos, tendrán su destino en el
            lago de fuego que arde con azufre. Ésta es la segunda muerte»."
            <br/>
            <small class="float-right">
                Apocalipsis 21:8 (NTV)
            </small>
        </p>
        <br/>
        <b>
            Si solo naces {{ completa_lugar('seis') | raw }}, tendrás que morir dos veces. Pero si
            naces {{ completa_lugar('siete') | raw }}, solo tendrás que pensar en morir una vez.
        </b>
        <br/>
        <strong>
        <i>
            ¿Qué sabemos sobre la muerte?
        </i>
        </strong>
        <br/>
        <strong>
            1. La muerte es {{ completa_lugar('ocho') | raw }}
        </strong>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Cada persona está destinada a morir una sola vez y después vendrá el juicio,"
            <br/>
            <small class="float-right">
                Hebreos 9:27 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Así también Cristo murió en sacrificio una sola vez y para siempre, a fin de quitar los pecados de muchas
            personas..."
            <br/>
            <small class="float-right">
                Hebreos 9:28 (NTV)
            </small>
        </p>

        <strong>
            2. El alma y el {{ completa_lugar('nueve') | raw }} se separan.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No teman a los que matan el cuerpo pero no pueden matar el alma. Teman más bien al que puede destruir alma
            y cuerpo en el infierno."
            <br/>
            <small class="float-right">
                Mateo 10:28 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Luego dijo: Jesús, acuérdate de mí cuando vengas en tu reino. Jesús respondió: Te aseguro que hoy estarás
            conmigo en el paraíso."
            <br/>
            <small class="float-right">
                Lucas 23:42-43 (NTV)
            </small>
        </p>

        <strong>
            3. Enfrentarás el juicio
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Y así como está establecido que los seres humanos mueran una sola vez, y después venga el juicio,"
            <br/>
            <small class="float-right">
                Hebreos 9:27 (NVI)
            </small>
        </p>
        <strong>
            El Juicio del Gran Trono Blanco.
        </strong>
        <br/>
        <span>
            {{ completa_lugar('diez') | raw }}
        </span>
        <br/>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Luego vi un gran trono blanco y a alguien que estaba sentado en él. … Vi también a los muertos, grandes y
            pequeños, de pie delante del trono. Se abrieron unos libros, y luego otro, que es el libro de la vida… <br/>
            …Los muertos fueron juzgados según lo que habían hecho, conforme a lo que estaba escrito en los libros."
            <br/>
            <small class="float-right">
                Apocalipsis 20:11-12 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Aquel cuyo nombre no estaba escrito en el libro de la vida era arrojado al lago de fuego."
            <br/>
            <small class="float-right">
                Apocalipsis 20:15 (NVI)
            </small>
        </p>
        <strong>
            El Tribunal de Cristo.
        </strong>
        <br/>
        <span>
            Solo para {{ completa_lugar('once') | raw }}.
        </span>
        <br/>
        <span>
            No juzga tu destino sino tu {{ completa_lugar('doce') | raw }}.
        </span>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Recuerda que todos estaremos delante del tribunal de Dios."
            <br/>
            <small class="float-right">
                Romanos 14:10 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Porque todos tenemos que presentarnos ante el tribunal de Cristo, para que cada uno reciba lo que le
            corresponda, según lo bueno o lo malo que haya hecho mientras estaba en el cuerpo."
            <br/>
            <small class="float-right">
                2 Corintios 5:10 (DHH)
            </small>
        </p>
        <strong>
            2. {{ completa_lugar('trece') | raw }} COMPLETAMENTE EN LA VICTORIA DE JESÚS
        </strong>


        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Como nosotros, los hijos de Dios, somos seres de carne y hueso, Cristo nació como ser humano de carne y
            hueso también; porque sólo siendo un ser humano podía morir y destruir al que tenía el imperio de la muerte:
            el diablo."
            <br/>
            <small class="float-right">
                Hebreos 2:14 (BAD)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Oh muerte, ¿dónde está tu victoria? Oh muerte, ¿dónde está tu aguijón?». Pues el pecado es el aguijón que
            termina en muerte, y la ley le da al pecado su poder. ¡Pero gracias a Dios! Él nos da la victoria sobre el
            pecado y la muerte por medio de nuestro Señor Jesucristo."
            <br/>
            <small class="float-right">
                1 Corintios 15:55-57 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "--Yo soy la resurrección y la vida. El que cree en mí vivirá, aunque muera; y todo el que vive y cree en mí
            no morirá jamás…"
            <br/>
            <small class="float-right">
                Juan 11:25-26 (NVI)
            </small>
        </p>

        <strong>
            3. DECIDO COMO {{ completa_lugar('catorce') | raw }} MI VIDA
        </strong>
        <br/>

        <blockquote class="blockquote-v1--left text-right">
            "Te digo que si un hombre no ha descubierto algo por lo que morirá, no es apto para vivir "
            <br/>
            <small>
            Martin Luther King
            </small>
        </blockquote>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pues el que quiera salvar su vida, la perderá; pero el que la pierda por mi causa, la encontrará."
            <br/>
            <small class="float-right">
                Mateo 16:25 (PDT)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Aunque es contra la ley, entraré a ver al rey. Si tengo que morir, moriré»."
            <br/>
            <small class="float-right">
                Ester 4:16 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            La gran meta de la vida no es la longevidad sino {{ completa_lugar('quince') | raw }}.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pues sabemos que, cuando se desarme esta carpa terrenal en la cual vivimos (es decir, cuando muramos y
            dejemos este cuerpo terrenal), tendremos una casa en el cielo, un cuerpo eterno hecho para nosotros por Dios
            mismo y no por manos humanas."
            <br/>
            <small class="float-right">
                2 Corintios 5:1 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Así que siempre vivimos en plena confianza, aunque sabemos que mientras vivamos en este cuerpo no estamos
            en el hogar celestial con el Señor."
            <br/>
            <small class="float-right">
                2 Corintios 5:6 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Así que, ya sea que estemos aquí en este cuerpo o ausentes de este cuerpo, nuestro objetivo es agradarlo a
            él."
            <br/>
            <small class="float-right">
                2 Corintios 5:9 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Confío en que mi vida dará honor a Cristo, sea que yo viva o muera. Pues, para mí, vivir significa vivir
            para Cristo y morir es aún mejor.”
            <br/>
            <small class="float-right">
                Filipenses 1:20-24 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Pero si vivo, puedo realizar más labor fructífera para Cristo. Así que realmente no sé qué es mejor. Estoy
            dividido entre dos deseos: quisiera partir y estar con Cristo, lo cual sería mucho mejor para mí; pero por
            el bien de ustedes, es mejor que siga viviendo."
            <br/>
            <small class="float-right">
                Filipenses 1:20-24 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Recuerden que el Padre celestial, a quien ustedes oran, no tiene favoritos. Él los juzgará o los
            recompensará según lo que hagan. Así que tienen que vivir con un reverente temor de él mientras sean
            «extranjeros en la tierra»."
            <br/>
            <small class="float-right">
                1 Pedro 1:17 (NTV)
            </small>
        </p>
        <strong>
            4. RECUERDO LA RECOMPENSA
        </strong>
        <br/>
        <span>
            Bema: {{ completa_lugar('dieciseis') | raw }}.
        </span>
        <br/>
        <span>
            Corona {{ completa_lugar('diecisiete') | raw }}.
        </span>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Todos los que luchan, se abstienen de todo. Ellos lo hacen para recibir una corona corruptible; pero
            nosotros, para recibir una corona incorruptible."
            <br/>
            <small class="float-right">
                1 Corintios 9:25 (RVC)
            </small>
        </p>
        <span>
            Corona de {{ completa_lugar('dieciocho') | raw }}
        </span>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "He peleado la buena batalla, he terminado la carrera y he permanecido fiel. Ahora me espera el premio, la
            corona de justicia que el Señor, el Juez justo, me dará el día de su regreso; y el premio no es sólo para
            mí, sino para todos los que esperan con anhelo su venida."
            <br/>
            <small class="float-right">
                2 Timoteo 4:7-8 (NTV)
            </small>
        </p>
        <span>
            Corona de {{ completa_lugar('diecinueve') | raw }}
        </span>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Ustedes son nuestra esperanza, nuestra alegría y la corona que llevaremos con mucho orgullo cuando nuestro
            Señor Jesucristo regrese."
            <br/>
            <small class="float-right">
                1 Tesalonicenses 2:19 (PDT)
            </small>
        </p>
        <span>
            Corona de {{ completa_lugar('veinte') | raw }}
        </span>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Cuiden del rebaño que Dios les ha encomendado… Así, cuando venga el Gran Pastor, recibirán una corona de
            gloria y honor eternos."
            <br/>
            <small class="float-right">
                1 Pedro 5:2a-4 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            ¿Estás listo para el tribunal de Cristo?
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pero el día del juicio, el fuego revelará la clase de obra que cada constructor ha hecho. El fuego mostrará
            si la obra de alguien tiene algún valor.”
            <br/>
            <small class="float-right">
                1 Corintios 3:13 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            Si la obra permanece, ese constructor recibirá una recompensa, pero si la obra se consume, el constructor
            sufrirá una gran pérdida. El constructor se salvará, pero como quien apenas se escapa atravesando un muro de
            llamas."
            <br/>
            <small class="float-right">
                1 Corintios 3:14-15 (NTV)
            </small>
        </p>


    </div>
</div>
<hr/>
{# <div class="col-sm-12"> #}

{# <strong> #}
{# Tres caminos ineficaces de satisfacción. #}
{# </strong> #}
{# <br/> #}

{# 1. Acrecentando <small><i class="fa fa-star" id="xpuno"> </i></small> #}
{# <label id="lpuno"> </label> #}
{# <label id="sinpuno"> #}
{# <input id="puno" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Me dediqué a buscar el entendimiento y a investigar con sabiduría todo lo que se hacía debajo del cielo." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:13 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# “Me dispuse a aprender de todo: desde la sabiduría hasta la locura y la insensatez; pero descubrí por experiencia que procurar esas cosas es como perseguir el viento." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:17 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Cuanta más sabiduría tengo, mayor es mi desconsuelo; aumentar el conocimiento sólo trae más dolor." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:18 (NTV) #}
{# </small> #}
{# </p> #}

{# 2. Experimentando <small><i class="fa fa-star" id="xpdos"> </i></small> #}
{# <label id="lpdos"> </label> #}
{# <label id="sinpdos"> #}
{# <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Me dije: «Vamos, probemos los placeres. ¡Busquemos “las cosas buenas” de la vida!»; pero descubrí que eso también carecía de sentido». #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:1 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# “Así traté de experimentar la única felicidad que la mayoría de la gente encuentra en su corto paso por este mundo." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:3b (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}

{# 3. Acumulando <small><i class="fa fa-star" id="xptres"> </i></small> #}
{# <label id="lptres"> </label> #}
{# <label id="sinptres"> #}
{# <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "También traté de encontrar sentido a la vida edificándome enormes mansiones y plantando hermosos viñedos. #}
{# <br/> #}
{# ¡Tuve todo lo que un hombre puede desear!" #}
{# <small> #}
{# Eclesiastés 2:8 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}

{# <p class= "text-info text-14-300"> #}
{# "Pero al observar todo lo que había logrado con tanto esfuerzo, vi que nada tenía sentido, era como perseguir el viento. No había absolutamente nada que valiera la pena." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:11 (NTV) #}
{# </small> #}
{# </p> #}
{# </div> #}

{# <div class="col-sm-12"> #}
{# <strong> #}
{# COMO LLENAR EL VACÍO DE TU VIDA #}
{# </strong> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Si tratas de aferrarte a la vida, la perderás, pero si entregas tu vida por mi causa, la salvarás." #}
{# <br/> #}
{# <small> #}
{# Lucas 9:24 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# La clave: Ceder el <small><i class="fa fa-star" id="xpcuatro"> </i></small> #}
{# <label id="lpcuatro"> </label> #}
{# <label id="sinpcuatro"> #}
{# <input id="pcuatro" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> de tu vida y vivir para una <small><i class="fa fa-star" id="xpcinco"> </i></small> #}
{# <label id="lpcinco"> </label> #}
{# <label id="sinpcinco"> #}
{# <input id="pcinco" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> más grande que tu propia vida. #}
{# <br/> #}
{# <strong> #}
{# Tres nuevos caminos de satisfacción. #}
{# </strong> #}
{# 1. Conocer a <small><i class="fa fa-star" id="xpseis"> </i></small> #}
{# <label id="lpseis"> </label> #}
{# <label id="sinpseis"> #}
{# <input id="pseis" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label>. #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Y la manera de tener vida eterna es conocerte a ti, el único Dios verdadero, y a Jesucristo, a quien tú enviaste a la tierra." #}
{# <br/> #}
{# <small> #}
{# Juan 17:3 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# 2. Experimentar el placer en Su <small><i class="fa fa-star" id="xpsiete"> </i></small> #}
{# <label id="lpsiete"> </label> #}
{# <label id="sinpsiete"> #}
{# <input id="psiete" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label>. #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Yo soy el pan de vida --declaró Jesús--. El que a mí viene nunca pasará hambre, y el que en mí cree nunca más volverá a tener sed." #}
{# <br/> #}
{# <small> #}
{# Juan 6:35 (NVI) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# 3. Acumular tesoros en el <small><i class="fa fa-star" id="xpocho"> </i></small> #}
{# <label id="lpocho"> </label> #}
{# <label id="sinpocho"> #}
{# <input id="pocho" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "No almacenes tesoros aquí en la tierra, donde las polillas se los comen y el óxido los destruye, y donde los ladrones entran y roban. Almacena tus tesoros en el cielo,” #}
{# <br/> #}
{# <small> #}
{# Mateo 6:19-20a (NTV) #}
{# </small> #}
{# </p> #}
{# </div> #}

{{ encore_entry_script_tags('nota_mensaje') }}
