<div class="col-sm-12">
    <h3>
        TOQUE SOBRENATURAL
        <br/>
        <small>
            Serie: Cuando Dios está en tu vida – Parte 8
        </small>
    </h3>
    <hr/>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "…unges mi cabeza con aceite…"
        <br/>
        <small class="float-right  ">
            Salmos 23:5 (BTI)
        </small>
    </p>

</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <h4>
            El origen del aceite de la unción
        </h4>
        <br/>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Con estos ingredientes harás un aceite, es decir, una mezcla aromática como las de los fabricantes de
            perfumes. Éste será el aceite de la unción sagrada."
            <br/>
            <small class="float-right">
                Éxodo 30:25 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Unge a Aarón y a sus hijos, y conságralos para que me sirvan como sacerdotes."
            <br/>
            <small class="float-right">
                Éxodo 30:30 (NVI)
            </small>
        </p>
        <br/>
        <h4>
            La unción de David
        </h4>
        <br/>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Ahora bien, el SEÑOR le dijo a Samuel: … llena tu frasco con aceite de oliva y ve a Belén. Busca a un
            hombre llamado Isaí que vive allí, porque he elegido a uno de sus hijos para que sea mi rey."
            <br/>
            <small class="float-right">
                1 Samuel 16:1 (NTV)
            </small>
        </p>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Al estar David de pie entre sus hermanos, Samuel tomó el frasco de aceite de oliva que había traído y
            ungió a David con el aceite. Y el Espíritu del SEÑOR vino con gran poder sobre David a partir de ese día..."
            <br/>
            <small class="float-right">
                1 Samuel 16:13 (NTV)
            </small>
        </p>
        <br/>
        <h4>
            Toda la Escritura se cumple en Jesús.
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Después del <u>bautismo</u>, mientras Jesús salía del agua, los cielos se abrieron y vio al Espíritu de
            Dios
            que descendía sobre él como una paloma."
            <br/>
            <small class="float-right">
                Mateo 3:16 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "«El Espíritu del SEÑOR está sobre mí, porque me ha ungido para llevar la Buena Noticia a los pobres.
            Me ha enviado a proclamar que los cautivos serán liberados, que los ciegos verán, que los oprimidos serán
            puestos en libertad,"
            <br/>
            <small class="float-right">
                Lucas 4:18 (NTV)
            </small>
        </p>
        <strong><small>Cristo (Griego) = Mesías (Hebreo) = UNGIDO</small></strong>
        <br/>
        <h4>
            El Espíritu Santo para todos los que creen.
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “En los últimos días —dice Dios—, derramaré mi Espíritu sobre toda la gente. Sus hijos e hijas
            profetizarán. Sus jóvenes tendrán visiones, y sus ancianos tendrán sueños."
            <br/>
            <small class="float-right">
                Hechos 2:17 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Cada uno de ustedes debe arrepentirse de sus pecados y volver a Dios, y ser <u>bautizado</u> en el nombre
            de
            Jesucristo para el perdón de sus pecados. Entonces recibirán el regalo del Espíritu Santo."
            <br/>
            <small class="float-right">
                Hechos 2:38 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Todos ustedes, en cambio, han recibido unción del Santo”
            <br/>
            <small class="float-right">
                1 Juan 2:20 (NVI)
            </small>
        </p>
        <br/>
        <h4>
            <strong>
                CUANDO DIOS UNGE MI VIDA.
            </strong>

        </h4>
        <h4>
            1. Soy {{ completa_lugar('uno') | raw }} desde el interior.
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El Espíritu de Dios, quien levantó a Jesús de los muertos, vive en ustedes; y así como Dios levantó a
            Cristo Jesús de los muertos, él dará vida a sus cuerpos mortales mediante el mismo Espíritu, quien vive
            en ustedes."
            <br/>
            <small class="float-right">
                Romanos 8:11 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Las Escrituras dicen que del interior del que cree en mí saldrán ríos de agua viva. Jesús dijo eso acerca
            del Espíritu, que recibirían después los que creyeron en él."
            <br/>
            <small class="float-right">
                Juan 7:38-39 (PDT)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Se te quitará la carga que llevas en los hombros y el yugo que te pusieron en el cuello será destruido a
            causa de la unción"
            <br/>
            <small class="float-right">
                Isaías 10:27 (PDT-RV60)
            </small>
        </p>
        <br/>
        <h4>
            2. Comparto un perfume de {{ completa_lugar('dos') | raw}}.
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¡Anda, come tu pan con alegría! ¡Bebe tu vino con buen ánimo, que Dios ya se ha agradado de tus obras!
            Que sean siempre blancos tus vestidos, y que no falte nunca el perfume en tus cabellos."
            <br/>
            <small class="float-right">
                Eclesiastés 9:7-8 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "En cambio, la clase de fruto que el Espíritu Santo produce en nuestra vida es: amor, alegría, paz,
            paciencia, gentileza, bondad, fidelidad, humildad y control propio. ¡No existen leyes contra esas cosas!"
            <br/>
            <small class="float-right">
                Gálatas 5:22-23 (NTV)
            </small>
        </p>
        <br/>
        <h4>
            3. Tengo {{ completa_lugar('tres') | raw}} para avanzar.
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Jesucristo,… soberano de los reyes de la tierra. Él nos amó; con su sangre nos lavó de nuestros pecados,
            y nos hizo reyes y sacerdotes para Dios, su Padre."
            <br/>
            <small class="float-right">
                Apocalipsis 1:5-6 (RVC)
            </small>
        </p>
        <br/>
        <h4>
            4. Tengo {{ completa_lugar('cuatro') | raw}} para mis batallas.
        </h4>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pero a mí me das fuerzas como de un toro; rociaste aceite fresco sobre mi cabeza."
            <br/>
            <small class="float-right">
                Salmos 92:10 (PDT)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “«He levantado a un guerrero; lo seleccioné de la gente común para que fuera rey.
            Encontré a mi siervo David; lo ungí con mi aceite santo. Con mi mano lo mantendré firme,
            con mi brazo poderoso, lo haré fuerte."
            <br/>
            <small class="float-right">
                Salmos 89:19-21 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Cuando el Espíritu Santo descienda sobre ustedes, recibirán poder para proclamar con efectividad mi
            muerte y resurrección ante el pueblo… y hasta lo último de la tierra."
            <br/>
            <small class="float-right">
                Hechos 1:8 (BAD)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Dios ungió a Jesús de Nazaret con el Espíritu Santo y con poder. Después Jesús anduvo haciendo el bien y
            sanando a todos los que eran oprimidos por el diablo, porque Dios estaba con él."
            <br/>
            <small class="float-right">
                Hechos 10:38 (NTV)
            </small>
        </p>
        <br/>
        <h4>
            5. Tengo un {{ completa_lugar('cinco') | raw}} de grandeza.
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "«El Espíritu del SEÑOR está sobre mí, porque me ha ungido para llevar la Buena Noticia a los pobres.
            Me ha enviado a proclamar que los cautivos serán liberados, que los ciegos verán, que los oprimidos serán
            puestos en libertad,"
            <br/>
            <small class="float-right">
                Lucas 4:18 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Y Saúl envió mensajeros a Isaí, diciendo: Envíame a David tu hijo, el que está con las ovejas."
            <br/>
            <small class="float-right">
                1 Samuel 16:19 (RV60)
            </small>
        </p>
        <br/>
    </div>
</div>
<hr/>

{{ encore_entry_script_tags('nota_mensaje') }}
