<div class="col-sm-12">
    <h3>
        LA BONDAD ETERNA
        <br/>
        <small>
            Serie: Cuando Dios está en tu vida – Parte 11
        </small>
    </h3>
    <hr/>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Ciertamente el bien y la misericordia me seguirán todos los días de mi vida, Y en la casa del SEÑOR moraré por
        largos días."
        <br/>
        <small class="float-right  ">
            Salmos 23:6 (NBLH)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        “Dios… nos dio un lugar en el cielo, junto a él. Hizo esto para mostrar, en el futuro, la bondad y el gran
        amor con que nos amó por medio de Jesucristo."
        <br/>
        <small class="float-right">
            Efesios 2:5-7 (TLA)
        </small>
    </p>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <h4>
            ¿QUÉ ES EL CIELO?
        </h4>
        <br/>
        <strong>
            Es un lugar {{ completa_lugar('uno') | raw }} no un estado emocional.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "En el hogar de mi Padre, hay lugar más que suficiente. Si no fuera así, ¿acaso les habría dicho
            que voy a prepararles un lugar? Cuando todo esté listo, volveré para llevarlos, para que siempre
            estén conmigo donde yo estoy."
            <br/>
            <small class="float-right">
                Juan 14:2-3 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            Es un lugar {{ completa_lugar('dos') | raw }} que durará para siempre.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Sabemos que Dios nos tiene preparada una casa en el cielo para cuando nuestra carpa en este
            mundo sea destruida. Esa casa durará para siempre porque no ha sido construida por manos humanas."
            <br/>
            <small class="float-right">
                2 Corintios 5:1 (PDT)
            </small>
        </p>
        <br/>
        <strong>
            Es un lugar {{ completa_lugar('tres') | raw }}.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Sólo podrán entrar los que tengan su nombre escrito en el libro de la vida del Cordero."
            <br/>
            <small class="float-right">
                Apocalipsis 21:27 (NTV)
            </small>
        </p>
        <br/>
        <h4>
            ¿CÓMO SERÁ EL CIELO?
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "«Ningún ojo ha visto, ningún oído ha escuchado, ninguna mente ha imaginado, lo que Dios tiene preparado
            para quienes lo aman»."
            <br/>
            <small class="float-right">
                1 Corintios 2:9 (NTV)
            </small>
        </p>
        <br/>

        <strong>
            Que no va a haber en el cielo.
        </strong>
<br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No vi ningún templo en la ciudad, porque el Señor Dios Todopoderoso y el Cordero son su templo.
            <br/>
            <small class="float-right">
                Apocalipsis 21: 22
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “La ciudad no necesita ni sol ni luna que la alumbren, porque la gloria de Dios la ilumina, y el Cordero
            es su lumbrera.”
            <br/>
            <small class="float-right">
                Apocalipsis 21: 23
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Sus puertas estarán abiertas todo el día, pues allí no habrá noche.”
            <br/>
            <small class="float-right">
                Apocalipsis 21: 25 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No entrará a ella nada impuro ni el que haga cosas vergonzosas o diga mentiras, sólo los que tengan su
            nombre escrito en el libro de la vida del Cordero."
            <br/>
            <small class="float-right">
                Apocalipsis 21:27 (PDT)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Él les secará toda lágrima de los ojos, y no habrá más muerte ni tristeza ni llanto ni dolor. Todas esas
            cosas ya no existirán más»."
            <br/>
            <small class="float-right">
                Apocalipsis 21:4 (NTV)
            </small>
        </p>
        <br/>
                <h4>
                    ¿QUÉ VAMOS HACER EN EL CIELO?
        </h4>
        <br/>
        <strong>
            Nos vamos a {{ completa_lugar('cuatro') | raw}} con los que amamos y aman al Señor.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Allí, todos juntos nos encontraremos con el Señor Jesús, y nos quedaremos con él para siempre."
            <br/>
            <small class="float-right">
                1 Tesalonicenses 4:17 (TLA)
            </small>
        </p>
        <br/>
        <strong>
            Seremos {{ completa_lugar('cinco') | raw}} por nuestra fe y esperanza.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El Padre honrará a todo el que me sirva."
            <br/>
            <small class="float-right">
                Juan 12:26 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No pierdan, pues, su confianza, porque ella les traerá una gran recompensa."
            <br/>
            <small class="float-right">
                Hebreos 10:35 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Hagan lo que hagan, trabajen de buena gana, como para el Señor y no como para nadie en este mundo,
            conscientes de que el Señor los recompensará con la herencia. Ustedes sirven a Cristo el Señor."
            <br/>
            <small class="float-right">
                Colosenses 3:23-24 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El Rey dirá a los que estén a su derecha: “Vengan, ustedes, que son benditos de mi Padre, hereden el reino
            preparado para ustedes desde la creación del mundo."
            <br/>
            <small class="float-right">
                Mateo 25:34 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            Recibiremos {{ completa_lugar('seis') | raw}} que vamos a disfrutar.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¡Hiciste bien, siervo bueno y fiel! Has sido fiel en lo poco; te pondré a cargo de mucho más. ¡Ven a
            compartir la felicidad de tu señor!'"
            <br/>
            <small class="float-right">
                Mateo 25:23 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Nuestros sufrimientos podrán ser grandes, pero si nos mantenemos firmes reinaremos con El."
            <br/>
            <small class="float-right">
                2 Timoteo 2:12 (BAD)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Allí estará el trono de Dios y del Cordero, y sus siervos lo adorarán. Verán su rostro y tendrán su nombre
            escrito en la frente. … Y ellos reinarán por siempre y para siempre."
            <br/>
            <small class="float-right">
                Apocalipsis 22:3-5 (NTV)
            </small>
        </p>
        <br/>
        <h4>
            CUANDO DIOS ESTA EN MI VIDA, VIVO {{ completa_lugar('siete') | raw}} EN SU ETERNA BONDAD
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No se angustien ustedes. Crean en Dios y crean también en mí.  En la casa de mi Padre hay muchos lugares
            donde vivir; si no fuera así, yo no les hubiera dicho que voy a prepararles un lugar.”
            <br/>
            <small class="float-right">
                Juan 14:1-2 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “… y después de irme y de prepararles un lugar, vendré otra vez para llevarlos conmigo, para que ustedes
            estén en el mismo lugar en donde yo voy a estar."
            <br/>
            <small class="float-right">
                Juan 14:3 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Tomás le dijo a Jesús:  –Señor, no sabemos a dónde vas, ¿cómo vamos a saber el camino?"
            <br/>
            <small class="float-right">
                Juan 14:5 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Jesús le contestó: Yo soy el camino, la verdad y la vida; nadie puede ir al Padre si no es por
            medio de mí."
            <br/>
            <small class="float-right">
                Juan 14:6 (NTV)
            </small>
        </p>
        <br/>
    </div>
</div>
<hr/>

{{ encore_entry_script_tags('nota_mensaje') }}
