<div class="col-sm-12">
    <h3>
        Satisfacción Completa!
        <br/>
        <small>
            Serie: Cuando Dios está en tu vida – Parte 9
        </small>
    </h3>
    <hr/>
    <h4>
        UNA VIDA LLENA
    </h4>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Mi copa está rebosando."
        <br/>
        <small class="float-right  ">
            Salmos 23:5 (NBLH)
        </small>
    </p>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Los hijos que tenemos son un regalo de Dios. Los hijos que nos nacen son nuestra recompensa."
        <br/>
        <small class="float-right">
            Salmos 127:3 (TLA)
        </small>
    </p>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <h4>
            1. ELIJO BIEN LOS {{ completa_lugar('uno') | raw }} POR LOS CUALES VOY A VIVIR.
        </h4>
        <br/>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Podemos llegar a vivir setenta años, hasta ochenta si gozamos de buena salud. Vivimos
            trabajando duro y sufriendo, y de repente, nuestra vida termina y volamos. …<br/>
            .12 Haznos entender que la vida es corta, para así vivirla con sabiduría."
            <br/>
            <small class="float-right">
                Salmos 90:10-12 (PDT)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Tres cosas durarán para siempre: la fe, la esperanza y el amor; y la mayor de las tres es el amor."
            <br/>
            <small class="float-right">
                1 Corintios 13:13 (NTV)
            </small>
        </p>
        <br/>
        <ul>
            <li> {{ completa_lugar('dos') | raw }}: ¿Esta la altura de la grandeza de Dios?</li>
            <li> {{ completa_lugar('tres') | raw }}: ¿Importa a la luz de la eternidad?</li>
            <li> {{ completa_lugar('cuatro') | raw }}: ¿Nos ayudara juntos a crecer?</li>
        </ul>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “--Se hará con ustedes conforme a su fe."
            <br/>
            <small class="float-right">
                Mateo 9:29 (NVI)
            </small>
        </p>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "«Tarde o temprano, la muerte nos llega a todos, y a mí me falta poco para morir. Sé valiente
            y compórtate como hombre.  Obedece todos los mandamientos de nuestro Dios, … Si haces esto, te va
            a ir bien en todo lo que hagas y en cualquier lugar a donde vayas."
            <br/>
            <small class="float-right">
                1 Reyes 2:2-3 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Por eso, no nos fijamos en las cosas que se ven, sino en las que no se ven; porque las cosas que se ven
            son temporales, pero las que no se ven son eternas."
            <br/>
            <small class="float-right">
                2 Corintios 4:18 (RVC)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No hay un amor más grande que el dar la vida por los amigos."
            <br/>
            <small class="float-right">
                Juan 15:13 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Instruye al niño en el camino que ha de seguir, Aun cuando sea viejo no se apartará de él."
            <br/>
            <small class="float-right">
                Proverbios 22:6 (BXT)
            </small>
        </p>
        <br/>
        <h4>
            2. ME {{ completa_lugar('cinco') | raw}} CON MIS VALORES.
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¿Por qué me llaman ustedes 'Señor, Señor', y no hacen lo que les digo?"
            <br/>
            <small class="float-right">
                Lucas 6:46 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Afirman que conocen a Dios, pero lo niegan con su manera de vivir."
            <br/>
            <small class="float-right">
                Tito 1:16 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Porque donde esté tu tesoro, allí estará también tu corazón."
            <br/>
            <small class="float-right">
                Mateo 6:21 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Comprométete de todo corazón a cumplir estas palabras que te doy. Átalas a tus manos y llévalas sobre
            la frente para recordarlas. Enséñalas a tus hijos. Habla de ellas en tus conversaciones cuando
            estés en tu casa y cuando vayas por el camino, cuando te acuestes y cuando te levantes.
            Escríbelas en los marcos de la entrada de tu casa .. para que, . tú y tus hijos prosperen en la
            tierra"
            <br/>
            <small class="float-right">
                Deuteronomio 11:18-21 (NTV)
            </small>
        </p>

        <h4>
            3. CONFIÓ EN LA {{ completa_lugar('seis') | raw}} DE DIOS
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            'He encontrado en David, hijo de Isaí, un hombre conforme a mi corazón"
            <br/>
            <small class="float-right">
                Hechos 13:22 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Lo que ahora soy, todo se debe a que Dios derramó su favor especial sobre mí,… no fui yo sino
            Dios quien obraba a través de mí por su gracia."
            <br/>
            <small class="float-right">
                1 Corintios 15:10 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “He <b>peleado</b> la buena batalla, he <b>terminado</b> el recorrido, he <b>guardado</b> la fe; para el futuro me está
            guardada la corona de justicia, que el Señor, el Juez justo, me concederá en ese día; y no solo a
            mí, sino también a todos los que han amado su venida ”
            <br/>
            <small class="float-right">
                (2 Timoteo 4: 7-8).
            </small>
        </p>
        <br/>
        <h4>
            4. DISFRUTO DE LO QUE {{ completa_lugar('siete') | raw}}
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Uno puede hallar la mayor de las riquezas: la de ser feliz con lo que tiene."
            <br/>
            <small class="float-right">
                1 Timoteo 6:6 (BAD)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "He aprendido a estar satisfecho con lo que tengo."
            <br/>
            <small class="float-right">
                Filipenses 4:11 (TLA)
            </small>
        </p>

        <h4>
            5. HAGO DE SU {{ completa_lugar('ocho') | raw}} MI MAYOR ALEGRÍA
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Yo le he dicho al Señor: "Mi Señor eres tú. Fuera de ti, no poseo bien alguno." …
            Tú, Señor, eres mi porción y mi copa; eres tú quien ha afirmado mi suerte."
            <br/>
            <small class="float-right">
                Salmos 16:2-5 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Solo una cosa he pedido al Señor, solo una cosa deseo: estar en el templo del Señor todos los días de mi
            vida, para adorarlo en su templo y contemplar su hermosura. "
            <br/>
            <small class="float-right">
                Salmos 27:4 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Disfruta de la presencia del Señor, y él te dará lo que de corazón le pidas."
            <br/>
            <small class="float-right">
                Salmos 37:4 (RVC)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Y tú, Salomón, hijo mío, <b>aprende a conocer íntimamente al Dios de tus antepasados</b>. Adóralo y
            sírvelo de todo corazón y con una mente dispuesta. Pues el SEÑOR ve cada corazón y conoce todo
            plan y pensamiento. Si lo buscas, lo encontrarás”
            <br/>
            <small class="float-right">
                1 Crónicas 28:9-10 (NTV)
            </small>
        </p>

    </div>
</div>
<hr/>

{{ encore_entry_script_tags('nota_mensaje') }}
