<div class="col-sm-12">
    <h3>
        SANIDAD INTERIOR
        <br/>
        <small>
            Serie: Cuando Dios está en tu vida – Parte 3
        </small>
    </h3>
    <hr/>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        "El restaura mi alma."
        <br/>
        <small class="float-right  ">
            Salmos 23:3 (NBLH)
        </small>
    </p>
    <h4>
        EL CAMINO A LA SANIDAD EMOCIONAL
    </h4>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">

        <strong>
            1.  DEJO QUE DIOS {{ completa_lugar('uno') | raw}} MI {{ completa_lugar('dos') | raw}}
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Mi culpa me abruma, es una carga demasiado pesada para soportar. ...  Me retuerzo atormentado por el dolor; todo el día estoy lleno de profunda tristeza."
            <br/>
            <small class="float-right">
                Salmos 38:4-6 (NTV)
            </small>
        </p>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Dios nos ha dado la conciencia…  y pone al descubierto cada intención oculta."
            <br/>
            <small class="float-right">
                Proverbios 20:27 (TLA-NTV)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "Todos hemos pecado... Pero Dios nos declara inocentes del delito de haberlo ofendido si confiamos en Jesucristo, quien gratuitamente borró nuestros pecados."
            <br/>
            <small>
                Romanos 3:23-24 (BAD)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "Dios…. nos perdonó todos los pecados. Teníamos una deuda porque no cumplimos las leyes de Dios. La cuenta de cobro tenía todos los cargos contra nosotros, pero Dios nos perdonó la deuda y clavó la cuenta en la cruz."
            <br/>
            <small>
                Colosenses 2:13-14 (PDT)
            </small>
        </p>
        <br/>
        <strong>
            2.  DEJO QUE DIOS CAMBIE MI {{ completa_lugar('tres') | raw}} POR {{ completa_lugar('cuatro') | raw}}
        </strong>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El resentimiento mata a los necios; la envidia mata a los insensatos."
            <br/>
            <small class="float-right">
                Job 5:2 (NVI)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "Eres tú quien se hace daño con tu enojo."
            <br/>
            <small>
                Job 18:4 (PDT)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "Nunca tomen venganza. Dejen que se encargue la justa ira de Dios. Pues dicen las Escrituras: «Yo tomaré venganza; Yo les pagaré lo que se merecen», dice el SEÑOR."
            <br/>
            <small>
                Romanos 12:19 (NTV)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "Líbrense de toda amargura,... perdónense unos a otros, tal como Dios los ha perdonado a ustedes por medio de Cristo."
            <br/>
            <small>
                Efesios 4:31-32 (NTV)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "Sabemos que Dios dispone todas las cosas para el bien de quienes lo aman, los que han sido llamados de acuerdo con su propósito. 29 Porque a los que Dios conoció de antemano, también los predestinó a ser transformados según la imagen de su Hijo, para que él sea el primogénito entre muchos hermanos."
            <br/>
            <small>
                Romanos 8:28-29 (NVI)
            </small>
        </p>
        <br/>
        <p class="text-info">
            "Ustedes se propusieron hacerme mal, pero Dios dispuso todo para bien. Él me puso en este cargo para que yo pudiera salvar la vida de muchas personas."
            <br/>
            <small>
                Génesis 50:20 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            3.  DEJO QUE DIOS {{ completa_lugar('cinco') | raw}} MIS {{ completa_lugar('seis') | raw}}
        </strong>
        <p class="text-info">
            "Ten misericordia de mí, SEÑOR, porque estoy angustiado. Las lágrimas me nublan la vista; mi cuerpo y mi alma se marchitan."
            <br/>
            <small>
                Salmos 31:9 (NTV)
            </small>
        </p>
        <br/>
        <hr/>
        <h4>
            3 Cosas que debo hacer: 2 Samuel 12
        </h4>
        <strong>
            1.  Acepto lo que {{ completa_lugar('siete') | raw}}
        </strong>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "David les respondió: —Cuando el niño estaba vivo, ayuné y lloré… Pero ahora el niño murió. ¿Para qué ayunar? ¿Puedo acaso devolverle la vida?"
            <br/>
            <small class="float-right">
                2 Samuel 12:22-23 (PDT)
            </small>
        </p>
        <br/>
        <strong>
            2.  Suelto la queja y comienzo a {{ completa_lugar('ocho') | raw}}
        </strong>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "De inmediato David se levantó del suelo, se lavó, se puso lociones y se cambió de ropa. Luego fue al tabernáculo a adorar al SEÑOR "
            <br/>
            <small class="float-right">
                2 Samuel 12:20 (NTV)
            </small>
        </p>

        <strong>
            3.  Me enfoco en {{ completa_lugar('nueve') | raw}}, no en {{ completa_lugar('diez') | raw}}
        </strong>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Luego David consoló a Betsabé, su esposa, y se acostó con ella. Entonces ella quedó embarazada y dio a luz un hijo, y David lo llamó Salomón. El SEÑOR amó al niño"
            <br/>
            <small class="float-right">
                2 Samuel 12:24 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "A todos los que se lamentan… les dará una corona de belleza en lugar de cenizas, una gozosa bendición en lugar de luto, una festiva alabanza en lugar de desesperación."
            <br/>
            <small class="float-right">
                Isaías 61:3 (NTV)
            </small>
        </p>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "¿Por qué te abates, alma mía,  y te turbas dentro de mí?  Espera en Dios,”
            <br/>
            <small class="float-right">
                Salmos 42:5 (RV95)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Él sana a los de corazón quebrantado y les venda las heridas."
            <br/>
            <small class="float-right">
                Salmos 147:3 (NTV)
            </small>
        </p>

        <p class="text-info">
            "Si le entregas tu corazón y hacia él extiendes las manos, si te apartas del pecado que has cometido y en tu morada no das cabida al mal,  entonces podrás llevar la frente en alto y mantenerte firme y libre de temor. Ciertamente olvidarás tus pesares, o los recordarás como el agua que pasó."
            <br/>
            <small>
                Job 11:13-16 (NVI)
            </small>
        </p>

    </div>
</div>
<hr/>
{# <div class="col-sm-12"> #}

{# <strong> #}
{# Tres caminos ineficaces de satisfacción. #}
{# </strong> #}
{# <br/> #}

{# 1. Acrecentando <small><i class="fa fa-star" id="xpuno"> </i></small> #}
{# <label id="lpuno"> </label> #}
{# <label id="sinpuno"> #}
{# <input id="puno" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Me dediqué a buscar el entendimiento y a investigar con sabiduría todo lo que se hacía debajo del cielo." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:13 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# “Me dispuse a aprender de todo: desde la sabiduría hasta la locura y la insensatez; pero descubrí por experiencia que procurar esas cosas es como perseguir el viento." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:17 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Cuanta más sabiduría tengo, mayor es mi desconsuelo; aumentar el conocimiento sólo trae más dolor." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:18 (NTV) #}
{# </small> #}
{# </p> #}

{# 2. Experimentando <small><i class="fa fa-star" id="xpdos"> </i></small> #}
{# <label id="lpdos"> </label> #}
{# <label id="sinpdos"> #}
{# <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Me dije: «Vamos, probemos los placeres. ¡Busquemos “las cosas buenas” de la vida!»; pero descubrí que eso también carecía de sentido». #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:1 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# “Así traté de experimentar la única felicidad que la mayoría de la gente encuentra en su corto paso por este mundo." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:3b (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}

{# 3. Acumulando <small><i class="fa fa-star" id="xptres"> </i></small> #}
{# <label id="lptres"> </label> #}
{# <label id="sinptres"> #}
{# <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "También traté de encontrar sentido a la vida edificándome enormes mansiones y plantando hermosos viñedos. #}
{# <br/> #}
{# ¡Tuve todo lo que un hombre puede desear!" #}
{# <small> #}
{# Eclesiastés 2:8 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}

{# <p class= "text-info text-14-300"> #}
{# "Pero al observar todo lo que había logrado con tanto esfuerzo, vi que nada tenía sentido, era como perseguir el viento. No había absolutamente nada que valiera la pena." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:11 (NTV) #}
{# </small> #}
{# </p> #}
{# </div> #}

{# <div class="col-sm-12"> #}
{# <strong> #}
{# COMO LLENAR EL VACÍO DE TU VIDA #}
{# </strong> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Si tratas de aferrarte a la vida, la perderás, pero si entregas tu vida por mi causa, la salvarás." #}
{# <br/> #}
{# <small> #}
{# Lucas 9:24 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# La clave: Ceder el <small><i class="fa fa-star" id="xpcuatro"> </i></small> #}
{# <label id="lpcuatro"> </label> #}
{# <label id="sinpcuatro"> #}
{# <input id="pcuatro" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> de tu vida y vivir para una <small><i class="fa fa-star" id="xpcinco"> </i></small> #}
{# <label id="lpcinco"> </label> #}
{# <label id="sinpcinco"> #}
{# <input id="pcinco" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> más grande que tu propia vida. #}
{# <br/> #}
{# <strong> #}
{# Tres nuevos caminos de satisfacción. #}
{# </strong> #}
{# 1. Conocer a <small><i class="fa fa-star" id="xpseis"> </i></small> #}
{# <label id="lpseis"> </label> #}
{# <label id="sinpseis"> #}
{# <input id="pseis" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label>. #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Y la manera de tener vida eterna es conocerte a ti, el único Dios verdadero, y a Jesucristo, a quien tú enviaste a la tierra." #}
{# <br/> #}
{# <small> #}
{# Juan 17:3 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# 2. Experimentar el placer en Su <small><i class="fa fa-star" id="xpsiete"> </i></small> #}
{# <label id="lpsiete"> </label> #}
{# <label id="sinpsiete"> #}
{# <input id="psiete" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label>. #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Yo soy el pan de vida --declaró Jesús--. El que a mí viene nunca pasará hambre, y el que en mí cree nunca más volverá a tener sed." #}
{# <br/> #}
{# <small> #}
{# Juan 6:35 (NVI) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# 3. Acumular tesoros en el <small><i class="fa fa-star" id="xpocho"> </i></small> #}
{# <label id="lpocho"> </label> #}
{# <label id="sinpocho"> #}
{# <input id="pocho" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "No almacenes tesoros aquí en la tierra, donde las polillas se los comen y el óxido los destruye, y donde los ladrones entran y roban. Almacena tus tesoros en el cielo,” #}
{# <br/> #}
{# <small> #}
{# Mateo 6:19-20a (NTV) #}
{# </small> #}
{# </p> #}
{# </div> #}

{{ encore_entry_script_tags('nota_mensaje') }}
