<div class="col-sm-12">
    <h3>
        DIRECCIÓN CLARA
        <br/>
        <small>
            Serie: Cuando Dios está en tu vida – Parte 4
        </small>
    </h3>
    <hr/>

    <p class="text-info text-14-300 text-left font-italic mb-5">
        “Me guía por sendas correctas, y así da honra a su nombre."
        <br/>
        <small class="float-right  ">
            Salmos 23:3 (NTV)
        </small>
    </p>
    <h4>
        RECIBIENDO DIRECCIÓN DE DIOS
    </h4>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">

        <strong>
            1. {{ completa_lugar('uno') | raw }} QUE NECESITO DIRECCIÓN
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Todos nosotros nos hemos extraviado como ovejas; hemos dejado los caminos de Dios para seguir los nuestros.
            Sin embargo, el SEÑOR puso sobre él los pecados de todos nosotros."
            <br/>
            <small class="float-right">
                Isaías 53:6 (NTV)
            </small>
        </p>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Delante de cada persona hay un camino que parece correcto, pero termina en muerte."
            <br/>
            <small class="float-right">
                Proverbios 14:12 (NTV)
            </small>
        </p>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Guía a los humildes para que hagan lo correcto; les enseña su camino."
            <br/>
            <small class="float-right">
                Salmos 25:9 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            2. {{ completa_lugar('dos') | raw }} DIRECCIÓN CON FE.
        </strong>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Si a alguno de ustedes le falta sabiduría, pídasela a Dios, y él se la dará, pues Dios da a todos
            generosamente sin menospreciar a nadie. Pero que pida con fe, sin dudar, porque quien duda es como las olas
            del mar, agitadas y llevadas de un lado a otro por el viento."
            <br/>
            <small class="float-right">
                Santiago 1:5-6 (NVI)
            </small>
        </p>
        <br/>
        <strong>
            3. {{ completa_lugar('tres') | raw }} LA RESPUESTA DE DIOS
        </strong>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Dios nos habla una y otra vez, aunque no lo percibamos."
            <br/>
            <small class="float-right">
                Job 33:14 (NVI)
            </small>
        </p>
        <br/>
        <hr/>
        <h4>
            DIOS HABLA A TRAVÉS DE

            La Biblia... Maestros... Percepciones... Circunstancias... Dolor
        </h4>
        <hr/>
        <strong>
            4. {{ completa_lugar('siete') | raw }} EN DIOS CUANDO NO PUEDO ENTENDER
        </strong>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Te abriste camino a través del mar y tu sendero atravesó las poderosas aguas, <s>¡una senda que nadie sabía
                que estaba allí!</s>"
            <br/>
            <small class="float-right">
                Salmos 77:19 (NTV)
            </small>
        </p>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El camino de los justos es como la primera luz del amanecer, que brilla cada vez más hasta que el día
            alcanza todo su esplendor."
            <br/>
            <small class="float-right">
                Proverbios 4:18 (NTV)
            </small>
        </p>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Confía en el SEÑOR con todo tu corazón, no dependas de tu propio entendimiento. 6 Busca su voluntad en todo lo que hagas, y él te mostrará cuál camino tomar."
            <br/>
            <small class="float-right">
                Proverbios 3:5-6 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “El Señor dirige los pasos del hombre y lo pone en el camino que a él le agrada; 24 aun cuando caiga, no quedará caído, porque el Señor lo tiene de la mano."
            <br/>
            <small class="float-right">
                Salmos 37:23-24 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El camino de la justicia lleva a la vida, en ese camino no se encuentra la muerte."
            <br/>
            <small class="float-right">
                Proverbios 12:28 (PDT)
            </small>
        </p>
    </div>
</div>
<hr/>
{# <div class="col-sm-12"> #}

{# <strong> #}
{# Tres caminos ineficaces de satisfacción. #}
{# </strong> #}
{# <br/> #}

{# 1. Acrecentando <small><i class="fa fa-star" id="xpuno"> </i></small> #}
{# <label id="lpuno"> </label> #}
{# <label id="sinpuno"> #}
{# <input id="puno" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Me dediqué a buscar el entendimiento y a investigar con sabiduría todo lo que se hacía debajo del cielo." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:13 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# “Me dispuse a aprender de todo: desde la sabiduría hasta la locura y la insensatez; pero descubrí por experiencia que procurar esas cosas es como perseguir el viento." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:17 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Cuanta más sabiduría tengo, mayor es mi desconsuelo; aumentar el conocimiento sólo trae más dolor." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 1:18 (NTV) #}
{# </small> #}
{# </p> #}

{# 2. Experimentando <small><i class="fa fa-star" id="xpdos"> </i></small> #}
{# <label id="lpdos"> </label> #}
{# <label id="sinpdos"> #}
{# <input id="pdos" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Me dije: «Vamos, probemos los placeres. ¡Busquemos “las cosas buenas” de la vida!»; pero descubrí que eso también carecía de sentido». #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:1 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# “Así traté de experimentar la única felicidad que la mayoría de la gente encuentra en su corto paso por este mundo." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:3b (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}

{# 3. Acumulando <small><i class="fa fa-star" id="xptres"> </i></small> #}
{# <label id="lptres"> </label> #}
{# <label id="sinptres"> #}
{# <input id="ptres" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "También traté de encontrar sentido a la vida edificándome enormes mansiones y plantando hermosos viñedos. #}
{# <br/> #}
{# ¡Tuve todo lo que un hombre puede desear!" #}
{# <small> #}
{# Eclesiastés 2:8 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}

{# <p class= "text-info text-14-300"> #}
{# "Pero al observar todo lo que había logrado con tanto esfuerzo, vi que nada tenía sentido, era como perseguir el viento. No había absolutamente nada que valiera la pena." #}
{# <br/> #}
{# <small> #}
{# Eclesiastés 2:11 (NTV) #}
{# </small> #}
{# </p> #}
{# </div> #}

{# <div class="col-sm-12"> #}
{# <strong> #}
{# COMO LLENAR EL VACÍO DE TU VIDA #}
{# </strong> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Si tratas de aferrarte a la vida, la perderás, pero si entregas tu vida por mi causa, la salvarás." #}
{# <br/> #}
{# <small> #}
{# Lucas 9:24 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# La clave: Ceder el <small><i class="fa fa-star" id="xpcuatro"> </i></small> #}
{# <label id="lpcuatro"> </label> #}
{# <label id="sinpcuatro"> #}
{# <input id="pcuatro" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> de tu vida y vivir para una <small><i class="fa fa-star" id="xpcinco"> </i></small> #}
{# <label id="lpcinco"> </label> #}
{# <label id="sinpcinco"> #}
{# <input id="pcinco" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> más grande que tu propia vida. #}
{# <br/> #}
{# <strong> #}
{# Tres nuevos caminos de satisfacción. #}
{# </strong> #}
{# 1. Conocer a <small><i class="fa fa-star" id="xpseis"> </i></small> #}
{# <label id="lpseis"> </label> #}
{# <label id="sinpseis"> #}
{# <input id="pseis" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label>. #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Y la manera de tener vida eterna es conocerte a ti, el único Dios verdadero, y a Jesucristo, a quien tú enviaste a la tierra." #}
{# <br/> #}
{# <small> #}
{# Juan 17:3 (NTV) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# 2. Experimentar el placer en Su <small><i class="fa fa-star" id="xpsiete"> </i></small> #}
{# <label id="lpsiete"> </label> #}
{# <label id="sinpsiete"> #}
{# <input id="psiete" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label>. #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "Yo soy el pan de vida --declaró Jesús--. El que a mí viene nunca pasará hambre, y el que en mí cree nunca más volverá a tener sed." #}
{# <br/> #}
{# <small> #}
{# Juan 6:35 (NVI) #}
{# </small> #}
{# </p> #}
{# <br/> #}
{# 3. Acumular tesoros en el <small><i class="fa fa-star" id="xpocho"> </i></small> #}
{# <label id="lpocho"> </label> #}
{# <label id="sinpocho"> #}
{# <input id="pocho" class="input-group-sm " placeholder="puedes completar aquí"> #}
{# </label> #}
{# <br/> #}
{# <p class= "text-info text-14-300"> #}
{# "No almacenes tesoros aquí en la tierra, donde las polillas se los comen y el óxido los destruye, y donde los ladrones entran y roban. Almacena tus tesoros en el cielo,” #}
{# <br/> #}
{# <small> #}
{# Mateo 6:19-20a (NTV) #}
{# </small> #}
{# </p> #}
{# </div> #}

{{ encore_entry_script_tags('nota_mensaje') }}
