<div class="col-sm-12">
    <h3>
        EL MILAGRO DE REUNIÓN
        <br/>
        <small>
            Serie: El milagro de reunción – Parte 1
        </small>
    </h3>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <strong>
            {{ completa_lugar('uno') | raw}} es bueno el aislamiento.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Luego, Dios el Señor dijo: "No es bueno que el hombre esté solo. Le voy a hacer alguien que sea una ayuda
            adecuada para él."
            <br/>
            <small class="float-right">
                Génesis 2:18 (DHH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Es mejor ser dos que uno, porque ambos pueden ayudarse mutuamente a lograr el éxito. 10 Si uno cae, el
            otro puede darle la mano y ayudarle; pero el que cae y está solo, ese sí que está en problemas.”
            <br/>
            <small class="float-right">
                Eclesiastés 4:10 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Alguien que está solo, puede ser atacado y vencido, pero si son dos, se ponen de espalda con espalda y
            vencen; mejor todavía si son tres, porque una cuerda triple no se corta fácilmente."
            <br/>
            <small class="float-right">
                Eclesiastés 4:12 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            Dios está preparando una {{ completa_lugar('dos') | raw}}.
        </strong>
<br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "«Nunca te fallaré. Jamás te abandonaré»."
            <br/>
            <small class="float-right">
                Hebreos 13:5 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Así que profeticé como se me ordenó. Mientras profeticé, se oyó un gran ruido que estremeció la tierra,
            y los huesos comenzaron a unirse."
            <br/>
            <small class="float-right">
                Ezequiel 37:7 (PDT)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Esto dice el SEÑOR Soberano: ‘Oh pueblo mío, <b>abriré las tumbas del destierro y haré que te levantes</b>.
            Luego <b>te regresaré a la tierra</b> de Israel. Cuando eso suceda, pueblo mío, sabrás que yo soy el SEÑOR."
            <br/>
            <small class="float-right">
                Ezequiel 37:12-13 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "<b>Yo abriré las tumbas donde creen estar enterrados</b>, y los sacaré de allí. Soplaré sobre ustedes para
            darles mi aliento de vida, <b>y los haré volver</b>."
            <br/>
            <small class="float-right">
                Ezequiel 37:12 (TLA)
            </small>
        </p>
        <br/>

        <strong>
            Cambia de {{ completa_lugar('tres') | raw}}.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Luego me preguntó: Hijo de hombre, <b>¿podrán estos huesos volver a convertirse en personas vivas?</b>”
            <br/>
            <small class="float-right">
                Ezequiel 37:3 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Yo le contesté: "Señor omnipotente, tú lo sabes."
            <br/>
            <small class="float-right">
                Ezequiel 37:3 (NVI)
            </small>
        </p>
        <br/>
        <strong>
            {{ completa_lugar('cuatro') | raw}}  la reunión.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Profetiza sobre estos huesos, y diles: ¡Huesos secos, escuchen la palabra del Señor!   Así dice el Señor
            omnipotente a estos huesos: ‘Yo les daré aliento de vida, y ustedes volverán a vivir "
            <br/>
            <small class="float-right">
                Ezequiel 37:4-5 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Sigamos confiando en que Dios nos salvará. No lo dudemos ni un instante, porque él cumplirá lo que
            prometió. Tratemos de ayudarnos unos a otros, y de amarnos y hacer lo bueno.”
            <br/>
            <small class="float-right">
                Hebreos 10:23 (TLA)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “No dejemos de reunirnos, como hacen algunos. Al contrario, animémonos cada vez más a seguir confiando en
            Dios, y más aún cuando ya vemos que se acerca el día en que el Señor juzgará a todo el mundo."
            <br/>
            <small class="float-right">
                Hebreos 10:23-25 (TLA)
            </small>
        </p>
        <br/>
        <strong>
            Dios está trayendo {{ completa_lugar('cinco') | raw}}  a tu vida
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Booz ordenó a sus trabajadores: Déjenla recoger espigas aun entre las gavillas, y no se lo impidan.
            Además, arranquen de los manojos algunas espigas de cebada y déjenlas caer a propósito. ¡Permítanle
            recogerlas y no la molesten!"
            <br/>
            <small class="float-right">
                Rut 2:15-16 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Entonces Jacob le dijo a José: Nunca pensé que volvería a ver tu rostro, ¡pero ahora Dios me ha permitido
            ver también a tus hijos! "
            <br/>
            <small class="float-right">
                Génesis 48:11 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            Es hora de reunión.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Una sola persona puede ser vencida, pero dos ya pueden defenderse; y si tres unen sus fuerzas, ya no es
            fácil derrotarlas. "
            <br/>
            <small class="float-right">
                Eclesiastés 4:12 (TLA)
            </small>
        </p>
        <br/>

    </div>
</div>
<hr/>

{{ encore_entry_script_tags('nota_mensaje') }}
