<div class="col-sm-12">
    <h3>
        ALEGREMENTE FAVORECIDO!
        <br/>
        <small>
            Serie: Cuando Dios está en tu vida – Parte 10
        </small>
    </h3>
    <hr/>
    <p class="text-info text-14-300 text-left font-italic mb-5">
        "Ciertamente tu bondad y tu amor inagotable me seguirán todos los días de mi vida."
        <br/>
        <small class="float-right  ">
            Salmos 23:6 (NTV)
        </small>
    </p>
</div>
<hr/>
<div class="row">
    <div class="col-sm-8 mx-auto">
        <h4>
            ¿QUE ES EL FAVOR DE DIOS?
        </h4>
        <br/>
        <strong>
            1. Es Dios llevando todo para {{ completa_lugar('uno') | raw }}.
        </strong>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Tu bondad"
            <br/>
            <small class="float-right">
                Salmos 23:6 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            “Y sabemos que a los que aman a Dios, todas las cosas ayudan a bien, esto es, a los que conforme a su
            propósito son llamados”
            <br/>
            <small class="float-right">
                Romanos 8:28.
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Si Dios está a favor nuestro, ¿quién podrá estar en contra?"
            <br/>
            <small class="float-right">
                Romanos 8:31 (SM)
            </small>
        </p>
        <br/>

        <strong>
            2. Es Dios {{ completa_lugar('dos') | raw }} con su gracia.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "tu amor inagotable"
            <br/>
            <small class="float-right">
                Salmos 23:6 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Él perdona todos mis pecados y sana todas mis enfermedades.
            4 Me redime de la muerte y me corona de amor y tiernas misericordias. Colma mi vida de cosas buenas;
            ¡mi juventud se renueva como la del águila!"
            <br/>
            <small class="float-right">
                Salmos 103:3-5 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No nos castiga por todos nuestros pecados; no nos trata con la severidad que merecemos.
            Pues su amor inagotable hacia los que le temen es tan inmenso como la altura de los cielos sobre la tierra."
            <br/>
            <small class="float-right">
                Salmos 103:10-11 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Lo que ahora soy, todo se debe a que Dios derramó su favor especial sobre mí."
            <br/>
            <small class="float-right">
                1 Corintios 15:10 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            3. Es Dios empoderándome para {{ completa_lugar('tres') | raw }}.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El favor de Dios estaba sobre él."
            <br/>
            <small class="float-right">
                Lucas 2:40 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El favor y el poder de Dios estaban plenamente con Esteban, que realizaba milagros
            y prodigios entre el pueblo."
            <br/>
            <small class="float-right">
                Hechos 6:8 (BTI)
            </small>
        </p>
        <br/>
        <h4>
            ¿COMO SE ACTIVA EL FAVOR?
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Ciertamente…"
            <br/>
            <small class="float-right">
                Salmos 23:6 (NTV)
            </small>
        </p>
        <p>
            El favor de Dios se activa por medio de {{ completa_lugar('cuatro') | raw }}.
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Pero los que esperan en el SEÑOR Renovarán sus fuerzas. Se remontarán con alas como las águilas,
            Correrán y no se cansarán, Caminarán y no se fatigarán."
            <br/>
            <small class="float-right">
                Isaías 40:31 (NBLH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "… De mañana presentaré mi oración a Ti, Y con ansias esperaré."
            <br/>
            <small class="float-right">
                Salmos 5:3 (NBLH)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Tengan cuidado de que ninguno de ustedes pierda el favor de Dios"
            <br/>
            <small class="float-right">
                Hebreos 12:15 (PDT)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "No tengas miedo, María —le dijo el ángel—, ¡porque has hallado el favor de Dios!"
            <br/>
            <small class="float-right">
                Lucas 1:30 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Eres bendita porque creíste que el Señor haría lo que te dijo."
            <br/>
            <small class="float-right">
                Lucas 1:45 (NTV)
            </small>
        </p>
        <br/>
        <h4>
            ¿PORQUE ES SORPRENDENTE?
        </h4>
        <br/>
        <strong>
            1. ES {{ completa_lugar('cinco') | raw }}.
        </strong>

        <p class="text-info text-14-300 text-left font-italic mb-5">
            "me seguirán"
            <br/>
            <small class="float-right">
                Salmos 23:6 (NTV)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El discípulo al que Jesús amaba- estaba reclinado muy cerca de Jesús."
            <br/>
            <small class="float-right">
                Juan 13:23 (BPD)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Señor, el que Tú amas está enfermo."
            <br/>
            <small class="float-right">
                Juan 11:3 (NBLH)
            </small>
        </p>
        <br/>
        <strong>
            2. ES {{ completa_lugar('seis') | raw }}.
        </strong>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "todos los días"
            <br/>
            <small class="float-right">
                Salmos 23:6 (NTV)
            </small>
        </p>
        <br/>
        <strong>
            3. ES {{ completa_lugar('siete') | raw }}.
        </strong>
        <br/>
        <h4>
            NECESITAS EL FAVOR DE DIOS
        </h4>
        <br/>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "Tú, Señor, bendices al justo; como escudo lo protege tu favor."
            <br/>
            <small class="float-right">
                Salmos 6:1 (SM)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "El favor de Dios se hizo visible, trayendo salvación para todos los hombres;"
            <br/>
            <small class="float-right">
                Tito 2:11 (SM)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            "«El Espíritu del SEÑOR… Me ha enviado a… proclamar el año del favor del Señor."
            <br/>
            <small class="float-right">
                Lucas 4:19 (NVI)
            </small>
        </p>
        <p class="text-info text-14-300 text-left font-italic mb-5">
            «Dios se opone a los orgullosos pero muestra su favor a los humildes»
            <br/>
            <small class="float-right">
                Santiago 4:6 (NTV)
            </small>
        </p>
    </div>
</div>
<hr/>

{{ encore_entry_script_tags('nota_mensaje') }}
