{% extends 'base.html.twig' %}

{% block title %}Comentario{% endblock %}

{% block body %}
    <h1>Comentario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comentario.id }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ comentario.contenido }}</td>
            </tr>
            <tr>
                <th>IsDeleted</th>
                <td>{{ comentario.isDeleted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ comentario.createdAt ? comentario.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ comentario.updatedAt ? comentario.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_comentarios') }}">back to list</a>

    <a href="{{ path('comentario_edit', {'id': comentario.id}) }}">edit</a>

    {{ include('comentario/_delete_form.html.twig') }}
{% endblock %}
