{% extends 'base.html.twig' %}

{% block title %}BlocsFixes index{% endblock %}

{% block body %}
    <h1>BlocsFixes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>CssClass</th>
                <th>ImageFilename</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Identificador</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blocs_fix in blocs_fixes %}
            <tr>
                <td>{{ blocs_fix.id }}</td>
                <td>{{ blocs_fix.description }}</td>
                <td>{{ blocs_fix.cssClass }}</td>
                <td>{{ blocs_fix.imageFilename }}</td>
                <td>{{ blocs_fix.createdAt ? blocs_fix.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ blocs_fix.updatedAt ? blocs_fix.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ blocs_fix.identificador }}</td>
                <td>
                    <a href="{{ path('app_blocs_fixes_show', {'id': blocs_fix.id}) }}">show</a>
                    <a href="{{ path('app_blocs_fixes_edit', {'id': blocs_fix.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blocs_fixes_new') }}">Create new</a>
{% endblock %}
