{% apply inline_css(source('@styles/styles.css')) %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ email.subject }}</title>
    </head>
    <body>
    <a href="{{ url('index') }}">
        <img src="{{ email.image('@images/logo-mail.png') }}" class="logo" alt="{{ reservante.celebracion.nombre }}">
    </a>
    <h1>Bienvenido a "Nace un Rey" {{ reservante.nombre }}</h1>
    <br/><br/>
    Bienvenido a Nuestro Auditorio.
    <br/>
    Estamos entusiasmados de poder verte
    el {{ reservante.celebracion.fechaCelebracionAt| format_date(pattern="d 'de' MMMM ") }}
    ({{ reservante.celebracion.nombre }}"), para el Especial de Navidad 2021 ". <br/>

    <br/>
    Has realizado tu reserva para <b> {{ invitados }}</b> personas
    <br/>
    Para completar la reserva ingresa los datos faltantes de los acompañantes.
    Para hacerlo y descargar tu código, usa el botón que está debajo:

    {% set dirweb = url('vista_reserva', {'celebracion': reservante.celebracion.id, 'email': reservante.email }) %}
    {% set dirwebpresente = url('vista_reserva_presente', {'celebracion': reservante.celebracion.id, 'email': reservante.email }) %}
    <a href="{{ dirweb }}"
       class="btn-alameda" target="_blank">
        Ver confirmación de reserva
    </a>
    <br/>
    Si tu cliente de correo no te redirige correctamente, copia y pega el siguiente enlace en tu navegador: <br/>
    <pre class="text-info">{{ dirweb|trim }}</pre>
    <br/>
    <br/>
    <img alt="QR Alameda"
         src="{{ qr_code_data_uri(dirwebpresente, { size: 350, logo_path: reservante.celebracion.imageQr }) }}"/>
    <br/>
    Asegúrate tener el código en tu celular pues deberás mostrarlo al ingresar al auditorio:<br/>
    Recordá que para lograr la mejor experiencia, en el ambiente más seguro, vamos a practicar algunos hábitos nuevos:
    Utilizar tapabocas todo el tiempo posible y mantener distancia social en toda la experiencia. Pero lo más
    importante: ¡Recordá que pasaremos juntos una experiencia única! Nos vemos,<br/>
    Navidad en la Alameda
    </body>
    </html>
{% endapply %}
